@import '../../base/_variables.less';

@option-hover-transition-duration: 0.2s;

.hrm-dropdown-menu {
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 15, 38, 0.25);
    border-radius: 6px;

    .tippy-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    &__content {
        max-height: 145px !important;

        overflow-y: auto;

        .os-scrollbar-vertical {
            padding: 0;
            width: 4px;

            .os-scrollbar-track {
                background-color: #DFE4EF;
                border-radius: 10px;
            }

            .os-scrollbar-handle {
                background-color: #FF238D !important;
                border-radius: 10px;

                &:hover,
                &.active {
                    background-color: #FF238D !important;
                }
            }
        }

        &.os-host-overflow-y {
            padding-right: 16px;
        }
    }

    &__item {
        padding: 1px 14px;

        font-size: 15px;
        color: #000;
        line-height: 190%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 50px;
        cursor: pointer;

        transition: color @option-hover-transition-duration @hover-transition-timing-function,
                    background-color @option-hover-transition-duration @hover-transition-timing-function;

        &:hover:not(.hrm-dropdown-menu__item--disabled) {
            background-color: #E1EDFF !important;
            color: #000 !important;
        }

        &--disabled {
            cursor: default;
        }

        &[aria-selected="true"] {
            background: none;
        }
    }
}
