.btn-group-radio {
  margin-bottom: 40px;
}
.form-cand h2,
.form-empl h2,
.form-empl-st1 h2,
.form-empl-st2 h2 {
  margin-top: 0;
}
.form-cand .form-block,
.form-empl .form-block,
.form-empl-st1 .form-block,
.form-empl-st2 .form-block {
  margin-bottom: 40px;
}
.form-cand .form-group > label,
.form-empl .form-group > label,
.form-empl-st1 .form-group > label,
.form-empl-st2 .form-group > label {
  white-space: nowrap;
}
.form-cand .form-control-sm,
.form-empl .form-control-sm,
.form-empl-st1 .form-control-sm,
.form-empl-st2 .form-control-sm {
  width: 140px;
}
.form-cand .radio-inline,
.form-empl .radio-inline,
.form-empl-st1 .radio-inline,
.form-empl-st2 .radio-inline {
  padding-left: 27px;
}
.form-cand .radio-inline input[type="radio"],
.form-empl .radio-inline input[type="radio"],
.form-empl-st1 .radio-inline input[type="radio"],
.form-empl-st2 .radio-inline input[type="radio"] {
  margin-left: -27px;
}
.form-cand .checkbox label,
.form-empl .checkbox label,
.form-empl-st1 .checkbox label,
.form-empl-st2 .checkbox label {
  padding-left: 27px;
}
.form-cand .checkbox label input[type="checkbox"],
.form-empl .checkbox label input[type="checkbox"],
.form-empl-st1 .checkbox label input[type="checkbox"],
.form-empl-st2 .checkbox label input[type="checkbox"] {
  margin-left: -27px;
}
.form-cand .block-radio-inline,
.form-empl .block-radio-inline,
.form-empl-st1 .block-radio-inline,
.form-empl-st2 .block-radio-inline {
  padding-top: 7px;
}
.form-cand .block-radio-inline .radio-inline,
.form-empl .block-radio-inline .radio-inline,
.form-empl-st1 .block-radio-inline .radio-inline,
.form-empl-st2 .block-radio-inline .radio-inline {
  margin-right: 30px;
}
.form-cand .block-radio-inline .radio-inline:last-child,
.form-empl .block-radio-inline .radio-inline:last-child,
.form-empl-st1 .block-radio-inline .radio-inline:last-child,
.form-empl-st2 .block-radio-inline .radio-inline:last-child {
  margin-right: 0;
}
.form-cand .btn-remove,
.form-empl .btn-remove,
.form-empl-st1 .btn-remove,
.form-empl-st2 .btn-remove,
.form-cand .btn-download,
.form-empl .btn-download,
.form-empl-st1 .btn-download,
.form-empl-st2 .btn-download {
  background-color: #fff;
  font-size: 16px;
  line-height: 16px;
}
.form-cand .btn-remove:active,
.form-empl .btn-remove:active,
.form-empl-st1 .btn-remove:active,
.form-empl-st2 .btn-remove:active,
.form-cand .btn-download:active,
.form-empl .btn-download:active,
.form-empl-st1 .btn-download:active,
.form-empl-st2 .btn-download:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-cand .btn-remove,
.form-empl .btn-remove,
.form-empl-st1 .btn-remove,
.form-empl-st2 .btn-remove {
  color: #ff0000;
}
.form-cand .btn-remove:hover,
.form-empl .btn-remove:hover,
.form-empl-st1 .btn-remove:hover,
.form-empl-st2 .btn-remove:hover,
.form-cand .btn-remove:focus,
.form-empl .btn-remove:focus,
.form-empl-st1 .btn-remove:focus,
.form-empl-st2 .btn-remove:focus,
.form-cand .btn-remove:active,
.form-empl .btn-remove:active,
.form-empl-st1 .btn-remove:active,
.form-empl-st2 .btn-remove:active {
  color: #b30000;
}
.form-cand .table-docs,
.form-empl .table-docs,
.form-empl-st1 .table-docs,
.form-empl-st2 .table-docs {
  width: auto;
  border-top: 0;
  border-bottom: 0;
  font-size: inherit;
}
.form-cand .table-docs > tbody > tr > td,
.form-empl .table-docs > tbody > tr > td,
.form-empl-st1 .table-docs > tbody > tr > td,
.form-empl-st2 .table-docs > tbody > tr > td {
  border: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}
.form-cand .table-docs > tbody > tr:first-child > td,
.form-empl .table-docs > tbody > tr:first-child > td,
.form-empl-st1 .table-docs > tbody > tr:first-child > td,
.form-empl-st2 .table-docs > tbody > tr:first-child > td {
  padding-top: 0;
}
.form-cand .table-docs .cell-name,
.form-empl .table-docs .cell-name,
.form-empl-st1 .table-docs .cell-name,
.form-empl-st2 .table-docs .cell-name {
  padding-left: 0;
  padding-right: 16px;
  max-width: 400px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
.form-cand .table-docs .cell-name > a,
.form-empl .table-docs .cell-name > a,
.form-empl-st1 .table-docs .cell-name > a,
.form-empl-st2 .table-docs .cell-name > a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.form-cand .table-docs .cell-name > a:hover,
.form-empl .table-docs .cell-name > a:hover,
.form-empl-st1 .table-docs .cell-name > a:hover,
.form-empl-st2 .table-docs .cell-name > a:hover,
.form-cand .table-docs .cell-name > a:focus,
.form-empl .table-docs .cell-name > a:focus,
.form-empl-st1 .table-docs .cell-name > a:focus,
.form-empl-st2 .table-docs .cell-name > a:focus,
.form-cand .table-docs .cell-name > a:active,
.form-empl .table-docs .cell-name > a:active,
.form-empl-st1 .table-docs .cell-name > a:active,
.form-empl-st2 .table-docs .cell-name > a:active {
  color: #000;
  text-decoration: none;
}
.form-cand .table-docs .btn-remove,
.form-empl .table-docs .btn-remove,
.form-empl-st1 .table-docs .btn-remove,
.form-empl-st2 .table-docs .btn-remove {
  margin-top: -1px;
}
.form-cand .form-group-btns,
.form-empl .form-group-btns,
.form-empl-st1 .form-group-btns,
.form-empl-st2 .form-group-btns {
  margin-top: 25px;
  white-space: nowrap;
}
.form-cand .form-group-btns .btn,
.form-empl .form-group-btns .btn,
.form-empl-st1 .form-group-btns .btn,
.form-empl-st2 .form-group-btns .btn {
  margin-right: 6px;
}
.form-cand .form-group-btns .btn:last-child,
.form-empl .form-group-btns .btn:last-child,
.form-empl-st1 .form-group-btns .btn:last-child,
.form-empl-st2 .form-group-btns .btn:last-child {
  margin-right: 0;
}
.form-cand .form-block {
  margin-bottom: 20px;
}
.form-empl .form-block-type-list .form-group-btns {
  margin-top: -50px;
}
.form-empl .form-group-list {
  clear: both;
}
.form-empl .form-btns .btn {
  margin-left: 10px;
}
#kladr_autocomplete a {
  color: #333;
}
.photo-upload {
  position: relative;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  color: #337ab7;
  width: 100%;
  margin-top: 50px;
}
.photo-upload input[type="file"] {
  display: none;
}
.photo-upload:hover,
.photo-upload:focus {
  color: #23527c;
}
.form-group-photo {
  margin-bottom: 20px;
}
.form-group-photo .photo {
  width: 140px;
  height: 140px;
  border-radius: 2px;
  background-color: #ebebeb;
  text-align: center;
}
.form-group-photo .photo img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
}
.form-group-photo .photo .photo-upload {
  margin-top: 52px;
  line-height: 1.42857143;
}
.form-group-photo .menu-photo {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 5px;
}
.form-group-photo .menu-photo li {
  float: left;
}
.form-group-photo .menu-photo li:first-child {
  margin-left: 31px;
}
.form-group-photo .btn-refresh {
  position: relative;
  overflow: hidden;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 16px;
  color: #337ab7;
  border: 1px solid #fff;
  cursor: pointer;
  margin-bottom: 0;
}
.form-group-photo .btn-refresh input[type="file"] {
  display: none;
}
.form-group-photo .btn-refresh:hover,
.form-group-photo .btn-refresh:focus {
  color: #23527c;
}
.form-empl-st1 .form-block {
  max-width: 770px;
}
.form-empl-st1 .form-group-duration .form-control {
  width: 80px;
  float: left;
  margin-right: 30px;
}
.form-empl-st1 .form-group-duration .form-control:last-child {
  margin-right: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-empl-st1 {
    max-width: none;
  }
  .form-empl-st1 .col-fix-width {
    max-width: 170px;
  }
  .form-empl-st1 .form-group-calc-w {
    width: -webkit-calc(170px + 33.3333%);
    width: -moz-calc(170px + 33.3333%);
    width: calc(170px + 33.3333%);
  }
  .form-empl-st1 .form-btns {
    margin-top: -88px;
  }
}
@media (max-width: 767px) {
  .form-group-photo .photo {
    width: 50px;
    height: 50px;
    float: left;
  }
  .form-group-photo .photo .photo-upload {
    width: 50px;
    height: 50px;
    font-size: 10px;
    margin: 0;
    padding-top: 10px;
  }
  .form-group-photo .menu-photo {
    margin-left: 70px;
    margin-top: 5px;
    white-space: nowrap;
  }
  .form-group-photo .menu-photo > li {
    display: inline-block;
  }
  .form-group-photo .menu-photo > li:first-child {
    margin-left: 0;
  }
  .form-empl-st1 .form-group-radio {
    white-space: nowrap;
  }
  .form-empl-st1 .form-group-radio .block-radio-inline {
    display: inline-block;
    padding-top: 0;
  }
  .form-empl-st1 .form-group-radio .block-radio-inline .radio-inline {
    top: -2px;
    margin-right: 0;
    margin-left: 20px;
  }
  .form-empl-st1 .form-group-auto-w {
    width: auto;
  }
  .form-empl-st1 .form-btns .btn {
    float: none;
    width: 100%;
  }
}
.form-empl-st2 .btn-add {
  margin-bottom: 20px;
}
.form-empl-st2 .form-group-period {
  width: auto;
}
.form-empl-st2 .form-group-period .input-group-dash {
  float: left;
  margin: 5px 7px 0 7px;
  color: #000;
}
.form-empl-st2 .form-group-period .form-control {
  width: 70px;
  float: left;
}
.form-empl-st2 .form-group-chbxs .file-upload,
.form-empl-st2 .form-group-chbxs .table-docs {
  margin-left: 27px;
}
.form-empl-st2 .form-group-work .form-group {
  float: left;
  margin-right: 30px;
}
.form-empl-st2 .form-group-work .form-group:last-child {
  margin-right: 0;
}
.form-empl-st2 .form-group-work .form-control {
  float: left;
  width: 70px;
  margin-right: 10px;
}
.form-empl-st2 .form-group-work .form-control:last-child {
  margin-right: 0;
}
.form-empl-st2 .form-group-work .form-control-month {
  width: 130px;
}
.form-empl-st2 .form-block-children .form-group {
  float: left;
  margin-right: 50px;
}
.form-empl-st2 .form-block-children .form-group .form-control {
  width: 70px;
}
.form-empl-st2 .form-block-children .form-group:last-child {
  margin-right: 0;
}
.form-empl-st2 .form-group-children {
  margin-left: 200px;
}
.form-empl-st2 .form-group-children .form-control {
  width: 70px;
}
.form-empl-st2 .form-btns .btn {
  margin-left: 10px;
}
@media (min-width: 992px) and (max-width: 1280px) {
  .form-empl-st2 .form-group-work .form-control-month {
    width: 115px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form-empl-st2 .form-block-education .form-group-btns {
    width: 100%;
    margin-top: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form-empl-st2 .form-block-career .form-group-fix-w {
    width: 200px;
  }
  .form-empl-st2 .form-group-work .form-group {
    margin-right: 15px;
  }
  .form-empl-st2 .form-group-work .form-control {
    width: 60px;
    margin-right: 7px;
  }
  .form-empl-st2 .form-group-work .form-control-month {
    width: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-empl-st2 .form-group-calc-w {
    width: -webkit-calc(191px + 41.66666667%);
    width: -moz-calc(191px + 41.66666667%);
    width: calc(191px + 41.66666667%);
  }
  .form-empl-st2 .form-block-education .form-group-btns {
    margin-top: -50px;
  }
  .form-empl-st2 .form-block-career .form-group-fix-w {
    min-width: 200px;
  }
  .form-empl-st2 .form-block-work .form-group-btns {
    margin-top: -50px;
  }
}
@media (max-width: 767px) {
  .form-empl-st2 .form-group-btns {
    margin-top: 0;
  }
  .form-empl-st2 .form-block-work {
    padding-bottom: 35px;
    position: relative;
    margin-bottom: 20px;
  }
  .form-empl-st2 .form-block-work .form-group-btns {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  }
  .form-empl-st2 .form-group-work .form-group {
    float: none;
    margin-right: 0;
  }
  .form-empl-st2 .form-block-children > .form-group {
    float: none;
    margin-right: 0;
  }
  .form-empl-st2 .form-block-children .form-group-children {
    margin-left: 0;
  }
  .form-empl-st2 .form-block-children .form-group-btns {
    float: none;
    clear: both;
    margin-right: 0;
  }
  .form-empl-st2 .form-btns .btn {
    margin: 0;
    width: 50%;
  }
}
@media (max-width: 400px) {
  .form-empl-st2 .form-btns .btn-link {
    max-width: 130px;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -5px;
    float: left;
    padding-left: 0;
    white-space: normal;
  }
}
.form-cand-st1 {
  max-width: 1070px;
}
.form-cand-st1 .form-group-info {
  margin-left: 20%;
}
.form-cand-st1 .form-group-photo {
  float: left;
  width: 140px;
}
.form-cand-st1 .form-group-auto-w {
  width: auto;
}
.form-cand-st1 .form-group-phone {
  width: 160px;
}
.form-cand-st1 .form-block {
  width: 100%;
  float: left;
}
.form-cand-st1 .form-btns {
  margin-top: 10px;
}
@media (min-width: 992px) {
  .form-group-email {
    width: -webkit-calc(66.6666% - (160px * 2));
    width: -moz-calc(66.6666% - (160px * 2));
    width: calc(66.6666% - (160px * 2));
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-cand-st1 .form-group-info {
    margin-left: 170px;
  }
  .form-cand-st1 .form-group-email {
    width: -webkit-calc(100% - (160px * 2));
    width: -moz-calc(100% - (160px * 2));
    width: calc(100% - (160px * 2));
  }
}
@media (max-width: 767px) {
  .form-cand-st1 .form-group-photo {
    width: 100%;
    float: none;
  }
  .form-cand-st1 .form-group-photo:before,
  .form-cand-st1 .form-group-photo:after {
    content: " ";
    display: table;
  }
  .form-cand-st1 .form-group-photo:after {
    clear: both;
  }
  .form-cand-st1 .form-group-info {
    margin-left: 0;
  }
  .form-cand-st1 .form-block {
    float: none;
  }
  .form-cand-st1 .form-group-phone {
    width: 50%;
  }
  .form-cand-st1 .form-group-radio {
    white-space: nowrap;
  }
  .form-cand-st1 .form-group-radio .block-radio-inline {
    display: inline-block;
    padding-top: 0;
  }
  .form-cand-st1 .form-group-radio .block-radio-inline .radio-inline {
    top: -2px;
    margin-right: 0;
    margin-left: 20px;
  }
  .form-cand-st1 .form-btns .btn {
    width: 100%;
  }
}
.block-tooltip {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1070;
}
.block-tooltip img {
  max-width: 400px;
  max-height: 400px;
}
.block-tooltip .btn-close-tooltip {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  opacity: 0.8;
}
.block-tooltip .btn-close-tooltip:hover {
  opacity: 1;
}
.block-tooltip.block-tooltip-fix {
  position: fixed;
}
@media (min-width: 768px) and (max-width: 991px) {
  .modal-backdrop-tooltip.in {
    opacity: 0.01;
  }
  .block-tooltip.block-tooltip-fix {
    top: 50%;
    left: 50%;
  }
}
@media (max-width: 767px) {
  .block-tooltip.block-tooltip-fix {
    top: 0;
    left: 50%;
  }
}
@media (max-width: 400px) {
  .block-tooltip {
    width: 100%;
  }
  .block-tooltip img {
    width: 100%;
    max-width: 100%;
  }
}
.form-cand-st2 .form-block {
  max-width: 540px;
}
.form-cand-st2 .form-group-serial {
  width: 100px;
}
.form-cand-st2 .form-group-number {
  width: 130px;
}
.form-cand-st2 .form-group-date {
  width: -webkit-calc((540px + 30px - 100px - 130px) / 2);
  width: -moz-calc((540px + 30px - 100px - 130px) / 2);
  width: calc((540px + 30px - 100px - 130px) / 2);
}
.form-cand-st2 .block-radio-inline {
  padding-top: 0;
}
@media (max-width: 767px) {
  .form-cand-st2 .form-btns .btn {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .form-cand-st2 .form-group-date {
    width: 50%;
  }
  .form-cand-st2 .form-group-date .form-control {
    padding-right: 0;
  }
  .form-cand-st2 .block-radio-inline .radio-inline {
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .form-empl-st1 .form-control-inp-text,
  .form-empl-st2 .form-control-inp-text {
    white-space: nowrap;
    height: 34px;
    resize: none;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .btn-group-radio {
    margin-bottom: 30px;
  }
  .form-empl-st1,
  .form-empl-st2,
  .form-empl {
    margin-bottom: 45px;
  }
  .form-empl-st1 .form-block,
  .form-empl-st2 .form-block,
  .form-empl .form-block {
    margin-bottom: 20px;
  }
  .form-empl-st1 .form-group > label,
  .form-empl-st2 .form-group > label,
  .form-empl .form-group > label {
    white-space: normal;
  }
  .form-empl-st1 .form-control-inp-text,
  .form-empl-st2 .form-control-inp-text,
  .form-empl .form-control-inp-text {
    height: 80px;
  }
  .form-empl-st1 .table-docs .cell-name,
  .form-empl-st2 .table-docs .cell-name,
  .form-empl .table-docs .cell-name {
    max-width: 200px;
  }
  .form-empl-st1 .form-btns,
  .form-empl-st2 .form-btns,
  .form-empl .form-btns {
    margin-top: 10px;
  }
  .form-empl-st1 .form-group-btns,
  .form-empl-st2 .form-group-btns,
  .form-empl .form-group-btns {
    margin-top: 0;
  }
  .form-empl .form-block-type-list .form-group-btns {
    margin-top: 0px;
  }
  .form-empl .form-block-type-list .help-block {
    margin-bottom: 0;
  }
  .form-empl .form-btns .btn {
    margin: 0 20px 0 0;
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    padding-left: 0;
    padding-right: 0;
  }
  .form-empl .form-btns .btn:first-child {
    margin: 0;
  }
}

/*# sourceMappingURL=emplform.css.map */