.btn-post {
  padding: 0;
  width: 30px;
  height: 30px;
}
.btn-group-post {
  padding-top: 2px;
  height: 34px;
}
.btn-group-post .btn {
  margin-right: 3px;
}
.btn-group-post .btn:last-child {
  margin-right: 0;
}
.label-xs {
  display: none;
  width: 32px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  vertical-align: middle;
  color: #555555;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.form-emplfine .btn-fine:focus,
.form-emplfine .btn-fine.active {
  background-color: #ffa9b1;
}
.form-emplfine .btn-premium:focus,
.form-emplfine .btn-premium.active {
  background-color: #e1f6cc;
}
.form-emplfine .form-control-bg {
  width: 330px;
}
.form-emplfine .form-control-sm {
  width: 140px;
}
.table-emplfine .name-post {
  font-size: 14px;
}
.form-fine-premium {
  max-width: 980px;
}
.form-fine-premium .form-group-datepicker .row {
  position: relative;
}
.form-fine-premium .form-group-datepicker .input-group-dash {
  font-size: 0;
  line-height: 0;
  display: block;
  height: 1px;
  width: 10px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .form-fine-premium .form-btns .btn {
    float: left;
  }
}
@media (max-width: 767px) {
  .form-fine-premium .form-group-xs {
    display: none;
  }
  .form-fine-premium .form-btns {
    margin-top: 0;
  }
  .form-fine-premium .form-btns .btn-filters {
    margin-left: -12px;
    float: left;
  }
  .form-fine-premium .form-btns .btn-filters .fa {
    margin-left: 10px;
  }
  .form-fine-premium .form-btns .btn-filters .txt-hide {
    display: none;
  }
}
@media (max-width: 767px) {
  .form-filters .form-group-bg {
    margin-right: 0;
    float: none;
    clear: both;
    width: 100%;
  }
  .form-filters .form-group-bg .form-control {
    width: 100%;
  }
  .form-filters .form-group-active {
    position: relative;
  }
  .form-filters .form-group-active .label-xs {
    display: block;
  }
  .form-filters .form-group-active .form-control {
    padding-left: 32px;
  }
  .form-filters .form-group-active .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 32px;
  }
  .form-filters .form-group-active.form-group-datepicker .form-control {
    padding-left: 12px;
  }
  .form-emplfine .form-group-xs {
    display: none;
    width: 100%;
    clear: both;
    overflow: hidden;
  }
  .form-emplfine .form-radiogroup-xs {
    margin: 15px 0px 15px 0px;
  }
  .form-emplfine .form-radiogroup-xs .fa {
    margin-left: 10px;
  }
  .form-emplfine .form-radiogroup-xs .btn {
    width: 145px;
  }
  .form-emplfine .form-group-datepicker {
    margin-right: 0;
  }
  .form-emplfine .form-group-sum .form-control {
    width: 145px;
  }
  .form-emplfine .form-btns {
    text-align: right;
  }
  .form-emplfine .form-btns .btn {
    margin-top: 0;
    float: none;
  }
  .table-responsive {
    border: 0;
  }
  .table-responsive > .table-emplfine > tbody > tr > td {
    white-space: normal;
  }
  .table-emplfine > thead {
    display: none;
  }
  .table-emplfine > tbody > tr {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
  }
  .table-emplfine > tbody > tr:last-child {
    border-bottom: 0;
  }
  .table-emplfine > tbody > tr > td {
    padding-left: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    border-top: 0;
  }
  .table-emplfine td {
    position: relative;
  }
  .table-emplfine td:before {
    content: attr(data-label);
    position: absolute;
    top: 4px;
    left: 8px;
  }
  .table-emplfine .cell-post {
    display: none;
  }
  .table-emplfine .cell-name .name-post {
    display: inline !important;
    margin-left: 5px;
  }
  .table-emplfine .cell-date {
    text-align: left;
  }
  .table-emplfine .cell-btns {
    display: none;
  }
  .table-emplfine .sum {
    padding: 0 25px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
  }
  .table-emplfine .btns {
    display: inline-block !important;
  }
  .table-emplfine .btns .btn {
    margin-right: 5px;
  }
  .table-emplfine .btns .btn:last-child {
    margin-right: 0;
  }
  .table-emplfine .cell-premium,
  .table-emplfine .cell-fine {
    background-color: transparent;
    text-align: left;
  }
  .table-emplfine .cell-premium .sum {
    background-color: #e1f6cc;
  }
  .table-emplfine .cell-fine .sum {
    background-color: #ffa9b1;
  }
}
@media (max-width: 350px) {
  .form-emplfine .form-radiogroup-xs .btn {
    width: 50%;
  }
  .form-emplfine .form-btns .btn {
    width: 100%;
  }
}

/*# sourceMappingURL=emplfine.css.map */