.good1,
td.good1,
td.good1 .form-control {
  background-color: #e1f6cc;
}
.good2,
td.good2,
td.good2 .form-control {
  background-color: #c3e6a1;
}
.bad1,
td.bad1,
td.bad1 .form-control {
  background-color: #ffffb2;
}
.bad2,
td.bad2,
td.bad2 .form-control {
  background-color: #ffd4d4;
}
.bad3,
td.bad3,
td.bad3 .form-control {
  background-color: #ffa9b1;
}
.table-filiation {
  width: 905px;
}
.table-filiation > tbody > tr > td {
  vertical-align: middle;
}
.table-filiation .cell-price {
  white-space: nowrap;
}
.table-filiation .cell-salmon {
  white-space: nowrap;
}
.table-filiation .cell-salmon .form-control {
  width: 45px;
  display: inline-block;
}
.table-filiation .cell-lateness {
  text-align: center;
}
.table-filiation .cell-standard {
  text-align: center;
}
@media (max-width: 991px) {
  .table-filiation {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .table-filiation > thead > tr > th {
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .table-responsive-wrapper .table-responsive2 .table-filiation > thead > tr > th.cell-head-posts:before {
    content: "\f47f";
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > thead > tr > th.cell-head-type:before {
    content: "\f02c";
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > thead > tr > th.cell-head-load:before {
    content: "\f4ce";
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > thead > tr > th.cell-head-load-add:before {
    content: "\f4cf";
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > thead > tr > th.cell-head-users:before {
    content: "\f0c0";
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > thead > tr > th.cell-head-fot:before {
    content: "\f0b1";
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > thead > tr > th.cell-head-standard:before {
    content: "\f328";
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > thead > tr > th.cell-head-lateness:before {
    content: "\f4fd";
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > tbody > tr {
    position: relative;
    min-width: 150px;
    height: 296px;
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > tbody > tr > td {
    text-align: center;
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > tbody > tr > td.cell-lateness {
    width: 33.3333%;
    position: absolute;
    bottom: 0;
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > tbody > tr > td.cell-lateness.bad1 {
    left: 0;
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > tbody > tr > td.cell-lateness.bad2 {
    left: 33.3333%;
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > tbody > tr > td.cell-lateness.bad3 {
    left: 66.6666%;
  }
  .table-responsive-wrapper .table-responsive2 .table-filiation > tbody > tr > td.cell-salmon {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
.btn-group-late {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .btn-group-late .btn {
    padding-left: 25px;
    padding-right: 25px;
  }
  .btn-group-late .btn .btn-txt {
    display: none;
  }
  .btn-group-late .btn:before {
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 14px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
  }
  .btn-group-late .btn.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .btn-group-late .btn.btn-sushi:before {
    content: "\f192";
  }
  .btn-group-late .btn.btn-driver:before {
    content: "\f1b9";
  }
  .btn-group-late .btn.btn-pizza:before {
    content: "\f200";
  }
  .btn-group-late .btn.btn-card:before {
    content: "\f09d";
  }
}
.modal-detail-late .modal-dialog {
  width: 730px;
}
@media (max-width: 767px) {
  .modal-detail-late .modal-dialog {
    width: 100%;
    margin: 0;
  }
  .modal-detail-late .modal-dialog .modal-content {
    border: 0;
  }
}
.table-detail-late > thead > tr > th {
  vertical-align: middle;
}
.table-detail-late > thead > tr > th.cell-head-number {
  white-space: nowrap;
}
.table-detail-late > tbody > tr > td {
  white-space: nowrap;
}
.table-detail-late > tbody > tr > td.cell-btn {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  text-align: right;
}
.table-detail-late > tbody > tr.active {
  background-color: #ededed;
}
.table-detail-late > tbody > tr.active > td {
  background-color: #ededed;
}
.table-detail-late .btn-detail-order:before {
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 14px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f13a";
}
.table-detail-late .btn-detail-order.active:before {
  content: "\f139";
}
.table-detail-late .row-detail-order {
  display: none;
}
.table-detail-late .row-detail-order.show {
  display: table-row !important;
}
.table-detail-late .row-detail-order h3 {
  font-size: 14px;
  font-weight: 700;
}
.table-detail-late .row-detail-order .head-detail-order {
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-detail-late .row-detail-order .head-detail-order h3 {
  float: left;
  margin: 0;
}
.table-detail-late .row-detail-order .head-detail-order .head-detail-order_sum {
  float: right;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  margin-right: 8px;
}
.table-detail-late .row-detail-order .table-detail-order .cell-price {
  white-space: nowrap;
  text-align: right;
}
.table-detail-late .row-detail-order .table-detail-order .cell-count {
  white-space: nowrap;
}
.table-detail-late .row-detail-order .table-detail-order-history .cell-time {
  text-align: right;
  white-space: nowrap;
  font-weight: 700;
}
.table-detail-late .row-detail-order .order-detail-info .order-detail-info_cont {
  margin-top: 3px;
}
.table-detail-late .row-detail-order .order-detail-info .order-detail-info_date {
  margin-left: 5px;
}
.table-detail-late .row-detail-order .row-detail-order-history {
  margin-left: -8px;
  margin-right: -8px;
}
.table-detail-late .row-detail-order .row-detail-order-history > div {
  padding-left: 8px;
  padding-right: 8px;
}
@media (min-width: 768px) {
  .table-detail-late > thead > tr > th {
    line-height: 1.3;
  }
  .table-detail-late .time-end {
    display: none;
  }
}
@media (max-width: 767px) {
  .table-responsive .table-detail-late {
    font-size: 14px;
  }
  .table-responsive .table-detail-late > tbody > tr {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .table-responsive .table-detail-late > tbody > tr > td {
    padding-left: 45px;
  }
  .table-responsive .table-detail-late > tbody > tr > td:before {
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 16px;
    position: absolute;
    top: 4px;
    left: 0px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
  }
  .table-responsive .table-detail-late > tbody > tr > td.cell-number:before {
    content: "\f328";
  }
  .table-responsive .table-detail-late > tbody > tr > td.cell-time-start:before {
    content: "\f017";
  }
  .table-responsive .table-detail-late > tbody > tr > td.cell-sum:before {
    content: "\f555";
  }
  .table-responsive .table-detail-late > tbody > tr > td.cell-name:before {
    content: "\f508";
  }
  .table-responsive .table-detail-late > tbody > tr > td.cell-btn {
    position: absolute;
    top: 11px;
    right: 0;
    padding-left: 0;
    font-size: 16px;
  }
  .table-responsive .table-detail-late > tbody > tr.row-detail-order {
    display: none;
  }
  .table-responsive .table-detail-late > tbody > tr.row-detail-order > td {
    padding-left: 0;
  }
  .table-responsive .table-detail-late > tbody > tr.row-detail-order > td .table {
    border-top-width: 1px;
  }
  .table-responsive .table-detail-late > tbody > tr.row-detail-order > td .table > tbody > tr {
    display: table-row;
  }
  .table-responsive .table-detail-late > tbody > tr.row-detail-order > td .table > tbody > tr > td {
    display: table-cell;
  }
  .table-responsive .table-detail-late > tbody > tr.row-detail-order > td .table td {
    padding: 8px;
  }
  .table-responsive .table-detail-late > tbody > tr.row-detail-order > td .table-detail-order-history {
    margin-bottom: 5px;
  }
  .table-responsive .table-detail-late > tbody > tr.row-detail-order > td .order-detail-info {
    margin-top: 15px;
  }
  .table-responsive .table-detail-late > tbody > tr.row-detail-order > td .order-detail-info .order-detail-info_cont {
    margin-top: 0;
  }
}
.form-filiation {
  margin-bottom: 15px;
}
.form-filiation .form-group {
  width: 170px;
  float: left;
  margin-right: 30px;
}
.form-filiation .form-btns {
  margin-top: 25px;
  float: left;
}
.form-filiation .form-btns .btn:last-child {
  margin-left: 10px;
}
.form-filiation .form-btns-print {
  float: right;
}
.form-filiation .form-btns-print .btn {
  width: 130px;
  float: left;
}
.form-filiation .form-btns-print .btn .far {
  margin-right: 10px;
}
.form-filiation .input-group .btn {
  color: #337ab7;
}
.form-filiation .input-group .btn:hover {
  color: #23527c;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .form-filiation .form-btns-print {
    width: 130px;
  }
  .form-filiation .form-btns-print .btn:last-child {
    margin-left: 0;
    margin-top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-filiation {
    position: relative;
  }
  .form-filiation .form-btns {
    margin-top: 0;
    float: none;
    clear: both;
  }
  .form-filiation .form-btns-print {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
    margin-top: 25px;
  }
  .form-filiation .form-btns-print .btn {
    margin-right: 0;
  }
  .form-filiation .form-btns-print .btn:first-child {
    margin-bottom: 15px;
  }
  .form-filiation .form-btns-print .btn:last-child {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .form-filiation {
    margin-left: -10px;
    margin-right: -10px;
  }
  .form-filiation .form-group {
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0;
  }
  .form-filiation .form-btns {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
  }
  .form-filiation .form-btns .btn {
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
  }
  .form-filiation .form-btns .btn:first-child {
    float: left;
  }
  .form-filiation .form-btns .btn:last-child {
    float: right;
  }
}
.block-tabs {
  margin-top: 10px;
  margin-bottom: 20px;
}
.block-tabs .nav-tabs {
  margin-top: 0;
  margin-bottom: 0;
}
.block-tabs.block-tabs-prod {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.block-tabs.block-tabs-prod .nav-tabs {
  flex: 1;
}
.block-tabs.block-tabs-prod .btns-tabs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: 20px;
}
.block-tabs.block-tabs-prod .btns-tabs .btn {
  margin-left: 10px;
}
.btns-prod-xs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.btns-prod-xs .btn {
  flex: 1;
  margin-right: 15px;
}
.btns-prod-xs .btn:last-child {
  margin-right: 0;
}
.btns-prod-xs .btn .txt-visible-xs {
  display: none;
}
@media (max-width: 479px) {
  .btns-prod-xs .btn .txt-hidden-xs {
    display: none;
  }
  .btns-prod-xs .btn .txt-visible-xs {
    display: inline;
  }
}
.form-btns-calc {
  margin-top: 20px;
}
.form-btns-calc .btn-default {
  margin-right: 30px;
}
.form-btns-calc .btn-info {
  padding-left: 0;
  padding-right: 0;
}
.form-btns-calc .btn-info .fa-chevron-circle-left {
  margin-right: 5px;
}
.form-btns-calc .btn-info .fa-chevron-circle-right {
  margin-left: 5px;
}
.form-btns-calc .btn-info-less {
  margin-right: 30px;
}
.form-btns-calc .btn-save {
  float: right;
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-btns-calc .btn-info {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .form-production {
    margin-top: 15px;
  }
  .form-btns-calc {
    margin-top: 15px;
  }
  .form-btns-calc .btn-save {
    float: none;
    display: block;
    width: 100%;
    clear: both;
  }
  .form-btns-calc .btn-info {
    margin-bottom: 15px;
  }
  .form-btns-calc .btn-info-less {
    float: left;
    margin-right: 0;
  }
  .form-btns-calc .btn-info-more {
    float: right;
  }
}
.table-production {
  border-collapse: separate;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-left: 0px;
  border-right: 0px;
}
.table-production > thead > tr > th {
  text-align: center;
  border-top: 1px solid #ddd !important;
  border-left-color: transparent;
  border-right-color: transparent;
}
.table-production > thead > tr > th.cell-selected {
  border-left-color: #468cc8;
  border-right-color: #468cc8;
  border-top-color: #468cc8 !important;
  background-color: #f6f9fc;
}
.table-production > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
  border-right-color: transparent;
}
.table-production > tbody > tr > td:first-child {
  border-left: 1px solid transparent;
}
.table-production > tbody > tr > td:last-child {
  border-right: 1px solid transparent;
}
.table-production > tbody > tr > td.cell-selected {
  border-left-color: #468cc8;
  border-right-color: #468cc8;
  background-color: #f6f9fc;
}
.table-production > tbody > tr.row-selected > td {
  border-top-color: #468cc8;
  border-bottom-color: #468cc8;
  background-color: #f6f9fc;
  border-left-color: #f6f9fc;
  border-right-color: #f6f9fc;
}
.table-production > tbody > tr.row-selected > td:first-child {
  border-left-color: #468cc8;
}
.table-production > tbody > tr.row-selected > td:last-child {
  border-right-color: #468cc8;
}
.table-production > tbody > tr.row-selected > td.cell-selected {
  border-left-color: #468cc8;
  border-right-color: #468cc8;
}
.table-production > tbody > tr:last-child > td.cell-selected {
  border-bottom-color: #468cc8;
}
.table-production .btn {
  background-color: transparent;
  padding-left: 3px;
  padding-right: 3px;
}
.table-production .form-control {
  width: 45px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: inherit;
  display: inline-block;
  text-align: center;
}
.table-production .row-head > td {
  text-align: left;
  color: #a1a1a1;
  font-weight: bold;
  font-size: 12px;
  padding-left: 58px;
  border-bottom: 0px;
}
.table-production .form-timework {
  white-space: nowrap;
}
.table-production .form-timework .form-control:nth-of-type(2) {
  margin-right: 3px;
}
.table-production .form-timework .btn-add-time {
  color: #4ba34c;
}
.table-production .form-timework .btn-del-time {
  color: #ff0000;
}
.table-production .form-timework .btn-del-time i {
  position: relative;
  top: -1px;
}
.table-production .cell-timework {
  text-align: left;
  white-space: nowrap;
}
.table-production .cell-premium {
  background-color: #e1f6cc;
}
.table-production .cell-sum {
  background-color: #ededed;
}
.table-production .cell-fine-big {
  background-color: #ffd4d4;
}
.table-production .cell-fine-big .form-control {
  background-color: #ffd4d4;
}
.table-production .cell-fine-small {
  background-color: #ffffb2;
}
.table-production .cell-fine-small .form-control {
  background-color: #ffffb2;
}
.table-production .row-total td:first-child {
  padding-left: 52px;
}
.table-production .cell-total {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}
.table-production .cell-remove {
  width: 20px;
}
.table-production .btn-add {
  color: #4ba34c;
}
.table-production .btn-del,
.table-production .btn-cancel {
  color: #f60721;
}
.table-production .cell-persacc {
  white-space: nowrap;
  text-align: center;
}
.table-production .cell-persacc .btn {
  margin-right: 10px;
}
.table-production .cell-persacc .btn:last-child {
  margin-right: 0;
}
.table-production .cell-persacc .form-control {
  width: 55px;
  margin-right: 5px;
}
.table-production .cell-states {
  padding-left: 0;
}
.table-production .cell-name {
  text-align: left;
}
@media (min-width: 992px) {
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-timework {
    height: auto !important;
  }
}
@media (max-width: 991px) {
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th {
    border: 1px solid #ddd;
    border-left-color: transparent;
    border-right: 0;
    border-bottom-color: transparent;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-selected {
    border-left-color: #468cc8;
    border-right-color: #468cc8;
    border-top-color: #468cc8 !important;
    border-bottom-color: #468cc8;
    background-color: #f6f9fc;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th:last-child {
    border-bottom-color: #ddd;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr {
    position: relative;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td {
    border-bottom-color: transparent;
    border-top: 1px solid #ddd;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-selected {
    border-top-color: #468cc8;
    border-bottom-color: #468cc8;
    background-color: #f6f9fc;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td:last-child {
    border-bottom-color: #ddd;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr.row-selected > td {
    background-color: #f6f9fc;
    border-left-color: #468cc8;
    border-right-color: #468cc8;
    border-top-color: #ddd;
    border-bottom-color: transparent;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr.row-selected > td:first-child {
    border-left-color: transparent;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr.row-selected > td.cell-name {
    border-top-color: #468cc8;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr.row-selected > td:last-child {
    border-right-color: #468cc8;
    border-bottom-color: #468cc8;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr.row-selected > td.cell-selected {
    border-top-color: #468cc8;
    border-bottom-color: #468cc8;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr:last-child > td.cell-selected {
    border-right-color: #468cc8;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-states,
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-btn-del {
    position: absolute;
    top: 24px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    border: 0;
    padding: 0 !important;
    background-color: transparent !important;
    z-index: 1;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-btn-del {
    left: 13px;
    top: 23px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-states {
    left: 27px;
    width: 30px;
    text-align: center;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-states .fas {
    margin-right: 1px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-states .fas:last-child {
    margin-right: 0;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-name {
    padding-left: 55px;
    height: 60px;
    padding-top: 32px;
    position: relative;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-name:before {
    content: attr(data-post);
    position: absolute;
    top: 5px;
    left: 15px;
    background-color: transparent;
    color: #a1a1a1;
    font-weight: 700;
    font-size: 12px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-total {
    height: 60px;
    padding-top: 32px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-head-name {
    height: 60px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-head-name .cell-head_name {
    padding-top: 24px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-timework {
    min-height: 52px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-persacc {
    padding-left: 7px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-persacc .btn {
    padding-left: 8px;
    padding-right: 8px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production .cell-fine-prem {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 35px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .table-responsive-wrapper-production {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
  }
  .table-responsive-wrapper-production .table-responsive2 {
    margin-left: 170px;
    width: -webkit-calc(100% - 170px);
    width: -moz-calc(100% - 170px);
    width: calc(100% - 170px);
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production {
    margin-bottom: 0;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead {
    display: block;
    width: 170px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr {
    display: block;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th {
    display: block;
    position: relative;
    white-space: nowrap;
    text-align: left;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th .line-wrap {
    display: block;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-persacc,
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-timework {
    white-space: normal;
    height: 48px;
    line-height: 1.3;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-timework {
    height: 52px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td {
    display: block;
    text-align: left;
    padding: 8px 15px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-name {
    white-space: nowrap;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-persacc,
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-fine-prem {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-persacc {
    height: 48px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv .cell-head-name {
    height: auto;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv .cell-head-name .cell-head_name {
    padding-top: 0;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv .cell-name {
    height: auto;
    padding-top: 8px;
    padding-left: 15px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv .cell-name.cell-name_states_yes {
    padding-left: 30px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv .cell-total {
    height: auto;
    padding-top: 8px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv .cell-states {
    left: 2px;
    top: 0;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv .cell-head-high {
    height: 48px;
    white-space: normal;
    line-height: 1.3;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv .cell-high {
    height: 48px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-name {
    height: 75px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-name:before {
    content: "\f007";
    margin-top: 42px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-account:before {
    content: "\f2bb";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-persacc:before {
    content: "\f0ec";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-posts:before {
    content: "\f47f";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-timework {
    height: 48px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-timework:before {
    content: "\f2f2";
    margin-top: -9px;
    top: 50%;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-time:before {
    content: "\f4d3";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-compens:before {
    content: "\f0e2";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-load:before {
    content: "\f4ce";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-salary:before {
    content: "\f555";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-salary-main:before {
    content: "\f4c5";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-receipts:before {
    content: "\f571";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-coeff:before {
    content: "\f009";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-receipts2:before {
    content: "\f0b1";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-coeff2:before {
    content: "\f00a";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-correct-time:before {
    content: "\f017";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-prem2:before {
    content: "\f164";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-deprem:before {
    content: "\f165";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-prem:before {
    content: "\f055";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-fine:before {
    content: "\f056";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-calc:before {
    content: "\f1ec";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > thead > tr > th.cell-head-payoff:before {
    content: "\f4c0";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr {
    min-width: 200px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-name {
    height: 75px;
    padding-top: 25px;
    overflow: hidden;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-name .cell-name_cont {
    max-width: 180px;
    height: 45px;
    white-space: normal;
    line-height: 1.2;
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-total {
    height: 75px;
    padding-top: 38px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-btn-del,
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-states {
    top: 32px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-persacc,
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-fine-prem {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-persacc {
    height: 38px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-timework .form-control {
    width: 60px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-production > tbody > tr > td.cell-fine-prem {
    height: 38px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-orders:before {
    content: "\f4a1";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-dist:before {
    content: "\f277";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-timecalc:before {
    content: "\f48c";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-timereal:before {
    content: "\f48b";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-kpi:before {
    content: "\f559";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-timefree:before {
    content: "\f0f4";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-time:before {
    content: "\f017";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-orders2:before {
    content: "\f467";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-dist2:before {
    content: "\f5b7";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-prem1:before {
    content: "\f2f5";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-prem2:before {
    content: "\f4fd";
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-name {
    height: 52px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > thead > tr > th.cell-head-name:before {
    margin-top: 18px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > tbody > tr > td.cell-name {
    height: 52px;
    padding-top: 2px;
    padding-bottom: 0;
    padding-left: 15px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > tbody > tr > td.cell-name.cell-name_states_yes {
    padding-left: 30px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > tbody > tr > td.cell-total {
    height: 52px;
    padding-top: 8px;
  }
  .table-responsive-wrapper-production .table-responsive2 .table-deliv > tbody > tr > td.cell-states {
    left: 2px;
    top: 7px;
  }
}
.table-late > thead > tr > th.load-delayed,
.table-late > tbody > tr > td.load-delayed {
  border-left: 2px solid #ddd;
}
.table-late > thead > tr:first-child > th {
  border-bottom-width: 1px;
}
.table-late > thead > tr > th.cell-head-time {
  display: none;
}
.table-late .js-show-modal-late {
  cursor: pointer;
}
@media (max-width: 991px) {
  .table-responsive-wrapper-late .table-responsive2 .table-late {
    margin-bottom: 0;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr:first-child {
    display: none;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th {
    display: none;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-head-time {
    display: table-cell;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > tbody > tr > td {
    display: none;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > tbody > tr > td.cell-time {
    display: table-cell;
  }
  .table-responsive-wrapper-sushi .table-responsive2 .table-late > thead > tr > th.cell-sushi {
    display: table-cell;
  }
  .table-responsive-wrapper-sushi .table-responsive2 .table-late > tbody > tr > td.cell-sushi {
    display: table-cell;
  }
  .table-responsive-wrapper-driver .table-responsive2 .table-late > thead > tr > th.cell-driver {
    display: table-cell;
  }
  .table-responsive-wrapper-driver .table-responsive2 .table-late > tbody > tr > td.cell-driver {
    display: table-cell;
  }
  .table-responsive-wrapper-pizza .table-responsive2 .table-late > thead > tr > th.cell-pizza {
    display: table-cell;
  }
  .table-responsive-wrapper-pizza .table-responsive2 .table-late > tbody > tr > td.cell-pizza {
    display: table-cell;
  }
  .table-responsive-wrapper-card .table-responsive2 .table-late > thead > tr > th.cell-card {
    display: table-cell;
  }
  .table-responsive-wrapper-card .table-responsive2 .table-late > tbody > tr > td.cell-card {
    display: table-cell;
  }
}
@media (max-width: 767px) {
  .table-responsive-wrapper-late .table-responsive2 .table-late {
    border-top-width: 2px;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead {
    border-top-width: 1px;
    border-bottom-width: 2px;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th {
    border-bottom-width: 1px;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-selected {
    border-right-color: transparent;
    border-bottom-color: #468cc8;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-head-time {
    display: block;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.load-delayed {
    border-left-width: 0;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-head-time:before {
    display: none;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-head-korf:before {
    content: "\f43d";
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-head-load:before {
    content: "\f4ce";
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-head-worker:before {
    content: "\f007";
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-head-workernorm:before {
    content: "\f507";
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-head-receipts:before {
    content: "\f158";
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-head-late:before {
    display: none;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-head-late .cell-head_name {
    visibility: visible;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > thead > tr > th.cell-head-orders:before {
    content: "\f4a1";
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > tbody > tr > td {
    text-align: center;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > tbody > tr > td.load-delayed {
    border-left: 1px solid transparent;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > tbody > tr > td.cell-selected {
    border-top-color: #468cc8;
    border-bottom-color: #468cc8;
    border-right-color: transparent;
    border-left-color: transparent;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > tbody > tr.row-selected > td {
    border-top-color: transparent;
    border-bottom-color: #ddd;
    border-right-color: #468cc8;
    border-left-color: #468cc8;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > tbody > tr.row-selected > td.load-delayed {
    border-left-color: #468cc8;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > tbody > tr.row-selected > td.cell-selected {
    border-top-color: #468cc8;
    border-bottom-color: #468cc8;
  }
  .table-responsive-wrapper-late .table-responsive2 .table-late > tbody > tr.row-selected > td:first-child {
    border-top-color: #468cc8;
  }
  .table-responsive-wrapper-sushi .table-responsive2 .table-late > thead > tr > th.cell-sushi {
    display: block;
  }
  .table-responsive-wrapper-driver .table-responsive2 .table-late > thead > tr > th.cell-driver {
    display: block;
  }
  .table-responsive-wrapper-pizza .table-responsive2 .table-late > thead > tr > th.cell-pizza {
    display: block;
  }
  .table-responsive-wrapper-card .table-responsive2 .table-late > thead > tr > th.cell-card {
    display: block;
  }
}
.table-production-cont {
  width: 100%;
  position: relative;
}
.panel-group-operat {
  position: absolute;
  right: 0px;
  white-space: nowrap;
}
.panel-group-operat .btn {
  margin-left: 6px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.table-production-print .row-head > td {
  padding-left: 8px;
}
.table-production-print .row-total td:first-child {
  padding-left: 8px;
}
.legend-print {
  font-size: 12px;
}
.legend-print .item {
  margin-bottom: 5px;
}
.legend-print .item-dt {
  float: left;
  font-weight: bold;
  white-space: nowrap;
  text-align: right;
  width: 55px;
}
.legend-print .item-dd {
  margin-left: 70px;
}
.modal-dialog-fineprem {
  width: 500px;
}
.modal-dialog-fineprem__form .btn-group {
  margin-top: 25px;
  width: 100%;
}
.modal-dialog-fineprem__form .btn-group > .btn {
  width: 50%;
}
.modal-dialog-fineprem__form .btn-group > .btn.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-dialog-fineprem__form .btn-group .btn-fine.active {
  background-color: #FFA9B1;
}
.modal-dialog-fineprem__form .btn-group .btn-prem.active {
  background-color: #e1f6cc;
}
.modal-dialog-fineprem__form .form-btns {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
}
.modal-dialog-fineprem__form .form-btns .btn {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 15px;
}
.modal-dialog-fineprem__form .form-btns .btn:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .modal-dialog-fineprem__form .btn-group {
    margin-top: 0;
  }
  .modal-dialog-fineprem__form .form-btns .btn {
    flex: 1;
  }
}

/*# sourceMappingURL=newcalc.css.map */