body {
  padding-top: 0;
}
.container-print {
  width: 535px;
  margin: 30px auto;
  font-size: 12px;
  color: #000;
}
.form-print .form-print_head {
  font-weight: 700;
  font-size: 14px;
  margin: 0 0 10px 0;
}
.form-print .form-print_label {
  color: #696969;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-print .form-print_control {
  height: 22px;
  border-bottom: 1px solid #7f7f7f;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-print .form-print_control_parts {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
}
.form-print .form-print_control_parts .part {
  display: inline-block;
  border-bottom: 1px solid #7f7f7f;
  text-align: center;
  width: 70px;
  margin-right: 5px;
}
.form-print .form-group {
  margin-bottom: 25px;
}
.form-print .form-group-sm {
  width: 170px;
}
.form-print .form-group-md {
  width: 250px;
}
.form-print .form-group-lg {
  width: 330px;
}
.form-print .form-print_group,
.form-print .form-print_group_line {
  margin-bottom: 25px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.form-print .form-print_group .form-group,
.form-print .form-print_group_line .form-group {
  margin-bottom: 0;
}
.form-print .form-print_group .form-print_head {
  margin: 0 15px 0 0;
}
.form-print .form-print_group .form-group {
  margin-right: 30px;
}
.form-print .form-print_group .form-group:last-child {
  margin-right: 0;
}
.form-print .form-print_group_line {
  flex-wrap: nowrap;
  justify-content: space-between;
}
.form-print .form-print_help {
  color: #696969;
}
.form-print .checkbox-print {
  height: 21px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}
.form-print .checkbox-print .check-square {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #7f7f7f;
  margin-right: 7px;
  position: relative;
}
.form-print .checkbox-print.checked .check-square:before {
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: inherit;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f00c";
  position: absolute;
  top: 0;
  left: 0;
}
.form-print .form-print_duration .part {
  width: 50px;
  margin-right: 5px;
}
.form-print .form-print_duration .form-print_help {
  margin-left: 5px;
}
.form-print .form-group-post {
  width: 310px;
}
.form-print .form-print_phone .part1,
.form-print .form-print_phone .part2 {
  width: 30px;
  margin-right: 0;
}
.form-print .form-print_phone .part3 {
  width: 40px;
  margin-right: 0;
}
.form-print .form-print_phone .part1 {
  margin: 0 6px 0 3px;
  position: relative;
}
.form-print .form-print_phone .part1:before,
.form-print .form-print_phone .part1:after {
  display: inline-block;
  position: absolute;
  top: 0;
}
.form-print .form-print_phone .part1:before {
  content: "(";
  left: -1px;
}
.form-print .form-print_phone .part1:after {
  content: ")";
  right: -1px;
}
.form-print .form-print_data .day {
  width: 20px;
  margin: 0 8px;
  position: relative;
}
.form-print .form-print_data .day:before,
.form-print .form-print_data .day:after {
  display: inline-block;
  position: absolute;
  top: 0;
}
.form-print .form-print_data .day:before {
  content: "\ab";
  left: -5px;
}
.form-print .form-print_data .day:after {
  content: "\bb";
  right: -5px;
}
.form-print .form-print_data .month {
  width: 70px;
  margin-right: 8px;
}
.form-print .form-print_data .year {
  width: 40px;
}
.form-print .form-print_checkbox_inline {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.form-print .form-print_checkbox_inline .checkbox-print {
  margin-right: 15px;
}
.form-print .form-print_checkbox_inline .checkbox-print:last-child {
  margin-right: 0;
}
.form-print .form-print_posts {
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.form-print .form-print_docs {
  margin-bottom: 18px;
}
.form-print .form-print_docs .form-print_head {
  margin-bottom: 7px;
}
.form-print .form-print_docs .form-print_doc {
  margin: 0 30px 7px 0;
  white-space: nowrap;
}
.form-print .form-print_group_checks {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form-print .form-print_group_checks .form-print_label {
  margin-right: 10px;
}
.form-print .form-print_group_checks .checkbox-print {
  margin-right: 15px;
}
.form-print .form-group-alcohol {
  width: 260px;
}
.form-print .form-print_years .part {
  width: 40px;
}
.form-print .form-print_group_children {
  margin-bottom: 15px;
}
.form-print .form-print_group_children .form-group {
  margin-bottom: 10px;
}
.form-print .form-print_children {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.form-print .form-print_children .form-print_control_parts .part {
  width: 25px;
}
.form-print .form-print_children .checkbox-print {
  margin-left: 15px;
}

/*# sourceMappingURL=print-form.css.map */