.state {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 4px;
  background-color: #000;
}
.state.orange {
  background-color: #f0ad4e;
}
.state.orange-light {
  background-color: #f7d6a6;
}
.state.blue {
  background-color: #498fcc;
}
.state.blue-light {
  background-color: #a4c7e5;
}
.state.red {
  background-color: #d9534f;
}
.state.red-light {
  background-color: #eca9a7;
}
.state.green {
  background-color: #5cb85c;
}
.state.green-light {
  background-color: #addbad;
}
.state.purple {
  background-color: #6b3fbc;
}
.state.purple-light {
  background-color: #b8a3df;
}
.form-filiation .form-group {
  width: 170px;
  float: left;
  margin-right: 30px;
}
.form-filiation .btn-primary {
  margin-top: 25px;
}
.form-filiation .input-group .btn {
  color: #337ab7;
}
.form-filiation .input-group .btn:hover {
  color: #23527c;
}
.form-filiation .form-group-datepicker {
  width: auto;
}
.form-filiation .form-group-datepicker .input-group {
  width: 140px;
  float: left;
}
.form-filiation .form-group-datepicker .input-group-dash {
  float: left;
  margin: 5px 7px 0 7px;
  color: #000;
}
.form-filiation .form-group-multiple {
  width: auto;
}
.form-production {
  margin-top: 20px;
}
.form-production .form-buttons .btn-default {
  margin-right: 30px;
}
.table-filiation .cell-align-center {
  text-align: center;
}
.table-filiation .cell-total {
  text-transform: uppercase;
  font-weight: bold;
}
.table-filiation .cell-standard {
  text-align: center;
  background-color: #e1f6cc;
}
.table-filiation .cell-standard.plus {
  background-color: #c3e6a1;
}
.table-filiation .cell-lateness {
  text-align: center;
}
.table-filiation .cell-lateness.type1 {
  background-color: #ffffb2;
}
.table-filiation .cell-lateness.type2 {
  background-color: #ffd4d4;
}
.table-filiation .cell-lateness.type3 {
  background-color: #ffa9b1;
}
.table-production > thead > tr > th {
  text-align: center;
}
.table-production .btn {
  background-color: transparent;
  padding-left: 3px;
  padding-right: 3px;
}
.table-production > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}
.table-production .form-control {
  width: 45px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: inherit;
  display: inline-block;
  text-align: center;
}
.table-production .form-timework {
  white-space: nowrap;
}
.table-production .form-timework .form-control:nth-of-type(2) {
  margin-right: 3px;
}
.table-production .form-timework .btn-add-time {
  color: #4ba34c;
}
.table-production .form-timework .btn-del-time {
  color: #ff0000;
}
.table-production .form-timework .btn-del-time i {
  position: relative;
  top: -1px;
}
.table-production .cell-align-left {
  text-align: left;
}
.table-production .cell-timework {
  width: 175px;
  text-align: left;
}
.table-production .cell-premium {
  background-color: #e1f6cc;
}
.table-production .cell-sum {
  background-color: #ededed;
}
.table-production .cell-fine-big {
  background-color: #ffd4d4;
}
.table-production .cell-fine-big .form-control {
  background-color: #ffd4d4;
}
.table-production .cell-fine-small {
  background-color: #ffffb2;
}
.table-production .cell-fine-small .form-control {
  background-color: #ffffb2;
}
.table-production .cell-total {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}
.table-legendempl {
  width: 270px;
  margin-bottom: 0;
}
.table-legendempl thead tr th:nth-child(1),
.table-legendempl tbody tr td:nth-child(1) {
  width: 180px;
}
.table-legendempl thead tr th:nth-child(1) .checkbox-inline label {
  font-weight: bold;
}
.table-legendempl thead tr th:nth-child(2),
.table-legendempl tbody tr td:nth-child(2) {
  text-align: center;
}
.table-legendempl .checkbox-inline {
  padding-left: 45px;
}
.table-legendempl .checkbox-inline label {
  margin-bottom: 0;
  color: #333;
  font-weight: 600;
}
.table-legendempl .checkbox-inline input[type="checkbox"] {
  margin: -6px 0 0 -25px;
  top: 50%;
}
.table-legendempl .checkbox-inline .state {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
}
.nav-legend {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-legend li {
  display: inline-block;
  margin-right: 20px;
}
.nav-legend li a.disabled,
.nav-legend li a.disabled:hover,
.nav-legend li a.disabled:focus {
  color: #959595;
  text-decoration: none;
  cursor: not-allowed;
}
.block-legend {
  margin-top: 25px;
  margin-bottom: 25px;
}
.block-legend ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}
.block-legend ul li {
  display: inline-block;
}
.block-legend .legend li {
  margin-right: 20px;
}
.block-legend .legend li .state {
  margin-right: 8px;
}
.block-legend .legend li input[type="checkbox"] {
  margin-top: 3px;
}
.block-legend .nav-legend {
  margin-left: 30px;
}
.btn-group-chbx {
  margin-top: 15px;
}
.graph-lateempl {
  position: relative;
}
.graph-lateempl .table-responsive {
  margin-left: 50px;
  min-height: 429px;
}
.graph-lateempl .table-lateempl {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 5px;
  font-size: 11px;
  width: auto;
}
.graph-lateempl .table-lateempl tbody td {
  white-space: nowrap;
  border-top-color: #eee;
  vertical-align: middle;
  height: 33px;
  text-align: center;
  cursor: default;
  padding: 0;
}
.graph-lateempl .table-lateempl tbody td > span {
  display: inline-block;
  padding: 8px;
}
.graph-lateempl .table-lateempl .cell-date {
  text-align: center;
  padding: 8px;
}
.graph-lateempl .table-lateempl .cell-empty {
  padding-left: 4px;
  padding-right: 4px;
  width: 12px;
}
.graph-lateempl .hours-lateempl {
  float: left;
  width: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 10px;
  font-weight: 600;
  background-color: #fff;
}
.graph-lateempl .hours-lateempl li {
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  padding: 0px 14px 0px 8px;
  white-space: nowrap;
  border-top: 1px solid #fff;
  text-align: right;
  color: #555;
}
.highcharts-credits {
  display: none;
}
.graph-delivsumm {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}
.graph-delivempl {
  width: 100%;
  height: 417px;
  margin-bottom: 10px;
}
.block-graphempl {
  margin-left: 290px;
}
.table-tooltip-empl {
  border-top: 0;
  border-bottom: 0;
  margin: 0;
}
.table-tooltip-empl td {
  padding: 2px 10px 2px 0;
}
.block-legend-empl {
  float: left;
  width: 280px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.popover {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.popover .popover-content {
  padding: 4px 8px;
}
.popover .popover-content .graph-time {
  font-size: 11px;
  color: #555555;
}
.block-legend-bar {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 12px;
  font-weight: 600;
}
.block-legend-bar .item {
  float: left;
  margin-right: 25px;
}
.block-legend-bar .item .name-legend {
  margin-bottom: 13px;
}
.block-legend-bar .item .checkbox {
  margin-top: 0;
}
.block-legend-bar .item .checkbox label {
  color: #000;
  font-weight: 600;
  padding-left: 25px;
}
.block-legend-bar .item .checkbox .state {
  margin-right: 8px;
}
.block-legend-bar .item .checkbox input[type="checkbox"] {
  margin-top: 3px;
  margin-left: -25px;
}
.block-legend-bar .nav-legend {
  margin: 30px 0 0 30px;
  float: left;
}
.graph-latesumm {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.graph-salary {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=reports.css.map */