.hrm-scrollable {
    .os-scrollbar-vertical {
        padding: 0;
        width: 4px;

        .os-scrollbar-track {
            background-color: #DFE4EF;
            border-radius: 10px;
        }

        .os-scrollbar-handle {
            background-color: #FF238D;
            border-radius: 10px;

            &:hover,
            &.active {
                background-color: #FF238D;
            }
        }
    }

    .os-scrollbar-horizontal {
        padding: 0;
        height: 4px;

        .os-scrollbar-track {
            background-color: #DFE4EF;
            border-radius: 10px;
        }

        .os-scrollbar-handle {
            background-color: #FF238D;
            border-radius: 10px;

            &:hover,
            &.active {
                background-color: #FF238D;
            }
        }
    }
}
