<template id="driver-modal-dialog-template">
  <!-- ko template: { afterRender: afterRender } -->
  <!-- ko if: viewportSize().width <= HRM_BREAKPOINTS.mobileMaxWidth -->
  <button class="hrm-button modal-dialog-content__close"
          data-bind="click: function() {cancel();}"
          aria-label="Close">
  </button>
  <!-- /ko -->

  <!-- ko if: !isLoading() -->
  <div class="modal-dialog-content__header">
    <span class="modal-dialog-content__title">
      Заказы водителя
    </span>
  </div>



  <div class="modal-dialog-content__actions">
    <button class="hrm-button hrm-basic-button"
            data-bind="click: function() {$component.cancel();}">
      Отменить
    </button>

    <button class="hrm-button hrm-basic-button hrm-accent-button"
            data-bind="click: function() {$component.save();}">
      Сохранить
    </button>
  </div>
  <!-- /ko -->

  <!-- ko if: isLoading() -->
  <div class="loader">
    <i class="fa fa-spinner fa-pulse loader__indicator">
    </i>
  </div>
  <!-- /ko -->
  <!-- /ko -->
</template>
