.modal-dialog--confirm {

  .hrm-button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hrm-basic-modal-dialog__body {
    text-align: center;
  }

  .hrm-basic-modal-dialog__action-list {
    justify-content: center;
  }
}

@media screen and (max-width: @mobile-max-width) {

}
