.form-calclist {
	margin-bottom: 0;

    .form-group-datepicker {
        .row {
            position: relative;
        }
        
        .input-group-dash {
            font-size: 0;
            line-height: 0;
            display: block;
            height: 1px;
            width: 10px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -5px;
        }
    }
    
    .form-btns {
        .btn-link {
            .fa {
                margin-left: 5px;
            }
        }
    
        @media (min-width: 768px) {
            .btn {
                float: none;
            }
        }
    }
}

.table-calclist {
    margin-bottom: 0;

    > tbody > tr> td {
        vertical-align: middle;
    }
    
    .cell-date {
        white-space: nowrap;
        text-align: center;
        
        .cell-date_time {
            margin-left: 5px;
        }
    }
    
    .cell-btns {
        white-space: nowrap;
        text-align: right;
        
        .btn {
            margin-right: 5px;
            line-height: 28px;
            padding: 0px;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .table-calclist {
        > thead > tr > th {
            line-height: 1.2;
        }
        
        .cell-btns {
            .btn {
                margin-right: 2px;
            }
        }
    }
}

@media (max-width: 767px) {
    .form-calclist {
    	margin-bottom: 15px;
    	
        .form-btns {
            margin-top: 0;

            .btn-link {
                float: left;
                padding-left: 0px;
            }            
        }
    }
    
    .table-calclist {
        > thead > tr > th {
            &.cell-head-date {
                &:before {
                    content: "\f073";
                }
            }
            
            &.cell-head-product {
                &:before {
                    content: "\f495";
                }                                    
            } 
            
            &.cell-head-delivery {
                &:before {
                    content: "\f1ba";
                }                                    
            }
            
            &.cell-head-produced {
                &:before {
                    content: "\f017";
                }
            }
            
            &.cell-head-user {
                &:before {
                    content: "\f007";
                }
            }            
        }
    }
}

.calclist__summary {
	background-color: #F5F5F5;
	padding: 15px;
	font-size: 12px;
	margin-bottom: 15px;
	
	@media (min-width: 768px) {
		.flex();
	}	
	
	.fas {
		font-size: 90%;
	}
	
	&__total {
		font-weight: bold;
		text-transform: uppercase;
		margin-right: 10px;
	}
	
	&__res {
		margin-right: 30px;
		
		strong {
			margin-left: 5px;
		}
	}
	
	@media (max-width: 767px) {
		&__total {
			display: block;
		}
		
		&__res {
			width: 100%;
			margin-right: 0;
			.flex();
			justify-content: space-between;
		}
	}
}