.candidate-edit {
  .form-candidate {
    width: 100%;
    max-width: 555px;
  }

  .form-btns {
    .flex;
    .justify-content-end; 
    margin-top: 7px;

    .btn {
      margin-left: 10px;
    }
  }
  @media (max-width: 991px) {
    .form-candidate {
      max-width: 100%;
    }
  }
}