mark {
    display: inline-block;
    border-radius: 3px;
    background-color: #CCC;
    color: #000;
    line-height: 1;
    padding: 3px 10px;

    &.bold {
        font-weight: 700;
    }

    &[data-skin="yellow"] {
        background-color: #FFFFC4;
    }

    &[data-skin="blue"] {
        background-color: #ECF6FF;
    }

    &[data-skin="green"] {
        background-color: #E1F6CC;
    }

    &[data-skin="red"] {
        background-color: #FFD4D4;
    }

    &[data-skin="grey"] {
        background-color: #EDEDED;
    }
}

.candidates {
    &__dropdown-swicher {

        &__nav {
            display: flex !important;

            .btn {
                box-shadow: none !important;
            }
        }

        &__content {

        }

        &__item {
            padding-top: 10px;
        }

        &__item:not(:first-child) {
            display: none;
        }

    }

    &__popup {
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999999;
        height: 100%;
        width: 990px;
        max-width: calc(100% - 60px);
        margin: 0;

        .modal-content {
            box-shadow: none;
            border: none;
            border-radius: 0;
            max-height: 100%;
            overflow: auto;
        }

        button.close {
            position: absolute;
            right: 14px;
            top: 17px;
            font-size: 16px;
        }

    }

    &__popup-info {
        padding-bottom: 6px;
    }

    &__popup-table {
        padding-top: 8px;

        thead tr {
            th {
                padding-right: 15px;
            }

            th:nth-child(1) {
                width: 4%;
            }

            th:nth-child(2) {
                width: 14%;
            }

            th:nth-child(3) {
                width: 55%;
            }

            th:nth-child(4) {
                width: 27%;
            }
        }
    }

    &__popup-content {
        padding: 23px 30px 30px;

        @media only screen and (max-width: 995px) {
            padding-left: 15px;
            padding-right: 15px;
        }

    }

    &__popup-name-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 21px;
    }

    &__popup-profile-icon {
        margin-right: 10px;

        font-size: 14px;

        &--check {
            color: #38A138 !important;
        }

        &--exclamation {
            color: #FF7500 !important;
        }

        &--minus {
            color: #FF0000 !important;
        }
    }

    &__popup-name {
        margin: 0;
    }

    &__popup-actions {
        padding-left: 23px;

        button {
            margin-right: 2px;
            display: inline-block;
            width: 30px;
            height: 30px;
            background: #FFFFFF;
            border: 1px solid #CDCDCD;
            border-radius: 4px;
        }

    }

    &__popup-list {
        font-size: 14px;
        line-height: 1.3;

        dt {
            font-size: 12px;
            color: #555555;
            font-weight: normal;
            margin-bottom: 2px;
        }

        dd {
            color: #000;
            margin-bottom: 11px;
        }

    }

    &__popup-list &__inline-user {
        margin: 7px 0 15px;
    }

    .tooltip-arrow {
        display: none !important;
    }

    .tooltip.in {
        opacity: 1;
    }

    .tooltip-inner {
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        font-size: 12px;
        line-height: 50px;
        white-space: nowrap;
        padding: 0 20px;
        z-index: 99;
        color: #000000;
        max-width: 100%;
    }

    &__filter-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -2px;

        .btn.candidates__settings-btn.dropdown-toggle {
            border: 1px solid #CDCDCD;
            border-radius: 4px;
            text-align: center;
            padding: 0;
            width: 34px;
            height: 34px;
            line-height: 32px;
            background: none;
            z-index: 20;

            &[aria-expanded="true"] {
                color: #337ab7;
                background-color: #fff;
                box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
            }
        }

        .btn-group .dropdown-menu.dropdown-menu-right {

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            right: 1px;

            &::before {
                width: 32px;
                right: -1px;
                top: -5px;
            }

        }

    }

    &__filter-avatars {
        display: flex;
        align-items: center;
    }

    &__filter-avatar {
        width: 36px;
        height: 36px;
        line-height: 32px;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        background: #EDEDED;
        border: 2px solid #fff;
        font-size: 16px;
        color: #337AB7;
        margin-left: -6px;
        cursor: pointer;
        transition: all ease 500ms;

        img {
            width: 100%;
            height: auto;
        }

        &--state-active {
            border-color: #337AB7;
        }

        &:nth-child(1) {
            z-index: 10;
        }

        &:nth-child(2) {
            z-index: 9;
        }

        &:nth-child(3) {
            z-index: 8;
        }

        &:nth-child(4) {
            z-index: 7;
        }

        &:nth-child(5) {
            z-index: 6;
        }

        &:nth-child(6) {
            z-index: 5;
        }

        &:nth-child(7) {
            z-index: 4;
        }

        &:nth-child(8) {
            z-index: 3;
        }

        &:nth-child(9) {
            z-index: 2;
        }

        &:nth-child(10) {
            z-index: 1;
        }

        .fa-user {
            color: #888888;
        }

    }

    &__board-accordion {
        margin: -8px 0 0;
    }

    &__board-accordion &__board-wrap {
        display: none;

        .jqx-kanban-column-container {
            height: auto !important;
        }

        .jqx-kanban-column {
            height: auto !important;
        }

        &.active .jqx-kanban-column-container {
            height: calc(100% - 30px) !important;
        }

    }

    .jqx-kanban-column-container {
        height: auto !important;
    }

    .jqx-kanban-column {
        height: auto !important;
    }

    .jqx-kanban-column-container {
        height: calc(100% - 30px) !important;
    }

    &__board-title {
        font-size: 12px;
        font-weight: 700;
        color: #000000;
        vertical-align: middle;
        cursor: pointer;
        margin: 0 0 10px;
        padding: 0 0 0 15px;

        i {
            margin-right: 5px;
            font-size: 14px;
            color: #337AB7;
        }

        &--active i {
            transform: rotate(180deg);
        }

    }

    &__board-title--active + &__board-wrap {
        padding-top: 6px;
        margin: 0 0 20px;
    }

    .jqx-kanban,
    &__board {
        position: relative;
        display: flex;
        margin-left: -5px;
        margin-right: -5px;
        width: calc(100% + 10px) !important;
        // height: auto !important;

        mark {
            line-height: 1;
            padding: 2px 4px;
            font-size: 12px;
            display: inline-block;
            margin-bottom: 5px;
        }

    }

    .jqx-kanban-column-header-collapsed {
        display: none;
    }

    &__board-wrap {
        position: relative;
    }

    &__board-nav-btn {
        position: absolute;
        display: block;
        top: 50%;
        margin-top: -16px;
        width: 35px;
        height: 35px;
        border: none;
        cursor: pointer;

        &--next {
            right: -16px;
            border-radius: 6px 0 0 6px;
            background: url("data:image/svg+xml,%3Csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 16L9 9L2.10937 2.10938L2 2' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A") 50% 50% no-repeat rgba(0, 0, 0, 0.5);
        }

        &--prev {
            left: -16px;
            border-radius: 0 6px 6px 0;
            background: url("data:image/svg+xml,%3Csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 16L3 9L9.89063 2.10938L10 2' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A") 50% 50% no-repeat rgba(0, 0, 0, 0.5);
        }


    }

    &__board-column,
    .jqx-kanban-column {
        min-width: 136px;
        background-color: #fff;
        // visibility: hidden;

        &.muuri-item-dragging,
        &:hover {
            // z-index: 99;
        }
    }

    .jqx-kanban-column-container {
        margin: 0 5px;
        border: 1px solid #EDEDED;
        border-radius: 0 0 6px 6px;
        border-top: none;
        position: relative;
        // height: auto !important;
        // overflow: visible !important;

        .jqx-kanban-item-placeholder {
            background: #EDEDED;
            border-radius: 6px;
            margin: 1px;
            z-index: 5;
        }

    }

    &__board.create &__board-column {
        min-height: 100%;
        visibility: visible;
    }

    &__board-column-content {
        position: relative;
        min-height: 144px;
        margin: 0 2px;
    }

    &__board-column-header,
    .jqx-kanban-column-header {
        font-size: 14px;
        color: #555555;
        margin: 0 5px;
        line-height: 1;
        text-transform: uppercase;
        padding: 8px 11px 6px;
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid #EDEDED;
        border-bottom: none;
        border-radius: 6px 6px 0 0;
        justify-content: space-between;

        .jqx-kanban-column-header-title {
            display: block;
            max-width: 100%;
            line-height: 30px;
            z-index: 2;
            position: relative;
            left: 0 !important;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &::before {
            border-radius: 6px 6px 0 0;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 62px;
            background: rgb(255, 221, 171); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(255, 221, 171, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255, 221, 171, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255, 221, 171, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffddab', endColorstr='#ffffff',GradientType=0); /* IE6-9 */
            content: "";
        }

        [data-column-data-field="intreview"] .jqx-kanban-column-header::before {
            background: rgb(255, 255, 196); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(255, 255, 196, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255, 255, 196, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255, 255, 196, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc4', endColorstr='#ffffff',GradientType=0); /* IE6-9 */

        }

        [data-column-data-field="reserve"]::before,
        [data-column-data-field="reserve"] .jqx-kanban-column-header::before {
            background: rgb(236, 246, 255); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(236, 246, 255, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(236, 246, 255, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(236, 246, 255, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf6ff', endColorstr='#ffffff',GradientType=0); /* IE6-9 */

        }

        [data-column-data-field="internship"] .jqx-kanban-column-header::before {
            background: rgb(225, 246, 204); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(225, 246, 204, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(225, 246, 204, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(225, 246, 204, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1f6cc', endColorstr='#ffffff',GradientType=0); /* IE6-9 */

        }

        [data-column-data-field="waiting-call"]::before,
        [data-column-data-field="fail"] .jqx-kanban-column-header::before,
        [data-column-data-field="fail2"] .jqx-kanban-column-header::before {
            background: rgb(255, 212, 212); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(255, 212, 212, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255, 212, 212, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255, 212, 212, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd4d4', endColorstr='#ffffff',GradientType=0); /* IE6-9 */

        }

        &::after {
            display: block;
            content: attr(data-qty);
            z-index: 10;
            position: relative;
        }

    }


    [data-column-data-field="interview"] .jqx-kanban-column-header::before {
        background: rgb(255, 255, 196); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255, 255, 196, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 196, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 196, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc4', endColorstr='#ffffff',GradientType=0); /* IE6-9 */

    }

    [data-column-data-field="reserve"]::before,
    [data-column-data-field="test"] .jqx-kanban-column-header::before,
    [data-column-data-field="reserve"] .jqx-kanban-column-header::before {
        background: rgb(236, 246, 255); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(236, 246, 255, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(236, 246, 255, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(236, 246, 255, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf6ff', endColorstr='#ffffff',GradientType=0); /* IE6-9 */

    }

    [data-column-data-field="internship"] .jqx-kanban-column-header::before {
        background: rgb(225, 246, 204); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(225, 246, 204, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(225, 246, 204, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(225, 246, 204, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1f6cc', endColorstr='#ffffff',GradientType=0); /* IE6-9 */

    }

    [data-column-data-field="waiting-call"]::before,
    [data-column-data-field="fail"] .jqx-kanban-column-header::before,
    [data-column-data-field="fail2"] .jqx-kanban-column-header::before {
        background: rgb(255, 212, 212); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255, 212, 212, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 212, 212, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 212, 212, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd4d4', endColorstr='#ffffff',GradientType=0); /* IE6-9 */

    }

    &__board-item {
        min-height: 144px;
        margin: 1px;
        background-color: #fff;
        border: 1px solid #CDCDCD;
        border-radius: 4px;
        padding: 8px 10px 8px 8px;
        font-size: 12px;
        position: relative;
        // z-index: 10;
        line-height: 1.16;

        // &:hover,
        &.muuri-item-dragging,
        &.jqx-sortable-helper {
            z-index: 100;
        }

        &.jqx-sortable-helper {
            background-color: #fff;
        }

        &.muuri-item-dragging,
        &.jqx-sortable-helper {
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
        }

        &.muuri-item-releasing {
            z-index: 100;
        }

        &.muuri-item-dragging {
            z-index: 100;
            cursor: move;
        }

        &:focus {
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
        }

        .candidates__tooltip {
            margin-top: -35px;
        }

        &.jqx-sortable-helper .candidates__tooltip {
            display: none;
        }

        .candidates__tooltip-position {
            margin-bottom: 10px;
        }

        &[data-temp-skin="waiting-call"] {
            box-shadow: 0px 5px 15px #FFDDAB;
        }

        &[data-temp-skin="interview"] {
            box-shadow: 0px 5px 15px #E1F6CD;
        }

        &[data-temp-skin="reserve"] {
            box-shadow: 0px 5px 15px #ecf6ff;
        }

        &[data-temp-skin="internship"] {
            box-shadow: 0px 5px 15px #E1F6CD;
        }

        &[data-temp-skin="fail"],
        &[data-temp-skin="fail2"] {
            box-shadow: 0px 5px 15px rgba(255, 0, 0, 0.5);
        }

    }

    .jqx-kanban-column[data-column-data-field="waiting-call"] .jqx-sortable-helper {
        box-shadow: 0px 5px 15px #FFDDAB;
    }

    .jqx-kanban-column[data-column-data-field="interview"] .jqx-sortable-helper {
        box-shadow: 0px 5px 15px #FFFFC4;
    }

    .jqx-kanban-column[data-column-data-field="reserve"] .jqx-sortable-helper {
        box-shadow: 0px 5px 15px rgba(#337AB7, .5);
    }

    .jqx-kanban-column[data-column-data-field="internship"] .jqx-sortable-helper {
        box-shadow: 0px 5px 15px #E1F6CD;
    }

    .jqx-kanban-column[data-column-data-field="fail"] .jqx-sortable-helper,
    .jqx-kanban-column[data-column-data-field="fail2"] .jqx-sortable-helper {
        box-shadow: 0px 5px 15px #FFD5D5;
    }

    &__board-item-target-date {
        padding: 12px 0 0 20px;
        position: relative;

        i {
            vertical-align: top;
            margin: 13px 5px 0 0;
            position: absolute;
            top: 0;
            left: 0;
        }

    }

    &__board-item-list {
        list-style-type: none;
        padding: 0 0 4px;
        margin-bottom: 0;

        li {
            margin-bottom: 4px;
        }

    }

    &__board-item-content {
        position: relative;
    }

    &__board-item-location:hover ~ &__tooltip,
    &__board-item-target-date:hover ~ &__tooltip,
    &__board-item-location.active ~ &__tooltip,
    &__board-item-target-date.active ~ &__tooltip {
        opacity: 1;
        visibility: visible;
    }

    &__board-item-header {
        display: flex;
        justify-content: space-between;

        .candidates__board-item-profile-icon {
            margin-left: 8px;
        }
    }

    &__board-item-name {
        margin: 0 0 8px;
        font-size: 12px;
        list-style-type: 1.16;
        font-weight: 700;
        cursor: pointer;
    }

    &__board-item-profile-icon {
        font-size: 14px;

        &--check {
            color: #38A138 !important;
        }

        &--exclamation {
            color: #FF7500 !important;
        }

        &--minus {
            color: #FF0000 !important;
        }
    }

    &__board-item-footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 12px 0 0;

        &-section {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 4px;
        }
    }

    &__board-item-avatar {
        width: 28px;
        height: 28px;
        margin-right: 14px;
        text-align: center;
        line-height: 28px;
        border-radius: 50%;
        background: #EDEDED;
        overflow: hidden;
        vertical-align: middle;

        @media only screen and (max-width: 992px) {
            margin-right: 5px;
        }

        &--empty,
        &--question {
            border: 1px solid #888888;
        }

        &--question {
            font-size: 14px;
            color: #337AB7;
        }

        img {
            border-radius: 50%;
        }

        svg {
            margin-top: -5px;
            vertical-align: middle;
            display: inline-block;
        }

    }

    &__board-item-date {
        vertical-align: middle;

        i {
            margin: 0 3px 0 0;
            vertical-align: middle;
            font-size: 14px;
            color: #888888;
        }

    }

    &__board-item-status {
        margin-left: 5px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__board-item-status[data-current-status="new"] &__inline-status--new,
    &__board-item-status[data-current-status="alert"] &__inline-status--alert,
    &__board-item-status[data-current-status="wait"] &__inline-status--wait {
        display: block;
    }

    &__board-item-source[data-source="manual"] &__source--manual,
    &__board-item-source[data-source="external"] &__source--external,
    &__board-item-source[data-source="site"] &__source--site,
    &__board-item-source[data-source="employee"] &__source--employee,
    &__board-item-source[data-source="hh"] &__source--hh {
        display: block;
    }

    &__source {
        display: none;
        margin-left: 6px;

        i {
            font-size: 14px;
        }

        &--hh {
            &:before {
                content: '';
                .hh-icon();
            }
        }
    }

    &__inline-status {
        display: none;
        margin-left: 6px;

        &--new {
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 700;
            color: #5CB85C;
        }

        &--alert {
            font-size: 16px;
            line-height: 1;
            color: #FF0000;
        }

        &--wait {
            font-size: 16px;
            line-height: 1;
            color: #000;
        }

    }


    // kanban board END

    &__head {
        .flex();
        align-items: center;

        h1 {
            margin-right: auto;
        }

        .btn {
            margin-left: 11px;

            &.btn-icon i {
                margin-right: 9px;
            }
        }

        + hr {
            margin-bottom: 17px;
        }
    }

    &__form {
        margin-bottom: 15px;

        @media (max-width: 992px) {
            .candidates__form-actions {
                padding-top: 25px;
            }
        }

        > .row {
            display: flex;
            flex-wrap: wrap;

            margin-top: -15px;

            & > * {
                float: none;
                margin-top: 15px;
            }

            label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .checkbox-nice label {
                overflow: inherit;
            }
        }

        .btn-group {
            display: block;

            .btn {
                padding-left: 11px;
                padding-right: 11px;
            }
        }

        &-actions {
            margin-left: auto;
            margin-top: 20px !important;
        }

        &-actions-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            margin-top: -15px;
            margin-left: -16px;

            & > * {
                margin-top: 15px;
                margin-left: 16px;
            }
        }

        &-expand-button {
            i {
                margin-left: 7px;
                font-size: 12px
            }
        }

        &-clear-button {
            font-size: 14px;
        }
    }

    &__hidden-elem {
        display: none;
    }

    &__edit-detail {
        display: none;
    }

    &__edit-row {
        margin-bottom: 20px;
    }

    &__view-btns {
        display: inline-block;
        margin-right: 30px;
    }

    &__form--2 &__view {
        padding-top: 10px;
        justify-content: flex-start;

        &-item {
            display: flex;
            align-items: center;
            margin-right: 30px;
            width: auto;

            &:last-child {
                width: auto;
            }

            .btn-group .btn {
                padding-left: 19px;
                padding-right: 18px;

                @media only screen and (max-width: 992px) {
                    padding-left: 14px;
                    padding-right: 14px;
                }

            }

        }

    }

    &__form--2 {
        padding-bottom: 19px;

        .row {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }

        }
    }

    &__view {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .checkbox-nice {
            display: inline-block;
            vertical-align: middle;
            margin-left: 30px;
        }

        &-item {
            &:last-child {
                width: calc(100% - 105px);
            }
        }

    }

    &__types {
        display: inline-block;
    }

    &__tooltip {
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        width: 345px;
        z-index: 999;
        font-size: 12px;
        line-height: 20px;
        padding: 15px 30px 25px;
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
        opacity: 0;
        visibility: hidden;
        margin: 0px 0 0 -25px;
        transition: all ease 300ms;

        &-close-btn {
            background: none;
            border: none;
            position: absolute;
            display: none;
            top: 18px;
            right: 20px;
            color: #979797;

            @media only screen and (max-width: 1100px) {
                display: block;
            }

        }

        &-title {
            font-weight: 700;
        }

        &-list {
            padding: 0px;
            margin: 0;
            list-style-type: none;

            li {
                margin: 3px 0;
            }

            i {
                margin-right: 5px;
            }

        }
    }


    .dropdown-menu-settings {
        width: 315px;
        margin-top: 0px;
        border-color: transparent;
        background: #FFFFFF;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        font-size: 14px;
        line-height: 30px;
        padding: 30px 41px 29px;
        color: #000;
        z-index: 10000;
        font-weight: 400;

        &::before {
            width: 45px;
            height: 10px;
            background-color: #fff;
            position: absolute;
            display: block;
            right: -1px;
            top: -10px;
            content: "";
        }

    }

    .dropdown-menu__btn-wrap {
        text-align: right;
        padding-top: 10px;

        .btn.btn-p25 {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &__table {
        margin-bottom: 20px;

        .table-responsive {
            overflow-y: hidden;
        }

        table {
            min-width: 1140px;
            margin-bottom: 0;
            color: #000;

            > thead {
                > tr {
                    > th {
                        line-height: 1.20;
                        padding: 6px 8px 3px;
                        height: 64px;

                        &.cell-head-status-icon {
                            width: 20px;
                        }

                        &.cell-head-settings {
                            text-align: right;
                            color: #337AB7;

                            .btn.dropdown-toggle {
                                background: none;
                                padding: 0;
                                width: 30px;
                                height: 30px;
                                z-index: 20;

                                &:hover {
                                    color: #337AB7;
                                    background-color: #fff;
                                }

                                &[aria-expanded="true"] {
                                    color: #337AB7;
                                    background-color: #fff;
                                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
                                }

                            }

                            i {
                                font-size: 16px;
                            }
                        }

                    }
                }
            }

            > tbody > tr {

                &:last-child,
                &:nth-last-child(2) {
                    .candidates__tooltip {
                        top: auto;
                        bottom: 100%;
                    }
                }

                > td {
                    line-height: 1.20;
                    vertical-align: top;
                    position: relative;
                    padding-top: 11px;
                    padding-bottom: 8px;

                    time {
                        display: block;
                        color: #555555;
                        margin: 5px 0 0;
                    }

                    &.cell-btn {
                        white-space: nowrap;
                        text-align: right;

                        .btn {
                            height: 30px;
                            width: 30px;
                            padding: 0;

                            line-height: 28px;
                        }
                    }

                    &:hover .candidates__tooltip {
                        @media only screen and (min-width: 1100px) {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    &.showTooltip .candidates__tooltip {
                        opacity: 1;
                        visibility: visible;
                    }

                    img {
                        margin-top: 4px;
                    }

                    .name {
                        font-weight: 700;
                    }

                    &.cell-status--new {
                        background-color: #FFDDAB;
                    }

                    &.cell-status--wait {
                        background-color: #FFEBCF;
                    }

                    &.cell-status--appoint-interview {
                        background-color: #FFFFC4;
                    }

                    &.cell-status--appoint-test {
                        background-color: #ECF6FF;
                    }

                    &.cell-status--success {
                        background-color: #E1F6CC;
                    }

                    &.cell-status--fail {
                        background-color: #FFD4D4;
                    }

                    .cell-inline-status {
                        font-size: 16px;
                        text-align: center;

                        &--new {
                            font-size: 10px;
                            font-weight: bold;
                            color: #5CB85C;
                            text-transform: uppercase;
                        }

                        &--progress {
                            color: #000;
                        }

                        &--dismiss {
                            color: #FF0000;
                        }

                    }


                    .cell-target-date {
                        font-size: 12px;
                        color: #000;
                        display: block;
                        margin-top: 15px;

                        i {
                            margin-right: 5px;
                        }

                    }

                }

                &.primary > td {
                    background: #ECF6FF;
                }
            }
        }

        @media (max-width: 991px) {
            position: relative;
            &:before {
                content: "";
                width: 35px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.1) 100%);
            }

            &:after {
                content: "";
                width: 35px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.9) 100%);
            }
        }
    }

    &__table-profile-button {
        &--check {
            color: #38A138 !important;
        }

        &--exclamation {
            color: #FF7500 !important;
        }

        &--minus {
            color: #FF0000 !important;
        }
    }

    &__additional-filters {
        display: flex;
        align-items: flex-start;
        margin-top: -4px;

        .candidates__additional-filter,
        .candidates__additional-filters-apply-button {
            &:not(:first-child) {
                margin-left: 30px;
            }
        }

        .candidates__period-additional-filter {
            max-width: 360px;
        }

        .candidates__group-by-additional-filter {
            width: 100%;
            max-width: 165px;
        }

        .candidates__additional-filters-apply-button {
            margin-top: 24px;
        }
    }

    &__period-additional-filter {
        .input-groups-periods {
            margin-top: 0;
        }
    }

    #stackedColumn1 {
        height: 530px;
    }

    #stackedColumn2 {
        height: 511px;
    }

    #stackedColumn3 {
        height: 511px;
    }

    #stackedColumn4 {
        height: 436px;
    }

    #stackedColumn5 {
        height: 511px;
    }
}

#modalStackedColumnCharts .stacked-column-chart > * {
    height: 330px;
}


@import 'https://code.highcharts.com/css/highcharts.css';

.charts {
    .round-chart {
        .highcharts-point {
            stroke: #FFF !important;
        }
    }

    .sales-funnel-chart {
        .highcharts-axis {
            display: none;
        }

        .highcharts-data-label {
            text {
                fill: #FFF;
            }
        }

        .highcharts-axis-labels {
            fill: #333;
        }

        /*        .highcharts-tooltip-content {
                    background: #f7f7f7;
                    padding: 8px;
                    opacity: 0.85;
                    left: -8px;
                    top: -8px;
                    border-radius: 2px;
                    position: relative;
                }

                .highcharts-tooltip-box {
                    visibility: hidden;
                }*/
    }

    .stacked-column-chart {
        .highcharts-legend-item {
            & > span {
                width: unset;

                & > span {
                    white-space: nowrap !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.charts,
.mod-charts {
    .highcharts-color-0 {
        fill: #7cb5ec;
        background-color: #7cb5ec;
        stroke: #7cb5ec !important;
    }

    .highcharts-color-1 {
        fill: #337AB7;
        background-color: #337AB7;
        stroke: #337AB7 !important;
    }

    .highcharts-color-2 {
        fill: #90ed7d;
        background-color: #90ed7d;
        stroke: #90ed7d !important;
    }

    .highcharts-color-3 {
        fill: #f7a35c;
        background-color: #f7a35c;
        stroke: #f7a35c !important;
    }

    .highcharts-color-4 {
        fill: #8085e9;
        background-color: #8085e9;
        stroke: #8085e9 !important;
    }

    .highcharts-color-5 {
        fill: #f15c80;
        background-color: #f15c80;
        stroke: #f15c80 !important;
    }

    .highcharts-color-6 {
        fill: #e4d354;
        background-color: #e4d354;
        stroke: #e4d354 !important;
    }

    .highcharts-color-7 {
        fill: #2b908f;
        background-color: #2b908f;
        stroke: #2b908f !important;
    }

    .highcharts-color-8 {
        fill: #f45b5b;
        background-color: #f45b5b;
        stroke: #f45b5b !important;
    }

    .highcharts-color-9 {
        fill: #91e8e1;
        background-color: #91e8e1;
        stroke: #91e8e1 !important;
    }

    .highcharts-color-10 {
        fill: #888888;
        background-color: #888888;
        stroke: #888888 !important;
    }

    .highcharts-color-11 {
        fill: #C07ED8;
        background-color: #C07ED8;
        stroke: #C07ED8 !important;
    }

    .highcharts-color-12 {
        fill: #5AB751;
        background-color: #5AB751;
        stroke: #5AB751 !important;
    }

    .highcharts-color-13 {
        fill: #434348;
        background-color: #434348;
        stroke: #434348 !important;
    }

    .highcharts-color-14 {
        fill: #B90000;
        background-color: #B90000;
        stroke: #B90000 !important;
    }

    .highcharts-color-15 {
        fill: #800000;
        background-color: #800000;
        stroke: #800000 !important;
    }

    .highcharts-color-16 {
        fill: #FF8C00;
        background-color: #FF8C00;
        stroke: #FF8C00 !important;
    }

    .highcharts-color-17 {
        fill: #9ACD32;
        background-color: #9ACD32;
        stroke: #9ACD32 !important;
    }

    .highcharts-color-18 {
        fill: #20B2AA;
        background-color: #20B2AA;
        stroke: #20B2AA !important;
    }

    .highcharts-color-19 {
        fill: #FF00FF;
        background-color: #FF00FF;
        stroke: #FF00FF !important;
    }

    .highcharts-color-20 {
        fill: #FFE4E1;
        background-color: #FFE4E1;
        stroke: #FFE4E1 !important;
    }

    .highcharts-color-21 {
        fill: #8B4513;
        background-color: #8B4513;
        stroke: #8B4513 !important;
    }

    .highcharts-color-22 {
        fill: #D2B48C;
        background-color: #D2B48C;
        stroke: #D2B48C !important;
    }

    .highcharts-color-23 {
        fill: #BDB76B;
        background-color: #BDB76B;
        stroke: #BDB76B !important;
    }

    .highcharts-color-24 {
        fill: #6B8E23;
        background-color: #6B8E23;
        stroke: #6B8E23 !important;
    }

    .highcharts-color-25 {
        fill: #66CDAA;
        background-color: #66CDAA;
        stroke: #66CDAA !important;
    }

    .highcharts-color-26 {
        fill: #5F9EA0;
        background-color: #5F9EA0;
        stroke: #5F9EA0 !important;
    }

    .highcharts-color-27 {
        fill: #E6E6FA;
        background-color: #E6E6FA;
        stroke: #E6E6FA !important;
    }

    .highcharts-color-28 {
        fill: #191970;
        background-color: #191970;
        stroke: #191970 !important;
    }

    .highcharts-color-29 {
        fill: #BA55D3;
        background-color: #BA55D3;
        stroke: #BA55D3 !important;
    }

    .highcharts-color-30 {
        fill: #696969;
        background-color: #696969;
        stroke: #696969 !important;
    }

    .highcharts-color-31 {
        fill: #FF4500;
        background-color: #FF4500;
        stroke: #FF4500 !important;
    }

    .highcharts-color-32 {
        fill: #FFFF00;
        background-color: #FFFF00;
        stroke: #FFFF00 !important;
    }

    .highcharts-color-33 {
        fill: #00FF00;
        background-color: #00FF00;
        stroke: #00FF00 !important;
    }

    .highcharts-color-34 {
        fill: #4169E1;
        background-color: #4169E1;
        stroke: #4169E1 !important;
    }

    .highcharts-color-35 {
        fill: #DC143C;
        background-color: #DC143C;
        stroke: #DC143C !important;
    }

    .highcharts-color-36 {
        fill: #A0522D;
        background-color: #A0522D;
        stroke: #A0522D !important;
    }

    .highcharts-color-37 {
        fill: #DEB887;
        background-color: #DEB887;
        stroke: #DEB887 !important;
    }

    .highcharts-color-38 {
        fill: #F0E68C;
        background-color: #F0E68C;
        stroke: #F0E68C !important;
    }

    .highcharts-color-39 {
        fill: #8FBC8F;
        background-color: #8FBC8F;
        stroke: #8FBC8F !important;
    }

    .highcharts-color-40 {
        fill: #2E8B57;
        background-color: #2E8B57;
        stroke: #2E8B57 !important;
    }

    .highcharts-color-41 {
        fill: #2F4F4F;
        background-color: #2F4F4F;
        stroke: #2F4F4F !important;
    }

    .highcharts-color-42 {
        fill: #DB7093;
        background-color: #DB7093;
        stroke: #DB7093 !important;
    }

    .highcharts-color-43 {
        fill: #8A2BE2;
        background-color: #8A2BE2;
        stroke: #8A2BE2 !important;
    }

    .highcharts-color-44 {
        fill: #E9967A;
        background-color: #E9967A;
        stroke: #E9967A !important;
    }

    .highcharts-color-45 {
        fill: #228B22;
        background-color: #228B22;
        stroke: #228B22 !important;
    }

    .highcharts-color-46 {
        fill: #98FB98;
        background-color: #98FB98;
        stroke: #98FB98 !important;
    }

    .highcharts-color-47 {
        fill: #C71585;
        background-color: #C71585;
        stroke: #C71585 !important;
    }

    .highcharts-color-48 {
        fill: #DA70D6;
        background-color: #DA70D6;
        stroke: #DA70D6 !important;
    }

    .highcharts-color-49 {
        fill: #1E90FF;
        background-color: #1E90FF;
        stroke: #1E90FF !important;
    }

    .highcharts-color-50 {
        fill: #FFA500;
        background-color: #FFA500;
        stroke: #FFA500 !important;
    }

    .highcharts-color-51 {
        fill: #FFF;
        background-color: #FFF;
        stroke: #FFF !important;
    }

    .highcharts-color-52 {
        fill: #CDCDCD;
        background-color: #CDCDCD;
        stroke: #CDCDCD !important;
    }

    .highcharts-color-53 {
        fill: #5CB85C;
        background-color: #5CB85C;
        stroke: #5CB85C !important;
    }

    .highcharts-color-54 {
        fill: #1C7B7A;
        background-color: #1C7B7A;
        stroke: #1C7B7A !important;
    }

    .highcharts-color-55 {
        fill: #2B9BFC;
        background-color: #2B9BFC;
        stroke: #2B9BFC !important;
    }
}

.charts {
    display: flex;
    flex-wrap: wrap;

    .chart {
        float: none !important;

        &__name {
            width: calc(100% - 70px);
            white-space: normal;
        }

        &__num {
            font-weight: 700;
            text-align: right;
            width: 25px;
            margin-left: 6px;
            margin-right: 6px;
        }

        &__percent {
            width: 25px;
        }
    }

    .highcharts-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
    }

    .highcharts-legend-item > span {
        display: flex !important;
        width: 200px;
        color: #333;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 14px;
        margin: 0 auto;
    }

    .chart--modal {
        .highcharts-legend-item > span {
            width: 50px !important;

            .chart__num {
                margin-left: 0;
                width: 15px;
            }

            .chart__percent {
                width: 20px;
            }
        }
    }

    .chart--xs {
        .highcharts-legend-item > span {
            width: 80px !important;
        }
    }

    .chart--small {
        .highcharts-legend-item > span {
            width: 120px !important;
        }
    }

    .chart--big {
        .highcharts-legend-item > span {
            width: 150px !important;
        }
    }

    .chart--single-legend {
        .highcharts-legend-item > span {
            width: 300px !important;
        }
    }

    .highcharts-credits {
        display: none;
    }

    @media (max-width: 991px) {
        .chart {
            &__num {
                margin-left: 6px;
                margin-right: 6px;
            }
        }
    }
}

.mod-charts {
    width: 730px;

    .modal-content {
        border: none;
        width: 730px;
    }

    .modal-header {
        padding: 18px 0 19px 45px;

        .close {
            position: absolute;
            top: 17px;
            right: 17px;
        }
    }

    .modal-body {
        padding: 20px 22px 20px 45px;
        position: relative;

        &:after {
            content: "";
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
            position: absolute;
            bottom: 20px;
            left: 0;
            width: 100%;
            height: 35px;
        }
    }

    .scrollbar-inner {
        overflow-y: hidden;
        height: 80vh;
    }

    .mod-legend {
        .flex();
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-bottom: -5px;

        &__point {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 8px;
        }

        &__line {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 12px;
            margin-right: 20px;
            margin-bottom: 5px;
        }
    }

    &__form-group {
        display: flex;
        align-items: center;

        label {
            margin: 0;
        }

        .form-control {
            width: 200px;
            margin-left: 10px;
        }
    }
}
