.candidate-costs {
    &__content {
        .candidate-costs__filters {
            max-width: 1039px;
            margin-top: 25px;
        }

        .candidate-costs__body {
            max-width: 1039px;
            margin-top: 25px;
        }
    }

    &__header {
        padding-bottom: 10px;
        border-bottom: 1px solid #DDDDDD;
    }

    &__filters {
        .candidate-costs__filters-row {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        .candidate-costs__filter {
            &:not(:first-child) {
                margin-left: 30px;
            }
        }

        .candidate-costs__period-filter {
            width: 360px;
            flex-shrink: 0;
        }

        .candidate-costs__connection-channel-filter {
            width: 100%;
        }

        .candidate-costs__filters-actions {
            margin-left: auto;
        }
    }

    &__filters-row {
        display: flex;
        align-items: flex-start;
    }

    &__filters-actions {
        .candidate-costs__filters-apply-button {
            margin-left: 12px;
        }
    }

    &__period-filter {
        .input-groups-periods {
            margin-top: 0;
        }

        .form-group {
            margin-bottom: 0;
        }
    }

    &__connection-channel-filter {
        .form-group {
            margin-bottom: 0;
        }
    }

    &__empty-period-filter {
        padding-top: 8px;
    }

    &__body {
        display: flex;
        align-items: flex-start;

        .candidate-costs__total {
            position: sticky;
            top: 16px;
            margin-right: 30px;
            min-width: 164px;
        }
    }

    &__total {
        padding: 20px;

        background: #F5F5F5;

        .candidate-costs__total-additional-block {
            margin-top: 18px;
        }
    }

    &__total-main-block {
        padding-bottom: 18px;
        border-bottom: 1px solid #CCCCCC;

        .candidate-costs__total-main-block-label {
            display: block;
        }

        .candidate-costs__total-main-block-value {
            display: block;
            margin-top: 3px;
        }
    }

    &__total-main-block-label {
        font-size: 12px;
        color: #555555;
    }

    &__total-main-block-value {
        font-weight: bold;
        font-size: 26px;
        line-height: 100%;
        color: #000000;
    }

    &__total-additional-block {
        display: flex;
        align-items: center;

        .candidate-costs__total-additional-block-icon {
            width: 20px;
            margin-right: 8px;
        }
    }

    &__total-additional-block-icon {
        text-align: center;
        font-size: 12px;
        color: #555555;
    }

    &__total-additional-block-label {
        display: none;

        font-size: 12px;
        color: #555555;
    }

    &__total-additional-block-value {
        font-weight: bold;
        font-size: 16px;
        line-height: 100%;
        color: #000000;
    }

    &__table-wrapper {
        .candidate-costs__table {
            margin-top: 16px;
        }
    }

    &__page-size-selector {
        .candidate-costs__page-size-selector-item:not(:first-child) {
            margin-left: 3px;
        }
    }

    &__page-size-selector-item {
        text-decoration: none !important;

        &--active {
            color: #000000;
        }
    }

    &__table {
        font-size: 12px;
        color: #000;

        & > thead > tr > th {
            border-bottom: none;

            line-height: 110%;
            vertical-align: middle;
        }

        & > tbody > tr > td {
            vertical-align: middle;
        }

        input {
            height: 30px;

            font-size: 12px;
        }

        .form-group {
            margin-bottom: 0;
            width: 100%;
        }
    }

    &__table-total-row {
        & > td {
            border-top: 2px solid #DDDDDD !important;
            border-bottom: 1px solid #DDDDDD !important;

            font-weight: bold;
        }
    }

    &__table-month-row {
        min-height: 50px;

        &:not(:first-child) {
            .candidate-costs__table-period-cell {
                border-top: none;
            }
        }

        &--editing {
            .candidate-costs__table-total-cell {
                opacity: 0.3;
            }
        }

        &--empty {
            &:not(.candidate-costs__table-month-row--editing) {
                td:not(.candidate-costs__table-period-cell) {
                    background-color: #FFD4D4;
                }
            }
        }
    }

    &__table-period-cell {
        font-weight: bold;
    }

    &__table-month-cell {
        padding-left: 20px !important;
    }

    &__table-total-head-cell {
        text-align: center;
    }

    &__table-total-cell {
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
    }

    &__table-hh-head-cell,
    &__table-employee-referral-head-cell,
    &__table-referral-head-cell,
    &__table-site-head-cell {
        text-align: center;
    }

    &__table-hh-cell,
    &__table-employee-referral-cell,
    &__table-referral-cell,
    &__table-site-cell {
        min-width: 136px;

        text-align: center;
        white-space: nowrap;

        .form-group {
            display: flex;
            justify-content: center;

            .form-control {
                max-width: 68px;
            }
        }

        .form-control {
            text-align: center !important;
        }
    }

    &__table-actions-head-cell {
        width: 92px;
    }

    &__table-actions-cell {
        text-align: end;
        white-space: nowrap;
        width: 92px;
    }

    &__table-row-button {
        width: 30px;
        height: 30px;
    }

    &__table-row-reset-button {
        color: #FF0000 !important;
    }

    &__table-row-save-button {
        margin-left: 4px;

        color: #38A138 !important;
    }
}

@media (max-width: 1301px) {
    .candidate-costs {
        &__content {
            .candidate-costs__filters {
                max-width: unset;
            }

            .candidate-costs__body {
                max-width: unset;
            }
        }

        &__body {
            flex-direction: column;
            align-items: stretch;

            .candidate-costs__total {
                position: unset;
                top: unset;
                margin-right: unset;
                min-width: unset;
                height: 60px;
                width: 100%;
            }

            .candidate-costs__table-wrapper {
                margin-top: 20px;
            }
        }

        &__total {
            display: flex;
            padding: 0;

            .candidate-costs__total-additional-block {
                flex-grow: 1;
                margin-top: 0;
                margin-left: 14px;
            }
        }

        &__total-main-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 27px;
            padding-bottom: 0;
            padding-left: 15px;
            border-bottom: none;
            border-right: 1px solid #CCCCCC;

            .candidate-costs__total-main-block-value {
                margin-top: 3px;
            }
        }

        &__total-main-block-value {
            font-size: 16px;
        }

        &__total-additional-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .candidate-costs__total-additional-block-value {
                margin-top: 3px;
            }
        }

        &__total-additional-block-icon {
            display: none;
        }

        &__total-additional-block-label {
            display: block;

            font-size: 12px;
            color: #555555;
        }

        &__total-additional-block-value {
            font-weight: bold;
            font-size: 16px;
            color: #000000;
        }

        &__table-hh-cell,
        &__table-employee-referral-cell,
        &__table-referral-cell,
        &__table-site-cell {
            min-width: 84px;
            width: 84px;
        }
    }
}
