.candidates {
    &__head {
        .flex();
        align-items: center;
        h1 {
            margin-right: auto;
        }
        .btn {
            margin-left: 11px;
            &.btn-icon i {
                margin-right: 9px;
            }
        }
        + hr {
            margin-bottom: 17px;
        }
    }
    &__form {
        &-right {
            .flex();
            justify-content: flex-end;
            .dropdown-quest {
                .dropdown-menu {
                    right: 0;
                    left: auto;
                    min-width: 100%;
                }
            }
        }
    }
    &__table {
        margin-bottom: 20px;
        table {
            min-width: 1140px;
            margin-bottom: 0;
            > thead {
                > tr {
                    > th {
                        line-height: 1.20;
                        padding: 12px 8px;
                        &.cell-head-date {
                            width: 80px;
                        }
                        &.cell-head-name {
                            width: 245px;
                        }
                        &.cell-head-exp {
                            width: 63px;
                        }
                        &.cell-head-post {
                            min-width: 95px;
                        }
                        &.cell-head-branch {
                            min-width: 85px;
                        }
                        &.cell-head-status {
                            min-width: 146px;
                        }
                        &.cell-head-country {
                            width: 60px;
                        }
                        &.cell-head-from {
                            width: 60px;
                        }
                        &.cell-head-btn {
                            width: 210px;
                        }
                    }
                }
            }
            > tbody > tr {
                > td {
                    line-height: 1.20;
                    .select2-container .select2-search--inline .select2-search__field {
                        margin-top: 9px;
                    }
                    &.cell-btn {
                        .btn {
                            width: 36px;
                            height: 34px;
                            padding: 0;
                        }
                    }
                    .name {
                        padding-bottom: 3px;
                        font-weight: 700;
                    }
                    .date {
                        padding-top: 6px;
                    }
                }
                &.primary > td {
                    background: #ECF6FF;
                }
            }
        }
        @media (max-width: 991px) {
            position: relative;
            &:before {
                content: "";
                width: 35px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.1) 100%);
            }
            &:after {
                content: "";
                width: 35px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.9) 100%);
            }
        }
    }
}