.form-claim {
    max-width: 730px;
    margin-bottom: 30px;

    .form-group-radio {
        .btn-group {
            margin-top: 25px;
            display: block;
            
            .btn {
                .fa {
                    margin-left: 10px;
                    font-size: 12px;
                }

                &.btn-claim {
                    width: 45%;

                    &.active {
                        background-color: #ffa9b1;
                    }
                }

                &.btn-offer {
                    width: 55%;
                    
                    &.active {
                        background-color: #e1f6cc;
                    }
                }
            }
        }
    }
    
    .form-btns {
        margin-top: 10px;

        .checkbox {
            float: left;
            margin: 5px 0 0 0;
        }
    }
}

.table-claim {
    > tbody {
        > tr {
            > td {
                vertical-align: middle;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            
            &.row-open {
                > td {
                    padding-top: 30px;
                    vertical-align: top;
                    
                    &.cell-claim {
                        padding-top: 15px; 
                    }
                }
            }
        }
    }

    .panel-action-feedback {
        .fa {
            margin-right: 0;
        }
    }
    
    .date-time {
        white-space: nowrap;
        
        > span {
            margin-left: 5px;
        }
    }
    
    .cell-status {
        > span {
            text-transform: lowercase;
        }

        &.status-processed {
            > span {
                display: inline-block;
                padding: 5px 10px;
                margin-top: 4px;
                background-color: #e1f6cc;
            }
        }
    }
    
    .cell-btns {
        width: 150px;
    }
    
    .cell-claim {
        font-size: 14px;
        font-weight: normal;
        padding-right: 20px;
        
        > p {
            margin-bottom: 0px;
        }
        
        .txt-answ {
            margin-top: 15px;
            margin-bottom: 15px;

            > strong {
                display: block;
            }
        }
        
        .txt-quest {
            .link-more {
                margin-left: 8px;
            }
        }
        
        .btn-show-hide {
            font-size: 12px;
            padding-left: 0px;
        }
    }
}

@media (max-width: 991px) {
    .form-claim {
        max-width: none;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .table-claim {
        > thead {
            > tr {
                > th {
                    width: auto !important;
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    
                    &.cell-claim {
                        padding-top: 10px; 
                        padding-right: 8px;
                    }
                }
                
                &.row-without-border {
                    > td {
                        border-top: 0;
                    }
                }
                
                &.row-open {
                    > td {
                        padding-top: 10px;
                    }
                }
            }
        }
        
        .cell-claim {
            .txt-answ {
                margin: 0;
            }
        }
        
        .cell-status {
            &.status-processed {
                > span {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .form-claim {
        margin-top: 20px;

        .form-group-radio {
            .btn-group {
                margin-top: 0;
                
                .btn {
                    width: 50%;
                }
            }
        }
        
        .form-btns {
            margin-top: 0px;

            .checkbox,
            .btn {
                float: none;
            }
            
            .btn {
                margin-top: 30px;
                width: 100%;
            }
        }
    }

    .table-claim {
        border-bottom-width: 2px !important;
        border-top-width: 1px;

        > tbody {
            > tr {
                border-bottom: 0 !important;
                border-top: 1px solid #ddd;
                padding-top: 15px !important;
                padding-bottom: 15px !important;
                
                &.visible-xs {
                    display: block !important;
                }

                > td {
                    padding-top: 4px;
                    
                    &.cell-claim {
                        padding-top: 4px; 
                        padding-left: 0px;
                        padding-right: 0px;
                        
                        .txt-answ {
                            margin: 0;
                        }

                        .btn-show-hide {
                            margin-top: 10px;
                        }
                    }
                    
                    &.cell-btns {
                        padding-left: 0;
                        padding-top: 15px;
                    }
                    
                    &.cell-status {                        
                        &.status-processed {
                            &:before {
                                top: 9px;
                            }
                            
                            > span {
                                margin: 0 0 0 -10px;
                                padding: 5px 10px;
                            }
                        }
                    }

                    &.visible-xs {
                        display: block !important;
                    }
                }
                
                &.row-without-border {
                    border-top: 0px;
                    padding-top: 0px !important;
                }
                
                &.row-open {
                    > td {
                        padding-top: 4px;
                        
                        &.cell-claim {
                            padding-top: 4px;
                        }
                    }
                }
            }
        }
    }
}