.create-legal-entity {
    &__tab-group {
        margin-top: 28px;

        .nav {
            display: flex;

            border-bottom: none;

            li {
                width: 100%;

                &:not(:first-child) {
                    margin-left: 6px;
                }
            }
        }

        .nav li {
            background: #E6E6E6;
            border-radius: 4px;
            cursor: pointer;

            a {
                margin: 0 !important;
                padding: 9px 16px;
                background: none !important;
                border: none !important;
                cursor: pointer !important;
                font-size: 14px;
                color: #777777;
            }

            &.active {
                background: #FFF;
                border: 1px solid #CCCCCC;

                a {
                    font-weight: bold;
                    color: #333333;
                }
            }
        }

        .tab-content {
            max-width: 635px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;

        & > * {
            float: none !important;
        }
    }

    &__name-input-group {
        position: relative;
        width: 100%;

        .input-group-addon {
            display: flex;
            height: 100%;
            width: unset;
            align-items: center;
            position: absolute;
            left: 0;
            z-index: 4;
            padding-left: 19px;
            padding-right: 0;

            color: #555555;
            background: none;
            border: none;
        }

        .form-control {
            border-top-left-radius: 4px !important;
            border-bottom-left-radius: 4px !important;
        }
    }

    &__individual-name-input-group {
        .form-control {
            padding-left: 48px;
        }
    }

    &__ltd-name-input-group {
        .form-control {
            padding-left: 60px;
        }
    }

    &__datepicker {
        .input-group-btn .btn {
            color: #337ab7;
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;

        .btn {
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}
