.create-contract {
    &__head {
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    &__row {
        .select2 {
            width: 100% !important;
        }
    }

    &__branches-form-control {
        display: flex;

        .btn-group {
            flex-shrink: 0;
        }

        .select2 {
            margin-left: 15px !important;
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;

        .btn {
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    &__editor-shortcuts {
        margin-top: 24px;

        a {
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &__editor-shortcuts-header {
        font-weight: bold;
        font-size: 14px;
    }

    &__editor-shortcuts-search {
        margin-top: 14px;
    }

    &__editor-shortcuts-list {
        margin-top: 18px;
        max-height: 480px;

        &.scrollbar-inner {
            .scroll-element.scroll-y {
                width: 6px;
                right: 0;
            }

            .scroll-element .scroll-bar {
                background-color: #CDCDCD;
                opacity: 1;
            }

            .scroll-element .scroll-element_track {
                background-color: #EEEEEE;
                opacity: 1;
            }
        }
    }

    &__editor-shortcut {
        &:not(:first-child) {
            margin-top: 2px;
        }
    }

    &__editor-shortcut-copy-button {
        background-color: #fff;
        margin-right: 8px;
        color: #555;
        padding: 0;
        position: relative;
        top: -1px;

        &:hover,
        &:focus {
            color: #000;
        }
    }
}

@keyframes bounceIn {
    from,20%,40%,60%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3)
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1, 1.1, 1.1)
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1, 1.03, 1.03)
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97)
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn
}
