.content-delivery-settings {

  max-width: 768px;

  /*
     первый элемент будет показан как placeholder
     <option value="" disabled selected hidden>first option</option>
  */
  select:invalid {
    color: #999999;
    option {
      color: black;
    }
  }

  .cities-group-radio {
    margin-bottom: 25px;
    .btn-group {
    	margin-top: -3px;
    	.btn {
    		margin-top: 3px;
    		margin-right: 5px;
    		border-radius: 4px !important;
    		
    		&:last-child {
    			margin-right: 0;
    		}
    	}
    }    
  }
  .cities-group-select {
    margin-top: 5px;
    margin-bottom: 25px;
    display: none;
  }

  .day-of-week {
    position: relative;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 30px;
    margin-bottom: 20px;
    .btn-close {
      background-color: #FF0000;
      color: #ffffff;
      top: -2px;
      right: 0;
      position: absolute;
      width: 34px;
      height: 34px;
      padding: 6px 6px;
    }

    .day-of-week-body {
      display: flex;
      .day-of-week-select {
        width: 30%;
        margin-right: 30px;
      }
      .time-interval-list {
        width: 70%;

        .time-interval {
          display: flex;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          .form-group {
            margin-bottom: 0px;
            &.form-group--time1 {
              flex-basis: 48%;
              margin-right: 15px;
            }
            &.form-group--time2 {
              flex-basis: 25%;
            }
            &.form-group--time2label {
              padding: 5px 0 0 12px;
              display: none;
            }
          }

          .ctrl-btns {
            flex-basis: 27%;
            padding-left: 25px;
            padding-top: 30px;

            .abtn {
              display: inline-block;
              width: 24px;
              height: 20px;
              text-align: center;
              cursor: pointer;
              &.abtn-delete {
                color: #ff0000;
              }
              &.abtn-add {
                color: #38a138;
              }
            }
          }

        }

      }

    }
  }

  .datetimeperiod-group {
    display: flex;
    vertical-align: middle;
    &.timepicker {
      padding: 0px;
    }
    label {
      flex: auto;
      text-align: center;
      width: 16px;
      margin: 6px 0px 0 0px;
      &.label-w2 {
        min-width: 15px;
      }
    }
  }

  .form-btns {
    display: flex;
    flex-wrap: wrap;
    .form-btn {
      margin-bottom: 20px;
      &.form-btn-start {
        width: 37%;
      }
      &.form-btn-end {
        width: 63%;
        text-align: right;
        button:not(:last-child) {
          margin-right: 10px;
        }
      }
      .btn {
        float: none !important;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

}

@media (max-width: 540px) {

  .content-delivery-settings {

    .day-of-week {
      .btn-close {
        top: -2px;
      }

      .day-of-week-body {
        flex-direction: column;
        .day-of-week-select {
          width: 70%;
          label {
            display: none;
          }
        }
        .time-interval-list {
          width: 100%;

          .time-interval {
            .form-group {
              &.form-group--time1 {
                & > label {
                  display: none;
                }
              }
              &.form-group--time2 {
                label {
                  display: none;
                }
              }
              &.form-group--time2label {
                flex-basis: 3%;
                display: block;
                padding-left: 10px;
              }
            }

            .ctrl-btns {
              flex-basis: 24%;
              padding-left: 15px;
              padding-top: 5px;
            }
          }

        }

      }

    }

    .form-btns {
      .form-btn {
        &.form-btn-start {
          width: 100%;
          button {
            width: 100%;
          }
        }
        &.form-btn-end {
          width: 100%;
          display: flex;
          justify-content: space-around;
          button {
            flex-basis: 50%;
            &:not(:last-child) {
              margin-right: 20px;
            }
          }
        }
      }
    }

  }

}

@media (max-width: 480px) {

  .content-delivery-settings {

    .day-of-week {
      padding-bottom: 25px;
    }

  }

}
