//************ Statuses of deposits
.stat-dep-without {
    background-color: #ededed;
}

.stat-dep-partly {
    background-color: #ffd4d4;
}

.stat-dep-all {
    background-color: #e1f6cc;
}

.stat-dep-not {
    background-color: #ffa9b1;
}

.stat-dep-more {
    background-color: #ffffb2;
}


//************ Current sum of deposits
.block-deposit {
    margin-bottom: 20px;

    .current-sum {
        float: left;
        font-size: 20px;
        font-weight: 600;
        padding: 0 10px;
        height: 36px;
        line-height: 36px;
        vertical-align: middle;
        margin-right: 15px;
        
        .fa {
            font-size: 18px;
            color: #333;
        }
    }
    
    .all-sum {
        float: left;
        width: 200px;
        font-size: 12px;
        padding-top: 1px;
    }
}

//************ Form
.form-mandep-operat {
    .btn-group {
        margin-top: 25px;
    }
    
    .form-btns {
        margin-top: 15px;

        .checkbox {
            float: left;
            margin-top: 8px;
        }
    }
}

.form-deposits {
    .form-group-sum {
        width: 20%;
    }
    
    .block-sum {
        white-space: nowrap;
        
        .form-control {
            width: 36%;
            text-align: center;
            display: inline-block;
            margin: 0 5px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    } 
}

//************ Table
.table-mandep {
    .cell-sum {
        white-space: nowrap;
    }
    
    .cell-dep {
        text-align: center;
    }
}

.table-deposits {
    .cell-sum {
        text-align: center;
        white-space: nowrap;
    }
    
    .cell-dep {
        width: 130px;
        text-align: center;
    }
}

@media (max-width: 1280px) {
    .col-mandep-history {
        width: 55%;
    }
    
    .col-mandep-operations {
        width: 41%;
        margin-left: 4%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-mandep-history {
        width: 55%;
    }

    .col-mandep-operations {
        width: 44.5%;
        margin-left: 0.5%;
    }
}

@media (max-width: 991px) {
    .col-mandep-history {
        width: 100%;
    }

    .col-mandep-operations {
        width: 100%;
        margin-left: 0;
    }
    
    .col-mandep-operations {
        .form-mandep-operat {
            .form-btns {
                width: auto;
                margin-top: 25px;
                
                .checkbox {
                    margin-right: 30px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .block-deposit {
        margin-bottom: 5px;
        
        .current-sum {
            font-size: 12px;
            padding: 5px 10px;
            height: auto;
            line-height: inherit;
            
            .fa {
                font-size: inherit;
            }
        }
    }
    
    .table-mandep {
        > thead {
            display: none;
        }
        
        > tbody {
            > tr {
                display: block;
                padding-bottom: 20px;
                padding-top: 20px;
                border-bottom: 1px solid #ddd;
                
                &:last-child {
                    border-bottom: 0;
                }
                
                > td {
                    padding-left: 120px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    display: block;
                    border-top: 0;
                }
            }
        }
        
        td {
            position: relative;
            
            &:before {
                content: attr(data-label);
                position: absolute;
                top: 4px;
                left: 0px;
            }
        }
        
        .cell-align-center {
            text-align: left;
        }
        
        .cell-dep {
            background-color: transparent;
            text-align: left;
            
            &:before {
                top: 9px;
            }
            
            > span {
                padding: 5px 10px;
                display: inline-block;
                min-width: 80px;
                text-align: center;
            }
            
            &.stat-dep-without {
                > span {
                    background-color: #ededed;
                }
            }
            
            &.stat-dep-partly {
                > span {
                    background-color: #ffd4d4;
                }
            }
            
            &.stat-dep-all {
                > span {
                    background-color: #e1f6cc;
                }
            }
            
            &.stat-dep-not {
                > span {
                    background-color: #ffa9b1;
                }
            }
            
            &.stat-dep-more {
                > span {
                    background-color: #ffffb2;
                }
            }
        }
    }
    
    .col-mandep-operations {
        .form-mandep-operat {
            .form-btns {
                margin-top: 20px;
                
                .checkbox {
                    margin: 0px 0px 20px 0px;
                }
            }
        }
    }    
}