.discount-coupons {
	.coupons-btn-block {
		margin-bottom: 22px;
		.btn:not(:last-child) {
			margin-right: 7px;
		}
	}
	.change-period-block {
		span {
			&.click {
				color: #337ab7;
				cursor: pointer;
			}
		}
	}
	.input-groups-periods {
		margin-top: 0;
	}
	.form-group-chbxs {
		margin-top: 25px;
		height: 34px;
		.flex();
		.checkbox {
			margin: auto 30px auto 0;
		}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		.head-with-btn {
			h1 {
				max-width: 60%;
				margin-top: 0;
			}
			.btn {
				margin-top: 5px;
			}
		}
		.form-group-chbxs {
			justify-content: space-between;
			margin-top: 5px;
		}
	}
	@media (max-width: 767px) {
		.big-h1 {
			font-size: 20px;
		}
		.coupons-btn-block {
			.btn {
				display: block;
				width: 100%;
				margin-bottom: 20px;
			}
		}
		.form-group-chbxs {
			display: block;
			height: inherit;
			margin-top: 20px;
			.btn {
				margin-top: 20px;
				width: 100%;
			}
		}
	}
	.coupons__table {
		td {
			word-wrap: normal;
			font-weight: normal;
			&:last-child {
				width: 270px;
			}
			&.coupon__date {
				color: #000;
			}
		}
		.short-text-block {
			color: #000;
			i {
				font-style: normal;
				&:not(:last-child) {
					margin: 0 10px 0 0;
				}
			}
			.shortcontent {
				width: 215px;
				float: left;
			}
			.allcontent {
				display: none;
			}
		}
		@media (min-width: 768px) and (max-width: 991px) {
			td {
				&:first-child {
					width: 80px;
				}
				&:last-child {
					width: 210px;
				}
			}
			.short-text-block {
				.shortcontent {
					width: 155px;
				}
			}
		}
		@media (max-width: 767px) {
			margin: -15px 0;
			border-top-width: 1px;
			thead {
				display: none;
			}
			tbody {
				tr {
					.flex();
					flex-wrap: wrap;
					border-top: 1px solid #ddd;
					padding: 8px 15px;
					td {
						border-top: none;
						width: 100%;
						font-size: 14px;
						padding: 0;
						&:first-child {
							font-weight: bold;
							order: -2;
							width: 100px;
							padding-bottom: 10px;
						}
						&.coupon__date {
							order: -1;
							width: ~'calc(100% - 100px)';
						}
						&:last-child {
							width: 100%;
							padding-top: 10px;
						}
						.coupon__email {
							width: ~'calc(100% - 130px)';
							float: right;
						}
					}
				}
			}
			.short-text-block {
				.shortcontent {
					width: 340px;
				}
			}
		}
	}
}