.doctype-form {
	h4 {
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 15px;
	}

	.select2-container .select2-search--inline .select2-search__field {
		font-size: 14px;
		font-weight: normal;
	}

	.table-section {
		max-width: 920px;
	}

	.table-doctype {
		> thead > tr > th {
			border-bottom: 1px solid #ddd;
			&.cell-head-btns {
				width: 39px;
			}
		}
		> tbody > tr {
			> td {
				background: #F9F9F9;

				vertical-align: middle;
				.form-control {
					font-weight: normal;
				}
				.form-group-chbxs {
					margin-bottom: 0;
					display: flex;

					.checkbox-nice {
						label span {
							background: #FFF;
						}

						&:not(:first-child) {
							margin-left: 15px;
						}
					}
				}
			}
		}
	}

	.form-btns {
		text-align: right;
		.btn:not(:first-child) {
			margin-left: 15px;
		}
	}
	@media (max-width: 767px) {
		width: 100%;
		.form-group-chbxs .checkbox {
        	margin-top: 0;
        }
		.table-responsive {
			margin-bottom: 20px;
		}
        .table-doctype {
            width: 100%;
            min-width: 100%;
            > tbody > tr {
            	padding-top: 5px;
            	padding-bottom: 12px;
                > td {
                    padding: 10px 0 0 0;
                	&:before {
                		position: static;
                		font-weight: normal;
                	}
                    &.cell-info {
                        > span {
                            padding: 4px 0;
                            display: inline-block;
                            width: 100%;
                        }
                    }
                    &.cell-btn {
                        margin-top: -35px;
                        text-align: right;
                        .btn {
	                        position: relative;
	                        z-index: 1;
	                    }
	                    .btn-add-row {
							display: inline-block;
						}
                    }
                    .form-control {
                    	margin-top: 5px;
                    }
                    .form-group-chbxs {
                    	margin-top: 10px;
                    }
                }
            }
        }

       	.form-btns {
			display: flex;
			.btn {
				width: 100%;
			}
			.btn:not(:first-child) {
				margin-left: 30px;
			}
		}
	}
	@media (min-width: 768px) {
		.table-doctype > tbody > tr > td .btn-add-row {
			display: none !important;
		}
	}

	.conditions-btn-block .btn:not(:last-child) {
		margin-right: 15px;
	}

	.conditions-row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;

		.form-group {
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	.nationality-form-group {
		width: calc(100% - 123px);
	}

	.position-form-group {
		width: calc(100% - 123px);
	}

	.nationality-form-control {
		display: flex;

		.btn-group {
			flex-shrink: 0;
		}

		.select2 {
			margin-left: 15px !important;
		}
	}

	.conditions-btn-block {
		width: 123px;
	}

	@media (min-width: 992px) {
		.nationality-form-group {
			width: calc((100% - 123px) * (7 / 11));
		}

		.position-form-group {
			width: calc((100% - 123px) * (4 / 11));
			padding-left: 0 !important;
		}
	}

	&__checkboxes {
		display: flex;
		padding-top: 5px;
		padding-bottom: 5px;

		& > * {
			&:not(:first-child) {
				margin-left: 50px;
			}
		}
	}
}
