.edit-position {
    &__tab-group {
        .nav {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }

    &__contracts-tab-pane-content {
        max-width: 824px;

        .edit-position__contracts-search {
            max-width: 443px;
        }

        .edit-position__contracts-table {
            margin-top: 24px;
        }
    }

    &__contracts-table {
        margin-top: 33px;

        font-size: 12px;
        border-top: 2px solid #ddd;
        border-bottom: 1px solid #ddd;

        input {
            height: 30px;

            font-size: 12px;
        }

        .form-group {
            margin-bottom: 0;
            width: 100%;
        }
    }

    &__contracts-table-body {
        display: block;
        position: relative;

        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    &__contracts-table-head-row {
        display: flex;
        width: 100%;
    }

    &__contracts-table-row {
        background: #FFF;
        overflow: hidden;
    }

    &__contracts-table-row-header {
        display: flex;
        width: 100% !important;
        position: relative;
        min-height: 50px;
    }

    &__contracts-table-row-content {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        .edit-position__contracts-table-row-header {
            &::before {
                left: 33px;
            }
        }

        .edit-position__contracts-table-name-cell {
            padding-left: 25px !important;
            flex-basis: calc(100% - 25px);
        }
    }

    &__contracts-table-category-row {
        &:not(.edit-position__contracts-table-category-row--empty) {
            .edit-position__contracts-table-category-row-toggle {
                cursor: pointer !important;
            }
        }

        &--last {
            border-bottom: 1px solid #ddd;
        }

        &--hover {
            background: grey;
        }
    }

    &__contracts-table-head-cell {
        display: flex;
        align-items: center;
        padding: 8px;

        font-weight: bold;
        border-bottom: 2px solid #ddd;
    }

    &__contracts-table-cell {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    &__contracts-table-name-head-cell {
        flex-basis: 100%;

        text-align: start;
    }

    &__contracts-table-name-cell {
        display: flex;
        align-items: center;
        flex-basis: 100%;

        text-align: start;
    }

    &__contracts-table-branches-head-cell {
        flex-basis: 100%;
        text-align: start;
    }

    &__contracts-table-branches-cell {
        display: flex;
        align-items: center;
        flex-basis: 100%;

        text-align: start;
        font-size: 12px;
    }

    &__contracts-table-actions-head-cell {
        min-width: 114.08px;
    }

    &__contracts-table-actions-cell {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        min-width: 114.08px;
    }

    &__contracts-table-row-view-button {
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__contracts-table-row-print-button {
        margin-left: 4px;
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__contracts-table-row-remove-button {
        margin-left: 4px;
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__contracts-table-category-row-toggle {
        display: flex;
        align-items: center;

        font-weight: bold;

        i {
            margin-right: 6px;
        }
    }

    &__view-contract-modal-dialog {
        height: 100%;
        max-width: 990px !important;
        width: calc(100% - 58px) !important;
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        right: 0;

        .modal-content {
            height: 100%;
            padding: 0;

            border: 0;
            border-radius: 0;
        }

        .modal-header {
            padding: 12px 30px;
            position: relative;

            background: #F2F3F5;
            border-bottom: 1px solid #E5E5E5;

            .close {
                position: absolute;
                top: 6px;
                right: 10px;
            }
        }

        .modal-body {
            height: calc(100% - 59px);
            padding: 0;
        }

        &--initializing {
            visibility: hidden;
        }
    }

    &__view-contract-modal-dialog-text-wrapper {
        height: 100%;

        &:after {
            content: '';

            position: absolute;
            height: 57px;
            left: 30px;
            right: 30px;
            bottom: 0;

            background: linear-gradient(0deg, #FFFFFF 36.84%, rgba(255, 255, 255, 0) 100%);
        }
    }

    &__view-contract-modal-dialog-text {
        height: 100%;
        padding: 24px 30px;

        overflow-y: auto;
    }

    &__remove-contract-modal-dialog {
        width: 620px !important;
        padding-top: 40px;
        padding-bottom: 40px;

        .modal-header {
            .close {
                position: absolute;
                top: 15px;
                right: 15px;
            }
        }

        .modal-body {
            padding-left: 30px;
            padding-right: 30px;

            text-align: center;
        }

        .modal-footer {
            margin-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
