.content-fixed-empllist {
    margin-bottom: 0;
    .head-with-btn {
        .btn {
            padding: 6px 17px;
        }
    }
    .btn-icon {
        i {
            margin-right: 9px;
        }
    }
}
.empllist-tabs {
    margin-top: 0;
}

@import 'https://code.highcharts.com/css/highcharts.css';

.charts,
.mod-charts {
    .highcharts-color-0 {
        fill: #7cb5ec;
		background-color: #7cb5ec;
    }
    .highcharts-color-1 {
        fill: #337AB7;
		background-color: #337AB7;
    }
    .highcharts-color-2 {
        fill: #90ed7d;
		background-color: #90ed7d;
    }
    .highcharts-color-3 {
        fill: #f7a35c;
		background-color: #f7a35c; 
    }
    .highcharts-color-4 {
        fill: #8085e9;
		background-color: #8085e9;
    }
    .highcharts-color-5 {
        fill: #f15c80;
		background-color: #f15c80;
    }
    .highcharts-color-6 {
        fill: #e4d354;
		background-color: #e4d354;
    }
    .highcharts-color-7 {
        fill: #2b908f;
		background-color: #2b908f;
    }
    .highcharts-color-8 {
        fill: #f45b5b;
		background-color: #f45b5b;
    }
    .highcharts-color-9 {
        fill: #91e8e1;
		background-color: #91e8e1;
    }
    .highcharts-color-10 {
        fill: #888888;
		background-color: #888888;
    }
    .highcharts-color-11 {
        fill: #C07ED8;
		background-color: #C07ED8;
    }
    .highcharts-color-12 {
        fill: #5AB751;
		background-color: #5AB751;
    }
    .highcharts-color-13 {
        fill: #434348;
		background-color: #434348;
    }
    .highcharts-color-14 {
        fill: #B90000;
		background-color: #B90000;
    }
}

.charts {
    .chart {
        &__name {
            width: calc(100% - 70px);
            white-space: normal;
        }
        &__num {
            font-weight: 700;
            text-align: right;
            width: 25px;
            margin-left: 6px;
            margin-right: 6px;
        }
        &__percent {
            width: 25px;
        }
    }
    .highcharts-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
    }

    .highcharts-legend-item > span {
        display: flex !important;
        width: 200px;
        color: #333;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 14px;
        margin: 0 auto;
    }
    .chart--modal {
        .highcharts-legend-item > span {
            width: 50px !important;
            .chart__num {
                margin-left: 0;
                width: 15px;
            }
            .chart__percent {
                width: 20px;
            }
        }
    }
    .chart--xs {
        .highcharts-legend-item > span {
            width: 80px !important;
        }
    }
    .chart--small {
        .highcharts-legend-item > span {
            width: 120px !important;
        }
    }
    .chart--big {
        .highcharts-legend-item > span {
            width: 150px !important;
        }
    }

    .highcharts-credits {
        display: none;
    }



    @media(max-width: 991px) {
        .chart {
            &__num {
                margin-left: 6px;
                margin-right: 6px;
            }
        }
    }
}

.mod-charts {
    width: 730px;
    .modal-content {
        border: none;
        width: 730px;
    }
    .modal-header {
        padding: 18px 0 19px 45px;
        .close {
            position: absolute;
            top: 17px;
            right: 17px;
        }
    }
    .modal-body {
        padding: 20px 22px 20px 45px;
        position: relative;
        &:after {
            content: "";
            background: linear-gradient(180deg,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
            position: absolute;
            bottom: 20px;
            left: 0;
            width: 100%;
            height: 35px;
        }
    }

    .scrollbar-inner {
        overflow-y: hidden;
        height: 80vh;
    }

    .mod-legend {
        .flex();
		flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style-type: none;
		margin-bottom: -5px;
        &__point {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 8px;
        }
        &__line {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 12px;
            margin-right: 20px;
			margin-bottom: 5px;
        }
    }
}