.empl-fine {
    &__filter {
        .btn-group {
            width: 100%;
            .btn {
                width: 50%;
            }
        }
        .btn-fine {
            &:focus,
            &.active {
                background-color: #ffa9b1;
            }
        }   
        .btn-premium {
            &:focus,
            &.active {
                background-color: #e1f6cc;
            }
        }
        .input-group {
            .btn {
                color: #337AB7;
            }
        }
        .form-group-checkbox {
            height: 34px;
            display: flex;
            align-items: center;
        }
        .form-group-flex {
            display: flex;
            justify-content: space-between;
            label {
                line-height: 34px;
                margin-bottom: 0;
            }
            .input-group {
                width: 183px;
            }
        }
        .form-btns {
            text-align: right;
        }
        .margintop {
            margin-top: 10px;
        }
        .input-groups-periods {
            .flex();
            width: 100%;
            .input-group {
                flex: 1;
                
                .btn {
                    color: #337AB7;
                }
            }
            .input-group-dash {
                width: 30px;
                text-align: center;
                padding-top: 5px;
            }
        }
        @media (max-width: 991px) {
            .form-group-flex {
                margin-top: 10px;
            }
            .form-btns {
                margin-top: 20px;
            }
            .sm-m25 {
                margin-top: 25px;
            }
            .sm-m5 {
                margin-top: 5px;
            }
            .sm-m0 {
                margin-top: 0;
            }
        }
    }

    &__table {
        margin-top: 25px;
        > thead {
            > tr {
                > th {
                    white-space: nowrap;
                    &.cell-head-btns {
                        width: 200px;
                    }
                }
            }
        }
        > tbody {
            > tr {
                > td {
                    line-height: 1.1;
                    &.cell-btns {
                        text-align: right;
                        font-size: 0;
                        padding: 5px 8px 5px 0;
                        .btn {
                            font-size: 14px;
                            padding: 0;
                            width: 30px;
                            height: 30px;
                        }
                        .comment-fine {
                            font-weight: bold;
                            font-size: 12px;
                            margin-right: 14px;
                            display: block;
                            width: 60px;
                            white-space: normal;
                        }
                        .flex-wrap {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                    }
                    &.cell-fine {
                        background-color: #ffa9b1;
                        text-align: center;
                        white-space: nowrap;
                    }
                    &.no-wrap {
                        white-space: nowrap;
                    }
                    .date {
                        margin-right: 5px;
                    }
                    .who {
                        display: inline-block;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}