.empllist-diagram {
    .filters-pages-empllist {
        border-top: none;
        height: 46px;

        .menu-pages ul {
            margin-left: 0;
        }
    }

    .empllist-tabs {
        margin-bottom: 0;
    }

    .content {
        padding: 0 !important;
    }

    &__pagination {
        margin-top: 23px;
    }

    .age {
        display: flex;
        align-items: center;
        height: 34px;
    }
    .age__wrapper {
        flex: 1;
        margin-right: 25px;
    }
    .age__amount {
        width: 86px;

        white-space: nowrap;
    }

    &__filters-form {
        .empllist-diagram__filters-form-actions {
            @media (min-width: 992px) {
                padding-top: 30px;
            }
        }

        .row {
            display: flex;
            flex-wrap: wrap;

            & > * {
                float: none;
            }

            .form-group {
                & > label {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        &-actions {
            margin-left: auto;
        }

        &-actions-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            margin-top: -15px;
            margin-left: -16px;

            & > * {
                margin-top: 15px;
                margin-left: 16px;
            }
        }

        &-expand-button {
            i {
                margin-left: 7px;
                font-size: 12px
            }
        }
    }

    &__form-group-checkboxes {
        display: flex;
        padding-top: 33px;

        & > * {
            &:not(:first-child) {
                margin-left: 32px;
            }
        }

        .checkbox-nice {
            label {
                display: flex;
                align-items: center;

                line-height: 15px;

                span {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .empllist-diagram {
        .filters-pages-empllist {

            margin-left: unset;
            margin-right: unset;
            padding-left: unset;
            padding-right: unset;
        }

        &__pagination {
            margin-top: 19px;
        }

        .table {
            th {
                padding-left: 15px;
            }
        }
    }
}


.content-fixed-empllist {
    margin-bottom: 0;
    .head-with-btn {
        .btn {
            padding: 6px 17px;
        }
    }
    .btn-icon {
        i {
            margin-right: 9px;
        }
    }
}
.empllist-tabs {
    margin-top: 0;
}

@import 'https://code.highcharts.com/css/highcharts.css';

.charts,
.mod-charts {
    .highcharts-color-0 {
        fill: #7cb5ec;
		background-color: #7cb5ec;
    }
    .highcharts-color-1 {
        fill: #337AB7;
		background-color: #337AB7;
    }
    .highcharts-color-2 {
        fill: #90ed7d;
		background-color: #90ed7d;
    }
    .highcharts-color-3 {
        fill: #f7a35c;
		background-color: #f7a35c;
    }
    .highcharts-color-4 {
        fill: #8085e9;
		background-color: #8085e9;
    }
    .highcharts-color-5 {
        fill: #f15c80;
		background-color: #f15c80;
    }
    .highcharts-color-6 {
        fill: #e4d354;
		background-color: #e4d354;
    }
    .highcharts-color-7 {
        fill: #2b908f;
		background-color: #2b908f;
    }
    .highcharts-color-8 {
        fill: #f45b5b;
		background-color: #f45b5b;
    }
    .highcharts-color-9 {
        fill: #91e8e1;
		background-color: #91e8e1;
    }
    .highcharts-color-10 {
        fill: #888888;
		background-color: #888888;
    }
    .highcharts-color-11 {
        fill: #C07ED8;
		background-color: #C07ED8;
    }
    .highcharts-color-12 {
        fill: #5AB751;
		background-color: #5AB751;
    }
    .highcharts-color-13 {
        fill: #434348;
		background-color: #434348;
    }
    .highcharts-color-14 {
        fill: #B90000;
		background-color: #B90000;
    }
    .highcharts-color-15 {
        fill: #800000;
		background-color: #800000;
    }
    .highcharts-color-16 {
        fill: #FF8C00;
		background-color: #FF8C00;
    }
	.highcharts-color-17 {
        fill: #9ACD32;
		background-color: #9ACD32;
    }
    .highcharts-color-18 {
        fill: #20B2AA;
		background-color: #20B2AA;
    }
    .highcharts-color-19 {
        fill: #FF00FF;
		background-color: #FF00FF;
    }
	.highcharts-color-20 {
        fill: #FFE4E1;
		background-color: #FFE4E1;
    }
	.highcharts-color-21 {
        fill: #8B4513;
		background-color: #8B4513;
    }
	.highcharts-color-22 {
        fill: #D2B48C;
		background-color: #D2B48C;
    }
	.highcharts-color-23 {
        fill: #BDB76B;
		background-color: #BDB76B;
    }
	.highcharts-color-24 {
        fill: #6B8E23;
		background-color: #6B8E23;
    }
	.highcharts-color-25 {
        fill: #66CDAA;
		background-color: #66CDAA;
    }
	.highcharts-color-26 {
        fill: #5F9EA0;
		background-color: #5F9EA0;
    }
	.highcharts-color-27 {
        fill: #E6E6FA;
		background-color: #E6E6FA;
    }
	.highcharts-color-28 {
        fill: #191970;
		background-color: #191970;
    }
	.highcharts-color-29 {
        fill: #BA55D3;
		background-color: #BA55D3;
    }
	.highcharts-color-30 {
        fill: #696969;
		background-color: #696969;
    }
	.highcharts-color-31 {
        fill: #FF4500;
		background-color: #FF4500;
    }
	.highcharts-color-32 {
        fill: #FFFF00;
		background-color: #FFFF00;
    }
	.highcharts-color-33 {
        fill: #00FF00;
		background-color: #00FF00;
    }
	.highcharts-color-34 {
        fill: #4169E1;
		background-color: #4169E1;
    }
	.highcharts-color-35 {
        fill: #DC143C;
		background-color: #DC143C;
    }
	.highcharts-color-36 {
        fill: #A0522D;
		background-color: #A0522D;
    }
	.highcharts-color-37 {
        fill: #DEB887;
		background-color: #DEB887;
    }
	.highcharts-color-38 {
        fill: #F0E68C;
		background-color: #F0E68C;
    }
	.highcharts-color-39 {
        fill: #8FBC8F;
		background-color: #8FBC8F;
    }
	.highcharts-color-40 {
        fill: #2E8B57;
		background-color: #2E8B57;
    }
	.highcharts-color-41 {
        fill: #2F4F4F;
		background-color: #2F4F4F;
    }
	.highcharts-color-42 {
        fill: #DB7093;
		background-color: #DB7093;
    }
	.highcharts-color-43 {
        fill: #8A2BE2;
		background-color: #8A2BE2;
    }
	.highcharts-color-44 {
        fill: #E9967A;
		background-color: #E9967A;
    }
	.highcharts-color-45 {
        fill: #228B22;
		background-color: #228B22;
    }
	.highcharts-color-46 {
        fill: #98FB98;
		background-color: #98FB98;
    }
	.highcharts-color-47 {
        fill: #C71585;
		background-color: #C71585;
    }
	.highcharts-color-48 {
        fill: #DA70D6;
		background-color: #DA70D6;
    }
	.highcharts-color-49 {
        fill: #1E90FF;
		background-color: #1E90FF;
    }
	.highcharts-color-50 {
        fill: #FFA500;
		background-color: #FFA500;
    }
}

.charts {
    .chart {
        &__name {
            width: calc(100% - 70px);
            white-space: normal;
        }
        &__num {
            font-weight: 700;
            text-align: right;
            width: 25px;
            margin-left: 6px;
            margin-right: 6px;
        }
        &__percent {
            width: 25px;
        }
    }
    .highcharts-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
    }

    .highcharts-legend-item > span {
        display: flex !important;
        width: 200px;
        color: #333;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 14px;
        margin: 0 auto;
    }
    .chart--modal {
        .highcharts-legend-item > span {
            width: 50px !important;
            .chart__num {
                margin-left: 0;
                width: 15px;
            }
            .chart__percent {
                width: 20px;
            }
        }
    }
    .chart--xs {
        .highcharts-legend-item > span {
            width: 80px !important;
        }
    }
    .chart--small {
        .highcharts-legend-item > span {
            width: 120px !important;
        }
    }
    .chart--big {
        .highcharts-legend-item > span {
            width: 150px !important;
        }
    }

    .highcharts-credits {
        display: none;
    }



    @media(max-width: 991px) {
        .chart {
            &__num {
                margin-left: 6px;
                margin-right: 6px;
            }
        }
    }
}

.mod-charts {
    width: 730px;
    .modal-content {
        border: none;
        width: 730px;
    }
    .modal-header {
        padding: 18px 0 19px 45px;
        .close {
            position: absolute;
            top: 17px;
            right: 17px;
        }
    }
    .modal-body {
        padding: 20px 22px 20px 45px;
        position: relative;
        &:after {
            content: "";
            background: linear-gradient(180deg,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
            position: absolute;
            bottom: 20px;
            left: 0;
            width: 100%;
            height: 35px;
        }
    }

    .scrollbar-inner {
        overflow-y: hidden;
        height: 80vh;
    }

    .mod-legend {
        .flex();
		flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style-type: none;
		margin-bottom: -5px;
        &__point {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 8px;
        }
        &__line {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 12px;
            margin-right: 20px;
			margin-bottom: 5px;
        }
    }
}
