// Header
.content-head-empllist {
    margin-bottom: 0;
}

// Form
.form-empllist {
    .btn-link {
        margin-right: 15px;

        .fa {
            margin-left: 5px;
        }
    }
    
    .checkbox-inline {
        margin-right: 15px;
    }
}

.form-empllist [data-full] {
    display: none;
}

.form-empllist.full [data-not-full]{
    display:none;
}

.form-empllist.full [data-full]{
    display:block;
}

// Table
.table-empllist {
    margin-bottom: 0;

    > tbody > tr > td, 
    > thead > tr > th {
        vertical-align: middle;
    }
    
    .cell-btns {
        white-space: nowrap;
        text-align: right;
        
        .btn {
            margin-right: 5px;
            line-height: 28px;
            padding: 0px;
            height: 30px;
            width: 30px;
            vertical-align: middle;
            font-size: 13px;
            
            &.btn-user {
                white-space: nowrap;
                width: 40px;
            }
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .form-empllist {
        .form-btns {
            white-space: nowrap;
    
            .btn-link {
                margin-right: 0px;
            }
            
            .btn {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

@media (max-width: 991px) {
    .table-responsive-wrapper-empllist {
        .table-responsive2 {
            .table-empllist {
                margin-bottom: 0;

                > thead {
                    > tr {
                        > th {
                            width: 100% !important;
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        position: relative;
                    }
                }
                
                .cell-states {
                    position: absolute;
                    top: 34px;
                    left: -12px;
                    height: 50px;
                    line-height: 50px;
                    vertical-align: middle;
                    border-top: 0;
                    text-align: center;
                    width: 30px;
                    padding: 0 !important;
                    
                    .fas {
                        margin-right: 1px;
                        
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        &:first-child {
                            .cell-states {
                                left: 0px;
                            }
                        }
                    }
                }

                .cell-fio {
                    height: 50px;
                    
                    .cell-fio_cont {
                        max-width: 200px;
                    }
                }
                
                .cell-posts {
                    height: 70px;
                }                
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .form-empllist {
        .form-btns {
            margin-top: 15px;
        }
    }
    
    .table-responsive-wrapper-empllist {
        position: relative;
        margin-left: -15px;
        margin-right: -15px;
        
        .table-responsive2 {
            margin-left: 125px;
            width: -webkit-calc(~'100% - 125px');
            width: -moz-calc(~'100% - 125px');
            width: calc(~'100% - 125px');
            
            .table-empllist {
                border-top-width: 1px;

                > thead {
                    display: block;
                    width: 125px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #fff;
                    border-right: 1px solid #ddd;
                    border-top: 2px solid #ddd;
                    border-bottom: 2px solid #ddd;
                    .box-shadow(7px 0 5px -5px rgba(0, 0, 0, 0.25));
                    z-index: 1;

                    > tr {
                        display: block;
                        
                        > th {
                            display: block;
                            border-bottom-width: 1px;
                            position: relative;
							
							&.cell-head {
								.cell-head_name {
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
								}
							}
							
							&.cell-posts {
								.cell-head_name {
									white-space: normal;
								}
							}
                            
                            &.cell-head-btns {
                                height: 46px;
                            }
                            
                            &.cell-fio {
                                .flex();
                                .flex-align-items(center);
                            }
                            
                            &:last-child {
                                border-bottom-width: 0px;
                            }
                        }
                    }
                }
                
                > tbody {
                    .flex();
                    
                    > tr {
                        .flex();
                        flex-direction: column;
                        
                        > td {
                            display: block;
                            text-align: left;
                            padding: 8px 15px;
                            
                            &.cell-fio,
                            &.cell-posts {
                                .flex();
                                .flex-align-items(center);
                            }
                        }
                        
                        &:first-child {
                            > td {
                                padding-left: 30px;
                            }
                        }
                    }
                }
            }
        }        
    }
}

@media (max-width: 767px) {
    .form-empllist {
        .form-group {
            .checkbox-inline {
                display: block;
                margin-right: 0;
                margin-left: 0;
                margin-top: 5px;
                
                &:first-child {
                    margin-top: 0;
                }
            }
        }


        .form-btns {
            margin-top: 0;

            .btn-link {
                float: left;
                padding-left: 0px;
            }            
        }
    }
    
    .table-responsive-wrapper {
        .table-responsive2 {
            .table-empllist {
                > thead {
                    > tr {
                        > th {
                            &.cell-fio {
                                &:before {
                                    margin-top: 15px;
                                    content: "\f007";
                                }
                            }
                            
                            &.cell-head-nationality {
                                &:before {
                                    content: "\f0ac";
                                }
                            }
                            
                            &.cell-head-characteristic {
                                &:before {
                                    content: "\f15c";
                                }
                            }
                            
                            &.cell-head-status {
                                &:before {
                                    content: "\f46c";
                                }
                            }
                            
                            &.cell-posts {
                                &:before {
                                    margin-top: 25px;
                                    content: "\f47f";
                                }
                            }
                            
                            &.cell-head-schedule {
                                &:before {
                                    content: "\f0ce";
                                }
                            }
                            
                            &.cell-head-deposit {
                                &:before {
                                    content: "\f0d6";
                                }
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            &.cell-fio,
                            &.cell-posts {
                                .flex();
                                .flex-align-items(center);                    
                            }
                            
                            &.cell-fio {
                                white-space: normal;
                            }
                        }
                        
                        &:first-child {
                            > td {
                                padding-left: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.filters-pages-empllist {
    .flex();
    .flex-align-items(center);
    justify-content: space-between;
    padding: 5px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    margin-bottom: -2px;
    
    .menu-pages {
        ul {
            list-style: none;
            margin: 0 0 0 5px;
            padding: 0;
            display: inline-block;
            
            > li {
                display: inline-block;
                
                > a {
                    display: inline-block;
                    padding: 0 2px;
                }
                
                &.active {
                    a {
                        color: #333;
                        
                        &:hover,
                        &:focus {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    
    .btn-filter {
        padding-right: 0;

        .fas {
            margin-right: 10px;
        }
        
        .txt-filter-detach {
            display: none;
        }
        
        .txt-filter-fix {
            display: inline;
        }
        
        &.is-fixed {
            .txt-filter-detach {
                display: inline;
            }
            
            .txt-filter-fix {
                display: none;
            }
        }
    }
}

.filter-fixed-empllist {
    position: fixed;
    top: 70px;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 10;
}

@media (min-width: 768px) and (max-width: 991px) {
    .filters-pages-empllist {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (max-width: 767px) {
    .filters-pages-empllist {
        border-top: 0;
        padding-bottom: 15px;
        padding-top: 0;
        
        .menu-pages {
            .flex();
            .flex-align-items(center);
            .border-radius(4px);
            
            ul {
                .flex();
                margin-left: 10px;
                
                > li {
                    > a {
                        border: 1px solid #ddd;
                        padding: 6px 10px;
                        margin-left: -1px;
                        position: relative;
                    }
                    
                    &:first-child {
                        > a {
                            margin-left: 0;
                            border-top-left-radius: 4px;
                            border-bottom-left-radius: 4px;                            
                        }
                    }
                    
                    &:last-child {
                        > a {
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;                            
                        }
                    }
                    
                    &.active {
                        > a {
                            z-index: 2;
                            color: #333;
                            background-color: #e6e6e6;
                            border-color: #adadad;
                        }
                    }
                }
            }
        }
    }
}