.block-err {
    margin-top: 50px;
    text-align: center;
    
    .err-txt {
        padding-top: 340px;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 700;
    }
    
    &.err-403 {
        background: url("../images/err-403.png") top center no-repeat;
    }
    
    &.err-404 {
        background: url("../images/err-404.png") top center no-repeat;
    }      
}