.law-statuses {
    &__content {
        max-width: 921px;
    }

    &__sub-header {
        display: flex;
        align-items: center;
        margin-top: 24px;
    }

    &__add-button {
        margin-left: 40px;
    }

    &__table {
        margin-top: 23px;

        font-size: 12px;
        border-bottom: 1px solid #ddd;

        input {
            height: 30px;

            font-size: 12px;
        }

        .form-group {
            margin-bottom: 0;
            width: 100%;
        }
    }

    &__table-body {
        display: block;
        position: relative;

        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    &__table-head-row {
        display: flex;
        width: 100%;
    }

    &__table-row {
        background: #FFF;
        cursor: grab;
        overflow: hidden;

        &.ui-sortable-helper {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            cursor: grabbing;
        }

        .ui-sortable-placeholder + & {
            .law-statuses__table-cell {
                border-top: 1px solid #ddd;
            }
        }
    }

    &__table-row-header {
        display: flex;
        width: 100% !important;
        position: relative;
        min-height: 50px;

        &::before {
            content: "\f07d";
            position: absolute;
            z-index: 4;
            top: 50%;
            margin-top: -8px;
            left: 16px;
            width: 7px;
            height: 14px;
            font-family: 'Font Awesome 5 Pro';
            color: #777777;
        }
    }

    &__table-row-content {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        .law-statuses__table-row-header {
            &::before {
                left: 33px;
            }
        }

        .law-statuses__table-name-cell {
            padding-left: 52px !important;
        }
    }

    &__table-status-row {
        &:not(.law-statuses__table-status-row--empty) {
            .law-statuses__table-status-row-toggle {
                cursor: pointer !important;
            }
        }

        &--last {
            border-bottom: 1px solid #ddd;
        }

        &--hover {
            background: grey;
        }
    }

    &__table-head-cell {
        padding: 8px;

        font-weight: bold;
        border-bottom: 2px solid #ddd;
    }

    &__table-cell {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    &__table-name-head-cell {
        flex-basis: 100%;
        padding-left: 35px !important;

        text-align: start;
    }

    &__table-name-cell {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        padding-left: 35px !important;

        text-align: start;
    }

    &__table-citizenship-head-cell {
        flex-basis: 100%;
        text-align: start;
    }

    &__table-citizenship-cell {
        display: flex;
        align-items: center;
        flex-basis: 100%;

        text-align: start;
        font-size: 12px;
        color: #555555;
    }

    &__table-actions-head-cell {
        min-width: 114px;
    }

    &__table-actions-cell {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        min-width: 114px;
    }

    &__table-row-edit-button {
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__table-row-remove-button {
        margin-left: 4px;
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__table-status-row-toggle {
        display: flex;
        align-items: center;

        font-weight: bold;

        i {
            margin-right: 6px;
        }
    }

    &__modal {
        .modal-content {
            width: 620px;
        }
    }

    &__modal-citizenship-form-group {
        .select2-selection__rendered {
            padding-left: 4px !important;
            padding-right: 4px !important;
        }
    }
}
