.leaflet {
	&__form  {
		&-flex {
			.flex();
			.form-group:not(:last-child) {
				margin-right: 30px;
			}
		}
		@media (max-width: 767px) {
			&-flex {
				flex-wrap: wrap;
				.form-group {
					width: ~'calc((100% - 60px) / 3)';
					margin-right: 30px;
					&:nth-child(3n) {
						margin-right: inherit;
					}
					&:last-child {
						width: 100%;
						margin-right: 0;
						margin-top: 5px;
						.btn {
							width: 100%;
						}
					}
				}
			}
		}
	}
	&__entrance {
		.flex();
		align-items: flex-end;
		&-title {
			font-weight: 600;
			margin-bottom: 12px;
		}
		&-block {
			.flex();
			flex-wrap: wrap;
			.form-group {
				width: 50%;
				margin-bottom: 5px;
				.flex();
				&:last-child {
					margin-right: 0;
				}
				label {
					font-weight: 700;
					margin: auto 8px auto auto;
				}
				.form-control {
					width: 80px;
				}
			}
		}
		&-btn {
			margin-bottom: 5px;
		}
		@media (max-width: 767px) {
			flex-wrap: wrap;
			&-block .form-group .form-control {
				width: 100px;
			}
			&-btn {
				width: 100%;
				margin-top: 15px;
				margin-bottom: 0;
				.btn {
					width: 100%;
				}
			}
		}
	}
	&__hr {
		margin: 20px 0;
		@media (max-width: 767px) {
			margin: 15px 0;
		}
	}
	&__filter {
		@media (max-width: 767px) {
			margin-bottom: 5px;
			.btn {
				width: 100%;
			}
		}
	}
	&__table {
		.table-responsive-wrapper .table-responsive2 {
			margin-left: 52px;
			width: ~'-webkit-calc(100% - 52px)';
			width: ~'-moz-calc(100% - 52px)';
			width: ~'calc(100% - 52px)';
		}
		&-table {
			> thead {
				> tr {
					> th {
						&.w-middle {
							width: 70px;
						}
					}
				}
				@media (max-width: 767px) {
					width: 52px !important;
					> tr {
						> th {
							height: 37px;
							&:last-child {
								margin-top: -1px;
							}
							&.cell-wide {
								min-width: inherit;
							}
							&.cell-xs-icon {
								&:before {
									content: attr(data-icon);
									font-size: 14px;
								}
								.cell-xs-icon-sort {
									visibility: visible !important;
									display: flex;
									justify-content: center;
									padding-top: 3px;
									&:before {
										display: inline-block;
										-moz-osx-font-smoothing: grayscale;
										-webkit-font-smoothing: antialiased;
										font-style: normal;
										font-variant: normal;
										text-rendering: auto;
										line-height: 1;
										font-size: 16px;
										font-family: "Font Awesome 5 Pro";
										font-weight: 900;
										text-align: center;
										content: attr(data-icon);
										font-size: 14px;
									}
									&:after {
										font-size: 11px;
										padding-left: 4px;
									}
								}
							}
						}
					}
				}	
			}
			> tbody {
				> tr {
					> td {
						white-space: normal !important;
						font-weight: 300;
						&.cell-btn {
							text-align: right;
							width: 90px;
							.btn {
								width: 30px;
								padding: 5px;
								&:not(:last-child) {
									margin-right: 7px;	
								}
							}
						}
					}
				}
				@media (max-width: 767px) {
					> tr > td {
						width: 200px;
						padding: 8px;
						&.w-middle {
							width: inherit;
						}
						&.cell-btn {
							width: inherit;
							white-space: nowrap;
						}
					}
				}
			}
			> tfoot {
				display: none;
				@media (max-width: 767px) {
					position: absolute;
					top: 1px;
					bottom: 1px;
					right: 0;
					z-index: 100;
					background: fade(#ffffff, 80%);
					left: 52px;
					.spinnerLoader();
				}
			}
		}
	}

	.pagination-container {
		text-align: right;
	}
}