.lk-deposit {
  &__header {
    display: flex;
  }

  &__deposit {
    background: #D9F6CB;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    padding: 2px 9px;
    white-space: nowrap;
  }

  &__deposit-from {
    margin-left: 14px;
  }

  &__deposit-from-line {
    white-space: nowrap;
  }

  &__form-group-checkbox {
    padding-top: 4px;
  }

  &__action {
    display: flex;
    justify-content: flex-end;
  }

  &__form-group-payment-type-picker {
    padding-top: 25px;
  }

  &__form-group-datepicker {
    .btn {
      color: @link-color;

      &:hover {
        color: @link-hover-color;
      }
    }
  }
}
