.mail-new {
	.file {
		.flex();
		flex-wrap: wrap;
		margin-top: 5px;
		&__block {
			position: relative;
			width: 130px;
			margin-bottom: 20px;
			margin-right: calc(~'(100% - (5 * 130px)) / 4');
			&:last-child,
			&:nth-of-type(5n) {
				margin-right: 0;
			}
		}
		&__img {
			width: 106px;
			height: 80px;
			background-size: cover;
		}
		&__file {
			border: 1px solid #ccc;
			width: 106px;
			height: 80px;
			.flex();
			font-size: 31px;
			i {
				margin: auto;
			}
		}
		&__name {
			font-size: 12px;
			margin-top: 5px;
			.flex();
			flex-wrap: wrap;			
			span {
				display: inline-block;
				line-height: 1;
				&:first-child {
					white-space: nowrap;
					max-width: 100px;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}			
		}
		&__delete {
			color: #FF0000;
			font-size: 13px;
			border: none;
			background: none;
			outline: none;
			position: absolute;
			top: 0;
			right: 0;
		}
		&__upload {
			flex-basis: 100%;
			>input[type="file"] {
				display: none;
			}
		}
		@media (max-width: 991px) {
			&__block {
				&:nth-of-type(6n),
				& {
					margin-right: calc(~'(100% - (5 * 130px)) / 4');
				}
				&:nth-of-type(5n) {
					margin-right: 0;
				}
			}
		}
	}
}