@row-height: 33px;

.needs-container {

  .form-filter {
    .form-group {
      float: left;
      padding-left: 15px;
      padding-right: 15px;
    }
    .form-group-branch {
      min-width: 170px;
      @media (min-width: 992px) {
        width: 16%;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 15%;
      }
      @media (max-width: 767px) {
        width: 30%;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
    }

    .form-schedule-date {
      min-width: 190px;
      @media (min-width: 992px) {
        width: 16%;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 15%;
      }
      @media (max-width: 767px) {
        width: 30%;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
    }

    .form-group-filter-btns {
      display: flex;
      margin-top: 25px;
      button {
        padding-left: 25px;
        padding-right: 25px;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      @media (min-width: 992px) {
        width: 62%;
      }
      @media (min-width: 769px) and (max-width: 991px) {
        width: 53%;
      }
      @media (max-width: 768px) {
        margin-top: 0;
        width: 100%;
      }

      @media (max-width: 480px) {
        width: 100%;
        justify-content: space-between;
        button {
          width: 47.5%;
          .long-title {
            display: none;
          }
        }
      }

    }
  }

  .table-form-btns {
    text-align: right;
    margin-top: 20px;
    button {
      padding-left: 25px;
      padding-right: 25px;
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: 480px) {
      button {
        width: 47.2%;
      }
    }
  }

  .table-needs {
    .datetimeperiod-group {
      margin: 1px 0 1px 0;
      display: flex;
      align-items: center;
      &.timepicker {
        padding: 0;
        .form-control {
          padding: 6px 5px;
          height: 32px;
          font-size: 12px;
          width: 44px;
        }
      }
      label {
        text-align: center;
        width: 8px;
        max-width: 8px;
        margin: -2px 2px 0 2px;
      }
      a {
        display: inline-block;
        width: 28px;
        max-width: 28px;
        color: #333;
        padding-left: 8px;
        i:before {
          font-size: 13px;
          font-weight: bold;
        }
        &:hover, &:focus {
          text-decoration: none;
        }
      }
      span.num {
        flex: auto;
        text-align: right;
        font-size: 12px;
        font-weight: bold;
        @media (max-width: 480px) {
          font-size: 14px;
        }
      }
    }
  }

  .table-wrapper-needs {
    position: relative;

    @media (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
    }

    .table {
      margin-bottom: 0;
      > thead {
        > tr {
          > th {
            white-space: nowrap;
            border-right: 1px solid #ddd;
            border-top: 0;
            border-bottom: 2px solid #ddd;
            text-align: center;

            &:first-child {
              text-align: left;
            }
            &:last-child {
              border-right: 1px solid transparent;
            }
          }
        }
      }

      > tbody {
        > tr {
          > td {
            padding-top: 3px;
            padding-bottom: 3px;
            border-right: 1px solid #ddd;
            border-top: 0;
            border-bottom: 1px solid #ddd;
            vertical-align: middle;
            height: 33px;
            line-height: 1.1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .col-first {
              display: flex;
              align-items: center;
              font-weight: bold;
              a {
                padding-left: 8px;
                color: #333;
                i:before {
                  font-size: 13px;
                  font-weight: bold;
                }
                &:hover, &:focus {
                  text-decoration: none;
                }
              }
              span {
                padding-left: 6px;
                font-size: 12px;
                font-weight: bold;
                @media (max-width: 480px) {
                  font-size: 14px;
                }
              }
            }

            &:first-child {
              min-width: 108px;
              max-width: 108px;
              font-weight: bold;
            }

            &:not(:first-child):not(:last-child) {
              min-width: 148px;
              max-width: 148px;
              a {
                @media (max-width: 480px) {
                  font-size: 14px;
                }
              }
            }
            &:last-child {
              min-width: 33px;
              max-width: 33px;
              background-color: #eee;
              border-right: 1px solid transparent;
              font-weight: bold;
              text-align: center;
              @media (max-width: 480px) {
                font-size: 14px;
              }
            }
            &.no-bg {
              background-color: transparent;
            }
            &.td-digit {
              text-align: right;
              font-weight: bold;
              @media (max-width: 480px) {
                font-size: 14px;
              }
            }
            &.td-string {
              a {
                display: block;
                margin: 8px 0 8px 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

          }

        }
      }

      @media (max-width: 767px) {
        & {
          > tbody {
            > tr {
              > td {
                line-height: 1.1;
              }
            }
          }
        }
      }
    }

    .color-warning {
      background-color: #ffa9b1;
    }

    .color-ok {
      background-color: #d9f6cb;
    }

    .table-head {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 112px;
      max-width: 112px;
      background-color: #fff;
      box-shadow: 6px 0 4px -2px rgba(0, 0, 0, 0.25);

      > thead {
        > tr {
          > th {
            padding-left: 15px;
            padding-right: 15px;
            border-bottom: 2px solid #ddd;
            border-right: 1px solid #ddd;
          }
        }
      }
      > tbody {
        > tr {
          > td {
            height: 33px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #fff !important;
            &:last-child {
              text-align: left;
              @media (max-width: 480px) {
                font-size: 12px;
              }
            }
          }
        }
      }

      @media (min-width: 992px) {
        display: none;
      }
    }

    .table-foot {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 36px;
      max-width: 36px;
      background-color: #fff;
      box-shadow: -5px 0 5px -2px rgba(0, 0, 0, 0.25);

      > thead {
        > tr {
          > th {
            padding-left: 15px;
            padding-right: 15px;
            border-bottom: 2px solid #ddd;
            border-right: 1px solid #ddd;
          }
        }
      }
      > tbody {
        > tr {
          > td {
            height: 33px;
            text-align: center;
            background-color: #eee;
            &.no-bg {
              background-color: transparent;
            }
          }
        }
      }

      @media (min-width: 992px) {
        display: none;
      }
    }
  }

  /* блок "Добавить разряд" между таблицами */
  .add-pers {
    margin: 15px 0 5px 0;
    .col-title, .col-select {
      padding: 0;
    }
    .col-select {
      text-align: right;
    }
    h2 {
      font-size: 15px;
      margin: 7px 0 13px 0;
      font-weight: bold;
      line-height: 1.2em;
      @media (max-width: 767px) {
        margin: 8px 0 2px 0;
      }
      @media (max-width: 480px) {
        margin: 0 0 2px 0;
      }
    }
    .form-control {
      width: 160px;
      padding: 6px 8px;
      display: inline-block;
      margin-bottom: 2px;
    }
  }
}

.popover-needs-details {
  &.top {
    margin-top: 10px !important;
  }
  .popover-content {
    font-size: 12px;
    padding: 15px 20px;
  }

  .close {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 15px;
  }

  @media (min-width: 992px) {
    .close {
      display: none;
    }
  }

  @media (max-width: 991px) {
    .popover-content {
      padding: 20px 25px;
    }
  }

  @media (max-width: 767px) {
    & {
      max-width: 240px;
      font-size: 14px;
    }
  }
}
