.position {
  &__form {
    max-width: 546px;
  }

  &__input-group-addon {
    background: none;
    border: none;
    width: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__input-group-addon-payment-type-picker {
    width: 0;
    padding: 0 13px 0 0;
  }

  &__form-row {
    display: flex;
    align-items: center;

    > .form-group {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }

  &__form-actions {
    display: flex;
    justify-content: flex-end;

    margin-top: 8px;

    > .btn {
      &:not(:first-child) {
        margin-left: 13px;
      }
    }
  }

  &__form-group-checkbox {
    margin-top: auto;
    margin-bottom: auto;
  }
}
