.position {
  &__form {
    max-width: 546px;
  }

  &__input-group {
    .form-control {
      border-radius: 4px !important;
    }
  }

  &__input-group-addon {
    background: none;
    border: none;
    width: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__input-group-addon-payment-type-picker {
    width: 0;
    padding: 0 13px 0 0;
  }

  &__btn-group {
    .btn {
      padding-left: 23px;
      padding-right: 23px;
    }
  }

  &__form-row {
    display: flex;
    align-items: center;

    > .form-group {
      display: inline-block;

      flex: 0 0 auto;

      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }

  &__form-actions {
    display: flex;
    justify-content: flex-end;

    margin-top: 8px;

    > .btn {
      &:not(:first-child) {
        margin-left: 13px;
      }
    }
  }

  &__form-group-checks {
    margin-top: 25px;
  }

  &__form-group-shift-count {
    width: 220px;
  }
}
