.power-bi-dir{
	&__table {
		.cell-head-name {
			width: 30%;
		}
		.cell-head-descr {
			width: 30%;
		}
		
		@media (max-width: 991px) {
			.cell-head-descr {
				width: 40%;
			}		
		}
	}
	&__modal{
		.modal-header{
			border-bottom: none;
		}
		.modal-title{
			font-size: 20px;
			font-weight: 600;
		}
		textarea{
			min-height: 70px;
			resize: none;
		}
	}
}