.power-bi-dir{
	.table tbody{
		font-weight: normal;
	}
	.cell-btns .btn{
		height: auto;
	}
	&__modal{
		.modal-header{
			border-bottom: none;
		}
		.modal-title{
			font-size: 20px;
			font-weight: 600;
		}
		textarea{
			min-height: 70px;
			resize: none;
		}
	}
}