.power-bi{
  .cell-btn{
  	text-align: right;
    white-space: nowrap;
  }
}
.modal__add-report{
	.modal-header{
		border-bottom: none
	}
	.modal-title{
		font-size: 20px;
		font-weight: 600;
	}
	#add-report_description{
		min-height: 70px;
		resize: none;
	}
}