.providers {
    &__content {
        width: 100%;
    }

    &__legend {
        margin-left: -24px;
        margin-top: -6px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__legend-element {
        display: inline-flex;
        align-items: center;

        font-size: 12px;

        margin-left: 24px;
        margin-top: 6px;
    }

    &__legend-element-icon {
        margin-right: 10px;
    }

    &__order-problem-icon {
        color: #FFD4D4;
        font-size: 12px;
    }

    &__less-min-sum-icon {
        color: #FF0000;
        font-size: 14px !important;
    }

    &__large-norm-icon {
        color: #FF0000;
        font-size: 14px !important;
    }

    &__large-norm-deviation-icon {
        height: 15px;

        svg {
            fill: #FF0000;
        }

        font-size: 14px !important;
    }

    &__modal {
        .close {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 5;
        }

        .modal-dialog {
            width: 440px;
        }

        .modal-header {
            border: none;
        }

        .modal-body {
            padding-top: 21px;
            padding-bottom: 7px;
        }

        .modal-footer {
            padding-top: 7px;
            padding-bottom: 29px;

            border: none;
        }
    }

    &__comments-modal-comment {
        padding-bottom: 10px;

        border-bottom: 1px solid #DDDDDD;

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    &__comments-modal-comment-header {
        font-size: 12px;
        color: #777777;
    }

    &__comments-modal-comment-author {
        margin-left: 6px;

        font-weight: bold;
    }

    &__comments-modal-comment-body {
        margin-top: 5px;
    }

    &__comments-modal-comment-field {
        margin-top: 16px;
        margin-bottom: 0;
    }

    &__add-comment-modal-author {
        font-size: 12px;
        color: #777777;
        font-weight: bold;
    }

    &__add-comment-modal-comment-field {
        margin-top: 12px;
        margin-bottom: 0;
    }
}

.cell-data-message-popover {
    padding: 0;
    height: unset;
    width: 260px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 6px;

    .popover-content {
        padding: 0;
    }

    .cell-data-message {
        padding: 13px 22px;
    }

    .cell-data-message-row {
        display: flex;
        align-items: flex-start;

        font-size: 12px;

        &:not(:first-child) {
            margin-top: 8px;
        }
    }

    .cell-data-message-row-icon {
        width: 20px;
        flex-shrink: 0;
        display: flex;
        justify-content: flex-end;

        margin-right: 8px;
    }
}

.head-providers {
    h1 {
        float: left;
    }
}

@media (max-width: 767px) {
    .head-providers {
        .btn {
            float: right;
            width: auto;
            margin-top: 0;

            .fas {
                margin-right: 0;
            }
        }
    }
}


.form-providers {
    margin-bottom: 4px;

    .spacer {
        flex-grow: 1;
    }

    .form-providers-row {
        display: flex;
    }

    .form-providers-period {
        width: 360px;
        flex-shrink: 0;

        .form-group-datepicker-input-group {
            display: flex;
            align-items: center;

            > *:first-child {
                margin-right: 11px;
            }

            > *:last-child {
                margin-left: 11px
            }
        }

        .input-group {
            display: flex;
            flex-grow: 1;

            .form-control {
                display: block;
            }

            .input-group-btn {
                display: block;
                flex-grow: 0;
                width: unset;
            }
        }
    }

    .form-providers-section {
        display: flex;
        flex-grow: 1;
        margin-left: 30px;
    }

    .form-providers-only-error {
        margin-top: 33px;
        margin-bottom: 0;

        label {
            display: flex;
            align-items: center;
            padding-left: unset;

            span {
                position: relative;
                margin-right: 10px;
                flex-shrink: 0;
            }
        }
    }

    .form-btns {
        margin-left: 30px;
    }
}

.action-table-providers {
    font-size: 13px;
    margin-bottom: 15px;

    .fas {
        margin-left: 5px;
    }
}


.tooltip-provider {
    &.in {
        opacity: 1;
    }

    .btn-close {
        position: absolute;
        right: 1px;
        top: 5px;
        background-color: transparent;
        color: #aaaaaa;
        padding: 5px;
        line-height: 14px;
    }

    .tooltip-inner {
        background-color: #fff;
        color: #333;
        border: 1px solid #d9534f;
        padding: 8px 15px;
        text-align: left;
        .box-shadow(2px 0 12px rgba(0, 0, 0, 0.5));

        > ul {
            list-style: none;
            padding: 0;
            margin: 0;

            > li {
                .flex();

                > span {
                    display: inline-block;
                    width: 70px;
                    margin-right: 5px;
                    white-space: nowrap;
                }
            }
        }
    }

    &.top {
        .tooltip-arrow {
            border-top-color: #d9534f;
            border-width: 8px 8px 0;
            bottom: -2px;
            left: -8px;

            &:before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-color: transparent;
                border-width: 7px 7px 0;
                border-style: solid;
                border-top-color: #fff;
                position: absolute;
                bottom: 1px;
                left: -7px;
            }
        }
    }
}

@media (max-width: 991px) {
    .tooltip-provider {
        &.top {
            margin-top: 0;
        }

        .tooltip-inner {
            padding: 10px 30px 10px 15px;
        }
    }
}


.table-providers {
    border-left-color: #fff;
    border-right-color: #fff;
    margin-bottom: 0;
    overflow: hidden;

    .table--child-tr {
        table {
            border: none;
            width: 100%;

            tr {
                &:last-child {
                    td {
                        border-bottom: 0 !important;
                    }
                }

                td {
                    max-height: 44px;
                    height: 44px;
                }
            }
        }

        & > td {
            padding: 0 !important;
        }
    }

    > thead {
        > tr {
            > th {
                vertical-align: middle;
                text-align: center;
                line-height: 1.2;
                font-size: 12px;

                &:first-child {
                    border-left: 0;
                }

                &:last-child {
                    border-right: 0;
                }

                &.cell-head-num {
                    text-align: left;
                    border-right: 0;
                    width: 10px;
                }

                &.cell-head-nom {
                    text-align: left;
                    border-left: 0;
                }

                &.cell-head-count {
                    border-bottom-width: 1px;
                }

                &.cell-head-branch {
                    border-bottom: 0;
                    padding-top: 11px;
                    padding-bottom: 2px;
                }

                &.cell-head-provider {
                    white-space: nowrap;
                    border-top: 0;
                    padding-top: 0;
                    padding-bottom: 11px;
                    font-weight: 400;
                }

                &.cell-head-package {
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                }

                &.cell-head-sum {
                    text-transform: uppercase;
                    background-color: #eeeeee;
                    text-align: center;
                }
            }
        }
    }

    > tbody {
        > tr {
            > td {
                text-align: center;
                vertical-align: middle;
                max-height: 44px;
                height: 44px;
                padding-top: 4px;
                padding-bottom: 4px;

                &:first-child {
                    border-left: 0;
                }

                &:last-child {
                    border-right: 0;
                }

                &.cell-provider {
                    text-align: left;
                    position: relative;
                    min-width: 216px;
                    width: 216px;

                    .provider {
                        cursor: pointer;
                    }

                    .drop-tr-link {
                        position: absolute;
                        left: 8px;
                        top: 50%;
                        margin-top: -9px;
                    }

                    h3 {
                        font-weight: 700;
                        font-size: 13px;
                        margin: 0;
                        padding-left: 22px;
                    }
                }

                &.cell-count {
                    .count-date {
                        font-weight: bold;
                    }

                    .count-value {
                        font-weight: normal;
						white-space: nowrap;
                    }
                }
				
				&.cell-price {
					.price {
						white-space: nowrap;
					}
				}

                &.cell-data {
                    position: relative;
                    min-width: 134px;
                    width: 134px;

                    .cell-data-warn-icon {
                        position: absolute;
                        top: 4px;
                        right: 4px;
                    }

                    .cell-data-comment-icon {
                        position: absolute;
                        right: 4px;
                        bottom: 4px;

                        color: #337AB7;
                        font-size: 14px !important;
                    }

                    .cell-data-message {
                        display: none;
                    }

                    &--warn {
                        background: #FFD4D4;
                    }

                    &--with-comment {
                        cursor: pointer;
                    }

                    &--without-comment {
                        cursor: pointer;
                    }

                    &--with-error {
                        cursor: pointer;
                    }

                    &--with-message {
                        cursor: pointer;
                    }
                }

                &.cell-sum {
                    background-color: #eeeeee;
                    min-width: 106px;
                    width: 106px;
                }

                &.cell-num {
                    text-align: left;
                    border-right: 0;
                    width: 10px;
                }

                &.cell-product {
                    text-align: left;
                    border-left: 0;
                }
            }

            &.table--parent-tr {
                > td {
                    border-top-width: 2px;
                }
            }
        }
    }
}

.table-providers-wrapper {
    position: relative;

    &--sticky {
        //margin-right: -15px;

        .table-providers-head {
            display: table;
        }

        .cell-head-count {
            text-align: left;
        }
    }
}

.table-providers-main-wrapper {
    overflow-x: auto;
}

.table-providers-head {
    display: none;
    width: 216px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-right: 1px solid #ddd;
    .box-shadow(7px 0 5px -5px rgba(0, 0, 0, 0.25));
    z-index: 1;

    > thead {
        > tr {
            > th {
                height: 85px;
            }
        }
    }

    > tbody {
        > tr {
            > td {
                &.cell-product {
                    /*min-width: 192px;
                    width: 192px;*/
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .form-providers {
        .form-providers-period {
            width: calc((100% - 30px) / 2);
        }

        .form-providers-section {
            width: calc((100% - 30px) / 2);
        }
    }
}
