.providers-list {
    &__content {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 653px;
    }

    &__search {
        display: flex;
        align-items: center;
    }

    &__search-button {
        margin-left: 76px;
    }

    &__table {
        margin-top: 16px;

        border-top: 2px solid #ddd;
        font-size: 12px;
    }

    &__table-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 42px;

        border-bottom: 2px solid #ddd;
        font-weight: bold;
    }

    &__table-header-cell {
        height: 100%;
        padding: 10px;

        &--min-sum {
            margin-right: 60px;
        }
    }

    &__table-row {
        overflow: hidden;
        border-bottom: 1px solid #ddd;
        box-sizing: content-box;
    }

    &__table-sub-row {
        display: flex;
        justify-content: space-between;
        height: 42px;

        &--main {
            .providers-list__table-min-sum-input-group {
                margin-right: 60px;
            }
        }

        &:not(:last-child) {
            .providers-list__table-add-button {
                display: none;
            }

            .providers-list__table-remove-button {
                margin-right: 30px;
            }
        }
    }

    &__table-cell {
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;

        &--provider {
            display: flex;
            align-items: center;

            font-weight: bold;
        }

        &--min-sum {
            display: flex;
            align-items: center;

            .form-control {
                height: 30px;
            }

            .select2-selection {
                min-height: 30px !important;
            }

            .select2-selection__rendered {
                line-height: 25px !important;
            }
        }
    }

    &__table-toggle {
        cursor: pointer;

        i {
            margin-right: 6px;
        }
    }

    &__table-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;

        cursor: pointer;
        background: none;
        outline: none !important;
        border-radius: 50%;
        font-size: 14px;
        box-shadow: none !important;
    }

    &__table-add-button {
        color: #38A138 !important;
    }

    &__table-remove-button {
        color: red !important;

        &:disabled {
            opacity: 0.3;
            cursor: default;
        }
    }

    &__table-cell-provider-content {
        display: flex;
        align-items: center;
        height: 34px;
    }

    &__table-branch-input-group {
        .select2 {
            width: 140px !important;
        }
    }

    &__table-min-sum-input-group {
        margin-left: 13px;

        .form-control {
            width: 90px;
        }
    }

    &__money-input-group {
        .form-control {
            border-radius: 4px !important;
            text-align: center;
        }

        .input-group-addon {
            background: none;
            border: none;
            width: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 6px;
        }
    }

    &__save-button {
        align-self: flex-end;
        margin-top: 16px;
    }
}
