.head-with-btn {
	&--rolelaws {
		.btn {
			padding: 6px 23px;
		}

		h1 {
			@media (max-width: 767px) {
				font-size: 20px;
				margin-top: 4px;
				margin-bottom: 5px;
			}
		}
		@media (max-width: 767px) {
			margin-bottom: 0;
		}
	}
}

.table-rolelaws {
	border: none;
	color: #333;
	
	.btn-primary {
		min-width: 116px;
	}

	tr.is-hide {
		display: none;
	}

	tbody tr td {
		vertical-align: middle;
		padding: 4px 8px 5px;
	}

	.cell-btns .btn {
		padding: 5px 8px;
		min-width: 30px;
	}

	.row {
		text-align: right;
	}

	.row-head {
		font-weight: 700;
		font-size: 14px;
		padding: 20px 8px 13px;

		@media (max-width: 767px) {
			margin-bottom: 0 !important;
			padding: 7px 0 0px;
		}
	}

	td:first-child {
		font-size: 14px;
	}

	.icon-edit {
		display: inline-block;
		margin-left: 8px;
		color: #2d6594;
		cursor: pointer;
	}

	@media (min-width: 768px) {

		tr:last-child td {
			border-bottom: 1px solid #ddd;
		}

		td:first-child {
			width: 48%;
		}

		.cell-btns {
			text-align: right;
		}

		.row-head {
			padding: 18px 10px 12px;
		}
	}

	@media (max-width: 767px) {
		td {
			display: block;
		}

		.cell-btns {
			padding-top: 15px;
		}

		td:first-child {
			margin-bottom: 5px;
		}

		tbody tr td {
			border: none;
			padding: 0;
		}

		tbody tr {
			display: block;
			padding: 15px 0;
			border-bottom: 1px solid #ddd;
		}

		.mobile_width.btn-primary {
			width: 100%;
		}
	}
}

#modalRoleFines,
#modalLaw,
#modalReport {
	@media (max-width: 767px) {
		.form-group__checbox-wrap {
			max-height: 400px;
			padding-right: 20px !important;
		}

		.form-group__checbox-wrap.size_middle {
			max-height: 390px;
		}

		.mobile_width.btn-primary {
			width: 100%;
		}
	}

	.modal-dialog {
		width: 527px;

		@media (max-width: 767px) {
			width: auto;
			margin: -1px -1px 0;
		}
	}

	.modal-content {
		border-radius: 7px;

		@media (max-width: 767px) {
			border-radius: 0;
		}
	}

	.modal-header {
		padding: 15px 20px 13px;

		@media (max-width: 767px) {
			padding: 23px 15px 5px;
			border-bottom: none;

			.modal-title {
				font-size: 20px;
			}
		}

		.close {
			margin-top: 4px;

			@media (max-width: 767px) {
				margin-top: -11px;
			}
		}
	}

	.modal-body {
		padding: 29px 23px 23px;

		@media (max-width: 767px) {
			padding: 10px 15px 22px;
		}

		.form-group {
			margin-bottom: 20px;

			.form-group__checbox-wrap {
				margin-bottom: 25px;
				padding-right: 20px;
				max-height: 270px;
				overflow: auto;
			}

			.form-group__checbox-wrap.size_middle {
				max-height: 370px;
			}

			.form-group__checbox:not(:last-child) {
				margin-bottom: 12px;

				@media (max-width: 767px) {
					margin-bottom: 10px;
				}
			}
		}

		.form-group:last-child {
			text-align: right;
			margin: 37px 0 0;

			@media (max-width: 767px) {
				margin: 28px 0 0;
			}
		}
	}

	button[type="submit"] {
		padding: 6px 23px;
	}
}

#modalReport {
	.modal-header {
		padding-bottom: 5px;
		border-bottom: 0;
	}
	.form-group {
		&__header {
			.form-group__checbox {
				padding: 10px;
				border-top: 2px solid #ddd;
				border-bottom: 2px solid #ddd;
				.checked {
					span {
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
		&__category {
			position: relative;
			border-bottom: 1px solid #ddd;
			&-title {
				padding: 10px;
				margin: 0 !important;
				.checkbox-nice {
					label {
						font-weight: bold;
					}
					.checked {
						span {
							&::before {
								opacity: 1;
							}
						}
						&-part {
							span {
								&::before {
									content: '\f0c8';
									opacity: 1;
								}
							}
						}
					}
				}

				.toggle-checkbox-list {
					position: absolute;
					top: 9px;
					right: 10px;
					cursor: pointer;
					&::before {
						content: "\f139";
						display: block;
						width: 12px;
						height: 12px;
						color: #337AB7;
						font-weight: bold;
						font-family: 'Font Awesome 5 Pro';
					}
				}
			}

			&-inner {
				display: none;
				padding: 10px;
				.form-group__checbox {
					background-color: #ffffff;
					padding: 0;
					margin-bottom: 15px;
					label {
						font-weight: normal;
					}
				}
			}

			&--active {
				> .form-group__checbox {
					background-color: #ededed;
					.toggle-checkbox-list {
						&::before {
							content: "\f13a";
						}
					}
				}
			}
		}
	}
}

#modalLaw,
#modalReport {
	.modal-body {
		padding: 19px 23px 23px;

		@media (max-width: 767px) {
			padding: 12px 15px 22px;
		}

		.form-group {
			margin-bottom: 22px;

			@media (max-width: 767px) {
				margin-bottom: 17px;

				.form-group__checbox:not(:last-child) {
					margin-bottom: 20px;
				}
			}

			label {
				margin-bottom: 8px;
			}

			label[for="cause"] {
				margin-bottom: 13px;
			}

			.form-group__checbox {
				label {
					margin-bottom: 0;
				}
			}
		}

		.form-group:last-child {
			margin: 28px 0 0;

			@media (max-width: 767px) {
				margin: 28px 0 0;
			}
		}
	}
}