.standards {
    &__header {
        display: flex;
        align-items: center;

        h1 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__sub-header {
        margin-top: 19px;
    }

    &__sub-header-search {
        flex-grow: 1;
        margin-bottom: 0;
    }

    &__sub-header-add-button {
        margin-left: 63px;
    }

    &__spacer {
        flex-grow: 1;
    }

    &__table {
        margin-top: 23px;

        border-top: 2px solid #ddd;
        font-size: 12px;

        td {
            vertical-align: middle !important;
        }

        .btn {
            height: 30px;

            font-size: 12px;

            i {
                font-size: 14px;
            }
        }

        input {
            height: 30px;

            font-size: 12px;
        }

        .form-group {
            margin-bottom: 0;
        }

        select {
            height: 30px;
            font-weight: normal;
            padding-top: 3px;
            padding-bottom: 5px;
        }

        .select2 {
            text-align: start !important;
        }

        .select2-selection {
            min-height: 30px !important;
        }

        .select2-selection__rendered {
            line-height: 25px !important;
        }
    }

    &__table-row {
        &--hidden {
            display: none;
        }

        &--mode {
            &_view {
                .standards__table-row-reset-button {
                    display: none;
                }

                .standards__table-row-save-button {
                    display: none;
                }

                .standards__table-cell-mode-view-content {
                    display: block;
                }

                .standards__table-cell-mode-edit-content {
                    display: none;
                }
            }

            &_edit {
                .standards__table-row-edit-button {
                    display: none;
                }

                .standards__table-cell-mode-view-content {
                    display: none;
                }

                .standards__table-cell-mode-edit-content {
                    display: block;
                }
            }
        }

        &--calculation {
            &_completed {
                .standards__table-cell-calculation-completed-content {
                    display: block;
                }

                .standards__table-cell-calculation-empty-content {
                    display: none;
                }
            }

            &_empty {
                .standards__table-cell-calculation-completed-content {
                    display: none;
                }

                .standards__table-cell-calculation-empty-content {
                    display: block;
                }
            }
        }
    }

    &__table-second-row {
        display: none;

        &.standards__table-row--hidden {
            display: none !important;
        }
    }

    &__table-additional-row {
        position: relative;

        &.standards__table-row--hidden {
            display: none !important;
        }

        &.standards__table-row--calculation_empty:not(.standards__table-row--loading) {
            display: none !important;
        }

        &.standards__table-row--loading {
            .standards__table-additional-row-progress-indicator {
                display: flex;
            }
        }
    }

    &__table-fix-row {
        &.standards__table-row--hidden {
            display: none !important;
        }

        td {
            padding: 0 !important;
            border: none !important;
        }
    }

    &__table-additional-row-content {
        position: relative;
    }

    &__table-additional-row-progress-indicator {
        display: none;
        position: absolute;
        top: -48px;
        right: 0;
        bottom: 0;
        left: 0;
        align-items: center;
        justify-content: center;

        background: #FFFFFF;
        opacity: 0.7;
    }

    &__table-name-head-cell {
        width: 240px;
    }

    &__table-points-head-cell {
        text-align: center;
        white-space: nowrap;
        width: 97px;
    }

    &__table-points-cell {
        text-align: center;

        .form-group {
            width: 68px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__table-standard-head-cell {
        text-align: center;
        white-space: nowrap;
        width: 98px;
    }

    &__table-standard-cell {
        text-align: center;

        .form-group {
            width: 68px;
            margin-left: auto;
            margin-right: auto;
        }

        .form-control {
            text-align: center;
        }
    }

    &__table-deviation-head-cell {
        text-align: center;
        white-space: nowrap;
        width: 129px;
    }

    &__table-deviation-cell {
        text-align: center;

        .form-group {
            width: 68px;
            margin-left: auto;
            margin-right: auto;
        }

        .form-control {
            text-align: center;
        }
    }

    &__table-actions-head-cell {
        width: 142px;

        text-align: end;
        white-space: nowrap;
    }

    &__table-actions-cell {
        text-align: end;
    }

    &__table-row-reset-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 30px;
        height: 30px;

        color: #FF0000 !important;
    }

    &__table-row-save-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 30px;
        height: 30px;

        color: #38A138 !important;
    }

    &__table-row-remove-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 30px;
        height: 30px;
    }

    &__table-row-edit-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 30px;
        height: 30px;;
    }

    &__branch-table {
        width: unset;
        margin-bottom: 0;

        border: none;
    }

    &__branch-table-row {
        th, td {
            border: none !important;
        }

        &--has-error {
            .standards__branch-table-standard-cell {
                .form-control {
                    border-color: #FF0000;
                }
            }

            .standards__branch-table-error-cell {
                visibility: visible;
            }
        }
    }

    &__branch-table-standard-cell {
        .form-group {
            width: 68px;
            margin-left: auto;
            margin-right: auto;
        }

        .form-control {
            text-align: center;
        }
    }

    &__branch-table-error-cell {
        width: 203px;

        color: #FF0000;
        font-size: 11px;
        visibility: hidden;
    }

    &__table-collapsed-cell {
        display: none;

        border-bottom: 0;
    }

    &__table-second-row {
        .standards__table-calculation-cell {
            border-top: 0 !important;
            font-size: 11px;
            padding-top: 0;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 991px) {
    .standards {
        &__table-name-cell {
            font-weight: bold;
        }

        &__table-calculation-head-cell-content {
            display: none;
        }

        &__table-fix-row {
            &.standards__table-row--calculation_completed:not(.standards__table-row--loading):not(.standards__table-row--mode_edit) {
                display: none;
            }
        }

        &__table-row--calculation_completed.standards__table-row--mode_view {
            .standards__table-collapsable-cell {
                display: none;
            }

            .standards__table-collapsed-cell {
                display: table-cell;
            }

            .standards__table-calculation-cell-content {
                display: none;
            }

            &.standards__table-second-row {
                display: table-row;
            }
        }
    }
}
