.useredit-title {
  @media (max-width: 767px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.form-useredit {
  hr {
    margin: 5px 0;
  }
  
  p {
    color: #333;
  }
  
  .form-btns2 {
      margin-top: 15px;
      
      .btn {
          margin-left: 10px;
          float: right;
          
          &:last-child {
              margin-left: 0;
          }
      }
  }

  @media (max-width: 767px) {
    hr {
      margin: 13px -15px 10px;

      &.margin-top-none {
        margin-top: 0;
      }
    }

    button[type="submit"] {
      width: 100%;
      margin-top: -25px;
    }
    
    .form-btns2 {
        .btn {
            width: 100%;
            float: none;
            margin-bottom: 15px;
            margin-top: 0;
        }
    }
  }

  &--table {
    p {
      margin: 0;

      @media (max-width: 767px) {
        margin: 0 0 10px;
      }
    }

    .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 15px;
      padding-right: 4px;

      @media (max-width: 1023px) {
        padding-right: 20px;
      }

      @media (max-width: 767px) {
        display: block;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.category-useredit {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;

  a {
    font-size: 14px;
    color: #337ab7;
  }

  &__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;

    .fa-chevron-down {
      display: none;
      color: #337ab7;
    }

    .fa-chevron-right {
      display: block;
      color: #337ab7;
    }
  }

  &--active {
    border-bottom: none;
    background-color: #eee;
    margin-bottom: 20px;
    pointer-events: none;
    
    a {
      color: #333;
      font-weight: 700;
    }

    .fa-chevron-down {
      display: block;
      color: #333;
    }

    .fa-chevron-right {
      display: none;
      color: #333;
    }
  }
}

.dropdown-useredit {
  .dropdown-useredit__link{
    position: relative;
    background-color: transparent !important;
    color: #337ab7 !important;
    padding: 10px 15px !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none;
    z-index: 2;
    cursor: pointer;

    @media (max-width: 767px) {
      padding: 0 !important;

      i {
        margin-right: 9px;
      }
    }
  }

  .js-dropdown-link--active + .js-dropdown-list {
    display: block;
  }

  .js-dropdown-list {
    display: none;
    position: absolute;
    top: 2px;
    left: 0px;
    min-width: 235px;
    padding: 44px 15px 20px 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 18px -1px #8a8888;
    z-index: 1;

    form {
      margin: 0;
    }

    .checkbox-inline {
      color: #000;
      padding-left: 27px;

      input[type=checkbox] {
        margin-left: -27px;
      }

      &+.checkbox-inline {
        margin-top: 12px;
        margin-left: 0;
      }
    }

    button[type="submit"] {
      margin-top: 22px;
      padding: 6px 23px;
    }
  }
}

.useredit-nav {
  @media (max-width: 767px) {
    margin: 0 0 15px;
    border: none;
  }
}

#modalRole {
  .modal-header {
    border: none;
  }

  .modal-dialog {
    margin: -1px;

    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .checkbox-inline+.checkbox-inline {
        margin: 20px 0 0;
      }

      button[type="submit"] {
        margin-top: 20px;
      }
    }
  }
}