.worksheet {
	&__tabs {
		margin: 10px 0 25px;
	}

	&__table {
		> thead > tr > th:last-child {
			width: 110px;
			text-align: center;
		}
		> tbody > tr > td:last-child {
			.checkbox-nice {
				input[type="checkbox"] {
					display: none;
				}
				span {
					left: 45%;
				}
			}
		}
	}

	&__btns {
		text-align: right;
		.btn:not(:last-child) {
			margin-right: 15px;
		}
	}
}