.calculation-page {
  &__tabs {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .calculation-tab {
    padding: 30px 0;

    &__settings {
      display: flex;
      justify-content: space-between;
      margin-left: -5px;
      margin-right: -5px;
      margin-top: -5px;

      .hrm-button {
        margin: 5px;
      }
    }
  }
}



@media screen and (max-width: @mobile-max-width) {
  .calculation-page {
    &__tabs {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
