@actions-block-shadow: 0px 0px 15px rgba(8, 20, 45, 0.3);

.calculation-page {
  .hrm-button {
    white-space: nowrap;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
  }

  .calculation-form {
    margin-top: 32px;

    &__actions {
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;

      .hrm-button:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

.calculation-modal {
  &__scroll {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      height: 40px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
  }
}

@media screen and (max-width: @tablet-max-width) {
}

@media screen and (max-width: @mobile-max-width) {
  .calculation-page {
    .calculation-modal {
      height: 100vh;
      overflow: hidden;
      .hrm-basic-modal-dialog {
        height: 100%;
        display: flex;
        overflow: hidden;

        &__body {
          height: 100%;
          overflow: hidden;
          margin-left: -20px;
          padding-left: 20px;
          margin-right: -20px;
          padding-right: 20px;
          width: calc(100% + 40px);
          display: flex;
          flex-direction: column;
        }

        &__action-list {
          box-shadow: @actions-block-shadow;
        }
      }
      &__scroll {
        flex-grow: 1;
        overflow: auto;
        // height: 100%;
        margin-right: -40px;
        padding-right: 40px;
      }
    }
  }


  .calculation-page {
    .calculation-form {
      &__actions {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 0px 0px 15px rgba(8, 20, 45, 0.3);
        z-index: 20;

        button {
          border-radius: 0;
          width: 50%;
          margin: 0;
          border: none;
        }
      }
    }
  }
}
