.calculation-page {
  .hrm-basic-button {
    padding-left: 30px;
    padding-right: 30px;
    white-space: nowrap;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
  }

  .calculation-form {
    margin-top: 32px;

    &__actions {
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: @tablet-max-width) {
  .calculation-page {
    &__back {
      font-size: 0;
      width: 30px;
      padding: 0;
      justify-content: center;

      &:before {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: @mobile-max-width) {
  .calculation-page {
    .calculation-form {
      &__actions {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 0px 0px 15px rgba(8, 20, 45, 0.3);
        z-index: 20;

        button {
          border-radius: 0;
          width: 50%;
          margin: 0;
          border: none;
        }
      }
    }
  }
}
