.calculation-page {
  &__employees-modal {
    .employees-form {
      &__tabs {
        margin-bottom: 30px;
      }
      &__tab {
        padding-top: 20px;
      }
      &__employees-scrollable-list {
        max-height: 350px;
      }
      &__position {
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
      &__position-name {
        font-size: 13px;
        font-weight: 500;
        color: #8E9CBB;
        margin-bottom: 20px;
      }
      &__checkbox-group {
        margin-bottom: 20px;
        width: 100%;
        .hrm-checkbox-group {
          display: block;
        }
      }
      &__checkbox {
        margin-bottom: 20px;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: @mobile-max-width) {
  .calculation-page {
    &__employee-modal {
      .employee-form {
        &__row {
          display: block;
        }
        &__level {
          margin-top: 20px;
          margin-left: 0;
          width: 100%;
          width: 140px;
        }
      }
    }
  }
}
