.calculation-page {
  .positions-table {
    &__main-table {
      td {
        text-align: right;
        .hrm-table__cell-content {
          justify-content: flex-end;
        }
      }

      .positions-table__position {
        td {
          text-align: left;
          .hrm-table__cell-content {
            justify-content: flex-start;
          }
        }
      }
    }

    &__position {
      height: 40px;
      background-color: #f5f7fa;
      font-weight: bold;
      font-size: 13px;
      color: #000000;
    }

    &__total {
      height: 40px;
      background-color: #f5f7fa;
    }

    &__empty {
      border: 0;
    }

    .positions-table__col--total,
    .positions-table__col--payment {
      background: #e1edff !important;
    }
  }
}

@media screen and (max-width: @tablet-max-width) {
  .calculation-page {
    .positions-table {
      .hrm-table > thead > tr th {
        height: 70px;
      }

      &__fixed-section {
        width: 180px;
        box-shadow: none;
        background: transparent;
        border: none;

        th,
        td {
          border-right: none;
        }

        tr:not(.positions-table__position):not(.positions-table__total) {
          background: white;
          box-shadow: 0 0 10px rgba(0, 21, 80, 0.3);
        }

        td {
          .hrm-table__cell-content {
            width: 160px;
            white-space: nowrap;
          }
        }

        .positions-table__position {
          // font-size: 0px;
          // opacity: 0;
          // visibility: hidden;
          // pointer-events: none;
          // background: transparent;
        }
      }

      &__main-table {
        th,
        td {
          &:first-child:not(.positions-table__position) {
            .hrm-table__head-cell-content {
              width: 158px;
            }
          }
        }
      }
    }
  }
}
