@import "components/mixins.less";

.form-cand-st1 {
    max-width: 1070px;
    
    .form-group-info {
        margin-left: 20%;
    }

    .form-group-photo {
        float: left;
        width: 140px;
    }
    
    .form-group-auto-w {
        width: auto;
    }
    
    .form-group-phone {
        width: 160px;
    }
    
    .form-block {
        width: 100%;
        float: left;
    }
    
    .form-btns {
        margin-top: 10px;
    }
}

@media (min-width: 992px) {    
    .form-group-email {
        width: -webkit-calc(~'66.6666% - (160px * 2)');
        width: -moz-calc(~'66.6666% - (160px * 2)');
        width: calc(~'66.6666% - (160px * 2)');        
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .form-cand-st1 {
        .form-group-info {
            margin-left: 170px;
        }

        .form-group-email {
            width: -webkit-calc(~'100% - (160px * 2)');
            width: -moz-calc(~'100% - (160px * 2)');
            width: calc(~'100% - (160px * 2)');        
        }
    }
}

@media (max-width: 767px) {
    .form-cand-st1 {
        .form-group-photo {
            width: 100%;
            float: none;
            .clearfix();
        }

        .form-group-info {
            margin-left: 0;
        }
        
        .form-block {
            float: none;
        }
        
        .form-group-phone {
            width: 50%;
        }
        
        .form-group-radio {
            white-space: nowrap;

            .block-radio-inline {
                display: inline-block;
                padding-top: 0;
                
                .radio-inline {
                    top: -2px;
                    margin-right: 0;
                    margin-left: 20px;
                }
            }
        }

        .form-btns {
            .btn {
                width: 100%;
            }
        }
    }
}