.photo-upload {
    position: relative;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: @link-color;
    width: 100%;
    margin-top: 50px;

    input[type="file"]{
        display: none;
    }

    &:hover,
    &:focus {
        color: @link-hover-color;
    }
}

.form-group-photo {
    margin-bottom: 20px;
    
    .photo {
        width: 140px;
        height: 140px;
        border-radius: 2px;
        background-color: #ebebeb;
        text-align: center;
    
        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 2px;
        }
        
        .photo-upload {
            margin-top: 52px;
            line-height: 1.42857143;
        }
    }
    
    .menu-photo {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        padding-top: 5px;
    
        li {
            float: left;
    
            &:first-child {
                margin-left: 31px;
            }
        }
    }
    
    .btn-refresh {
        position: relative;
        overflow: hidden;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 16px;    
        color: @link-color;
        border: 1px solid #fff;
        cursor: pointer;
        margin-bottom: 0;
    
        input[type="file"]{
            display: none;
        }
    
        &:hover,
        &:focus {
            color: @link-hover-color;
        }        
    }
}

.form-empl-st1 {
    .form-block {
        max-width: 770px;
    }

    .form-group-duration {
        .form-control {
            width: 80px;
            float: left;
            margin-right: 30px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .form-empl-st1 {
        max-width: none;
        
        .col-fix-width {
            max-width: 170px;
        }
        
        .form-group-calc-w {
            width: -webkit-calc(~'170px + 33.3333%');
            width: -moz-calc(~'170px + 33.3333%');
            width: calc(~'170px + 33.3333%');
        }
        
        .form-btns {
            margin-top: -88px;
        }
    }
}

@media (max-width: 767px) {
    .form-group-photo {
        .photo {
            width: 50px;
            height: 50px;
            float: left;
            
            .photo-upload {
                width: 50px;
                height: 50px;
                font-size: 10px;
                margin: 0;
                padding-top: 10px;
            }
        }
        
        .menu-photo {
            margin-left: 70px;
            margin-top: 5px;
            white-space: nowrap;
            
            > li {
                display: inline-block;
                
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    
    .form-empl-st1 {
        .form-group-radio {
            white-space: nowrap;

            .block-radio-inline {
                display: inline-block;
                padding-top: 0;
                
                .radio-inline {
                    top: -2px;
                    margin-right: 0;
                    margin-left: 20px;
                }
            }
        }

        .form-group-auto-w {
            width: auto;
        }

        .form-btns {
            .btn {
                float: none;
                width: 100%;
            }
        }
    }
}