// Form
.form-empllist {
    margin-bottom: 15px;
    
    .btn-link {
        margin-right: 15px;
        
        .fa {
            margin-left: 5px;
        }
    }
    
    .checkbox-inline {
        margin-right: 15px;
    }
    
    .js-select-multiple {
        min-width: inherit;
    }
    
    .form-btns {
        margin-top: 25px;

        .btn {
            float: right;
        }
    }
}

// Table
.table-list {
    > tbody > tr > td, 
    > thead > tr > th {
        vertical-align: middle;
    }
    
    .cell-btns {
        white-space: nowrap;
    }
}