.surcharge {
	margin-bottom: 30px;
}

.datepicker-surcharge {
	padding: 0;
}

.surcharge-period-week {
	input {
		position: absolute;
		opacity: 0;
		left: -999999px;
		top: -999999px;
		
		&:checked + span {
			background-color: #04c;
			border-color: #04c;
			color: #fff;
		}
	}
	
	.checkbox {
		display: inline-block;
		margin: 3px 0 5px;
		span {
			height: 30px;
			line-height: 28px;
			min-width: 30px;
			text-align: center;
			border: 1px solid #ccc;
			border-radius: 4px;
			margin-right: 5px;
			font-size: 14px;
			display: inline-block;
			text-transform: lowercase;
		}
		label {
			margin: 0;
			padding-left: 0;
			font-weight: normal;
		}
		
		&.disabled {
			span {
				background-color: #e6e6e6;
			}
		}
	}
}

.form-group-surcharge-period-month {
	position: relative;	
	
	.surcharge-period-month {
		display: none;
		position: absolute;
		top: 100%;
		left: 15px;
		margin-top: 3px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
		padding: 15px;
		z-index: 500;
		min-width: 270px;
		background-color: #fff;
		
		&::before {
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			top: -6px;
			left: 10px;
			display: block;
			background-color: #fff;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			transform: rotate(45deg);
			z-index: 600;
		}
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: block;
			
			li {
				height: 30px;
				cursor: pointer;
				width: 30px;
				text-align: center;
				line-height: 28px;
				border: 1px solid #ccc;
				border-radius: 4px;
				margin: 0 5px 5px 0;
				float: left;
				
				&:last-child {
					margin-right: 0;	
				}
				
				&.active {
					background-color: #e6e6e6;
				}
			}
			
			&:last-child {
				li {
					margin-bottom: 0;
				}	
			}
		}
	}
}

.surcharge-price {
	.form-group {
		display: inline-block;
		vertical-align: top;
		
		&:first-child {
			margin-right: 30px;
		}
		
		.radio-inline {
			margin-top: 5px;
			
			i {
				display: none;
			}
		}
	}
}

@media(max-width: 767px) {
	.surcharge-price {
		.form-group {
			margin-right: 0 !important;
			float: left;
			
			&:last-child {
				margin-left: -1px;	
			}
			
			.surcharge-price-input {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				max-width: 120px;
			}
			
			.radio-inline {
				padding-left: 0;	
				margin-left: -1px !important;
				float: left;
				margin-top: 0;
				
				&:first-child i {
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;
				}
				
				span {
					display: none;
				}
				
				input {
					opacity: 0;
					position: absolute;
					left: -999999px;
					top: -999999px;
					
					&:checked + span + i {
						background-color: #e6e6e6;
					}
				}
				
				i {
					display: block;
					width: 34px;
				    height: 34px;
				    padding: 6px;
				    text-align: center;
				    font-size: 13px;
				    line-height: 1.42857143;
				    color: #000;
				    background-color: #fff;
				    background-image: none;
				    border: 1px solid #ccc;				    
				    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
				}
			}
		}
	}
}