.form-empl-st2 {
    .btn-add {
        margin-bottom: 20px;
    }
    
    .form-group-period {
        width: auto;

        .input-group-dash {
            float: left;
            margin: 5px 7px 0 7px;
            color: #000;  
        }
        
        .form-control {
            width: 70px;
            float: left;
        }
    }
    
    .form-group-btns {
        margin-top: 25px;
        white-space: nowrap;
        
        .btn {
            margin-right: 6px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    .form-group-chbxs {
        .file-upload,
        .table-docs {
            margin-left: 27px;
        }        
    }
    
    .form-group-work {
        .form-group {
            float: left;
            margin-right: 30px;
            
            &:last-child {
                margin-right: 0;
            }
        }

        .form-control {
            float: left;
            width: 70px;
            margin-right: 10px;
            
            &:last-child {
                margin-right: 0;
            }
        }
        
        .form-control-month {
            width: 130px;
        }
    }
    
    .form-block-children {
        .form-group {
            float: left;
            margin-right: 50px;
            
            .form-control {
                width: 70px;
            }
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    .form-group-children {
        margin-left: 200px;
        
        .form-control {
            width: 70px;
        }
    }
    
    .form-btns {
        .btn {
            margin-left: 10px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1280px) {
    .form-empl-st2 {
        .form-group-work {
            .form-control-month {
                width: 115px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .form-empl-st2 {
        .form-block-education {
            .form-group-btns {
                width: 100%;
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .form-empl-st2 {
        .form-block-career {
            .form-group-fix-w {
                width: 200px;
            }
        }
        
        .form-group-work {
            .form-group {
                margin-right: 15px;
            }

            .form-control {
                width: 60px;
                margin-right: 7px;
            }

            .form-control-month {
                width: 100px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .form-empl-st2 {
        .form-group-calc-w {
            width: -webkit-calc(~'191px + 41.66666667%');
            width: -moz-calc(~'191px + 41.66666667%');
            width: calc(~'191px + 41.66666667%');
        }
        
        .form-block-education {
            .form-group-btns {
                margin-top: -50px;
            }
        }

        .form-block-career {
            .form-group-fix-w {
                min-width: 200px;
            }
        }        

        .form-block-work {
            .form-group-btns {
                margin-top: -50px;
            }
        }
    }
}

@media (max-width: 767px) {
    .form-empl-st2 {
        .form-group-btns {
            margin-top: 0;
        }
        
        .form-block-work {
            padding-bottom: 35px;
            position: relative;
            margin-bottom: 20px;
            
            .form-group-btns {
                margin: 0;
                position: absolute;
                left: 0;
                bottom: 0;
                margin: 0;
                padding: 0;
            }
        }

        .form-group-work {
            .form-group {
                float: none;
                margin-right: 0;
            }
        }
        
        .form-block-children {
            > .form-group {
                float: none;
                margin-right: 0;
            }
            
            .form-group-children {
                margin-left: 0;
            }
            
            .form-group-btns {
                float: none;
                clear: both;
                margin-right: 0;
            }
        }
        
        .form-btns {
            .btn {
                margin: 0;
                width: 50%;
            }
        }
    }
}

@media (max-width: 400px) {
    .form-empl-st2 {
        .form-btns {
            .btn-link {
                max-width: 130px;
                text-align: left;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: -5px; 
                float: left;
                padding-left: 0;
                white-space: normal;
            }
        }
    }
}