@import "components/mixins.less";

.btn-post {
    padding: 0;
    width: 30px;
    height: 30px;    
}

.btn-group-post {
    padding-top: 2px;
    height: 34px;

    .btn {
        margin-right: 3px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}

.label-xs {
    display: none;
    width: 32px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    vertical-align: middle;
    color: #555555;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.form-emplfine {
    .btn-fine {
        &:focus,
        &.active {
            background-color: #ffa9b1;
        }
    }

    .btn-premium {
        &:focus,
        &.active {
            background-color: #e1f6cc;
        }
    }
    
    .form-control-bg {
        width: 330px;
    }
    
    .form-control-sm {
        width: 140px;
    }
}

.table-emplfine {
    .name-post {
        font-size: 14px;
    }
}


@media (max-width: 767px) {
    .navbar {
        .navbar-form {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 7px;
            left: 50%;
            margin-left: -60px;
        }

        .navbar-login {
            margin-top: 8px;
            position: absolute;
            top: 0px;
            right: 15px;
            
            .fa {
                font-size: 18px;
            }
        }

        .navbar-toggle {
            position: absolute;
            top: 5px;
            left: 5px;
            margin: 0;
        }
        
        .navbar-nav {
            > li:nth-child(5),
            > li:nth-child(6),
            > li:nth-child(7) {
                display: block;
            }
        }
        
        .navbar-collapse {
            &.collapse,
            &.collapsing {
                padding-top: 35px;
            }
        }
    }

    .container-fluid > .navbar-collapse {
        margin-left: -15px;
        margin-right: -15px;
    }
    
    .form-filters {
        .form-group-bg {
            margin-right: 0;
            float: none;
            clear: both;
            width: 100%;
    
            .form-control {
                width: 100%;
            }
        }

        .form-group-active {
            position: relative;
            
            .label-xs {
                display: block;
            }
    
            .form-control {
                padding-left: 32px;
            }
            
            .select2-container .select2-selection--single .select2-selection__rendered {
                padding-left: 32px;
            }
            
            &.form-group-datepicker {
                .form-control {
                    padding-left: 12px;
                }
            }        
        }
    }
    
    .form-emplfine {
        .form-group-xs {
            display: none;
            width: 100%;
            clear: both;
            overflow: hidden;
        }
        
        .form-radiogroup-xs {
            margin: 15px 0px 15px 0px;

            .fa {
                margin-left: 10px;
            }
            
            .btn {
                width: 145px;
            }
        }
        
        .form-group-datepicker {
            margin-right: 0;
        }
        
        .form-group-sum {
            .form-control {
                width: 145px;
            }
        }
        
        .form-btns {
            text-align: right;

            .btn {
                margin-top: 0;
                float: none;
            }
        }
    }

    .form-fine-premium {
        .form-group-datepicker {
            float: none;
            clear: both;
            margin-right: 0;
        }

        .btn-filters {
            margin-left: -12px;
            float: left;
            text-decoration: none;
            
            .fa {
                margin-left: 10px;
            }
            
            .txt-hide {
                display: none;
            }
        }
        
        .btn-primary {
            margin-top: 0;
            float: right;
        }

        .form-group-xs {
            display: none;
            width: 100%;
            clear: both;
            overflow: hidden;
        }
        
        .form-group-post-xs {
            margin-right: 0;
        }
    }

    .table-responsive {
        border: 0;

        > .table-emplfine > tbody > tr > td {
            white-space: normal;
        }
    }
    
    .table-emplfine {
        > thead {
            display: none;
        }
        
        > tbody {
            > tr {
                display: block;
                padding-bottom: 20px;
                padding-top: 20px;
                border-bottom: 1px solid #ddd;
                
                &:last-child {
                    border-bottom: 0;
                }
                
                > td {
                    padding-left: 100px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    display: block;
                    border-top: 0;
                }
            }
        }
        
        td {
            position: relative;
            
            &:before {
                content: attr(data-label);
                position: absolute;
                top: 4px;
                left: 8px;
            }
        }
        
        .cell-post {
            display: none;
        }
        
        .cell-name {
            .name-post {
                display: inline !important;
                margin-left: 5px;
            }
        }
        
        .cell-date {
            text-align: left;
        }
        
        .cell-btns {
            display: none;
        }
        
        .sum {
            padding: 0 25px;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
        }
        
        .btns {
            display: inline-block !important;
            
            .btn {
                margin-right: 5px;
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        
        .cell-premium,
        .cell-fine {
            background-color: transparent;
            text-align: left;
        }
        
        .cell-premium {
            .sum {
                background-color: #e1f6cc;
            }
        }
        
        .cell-fine {
            .sum {
                background-color: #ffa9b1;
            }
        }
    }
}

@media (max-width: 350px) {
    .form-emplfine {
        .form-radiogroup-xs {
            .btn {
                width: 50%;
            }
        }
        
        .form-btns {
            .btn {
                width: 100%;
            }
        }
    }
    
    .form-fine-premium {
        .form-group-datepicker {
            .input-group {
                width: 135px;
            }
            
            .input-group-dash {
                margin-left: 1px;
                margin-right: 1px;
            }
        }
    }
}