@import "components/variables.less";

//***************** Form 
.form-filiation {
    margin-bottom: 15px;

    .form-group {
        width: 170px;
        float: left;
        margin-right: 30px;
    }
    
    .btn-primary {
        margin-top: 25px;
        margin-right: 10px;
    }
    
    .input-group {
        .btn {
            color: @link-color;
            
            &:hover {
                color: @link-hover-color;
            }
        }
    }
    
    .btn-print {
        float: right;
        width: 130px;
        margin-left: 10px;
        margin-top: 25px;
        
        .fa {
            margin-right: 10px;
        }
    }
}

.form-production {
    margin-top: 20px;
    
    .form-group {
        width: 270px;
        float: left;
        margin-right: 30px;
    }
    
    .form-groups {
        margin-bottom: 15px;
    }
    
    .form-buttons {
        .btn-default {
            margin-right: 30px;
        }
        .btn-link {
            padding-left: 0;
            padding-right: 0;
            margin-right: 30px;

            .fa-chevron-circle-left {
                margin-right: 5px;
            }

            .fa-chevron-circle-right {
                margin-left: 5px;
            }
        }
    }
}

.block-tabs {
    margin-top: 10px;

    .nav-tabs {
        margin-right: 230px;
    }
}

//************** Table
.table-filiation {
    width: 905px;

    .cell-danger {
        background-color: #ffd4d4;
    }
    
    .cell-standard {
        text-align: center;
        background-color: #e1f6cc;
        
        &.plus {
            background-color: #c3e6a1;
        }
    }
    
    .cell-lateness {
        text-align: center;
        
        &.type1 {
            background-color: #ffffb2;
        }
        
        &.type2 {
            background-color: #ffd4d4;
        }
        
        &.type3 {
            background-color: #ffa9b1;
        }
    }
    
    .row-total {
        background-color: #ededed;
    }
}

.table-production {
    border-collapse: separate;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left: 0px;
    border-right: 0px;
    
    > thead > tr  {
        > th {
            text-align: center;
            border-top: 1px solid #ddd !important;
            border-left-color: transparent;
            border-right-color: transparent;
            
            &.cell-selected {
                border-left-color: #468cc8;
                border-right-color: #468cc8;
                border-top-color: #468cc8 !important;
                background-color: #f6f9fc;
            }            
        }
    }
    
    > tbody > tr {
        > td {
            vertical-align: middle;
            text-align: center;
            border-top: 1px solid transparent;
            border-bottom: 1px solid #ddd;
            border-left-color: transparent;
            border-right-color: transparent;
            
            &:first-child {
                border-left: 1px solid transparent;
            }

            &:last-child {
                border-right: 1px solid transparent;
            } 
            
            &.cell-selected {
                border-left-color: #468cc8;
                border-right-color: #468cc8;
                background-color: #f6f9fc;
            }
        }

        &.row-selected {
            > td {
                border-top-color: #468cc8;
                border-bottom-color: #468cc8;
                background-color: #f6f9fc;
                border-left-color: #f6f9fc;
                border-right-color: #f6f9fc;
                
                &:first-child {
                    border-left-color: #468cc8;
                }
    
                &:last-child {
                    border-right-color: #468cc8;
                }
                
                &.cell-selected {
                    border-left-color: #468cc8;
                    border-right-color: #468cc8;                    
                }
            }            
        }
        
        &:last-child {
            > td.cell-selected {
                border-bottom-color: #468cc8;
            }
        }
    }
    
    .btn {
        background-color: transparent;
        padding-left: 3px;
        padding-right: 3px;
    }    
    
    .form-control {
        width: 45px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: inherit;
        display: inline-block;
        text-align: center;
    }
    
    .row-head {
        > td {
            text-align: left;
            color: #a1a1a1;
            font-weight: bold;
            font-size: 12px;
            padding-left: 52px;
            border-bottom: 0px;
        }
    }
           
    .form-timework {
        white-space: nowrap;
        
        .form-control:nth-of-type(2) {
            margin-right: 3px;
        }
        
        .btn-add-time {
            color: #4ba34c;
        }
        
        .btn-del-time {
            color: #ff0000;
            
            i {
                position: relative;                
                top: -1px;
            }
        }            
    }
    
    .cell-timework {
        width: 175px;
        text-align: left;
    }
    
    .cell-premium {
        background-color: #e1f6cc;
    }
    
    .cell-sum {
        background-color: #ededed;
    }
    
    .cell-fine-big {
        background-color: #ffd4d4;
        
        .form-control {
            background-color: #ffd4d4;
        }
    }
    
    .cell-fine-small {
        background-color: #ffffb2;
        
        .form-control {
            background-color: #ffffb2;
        }           
    }
    
    .row-total {
        td:first-child {
            padding-left: 52px;
        }
    }
    
    .cell-total {
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .cell-states {
        white-space: nowrap;
        padding-right: 0;
        width: 40px;
        text-align: right;

        .fa {
            margin-right: 8px;
            
            &:last-child {
                margin-right: 0;
            }
        }
        
        .fa-arrow-up {
            color: #39a03f;
        }

        .fa-arrow-down,
        .fa-file-text {
            color: #f60721;
        }
    }
    
    .cell-remove {
        width: 20px;
    }
    
    .btn-add {
        color: #4ba34c;
    }
    
    .btn-del,
    .btn-cancel {
        color: #f60721;
    }    
    
    .cell-persacc {
        white-space: nowrap;
        text-align: center;
        
        .btn {
            margin-right: 10px;
            
            &:last-child {
                margin-right: 0;
            }
        }
        
        .form-control {
            width: 55px;
            margin-right: 5px;
        }
    }
}

.table-production-cont {
    width: 100%;
    position: relative;
}

.panel-group-operat {
    position: absolute;
    right: 0px;
    white-space: nowrap;
    
    .btn {
        margin-left: 6px;
        
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
           -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);        
    }
}

.table-production-print {
    .row-head > td {
        padding-left: 8px;
    }
    .row-total td:first-child {
        padding-left: 8px;
    }
}

.legend-print {
    font-size: 12px;
    
    .item {
        margin-bottom: 5px;
    }
    
    .item-dt {
        float: left;
        font-weight: bold;
        white-space: nowrap;
        text-align: right;
        width: 55px;
    }
    
    .item-dd {
        margin-left: 70px;
    }
}