@import "components/variables.less";
@import "components/mixins.less";

// Current styles
.good1,
td.good1, 
td.good1 .form-control {
    background-color: #e1f6cc;
}

.good2,
td.good2, 
td.good2 .form-control {
    background-color: #c3e6a1;
}

.bad1,
td.bad1, 
td.bad1 .form-control {
    background-color: #ffffb2;;
}

.bad2,
td.bad2, 
td.bad2 .form-control {
    background-color: #ffd4d4;;
}

.bad3,
td.bad3, 
td.bad3 .form-control {
    background-color: #ffa9b1;;
}

//***************** Form 
.form-filiation {
    margin-bottom: 15px;

    .form-group {
        width: 170px;
        float: left;
        margin-right: 30px;
    }
    
    .form-btns {
        margin-top: 25px;
        float: left;
        
        .btn {            
            &:last-child {
                margin-left: 10px;
            }
        }
    }
    
    .form-btns-print {
        float: right;

        .btn {
            width: 130px;
            float: left;
            
            .far {
                margin-right: 10px;
            }
        }
    }
    
    .input-group {
        .btn {
            color: @link-color;
            
            &:hover {
                color: @link-hover-color;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .form-filiation {
        .form-btns-print {
            width: 130px;
            
            .btn {
                &:last-child {
                    margin-left: 0;
                    margin-top: 15px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .form-filiation {
        position: relative;

        .form-btns {
            margin-top: 0;
            float: none;
            clear: both;
        }
        
        .form-btns-print {
            float: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 130px;
            margin-top: 25px;

            .btn {
                margin-right: 0;
                
                &:first-child {
                    margin-bottom: 15px;
                }
                
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .form-filiation {
        margin-left: -10px;
        margin-right: -10px;

        .form-group {
            width: 50%;
            float: left;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 0;
        }

        .form-btns {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 0;
            margin-bottom: 15px;
            float: left;
            
            .btn {
                width: -webkit-calc(~'50% - 10px');
                width: -moz-calc(~'50% - 10px');
                width: calc(~'50% - 10px');
                
                &:first-child {
                    float: left;
                }
                
                &:last-child {
                    float: right;
                }
            }
        }
    }
}


//************** Table
.table-filiation {
    width: 905px;
    
    > tbody > tr > td {
        vertical-align: middle;
    }
    
    .cell-price {
        white-space: nowrap;
    }
    
    .cell-salmon {
        white-space: nowrap;

        .form-control {
            width: 45px;
            display: inline-block;
        }
    }
    
    .cell-lateness {
        text-align: center;
        
        &.type1 {
            background-color: #ffffb2;
        }
        
        &.type2 {
            background-color: #ffd4d4;
        }
        
        &.type3 {
            background-color: #ffa9b1;
        }
    }
    
    .cell-standard {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .table-filiation {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .table-filiation {
        > thead {
            > tr {
                > th {
                    line-height: 1.2;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .table-responsive-wrapper {
        .table-responsive2 {
            .table-filiation {
                > thead {
                    > tr {
                        > th {
                            &.cell-head-posts {
                                &:before {
                                    content: "\f47f";
                                }
                            } 
                            
                            &.cell-head-type {
                                &:before {
                                    content: "\f02c";
                                }
                            }
                            
                            &.cell-head-load {
                                &:before {
                                    content: "\f4ce";
                                }
                            }
                            
                            &.cell-head-load-add {
                                &:before {
                                    content: "\f4cf";
                                }
                            }
                            
                            &.cell-head-users {
                                &:before {
                                    content: "\f0c0";
                                }
                            }
                            
                            &.cell-head-fot {
                                &:before {
                                    content: "\f0b1";
                                }
                            }
                            
                            &.cell-head-standard {
                                &:before {
                                    content: "\f328";
                                }
                            }
                            
                            &.cell-head-lateness {
                                &:before {
                                    content: "\f4fd";
                                }
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        position: relative;
                        min-width: 150px;

                        > td {
                            text-align: center;
                            
                            &.cell-lateness {
                                width: 33.3333%;
                                position: absolute;
                                bottom: 0;
                                
                                &.type1 {
                                    left: 0;
                                }

                                &.type2 {
                                    left: 33.3333%;
                                }
                                
                                &.type3 {
                                    left: 66.6666%;
                                }
                            }
                            
                            &.cell-salmon {
                                padding-top: 3px;
                                padding-bottom: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.block-tabs {
    margin-top: 10px;
    margin-bottom: 20px;

    .nav-tabs {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    &.block-tabs-prod {
        .nav-tabs {
            margin-right: 230px;
        }

        .btn-tabs-add {
            float: right;
        }
    }
}

.form-btns-calc {
    margin-top: 20px;
    
    .btn-default {
        margin-right: 30px;
    }

    .btn-info {
        padding-left: 0;
        padding-right: 0;

        .fa-chevron-circle-left {
            margin-right: 5px;
        }

        .fa-chevron-circle-right {
            margin-left: 5px;
        }
    }
    
    .btn-info-less {
        margin-right: 30px;
    }
    
    .btn-save {
        float: right;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .form-btns-calc {
        .btn-info {
            font-size: 13px;
        }
    }
}

@media (max-width: 767px) {
    .form-production {
        margin-top: 15px;
    }

    .form-btns-calc {
        margin-top: 15px;

        .btn-save {
            float: none;
            display: block;
            width: 100%;
            clear: both;
        }
        
        .btn-info {
            margin-bottom: 15px;
        }
        
        .btn-info-less {
            float: left;
            margin-right: 0;
        }
        
        .btn-info-more {
            float: right;
        }            
    }   
}

.table-production {
    border-collapse: separate;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left: 0px;
    border-right: 0px;
    
    > thead > tr {
        > th {
            text-align: center;
            border-top: 1px solid #ddd !important;
            border-left-color: transparent;
            border-right-color: transparent;
            
            &.cell-selected {
                border-left-color: #468cc8;
                border-right-color: #468cc8;
                border-top-color: #468cc8 !important;
                background-color: #f6f9fc;
            }
        }
    }
    
    > tbody > tr {
        > td {
            vertical-align: middle;
            text-align: center;
            border-top: 1px solid transparent;
            border-bottom: 1px solid #ddd;
            border-left-color: transparent;
            border-right-color: transparent;
            
            &:first-child {
                border-left: 1px solid transparent;
            }

            &:last-child {
                border-right: 1px solid transparent;
            } 
            
            &.cell-selected {
                border-left-color: #468cc8;
                border-right-color: #468cc8;
                background-color: #f6f9fc;
            }            
        }
        
        &.row-selected {
            > td {
                border-top-color: #468cc8;
                border-bottom-color: #468cc8;
                background-color: #f6f9fc;
                border-left-color: #f6f9fc;
                border-right-color: #f6f9fc;
                
                &:first-child {
                    border-left-color: #468cc8;
                }
    
                &:last-child {
                    border-right-color: #468cc8;
                }
                
                &.cell-selected {
                    border-left-color: #468cc8;
                    border-right-color: #468cc8;                    
                }
            }
        }
        
        &:last-child {
            > td.cell-selected {
                border-bottom-color: #468cc8;
            }
        }
    }
    
    .btn {
        background-color: transparent;
        padding-left: 3px;
        padding-right: 3px;
    }    
    
    .form-control {
        width: 45px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: inherit;
        display: inline-block;
        text-align: center;
    }
    
    .row-head {
        > td {
            text-align: left;
            color: #a1a1a1;
            font-weight: bold;
            font-size: 12px;
            padding-left: 58px;
            border-bottom: 0px;
        }
    }
    
    .form-timework {
        white-space: nowrap;
        
        .form-control:nth-of-type(2) {
            margin-right: 3px;
        }
        
        .btn-add-time {
            color: #4ba34c;
        }
        
        .btn-del-time {
            color: #ff0000;
            
            i {
                position: relative;                
                top: -1px;
            }
        }            
    }
    
    .cell-timework {
        text-align: left;
        white-space: nowrap;
    }
    
    .cell-premium {
        background-color: #e1f6cc;
    }
    
    .cell-sum {
        background-color: #ededed;
    }
    
    .cell-fine-big {
        background-color: #ffd4d4;
        
        .form-control {
            background-color: #ffd4d4;
        }
    }
    
    .cell-fine-small {
        background-color: #ffffb2;
        
        .form-control {
            background-color: #ffffb2;
        }           
    }
    
    .row-total {
        td:first-child {
            padding-left: 52px;
        }
    }
    
    .cell-total {
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
    }
        
    .cell-remove {
        width: 20px;
    }
    
    .btn-add {
        color: #4ba34c;
    }
    
    .btn-del,
    .btn-cancel {
        color: #f60721;
    } 
    
    .cell-persacc {
        white-space: nowrap;
        text-align: center;
        
        .btn {
            margin-right: 10px;
            
            &:last-child {
                margin-right: 0;
            }
        }
        
        .form-control {
            width: 55px;
            margin-right: 5px;
        }
    } 
    
    .cell-states {
        padding-left: 0;
    }
    
    .cell-name {
        text-align: left;
    }    
}

@media (min-width: 992px) {
    .table-responsive-wrapper-production {
        .table-responsive2 {
            .table-production {
                > thead {
                    > tr {
                        > th {
                            &.cell-head-timework {
                                height: auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) { 
    .table-responsive-wrapper-production {
        .table-responsive2 {
            .table-production {
                > thead {
                    > tr {
                        > th {
                            border: 1px solid #ddd;
                            border-left-color: transparent;
                            border-right: 0;
                            border-bottom-color: transparent; 
                            
                            &.cell-selected {
                                border-left-color: #468cc8;
                                border-right-color: #468cc8;
                                border-top-color: #468cc8 !important;
                                border-bottom-color: #468cc8;
                                background-color: #f6f9fc;
                            }
                            
                            &:last-child {
                                border-bottom-color: #ddd;
                            }
                        }
                    }
                }

                > tbody {
                    > tr {
                        position: relative;
                        
                        > td {
                            border-bottom-color: transparent;
                            border-top: 1px solid #ddd;
                            
                            &.cell-selected {
                                border-top-color: #468cc8;
                                border-bottom-color: #468cc8;
                                background-color: #f6f9fc;
                                border-left-color: transparent;
                                border-right-color: transparent;
                            }
                            
                            &:last-child {
                                border-bottom-color: #ddd;
                            }
                        }
                        
                        &.row-selected {
                            > td {
                                background-color: #f6f9fc;
                                border-left-color: #468cc8;
                                border-right-color: #468cc8;
                                border-top-color: #ddd;
                                border-bottom-color: transparent;
                                
                                &:first-child {
                                    border-left-color: transparent;
                                }
                                
                                &.cell-name {
                                    border-top-color: #468cc8;
                                }
                    
                                &:last-child {
                                    border-right-color: #468cc8;
                                    border-bottom-color: #468cc8;
                                }
                                
                                &.cell-selected {
                                    border-top-color: #468cc8;
                                    border-bottom-color: #468cc8;
                                }
                            }
                        }
                        
                        &:last-child {
                            > td {
                                &.cell-selected {
                                    border-right-color: #468cc8;
                                }
                            }
                        }
                    }
                }
                
                .cell-states, 
                .cell-btn-del {
                    position: absolute;
                    top: 24px;
                    height: 35px;
                    line-height: 35px;
                    vertical-align: middle;
                    border: 0;
                    padding: 0 !important;
                    background-color: transparent;
                    z-index: 1;
                }
                
                .cell-btn-del {
                    left: 13px;
                    top: 23px;
                }
                
                .cell-states {
                    left: 27px;
                    width: 30px;
                    text-align: center;
                    
                    .fas {
                        margin-right: 1px;
                        
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                
                .cell-name {
                    padding-left: 55px;
                    height: 60px;
                    padding-top: 32px;
                    position: relative;
                    
                    &:before {
                        content: attr(data-post);
                        position: absolute;
                        top: 5px;
                        left: 15px;
                        background-color: transparent;
                        color: #a1a1a1;
                        font-weight: 700;
                        font-size: 12px;
                    }                    
                }
                
                .cell-total {
                    height: 60px;
                    padding-top: 32px;
                }
                
                .cell-head-name {
                    height: 60px;
                    
                    .cell-head_name {
                        padding-top: 24px;
                    }
                }
                
                .cell-timework {
                    min-height: 52px;
                }
                
                .cell-persacc {
                    padding-left: 7px;

                    .btn {
                        padding-left: 8px;
                        padding-right: 8px;
                    }
                }
                
                .cell-fine-prem {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    height: 35px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .table-responsive-wrapper-production {
        position: relative;
        margin-left: -15px;
        margin-right: -15px;
        
        .table-responsive2 {
            margin-left: 170px;
            width: -webkit-calc(~'100% - 170px');
            width: -moz-calc(~'100% - 170px');
            width: calc(~'100% - 170px');
            
            // Производство
            .table-production {
                margin-bottom: 0;

                > thead {
                    display: block;
                    width: 170px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    .box-shadow(7px 0 5px -5px rgba(0, 0, 0, 0.25));
                    background-color: #fff;
                    border-right: 1px solid #ddd;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    
                    > tr {
                        display: block;
                        
                        > th {
                            display: block;
                            position: relative;
                            white-space: nowrap;
                            text-align: left;
                            
                            .line-wrap {
                                display: block;
                            }
                            
                            &.cell-head-persacc,
                            &.cell-head-timework {
                                white-space: normal;
                                height: 48px;
                                line-height: 1.3;
                                .flex();
                                .flex-align-items(center);
                            }
                            
                            &.cell-head-timework {
                                height: 52px;
                            }
                        }
                    }
                }
                
                > tbody {
                    .flex();
                    
                    > tr {
                        .flex();
                        flex-direction: column;
                        position: relative;
                        
                        > td {
                            display: block;
                            text-align: left;
                            padding: 8px 15px;
                            
                            &.cell-name {
                                white-space: nowrap;
                            }
                            
                            &.cell-persacc,
                            &.cell-fine-prem {
                                .flex();
                                .flex-align-items(center);
                            }
                            
                            &.cell-persacc {
                                height: 48px;
                            }
                        }
                    }
                }
            }
            
            // Доставка
            .table-deliv {
                .cell-head-name {
                    height: auto;
                    
                    .cell-head_name {
                        padding-top: 0;
                    }
                }
                
                .cell-name {
                    height: auto;
                    padding-top: 8px;
                    padding-left: 15px;
                    
                    &.cell-name_states_yes {
                        padding-left: 30px;
                    }
                }
                
                .cell-states {
                    left: 2px;
                    top: 0;
                }
                
                .cell-head-high {
                    height: 48px;
                    white-space: normal;
                    line-height: 1.3;
                }
                
                .cell-high {
                    height: 48px;
                    .flex();
                    .flex-align-items(center);
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .table-responsive-wrapper-production {
        .table-responsive2 {

            // Производство
            .table-production {
                > thead {
                    border-right: 1px solid #ddd;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;

                    > tr {
                        > th {
                            // ФИО
                            &.cell-head-name {
                                height: 75px;

                                &:before {
                                    content: "\f007";
                                    margin-top: 42px;
                                }
                            }
                            
                            // Прем./личн. счёт
                            &.cell-head-account {
                                &:before {
                                    content: "\f2bb";
                                }
                            }
                            
                            // Списать/ начислить на лс
                            &.cell-head-persacc {
                                &:before {
                                    content: "\f0ec";
                                }
                            }
                            
                            // Разряд
                            &.cell-head-posts {
                                &:before {
                                    content: "\f47f";
                                }
                            }
                            
                            // Начало/конец работы
                            &.cell-head-timework {
                                height: 48px;

                                &:before {
                                    content: "\f2f2";
                                    margin-top: -9px;
                                    top: 50%;
                                }
                            }
                            
                            // Рабочее время
                            &.cell-head-time {
                                &:before {
                                    content: "\f4d3";
                                }
                            }
                            
                            // Компенсация
                            &.cell-head-compens {
                                &:before {
                                    content: "\f0e2";
                                }
                            }
                            
                            // Нагрузка
                            &.cell-head-load {
                                &:before {
                                    content: "\f4ce";
                                }
                            }
                            
                            // Оклад
                            &.cell-head-salary {
                                &:before {
                                    content: "\f555";
                                }
                            }
                            
                            // Основная часть ЗП
                            &.cell-head-salary-main {
                                &:before {
                                    content: "\f4c5";
                                }
                            }
                            
                            // Норматив выручки/ч
                            &.cell-head-receipts {
                                &:before {
                                    content: "\f571";
                                }                                
                            }
                            
                            // Коэфф. норм.
                            &.cell-head-coeff {
                                &:before {
                                    content: "\f009";
                                }                                 
                            }
                            
                            // Норматив выручки
                            &.cell-head-receipts2 {
                                &:before {
                                    content: "\f0b1";
                                }                                
                            }   
                            
                            // Коэфф. прем.
                            &.cell-head-coeff2 {
                                &:before {
                                    content: "\f00a";
                                }                                 
                            }                            
                            
                            // Коррект. время
                            &.cell-head-correct-time {
                                &:before {
                                    content: "\f017";
                                }                                
                            }                            
                            
                            // Премия за прев. нормы
                            &.cell-head-prem2 {
                                &:before {
                                    content: "\f164";
                                }
                            }
                            
                            // Депремирование
                            &.cell-head-deprem {
                                &:before {
                                    content: "\f165";
                                }
                            }

                            // Премия
                            &.cell-head-prem {
                                &:before {
                                    content: "\f055";
                                }
                            }                             
                            
                            // Штраф
                            &.cell-head-fine {
                                &:before {
                                    content: "\f056";
                                }
                            }                             
                            
                            // Всего начислено
                            &.cell-head-calc {
                                &:before {
                                    content: "\f1ec";
                                }
                            } 
                            
                            // К выплате
                            &.cell-head-payoff {
                                &:before {
                                    content: "\f4c0";
                                }
                            }                             
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        min-width: 200px;

                        > td {
                            &.cell-name {
                                height: 75px;
                                padding-top: 25px;
                                overflow: hidden;

                                .cell-name_cont {
                                    max-width: 180px;
                                    height: 45px;
                                    white-space: normal;
                                    line-height: 1.2;
                                    overflow: hidden;
                                    .flex();
                                    .flex-align-items(center);
                                }
                            }
                            
                            &.cell-total {
                                height: 75px;
                                padding-top: 38px;
                            }
                            
                            &.cell-btn-del,
                            &.cell-states {
                                top: 32px;
                            }
                            
                            &.cell-persacc,
                            &.cell-fine-prem {
                                .flex();
                                .flex-align-items(center);
                            } 
                            
                            &.cell-persacc {
                                height: 38px;
                            }
                            
                            &.cell-timework {
                                .form-control {
                                    width: 60px;
                                }
                            }
                            
                            &.cell-fine-prem {
                                height: 38px;
                            }
                        }
                    }
                }
            }
            
            // Доставка
            .table-deliv {
                > thead {
                    > tr {
                        > th {
                            // Кол-во заказов
                            &.cell-head-orders {
                                &:before {
                                    content: "\f4a1";
                                }
                            }
                            
                            // Расстояние, км
                            &.cell-head-dist {
                                &:before {
                                    content: "\f277";
                                }                                
                            }
                            
                            // Расчетное время в пути
                            &.cell-head-timecalc {
                                &:before {
                                    content: "\f48c";
                                }
                            }
                            
                            // Фактическое время в пути
                            &.cell-head-timereal {
                                &:before {
                                    content: "\f48b";
                                }
                            }                            
                            
                            // KPI
                            &.cell-head-kpi {
                                &:before {
                                    content: "\f559";
                                }
                            }
                            
                            // Время без дела, %
                            &.cell-head-timefree {
                                &:before {
                                    content: "\f0f4";
                                }
                            }
                            
                            // Время
                            &.cell-head-time {
                                &:before {
                                    content: "\f017";
                                }                                
                            }
                            
                            // Заказы
                            &.cell-head-orders2 {
                                &:before {
                                    content: "\f467";
                                }                                
                            }
                            
                            // Расстояние
                            &.cell-head-dist2 {
                                &:before {
                                    content: "\f5b7";
                                }                                
                            }
                            
                            // Надбавка за поздний выезд
                            &.cell-head-prem1 {
                                &:before {
                                    content: "\f2f5";
                                }                                
                            }
                            
                            // Надбавка за короткую смену
                            &.cell-head-prem2 {
                                &:before {
                                    content: "\f4fd";
                                }                                
                            } 
                            
                            // ФИО
                            &.cell-head-name {
                                height: 52px;
                                
                                &:before {
                                    margin-top: 18px;
                                }
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            &.cell-name {
                                height: 52px;
                                padding-top: 2px;
                                padding-bottom: 0;
                                padding-left: 15px;
                                
                                &.cell-name_states_yes {
                                    padding-left: 30px;
                                }
                            }
                            
                            &.cell-states {
                                left: 2px;
                                top: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Опоздания
.table-late {
    > thead > tr > th,
    > tbody > tr > td {
        &.load-delayed {
            border-left: 2px solid #ddd;
        }
    }
    
    > thead {
        > tr {
            &:first-child {
                > th {
                    border-bottom-width: 1px;
                }
            }
            
            > th {
                &.cell-head-time {
                    display: none;
                }
            }
        }
    }
    
    .js-show-modal-late {
        cursor: pointer;
    }
}

@media (max-width: 991px) {
    .table-responsive-wrapper-late {
        .table-responsive2 {    
            .table-late { 
                margin-bottom: 0;
        
                > thead {
                    > tr {
                        &:first-child {
                            display: none;
                        }
                        
                        > th {
                            display: none;
                            
                            &.cell-head-time {
                                display: table-cell;
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            display: none;
                            
                            &.cell-time {
                                display: table-cell;
                            }
                        }
                    }
                }
            }
        }
    }
    
    // повар-сушист
    .table-responsive-wrapper-sushi {
        .table-responsive2 { 
            .table-late {
                > thead {
                    > tr {
                        > th {
                            &.cell-sushi {
                                display: table-cell;
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            &.cell-sushi {
                                display: table-cell;
                            }
                        }
                    }
                }                
            }
        }
    }
    
    // водитель
    .table-responsive-wrapper-driver {
        .table-responsive2 { 
            .table-late {
                > thead {
                    > tr {
                        > th {
                            &.cell-driver {
                                display: table-cell;
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            &.cell-driver {
                                display: table-cell;
                            }
                        }
                    }
                }                
            }
        }
    }    
    
    // повар-пиццмейкер
    .table-responsive-wrapper-pizza {
        .table-responsive2 { 
            .table-late {
                > thead {
                    > tr {
                        > th {
                            &.cell-pizza {
                                display: table-cell;
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            &.cell-pizza {
                                display: table-cell;
                            }
                        }
                    }
                }                
            }
        }
    }    
    
    // безнал
    .table-responsive-wrapper-card {
        .table-responsive2 { 
            .table-late {
                > thead {
                    > tr {
                        > th {
                            &.cell-card {
                                display: table-cell;
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            &.cell-card {
                                display: table-cell;
                            }
                        }
                    }
                }                
            }
        }
    }      
}

@media (max-width: 767px) {
    .table-responsive-wrapper-late {
        .table-responsive2 {
            .table-late {
                border-top-width: 2px;

                > thead {
                    border-top-width: 1px;
                    border-bottom-width: 2px;

                    > tr {
                        > th {
                            border-bottom-width: 1px;
                            border-top-color: transparent;
                            border-bottom-color: transparent;

                            &.cell-head-time {
                                display: block;
                            }
                            
                            &.load-delayed {
                                border-left-width: 0;
                            }
                            
                            // Время
                            &.cell-head-time {
                                &:before {
                                    display: none;
                                }
                            }
                            
                            // КОРФ
                            &.cell-head-korf {
                                &:before {
                                    content: "\f43d";
                                }
                            }
                            
                            // Нагрузка
                            &.cell-head-load {
                                &:before {
                                    content: "\f4ce";
                                }
                            } 
                            
                            // Сотрудники
                            &.cell-head-worker {
                                &:before {
                                    content: "\f007";
                                }
                            }
                            
                            // Сотр. c норм.
                            &.cell-head-workernorm {
                                &:before {
                                    content: "\f507";
                                }
                            }   
                            
                            // Выручка
                            &.cell-head-receipts {
                                &:before {
                                    content: "\f158";
                                }
                            }
                            
                            // Опоздания
                            &.cell-head-late {
                                &:before {
                                    display: none;
                                }
                                
                                .cell-head_name {
                                    visibility: visible;
                                }
                            }
                            
                            // Кол-во заказов
                            &.cell-head-orders {
                                &:before {
                                    content: "\f4a1";
                                }
                            }                            
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            text-align: center;

                            &.load-delayed {
                                border-left: 1px solid transparent;
                            }
                        }
                    }
                }
            }
        }
    }
    
    // повар-сушист
    .table-responsive-wrapper-sushi {
        .table-responsive2 { 
            .table-late {
                > thead {
                    > tr {
                        > th {
                            &.cell-sushi {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    
    // водитель
    .table-responsive-wrapper-driver {
        .table-responsive2 { 
            .table-late {
                > thead {
                    > tr {
                        > th {
                            &.cell-driver {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }    
    
    // повар-пиццмейкер
    .table-responsive-wrapper-pizza {
        .table-responsive2 { 
            .table-late {
                > thead {
                    > tr {
                        > th {
                            &.cell-pizza {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }  
    
    // безнал
    .table-responsive-wrapper-card {
        .table-responsive2 { 
            .table-late {
                > thead {
                    > tr {
                        > th {
                            &.cell-card {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }    
}

// Опоздания
.btn-group-late {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .btn-group-late {
        .btn {
            padding-left: 25px;
            padding-right: 25px;

            .btn-txt {
                display: none;
            }

            &:before {
                display: inline-block;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1; 
                font-size: 14px;
                
                font-family: "Font Awesome 5 Pro";
                font-weight: 900;
            }
            
            &.btn-sushi {
                &:before {
                    content: "\f192";
                }
            }
            
            &.btn-driver {
                &:before {
                    content: "\f1b9";
                }
            }
            
            &.btn-pizza {
                &:before {
                    content: "\f200";
                }
            }         
            
            &.btn-card {
                &:before {
                    content: "\f09d";
                }
            }        
        }
    }    
}

// модальное окно для опозданий
.modal-detail-late {
    .modal-dialog {
        width: 730px;
    }
}

@media (max-width: 767px) {
    .modal-detail-late {
        .modal-dialog {
            width: 100%;
            margin: 0;
            
            .modal-content {
                border: 0;
            }
        }
    }    
}

.table-detail-late {
    > thead {
        > tr {
            > th {
                vertical-align: middle;
                
                &.cell-head-number {
                    white-space: nowrap;
                }
            }
        }
    }
    
    > tbody {
        > tr {
            > td {
                white-space: nowrap;
                
                &.cell-btn {
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-right: 0;
                    text-align: right;
                }
            }
            
            &.active {
                background-color: #ededed;

                > td {
                    background-color: #ededed;
                }
            }
        }
    }
    
    .btn-detail-order {
        &:before {
            display: inline-block;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1; 
            font-size: 14px;
            
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            
            content: "\f13a";
        }
        
        &.active {
            &:before {
                content: "\f139";
            }
        }
    }
    
    .row-detail-order {
        display: none;

        h3 {
            font-size: 14px;
            font-weight: 700;
        }
        
        .head-detail-order {
            padding-top: 10px;
            padding-bottom: 10px;

            h3 {
                float: left;
                margin: 0;
            }
            
            .head-detail-order_sum {
                float: right;
                font-size: 14px;
                font-weight: 700;
                white-space: nowrap;
                margin-right: 8px;
            }
        }
        
        .table-detail-order {
            .cell-price {
                white-space: nowrap;
                text-align: right;
            }
            
            .cell-count {
                white-space: nowrap;
            }
        }
        
        .table-detail-order-history {
            .cell-time {
                text-align: right;
                white-space: nowrap;
                font-weight: 700;
            }
        }
        
        .order-detail-info {
            .order-detail-info_cont {
                margin-top: 3px;
            }
            
            .order-detail-info_date {
                margin-left: 5px;
            }
        }
    }
}

@media (min-width: 768px) {
    .table-detail-late {
        > thead {
            > tr {
                > th {
                    line-height: 1.3;
                }
            }
        }
        
        .time-end {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .table-responsive {
        .table-detail-late {
            font-size: 14px;

            > tbody {
                > tr {
                    position: relative;
                    padding-top: 15px;
                    padding-bottom: 15px;

                    > td {
                        padding-left: 45px;
                        
                        &:before {
                            display: inline-block;
                            -moz-osx-font-smoothing: grayscale;
                            -webkit-font-smoothing: antialiased;
                            font-style: normal;
                            font-variant: normal;
                            text-rendering: auto;
                            
                            font-family: "Font Awesome 5 Pro";
                            font-weight: 900;
                            font-size: 16px;
                            
                            position: absolute;
                            top: 4px;
                            left: 0px;  
                            
                            height: 20px;
                            width: 20px;
                            line-height: 20px;
                            vertical-align: middle;
                            text-align: center;
                        }
                        
                        // № заказа
                        &.cell-number {
                            &:before {
                                content: "\f328";
                            }
                        }
                        
                        // старт обработки
                        &.cell-time-start {
                            &:before {
                                content: "\f017";
                            }
                        }
                        
                        // сумма заказа
                        &.cell-sum {
                            &:before {
                                content: "\f555";
                            }
                        }
                        
                        // обработал
                        &.cell-name {
                            &:before {
                                content: "\f508";
                            }                            
                        }
                        
                        &.cell-btn {
                            position: absolute;
                            top: 11px;
                            right: 0;
                            padding-left: 0;
                            font-size: 16px;
                        }
                    }
                    
                    &.row-detail-order {
                        display: none;

                        > td {
                            padding-left: 0;
                            
                            .table {
                                border-top-width: 1px;

                                > tbody {
                                    > tr {
                                        display: table-row;
                                        
                                        > td {
                                            display: table-cell;
                                        }
                                    }
                                }

                                td {
                                    padding: 8px;
                                }
                            }
                            
                            .head-detail-order {
                                //margin-top: 0;
                            }
                            
                            .table-detail-order-history {
                                margin-bottom: 5px;
                            }
                            
                            .order-detail-info {
                                margin-top: 15px;
                                
                                .order-detail-info_cont {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}






.table-production-cont {
    width: 100%;
    position: relative;
}

.panel-group-operat {
    position: absolute;
    right: 0px;
    white-space: nowrap;
    
    .btn {
        margin-left: 6px;
        
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
           -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);        
    }
}

.table-production-print {
    .row-head > td {
        padding-left: 8px;
    }
    .row-total td:first-child {
        padding-left: 8px;
    }
}

.legend-print {
    font-size: 12px;
    
    .item {
        margin-bottom: 5px;
    }
    
    .item-dt {
        float: left;
        font-weight: bold;
        white-space: nowrap;
        text-align: right;
        width: 55px;
    }
    
    .item-dd {
        margin-left: 70px;
    }
}