@import "components/mixins.less";
@import "components/variables.less";
@import "components/navbar.less";
@import "components/select2.less";
@import "components/table.less";
@import "components/buttons.less";
@import "components/form.less";
@import "components/modals.less";

@import "ui/autocomplete-ui.less";


body {
    font-family: "Open Sans", sans-serif;
    min-width: 320px;
    padding-top: 70px;
    color: #000;
}

.content {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 60px;
}

@media (min-width: 1366px) {
    .navbar {
        .container-fluid {
            max-width: 1280px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .content {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

h1,
h2,
h3 {
    color: #000;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 15px;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
}

.head-with-btn {
    margin-top: 20px;
    margin-bottom: 30px;

    h1 {
        margin-top: 7px;
        margin-bottom: 0;
    }

    .btn {
        float: right;
    }

    &.resp {
        h1 {
            float: left;
        }
    }
}

@media (max-width: 767px) {
    .head-with-btn {
        margin-top: 0px;
        margin-bottom: 20px;

        &.resp {
            h1,
            .btn {
                float: none;
            }

            h1 {
                margin-top: 0;
            }

            .btn {
                margin-top: 10px;
                width: 100%;
            }
        }
    }
}

.head2-with-btn {
    margin-top: 15px;
    margin-bottom: 20px;

    .btn {
        width: 34px;
        height: 34px;
        padding: 0;
        float: right;
    }

    h2 {
        margin: 0;
        padding-top: 7px;
    }
}

.nav-tabs {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-group-radio {
    margin-bottom: 10px;
}

.not-set {
    color: #CC5555;
    font-style: italic;
}

.datepicker input{
   font-size: 13px;
}

// media
@media (max-width: 991px) {
    body {
        min-height: 500px;
    }

    .content {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }

    h1 {
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    h1,
    h2,
    h3 {
        font-size: 16px;
        line-height: 1.42857143;
    }

    h1,
    h2 {
        color: #333;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 14px;
    }
}

.pagination-container {
    text-align: right;
}

@media screen and (max-width: 767px) {
    .pagination-container {
        text-align: center;
    }

    .pagination > li > a,
    .pagination > li > span {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
}

//**************************** КАДРЫ ****************************
//************ Рекомендации по разрядам
.table-level {
    > tbody > tr > td {
        vertical-align: middle;
    }

    .cell-states {
        width: auto;
        text-align: center;

        .fa {
            margin-left: 5px;
        }
    }
}

//************ Сотрудники
@import "pages/empllist.less";


//**************************** Личное дело ****************************
@import "lk/head.less";

@import "lk/main-menu.less";

//************ Заголовок
@import "components/info-peracc-lk.less";

//************ Меню с табами
@import "components/nav-tabs-lk.less";

//************ Движение в компании
@import "pages/personal/manmove.less";

//************* Основные показатели
@import "pages/personal/mangen.less";

//************* Штрафы и поощрения
@import "pages/personal/manfines.less";

//************ Депозит, Отчёты -> Отчёт по депозитам
@import "pages/deposit.less";

//************ Штрафы и премии
@import "pages/finestat.less";

//************ Водители KPI, Водители MIN
@import "pages/drivers.less";

//************ Личный счёт
@import "pages/personal/manpersacc.less";

//************ Документы
@import "pages/personal/mandocs.less";

//************ Форма
@import "pages/personal/manwear.less";


//**************************** ОШИБКИ 403, 404 ****************************
@import "pages/error.less";


//**************************** Инструкции и приказы ****************************
.panel-action-feedback {
    white-space: nowrap;

    .btn {
        background-color: transparent;

        > span {
            margin-left: 2px;
        }

        &.btn-link {
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        &.disabled {
            color: #ccc;
        }
    }

    .fa {
        font-size: 14px;
        margin-right: 5px;
    }

    .like-yes {
        color: #38a138;
    }

    .like-no {
        color: #ff0000;
    }
}

.status-read {
    padding: 5px 10px;
    white-space: nowrap;

    &.status-read-yes {
        background-color: #e1f6cc;
    }

    &.status-read-no {
        background-color: #ffd4d4;
    }
}

@import "pages/instructions.less";

@import "pages/instructions-inner.less";

@import "pages/instructions-adm.less";

@import "pages/instructions-inner-adm.less";

@import "pages/instructions-new.less";


//**************************** Жалобы и предложения ****************************
@import "pages/claim.less";


//**************************** Жалобы и предложения пользователей ****************************
@import "pages/claimadm.less";


//**************************** Справочники ****************************
//************ Редактирование должности -> Доплаты
@import "empleditposition-surcharges.less";

//**************************** Надбавка ****************************
@import "emplsurcharge.less";

//**************************** Расчёты ****************************
@import "pages/calclist.less";


//**************************** Надбавки за лучшие показатели ****************************
@import "pages/emplrating.less";

//**************************** Онлайн мониторинг ****************************
@import "pages/online.less";

//**************************** Внешние заказы поставщикам ****************************
@import "pages/providers.less";

//**************************** Редактирование сотрудника ****************************
@import "pages/empledit.less";

//**************************** Выписать нарушение ****************************
@import "pages/addfine.less";

//************ Modal
.modal-dialog-sm {
    width: 355px;

    .modal-header {
        border-bottom: 0;
        padding: 25px 25px 0 25px;
    }

    .modal-body {
        padding: 0 25px 25px 25px;
    }

    .modal-footer {
        padding: 25px;
    }
}