.block-btn-docs {
    margin-bottom: 20px;
    width: 50%;
    min-width: 610px;
}

.mandocs-download {
    margin-bottom: 10px;
    text-align: right;
    min-width: 610px;
    width: 50%;
    
    .btn {
        font-size: 12px;
        
        > .fas {
            margin-right: 5px;
        }
    }
}

.table-mandocs {
    width: 50%;
    min-width: 610px;
    
    > tbody > tr > td {
        vertical-align: middle;
    }
    
    .cell-files {
        padding-bottom: 3px;

        .btn {
            margin-right: 2px;
            margin-bottom: 5px;

            &:last-child {
                margin-right: 15px;
            }
        }
        
        .btn-file-last {
            margin-right: 15px;
        }
    }
    
    .cell-btn {
        text-align: right;
        
        .btn {
            font-weight: 600;
        }
    }
    
    &.archive {
        width: 470px;
    }
}

@media (max-width: 767px) {
    .block-btn-docs {
        width: 100%;
        min-width: 100%;
        
        .hidden-xs-inline {
            display: none;
        }
    }
    
    .mandocs-download {
        width: 100%;
        min-width: 100%;
        text-align: left;
        
        .btn {
            width: 100%;
        }
    }    

    .table-responsive {
        .table-mandocs {
            width: 100%;
            min-width: 100%;
            
            > tbody > tr {
                &, 
                &:hover {                
                    &.danger,
                    &.danger > td {
                        background-color: transparent;
                    }
                }
                
                &.danger {
                    > td {
                        &.cell-info {
                            > span {
                                background-color: #ffd4d4;
                                padding: 4px 0 4px 10px;
                            }
                        }
                    }
                }
                
                > td {
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-right: 0;

                    &.cell-info {
                        > span {
                            padding: 4px 0;
                            display: inline-block;
                            width: 100%;
                        }
                    }
            
                    &.cell-files {
                        padding-left: 0px;
                        padding-top: 8px;
                        margin-right: 80px;
                    }
                    
                    &.cell-btn {
                        margin-top: -35px;
                        text-align: right;
                    }
                    
                    .btn {
                        position: relative;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

// Form
.form-docs {
    .form-group {
        float: left;
        margin-right: 30px;
    }
    
    .form-group-type {
        width: 270px;       
    }
    
    .form-group-datepicker {
        width: 140px;
        margin-right: 0;
    }    
    
    .input-group {
        .btn {
            color: @link-color;
            
            &:hover {
                color: @link-hover-color;
            }
        }
    }
}

.table-mandocs-upload {
    width: auto;
    border-top: 0;
    border-bottom: 0;
    font-size: inherit;
    
    > tbody > tr > td {
        border: 0;
        padding-bottom: 0;
        padding-left: 4px;
        padding-right: 4px;
    }

    > tbody > tr:first-child > td {
        padding-top: 0;
    }    
    
    .btn-remove {
        background-color: #fff;
        font-size: 16px;
        line-height: 16px;
        color: #ff0000;
        margin-top: -1px;

        &:active {
          -webkit-box-shadow: none;
                  box-shadow: none;
        }
        
        &:hover,
        &:focus,
        &:active {
            color: darken(#ff0000, 15%);
        }        
    }   

    .cell-name {
        padding-left: 0;
        padding-right: 8px;
        max-width: 400px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;

        > a {
            color: #333;
            text-decoration: none;
            font-weight: 600;

            &:hover,
            &:focus,
            &:active {
                color: #333;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .form-docs {
        margin-bottom: 0;

        .form-group {
            float: none;
            margin-right: 0;
            margin-bottom: 25px;
            
            > label {
                display: none;
            }
        }
        
        .form-group-type {
            width: 100%;
        }
        
        .btn-primary {
            float: none !important;
            width: 100%;
            margin-top: 20px;
        }
    }
}


// !!!!! Удалить после внедрения
//************ Modal
.modal-dialog-docs {
    width: 530px;

    .modal-header {
        border-bottom: 0;
        padding: 30px 40px 0 40px;
        
        .close {
            position: relative;
            top: -10px;
            right: -20px;
        }
    }
    
    .modal-title {
        font-weight: 600;
    }

    .modal-body {
        padding: 20px 40px 40px 40px;
    }
}