.table-mangen {
    width: auto;

    > tbody > tr > td {
        padding-left: 20px;
        padding-right: 20px;
        
        &:first-child {
            padding-left: 8px;
        }
        
        &.cell-sub {
            padding-left: 16px;
        }
    }    

    .cell-summ,
    .cell-all {
        text-align: center;
        white-space: nowrap;

    }
    
    .cell-all {        
        background-color: #ededed;
    }
    
    .txt-xs {
        display: none;
    }
}

@media (max-width: 991px) {
    .form-mangen {
        .clearfix();

        .form-group {
            float: left;
            
            > label {
                display: block;
            }
        }
        
        .btn-primary {
            margin-top: 25px;
        }
    }
}

@media (max-width: 767px) {
    .form-mangen {
        max-width: 470px;

        &.no-indents {
            margin-left: 0;
        }

        .form-group {
            display: block;
            float: none;
            margin-left: 0;
            margin-right: 0;
        }
        
        .form-control {
            width: 100%;
        }
        
        .btn-primary {
            margin: 0;
            display: block;
            width: 100%;
        }
    }

    .table-responsive {
        .table-mangen {
            width: 100%;
            
            > tbody > tr > td {
                padding-right: 0;
                
                &:first-child {
                    padding-left: 0;
                }
            }
            
            .cell-summ,
            .cell-all {
                text-align: right;
            }
            
            .txt-xs {
                display: inline-block;
            }
            
            .cell-all {
                background-color: transparent; 
            }
            
            .cell-head {
                text-transform: uppercase;
                padding-left: 0;
                padding-right: 0;
            }
            
            .row-head-pay {
                border-bottom: 0;
                display: block !important;
                padding-bottom: 0;
            }
            
            .row-pay {
                padding-top: 0;
                display: none;
            }
            
            .row-pay-all {
                display: block;
            }
            
            .nav-pills {
                text-transform: none;
                margin-top: 10px;
                
                > li {
                    > a {
                        padding: 5px 10px;
                    }
                    
                    + li {
                        margin-left: 0;
                    }
                    
                    &.active {
                        > a {
                            background-color: #eeeeee;
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}