//************* Движение в компании
.table-manmoves {
    width: 70%;
    min-width: 780px;
    
    .cell-date {
        width: 100px;
        text-align: center;
    }
    
    .cell-name {
        width: 22%;
        white-space: nowrap;
    }
}

@media (max-width: 991px) {
    .table-manmoves {
        width: 100%;
        min-width: 100%;
        
        .cell-name {
            white-space: normal;
        }
    }
}

@media (max-width: 767px) {
    .table-responsive {
        .table-manmoves {
            > tbody {
                > tr {
                    > td {
                        padding-left: 0;
                    }
                }
            }
            
            .cell-date {
                text-align: left;
                width: 80px
            }
            
            .cell-name {
                padding-left: 90px;
                margin-top: -25px;
                width: auto;
            }
        }
    }
}