.table-wear {
    width: 52%;

    > tbody > tr,
    > tbody > tr:hover {
        &.warning,
        &.warning > td {
            background-color: #ffffb2;
        }
        
        &.danger,
        &.danger > td {
            background-color: #ffa9b1;
        }
    }
    
    .btn {
        font-size: inherit;
    }
    
    .btn-cancel {
        background-color: transparent;
        
        .fa {
            color: #ff0018;
            font-size: 14px;
        }
        
        .txt-xs {
            margin-left: 10px;
            display: none;
        }
    }
}

.table-manwear-history {
    width: 65%;
}

.form-wear {
    .form-group-whom {
        margin-right: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .table-wear {
        width: 65%;
    }
    
    .table-manwear-history {
        width: 85%;
    }
}

@media (max-width: 991px) {
    .table-wear {
        width: 80%;
    }

    .table-manwear-history {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .table-responsive {
        .table-wear {
            width: 100%;
            
            > tbody > tr,
            > tbody > tr:hover {
                &.warning,
                &.warning > td {
                    background-color: transparent;
                }
                
                &.danger,
                &.danger > td {
                    background-color: transparent;
                }
                
                &.warning > td,
                &.danger > td {
                    &.cell-status {
                        &:before {
                            top: 9px;
                        }
    
                        > span {
                            padding: 5px 10px;
                            display: inline-block;
                            position: relative;
                            left: -10px;
                        }
                    }
                }
                
                &.warning > td {
                    &.cell-status {
                        > span {
                            background-color: #ffffb2;
                        }
                    }
                }
                
                &.danger > td {
                    &.cell-status {
                        > span {
                            background-color: #ffa9b1;
                        }
                    }
                }
                
                > td {
                    &.cell-btn {
                        padding-left: 0px;
                        height: 40px;
                    }
                    
                    &.cell-btn-del {
                        margin-top: -40px;
                        text-align: right;
                    }
                    
                    .btn {
                        position: relative;
                        z-index: 1;
                    }
                }
    
                .btn-cancel {
                    .txt-xs {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .form-wear {
        margin-bottom: 0;

        .form-group {
            float: none;
            margin-right: 0;
            margin-bottom: 25px;
            
            > label {
                display: none;
            }
        }
        
        .form-group-whom {
            width: 100%;
        }
        
        .btn-primary {
            float: none !important;
            width: 100%;
            margin-top: 0;
        }
    }
}