.modal-dialog--positions-settings {
  .positions-settings {
    &__search {
      margin-bottom: 30px;
    }

    &__list {
      .hrm-scrollable-wrapper__wrapper {
        max-height: 225px;
      }

    }

    &__list-item {
      margin-bottom: 20px;
    }
  }

  .hrm-basic-modal-dialog__action-list {
    justify-content: flex-end;
  }
}

@media screen and (max-width: @mobile-max-width) {
  .modal-dialog--positions-settings {
    .positions-settings {
      &__list {
        height: 100%;

        .hrm-scrollable-wrapper__wrapper {
          max-height: none;
        }
      }
    }
  }
}
