.navbar {
    &.navbar-lk {
        .navbar-nav-main {
            > li {
                display: none;
                
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .navbar {
        &.navbar-lk {
            .navbar-nav-main {
                > li {
                    &:nth-child(4),
                    &:nth-child(5) {
                        display: none;
                    }
                }
            }
        }
    }
}