.calc-section{
	padding: 73px 0 118px;
	text-align: center;

	&__content{
		max-width: 700px;
		margin: 0 auto;
	}

}

.calc-form{
	padding: 7px 0 0;

	&__btn{
		padding-top: 45px;
	}

}

.calc-slider{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10px;
	
	.ui-slider-range{
		position: absolute;
		height: 2px;
		left: 1px;
		right: 1px;
		bottom: -1px;
		background-color: #C8132C;
		border-radius: 50%;
	}

	.ui-slider-handle{
		background: #C8132C;
		border: 3px solid #FFFFFF;
		box-shadow: 0px 2px 4px rgba(200, 19, 44, 0.2);
		border-radius: 50%;
		position: absolute;
		bottom: -7px;
		margin-left: -7px;
		display: block;
		width: 14px;
		height: 14px;
		outline: none;
	}

}


@media only screen and (max-width: 995px) {
	
	.calc-section{
		padding: 60px 0;
	}

	.calc-form{
		
		.col-md-4{
			margin-bottom: 20px;
		}

		&__btn{
			padding-top: 20px;
		}

	}

}