.features-section{
	text-align: center;
	padding: 84px 0 77px;

	&__content{
		max-width: 752px;
		margin: 0 auto;
	}

}

.features{
	display: flex;
	padding: 63px 0 0;
	font-size: 16px;
	line-height: 1.5;
	margin: 0 -15px;

	&__item{
		width: 33.3%;
	}

		&__item-img{
			margin: 0 auto;
			width: 88px;
			height: 88px;
			border-radius: 50%;
			text-align: center;
			line-height: 88px;
			vertical-align: middle;
			background-color: #FFE3E7;

			img{
				vertical-align: middle;
			}
			
		}

		&__item-caption{
			padding: 48px 45px 0;
		}

			&__item-title{
				margin-bottom: 24px;
			}

}


@media only screen and (max-width: 995px) {
	
	.features-section{
		padding: 60px 0;
	}

	.features{
		padding-top: 20px;
	}

	.features__item-caption{
		padding-left: 20px;
		padding-right: 20px;
	}

}


@media only screen and (max-width: 767px) {
	
	.features{
		display: block;

		&__item{
			width: auto;
			margin-top: 40px;

			&:first-child{
				margin-top: 0;
			}
			
		}

		&__item-title{
			margin-bottom: 15px;
		}

		&__item-caption{
			padding: 30px 20px 0;
		}

	}

}