.intro-banner{
	position: relative;
	background: rgba(0, 0, 0, 0.59);
	display: flex;
	align-items: flex-end;
	padding: 0 0 35px;
	height: 634px;
	background: url(../images/banner-bg.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	color: #fff;
	text-align: center;

	&__content{
		max-width: 510px;
		margin: 0 auto;
		padding-bottom: 86px;
	}

	&__features{
		display: flex;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
	}

	&__features-item{
		text-align: left;
		width: 33.3%;
		display: flex;
		padding-right: 80px;
		align-items: center;
	}

		&__features-item-caption{
			padding-left: 26px;
		}
	
}



@media only screen and (max-width: 995px) {
	
	.intro-banner{
		
		&__features-item{
			padding-right: 10px;
		}

	}

}


@media only screen and (max-width: 767px) {
	
	.intro-banner{
		height: auto;
		padding-top: 160px;

		&__content{
			padding-bottom: 30px;
		}

	}

}

@media only (min-width: 600px) and (max-width: 767px) {
	.intro-banner__features{
		display: block;

		&-item{
			margin-top: 20px;
			display: block;
			width: auto;
			text-align: center;
		}

		&-item-caption{
			padding-left: 0;
		}

	}
}


@media only screen and (max-width: 600px) {
	
	.intro-banner__features{
		display: block;

		&-item{
			width: auto;
			padding: 15px 0;
		}

	}

}