.menu-example-section{
	background: linear-gradient(180deg, rgba(242, 242, 242, 0.301) 0%, rgba(242, 242, 242, 0.693766) 99.99%, rgba(234, 234, 234, 0.63) 100%);
	padding: 75px 0 120px;
	text-align: center;
}


.menu-example-content{
	max-width: 700px;
	margin: 0 auto;

}

	.menu-example{
		padding: 2px 0 33px;

		img{
			max-width: 100%;
			height: auto;
		}

	}


@media only screen and (max-width: 995px) {
	
	.menu-example-section{
		padding: 60px 0;
	}

	.menu-example{
		padding-left: 15px;
		padding-right: 15px;
	}

}