.offers-section{
	background: linear-gradient(180deg, rgba(242, 242, 242, 0.301) 0%, rgba(242, 242, 242, 0.693766) 99.99%, rgba(234, 234, 234, 0.63) 100%);
	padding: 73px 0 119px;

	&__content{
		max-width: 770px;
		margin: 0 auto;
		text-align: center;
	}

}

	.offers{
		padding: 10px 0 0;
		font-size: 16px;
		line-height: 1.5;
		margin: 0 0px 0 0px;
		position: relative;

		&.swiper-container-horizontal{
			position: relative;
			padding-bottom: 52px;
		}

		.swiper-wrapper{
			width: auto;
		}

		.swiper-slide{
			height: 100%;
		}

		&__item{
			height: 100%;
			background: #FFFFFF;
			box-shadow: 0px 4px 30px #F2F2F2;
			border-radius: 6px;
			padding: 20px 32px 27px;
		}

			&__item-icon{
				height: 55px;
				line-height: 55px;
				margin-bottom: 30px;

				img{
					vertical-align: middle;
				}

			}

			&__item-caption{
				padding: 0px 0 0;	
			}

			&__item-title{
				margin-bottom: 31px;
			}

			&-list{

				li{
					padding: 2px 0 0 38px;
					margin-top: 41px;

					&:first-child{
						margin-top: 0;
					}

				}

				strong{
					color: #000;
				}
				
				&--type-1{
					li{
						background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='%23C8132C'/%3E%3Cpath d='M7 12.3501L10.7844 16.1001L17 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 0 0px no-repeat;
					}
				}

				&--type-2{

					li{
						padding-left: 45px;
						background: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.51472 25.4558C13.201 30.1421 20.799 30.1421 25.4853 25.4558C30.1716 20.7696 30.1716 13.1716 25.4853 8.48528C20.799 3.79899 13.201 3.79899 8.51472 8.48528C3.82843 13.1716 3.82843 20.7696 8.51472 25.4558Z' fill='%23CFD8DC'/%3E%3Cpath d='M22.4639 16.9705L11.5368 16.9699' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.0006 22.434L17 11.5069' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 0 -4px no-repeat;
					
					}
				}

			}
		
	}

	.offers-btn{
		text-align: center;
		padding-top: 39px;
	}
	


@media only screen and (max-width: 1300px) {
	.offers .swiper-nav-btn{
		display: none;
	}
}


@media only screen and (max-width: 995px) {
	.offers{
		
		.swiper-slide{
			width: 316px;
			height: auto;
		}

		&__item{
			// height: auto;
			min-height: 450px;
		}

	}

	.offers-section{
		padding: 60px 0;
	}

}