.order-section{
	padding: 25px 0;
	text-align: center;

	&__content{
		max-width: 700px;
		margin: 0 auto;
	}

}


.order-btns{
	padding-top: 5px;

	.btn{
		margin: 0 12px;
	}

}


@media only screen and (max-width: 767px) {
	.order-btns{
		padding-top: 0;
		
		.btn{
			display: block;
			max-width: 400px;
			margin: 20px auto 0;
		}

	}
}