.production-section{
	padding: 75px 0;
	text-align: center;

	.swiper-pagination{
		display: none;
	}

}
	.production-slider{
		padding: 23px 0 21px;
	}

	.production-gallery{
		position: relative;

		img{
			max-width: 100%;
			height: auto;
		}

		.swiper-nav-btn{
			margin-top: -80px;
		}

	}


@media only screen and (max-width: 1300px) {
	.production-gallery .swiper-nav-btn{
		display: none;
	}

	.production-section .swiper-pagination{
		display: block;
	}

}

@media only screen and (max-width: 995px) {
	.production-section{
		padding-top: 60px;
		padding-bottom: 60px;
	}
}


@media only screen and (max-width: 768px) {
	
	.production-thumbs .swiper-wrapper{
		display: none;
	}

	.production-slider{
		padding: 0;
	}

}