.testimonials-section{
	background: rgba(198, 242, 255, 0.3);
	padding: 70px 0 113px;
	text-align: center;
	color: #282A2D;
}

	.testimonials{
		padding-top: 15px;
		font-family: 'Gilroy';
		font-weight: 500;
		font-size: 20px;
		line-height: 1.6;

		&__item{
			max-width: 700px;
			margin: 0 auto;
			display: none;

			&:first-child{
				display: block;
			}
			
		}

	}

	.testimonials-authors-wrap{
		position: relative;
		max-width: 620px;
		margin: 0 auto;

		.swiper-nav-btn{
			margin-top: -2px;
			background-color: #FFFFFF;

			&.swiper-button-next{
				right: -25px;
			}

			&.swiper-button-prev{
				left: -30px;
			}

		}

	}

	.testimonials-authors-wrap .swiper-pagination{
		display: none;
	}

	.testimonials-authors{
		font-size: 16px;
		overflow: hidden;
		min-height: 100px;
		padding: 3px 0 0;
		position: relative;

		.swiper-wrapper{
			align-items: center;
		}

		.swiper-slide{
			text-align: center;
			width: 120px;
			height: 180px;
			display: flex;
			align-items: center;
			transition: all ease 500ms;
			position: relative;
			text-align: center;
		}

		&__item{
			width: 100%;
			position: relative;

			img{
				width: 54px;
				height: auto;
				margin-top: 25px;
				transition: all ease 500ms;
			}

		}

		&__item-caption{
			visibility: hidden;
			opacity: 0;
			position: absolute;
			top: 100%;
			padding-top: 20px;
			left: 0;
			right: 0;
			font-weight: 700;
			transition: all ease 500ms;
		}

		.swiper-slide-active .testimonials-authors__item-caption{
			visibility: visible;
			opacity: 1;
		}

		.swiper-slide-active .testimonials-authors__item img{
			width: 88px;
			margin-top: 0;
		}

	}

@media only screen and (max-width: 995px) {
	.testimonials-section{
		padding: 60px 0;
	}
}

@media only screen and (max-width: 767px) {

	.testimonials-authors__item img{
		width: 38px;
	}

	.testimonials-authors .swiper-slide{
		width: 75px;
	}

	.testimonials-authors .swiper-slide-active .testimonials-authors__item img{
		width: 62px;
	}

	.testimonials-authors__item-caption{
		position: absolute;
		top: 100%;
		left: 50%;
		text-align: center;
		white-space: nowrap;
		transform: translateX(-50%);
	}

	.testimonials-authors-wrap .swiper-nav-btn{
		display: none;
	}

	.testimonials-authors-wrap .swiper-pagination{
		display: block;
		padding-top: 10px;
	}

}