.calculation-modal {
  &--driver-details,
  &--lateness-details {
    padding-right: 0 !important;
    background: #ffffff99;

    .modal-dialog-content__header {
      & > div {
        display: flex;
        align-items: flex-start;
      }
    }

    .modal-dialog-content__title {
      margin-right: 20px;
    }

    .driver-name {
      font-size: 22px;
      font-weight: bold;
      border: none;
      padding: 0;
      margin-top: -2px;

      .hrm-select {
        .select2-selection {
          height: auto;
          &__rendered {
            font-size: inherit;
            font-weight: 500;
            color: #0066FF!important;
          }
        }
      }
    }

    .details-modal-orders {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: -30px;

      &__scroll {
        height: 100%;
        margin-left: -20px;
        padding-left: 20px;
        margin-right: -20px;
        padding-right: 20px;
      }
    }

    .details-modal-orders-tabs {
      margin-left: -30px;
      margin-right: -30px;

      .hrm-tab-group__content {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    .details-modal-orders-table {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;

      &__operator {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hrm-button {
          transition: transform 300ms;
          &.active {
            transform: rotate(-180deg);
          }
        }
      }

      &__active-row {
        background: #f5f7fa;
      }

      tfoot {
        background: #f5f7fa;
      }

      &__total {
        display: flex;
        align-items: center;
        color: #8e9cbb;
        font-size: 13px;
        padding: 10px;

        b {
          color: #000;
        }

        & > div:first-child {
          margin-right: 100px;
        }
      }

      .order-block {
        padding-top: 20px;
        padding-bottom: 20px;

        &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__title,
        &__sum {
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 20px;
        }

        &__items {
          margin-bottom: 20px;
          width: 100%;
        }

        &__info {
          display: flex;
          flex-wrap: wrap;
        }

        &__processing {
          margin-right: 30px;
          width: 220px;
          flex-shrink: 0;
          flex-grow: 1;
          margin-bottom: 20px;
        }

        &__data {
          min-width: 300px;
          margin-bottom: 20px;
          flex-grow: 1;
          padding-right: 30px;
          &-block {
            margin-bottom: 20px;
          }
        }

        &__driver {
          width: 100%;
        }

        &__delivery-item {
          margin-bottom: 12px;
          i {
            margin-right: 10px;
          }
        }
      }

      .order-processing-table {
        width: 100%;
        &__row {
          &--warning {
            &_light {
              background: #fdffb3;
            }
            &_medium {
              background: #ffe6f2;
            }
            &_hard {
              background: #ffd3e8;
            }
          }
        }
      }
    }

    .details-modal-routes-table {
      margin-top: 30px;
      margin-bottom: 30px;

      &__order-address {
        margin-bottom: 10px;
      }
      &__time {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hrm-button {
          transition: transform 300ms;
          &.active {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: @mobile-max-width) {
  .calculation-modal {
    &--driver-details,
    &--lateness-details {
      .details-modal-orders-tabs {
        margin-left: -20px;
        margin-right: -20px;

        .hrm-tab-group__content {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}
