
.calculation-modal {
  &--routes {
    padding-right: 0 !important;
    background: #FFFFFF99;

    .routes {
      height: 100%;
    }

    .routes-table {
      td {
        padding: 10px 12px;
        vertical-align: top;
        line-height: 1.4;
      }
      th {
        .routes-table__cell-content {
          display: flex;
          flex-direction: column;
          height: 50px;
          justify-content: space-between;
          button {
            margin-left: 0;
            margin-top: 5px;
          }
        }
      }
      &__route {
        display: flex;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        &-id {
          margin-right: 10px;
        }
      }


      &__route-row {
        display: none;
      }
    }
  }

}

@media (max-width: @mobile-max-width) {
  .calculation-modal {
    &--routes {
      padding-right: 0 !important;
      background: #FFFFFF99;

      .routes-table {
        &__route-row {
          display: table-row;
        }
        &__cell--id,
        &__cell--route {
          display: none;
        }
      }
    }

  }
}
