/* Autocomplete
----------------------------------*/
.ui-autocomplete { 
    position: absolute;
    top: 0;
    left: 0;
    cursor: default; 
    border: 1px solid #c4c4c4;
    background-color: #fff;
}

.ui-autocomplete-loading { 
    background: url('../images/ui-anim_basic_16x16.gif') 98% center no-repeat;
}

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
    list-style:none;
    margin: 0;
    padding: 0;
    display:block;
    width:227px;
}

.ui-menu .ui-menu-item {
    padding: 10px 12px;
    border-top: 1px solid #ededed;

    &:first-child {
        border-top: 0;
    }
    
    &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
    }
}

.ui-helper-hidden-accessible {
    display: none;
}