.ui-draggable {

  &.ui-draggable--empty-placeholder {
    background-color: #ECF6FF !important;
  }

  &.ui-draggable--captured {
    position: fixed;
  }

}

.ui-dropzone {

  .ui-dropzone-placeholder {
  }

  &.ui-dropzone--accessible {
    background-color: #ECF6FF;
  }

  &.ui-dropzone--inaccessible {
    background-color: #ffd1d6;
  }

}