/* элементы, которые перетаскиваем */
.ui-draggable {

  /* пустое место, где был расположен перетаскиваемый элемент */
  &.ui-draggable--empty-placeholder {
    background-color: #ECF6FF !important;
  }

  /* перетаскиваемый элемент захвачен */
  &.ui-draggable--captured {
    position: fixed;
  }

}

/* место, куда перетаскиваем */
.ui-dropzone {

  /* элемент с текстом примечания в зоне перетаксивания */
  .ui-dropzone-placeholder {
  }

  /* перетаскивание в эту зону разрешено */
  &.ui-dropzone--accessible {
    background-color: #ECF6FF;
  }

  /* перетаскивание в эту зону запрещено */
  &.ui-dropzone--inaccessible {
    background-color: #ffd1d6;
  }

}