.modal-dialog--employee-bonus {
  .bonus-block {
    display: flex;

    &__content {
      flex-grow: 1;
    }

    &__remove {
      margin-left: 10px;
    }

    &__row {
      margin-bottom: 30px;
      display: flex;
    }

    &__author {
      flex-grow: 1;
      margin-left: 20px;
    }
  }
  .bonus-form {
    &__actions {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
    }
  }

  .bonus-form__scroll-list {
    height: 100%;
    max-height: 350px;
    padding-top: 5px;
  }
}

@media screen and (max-width: @mobile-max-width) {
  .modal-dialog--employee-bonus {
    .bonus-block {
      display: block;

      &__remove {
        margin-left: 0;
        text-align: right;
      }

      &__row {
        display: block;
      }
      &__author {
        margin-top: 30px;
        margin-left: 0;
      }
    }

    .bonus-form__scroll-list {
      max-height: none;
    }
  }
}
