@import '../../base/_icons.less';
@import '../../base/_variables.less';

.templates {
    .templates__section {
        &:not(:first-child) {
            margin-top: 30px;
        }
    }

    &__content {
        padding: 40px 100px;
    }

    &__section {
        padding-bottom: 30px;

        .templates__section-title {
            margin-bottom: 30px;
        }

        &:not(:last-child) {
            border-bottom-width: 1px;

            border-bottom-color: #DFE4EF;
            border-bottom-style: solid;
        }
    }

    &__section-title {
        font-weight: 500;
        font-size: 22px;
    }
}

@media (max-width: @tablet-max-width) {
    .templates {
        &__content {
            padding: 20px 50px;
        }
    }
}

@media (max-width: @mobile-max-width) {
    .templates {
        &__content {
            padding: 10px 20px;
        }
    }
}