@import '../../base/_variables.less';

.hrm-basic-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    padding-top: 12px;
    padding-bottom: 26px;

    background-color: #FFF;

    .hrm-basic-sidebar__logout-button {
        width: 35px;
        height: 35px;
    }

    .hrm-basic-sidebar__support-link {
        width: 20px;
        height: 20px;
    }

    &__logout-button {
        &:before {
            width: 15px;
            height: 12px;
        }
    }

    &__support-link {
        display: inline-block;

        background-image: .support-icon-background-image(#8E9CBB)[@result];
        background-size: 100% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

@media (max-width: @tablet-max-width) {
    .hrm-basic-sidebar {
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 0;
        padding-right: 14px;
        padding-bottom: 0;
        width: unset;
        height: 50px;

        .hrm-basic-sidebar__logout-button {
            order: 1;
            margin-left: 18px;
        }
    }
}

@media (max-width: @mobile-max-width) {
    .hrm-basic-sidebar {
        padding-right: 20px;
    }
}