@import '../../base/_variables.less';

.hrm-basic-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    padding-top: 12px;
    padding-bottom: 26px;

    background-color: #333;

    &__logout-button {
        width: 35px;
        height: 35px;

        border-color: #8E9CBB;

        &:before {
            @background-svg: '
                <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1H12.3333C12.7754 1 13.1993 1.11706 13.5118 1.32544C13.8244 1.53381 14 1.81643 14 2.11111V9.88889C14 10.1836 13.8244 10.4662 13.5118 10.6746C13.1993 10.8829 12.7754 11 12.3333 11H9" stroke="#8E9CBB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5 9L8 6L5 3" stroke="#8E9CBB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7 6H1" stroke="#8E9CBB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            ';

            @escaped-background-svg: escape(@background-svg);
            background-image: url('data:image/svg+xml,@{escaped-background-svg}');

            width: 15px;
            height: 12px;
        }
    }

    &__support-link {
        display: inline-block;
        width: 20px;
        height: 20px;

        background-image: .support-icon-background-image(#8E9CBB)[@result];
        background-size: 100% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

@media (max-width: @tablet-max-width) {
    .hrm-basic-sidebar {
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 0;
        padding-right: 14px;
        padding-bottom: 0;
        width: unset;
        height: 50px;

        .hrm-basic-sidebar__logout-button {
            order: 1;
            margin-left: 18px;
        }
    }
}

@media (max-width: @mobile-max-width) {
    .hrm-basic-sidebar {
        padding-right: 20px;
    }
}
