.form-addfine {
    .form-btns {
        .btn {
            float: left;
        }
    }
    
    @media (max-width: 767px) {
        & {
            margin-bottom: 30px;
            
            .form-group-date {
                .input-group {
                    width: 140px;
                }
            }

            .form-btns {
                margin-top: 0;
    
                .btn {
                    width: 100%;
                }
            }
        }
    }
}

.form-fines {
    max-width: 960px;
    
    .form-group-datepicker {
        .row {
            position: relative;
        }
        
        .input-group-dash {
            font-size: 0;
            line-height: 0;
            display: block;
            height: 1px;
            width: 10px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -5px;
        }
    } 
    
    @media (min-width: 768px) and (max-width: 991px) {
        .form-btns {
            width: 160px;
        }
        
        .col-sm-calc {
            width: -webkit-calc(~'50% - 80px');
            width: -moz-calc(~'50% - 80px');
            width: calc(~'50% - 80px');
        }
    }
    
    @media (max-width: 767px) {
        & {
            margin-bottom: 30px;

            .form-group-datepicker {
                max-width: 340px;
            }
    
            .form-btns {
                margin-top: 0;
    
                .btn {
                    width: 100%;
                }
            }
        }        
    }
}

.modal-fine {
    @media (min-width: 768px) {
        .modal-dialog {
            width: 680px;
        }
    }
    
    .modal-title {
        font-size: 20px;
        font-weight: 600;
    }
    
    @media (max-width: 767px) {
        .modal-dialog {
            margin: 0;
        }
        
        .modal-content {
            .border-radius(0);
            border: 0;
        }

        .modal-header {
            border-bottom: 0;
            padding-bottom: 5px;
        }
    }
}

.form-fine-edit {
    .form-group-date {
        .input-group {
            width: 140px;
        }
    }

    .form-btns {
        margin-top: 15px;
    }
    
    @media (max-width: 767px) {
        .form-btns {
            margin-top: 0px;
            
            .btn {
                width: 100%;
            }
        }        
    }    
}

.table-fines {
    .cell-btns {
        text-align: right;
        white-space: nowrap;

        .btn {
            width: 30px;
            height: 30px;
            line-height: 28px;
            padding: 0;
            vertical-align: middle;
            margin-right: 5px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .table-fines {
        > thead {
            > tr {
                > th {
                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }                    
                }
            }
        }

        .cell-post {
            padding-right: 0;
            text-align: center;
        }
    }
}

@media (min-width: 768px) {
    .table-responsive-wrapper {
        .table-responsive2 {
            .table-fines {
                > thead > tr > th,
                > tbody > tr > td {
                    height: auto !important;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .table-responsive-wrapper {
        .table-responsive2 {
            .table-fines {
                > thead > tr > th {          
                    &.cell-head {
                        &:before {
                            top: 50%;
                            margin-top: -9px;
                        }
                    }
                    
                    &.cell-head-date {
                        &:before {
                            content: "\f073";
                        }
                    }
                    
                    &.cell-head-user {
                        &:before {
                            content: "\f007";
                        }
                    }
                    
                    &.cell-head-wrote {
                        &:before {
                            content: "\f14b";
                        }
                    }
                    
                    &.cell-head-fine {
                        &:before {
                            content: "\f022";
                        }
                    }             
                }
                
                > tbody {
                    > tr {
                        width: 200px;
                        
                        > td {
                            white-space: normal;
                            .flex();
                            .flex-align-items(center);
                        }
                    }
                }
                
                .cell-btns {
                    > .btn {
                        margin-right: 15px;
                    }
                }
                
                .cell-post {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                
                .cell-empl {
                    .flex();
                    .flex-align-items(center);
                    
                    .name-post {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}