.header-bonuses {
	.description {
		display: inline-block;
		margin-right: 27px;
		@media(max-width: 767px) {
			display: block;
			text-align: left;
			margin-bottom: 14px;
		}
		@media(min-width: 768px) and (max-width: 991px) {
				display: block;
				margin-right: 0;
				margin-bottom: 10px;
		}
	}
	.text-bold {
		font-weight: 600;
	}
	.btn {
		display: inline-block;
		@media(max-width: 767px) {
			display: block;
			width: 100%;

		}
	}
	.btn-primary {
		width: 159px;
		@media(max-width: 767px) {
			width: 100%;
			margin-bottom: 22px;
		} 
	}
	.amount {
		font-size: 20px;
		font-weight: 600;
	}
	.row-right{
	    @media(min-width: 768px) {
    		.flex();
    		.flex-align-items(center);
    		justify-content: flex-end;
	    }
	    @media(min-width: 768px) and (max-width: 991px) {
	        flex-wrap: wrap;
	        
	        .description {
	            width: 100%;
	            text-align: right;
	        }
	    }
		
		.dropdown-quest {
		    .dropdown-menu {
		        right: 0;
		        left: auto;
		        min-width: 100%;
		    }
		}
	}
	.popover {
		max-width: 320px;
		width: 320px;
		text-align: center;
		@media(max-width: 767px) {
			max-width: 1000px;
			width: auto;
			left: 15px ! important;
			right: 15px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			border: 0;
			
		}
		&.bottom {
		    margin-top: 5px;
		}
		&.bottom .arrow {
			visibility:hidden;
		}
		.popover-content {
			padding: 17px 15px;
			@media(max-width: 767px) {
				padding: 24px 50px;
			}
		}
	}
	.close-popover {
		@media(min-width: 992px) {
			display: none;
		}
		position: absolute;
		border: 0;
		background-color: transparent;
		padding: 0;
		margin: 0;
		-webkit-appearance: none;
		right: 12px;
		top: 11px;
		opacity: 0.5;
		color: #555555;
		&:hover{
			color: #555555;
		}
	}
}

.bonuses-convert-popup {
	width: 440px;
	@media(max-width: 767px) {
		width: auto;
  	margin: 0;
	}
	.modal-content {
		border: 0;
		padding: 0;
		@media(max-width: 767px) {
			box-shadow: none;
			border-radius: 0;
		}
	}
	.pop-up {
		padding: 18px 48px 34px 43px;
		@media(max-width: 767px) {
			padding: 18px 15px 25px 15px;
		}	
	}
	.close {
		position: absolute;
		opacity: 0.5;
		top: 23px;
		right: 22px;
		color: #555555;
		font-size: 14px;
		&:hover {
			opacity: 1;
		}
	}
	.bonuses-amount {
		display: inline-block;
		width: 81px;
		text-align: right;
		@media(max-width: 767px) { 
			width: 137px;
		}
	}
	.row-relative {
		position: relative;
	}
	.form-group.bonuses {
		label {
			display: none;
		}
		&.has-error {
			label {
				position: absolute;
				display: block;
				top: 43px;
				left: 14px;
				font-size: 12px;
				white-space: nowrap;

				@media(max-width: 767px) { 
					position: relative;
					top: 0;
					left: 0;
					padding-top: 8px;
				}
			}
		}
	}
	[type="submit"] {
		@media(max-width: 767px) { 
			width: 100%;
		}
	}
	.total {
		display: inline-block;
		font-weight: 700;
		&.active {
			.amount, .far {
				color: #000000;
			}
		}
	}
	.far{
		font-size: 12px;
		font-weight: 700;
	}
	.amount, .far {
		color: #a1a1a1;
	}
}

.attracted-employee {
	.table>tbody>tr>td {
		vertical-align: middle;
		height: 51px;
		@media(max-width: 767px) {
			height: auto;
		}
	}

	h1 {
		margin-top: 30px;
	}
}
.table-responsive-bonuses {
	@media(max-width: 767px) {
		.table>tbody>tr {
			min-width: 255px;
			& > td {
				white-space: normal;
			}
		}
		.table>tbody>tr>td, th {
			&.js-cell-mobile {
				display: flex;
				align-items: center;
			}
		}
		.table > thead > tr > th.cell-head:before {
	    top: 50% !important;
	    margin-top: -9px !important;
		}
		// id-card-alt
		.cell-head-id-card {
			&:before {
				content: "\f47f";
			}
		}
		.cell-head-file-signature {
			&:before {
				content: "\f573";
			}
		}
		.cell-head-star {
			&:before {
				content: "\f005";
			}
		}
		.cell-head-clipboard-check {
			&:before {
				content: "\f46c";
			}
		}
		.cell-head-file-alt {
			&:before {
				content: "\f15c";
			}
		}
		.cell-head-exchange-alt {
			&:before {
				content: "\f362";
			}
		}
	}
}
.bonuses-table {
	.accrued{
		color: #38a138;
		font-weight: 700;
	}
	.writtenOff {
		font-weight: 700;
	}
	@media(max-width: 767px) {
		.form-filters-inline.no-indents {
			margin-left: 0;
		}
		.form-filters-inline .form-group-datepicker {
			margin-left: 0;
		}
	}
	.btn {
		@media(max-width: 767px) {
			width: 100%;
		}
	}
}