.form-claimadm {
    max-width: 980px;
    margin-bottom: 30px;
    
    .form-group-radio {
        .btn-group {
            margin-top: 25px;
            display: block;
            
            .btn {
                .fa {
                    margin-left: 10px;
                    font-size: 12px;
                }

                &.btn-claim {
                    width: 45%;

                    &.active {
                        background-color: #ffa9b1;
                    }
                }

                &.btn-offer {
                    width: 55%;
                    
                    &.active {
                        background-color: #e1f6cc;
                    }
                }
            }
        }
    }
    
    .form-group-datepicker {
        .row {
            position: relative;
        }
        
        .input-group-dash {
            font-size: 0;
            line-height: 0;
            display: block;
            height: 1px;
            width: 10px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -5px;
        }
    }
    
    .form-btns {
        .btn {
            width: 100%;
        }
    }
}

.table-claimadm {
    > tbody {
        > tr {
            &.row-open {
                .cell-btn {
                    .panel-action-feedback {
                        margin-top: 7px;
                    }
                }
            }
        }
    }

    .form-claim-feedback {
        margin-top: 30px;
        
        .form-btns {
            margin-top: 20px;
            text-align: right;
            
            .btn {
                float: none;
            }
            
            .btn-link {
                margin-right: 10px;
            }
        }
    }
}

@media (min-width: 992px) {
    .form-claimadm {
        .col-md-radio {
            width: 24%;
        }
        
        .col-md-branch {
            width: 18%;
        }
        
        .col-md-post {
            width: 32%;
        }
        
        .col-md-user {
            width: 26%;
        }
    }
}

@media (max-width: 991px) {
    .form-claimadm {
        max-width: none;

        .form-group-datepicker {
            .row {
                max-width: 340px;
            }
        }
    }

    .table-claimadm {
        .form-claim-feedback {
            margin-top: 0px;
            margin-bottom: 10px;
        }
        
        .btn-primary {
            width: 130px;
        }
        
        .cell-btn {
            text-align: right;
            
            .panel-action-feedback {
                text-align: left;
            }
        }
    }    
}

@media (min-width: 768px) and (max-width: 991px) {
    .form-claimadm {
        .col-md-radio {
            width: 35%;
        }
        
        .col-md-branch {
            width: 25%;
        }
        
        .col-md-post {
            width: 40%;
        }
        
        .form-btns {
            text-align: right;

            .btn {
                width: 130px;
            }
        }
    }
}

@media (max-width: 767px) {
    .form-claimadm {
        margin-top: 20px;

        .form-group-radio {
            .btn-group {
                margin-top: 0;
                
                .btn {
                    width: 50%;
                }
            }
        }

        .form-btns {
            margin-top: 0;
        }
    }

    .table-claimadm {
        > tbody {
            > tr {
                > td {
                    &.cell-btn {
                        padding-left: 0;
                        text-align: left;
                        
                        .btn {
                            margin-top: 15px;
                        }  
                    }
                }
                
                &.row-open {
                    .cell-btn {
                        .panel-action-feedback {
                            margin-top: 7px;
                        }
                    }
                }
            }
        }
        
        .form-claim-feedback {
            .form-btns {
                .clearfix();
                
                .btn-link {
                    float: left;
                    padding-left: 0;
                    white-space: normal;
                    margin-right: 15px;
                }
                
                .btn-primary {
                    float: right;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .form-claimadm {
        .form-group-datepicker {
            .form-control {
                padding-right: 0;
            }
        }
    }

    .table-claimadm {
        .form-claim-feedback {
            .form-btns {
                .btn-link {
                    max-width: 130px;
                    text-align: left;
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-top: -5px;
                }
            }
        }
    }
}