.form-contract
{
    .editor-shortcuts
    {
        font-size: 95%;
        color: black;
        a { 
            font-weight: bold; 
            text-transform: uppercase;
        }
        h5 {
            margin: 0 0 6px 0;
            font-size: 95%;
            font-weight: bold;
        }
    }
    .orgname {
        height: 34px;
        resize: none;
    }

    @media (max-width: 767px) {
        .form-btns .btn {
            display: block;
            width: 100%;
        }
        .orgname {
            height: 70px;
        }
    }

}
@media (min-width: 768px) {
    .btn-ugly {
        padding: 6px 23px;
        line-height: 20px;
        font-size: 90%;
    }
}

