.form-contracts
{
    .date-range
    {
        display: flex;
        align-items: center;
        .input-group { flex-grow: 1; }
        .separator {
            width: 1em;
            text-align: center;
        }
    }
    .contracts-table {
        td:last-child {
            padding: 4px 0;
            text-align: right;
        }
        .btn {
            padding: 4px 8px;
        }
    }

    @media (min-width: 992px) {
        .form-contracts-filter {
            .form-btns {
                .btn { float: left; }
            }
        }
    }
    @media (max-width: 991px) {
        .form-contracts-filter {
            .form-btns {
                margin-top: 8px;
                margin-bottom: 30px;
            }
        }
    }
    @media (max-width: 767px) {
        .contracts-table
        {
            thead { display: none; }
            tr {
                display: flex;
                flex-direction: column;
                position: relative;
                border-bottom: 1px solid #ddd;
                padding: 8px 40px 8px 0;
            }
            tr:last-child { border: none; }
            td {
                border: none !important;
                padding: 1px 0 !important;
            }
            td:nth-child(1) { order: 2; }
            td:nth-child(2) { order: 3; }
            td:nth-child(3) {
                order: 1;
                font-weight: bold;
            }
            td:nth-child(4) { order: 4; }
            td:last-child {
                position: absolute;
                right: 0;
                bottom: 12px;
            }
        }
        .form-btns .btn {
            display: block;
            width: 100%;
        }
    }
}
