.contracts{
    .table>tbody>tr>td.contracts__btn_wrapper{
        padding: 5px 0px;
    }
}
.contracts__btn{
    width: 33px;
    margin-right: 7px;
    padding: 4px 8px;
    &:last-child{
        margin-right: 0;
    }
}
.contracts__table{
    font-size: 13px;
    tr{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
    }
}
.contracts__btn_list{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
.contracts__btn_primary{
    padding: 5px 25px 7px 20px;
    border-radius: 5px;
}

@media (max-width: 767px){
    .contracts .table > tbody > tr{
        &:first-child td.contracts__name{
            border-top: none;
        }
        > td{
            &.contracts__btn_wrapper{
                border-top: none;
                padding: 5px 0px 18px;
            }   
            &.contracts__name{
                font-size: 14px;
                padding: 8px 0px 6px;            
            }
        }        
    }
    .contracts__btn_list{
        justify-content: flex-start;
    }
    .contracts__btn_primary{
        width: 100%;
    }
    .nav__xs_slim>li>a{
        padding-left: 12px;
        padding-right: 12px;
    }
}