.dashreport {

  &-table {
    border-left-color: #fff;
    border-right-color: #fff;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;

    .col-total {
      text-transform: uppercase;
    }
    td:first-child {
      width: 1%;
      min-width: 30px;
      position: relative;
      color: #333;
    }

    > thead {
      > tr {
        > th {
          vertical-align: middle;
          text-align: center;
          line-height: 1.2;
          font-size: 12px;

          &:first-child {
            border-left: 0;
          }

          &:last-child {
            border-right: 0;
          }

          &.cell-head-num {
            text-align: left;
            border-right: 0;
            width: 10px;
          }

          &.cell-head-nom {
            text-align: left;
            border-left: 0;

            & a {

              @media(max-width: 767px) {
                text-indent: -9999px;
                font-size: 0;
              }
            }
          }

          &.cell-head-count {
            border-bottom-width: 1px;
          }

          &.cell-head-branch {
            border-bottom: 0;
          }

          &.cell-head-provider {
            white-space: nowrap;
            border-top: 0;
            padding-top: 0;
            font-weight: 400;
          }

          &.cell-head-package {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
          }

          &.cell-head-sum {
            text-transform: uppercase;
            background-color: #eeeeee;
            text-align: right;
          }
        }
      }
    }

    > tbody {
      > tr {
        > td {
          color: #337ab7;
          text-align: center;
          vertical-align: middle;

          &:first-child {
            border-left: 0;
          }
          &:nth-child(2) {
            color: #333;
          }
          &:last-child {
            border-right: 0;
          }

          &.dashreport-table-cell{
            text-align: left;
            position: relative;
            width: 20%;

            .drop-tr-link {
              position: absolute;
              left: 8px;
              top: 50%;
              margin-top: -9px;
            }

            h3 {
              font-weight: 700;
              font-size: 13px;
              margin: 0;
              padding-left: 22px;
            }
          }

          &.cell-sum {
            background-color: #eeeeee;
            text-align: right;
            white-spce: nowrap;

            &.td-red {
              background-color: #FFAAB3;
              cursor: pointer;
            }
          }

          &.cell-num {
            text-align: right;
            border-right: 0;
          }

          &.cell-title {
            text-align: left;
            border-left: 0;
          }
        }

        &.table--parent-tr {
          > td {
            border-top-width: 2px;
          }
        }
      }
    }

    > tfoot {

      & > tr:first-child > td,
      & > tr:first-child > th {
        color: #337ab7;
      }
      & > tr > td:first-child,
      & > tr > th:first-child {
        color: #333;
      }
      & > tr:first-child > th:first-child,
      & > tr:last-child > td:nth-child(2),
      & > tr:last-child > th:nth-child(2) {
        color: #333;
        font-size: 12px;
      }
      & > tr:last-child > th.cell-title h3 {
        font-size: 12px;
        margin: 0;
      }

    }

    &.cell-head-nom {
      text-align: left;
      border-left: 0;


      & a { 

        @media(max-width: 767px) {
          text-indent: -9999px;
          font-size: 0;
        }
      }
    }

    &-head {
      display: none;
      width: 216px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      border-right: 1px solid #ddd;
      .box-shadow(7px 0 5px -5px rgba(0, 0, 0, 0.25));
      z-index: 1;

      > thead {
        > tr {
          > th {
            height: 100px;
          }
        }
      }

      > tbody {
        > tr {
          > td {
            height: 35px;

            &.dashreport-table-cell {
              .dashreport-table-cell-content {
                width: 200px;
              }
            }

            &.cell-title {
              width: 170px;
            }
          }
        }
      }
    }

    .ico {
      display: none;
      vertical-align: middle;
      margin: 0 0 0 25px;
    }

  }

  &-form {

    .period-dashreport-row {
      padding: 5px 0 0 0;
    }

    .form-group__checbox--all {
      margin-top: 33px;

      @media(max-width: 767px) {
        margin-top: 5px;
      }
    }

    &-date {
      max-width: 180px;
      float: left;
      padding: 0;
      margin-right: 0;

      @media (max-width: 767px) {
        width: 48%;
        padding: 0;
        max-width: 100%;
        margin-right: 0;
      }

      &-del {
        float: left;
        padding: 30px 7px 0 7px;

        @media (max-width: 767px) {
          padding-top: 0;
          width: 4%;
          text-align: center;
        }
      }
    }

    .form-group-datepicker .input-group-dash {
      font-size: 0;
      line-height: 0;
      display: block;
      height: 1px;
      width: 10px;
      background-color: #000;
      position: absolute;
      top: 70%;
      left: 50%;
      margin-left: -5px;
      margin-top: -1px;
    }

    .btn.btn-dashreport {
      @media(max-width: 767px) {
        float: left;
        width: 100%;
      }
    }

    .form-group.form-btns {
      @media(max-width: 767px) {
        margin-top: 5px;
      }
    }

    @media(max-width: 992px){
      .dashreport-table-head > thead > tr > th {
        height: auto!important;
      }
    }

  }

  &-types {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    & > .form-group {
      display: none;
    }

  }

}

@media (min-width: 768px) {

  .table-responsive-wrapper-dashreport {
    margin-top: 30px;
  }
  .dashreport-table td:first-child {
    width: 1%;
    min-width: 30px;
    position: relative;
    color: #333;
  }
  .dashreport-table tbody > tr > td {
    color: #337ab7;
  }
  .dashreport-table tbody > tr > td:nth-child(2) {
    color: #333;
  }
  .dashreport-table tfoot > tr:first-child > td,
  .dashreport-table tfoot > tr:first-child > th a {
    color: #337ab7;
  }
  .dashreport-table tfoot > tr > td:first-child,
  .dashreport-table tfoot > tr > th:first-child {
    color: #333;
  }
  .dashreport-table tfoot > tr:last-child > td:nth-child(2),
  .dashreport-table tfoot > tr:last-child > th:nth-child(2) {
    color: #333;
  }
  .dashreport-table tfoot > tr > th:first-child {
    padding-left: 30px;
    vertical-align: middle;
  }
  .dashreport-table > tbody > tr > td.cell-title {
    padding-left: 30px;
  }
  .dashreport-table > thead > tr > th:first-child {
    vertical-align: middle;
    text-align: left;
    padding-left: 30px;
    width: 30%;
  }
  .dashreport-table > tbody > tr > td:first-child,
  .dashreport-table > tfoot > tr > th:first-child {
    width: 30%;
  }
  .dashreport-table > tbody > tr > td.dashreport-table-cell h3 {
    display: block;
    color: #333;
    display: block;
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    padding-left: 22px;
  }
  .dashreport-table .ico {
    display: none;
  }
  .dashreport-table {

    &-head  {

      & > tbody > tr > td.dashreport-table-cell h3 {
        display: block;
        font-weight: 700;
        font-size: 13px;
        margin: 0;
        padding-left: 22px;
      }

      .ico {
        display: none;
      }

      & > tfoot > tr > td h3 {
        font-weight: 700;
        font-size: 13px;
        margin: 0;
        padding-left: 0;
      }
      & > tfoot > tr > td {
        font-weight: 700;
      }

    }
  }

}

@media (max-width: 767px) {

  .dashreport-table {

    & > thead > tr > th:first-child {
      vertical-align: middle;
      text-align: left;
      padding-left: 30px;
      width: 30%;
    }

    & > tbody > tr > td.dashreport-table-cell h3 {
      display: none!important;
    }
    & > tbody > tr > td.dashreport-table-cell h3 {
      display: none!important;
    }
    & > tbody > tr > td.cell-title {
      padding-left: 30px;
      font-size: 0;
    }
    & > tfoot > tr > th:first-child {
      padding-left: 30px;
      vertical-align: middle;
    }
    & > tfoot > tr:last-child > td.dashreport-table-cell h3 {
      display: none!important;
    }
    & > tfoot > tr:last-child > th h3 {
      display: none!important;
    }

    .ico {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 25px;
    }

    &-thead-name {
      display: none;
    }

    &-head {
      display: block;
      width: 131px;
      top: auto;
      bottom: 0;
      margin: 0;
      border-top: none;
      border-right: none;

      & > thead tr {
        height: 30px;
      }

      .ico {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 25px;
      }

      //& > tbody ,
      //& > tfoot {
      //  border-right: 1px solid #ddd;
      //  -webkit-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
      //  -moz-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
      //  box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
      //}

      & > tbody > tr > td.dashreport-table-cell .dashreport-table-cell-content {
        width: 115px;
      }
      & > tbody > tr > td.dashreport-table-cell {
        width: 115px;
      }
      & > tbody > tr > td.dashreport-table-cell h3 {
        display: none;
      }
      & > tbody > tr > td.dashreport-table-cell .fa,
      & > tfoot > tr > td.cell-title .fa {
        font-size: 17px;
      }
      & > tfoot > tr > td.dashreport-table-cell h3 {
        display: none;
      }
      & > tfoot > tr:first-child > td.cell-title > .dashreport-table-cell-content {
        font-weight: 700;
      }
      & > tfoot > tr:last-child > td h3 {
        display: none;
      }

    }

  }

  .table-responsive-wrapper-dashreport {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;

    .table-responsive2 .dashreport-table > tbody > tr > td.dashreport-table-cell {
      width: 115px;
    }
    .table-responsive2 .dashreport-table > tbody > tr > td.dashreport-table-cell .dashreport-table-cell-content {
      width: 115px;
    }
  }

}

@media (min-width: 480px) and (max-width: 992px) {

  .dashreport-table {

    &-head {

      & > tfoot > tr:last-child > td h3 {
        height: 34px;
        line-height: 34px;
        vertical-align: middle;
      }
    }
  }

  & > tbody > tr > td.cell-title {
    padding-left: 30px;
  }

}



