.dashreport {

  &-table {

    font-family: "Open Sans", sans-serif;
    font-size: 12px;

    .col-total {
      text-transform: uppercase;
    }
    td:first-child {
      width: 1%;
      min-width: 30px;
      position: relative;
      color: #333;
    }
    tbody > tr > td {
      color: #337ab7;
    }
    tbody > tr > td:nth-child(2) {
      color: #333;
    }
    tfoot > tr:first-child > td,
    tfoot > tr:first-child > th {
      color: #337ab7;
    }
    tfoot > tr > td:first-child,
    tfoot > tr > th:first-child {
      color: #333;
    }
    tfoot > tr:first-child > th:first-child,
    tfoot > tr:last-child > td:nth-child(2),
    tfoot > tr:last-child > th:nth-child(2) {
      color: #333;
    }



    &.cell-head-nom {
      text-align: left;
      border-left: 0;

      & a {

        @media(max-width: 767px) {
          text-indent: -9999px;
          font-size: 0;
        }
      }
    }














    .ico {
      display: none;
      vertical-align: middle;
      margin: 0 0 0 25px;
    }


  }

  &-form {

    .period-dashreport-row {
      padding: 5px 0 0 0;
    }

    .form-group__checbox--all {
      margin-top: 33px;

      @media(max-width: 767px) {
        margin-top: 5px;
      }
    }



    .form-group-datepicker .input-group-dash {
      font-size: 0;
      line-height: 0;
      display: block;
      height: 1px;
      width: 10px;
      background-color: #000;
      position: absolute;
      top: 70%;
      left: 50%;
      margin-left: -5px;
      margin-top: -1px;
    }

    .btn.btn-dashreport {
      @media(max-width: 767px) {
        float: left;
        width: 100%;
      }
    }

    .form-group.form-btns {
      @media(max-width: 767px) {
        margin-top: 5px;
      }
    }

    @media(max-width: 992px){
      .table-providers-head > thead > tr > th {
        height: auto!important;
      }
    }

  }


  .table-providers {
    border-left-color: #fff;
    border-right-color: #fff;
    margin-bottom: 0;

    > thead {
      > tr {
        > th {
          vertical-align: middle;
          text-align: center;
          line-height: 1.2;
          font-size: 12px;

          &:first-child {
            border-left: 0;
          }

          &:last-child {
            border-right: 0;
          }

          &.cell-head-num {
            text-align: left;
            border-right: 0;
            width: 10px;
          }

          &.cell-head-nom {
            text-align: left;
            border-left: 0;

            & a {

              @media(max-width: 767px) {
                text-indent: -9999px;
                font-size: 0;
              }
            }
          }

          &.cell-head-count {
            border-bottom-width: 1px;
          }

          &.cell-head-branch {
            border-bottom: 0;
          }

          &.cell-head-provider {
            white-space: nowrap;
            border-top: 0;
            padding-top: 0;
            font-weight: 400;
          }

          &.cell-head-package {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
          }

          &.cell-head-sum {
            text-transform: uppercase;
            background-color: #eeeeee;
            text-align: right;
          }
        }
      }
    }

    > tbody {
      > tr {
        > td {
          text-align: center;
          vertical-align: middle;

          &:first-child {
            border-left: 0;
          }

          &:last-child {
            border-right: 0;
          }

          &.cell-provider {
            text-align: left;
            position: relative;
            width: 20%;

            .drop-tr-link {
              position: absolute;
              left: 8px;
              top: 50%;
              margin-top: -9px;
            }

            h3 {
              font-weight: 700;
              font-size: 13px;
              margin: 0;
              padding-left: 22px;
            }
          }

          &.cell-sum {
            background-color: #eeeeee;
            text-align: right;
            white-spce: nowrap;

            &.td-red {
              background-color: #FFAAB3;
              cursor: pointer;
            }
          }

          &.cell-num {
            text-align: right;
            border-right: 0;
          }

          &.cell-product {
            text-align: left;
            border-left: 0;
          }
        }

        &.table--parent-tr {
          > td {
            border-top-width: 2px;
          }
        }
      }
    }
  }

  .table-providers-head {
    display: none;
    width: 216px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-right: 1px solid #ddd;
    .box-shadow(7px 0 5px -5px rgba(0, 0, 0, 0.25));
    z-index: 1;

    > thead {
      > tr {
        > th {
          height: 85px;
        }
      }
    }

    > tbody {
      > tr {
        > td {
          height: 35px;

          &.cell-provider {
            .provider {
              width: 200px;
            }
          }

          &.cell-product {
            width: 170px;
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    .table-responsive-wrapper-provider {
      position: relative;

      .table-responsive2 {
        .table-providers {
          > tbody {
            > tr {
              > td {
                height: 35px;
              }
            }
          }
        }
      }
    }

    .table-providers-head {
      display: table;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .table-responsive-wrapper-provider {
      .table-responsive2 {
        .table-providers {
          > tbody {
            > tr {
              > td {
                &.cell-provider {
                  width: 216px;

                  .provider {
                    width: 200px;
                  }
                }

                &.cell-product {
                  width: 170px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .table-responsive-wrapper-provider {
      margin-left: -15px;
      margin-right: -15px;

      .table-responsive2 {
        .table-providers {
          > tbody {
            > tr {
              > td {
                white-space: normal;

                &.cell-provider {
                  width: 146px;

                  .provider {
                    width: 130px;
                  }
                }

                &.cell-product {
                  width: 100px;
                }
              }
            }
          }
        }
      }
    }

    .table-providers-head {
      width: 146px;

      > tbody {
        > tr {
          > td {
            white-space: normal;

            &.cell-provider {
              .provider {
                width: 130px;
              }
            }

            &.cell-product {
              width: 100px;
            }
          }
        }
      }
    }
  }

  .providersmin-table {
    .table {
      max-width: 720px;

      td, th {
        border-right: 1px solid #ddd;

        &:last-child {
          border-right: 0;
        }

        @media(min-width: 768px) {
          &:first-child {
            min-width: 180px;
            text-align: left;
          }
        }
      }

      th {
        text-align: center;

        &:last-child {
          text-transform: uppercase;
        }
      }

      td {
        font-weight: 600;
        font-size: 13px;
      }
    }
  }

  @media(max-width: 992px) {

    .providersmin-table {

      .table-providers-head {
        display: none;
      }
    }

    .table-providers-head > thead > tr > th {
      height: auto!important;
    }

  }

  @media (max-width: 768px) {
    .providersmin-table {
      .table {
        max-width: 100%;
      }
    }
  }

  @media(max-width: 767px) {
    .providersmin-table .table-providers-head > thead > tr > th {
      height: 50px;
    }
    .providersmin-table {
      .table {
        td, th {
          border-right: 0;
          text-align: center;
        }
      }
      .table-providers-head {
        display: table;
      }
    }

    .providersmin-table .table-responsive2 .table th {
      height: 50px;
      vertical-align: bottom;
    }

    .providersmin-table .table-responsive2 .table th:first-child, .providersmin-table .table-responsive2 .table td:first-child {
      width: 120px;
      min-width: 120px;
    }

    .providersmin-table .table-providers-head {
      width: 120px;
    }

    .providersmin-table .table-providers-head td {
      text-align: left;
    }
  }



}


@media (min-width: 768px) {

  .dashreport-table.table-providers td:first-child {
    width: 1%;
    min-width: 30px;
    position: relative;
    color: #333;
  }

  .dashreport-table.table-providers tbody > tr > td {
    color: #337ab7;
  }

  .dashreport-table.table-providers tbody > tr > td:nth-child(2) {
    color: #333;
  }

  .dashreport-table.table-providers tfoot > tr:first-child > td,
  .dashreport-table.table-providers tfoot > tr:first-child > th a {
    color: #337ab7;
  }

  .dashreport-table.table-providers tfoot > tr > td:first-child,
  .dashreport-table.table-providers tfoot > tr > th:first-child {
    color: #333;
  }

  .dashreport-table.table-providers tfoot > tr:last-child > td:nth-child(2),
  .dashreport-table.table-providers tfoot > tr:last-child > th:nth-child(2) {
    color: #333;
  }

  .dashreport-table.table-providers tfoot > tr > th:first-child {
    padding-left: 30px;
    vertical-align: middle;
  }

  .dashreport-table.table-providers > tbody > tr > td.cell-product {
    padding-left: 30px;
  }

  .dashreport-table.table-providers > thead > tr > th:first-child {
    vertical-align: middle;
    text-align: left;
    padding-left: 30px;
    width: 30%;
  }

  .dashreport-table.table-providers > tbody > tr > td:first-child,
  .dashreport-table.table-providers > tfoot > tr > th:first-child {
    width: 30%;
  }


  .dashreport-table.table-providers > tbody > tr > td.cell-provider h3 {
    display: block;
    color: #333;
  }
  .dashreport-table-head.table-providers > tbody > tr > td.cell-provider h3 {
    display: block;
  }
  .dashreport-table .ico {
    display: none;
  }
  .dashreport-table-head .ico {
    display: none;
  }
  .dashreport-table.table-providers > tfoot > tr > th h3 {
    font-weight: 700;
    font-size: 13px;
    margin: 0;
    padding-left: 0;
    color: #333;
  }
  .dashreport-table-head.table-providers-head > tfoot > tr > td h3 {
    font-weight: 700;
    font-size: 13px;
    margin: 0;
    padding-left: 0;
  }
  .dashreport-table-head.table-providers-head > tfoot > tr > td {
    font-weight: 700;
  }

}

@media (max-width: 767px) {

  .dashreport-table.table-providers > tbody > tr > td.cell-provider h3 {
    display: none!important;
  }
  .dashreport-table.table-providers > tbody > tr > td.cell-provider h3 {
    display: none!important;
  }
  .dashreport-table.table-providers > tfoot > tr:last-child > td.cell-provider h3 {
    display: none!important;
  }
  .dashreport-table.table-providers > tfoot > tr:last-child > th h3 {
    display: none!important;
  }

  .dashreport-table .ico {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 25px;
  }
  .dashreport-table-head .ico {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 25px;
  }
  .dashreport-table-head.table-providers-head {
    width: 85px;
  }
  .dashreport-table-head > tbody > tr > td.cell-provider .provider {
    width: 85px;
  }
  .dashreport-table.table-providers > tbody > tr > td.cell-provider {
    width: 85px;
  }
  .table-responsive-wrapper-provider .table-responsive2 .dashreport-table.table-providers > tbody > tr > td.cell-provider {
    width: 85px;
  }
  .table-responsive-wrapper-provider .table-responsive2 .dashreport-table.table-providers > tbody > tr > td.cell-provider .provider {
    width: 85px;
  }
  .table-providers-head.dashreport-table-head > tfoot > tr > td.cell-provider h3 {
    display: none;
  }
  .dashreport-table-head.table-providers > tbody > tr > td.cell-provider h3 {
    display: none;
  }
  .dashreport-table.table-providers > tbody > tr > td.cell-product {
    padding-left: 30px;
  }
  .dashreport-table.table-providers tfoot > tr > th:first-child {
    padding-left: 30px;
    vertical-align: middle;
  }
  .dashreport-table.table-providers > tbody > tr > td.cell-product {
    padding-left: 30px;
  }
  .dashreport-table-head.table-providers-head > tfoot > tr:first-child > td.cell-product > .provider {
    font-weight: 700;
  }
  .dashreport-table.table-providers > tbody > tr > td.cell-product {
    padding-left: 30px;
  }
  .dashreport-table.table-providers > thead > tr > th:first-child {
    vertical-align: middle;
    text-align: left;
    padding-left: 30px;
    width: 30%;
  }
  .dashreport-table-head.table-providers-head > tfoot > tr:last-child > td h3 {
    display: none;
  }

}

@media (min-width: 480px) and (max-width: 992px) {

  .dashreport-table-head.table-providers-head > tfoot > tr:last-child > td h3 {
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
  }

  .dashreport-table.table-providers > tbody > tr > td.cell-product {
    padding-left: 30px;
  }

}

.dashreport-types > .form-group {
  display: none;
}
.dashreport-form-date {
 max-width: 155px;
 float: left;
 padding: 0 7px;
}
@media (max-width: 767px) {
  .dashreport-form-date {
    width: 48%;
    padding: 0 15px;
    max-width: 100%;
  }
}
.dashreport-form-date-del {
  float: left;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .dashreport-form-date-del {
    padding-top: 5px;
    width: 4%;
    text-align: center;
  }
}
.dashreport-form-date:last-of-type {
  margin-right: 15px;

  @media (max-width: 767px) {
      margin-right: 0;
  }
}


