.discount {
	.btn-group {
		margin-bottom: 30px;
	}
	h4 {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 15px;
	}
	.no-label {
		margin-top: 25px;
	}
	.discount__flex {
		.flex();
		.black-label {
			color: #000;
			margin: auto 30px auto 11px;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
	.btn-add-row,
	.btn-remove-row 
	{
		padding: 6px 10px;
		width: 34px;
	}
	@media (max-width: 767px) {
		h3 {
			font-size: 17px;
			margin-bottom: 7px;
		}
		h4 {
			//margin-top: 25px;
		}
	}
	
	&__right-btn {
		margin-top: 10px;
		text-align: right;
		.btn:not(:last-child) {
			margin-right: 10px;
		}
		@media (max-width: 767px) {
			.flex();
			margin-top: 25px;
			.btn {
				width: 100%;
			}
			.btn:not(:last-child) {
				margin-right: 30px;
			}
		}
	}
	
	&__form {
		.form-group-chbxs {
			margin-top: 20px;
		}
		.input-groups-periods {
			margin-top: 0;
		}
		.select-actions {
			margin-top: 25px;
		}
	}
	
	&__props {
		.btn-remove-row {
			margin-right: 15px;
		}
		.form-group-btns {
			.btn {
				height: 34px;
			}
			.btn-neutral {
				border: 0;
				background-color: transparent;
				margin: 0;
				-webkit-appearance: none;
			}
			.btn-cancel {
				color: #ff0000;
			}
			.btn-add {
				color: #38a138;
			}
		}
		.discount__times {
			.flex();
			.flex-align-items(center);
			
			.form-group {
				margin-bottom: 0;
			}
			.form-control {
				text-align: center;
			}
			.form-group-dash {
			    text-align: center;
			    padding: 0 13px;				
			}
		}
		.discount__dates-row:not(:last-child) {
			margin-bottom: 15px;
		}
		.discount__summ {
			.flex();
			.flex-align-items(center);
			.form-control {
				margin: 0 10px 0 5px;
				//width: 67px;
			}
		}
		@media (max-width: 767px) {
			.form-group-btns {
				margin: 20px 0 15px 0;
			}
			.discount__times {
				margin: 20px 0 15px 0;
				.form-group {
					width: 130px;
				}
			}
			.discount__letters {
				margin: 5px 0 0 0;
			}
			.time-btn-block {
				.form-control {
					width: 50px;
				}
			}
			.order-block {
				.form-group:nth-child(1) {
					margin: 15px 0 20px 0;
				}
				.order-btn-block {
					margin-top: 0;
				}	
			}
			
		}
	}
	
	&__acts {
		.no-active {
			border: 1px solid #e5e5e5;
			& + .black-label {
				color: #808080;			
			}
		}
		.fixprice-btn-block .btn:not(:last-child) {
			margin-right: 15px;
		}
		.gift-btn-block .btn:not(:last-child) {
			margin-right: 15px;
		}
		.form-group-discount {
			max-width: 160px;
		}
		@media (min-width: 768px) and (max-width: 991px) {
			.fixprice-btn-block .btn:first-child {
				margin-right: 0;
				margin-bottom: 15px;
			}
			
		}
		@media (max-width: 767px) {
			.gift-btn-block {
				margin-top: 0;
			}
			.gift-block {
				.form-group:nth-child(1) {
					margin: 15px 0 20px 0;
				}
				.order-btn-block {
					margin-top: 0;
				}	
			}
		}
	}
}

// Вынести в общие стили select2?
.select2-container--default .select2-results__option[aria-selected=true] {
	//color: #38A138;
	//background: none;
}