.discount-manage {
	.input-groups-periods {
		margin-top: 0;
	}
	.form-group-chbxs {
		margin-top: 25px;
		height: 34px;
		.flex();
		.checkbox {
			margin: auto 0;
		}
	}
	.right-btn-group {
		margin-top: 25px;
		text-align: right;
	}
	.showed-text {
		margin-top: 30px;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		.form-group-chbxs {
			margin-top: 10px;
		}
		.right-btn-group {
			margin-top: 10px;
		}
	}
	@media (max-width: 767px) {
		.form-respons {
			margin-top: 15px;
		}
		.form-group-chbxs {
			margin-top: 0;
			height: inherit;
			display: block;
		}
		.right-btn-group {
			margin-top: 5px;
			.btn {
				width: 100%;
			}
		}
	}
	
	.table-discmanage {
		margin-bottom: 10px;
		thead {
			tr th {
				height: 50px;
				position: relative;
				&.cell-wide {
					min-width: 103px;
				}
				a.desc:after,
				a.asc:after {
					position: absolute;
					top: 37%;
					right: 5px;
				}
			}
			@media (max-width: 767px) {
				width: 52px !important;
				> tr {
					> th {
						height: 37px;
						&:last-child {
							margin-top: -1px;
						}
						&.cell-wide {
							min-width: inherit;
						}
						&.cell-xs-icon {
							&:before {
								content: attr(data-icon);
								font-size: 14px;
							}
							.cell-xs-icon-sort {
								visibility: visible !important;
								display: flex;
								justify-content: center;
								padding-top: 3px;
								&:before {
									display: inline-block;
									-moz-osx-font-smoothing: grayscale;
									-webkit-font-smoothing: antialiased;
									font-style: normal;
									font-variant: normal;
									text-rendering: auto;
									line-height: 1;
									font-size: 16px;
									font-family: "Font Awesome 5 Pro";
									font-weight: 900;
									text-align: center;
									content: attr(data-icon);
									font-size: 14px;
								}
								&:after {
									font-size: 11px;
									padding-left: 4px;
								}
							}
						}
					}
				}
			}
		}
		tbody {
			tr {
				td {
					vertical-align: middle;
					font-weight: normal;
					white-space: normal;
					&.cell-btn {
						text-align: right;
						width: 130px;
						.btn {
							width: 30px;
							padding: 5px;
							&:not(:last-child) {
								margin-right: 7px;	
							}
						}
					}
				}
			}
			@media (max-width: 767px) {
				tr {
					td {
						min-width: 200px;
						&.cell-btn {
							width: inherit;
							text-align: left;
						}
					}
				}
			}
		}
		tfoot {
			display: none;
			@media (max-width: 767px) {
				position: absolute;
				top: 1px;
				bottom: 1px;
				right: 0;
				z-index: 100;
				background: fade(#ffffff, 80%);
				left: 52px;
				.spinnerLoader();
			}
		}
	}
}