.dishes {
	.header-with-select .form-control {
		margin-top: 15px;
	}
	.showed-text {
		margin-top: 25px;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		.header-with-select .form-control {
			margin-top: 0;
		}
	}
	@media (max-width: 767px) {
		.showed-text {
			margin-top: 15px;
		}
	}
	&__table {
		position: relative;
		tbody > tr > td {
			font-weight: 300;
		}
		tfoot {
			display: none;
			position: absolute;
			top: 1px;
			bottom: 1px;
			right: 0;
			left: 0;
			z-index: 100;
			background: fade(#ffffff, 80%);
			
			.spinnerLoader();
		}
		@media (max-width: 767px) {
			margin: 0 -15px;
			&-wrapper {
				overflow-y: hidden;
				overflow-x: auto;
				min-height: 0.01%;
				-ms-overflow-style: -ms-autohiding-scrollbar;
			}
			&-table {
				width: 660px;
			}
			thead > tr > th {
				font-size: 14px;
				&:first-child {
					width: 240px;
					padding-left: 15px;
				}
			}
			tbody > tr > td {
				font-size: 14px;
				&:first-child {
					width: 240px;
					padding-left: 15px;
				}
			}
		}
	}
}