.dishes {
	.showed-text {
		margin-top: 25px;
	}
	@media (max-width: 767px) {
		h1 {
			margin-bottom: 20px;
		}
		.showed-text {
			margin-top: 15px;
		}
	}

	&__form {
		&-btn {
			margin-top: 25px;
		}
		@media (max-width: 991px) and (min-width: 768px) {
			&-btn {
				margin-top: 5px;
				margin-bottom: 5px;
				.btn {
					float: right;
				}
			}
		}
		@media (max-width: 767px) {
			&-btn {
				margin-top: 0;
				margin-bottom: 5px;
				.btn {
					width: 100%;
				}
			}
			.form-group {
				margin-bottom: 20px;
			}
			&.form-respons .input-groups-periods {
				margin-top: 0;
			}
		}
	}
	
	&__table {
		position: relative;
		tbody > tr > td {
			font-weight: 300;
		}
		tfoot {
			display: none;
			position: absolute;
			top: 1px;
			bottom: 1px;
			right: 0;
			left: 0;
			z-index: 100;
			background: fade(#ffffff, 80%);
			
			.spinnerLoader();
		}
		@media (max-width: 767px) {
			margin: 0 -15px;
			&-wrapper {
				overflow-y: hidden;
				overflow-x: auto;
				min-height: 0.01%;
				-ms-overflow-style: -ms-autohiding-scrollbar;
			}
			&-table {
				width: 660px;
			}
			thead > tr > th {
				font-size: 12px;
				&:first-child {
					width: 240px;
					padding-left: 15px;
				}
			}
			tbody > tr > td {
				font-size: 14px;
				&:first-child {
					width: 240px;
					padding-left: 15px;
				}
			}
		}
	}
}