.dissat-btns {
  @media (max-width: 767px) {
    button {
      width: 100%;
    }
  }
}

.dissat-form-date {
  max-width: 155px;
  float: left;
  padding: 0 7px;

  &:last-of-type {
    margin-right: 15px;
  }

  @media(max-width: 767px) {
    width: 48%;
    padding: 0 15px;
    max-width: 100%;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.dissat-form-date-del {
  float: left;
  padding-top: 30px;

  @media(max-width: 767px) {
    padding-top: 5px;
    width: 4%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .table-dissat > thead > tr > th {
    &.cell-head-star-half-alt:before {
      content: "\f5c0";
    }

    &.cell-head-comment-alt-pro:before {
      content: "\f4a6";
    }

    &.cell-head-tag:before {
      content: "\f02b";
    }

    &.cell-head-tags:before {
      content: "\f02c";
    }
  }

  .table-responsive2 .table.table-dissat {
    & > thead > tr > th {

    }

    & > tbody > tr > td {
      white-space: normal;
    }

    & > tbody > tr {
      width: 86vw;
    }
  }
}

#modalStatus,
#modalHistory {
  .modal-content {
    border-radius: 10px;
  }

  textarea {
    resize: none;
  }
  button[type="submit"] {
    float: right;
  }

  @media (max-width: 767px) {
    .modal-content {
      border-radius: 0;
      margin: -11px;
    }

    .modal-header {
      border: none;
    }

    textarea {
      height: 60px;
    }
  }
}

a.btn {
  &[data-toggle="collapse"] {
    padding: 0;
    border: none;
    margin-left: 13px;

    .fa-chevron-circle-down,
    .fa-chevron-circle-up {
      color: #4082bc;
    }
  }

  &[aria-expanded="false"] {
    .fa-chevron-circle-down {
      display: block;
    }

    .fa-chevron-circle-up {
      display: none;
    }
  }

  &[aria-expanded="true"] {
    .fa-chevron-circle-down {
      display: none;
    }

    .fa-chevron-circle-up {
      display: block;
    }
  }
}

#collapseFine {
  .well {
    border: none;
    box-shadow: none;
    background-color: #fff;
    padding: 0;
  }
}