.dissat-btns {
  @media (max-width: 767px) {
    button {
      width: 100%;
    }
  }
}

.dissat-title {
  @media (max-width: 767px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.js-surcharge {
  .btn {
    padding: 6px 20px;
  }
}

.dissat-form-date {
  max-width: 155px;
  float: left;
  padding: 0 7px;

  &:first-of-type {
    margin-left: 8px;
  }

  &:last-of-type {
    margin-right: 8px;
  }

  @media(max-width: 767px) {
    width: 48%;
    padding: 0 15px;
    max-width: 100%;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.dissat-form-date-del {
  float: left;
  padding-top: 30px;

  @media(max-width: 767px) {
    padding-top: 5px;
    width: 4%;
    text-align: center;
  }
}

.table-dissat {
  .cell-head-position {
    padding-left: 0;
    //padding-right: 15px;

    .cell-head_name {
      &:first-child {
        padding-bottom: 8px;
      }
      &:last-child {
        font-weight: 400;
        padding-top: 8px;
        border-top: 2px solid #ddd;

        @media (max-width: 767px) {
          padding-top: 0;
          border-top: none
        }
      }
    }
  }

  .cell-responsive-height {
    padding: 0 8px 0 0;

    @media (min-width: 768px) {
      height: 1px !important;
    }

    @media (max-width: 767px) {
      padding: 0 !important;
      height: auto;
    }
  }

  .cell-assessment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;

    @media (max-width: 767px) {
      text-align: center;
      padding: 8px 15px;
    }
  }

  .cell-bold {
    font-weight: 700;
    line-height: 2;
  }

  .bg-success {
    background-color: #e1f6cc;
  }
  .bg-danger {
    background-color: #ffa9b1;
  }
  .btn {
    padding: 4px 9px;
  }
  &>tbody>tr>td {
    vertical-align: middle;
  }
}

@media (max-width: 767px) {
  .table-dissat > thead > tr > th {
    &.cell-head:before {
      margin-top: 0 !important;
      top: 50% !important;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &.cell-head-star-half-alt:before {
      content: "\f5c0";
    }

    &.cell-head-comment-alt-pro:before {
      content: "\f4a6";
    }

    &.cell-head-tag:before {
      content: "\f02b";
    }

    &.cell-head-tags:before {
      content: "\f02c";
    }
  }

  .table-responsive2 .table.table-dissat {
    & > thead > tr > th {

    }

    & > tbody > tr > td {
      white-space: normal;
    }

    & > tbody > tr {
      width: 86vw;
    }
  }
}

#modalStatus {
  .modal-dialog {
    width: 525px;

    @media (max-width: 767px) {
      width: auto;
    }
  }
}

#modalStatus,
#modalHistory {
  .modal-content {
    border-radius: 10px;
  }

  textarea {
    resize: none;
  }
  button[type="submit"] {
    float: right;
    padding: 6px 23px;
  }

  @media (max-width: 767px) {
    .modal-content {
      border-radius: 0;
      margin: -11px;
    }

    .modal-header {
      border: none;
    }

    textarea {
      height: 60px;
    }

    button[type="submit"] {
      width: 100%;
    }

    .table-dissat-modal {
      & >tbody>tr>td {
        font-size: 14px;

        .cell-bold {
          font-weight: 700;
          line-height: 1.25;
        }
      }
    }
  }
}

a.btn {
  &[data-toggle="collapse"] {
    padding: 0;
    border: none;
    margin-left: 13px;

    .fa-chevron-circle-down,
    .fa-chevron-circle-up {
      color: #4082bc;
    }
  }

  &[aria-expanded="false"] {
    .fa-chevron-circle-down {
      display: block;
    }

    .fa-chevron-circle-up {
      display: none;
    }
  }

  &[aria-expanded="true"] {
    .fa-chevron-circle-down {
      display: none;
    }

    .fa-chevron-circle-up {
      display: block;
    }
  }
}

#collapseFine {
  .well {
    border: none;
    box-shadow: none;
    background-color: #fff;
    padding: 0;
  }
}

.select2-container {
  .select2-search--inline {
    width: 100%;

    .select2-search__field {
      width: 100% !important;
    }
  }

  .select2-selection__choice + .select2-search--inline {
    width: auto;
  }
}