.doctype-form {
	width: 750px;
	
	.select2-container .select2-search--inline .select2-search__field {
		font-size: 14px;
		font-weight: normal;
	}
	
	.table-doctype {
		> thead > tr > th {
			font-weight: normal;
			border-bottom: 1px solid #ddd;
			&.cell-head-btns {
				width: 39px;
			}
		}
		> tbody > tr {
				&.added-row {
					//display: none;
				}
				> td {
				vertical-align: middle;
				.form-control {
					font-weight: normal;
				}
				.form-group-chbxs {
					margin-bottom: 0;
					display: flex;
					.checkbox {
						margin-bottom: 0;
	    				margin-top: 0px;
						& + .checkbox {
	    					margin-left: 15px;
						}
						label {
							line-height: 22px;
						}
					}
				}
			}
		}
	}
	
	.form-btns {
		text-align: right;
		.btn:not(:first-child) {
			margin-left: 15px;
		}
	}
	
	@media (max-width: 767px) {
		width: 100%;
		.form-group-chbxs .checkbox {
        	margin-top: 0;
        }
		.table-responsive {
			margin-bottom: 20px;
		}
        .table-doctype {
            width: 100%;
            min-width: 100%;
            > tbody > tr {
            	padding-top: 5px;
            	padding-bottom: 12px;
                > td {
                    padding: 10px 0 0 0;
                	&:before {
                		position: static;
                		font-weight: normal;
                	}
                    &.cell-info {
                        > span {
                            padding: 4px 0;
                            display: inline-block;
                            width: 100%;
                        }
                    }
                    &.cell-btn {
                        margin-top: -35px;
                        text-align: right;
                        .btn {
	                        position: relative;
	                        z-index: 1;
	                    }
                    }
                    .form-control {
                    	margin-top: 5px;
                    }
                    .form-group-chbxs {
                    	margin-top: 10px;
                    }
                }
            }
        }
        
       	.form-btns {
			display: flex;
			.btn {
				width: 100%;
			}
			.btn:not(:first-child) {
				margin-left: 30px;
			}
		}
	}
}