.drivers-table {
	padding-top: 15px;
	max-width: 540px;
	
	thead tr th {
		line-height: 1.2;	
	}
		
	td, th {
		vertical-align: middle;
	}
	
	td {
		font-size: 13px;		
		
		@media(min-width: 768px) {
			&:nth-child(1) {
				width: 1%;
			}
			
			&:nth-child(2) {
				width: 35%;
			}
		}
	}
	
	&--min {
		max-width: 770px;
		td {
			@media(min-width: 768px) {
				&:nth-child(2) {
					width: 22%;
				}
			}
		}
	}
	
	tfoot th {
		border-top-width: 2px !important;
	}
	
	@media(max-width: 767px) {
		max-width: 100%;
		
		td, th {
			width: 33.333333%;	
			padding: 5px !important;		
		}
		
		td {
			font-size: 14px;
		}
		
		td[colspan="3"] {
			padding-bottom: 3px !important;
			padding-top: 8px !important;	
		}
		
		td.text-center, th {
			text-align: center !important;	
		}
		
		tfoot th {
			font-size: 14px;	
		}
		
		&--min {
			td, th {
				width: auto;
				padding: 5px 1px !important;
			}
			
			td[colspan="4"] {
				padding-bottom: 3px !important;
				padding-top: 8px !important;
			}					
			
			thead th {				
				white-space: nowrap;
			}
			
			td:nth-child(3), td:nth-child(4), tfoot th:nth-child(3), tfoot th:nth-child(4) {
				width: 18%;	
			}
		}
	}
}

.drivers-form-date {
	max-width: 155px;
	float: left;
	padding: 0 7px;	
	
	&:last-of-type {
		margin-right: 15px;
	}
	
	@media(max-width: 992px) {		
		padding: 0 15px;
		
		&:first-of-type {
			clear: both;
		}
	}
	
	@media(max-width: 767px) {
		width: 48%;
		max-width: 100%;
		&:last-of-type {
			margin-right: 0;
		}
	}	
}

.drivers-form-date-del {
	float: left;
	padding-top: 30px;
	
	@media(max-width: 767px) {
		padding-top: 5px;
		width: 4%;
		text-align: center;
	}
}