.drivers-table {
	padding-top: 15px;
	
	td, th {
		vertical-align: middle;
	}
	
	td {
		font-size: 13px;		
		
		@media(min-width: 768px) {
			&:nth-child(1) {
				width: 1%;
			}
			
			&:nth-child(2) {
				width: 35%;
			}
		}
	}
	
	&--min {
		td {
			@media(min-width: 768px) {
				&:nth-child(2) {
					width: 22%;
				}
			}
		}
	}
	
	tfoot th {
		border-top-width: 2px !important;
	}
	
	@media(max-width: 767px) {
		td, th {
			width: 33.333333%;	
			padding: 5px !important;		
		}
		
		td {
			font-size: 14px;
		}
		
		td[colspan="3"] {
			padding-bottom: 3px !important;
			padding-top: 8px !important;	
		}
		
		td.text-center, th {
			text-align: center !important;	
		}
		
		tfoot th {
			font-size: 14px;	
		}
		
		&--min {
			td[colspan="4"] {
				padding-bottom: 3px !important;
				padding-top: 8px !important;
			}
			
			td, th {
				width: auto;
			}
			
			td:nth-child(3), td:nth-child(4), tfoot th:nth-child(3), tfoot th:nth-child(4) {
				width: 15%;	
			}
		}
	}
}