.editbonuses-header {
	margin-top: 14px;
	@media(max-width: 767px) {
		margin-top: 0;
	}
	.btn {
		float: right;
		width: 155px;
		@media(max-width: 767px) {
			float: none;
			width: 100%;
		}
	}
	h1 {
  	margin-top: 7px;
  	@media(max-width: 767px) {
  		margin-top: 20px;
  		font-size: 20px;
  		margin-bottom: 20px;
  	}
	}
}

.editbonuses-completed-form {
	@media(min-width: 768px) and (max-width: 991px) {
		margin-top: 10px; 
	}
	label {
		display: inline-block;
		vertical-align: middle;
		margin-right: 16px;
		color: #010101;
	}
	.bonusesAmount {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		width: 71px;
		margin-right: 29px;
		@media(max-width: 767px) {
			width: ~"calc(100% - 76px)";
			margin-right: 0;
		}
	}
	.btn {
		display: inline-block;
		vertical-align: middle;
		width: 130px;
		@media(max-width: 767px) {
			display: block;
			width: 100%;
			margin-top: 18px;
		}
	}
}

.column-editbonuses {
	@media(max-width: 767px) {
		padding: 0;
	}
	.table-editbonuses {
		margin-bottom: 20px;
		& > tbody > tr {
			& > td {
				vertical-align: middle;
				@media(max-width: 767px) {
					padding-left: 0;
					padding-right: 0;
				}
				.hide-placeholder {
					@media(min-width: 768px) {
						&::-webkit-input-placeholder { /* WebKit browsers */
			        color: transparent;
				    }
				    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
							color: transparent;
				    }
				    &::-moz-placeholder { /* Mozilla Firefox 19+ */
							color: transparent;
				    }
				    &:-ms-input-placeholder { /* Internet Explorer 10+ */
							color: transparent;
				    }
				  }
				}
				.input-small {
			  	width: 71px;
			  	text-align: center;
			  	@media(max-width: 767px) {
						text-align: left;
			  	}
			  }
			  .btn-add-line {
			  	display: none;
			  }
				&:last-child {
					@media(max-width: 767px) {
						.btn {
							width: 35px;
							height: 35px;
						}
					}
				}
			}
			&:last-child {
				& > td {
					@media(max-width: 767px) {
						.btn-add-line {
			  	    display: inline-block;
			  	    margin-left: 7px;
					  }
					}
				}
			}
		}
		& > thead {
			@media(max-width: 767px) {
				display: none;
			}
		}
		.alight-right {
			text-align: right;
		}
		&.table-editbonuses-one {
			& > thead th:first-child {
				width: 160px;
				@media(max-width: 767px) {
					width: auto;
				}
			}
			& > tbody td {
				.input-small {
			  	@media(max-width: 767px) {
						width: 91px;
					}
			  }
				&:first-child {
					@media(max-width: 767px) {
						width: 120px;
						padding-left: 15px;
					}
				}
				&:last-child {
					@media(max-width: 767px) {
						padding-right: 15px;
					}
				}
			}
		}
		&.table-editbonuses-two {
			& > thead th:first-child {
				width: 355px;
				@media(max-width: 767px) {
					width: auto;
				}
			}
			@media(max-width: 767px) {
				tr {
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					td {
						&:nth-child(1) {
							flex-basis: 100%;
							padding-left: 15px;
							padding-right: 15px;
							padding-top: 5px;
							padding-bottom: 5px;
						}
						&:nth-child(2), &:nth-child(3) {
							flex-basis: 50%;
							border-top: 0;
							padding-top: 0;
							padding-bottom: 5px;
						}
						&:nth-child(2) {
							padding-left: 15px;
						}
						&:nth-child(3) {
							padding-right: 15px;
						}
 					}
 					.input-small {
				  	width: 136px;
				  }
				}
			}
		}
		&.table-editbonuses-three {
			& > tbody > tr {
				& > td {
					vertical-align: top;
					&:nth-child(1) {
						position: relative;
						padding-left: 40px;
					}
					.btn-addons-toggle {
						position: absolute;
				    top: 7px;
						left: 0;
						i {
							font-size: 12px;
						}
						@media(max-width: 767px) {
							top: 4px;
							left: 4px;
						}
					}
				}
			}
			& > thead th {
				&:first-child {
					width: 355px;
				}
				&:nth-child(2) {
					width: 110px;
				}
				&:nth-child(3) {
					width: 90px;
				}
				&:nth-child(1), &:nth-child(2), &:nth-child(3) {
					@media(max-width: 767px) {
						width: auto;
					}
				}
			}
			@media(max-width: 767px) {
				& > tbody > tr {
					display: flex;
					flex-wrap: wrap;
					flex-direction: column;
					> td {
						padding: 5px 15px 5px 45px;
						&:nth-child(1) {
							padding-left: 45px;
						}
						&:nth-child(2), &:nth-child(3) {
							border-top: 0;
						}
						&:nth-child(2) {
							padding: 0;
						}
						&:nth-child(3) {
							padding-top: 0;
							text-align: left;
						}
 					}
 					.input-small {
				  	width: 136px;
				  }
				}
			}
			.form-group-btns {
				.btn {
			    padding: 6px 4px;
				}
				.btn-cancel {
			    color: #ff0000;
				}
				.btn-add {
			    color: #38a138;
				}
			}
			.table-addons {
				&:not(.active) {
					display: none;
				}
				tr {
					.btn-add {
						display: none;
					}
					&:last-child {
						.btn-add {
							display: inline-block;
						}
					}
					td {
						&:nth-child(1) {
							width: 110px;
							select {
								width: 96px;
							}
						}
						&:nth-child(2) {
							width: 90px;
						}
					}
					&:not(:first-child) {
						td {
							padding-top: 4px;
						}
					}
				}
				@media(max-width: 767px) {
					margin: 0 15px 5px 45px;
					tr {
						td {
							&:nth-child(1) {
								width: 90px;
								select {
									width: 81px;
								}
							}
							&:nth-child(2) {
								width: 88px;
								input {
									width: 81px;
								}
							}
							&.form-group-btns {
								.btn {
							    padding: 6px 13px;
								}
							}
						}
					}
				}
			}
			.height-one-line {
				padding-top: 14px;
			}
			.btn-neutral {
				border: 0;
				background-color: transparent;
				margin: 0;
				-webkit-appearance: none;
			}
		}
	}
	.submit-block {
		text-align: right;
		@media(max-width: 767px) {
			text-align: center;
			padding: 0 15px;
		}
		[type="submit"] {
			width: 130px;
			@media(max-width: 767px) {
				width: 100%;
			}
		}
	}
}