.table-add-params-emplrating {
    .cell-size {
        width: 120px;
    }
    
    .form-control::-moz-placeholder {
        color: #fff;
        font-weight: 400;
    }
    .form-control:-ms-input-placeholder {
        color: #fff;
        font-weight: 400;
    }
    .form-control::-webkit-input-placeholder {
        color: #fff;
        font-weight: 400;
    }    
}

@media (max-width: 767px) {
    .table-responsive-emplrating {
        position: relative;
        margin-left: -30px;
        margin-right: -30px;

        .table-add-params-emplrating {
            > thead {
                display: block;
                > tr {
                    > th {
                        display: none;
                        
                        &.cell-btns {
                            display: block;
                            border: 0;
                            padding: 0;
                            width: auto;
                            position: absolute;
                            bottom: 23px !important;
                            right: 30px !important;

                            .btn {
                                height: 34px;
                                width: 34px;
                            }
                        }
                    }
                }
            }

            > tbody {
                > tr {
                    padding-top: 3px;
                    padding-bottom: 3px;
                    position: relative;

                    > td {
                        padding: 3px 15px;
                        
                        &.cell-btns {
                            position: absolute;
                            bottom: 6px;
                            right: 15px;
                            width: auto;
                            padding: 0;
                            
                            .btn {
                                height: 34px;
                                width: 34px;
                            }
                        }
                    }
                    
                    &:last-child {
                        > td {
                            &.cell-btns {
                                right: 60px;
                            }
                        }
                    }
                    
                    &:only-of-type {
                        > td {
                            &.cell-btns {
                                right: 15px;
                            }
                        }
                    }
                }
            }
            
            .cell-size {
                width: 150px;
            }

            .form-control::-moz-placeholder {
                color: #555;
            }
            .form-control:-ms-input-placeholder {
                color: #555;
            }
            .form-control::-webkit-input-placeholder {
                color: #555;
            }
        }
    }
}