.form-empledit {
    max-width: 715px;
    
    .form-group-check {
        margin-top: 20px;
    }
    
    .form-group-deposit {
        .form-control {
            width: 130px;
            text-align: center;
        }
    }
    
    .form-btns {
        .btn {
            margin-left: 20px;
        }
    }
    
    select:invalid {
        color: red;
    }
}

.table-responsive-empledit {
    .table-add-params {
        margin-bottom: 0;

        .cell-category {
            width: 90px;
        }
        
        .cell-specialty {
            width: 35%;
        }
        
        .form-control {
            font-weight: 400;
        }
    }
}

@media (max-width: 991px) {
    .form-empledit {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .form-empledit {
        .form-group-check {
            margin-top: 0;
        }
        
        .form-group-deposit { 
            .form-control {
                width: 100%;
                text-align: left;
            }
        }
        
        .form-btns {
            margin-top: 20px;
            .flex();
            
            .btn {
                width: 50%;
                
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    
    .table-responsive-empledit {
        > div {
            padding-left: 0px;
            padding-right: 0px;
        }
        
        .table-responsive {
            margin-bottom: 0;
        }

        .table-add-params {
            > thead {
                display: block;
                
                
                > tr {
                    .flex();
                    justify-content: space-between;
                    width: 100%;
                    border-bottom: 2px solid #ddd;
                    
                    > th {
                        display: block;
                        border-bottom: 0;
                    }
                    
                    .cell-head {
                        padding-left: 15px;
                    }
                    
                    .cell-btns {
                        width: auto;
                        padding-right: 15px;
                    }
                }
            }
            
            > tbody {
                > tr {
                    position: relative;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    > td {
                        padding: 5px 54px 5px 15px;
                    }
                }
                
                .cell-category {
                    width: 100%;
                }
                
                .cell-specialty {
                    width: 100%;
                }
                
                .cell-btns {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    padding: 0;
                    width: auto;
                }
            }

        }
    }
}