.table-add-params-emplrating {
    .cell-size {
        width: 120px;
    }
    
    .form-control::-moz-placeholder {
        color: #fff;
        font-weight: 400;
    }
    .form-control:-ms-input-placeholder {
        color: #fff;
        font-weight: 400;
    }
    .form-control::-webkit-input-placeholder {
        color: #fff;
        font-weight: 400;
    }    
}

.form-emplrating {
    .form-group-period {
        min-width: 140px;
    }
    
    .form-group-index {
        float: left;
        margin-right: 15px;
        margin-left: 15px;

        .form-control {
            width: 100px;
            text-align: center;
        }
    }
    
    .form-group-btns {
        float: left;
        margin-top: 25px;
        white-space: nowrap;
        margin-left: 7px;
        margin-right: 15px;
        
        .btn {
            background-color: transparent;
            padding-left: 8px;
            padding-right: 8px;
        }
        
        .btn-add {
            color: #38a138;
        }
        
        .btn-cancel {
            color: #ff0000;
        }
    }
    
    .form-btns-multi {
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .form-emplrating {
        .col-w-calc {
            width: -webkit-calc(~'50% - 70px');
            width: -moz-calc(~'50% - 70px');
            width: calc(~'50% - 70px');            
        }
    }
}

@media (max-width: 767px) {
    .table-responsive-emplrating {
        position: relative;

        > div {
            padding-left: 0;
            padding-right: 0;
        }

        .table-add-params-emplrating {
            > thead {
                display: block;

                > tr {
                    > th {
                        display: none;
                        
                        &.cell-btns {
                            display: block;
                            border: 0;
                            padding: 0;
                            width: auto;
                            position: absolute;
                            bottom: 8px !important;
                            right: 15px !important;
                            z-index: 10;

                            .btn {
                                height: 34px;
                                width: 34px;
                            }
                        }
                    }
                }
            }

            > tbody {
                > tr {
                    padding-top: 3px;
                    padding-bottom: 3px;
                    position: relative;

                    > td {
                        padding: 3px 15px;
                        
                        &.cell-btns {
                            position: absolute;
                            bottom: 6px;
                            right: 15px;
                            width: auto;
                            padding: 0;
                            z-index: 11;
                            
                            .btn {
                                height: 34px;
                                width: 34px;
                            }
                        }
                    }
                    
                    &:last-child {
                        > td {
                            &.cell-btns {
                                right: 60px;
                            }
                        }
                    }
                    
                    &:only-of-type {
                        > td {
                            &.cell-btns {
                                display: none;
                                //right: 15px;
                            }
                        }
                    }
                }
            }
            
            .cell-size {
                width: 150px;
            }

            .form-control::-moz-placeholder {
                color: #555;
            }
            .form-control:-ms-input-placeholder {
                color: #555;
            }
            .form-control::-webkit-input-placeholder {
                color: #555;
            }
        }
    }
    
    .form-emplrating {        
        .form-group-criterion {
            float: left;
            padding-right: 0;
            
            .btn-group {
                .btn:last-child {
                  border-bottom-right-radius: 0;
                     border-top-right-radius: 0;                    
                }
            }
        }
        
        .form-group-index {
            float: left;
            padding-left: 0;
            margin-left: -1px;
            
            .form-control {
                border-bottom-left-radius: 0;
                   border-top-left-radius: 0;
            }
        }
        
        .form-group-btns {
            margin-top: 0;
            margin-left: 3px;
            margin-right: 0;
            
            .btn {
                padding-left: 12px;
                padding-right: 12px;
                margin-right: 5px;
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .form-emplrating {
        .form-group-btns {
            .btn {
                padding-left: 8px;
                padding-right: 8px;
                margin-right: 0px;
            }
        }        
    }
}