.events-container {

  .datetimeperiod-group {
    display: flex;
    vertical-align: middle;
    &.timepicker {
      padding: 0px;
    }
    &.datetimepicker {
      padding: 0px;
      .datepicker {
        width: 47%;
      }
    }
    label {
      flex: auto;
      text-align: center;
      width: 20px;
      margin: 6px 0px 0 0px;
    }
  }

  .new-event-panel {
    margin-right: 50px;
    margin-bottom: 10px;
    @media (max-width: 768px) {
      margin-right: 150px;
    }
    @media (max-width: 480px) {
      margin-right: 0px;
    }
  }

  .participant-panel {

      h3 {
        margin: 0 0 20px 0;
        font-size: 14px;
      }

      .checkbox-nice {
        margin-bottom: 20px;
      }

      .participant-list {
        .participant-row {
          display: flex;
          margin-bottom: 20px;
          .participant-item {
            flex: auto;
            &.participant-item__position {
              width: 52%;
              margin-right: 10px;
            }
            &.participant-item__rank {
              width: 30%;
            }
            &.participant-item__btn {
              width: 18%;
              padding-top: 5px;
              padding-left: 16px;
              .abtn {
                display: inline-block;
                width: 25px;
                height: 20px;
                text-align: center;
                cursor: pointer;
                &.abtn-delete {
                  color: #ff0000;
                }
                &.abtn-add {
                  color: #38a138;
                }
              }

            }
          }

        }
      }

      .participant-panel-button {
        margin-top: 20px;
        text-align: right;
        @media (max-width: 480px) {
          .btn {
            width: 100%;
            display: block;
            margin-bottom: 15px;
          }
        }
      }
  }

  .table-events-filter {
    margin-bottom: 15px;
    .btn-apply-filter {
      position: absolute;
      bottom: 0;
      right: 10px;
      @media (min-width: 992px) {
        right: 0;
      }
    }
  }

  .table-events-container {
    margin-right: 23%;
    @media (min-width: 768px) and (max-width: 991px) {
      margin-right: 0;
    }
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }

  .table-responsive-wrapper-events {
    .table-events {

    }
  }

  .event-details-link {
    font-weight: bold;
    cursor: pointer;
  }
}

.popup-event-details {
  width: 500px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  display: none;
  z-index: 9999;

  @media (max-width: 767px) {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
  }

  .popup-header {
    border-bottom: none;
    padding: 10px 15px 30px 15px;

    button {
      i {
        font-weight: bold;
        font-size: 15px;
        color: #6f6f6f;
      }
    }
  }

  .popup-body {
    padding: 0px 30px 20px 30px;
    @media (max-width: 767px) {
      padding: 0px 15px 15px 15px;
    }
  }

  .participant-details-list {
    padding: 10px 0 0 0;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;

    .participant-details-item {
      margin: 0 0 10px 0;

      &:not(:last-child) {
        border-bottom: 1px solid #e5e5e5;
      }

      h2 {
        font-size: 14px;
        color: #aaa;
        margin: 0 10px 10px 10px;
      }

      ul {
        list-style: none;
        padding: 0 0 0 0;
        margin: 0 0 10px 0;

        li {
          display: flex;
          margin: 0 20px 5px 20px;

          span {
            &.name {
              width: 90%;
            }

            &.amount {
              width: 10%;
            }
          }
        }
      }

    }

  }

}

@media (max-width: 767px) {
   .table-responsive-wrapper-events {
    .table-responsive2 {
      .table-events {
        > thead {
          > tr {
            > th {
              &.cell-head-calendar {
                &:before {
                  margin-top: 10px;
                  content: "\f073";
                }
              }

              &.cell-head-eventtype {
                &:before {
                  content: "\f0ea";
                }
              }

              &.cell-head-participants {
                &:before {
                  content: "\f47f";
                }
              }

              &.cell-head-comment {
                &:before {
                  margin-top: 11px;
                  content: "\f075";
                }
              }

            }
          }
        }

        > tbody {
          > tr {

            &:nth-child(even) {
              background-color: #eee;
            }

            > td {
              min-height: 37px;
            }

            &:first-child {
              > td {
                padding-left: 30px;
              }
            }
          }
        }
      }
    }
  }
}