.events-container {

  .datetimeperiod-group {
    display: flex;
    vertical-align: middle;
    &.timepicker {
      padding: 0px;
    }
    &.datetimepicker {
      padding: 0px;
      .datepicker {
        width: 47%;
      }
    }
    label {
      flex: auto;
      text-align: center;
      width: 16px;
      margin: 6px 0px 0 0px;
      &.label-w2 {
        width: 24px;
      }
    }
    .datepicker {
      input {
        padding-left: 9px;
        padding-right: 9px;
      }
    }
  }

  .new-event-panel {
    margin-right: 50px;
    margin-bottom: 10px;
    @media (max-width: 768px) {
      margin-right: 150px;
    }
    @media (max-width: 480px) {
      margin-right: 0px;
    }
  }

  .participant-panel {

      h3 {
        margin: 0 0 20px 0;
        font-size: 14px;
      }

      .checkbox-nice {
        margin-bottom: 20px;
      }

      .participant-list {
        .participant-row {
          display: flex;
          margin-bottom: 20px;
          .participant-item {
            flex: auto;
            &.participant-item__position {
              width: 52%;
              margin-right: 10px;
            }
            &.participant-item__rank {
              width: 30%;
            }
            &.participant-item__btn {
              width: 18%;
              padding-top: 5px;
              padding-left: 15px;
              .abtn {
                display: inline-block;
                width: 24px;
                height: 20px;
                text-align: center;
                cursor: pointer;
                &.abtn-delete {
                  color: #ff0000;
                }
                &.abtn-add {
                  color: #38a138;
                }
              }

            }
          }

        }
      }

      .participant-panel-button {
        margin-top: 20px;
        text-align: right;
        @media (max-width: 480px) {
          .btn {
            width: 100%;
            display: block;
            margin-bottom: 15px;
          }
        }
      }
  }

  .table-events-filter {
    margin-bottom: 15px;
    .btn-apply-filter {
      position: absolute;
      bottom: 0;
      right: 10px;
      @media (min-width: 992px) {
        right: 0;
      }
    }
    .row {
      margin-right: -10px;
      margin-left: -10px;
      .col-filter {
        padding-right: 10px !important;
        padding-left: 10px !important;
      }
    }
  }

  .table-events-container {
    margin-right: 16%;
    @media (min-width: 768px) and (max-width: 991px) {
      margin-right: 0;
    }
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }

  .table-responsive-wrapper-events {
    .table-events {
      .event-details-link {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

}

.popover-event-details {
  width: 390px;
  max-width: none;
  .box-shadow(10px);
  overflow-y: auto;
  max-height: 100%;

  .popover-header {
    padding: 15px 30px 0 30px;
    .clearfix();

    button {
      display: none;
      @media (min-width: 768px) and (max-width: 991px) {
        display: inline-block;
        margin-right: -18px;
        margin-top: -7px;
      }
      @media (max-width: 767px) {
        display: inline-block;
      }
    }
  }

  .popover-content {
    padding: 5px 30px 15px 30px;
    max-height: 320px;
  }

  @media (max-width: 767px) {
    & {
      position: fixed;
      top: 0 !important;
      left: 0 !important;
      width: 100%;
      height: 100%;
      max-height: initial;
      margin-top: 0 !important;
      border: 0;
      .box-shadow(none);
      .border-radius(0px);

      .popover-header {
        padding: 15px 15px 0 15px;
      }

      .popover-content {
        padding: 10px 15px 15px 15px;
        max-height: initial;
      }
    }
  }
}

.participant-details-list {
  padding: 10px 0 0 0;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;

  .participant-details-item {
    margin: 0 0 10px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #e5e5e5;
    }

    h2 {
      font-size: 12px;
      color: #aaa;
      margin: 0 10px 8px 10px;
      @media (max-width: 767px) {
        font-size: 14px;
        margin-left: 0;
      }
    }

    ul {
      list-style: none;
      padding: 0 0 0 0;
      margin: 0 0 8px 0;

      li {
        display: flex;
        margin: 0 20px 4px 20px;
        font-weight: bold;
        color: #333;
        @media (max-width: 767px) {
          margin-left: 10px;
        }

        span {
          font-size: 12px;
          @media (max-width: 767px) {
            font-size: 14px;
          }
          &.name {
            width: 90%;
          }

          &.amount {
            width: 10%;
          }
        }
      }
    }

  }

}

.table-responsive-wrapper-events {
  .table-responsive2 {
    .table-events {

      > tbody {
        > tr {
          > td {

            &.cell-comment {
              text-align: center;
              a {
                color: #333333;
                a:hover {
                  color: #333333;
                }
              }
            }

          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
   .table-responsive-wrapper-events {
    .table-responsive2 {
      .table-events {
        > thead {
          > tr {
            > th {
              &.cell-head-tag {
                &:before {
                  content: "\f02b";
                }
              }
              &.cell-head-calendar {
                &:before {
                  margin-top: 10px;
                  content: "\f073";
                }
              }

              &.cell-head-eventtype {
                &:before {
                  content: "\f0ea";
                }
              }
              &.cell-head-clipboard-check {
                &:before {
                  content: "\f46c";
                }
              }
              &.cell-head-participants {
                &:before {
                  content: "\f47f";
                }
              }
              &.cell-head-users {
                &:before {
                  content: "\f0c0";
                }
              }
              &.cell-head-delivery {
                &:before {
                  content: "\f1ba";
                }
              }
              &.cell-head-food {
                &:before {
                  content: "\f2e7";
                }
              }
              &.cell-head-comment {
                &:before {
                  margin-top: 11px;
                  content: "\f075";
                }
              }

            }
          }
        }

        > tbody {
          > tr {

            &:nth-child(even) {
              background-color: #eee;
            }

            > td {
              min-height: 37px;
              font-size: 14px;
              &.cell-comment {
                text-align: left;
              }
              &.cell-btns-right {
                  height: 47px;
              }
            }

            &:first-child {
              > td {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  }
}