.finestat-groups {
	padding: 0 15px;
	margin-bottom: 15px;
	float: left;
	
	.btn .txt-mobile {
		display: none;
	}
	
	&--input {
		width: 40%;
	}
	
	@media(max-width: 992px) {
		&--input {
			width: auto;
		}
	}
	
	@media(max-width: 767px) {
		float: none;
		width: 100%;
		
		.btn .txt-desktop {
			display: none;	
		}
		
		.btn .txt-mobile {
			display: inline-block;
		}
	}
}

.finestat-btn-group {
	
	&--margintop {
		margin-top: 25px;
	}	
	
	.btn {
		color: #000;
		padding: 6px 16px;
	}
	.btn.active-red {
		background-color: #ffa9b1;
		box-shadow: none;
	}
	.btn.active {
		color: #555555;
		box-shadow: none;
	}
	
	@media(max-width: 767px) {
		display: table;
	    width: 100%;
	    table-layout: fixed;
	    border-collapse: separate;
	    
	    .btn {
	    	display: table-cell;
		    float: none;
		    width: 1%;	
	    }
	}
}

.finestat-form-date {
	max-width: 140px;
	float: left;
	padding: 0 15px;
	@media(max-width: 767px) {
		width: 48%;
		max-width: 100%;
	}
}

.finestat-form-date-del {
	float: left;
	padding-top: 30px;
	
	@media(max-width: 767px) {
		padding-top: 5px;
		width: 4%;
		text-align: center;
	}
}

.finestat-btn-block {	
	@media(max-width: 767px) {
		display: block;
		width: 100%;
	}
}

.finestat-table {
	padding-top: 25px;
	font-size: 12px;
	
	&--reason {
		td {
			&:first-child {
				width: 1%;
			}
		}
	}
	
	&--people {
		.txt-mobile {
			display: none;	
		}	
	}
	
	td, th {
		&:last-child {
			background-color: #ededed; 
		}
	}
	
	tfoot {
		th, td {
			border-top: 2px solid #ddd !important;
		}	
	}
	
	&--child-tr {		
		display: none;
	}
	
	&--parent-tr {		
		td {
			font-weight: bold;					
		}
	}
	
	.finestat-tr-link {
		color: #333;
		font-size: 14px;
	}
	
	@media(max-width: 767px) {
		th, td {
			&:last-child {
				background-color: #fff; 
			}	
		}
	}
}

.finestat-table--desktop {
	@media(max-width: 767px) {
		display: none;
	}
}

.finestat-table--mobile {
	display: none;
	@media(max-width: 767px) {
		display: block;
		
		td.text-center, th.text-center {
			text-align: right;
		}
	}
}

.finestat-table-responsive {
	@media(max-width: 767px) {
		margin:  -15px;
		
		&.finestat-table--people {
			table {
				overflow-x: scroll;
				display: flex;
			}			
			
			thead, tbody, tfoot {
				float: left;
				display: flex;
			}
			
			thead tr {
				width: 50px;				
				
				th {
					text-align: center !important;
					border-bottom: 0;
					font-size: 16px;
					border-top: 1px solid #ddd !important;
					color: #333;
					padding: 6px 8px;
					box-shadow: 3px 0px 7px 0px rgba(220, 220, 220, 1);
					position: relative;
					
					&:last-child {
						border-bottom: 0;
					}
					
					&:first-child {
						border-top: 0 !important;
					}
					
					.txt-desktop {
						display: none;
					}
					
					.txt-mobile {
						display: block;
					}
				}
			}
			
			tfoot tr th {
				border-top: 1px solid #ddd !important;
				
				&:first-child {
					border-top: 0 !important;
				}
			}
			
			tr {
				display: block;
				width: 200px;
				float: left;
				
				th, td {
					display: block;
					width: 100%;
					color: #000;
					background-color: #fff;
					height: 34px;
					overflow: hidden;
					padding: 8px 12px;
					
					&.text-center {
						text-align: left;
					}
				}
				
				td:first-child {
					border-top: 0;	
				}
			}
		}
	}	
}