.form-instructions-adm {
    .form-group-datepicker {
        .row {
            position: relative;
            max-width: 340px; // 170*2
        }
        
        .input-group-dash {
            font-size: 0;
            line-height: 0;
            display: block;
            height: 1px;
            width: 10px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -5px;
        }
    }
    
    .form-btns {
        .btn-link {
            .fa {
                margin-left: 5px;
            }
        }
    }    
}

.table-instructions-adm {
    .row-btns {
        .btn {
            margin-right: 10px;
            float: left;
            
            &:last-child {
                margin-right: 0;
            }
        }
        
        .social-panel {
            float: right;
            
            .info {
                margin-top: 6px;
                float: left;
            }
            
            .panel-action-feedback {
                margin-left: 15px;
                float: left;
                
                .btn {
                    margin-right: 0;
                }
            }            
        }
    }
    
    > tbody > tr.row-full-info {
        > td {
            border-bottom: 0;
        }
    }
}

@media (min-width: 992px) and (max-width: 1260px) {
    .form-instructions-adm {
        .col-md-3 {
            width: 16.66666667%;
        }
        
        .form-group-datepicker {
            width: 41.66666667%;
        }        
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .form-instructions-adm {
        .form-group-datepicker {            
            .row {
                max-width: 320px;
            } 
            
            .form-control {
                padding-right: 0;
            }            
        }         
    }   
}

@media (max-width: 991px) {
    .table-instructions-adm {
        > thead {
            > tr {
                > th {
                    width: 25% !important;
                }
            }
        }

        > tbody {
            > tr {
                &.row-btns {
                    > td {
                        padding-top: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .form-instructions-adm {
        margin-top: 15px;

        .form-btns {
            .btn-link {
                float: left;
                padding-left: 0px;
            }
        }
    }
    
    .table-responsive {
        .table-instructions-adm {
            > tbody > tr {
                &.row-full-info {
                    border-bottom: 0;
                    padding-bottom: 5px;
                }
                
                &.row-btns {
                    > td {
                        padding-left: 0;
                        
                        .btn,
                        .social-panel {
                            float: none;
                        }
                        
                        .social-panel {
                            margin-top: 10px;
                            .clearfix();
                            
                            .panel-action-feedback {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .form-instructions-adm {
        .form-group-datepicker {
            .form-control {
                padding-right: 0;
            }
        }
    }
}