.panel-instr-info-adm {
    font-size: 12px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
    padding-top: 5px;

    .info {
        > ul {
            .clearfix();
            margin: 0;

            > li {
                margin-right: 35px;
                float: left;

                & > span {
                    display: block;
                }
                
                & > strong {
                    margin-bottom: 5px;
                    display: block;
                }
                
                .date {
                    margin-left: 5px;
                }
            }
        }
    }
    
    .social {
        margin-top: 6px;
        text-align: right;
        white-space: nowrap;
        
        .panel-action-feedback {
            display: inline-block;
            margin-left: 25px;
        }
    }
}

.modal-dialog-instr {
    width: 655px;
    
    .modal-body {
        padding-top: 0;
    }
    
    .btn-group-radio {
        margin-top: -5px;
        margin-bottom: 25px;
    }
    
    .list-employees {
        margin-bottom: 0;

        > li {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 1199px) {
    .panel-instr-info-adm {
        .info,
        .social {
            width: 100%;
        }
        
        .social {
            text-align: left;
            margin-top: 20px;
            
            > .btn-link {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 991px) {
    .panel-instr-info-adm {
        .info {
            > ul {
                > li {
                    .date {
                        display: block;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .panel-instr-info-adm {
        .info {
            > ul {
                > li {
                    float: none;
                    margin-right: 0;
                    .clearfix();
                    margin-bottom: 10px;
                    
                    > strong {
                        float: left;
                        width: 115px;
                        margin-right: 0;
                    }
                    
                    > span {
                        margin-left: 115px;
                        display: block;
                    }
                }
            }
        }
        
        .social {
            margin-top: 0;
            
            .btn-link {
                float: left;
            }
            
            .panel-action-feedback {
                float: right;
            } 
        }
    }    
}