.form-instr-new {
    max-width: 770px;
    
    .lead {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 25px;
    }
    
    .form-group-checks {
        margin-top: 25px;

        .checkbox-inline {
            margin-right: 35px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    .form-btns {
        text-align: right;

        .btn {
            float: none;
            margin-left: 20px;
            
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .form-instr-new {
        .form-control-inp-text {
            white-space: nowrap;
            height: 34px;
            resize: none;
            overflow: hidden;
        }
    }
}

@media (max-width: 991px) {
    .form-instr-new {        
        .form-group-checks {
            .checkbox-inline {
                display: block;
                margin-left: 0;
                margin-bottom: 15px;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .form-instr-new {
        .form-control-inp-text {
            height: 60px;
        }

        .form-btns {
            margin-top: 20px;
            text-align: center;
            white-space: nowrap;
            
            .btn {
                width: -webkit-calc(~'50% - 15px');
                width: -moz-calc(~'50% - 15px');
                width: calc(~'50% - 15px');
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}