.mail-manage {
    .input-groups-periods {
        margin-top: 0;
    }

    .no-label {
        margin-top: 25px;
    }

    .showed-text {
        margin-top: 25px;
    }

    .mailman-links {
        margin-top: 2px;

        &__link {
            margin-right: 10px;
            display: inline-block;

            i {
                margin-right: 3px;
            }
        }
    }

    .mailman-stat {
        margin-top: 8px;
        margin-bottom: 3px;

        &__el {
            margin-right: 18px;

            i {
                font-size: 13px;
                margin-right: 4px;
            }
        }
    }

    .mailman-date {
        margin-bottom: 3px;
    }

    .short-text-block {
        color: #000;

        i {
            font-style: normal;
            &:not(:last-child):after {
                content: ", ";
                position: relative;
            }
        }

        .shortcontent {
            float: left;
        }

        .allcontent {
            display: none;
        }
    }

    .mailman-table {
        &__table {
            >thead>tr>th {
                &:first-child {
                    width: 21%;
                }
                &:last-child {
                    width: 25%;
                }
            }
            >tbody>tr>td {
                line-height: 1.3;
            }
        }

        @media (max-width: 991px) {
            .mailman-table__table>tbody>tr>td:not([colspan="4"]) {
                border-top: none;
                padding-top: 3px;
            }
        }
    }
}