.container-map-orders {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #f5f5f5;
    
    .loader {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        margin: 0;
        width: 100%;
    }
    
    .map-orders {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }
}

.map-legend {
	font-size: 90%;
	color: #000000;
	.flex();
	.flex-align-items(center);
	
	.item-legend {
		margin-right: 15px;
		.flex();
		.flex-align-items(center);
		
		&:last-child {
			margin-right: 0;
		}
		
		.circle {
			display: inline-block;
			line-height: 0;
			font-size: 0;
			width: 13px;
			height: 13px;
			.border-radius(100%);
			margin-right: 5px;
		}
	}
}

// модальное окно на fullscreen
@media (min-width: 992px) {
	.ymaps-2-1-72-fullscreen {
		.modal-backdrop {
			z-index: 10002;
		}
		
		.modal {
			z-index: 10003;
		}
	}
}