.needs-container {

  .form-filter {
    .form-group {
      float: left;
      padding-left: 15px;
      padding-right: 15px;
    }
    .form-group-branch {
      min-width: 170px;
      @media (min-width: 992px) {
        width: 16%;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 15%;
      }
      @media (max-width: 767px) {
        width: 30%;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
    }

    .form-schedule-date {
      min-width: 190px;
      @media (min-width: 992px) {
        width: 16%;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 15%;
      }
      @media (max-width: 767px) {
        width: 30%;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
    }

    .form-group-filter-btns {
      display: flex;
      margin-top: 25px;
      button {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      @media (min-width: 992px) {
        width: 62%;
      }
      @media (min-width: 769px) and (max-width: 991px) {
        width: 53%;
      }
      @media (max-width: 768px) {
        margin-top: 0;
        width: 100%;
      }

      @media (max-width: 480px) {
        width: 100%;
        justify-content: space-between;
        button {
          width: 47.5%;
          .long-title {
            display: none;
          }
        }
      }

    }
  }

  .table-form-btns {
    text-align: right;
    margin-top: 20px;
    @media (max-width: 480px) {
      button {
        width: 49.3%;
      }
    }
  }

  .table-needs {
    .datetimeperiod-group {
      display: flex;
      align-items: center;
      &.timepicker {
        padding: 0;
        .form-control {
          padding: 6px 6px;
          font-size: 12px;
          width: 46px;
        }
      }
      label {
        text-align: center;
        width: 8px;
        margin: -2px 2px 0 2px;
      }
      a {
        display: inline-block;
        width: 28px;
        text-align: center;
        color: #333;
        font-size: 21px;
        font-weight: bold;
        &:hover {
          text-decoration: none;
        }
      }
      span.num {
        flex: auto;
        text-align: right;
        font-size: 12px;
        font-weight: bold;
        @media (max-width: 480px) {
          font-size: 14px;
        }
      }
    }
  }

  .table-wrapper-needs {
    position: relative;

    @media (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
    }

    .table {
      margin-bottom: 0;
      > thead {
        > tr {
          > th {
            white-space: nowrap;
            border-right: 1px solid #ddd;
            border-top: 0;
            border-bottom: 2px solid #ddd;
            text-align: center;

            &:first-child {
              text-align: left;
            }
            &:last-child {
              border-right: 1px solid transparent;
            }
          }
        }
      }

      > tbody {
        > tr {
          > td {
            padding-top: 3px;
            padding-bottom: 3px;
            border-right: 1px solid #ddd;
            border-top: 0;
            border-bottom: 1px solid #ddd;
            vertical-align: middle;
            height: 46px;
            line-height: 1.1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .col-first {
              display: flex;
              align-items: center;
              a {
                padding-left: 8px;
                color: #333;
                font-size: 21px;
                font-weight: bold;
                &:hover {
                  text-decoration: none;
                }
              }
              span {
                padding-left: 6px;
                font-size: 12px;
                font-weight: bold;
                @media (max-width: 480px) {
                  font-size: 14px;
                }
              }
            }

            &:first-child {
              min-width: 102px;
              max-width: 102px;
            }

            &:not(:first-child):not(:last-child) {
              min-width: 152px;
              max-width: 152px;
              a {
                @media (max-width: 480px) {
                  font-size: 14px;
                }
              }
            }
            &:last-child {
              min-width: 33px;
              max-width: 33px;
              background-color: #eee;
              border-right: 1px solid transparent;
              @media (max-width: 480px) {
                font-size: 14px;
              }
            }
            &.no-bg {
              background-color: transparent;
            }
            &.digit {
              text-align: right;
              font-weight: bold;
              @media (max-width: 480px) {
                font-size: 14px;
              }
            }

          }

        }
      }

      @media (max-width: 767px) {
        & {
          > tbody {
            > tr {
              > td {
                line-height: 1.1;
              }
            }
          }
        }
      }
    }

    .color-warning {
      background-color: #ffa9b1;
    }

    .color-ok {
      background-color: #d9f6cb;
    }

    .table-head {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 106px;
      max-width: 106px;
      background-color: #fff;
      box-shadow: 6px 0 4px -2px rgba(0, 0, 0, 0.25);

      > thead {
        > tr {
          > th {
            padding-left: 15px;
            padding-right: 15px;
            border-bottom: 2px solid #ddd;
            border-right: 1px solid #ddd;
          }
        }
      }
      > tbody {
        > tr {
          > td {
            height: 46px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #fff !important;
            &:last-child {
              @media (max-width: 480px) {
                font-size: 12px;
              }
            }
          }
        }
      }

      @media (min-width: 769px) {
        display: none;
      }
    }

    .table-foot {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 36px;
      max-width: 36px;
      background-color: #fff;
      box-shadow: -5px 0 5px -2px rgba(0, 0, 0, 0.25);

      > thead {
        > tr {
          > th {
            padding-left: 15px;
            padding-right: 15px;
            border-bottom: 2px solid #ddd;
            border-right: 1px solid #ddd;
          }
        }
      }
      > tbody {
        > tr {
          > td {
            height: 46px;
            text-align: center;
            background-color: #eee;
            &.no-bg {
              background-color: transparent;
            }
          }
        }
      }

      @media (min-width: 769px) {
        display: none;
      }
    }
  }

  /* блок "Добавить разряд" между таблицами */
  .add-pers {
    margin: 15px 0 5px 0;
    .col-title, .col-select {
      padding: 0;
    }
    .col-select {
      text-align: right;
    }
    h2 {
      font-size: 15px;
      margin-top: 0px;
    }
    .form-control {
      width: 168px;
      padding: 6px 8px;
      display: inline-block;
    }
  }
}

.popover-needs-details {
  &.top {
    margin-top: 10px !important;
  }
  .popover-content {
    padding: 15px 20px;
  }

  .close {
    position: absolute;
    top: 7px;
    right: 7px;
  }

  @media (min-width: 992px) {
    .close {
      display: none;
    }
  }

  @media (max-width: 991px) {
    .popover-content {
      padding: 20px 25px;
    }
  }

  @media (max-width: 767px) {
    & {
      max-width: 240px;
      font-size: 14px;
    }
  }
}
