.rangeslider() {
	.rangeslider {
		display: block;
		border-radius: 3px;
	  background: #ffffff;
	  border: 1px solid #cccccc;
	  position: relative;
	}

	.rangeslider--horizontal {
	  height: 10px;
	  width: 100%;
	}

	.rangeslider__fill {
	  background: #337ab7;
	  border-radius: 2px;
	  position: absolute;
	}

	.rangeslider--horizontal .rangeslider__fill {
	  top: 0;
	  height: 100%;
	}

	.rangeslider__handle {
	  border: 0;
	  cursor: pointer;
	  display: inline-block;
	  width: 18px;
	  height: 18px;
	  position: absolute;
	  background-color: #337ab7;
	  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
	  border-radius: 50%;
	}

	.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
	  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	}

	.rangeslider--horizontal .rangeslider__handle {
	  top: -5px;
	  touch-action: pan-y;
	  -ms-touch-action: pan-y;
	}

	input[type="range"]:focus + .rangeslider .rangeslider__handle {
	  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	}
}

.online-monitoring-map-page {
	.nav-tabs-lk-xs {
		margin-bottom: 0;
	}
	.mb8 {
		margin-bottom: 8px;
	}
	.filters {
		padding-top: 15px;
		margin-bottom: 24px;
		
		&__loader {
			height: 59px;
			width: 100%;
			.flex();
			.flex-align-items(center);
			justify-content: center;

			.fa {
				color: #337ab7;
			}
			
			@media (min-width: 768px) {
				.fa {
					font-size: 150%;
				}
			}
			
			@media (max-width: 767px) {
				height: 148px;
			}
		}
		
		.columns {
			display: flex;
			flex-wrap: wrap;
			.form-group {
				margin-bottom: 0;
			}
		}
		.column {
			&-first {
				@media (min-width: 992px) and (max-width: 1145px) {
					width: 25%;
				}
				@media (min-width: 1146px) {
					width: 390px;
				}
				padding-right: 30px;
				@media (min-width: 768px) and (max-width: 991px) {
					width: 43%;
					min-width: 320px;
				}

				@media (max-width: 767px) {
					width: 100%;
					padding-bottom: 15px;
					padding-right: 0;
				}
			}
			&-second {
				@media (min-width: 992px) {
					width: 195px;
				}
				padding-right: 30px;
				@media (min-width: 768px) and (max-width: 991px) {
					width: 26%;
					min-width: 192px;
				}
				@media (max-width: 767px) {
					width: 100%;
					padding-bottom: 15px;
					padding-right: 0;
				}
			}
			&-third {
				@media (min-width: 992px) {
					width: 293px;
					padding-right: 30px;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					width: 30%;
					min-width: 223px;
				}
				@media (max-width: 767px) {
					width: 50%;
					padding-right: 6px;
				}
			}
			&-fourth {
				@media (min-width: 992px) {
					padding-top: 33px;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					width: 100%;
					padding-top: 23px;
				}
				@media (max-width: 767px) {
					width: 50%;
					padding-top: 32px;
					padding-left: 6px;
				}
				@media (max-width: 479px) {
					padding-top: 22px;
					.checkbox-nice {
						 span {
							top: 50%;
							margin: 0;
							transform: translate(0, -50%);
						}
						.checkbox-label {
							width: 100px;
						}
					}
				}
			}
		}
		.remoteness {
			display: flex;
			align-items: center;
			padding-top: 7px;
			&__wrapper {
				@media (min-width: 992px) {
					width: 216px;
				}
				@media (min-width: 480px) and (max-width: 991px) {
					min-width: 180px;
					width: 100%;
				}
				@media (max-width: 479px) {
					min-width: 100px;
					width: 100%;
				}
				input {
					position: absolute;
					width: 1px;
					height: 1px; 
					overflow: hidden;
					opacity: 0;
				}
			}
			&__amount {
				text-align: right;
				margin-left: auto;
				white-space: nowrap;
				@media (min-width: 480px) and  (max-width: 991px) {
					width: 60px;
					padding-left: 10px;
				}
				@media (max-width: 479px) {
					padding-left: 5px;
				}
			}
			.rangeslider();
		}
	}
	.map-monitoring {
		display: flex;
		flex-wrap: wrap;
		.column {
			&-first {
				padding-bottom: 30px;
				@media (min-width: 992px) {
					min-width: 750px;
					padding-right: 30px;
					width: ~"calc(100% - 165px)";
				}
				@media (max-width: 991px) {
					width: 100%;
					padding-bottom: 10px;
				}
				@media (max-width: 767px) {
					padding-bottom: 20px;
				}
			}
			&-second {
				@media (min-width: 992px) {
					flex: 1;
					padding-bottom: 29px;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					width: 60%;
					min-width: 446px;
					padding-right: 30px;
				}
				@media (max-width: 767px) {
					width: 100%;
					padding-bottom: 20px;
				}
			}
			&-third {
				@media (min-width: 992px) {
					width: 292px;
					padding-right: 30px;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					width: 39%;
					min-width: 288px;
			    	margin-left: auto;
					padding-top: 44px;			    	
				}
				@media (max-width: 767px) {
					width: 100%;
				}
			}
			&-fourth {
				@media (min-width: 992px) {
					min-width: 600px;
					width: ~"calc(100% - 292px)";
				}
				@media (max-width: 991px) {
					padding-top: 27px;
					width: 100%;
				}
				@media (max-width: 767px) {
					padding-top: 21px;
				}
			}
		}
	}
	.monitoring-couriers {
		.form-group-status {
			@media (max-width: 991px) {
				margin-bottom: 10px;
			}
		}
		
		.table {
			border-top: 0;
			border-bottom: 1px solid #e8e8e8;
			margin: 0;
			@media (min-width: 992px) {
				tr {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
				}
				td {
					&:first-child {
						flex-basis: 100%;
					 	white-space: nowrap;
				  	overflow: hidden;
				  	text-overflow: ellipsis;
						max-width: 165px;
						padding: 5px 0;
				    border-top: 1px solid #e8e8e8;
					}
					&:nth-child(2), &:nth-child(3) {
						flex-basis: 50%;
						border-top: 0;
						padding: 0 0 8px 0;
					}
				}
			}
			@media (max-width: 991px) {
				td {
					&:nth-child(2) {
						width: 60px;
					}
					&:nth-child(3) {
						width: 53px;
						text-align: right;
					}
				}
			}
			@media (max-width: 767px) {
				td {
					&:nth-child(3) {
						padding-right: 0;
					}
					font-size: 14px;
					vertical-align: middle;
				}
			}
			a {
				color: #337ab7;
			}
			i {
				padding-right: 4px;
				color: #adadad;
				font-size: 12px;
			}
			.label-success {
				background-color: #38a138;
			}
			.label {
				font-size: 11px;
				font-weight: normal;
				border-radius: 3px;
			}
		}
		
		@media (min-width: 992px) {
			&.couriers-list-onmap {
				position: fixed;
				z-index: 10001;
				background-color: #fff;
				top: 50px;
				right: 10px;
				width: 200px;
				padding: 10px 15px;
				.border-radius(3px);
				.box-shadow(0 2px 2px rgba(0,0,0,0.15));
				max-height: -webkit-calc(~'100% - 70px');
				max-height: -moz-calc(~'100% - 70px');
				max-height: calc(~'100% - 70px');
				overflow-y: auto;
				
				.table td:first-child {
					max-width: 170px;
				}
			}
		}		
	}
	.monitoring-map {
		.statuses {
			display: flex;
			justify-content: flex-start;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 12px 0 11px 10px;
			background-color: #f5f5f5;
			font-size: 12px;
			
			.status {
				white-space: nowrap;
				font-weight: 600;
				padding-right: 14px;
			}
			
			.checkbox-nice {
				label {
					font-size: inherit;
					padding-left: 20px;
					color: inherit;
					font-weight: bold;
				}
				
			}
		}
		.state {
	  		color: #333333;
		}
		.new {
			color: #979797;
		}
		.preparing {
			color: #c2a200;
		}
		.ready {
			color: #38a138;
		}
		.waiting {
			color: #0093c2;
		}
		.onTheWay {
			color: #2447ff;
		}
	}
	.forecast {
		.table {
			border-top: 1px solid #e8e8e8;
			border-bottom: 1px solid #e8e8e8;
			margin: 0;
			@media (max-width: 767px) {
				border-top: 2px solid #e8e8e8;
				border-bottom: 2px solid #e8e8e8;
			}
			&>thead>tr>th {
				border-bottom: 0;
				&:first-child {
					text-align: left;
				}
				@media (max-width: 767px) {
					border-bottom: 2px solid #e8e8e8;
				}
			}
			&>tbody>tr>td {
				@media (max-width: 767px) {
			    font-size: 14px;
				}
				&:first-child {
					text-align: left;
				}
		    border-color: #e8e8e8;
			}
		}
		th {
			text-align: center;
		}
		td {
			text-align: center;
			font-weight: normal;
		}
		.minimalRisk {
			font-weight: bold;
			color: #ff931e;
		}
		.notInTime {
			font-weight: bold;
			color: #ed0016;
		}
		a {
		color: #337ab7;
		font-weight: normal;
		}
	}
	.recommend {
		padding-right: 0;

		.monitoring-recommend {
			border-top: 1px solid #e8e8e8;
			border-bottom: 1px solid #e8e8e8;
			padding: 15px 0;

			@media (min-width: 768px) and (max-width: 991px) {
				padding-left: 50px;
				padding-right: 50px;
			}
			@media (max-width: 767px) {
				padding-left: 64px;
				padding-right: 64px;
			}
			@media (max-width: 400px) {
				padding-left: 26px;
				padding-right: 26px;
			}

			.column {
				@media (min-width: 992px) {
					margin-bottom: 10px;
					
					&:last-child {
						margin-bottom: 0;
					}
				}				
				&-inner{
					@media (min-width: 768px) and (max-width: 991px) {
						max-width: 360px;
						margin: 0 auto;
					}
					@media (max-width: 767px) {
						width: 290px;
						max-width: 100%;
						margin: 0 auto;
					}
				}
			}

			.slick-prev,
			.slick-next {
			  width: 10px;
			  height: 16px;
			}
			.slick-prev:before,
			.slick-next:before {
			  content: '';
			  display: block;
			  width: 10px;
			  height: 16px;
			  background-color: transparent;
			  background-repeat: no-repeat;
			  background-size: contain;
			  background-position: center;
			}
			.slick-prev {
			  left: 0;
			}
			.slick-prev:before {
			  background-image: url('../images/ic-arrow-blue-left.svg');
			}
			.slick-next {
			  right: 0;
			}
			.slick-next:before {
			  background-image: url('../images/ic-arrow-blue-right.svg');
			}
		}
		.column-title {
			margin-bottom: 5px;
	    position: relative;
		}
		.color-mark {
			display: block;
			margin-right: 5px;
			width: 13px;
			height: 13px;
			border-radius: 50px;
			position: absolute;
			left: 0;
			top: 2px;
		}
		.courierName {
			font-size: 12px;
			color: #000000;
			font-weight: bold;
	    padding-left: 22px;
		}
		.numberLink {
			font-size: 12px;
		}
		.order {
			font-size: 12px;
		}
	}
	.monitoring-table {
		padding-top: 28px;
		@media (min-width: 768px) and (max-width: 991px) {
			padding-top: 19px;
		}
		@media (max-width: 767px) {
			padding-top: 21px;
		}
		@media (min-width: 768px) and (max-width: 991px) {
			.table-monitoring {
				table-layout: fixed;
			}
		}
		@media (min-width: 992px) {
			.label-new {
				margin-left: 5px;
			}
		}
		th {
			&:nth-child(1) {
				@media (min-width: 768px) and (max-width: 991px) {
					width: 61px;
				}
			}
			&:nth-child(2) {
				@media (min-width: 768px) and (max-width: 991px) {
					width: 142px;
				}
			}
			&:last-child {
				@media (min-width: 768px) and (max-width: 991px) {
					width: 269px;
				}
			}
		}
		td {
			font-weight: normal;
			vertical-align: middle;
	    	word-wrap: break-word;
		}
		td a {
			color: #337ab7;
			font-weight: normal;
		}
		.label-success {
			background-color: #38a138;
		}
		.label {
			font-size: 11px;
			font-weight: normal;
			border-radius: 3px;
		}
		@media (max-width: 767px) {
			.table {
				tr > th {
					&.cell-head.cell-xs-icon:before {
				    content: attr(data-icon);
				    top: 50%;
				    margin-top: 0;
				    transform: translate(0, -50%);
					}
					&:last-child {
				    margin-top: -1px;
					}
				}
				tbody > tr { 
					&:nth-child(2n) {
						background-color: #eeeeee;
					}
					td {
						display: flex;
						align-items: center;
				    white-space: normal;
				    width: 225px;
						.label-new-xs {
							font-size: 17px;
							color: #38a138;
							padding-left: 8px;
						}
					}
				}
			}
		}
	}
}
.orderStage {
	&.new {
		color: #979797;
	}
	&.preparing {
		color: #c2a200;
	}
	&.ready {
		color: #38a138;
	}
	&.waiting {
		color: #0093c2;
	}
	&.onTheWay {
		color: #2447ff;
	}
}

.mapBalloon {
	font-size: 12px;
	.fas {
		width: 20px;
    text-align: center;
		font-size: 12px;
		color: #adadad;
		padding-right: 6px;
	}
	.orders {
		font-size: 11px;
		white-space: pre-line;
		font-weight: 600;
		padding: 8px 0;
		margin: 8px 0;
		border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
	}
	.distance {
		padding: 4px 0 8px 0; 
	}
	label {
		font-size: 11px;
		margin: 0;
		color: #a1a1a1;
	}
	.summ {
		margin-top: 5px;
	}
	.amount {
		font-size: 14px
	}

}