@import "../components/late.less";

//***************** Form 
.form-online {
    margin-bottom: 15px;

    .form-group {
        float: left;
        margin-right: 30px;
    }
    
    .form-control {
        width: 170px;
    }
    
    .form-group-datepicker {
        .form-control {
            width: 120px;
        }
        
        .input-group {
            margin-left: 10px;
            margin-right: 10px;
        }

        .input-group-btn .btn {
            padding-left: 20px;
            padding-right: 20px;
        }
        
        .group-datepicker {
            .flex();
        }
    }
    
    @media (max-width: 767px) {
        & {
            .form-group { 
                float: none;
                width: 100%;
            }
            
            .form-control {
                width: 100%;
            }
            
            .form-group-datepicker {
            	margin-bottom: 5px;
                .input-group {
                    margin-left: 0px;
                    margin-right: 0px;
                }

                .group-datepicker {
                    justify-content: space-between;
                }
            }
        }
    }
}

.head-online {
	@media (min-width: 768px) {
		.flex();
		.flex-align-items(center);
		justify-content: space-between;
		
		h1 {
			margin-bottom: 0;
			margin-top: 0;
		}
		
		.form-online {
			margin-bottom: 0;
			
			.form-group {
				margin-bottom: 0;
				
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	

}


//***************** Table Online Late Report
.table-wrapper-online-late-report {
    margin-bottom: 30px;

    .table-responsive2 .table {
        width: 100%;
        margin-bottom: 0;

        > tbody {
            > tr {
                > td {
                    font-size: 13px;
                }
            }
        }
        
        .cell-gray {
            background-color: #ededed;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        & {
            .table-responsive2 .table {
                width: auto;
            }
        }
    }
    
    @media (max-width: 767px) {
        & {
            .table-responsive2 .table {
                > tbody {
                    > tr {
                        height: 37px * 5;
                        min-width: 200px;
                        
                        > td {
                            font-size: inherit;
                        }
                    }
                }                
            }
        }
    }
}

.tabs-online {
    width: 100%;
    
    @media (min-width: 768px) and (max-width: 991px) {
        width: auto;
        float: left;
        clear: both;
    }
}

.nav-tabs-online {
    margin-top: 0;
    margin-bottom: 10px;
    
    > li {
        > a {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    
    @media (max-width: 767px) {
        & {
            border-bottom: 0;
            position: relative;
            margin-bottom: 20px;
            
            > li {
                position: relative;
                
                > a {
                    padding: 9px 25px;
                    color: #333;
                    position: relative;
                    margin-left: -1px;
                    

                    margin-right: 0;
                    border: 1px solid #ccc;
                    .border-radius(0);
                    
                    &:hover {
                        border-color: #adadad;
                        background-color: #e6e6e6;
                        z-index: 2;
                    }
                }
                
                &:first-child {
                    > a {
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }
                }
                
                &:last-child {
                    > a {
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                }
                
                &.active {
                    & > a,
                    & > a:hover,
                    & > a:focus {
                        border-width: 1px;
                        border-color: #adadad;  
                        background-color: #e6e6e6;
                        z-index: 2;
                    }

                }
            }
        } 
    }
}

.table-wrapper-online-tab {
    .table {
        > tbody {
            font-size: 13px;
        }
        
        td,
        th {
            &:first-child {
                padding-left: 12px;
            }
        }

        .cell-center {
            text-align: center;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        & {
            .table {
                width: auto;
                min-width: 570px;
            }
        }
    }    
}

.table-wrapper-online-empl {
    .table {
        font-size: 13px;
        
        td {
            white-space: nowrap;
            border-right: 1px solid #fff;
            vertical-align: middle;
            text-align: center;
            
            &:last-child {
                border-right: 0;
            }
        }
    
        .cell-name {
            font-weight: bold;
            line-height: 1.2;
            white-space: normal;
            text-align: left;
        }
        
        .cell-num {
            cursor: pointer;
            color: #2d6594;
            
            &:hover {
                color: darken(#2d6594, 15%);
            }
        }
    }
    
    @media (max-width: 991px) {
        & {
            .table {
                td {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
        }
    }
    
    @media (max-width: 767px) {
        & {
            .table {
                .cell-name {
                    padding: 10px 0 5px !important;
                    width: 100%;
                }
                
                td:nth-child(2) {
                    padding-left: 0;
                }
            }
        }
    }
}

.tab-pane-online-orders {
    h3 {
        font-weight: bold;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
        
        &:first-child {
            margin-top: 15px;
        }
        
        @media (max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.table-wrapper-online-orders {
    .table {
        > tbody {
            font-size: 13px;
        }
        
        th {
            line-height: 1.2;

            &:last-child {
                text-align: center;
                white-space: nowrap;
            }
        }
        
        td {
            &:first-child {
                width: 100%;
            }
            
            &:last-child {
                text-align: center;
            }
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        & {
            .table {
                max-width: 570px;
            }
        }
    }
    
    @media (max-width: 767px) {
        & {
            .table {
                tbody {
                    font-size: 14px;
                }

                td,
                th {
                    &:first-child {
                        padding-left: 0;
                    }
                    
                    &:last-child {
                        padding-right: 0;
                    }
                }
                
                th {
                    &:last-child {
                        white-space: normal;
                    }
                }
            }
        }
    }    
}

.rating-online {
    .flex();
    .flex-align-items(center);
    
    &.rating-bad {
        color: #ff3939;
    }
    
    &.rating-good {
        color: #e4bc00;
    }
    
    &.rating-super {
        color: #9ccc6c;
    }        
}

.table-wrapper-online-responce {    
    .table {
        > thead > tr > th,
        > tbody > tr > td {
            vertical-align: middle;
        }
        
        > tbody > tr {
            cursor: pointer;
        }
    }
    
    @media (max-width: 767px) {
        & {
            .table {
                > thead > tr > th,
                > tbody > tr > td {
                    height: 37px;
                }
                
                .rating-online {
                    height: 20px;
                }

                .cell-head-com {
                    &:before {
                        content: "\f075";
                    }
                }
                
                .cell-head-food {
                    &:before {
                        content: "\f2e7";
                    }
                }
                
                .cell-head-del {
                    &:before {
                        content: "\f1b9";
                    }
                }    
                
                .cell-head-oper {
                    &:before {
                        content: "\f500";
                    }
                }                
            }
        }
    }
}

.tab-pane-online-progress {
    .prog-result {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 6px;

        &.result-bad {
            color: #ff3939;
        }
        
        &.result-good {
            color: #e4bc00;
        }
        
        &.result-super {
            color: #9ccc6c;
        }
    }
    
    .prog-result-mob {
        margin-bottom: 25px;

        .prog-result {
            font-size: 20px;
        }
    }
}

.table-wrapper-online-progress {
    .table {
        .row-total {
            td:first-child,
            td:last-child {
                background-color: #ededed;
            }
            
            td:first-child {
                text-transform: none;
            }
        }
        
        @media (max-width: 767px) {
            & {
                > tbody {
                    font-size: 14px;
                }
            }
        }
    }
}

.instr-online {
    .flex();
    margin-bottom: 25px;
    margin-top: -45px;

    .instr-online__name {
        font-weight: bold;
    }
    
    .instr-online__nav {
        list-style: none;
        padding: 0;
        margin: 0;
        .flex();
        
        > li {
            margin-left: 10px;

            > a {
                font-weight: bold;
            }
        }
    }
    
    @media (max-width: 991px) {
        & {
            margin-top: -5px;
        }
    }
    
    @media (max-width: 767px) {
        & {
            flex-wrap: wrap;
            
            .instr-online__nav {
                flex-direction: row;
                flex-wrap: wrap;
                flex: 1;
                margin-left: 10px;
                
                > li {
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 5px;
                    
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }        
    }
}

.popover-online {
    max-width: none;
    .box-shadow(10px);
    
    .popover-header {
        padding: 15px 30px 0 30px;
        .clearfix();
    }
    
    .popover-content {
        padding: 10px 30px 15px 30px;
    }
    
    @media (min-width: 768px) { 
        & {
            max-height: 300px;
            overflow-y: auto;
        }
    }
    
    
    @media (max-width: 767px) {
        & {
            position: fixed;
            top: 0 !important;
            left: 0 !important;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            margin-top: 0 !important;
            border: 0;
            .box-shadow(none);
            .border-radius(0px);
            
            .popover-header {
                padding: 15px 15px 0 15px;
            }
            
            .popover-content {
                padding: 10px 15px 15px 15px;
            }
        }
    }
}

.popover-content-empl {
    .table {
        font-size: 12px;

        > tbody > tr > td {
            border-top: 0;
            border-bottom: 1px solid #ddd;
            padding-left: 18px;
            padding-right: 18px;
            white-space: nowrap;
            
            &.cell-cat {
                text-align: right;
            }
            
            &.cell-post {
                padding-left: 6px;
                padding-right: 6px;
                color: #a1a1a1;
                font-weight: bold;
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
    }
    
    @media (max-width: 767px) { 
        & {
            .table {
                font-size: 14px;
                
                > tbody > tr > td {
                    padding-left: 8px;
                    padding-right: 8px;
                    white-space: normal;
                    font-weight: normal;

                    &.cell-post {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    
                    &.cell-cat {
                        padding-right: 0;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

.online-total-info {
    background-color: #F5F5F5;
    padding: 15px;
    margin-bottom: 30px;
    
    .table {
        border-top-width: 0;
        border-bottom-width: 0;
        margin: -8px 0 0 0;

        &.on-right {
            tbody {
                tr {
                    td {
                        &:last-child {
                            width: 28px;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
              td {
                  font-size: 14px;
                  font-weight: normal;
                  border-top-width: 0;
                  padding: 8px 0 8px 0;
                  &:last-child {
                      font-weight: bold;
                      width: 38px;
                  }
                  &.rating {
                      .rating-online {
                          margin-top: 3px;
                      }
                  }
              }
              &:last-child {
                  td {
                      padding: 0 0 0 0;
                  }
              }
            }
        }
    }
    
    .table-total {
    	max-width: 250px;
    	
    	.cell-count {
    		font-weight: bold;
    		color: #000;
    	}
    	
    	.row-sub {
    		td {
    			font-size: 95%;
    			padding-bottom: 8px;
    			padding-top: 0;
    			
    			&:first-child {
    				padding-left: 10px;
    			}
    		}
    		
    	}
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
	    & {
	        width: 618px;
	        
	        .table {
	            tbody {
	                tr {
	                    td {
	                        &.rating {
	                            max-width: 60px;
	                        }
	                    }
	                }
	            }
	        }
	
	    }    	
    }
    
    @media (max-width: 767px) {
	    & {
	        .table {
	            &.on-right {
	                tbody {
	                    tr {
	                        td {
	                            &:last-child {
	                                width: 38px;
	                            }
	                        }
	                    }
	                }
	            }
	            tbody {
	                tr {
	                    td {
	                        &.rating {
	                            max-width: 45px;
	                        }
	                    }
	                }
	            }
	        }
	        
	        .table-total {
	        	max-width: 100%;
	        	margin-bottom: 16px;
	        }
	    }      	
    }  
}

.online-recommendations {
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > .col-recommendation {
        padding: 15px 15px 15px 15px;
        flex-basis: 33%;
        color: #4C4C4C;
        font-size: 14px;
        line-height: 1.9rem;
        &:first-child {
            padding-left: 30px;
        }
        &:last-child {
            padding-right: 30px;
        }
    }
    
	@media (max-width: 991px) {
	
	    & {
	        flex-wrap: wrap;
	        & > .col-recommendation {
	            padding: 5px 15px 5px 15px;
	            flex-basis: 100%;
	            &:first-child {
	                padding-top: 15px;
	                padding-left: 15px;
	            }
	            &:last-child {
	                padding-right: 15px;
	                padding-bottom: 15px;
	            }
	        }
	    }
	
	}    
}

.popover-content-responce {
    .flex();
    max-width: 575px;
    font-size: 13px;
    
    .table {
        border-top: 0;
        border-bottom: 0;
        width: auto;
        
        > tbody > tr > td {
            border-top: 0;
            vertical-align: middle;
            white-space: nowrap;
            padding-top: 0;
        }
    }
    
    .rating {
        margin-right: 30px;
        white-space: nowrap;

        .rating-num {
            font-size: 45px;
            font-weight: bold;
            line-height: 1.2;
            margin-top: -5px;
            color: #000;
        }
    }
    
    .comment {
        margin-left: 30px;
        
        .comment-head {
            color: #000;
            font-size: 14px;
        }
    }
    
    @media (max-width: 767px) {
        & {
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 14px;
            
            .rating {
                margin-right: 0;
                
                .rating-num {
                    margin-top: -6px;
                }
            }
            
            .comment {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}

.popover-content-instr {
    .table {
        max-width: 660px;
        
        td,
        th {
            text-align: center;
            
            &:first-child {
                text-align: left;
            }
        }
        
        th {
            white-space: nowrap;
        }
    }
    
    @media (max-width: 767px) {
        & {
            .table {
                > tbody > tr > td {
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }
    }
}


// Buttons group for screen < 768
.btn-group-online-late {
    margin-bottom: 15px;
    margin-top: 5px;
}


// Table Online Late
.table-online-late {
    > thead > tr > th,
    > tbody > tr > td {
        text-align: center;
        vertical-align: middle;

        &.load-delayed {
            border-left: 2px solid #ddd;
        }
    }
    
    > thead {
        > tr {
            &:first-child {
                > th {
                    border-bottom-width: 1px;
                }
            }
            
            > th {
                &.cell-head-time {
                    display: none;
                }
            }
        }
    }
    
    > tbody {
        > tr {
            > td {
                font-size: 13px;
            }
            
            > td:first-child {
                text-align: left;
            }
        }
    }
    
    .cell-lateness {
        width: 40px;
        color: #337ab7;
        
        &:hover {
            color: #23527c;
        }
    }
    
    .cell-sum {
        background-color: #ededed;
    }
    
    .js-show-modal-late {
        cursor: pointer;
    }
    
    .row-suppose {
    	> td {
    		background-color: #ECF6FF;
    	}
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .table-responsive-wrapper-late {
        position: relative;
        
        .table-online-late {
            margin-bottom: 0;

            > thead {
                position: relative;
                > tr {
                    > th {
                        line-height: 1.2;

                        .cell-head_name {
                            white-space: nowrap;

                            > span {
                                display: block;
                            }
                        }
                    }
                }
            }            
        }
    }

    .table-online-late_timeline {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        border-right: 1px solid #ddd;
        border-top: 2px solid #ddd;
        width: 58px;
        .box-shadow(7px 0 5px -5px rgba(0, 0, 0, 0.25));
        z-index: 1;
        font-size: 13px;
        font-weight: 600;
        
        .item-elem {
            width: 100%;
            padding: 8px;
            border-bottom: 1px solid #ddd;
            
            &:first-child {
                height: 77px;
                border-bottom: 2px solid #ddd;
                font-size: 12px;
                font-weight: bold;
                text-align: center;
                .flex();
                .flex-align-items(center);
            }
            
            &:last-child {
                background-color: #ededed;
            }
        }
    }
}

@media (max-width: 767px) {
    .table-responsive-wrapper-late {
        .table-responsive2 {
            .table-online-late {
                font-size: 14px;

                > thead {
                    > tr {
                        &:first-child {
                            display: none;
                        }

                        > th {
                            display: none;
                            font-size: inherit;
                            border-top: 0;

                            &.cell-head-time {
                                display: block;
                            }
                            
                            &.load-delayed {
                                border-left-width: 0;
                            }
                            
                            // Время
                            &.cell-head-time {
                                &:before {
                                    display: none;
                                }
                            }
                            
                            // КОРФ
                            &.cell-head-korf {
                                &:before {
                                    content: "\f43d";
                                }
                            }
                            
                            // Нагрузка
                            &.cell-head-load {
                                &:before {
                                    content: "\f4ce";
                                }
                            } 
                            
                            // Сотрудники
                            &.cell-head-worker {
                                &:before {
                                    content: "\f007";
                                }
                            }
                            
                            // Сотр. c норм.
                            &.cell-head-workernorm {
                                &:before {
                                    content: "\f507";
                                }
                            }   
                            
                            // Выручка
                            &.cell-head-receipts {
                                &:before {
                                    content: "\f158";
                                }
                            }
                            
                            // Опоздания
                            &.cell-head-late {
                                &:before {
                                    display: none;
                                }
                                
                                .cell-head_name {
                                    visibility: visible;
                                }
                            }
                            
                            // Кол-во заказов
                            &.cell-head-orders {
                                &:before {
                                    content: "\f4a1";
                                }
                            }                            
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            display: none;
                            text-align: center;
                            font-size: inherit;
                            
                            &.cell-time {
                                display: table-cell;
                            }

                            &.load-delayed {
                                border-left: 1px solid transparent;
                            }
                            
                            &.cell-lateness {
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    
    // повар-сушист
    .table-responsive-wrapper-sushi {
        .table-responsive2 { 
            .table-online-late {
                > thead {
                    > tr {
                        > th {
                            &.cell-sushi {
                                display: block;
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            &.cell-sushi {
                                display: table-cell;
                            }
                        }
                    }
                }
            }
        }
    }
    
    // водитель
    .table-responsive-wrapper-driver {
        .table-responsive2 { 
            .table-online-late  {
                > thead {
                    > tr {
                        > th {
                            &.cell-driver {
                                display: block;
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            &.cell-driver {
                                display: table-cell;
                            }
                        }
                    }
                }                    
            }
        }
    }    
    
    // повар-пиццмейкер
    .table-responsive-wrapper-pizza {
        .table-responsive2 { 
            .table-online-late  {
                > thead {
                    > tr {
                        > th {
                            &.cell-pizza {
                                display: block;
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            &.cell-pizza {
                                display: table-cell;
                            }
                        }
                    }
                }                 
            }
        }
    }  
    
    // безнал
    .table-responsive-wrapper-card {
        .table-responsive2 { 
            .table-online-late  {
                > thead {
                    > tr {
                        > th {
                            &.cell-card {
                                display: block;
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        > td {
                            &.cell-card {
                                display: table-cell;
                            }
                        }
                    }
                } 
            }
        }
    }    
}

