
.rating-box {
  height: 13px;
  background-repeat: space;
  background-size: 13px 13px;
  margin-top: 2px;

  &.rating-high {
      background-image: url("../images/icon-star-green.svg");
  }
  &.rating-middle {
      background-image: url("../images/icon-star-yellow.svg");
  }
  &.rating-low {
      background-image: url("../images/icon-star-red.svg");
  }

}

.modal-dialog-order-details {

  width: 640px;

  .modal-header {
    border-bottom: 0px;
    padding: 20px 25px 10px 0;
  }

  .modal-body {
    padding: 0 30px 10px 30px;
  }

  .order-details-header {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;

    .order-details-average {
      flex-basis: 24%;
      .average-rating {
        display: block;
        font-size: 45px;
        line-height: 45px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .average-rating-label {
        display: block;
        font-size: 12px;
        margin-top: 4px;
      }
    }

    .order-details-ratings {
      flex-basis: 32%;
      .rating-item {
        display: flex;
        margin-bottom: 2px;
        label {
          font-size: 12px;
          font-weight: 600;
          width: 70px;
        }
      }
    }

    .order-details-comment {
      flex-basis: 44%;
      vertical-align: top;
      h3 {
        margin: 0 0 3px 0;
        font-size: 14px;
      }
      p {
        margin: 0;
        font-size: 13px;
      }
    }

  }

}

@media (max-width: 767px) {

  .modal-dialog-order-details {

    width: 480px;
    margin: auto;

    .modal-body {
      padding: 0 15px 10px 15px;
    }

    .order-details-header {
      flex-wrap: wrap;
      .order-details-average {
        flex-basis: 60%;
      }

      .order-details-ratings {
        flex-basis: 30%;
      }

      .order-details-comment {
        flex-basis: 100%;
        margin-top: 20px;
      }

    }

  }

}

@media (max-width: 480px) {

  .modal-dialog-order-details {
    width: 100%;
    margin: auto;

    .order-details-header {
      .order-details-average {
        flex-basis: 55%;
      }
      .order-details-ratings {
        flex-basis: 30%;
      }
    }

  }

}
