.orders-on-map {
	.hr-margin {
		margin-bottom: 14px;
	}
	.couriers-list {
		@media (max-width: 767px) {
			margin-top: 24px;
		}
		.center {
			text-align: center;
		}
		.table>tbody>tr {
			&>td {
				vertical-align: middle;
				height: 44px;
				&:first-child  {
					padding-right: 30px;
				}
			}
		}
		.table-couriers {
			@media (max-width: 767px) {
				border: none;
			}
		}
		&__title {
			margin-top: 0;
		}
	}

	.recommend {
		border-bottom: 1px solid #e8e8e8;
		margin-bottom: 15px;
		padding-bottom: 15px;
		.row {
			padding-left: 15px;
			padding-right: 15px;
			@media (min-width: 769px) and (max-width: 991px) {
				padding-left: 50px;
				padding-right: 50px;
			}
			@media (max-width: 768px) {
				padding-left: 64px;
				padding-right: 64px;
			}
		}
		.column {
			float: left;
			width: 33.3%;
			padding: 0 15px;
		}
		.column-title {
			margin-bottom: 5px;
		}
		.color-mark {
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
			width: 13px;
	  	height: 13px;
	  	border-radius: 50px;
		}
		.courierName {
			color: #000000;
			font-weight: 700;
		}
		.courierName {
			display: inline-block;
			vertical-align: middle;
		}
		.slick-prev, .slick-next {
			width: 10px;
			height: 16px;
			&:before {
				content: '';
				display: block;
				width: 10px;
				height: 16px;
				background-color: transparent;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}
		.slick-prev {
			left: 0;
			&:before {
				background-image: url('../images/ic-arrow-blue-left.svg');
			}
		}
		.slick-next {
			right: 0;
			&:before {
				background-image: url('../images/ic-arrow-blue-right.svg');
			}
		}
	}
	.filter-orders {
		padding-bottom: 11px;
		@media (min-width: 992px) {
			.first-column {
				padding-left: 0;
			}
			.second-column {
		    margin-top: 25px;
			}
			.third-column, .fourth-column {
		    margin-top: 32px;
			}
		}
		@media (min-width: 769px) and (max-width: 991px) {
			padding-bottom: 29px;
			.first-column {
				padding-left: 0;
			}
			.second-column {
		    margin-top: 25px;
			}
			.third-column {
				margin-top: 32px;
			}
			.fourth-column {
				margin-top: 9px;
				min-width: 192px;
				.checkbox-nice span {
		    	top: 50%;
		    	transform: translate(0, -50%);
		    }
			}
		}
		@media (min-width: 769px) and (max-width: 800px) {
			.second-column {
		    padding-right: 0;
		    padding-left: 0;
			}
			.third-column {
		    margin-top: 19px;
				max-width: 170px;
				.checkbox-nice span {
		    	top: 50%;
		    	transform: translate(0, -50%);
		    }
			}
		}
		@media (max-width: 768px) {
			.second-column {
		   	&.align-xs-right {
		   		text-align: right;
		   	}
			}
		}
	}
}