.orders-on-map {
	.hr-margin {
		margin-bottom: 14px;
	}
	
	.couriers-list {
		@media (max-width: 767px) {
			margin-top: 20px;
		}
		.center {
			text-align: center;
		}
		.table-couriers {
        	border-top: 1px solid #E8E8E8;
        	border-bottom: 1px solid #E8E8E8;
        	margin-bottom: 0;
		}	
		.table-couriers>tbody>tr>td {
			border-top: 1px solid #E8E8E8;
		}
		.table-couriers>tbody>tr {
			&>td {
				vertical-align: middle;
				height: 44px;
				font-weight: normal;
				&:first-child  {
					//padding-right: 30px;
				}
				&:last-child  {
					padding-right: 0;
					width: 70px;
				}
			}
		}
		&__title {
			margin-top: 0;
			font-size: 14px;
			font-weight: bold; 
    	    margin-bottom: 16px;
    	    @media (max-width: 767px) {
    				margin-bottom: 10px;
    	    }
		}
		.label-success {
			font-size: 11px;
			font-weight: normal;
		}
		
		@media (max-width: 767px) {
		    .table-couriers {
		        font-size: 14px;
		    }
		}
		
		@media (min-width: 992px) {
			&.couriers-list-onmap {
				position: fixed;
				z-index: 10001;
				background-color: #fff;
				top: 50px;
				right: 10px;
				width: 250px;
				padding: 10px 15px;
				.border-radius(3px);
				.box-shadow(0 2px 2px rgba(0,0,0,0.15));
				max-height: -webkit-calc(~'100% - 70px');
				max-height: -moz-calc(~'100% - 70px');
				max-height: calc(~'100% - 70px');
				overflow-y: auto;
			}
		}
	}
	
	.filter-orders {
	    .form-without-label {
	        margin-top: 25px;
	    }
	    
	    @media (min-width: 992px) {
    	    .col-auto {
    	        width: auto;
    	    }
	    }

	    .form-check {
	        .checkbox-nice {
	            .flex();
	            flex-wrap: wrap;
	            height: 34px;
	            .flex-align-items(center);
	            
	            label {
	                line-height: 1.2;
	            }

	            .fa {
	                top: 50%;
	                transform: translate(0, -50%);
	                margin: 0;
	            }
	        }
	    }
	    
	    @media (max-width: 767px) {
	        .form-without-label {
	            margin-top: 0;
	        }
	    }
	    
	    @media (max-width: 479px) {
	        .col-xs2-12 {
	            width: 100%;
	        }
	    }
	}
	
	.recommend {
		border-bottom: 1px solid #e8e8e8;
		margin-bottom: 15px;
		padding-bottom: 15px;
		.recommend-row {
			padding-left: 15px;
			padding-right: 15px;		    
			@media (min-width: 768px) and (max-width: 991px) {
				padding-left: 50px;
				padding-right: 50px;
			}
			@media (max-width: 767px) {
				padding-left: 64px;
				padding-right: 64px;
			}
			@media (max-width: 400px) {
				padding-left: 26px;
				padding-right: 26px;
			}
		}
		.column {
			float: left;
			width: 33.3%;
			padding: 0 15px;
			&-inner{
				max-width: 360px;
				margin: 0 auto;
				@media (max-width: 767px) {
					width: 290px;
					max-width: 100%;
					margin: 0 auto;
				}
			}
		}
		.column-title {
			margin-bottom: 5px;
			position: relative;
		}
		.color-mark {
			display: block;
			margin-right: 5px;
			width: 13px;
    	  	height: 13px;
    	  	border-radius: 50px;
    	  	position: absolute;
    	  	left: 0;
    	  	top: 2px;
		}
		.courierName {
			font-size: 12px;
			color: #000000;
			font-weight: 700;
			padding-left: 22px;
		}
		.order {
			font-size: 12px;
		}
		.slick-prev, .slick-next {
			width: 10px;
			height: 16px;
			&:before {
				content: '';
				display: block;
				width: 10px;
				height: 16px;
				background-color: transparent;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}
		.slick-prev {
			left: 0;
			&:before {
				background-image: url('../images/ic-arrow-blue-left.svg');
			}
		}
		.slick-next {
			right: 0;
			&:before {
				background-image: url('../images/ic-arrow-blue-right.svg');
			}
		}		
	}
}
// для информации по заказам
@media (min-width: 992px) {
	.fullscreen {
		.modal-backdrop {
			z-index: 10002;
		}
		
		.modal {
			z-index: 10003;
		}
	}
}