.orders-on-map {
	.hr-margin {
		margin-bottom: 14px;
	}
	.couriers-list {
		@media (max-width: 767px) {
			margin-top: 20px;
		}
		.center {
			text-align: center;
		}
		.table {
    	border-top: 1px solid #E8E8E8;
    	border-bottom: 1px solid #E8E8E8;
		}
		.table>tbody>tr>td {
			border-top: 1px solid #E8E8E8;
		}
		.table>tbody>tr {
			&>td {
				vertical-align: middle;
				height: 44px;
				font-weight: normal;
				&:first-child  {
					padding-right: 30px;
				}
				&:last-child  {
					padding-right: 0;
					width: 70px;
				}
			}
		}
		.table-couriers {
			@media (max-width: 767px) {
				border: none;
			}
		}
		&__title {
			margin-top: 0;
			font-size: 14px;
			font-weight: bold; 
	    margin-bottom: 16px;
	    @media (max-width: 768px) {
				margin-bottom: 10px;
	    }
		}
		.label-success {
			font-size: 11px;
			font-weight: normal;
		}
	}

	.recommend {
		border-bottom: 1px solid #e8e8e8;
		margin-bottom: 15px;
		padding-bottom: 15px;
		.row {
			padding-left: 15px;
			padding-right: 15px;
			@media (min-width: 768px) and (max-width: 991px) {
				padding-left: 50px;
				padding-right: 50px;
			}
			@media (max-width: 768px) {
				padding-left: 64px;
				padding-right: 64px;
			}
			@media (max-width: 400px) {
				padding-left: 26px;
				padding-right: 26px;
			}
		}
		.column {
			float: left;
			width: 33.3%;
			padding: 0 15px;
			&-inner{
				max-width: 360px;
				margin: 0 auto;
				@media (max-width: 768px) {
					width: 290px;
					max-width: 100%;
					margin: 0 auto;
				}
			}
		}
		.column-title {
			margin-bottom: 5px;
			position: relative;
		}
		.color-mark {
			display: block;
			margin-right: 5px;
			width: 13px;
	  	height: 13px;
	  	border-radius: 50px;
	  	position: absolute;
	  	left: 0;
	  	top: 2px;
		}
		.courierName {
			font-size: 12px;
			color: #000000;
			font-weight: 700;
			padding-left: 22px;
		}
		.order {
			font-size: 12px;
		}
		.slick-prev, .slick-next {
			width: 10px;
			height: 16px;
			&:before {
				content: '';
				display: block;
				width: 10px;
				height: 16px;
				background-color: transparent;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}
		.slick-prev {
			left: 0;
			&:before {
				background-image: url('../images/ic-arrow-blue-left.svg');
			}
		}
		.slick-next {
			right: 0;
			&:before {
				background-image: url('../images/ic-arrow-blue-right.svg');
			}
		}
	}
	.filter-orders {
		padding-bottom: 11px;
		@media (min-width: 1199px) {
			.third-column {
				margin-left: -38px;
			}
			.fourth-column {
				margin-left: -88px;
			}
		}
		@media (min-width: 992px) {
			.first-column {
				padding-left: 0;
			}
			.second-column {
		    margin-top: 25px;
			}
			.third-column, .fourth-column {
		    margin-top: 32px;
			}
			
		}
		@media (min-width: 768px) and (max-width: 991px) {
			padding-bottom: 29px;
			.first-column {
				padding-left: 0;
			}
			.second-column {
		    margin-top: 25px;
			}
			.third-column {
				margin-top: 32px;
				margin-left: -10px;
			}
			.fourth-column {
				margin-top: 9px;
				min-width: 192px;
				margin-left: -48px;
				.checkbox-nice span {
		    	top: 50%;
		    	transform: translate(0, -50%);
		    	margin: 0;
		    }
			}
		}
		@media (min-width: 768px) and (max-width: 800px) {
			.second-column {
		    padding-right: 0;
		    padding-left: 0;
			}
			.third-column {
		    margin-top: 19px;
				max-width: 170px;
				.checkbox-nice span {
		    	top: 50%;
		    	transform: translate(0, -50%);
		    	margin: 0;
		    }
			}
		}
		@media (min-width: 768px) and (max-width: 900px) {
			.fourth-column {
		    margin-left: -30px;
			}
		}
		@media (max-width: 768px) {
			padding-left: 0;
			padding-right: 0;
			.first-column {
				margin-bottom: 12px;
			}
			.second-column {
		    margin-bottom: 12px;
			}
			.second-column {
		   	&.align-xs-right {
		   		text-align: right;
		   	}
			}
			.third-column {
		    margin-top: 9px;
			}
			.third-column, .fourth-column {
				.checkbox-nice span {
		    	top: 50%;
		    	transform: translate(0, -50%);
    	    margin: 0;
		    }
			}
		}
		@media (max-width: 450px) {
			.second-column {
				.btn-group>.btn {
					font-size: 10px;
					height: 34px;
					line-height: 21px;
				}
			}
			.third-column {
		    margin-top: 20px;
			}
		}
		@media (max-width: 350px) {
			.second-column {
				padding-left: 0;
				.btn-group>.btn {
					padding: 6px 8px;
				}
			}
			.third-column {
		    margin-top: 15px;
			}
		}
	}
}
.mapPoint, .mapAnnotation {
	font-size: 11px;
}
