.problemsReport {
	.filters {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
		.filters-column {
			display: flex;
			margin: 0 15px;
			@media (min-width: 992px) {
				select, .input-group.datepicker {
					width: 165px;
				}
				.mr30 {
					margin-right: 30px;
				}
				.ml30 {
					margin-left: 30px;
				}
			}
			@media (min-width: 768px) and (max-width: 991px) {
				select, .input-group.datepicker {
					width: 162px;
				}
				.ml30 {
					margin-left: 30px;
				}
				&.column-third {
					flex-basis: 100%;
				}
				.submitBtn {
					margin-left: auto;
				}
			}
			@media (max-width: 767px) {
				&.column-first {
					flex-basis: 100%;
					.form-group, select {
						width: 100%;
					}
				}
				&.column-second {
					flex-basis: 100%;
					.ml30 {
						margin-left: auto;
					}
					select, .input-group.datepicker {
						width: 130px;
					}
					&.days {
						.form-group, select {
							width: 100%;
						}
					}
				}
				&.column-third {
					flex-basis: 100%;
					flex-direction: column;
					.form-source, select {
						width: 100%;
					}
					.submitBtn {
						margin-top: 0;
						button {
							width: 100%;
						}
					}
				}
			}
			@media (max-width: 460px) {
				&.column-second {
					.mr15xs {
						margin-right: 15px;
					}
					.ml30 {
						margin-left: auto;
					}
					select, .input-group.datepicker {
						max-width: 100px;
						width: auto;
					}
					&:not(.days) {
						.periodDate {
							display: flex;
							align-items: center;
						}
					}
				}
			}
		}
		.glyphicon-calendar:before {
			color: #337ab7;
		}
		.periodDate {
			margin-top: 25px;
		}
		.input-group {
			width: 140px;
			display: inline-table;
    	vertical-align: middle;
		}
		.input-group-dash {
		 	margin: 0px 7px;
    	color: #000;
		}
		.submitBtn {
			margin-top: 25px;
		}
	}
	.information {
		margin: 5px 0 26px 0;
		padding-top: 14px;
		padding-bottom: 17px;
		background-color: #F5F5F5;
		@media (min-width: 768px) and (max-width: 991px) {
			margin-top: 12px;
		}
		@media (max-width: 767px) {
			margin-bottom: 30px;
			margin-top: 12px;
		}
		.item-group {
			display: flex;
			justify-content: start;
			flex-direction: row;
			padding-left: 14px;
			flex-wrap: wrap;
		}
		.column {
			display: flex;
			flex-direction: row;
			@media (max-width: 767px) {
				flex-direction: column;
				flex-basis: 50%;
			}
			@media (max-width: 460px) {
				flex-basis: 100%;
			}
		}
		.item {
			@media (min-width: 768px) {
				&.mr35 {
					margin-right: 35px;
				}
				&.mr40 {
					margin-right: 40px;
				}
			}
		}
		.caption {
			display: flex;
			font-size: 14px;
			color: #555555;
			@media (min-width: 992px) {
				margin-right: 9px;
			}
		}
		.amount {
			padding-left: 8px;
			font-weight: bold;
			color: #000;
		}
	}
	.nav-problems-report {
		margin-bottom: 18px;
		@media (max-width: 767px) {
			display: none;
		}
	}
	.pagination {
		margin: 30px 0 20px 0;
	}
	.paginator-problems-report {
		@media (max-width: 767px) {
			display: none;
		}
	}
	.nav-tabs-lk-xs {
		margin-bottom: 0;
		&.nav-active {
			margin-bottom: 20px;
		}
	}
	.table-responsive-wrapper .table-responsive2 {
		.info-table {
			&.table > thead > tr > th {
				@media (min-width: 768px) and (max-width: 991px) {
					display: flex !important;
					align-items: center;
					padding-left: 15px;
				}
				&:before {
					@media (max-width: 767px) {
				    height: inherit;
				    margin: 0;
				    display: flex !important;
						align-items: center;
						justify-content: center;
					}
				}
			}
			&.table > tbody > tr > td {
				@media (max-width: 767px) {
					white-space: normal;
					min-width: 200px;
					display: flex !important;
					align-items: center;
					min-height: 35px;
				}
				@media (min-width: 992px) {
					height: 43px;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					min-width: 200px;
					//min-height: 51px;
					display: flex !important;
					align-items: center;
					line-height: 15px;
				}
			}
			.wd {
				@media (min-width: 992px) {
					&4 {
						width: 4%;
					}
					&5 {
						width: 5%;
					}
					&6 {
						width: 6%;
					}
					&7 {
						width: 7%;
					}
					&10 {
						width: 10%;
					}
					&11 {
						width: 11%;
					}
					&12 {
						width: 12%;
					}
				}
			}
			@media (max-width: 767px) {
				thead > tr > th.cell-xs-icon:before {
			    content: attr(data-icon);
				}
				tbody > tr:nth-child(2n) {
		      background: #EEEEEE;
				}
			}
		}
		.table-unreleased-orders {
			tbody > tr > td {
				@media (max-width: 767px) {
					padding: 7px 11px 7px 13px;
					line-height: 15px;
					min-width: 230px !important;
				}
			}
			tbody > tr:first-child > td {
				@media (min-width: 768px) and (max-width: 991px) {
					padding-left: 23px;
				}
				@media (max-width: 767px) {
					padding-left: 16px;
				}
			}
			@media (min-width: 768px) and (max-width: 991px) {
				tbody > tr > td { 
					&:nth-child(1) {
						height: 34px;
					}
					&:nth-child(2) {
						height: 34px;
					}
					&:nth-child(3) {
						height: 49px;
					}
					&:nth-child(4) {
						height: 34px;
					}
					&:nth-child(5) {
						height: 34px;
					}
					&:nth-child(6) {
						height: 49px;
					}
					&:nth-child(7) {
						height: 34px;
					}
					&:nth-child(8) {
						height: 49px;
					}
					&:nth-child(9) {
						height: 49px;
					}
				}
			}
		}
		.table-address-problems {
			& > thead {
				@media (min-width: 768px) and (max-width: 991px) {
					width: 135px !important;
				}
			}
			tbody > tr > td {
				@media (min-width: 768px) and (max-width: 991px) {
					min-width: 216px !important;
				}
				@media (max-width: 767px) {
					padding: 7px 11px 7px 13px;
					line-height: 15px;
					min-width: 230px !important;
				}
			}
			tbody > tr:first-child > td {
				@media (max-width: 767px) {
					padding-left: 20px;
				}
			}
			.cl {
				@media (min-width: 992px) {
					&1 {
						width: 1%;
					}
					&2 {
						width: 1%;
					}
					&3 {
						width: 2%;
					}
					&4 {
						width: 1%;
					}
					&5 {
						width: 1%;
					}
					&6 {
						width: 11%;
					}
					&7 {
						width: 7%;
					}
				}
			}
			tbody > tr > td {
				@media (min-width: 992px) {
					height: 43px;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					&:nth-child(1) {
						height: 34px;
					}
					&:nth-child(2) {
					height: 34px;
					}
					&:nth-child(3) {
						height: 49px;
					}
					&:nth-child(4) {
						height: 34px;
					}
					&:nth-child(5) {
						height: 34px;
					}
					&:nth-child(6) {
						height: 49px;
					}
					&:nth-child(7) {
						height: 49px;
					}
				}
				@media (max-width: 767px) {
					&:nth-child(1) {
						height: 34px;
					}
					&:nth-child(2) {
					height: 34px;
					}
					&:nth-child(3) {
						height: 49px;
					}
					&:nth-child(4) {
						height: 34px;
					}
					&:nth-child(5) {
						height: 34px;
					}
					&:nth-child(6) {
						height: 49px;
					}
					&:nth-child(7) {
						height: 49px;
					}
				}
			}
		}
	}
	.hr-xs-100 {
		@media (max-width: 767px) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}