.head-providers {
    h1 {
        float: left;
    }
}

@media (max-width: 767px) {
    .head-providers {
        .btn {
            float: right;
            width: auto;
            margin-top: 0;
            
            .fas {
                margin-right: 0;
            }
        }
    }
}


.form-providers {
    .form-group-datepicker {
        .row {
            position: relative;
        }
        
        .input-group-dash {
            font-size: 0;
            line-height: 0;
            display: block;
            height: 1px;
            width: 10px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -5px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .form-providers {
        .form-group-datepicker {
            width: -webkit-calc(~'100% - 33.3333% - 160px');
            width: -moz-calc(~'100% - 33.3333% - 160px');
            width: calc(~'100% - 33.3333% - 160px');
        }
        
        .form-btns {
            width: auto;
            
            .btn {
                width: 130px;
            }
        }
    }
}

@media (max-width: 767px) {
    .form-providers {
        .form-btns {
            margin-top: 0;
            
            .btn {
                width: 100%;
                float: none;
            }
        }
    }
}

.action-table-providers {
    font-size: 13px;
    margin-bottom: 15px;
    
    .fas {
        margin-left: 5px;
    }
}


.tooltip-provider {
    &.in {
        opacity: 1;
    }
    
    .btn-close {
        position: absolute;
        right: 1px;
        top: 5px;
        background-color: transparent;
        color: #aaaaaa;
        padding: 5px;
        line-height: 14px;
    }

    .tooltip-inner {
        background-color: #fff;
        color: #333;
        border: 1px solid #d9534f;
        padding: 8px 15px;
        text-align: left;
        .box-shadow(2px 0 12px rgba(0,0,0, 0.5));
        
        > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            
            > li {
                .flex();
                
                > span {
                    display: inline-block;
                    width: 70px;
                    margin-right: 5px;
                    white-space: nowrap;
                }
            }
        }
    }
    
    &.top {    
        .tooltip-arrow {
            border-top-color: #d9534f;
            border-width: 8px 8px 0;
            bottom: -2px;
            left: -8px;
            
            &:before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-color: transparent;
                border-width: 7px 7px 0;
                border-style: solid;
                border-top-color: #fff;
                position: absolute;
                bottom: 1px;
                left: -7px; 
            }
        }
    }
}

@media (max-width: 991px) {
    .tooltip-provider {
        &.top {
            margin-top: 0;
        }

        .tooltip-inner {
            padding: 10px 30px 10px 15px;
        }
    }
}


.table-providers {
    border-left-color: #fff;
    border-right-color: #fff;
    margin-bottom: 0;

    > thead {
        > tr {
            > th {
                vertical-align: middle;
                text-align: center;
                line-height: 1.2;
                font-size: 12px;
                
                &:first-child {
                    border-left: 0;
                }
                
                &:last-child {
                    border-right: 0;
                }  
                
                &.cell-head-num {
                    text-align: left;
                    border-right: 0;
                    width: 10px;
                }
                
                &.cell-head-nom {
                    text-align: left;
                    border-left: 0;
                }
                
                &.cell-head-count {
                    border-bottom-width: 1px;
                }
                
                &.cell-head-branch {
                    border-bottom: 0;
                }
                
                &.cell-head-provider {
                    white-space: nowrap;
                    border-top: 0;
                    padding-top: 0;
                    font-weight: 400;
                }
                
                &.cell-head-package {
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;                    
                }
                
                &.cell-head-sum {
                    text-transform: uppercase;
                    background-color: #eeeeee;
                    text-align: right;
                }
            }
        }
    }
    
    > tbody {
        > tr {
            > td {
                text-align: center;
                vertical-align: middle;
                
                &:first-child {
                    border-left: 0;
                }
                
                &:last-child {
                    border-right: 0;
                }
                
                &.cell-provider {
                    text-align: left;
                    position: relative;
                    width: 20%;
                    
                    .drop-tr-link {
                        position: absolute;
                        left: 8px;
                        top: 50%;
                        margin-top: -9px;
                    }
                    
                    h3 {
                        font-weight: 700;
                        font-size: 13px;
                        margin: 0;
                        padding-left: 22px;
                    }
                }
                
                &.cell-sum {
                    background-color: #eeeeee;
                    text-align: right;
                    white-spce: nowrap;
                    
                    &.td-red {
                        background-color: #FFAAB3;
                        cursor: pointer;
                    }
                }
                
                &.cell-num {
                    text-align: right;
                    border-right: 0;
                }
                
                &.cell-product {
                    text-align: left;
                    border-left: 0;
                }
            }
            
            &.table--parent-tr {
                > td {
                    border-top-width: 2px;
                }
            }
        }
    }
}

.table-providers-head {
    display: none;
    width: 216px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-right: 1px solid #ddd;
    .box-shadow(7px 0 5px -5px rgba(0, 0, 0, 0.25));
    z-index: 1;
    
    > thead {
        > tr {
            > th {
                height: 85px;               
            }
        }
    }
    
    > tbody {
        > tr {
            > td {
                height: 35px;
                
                &.cell-provider {
                    .provider {
                        width: 200px;
                    }
                }
                
                &.cell-product {
                    width: 170px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .table-responsive-wrapper-provider {
        position: relative;
        
        .table-responsive2 { 
            .table-providers {
                > tbody {
                    > tr {
                        > td {
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
    
    .table-providers-head {
        display: table;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .table-responsive-wrapper-provider {
        .table-responsive2 {
            .table-providers {
                > tbody {
                    > tr {
                        > td {
                            &.cell-provider {
                                width: 216px;

                                .provider {
                                    width: 200px;
                                }
                            }
                            
                            &.cell-product {
                                width: 170px;
                            }                            
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .table-responsive-wrapper-provider {
        margin-left: -15px;
        margin-right: -15px;

        .table-responsive2 {
            .table-providers {
                > tbody {
                    > tr {
                        > td {
                            white-space: normal;
                            
                            &.cell-provider {
                                width: 146px;

                                .provider {
                                    width: 130px;
                                }
                            }
                            
                            &.cell-product {
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
    } 
    
    .table-providers-head {
        width: 146px;

        > tbody {
            > tr {
                > td {
                    white-space: normal;

                    &.cell-provider {
                        .provider {
                            width: 130px;
                        }
                    }
                    
                    &.cell-product {
                        width: 100px;
                    }
                }
            }
        }        
    }
}