.remote-admin {
	&__form {
		.no-label {
			margin-top: 25px;
		}
		@media (max-width: 767px) {
			.btn {
				width: 100%;
			}
		}
	}
	&__table-wrapper {
		position: relative;
		.remote-admin__table {
			margin-left: 162px;
			width: ~'-webkit-calc(100% - 162px)';
			width: ~'-moz-calc(100% - 162px)';
			width: ~'calc(100% - 162px)';
			overflow-y: hidden;
			overflow-x: auto;
			min-height: 0.01%;
			-ms-overflow-style: -ms-autohiding-scrollbar;
		}
		@media (min-width: 768px) and (max-width: 991px) {
			margin-right: -15px;
		}
		@media (max-width: 767px) {
			margin-right: -15px;
			.remote-admin__table {
				margin-left: 137px;
				width: ~'-webkit-calc(100% - 137px)';
				width: ~'-moz-calc(100% - 137px)';
				width: ~'calc(100% - 137px)';
			}
		}
	}
	&__table-table {
		margin-bottom: 0;
		border: none;
		> thead {
			display: block;
			width: 162px;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #fff;
			border-right: 1px solid #ddd;
			border-top: 2px solid #ddd;
			border-bottom: 2px solid #ddd;
			-webkit-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
			-moz-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
			box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
			z-index: 1;
			> tr {
				display: block;
				> th {
					display: block;
					border-bottom-width: 1px;
					position: relative;
					font-weight: normal;
					padding: 8px 5px 8px 8px;
					&:last-child {
						border-bottom: none;
						margin-top: -2px;
					}
					.cell-name {
						display: block;
						font-weight: 700;
						padding-bottom: 3px;
					}
					&:first-child {
						border-bottom: 2px solid #ddd;
						.cell-name {
							padding-bottom: 16px;
						}
					}
				}
			}
		}
		> tbody {
			border-top: 2px solid #ddd;
			border-bottom: 2px solid #ddd;
			> tr {
				> th {
					text-align: center;
					font-weight: 600;
					border-right: 1px solid #ddd;
					border-bottom: 2px solid #ddd;
				}
				&:nth-of-type(2) > th {
					font-weight: 300;
				}
				> td {
					text-align: center;
					font-weight: normal;
					&.success {
						background-color: #D9F6CB;
					}
					&.danger {
						background-color: #FFA9B1;
					}
					&.w-middle {
						width: 110px;
					}
					&.w-small {
						width: 50px;
					}
				}
				&:first-child {
					border-top: none;
				}
				&:nth-of-type(3) {
					border-top: 2px solid #ddd;
				}
			}
		}
		> tfoot {
			display: none;
			position: absolute;
			top: 1px;
			bottom: 1px;
			right: 0;
			z-index: 100;
			background: fade(#ffffff, 80%);
			left: 162px;
			.spinnerLoader();
		}
		&.table-days {
			> tbody > tr:nth-of-type(2) > th:nth-of-type(2n + 1) {
				border-right: none;
			}
			> tbody > tr > td:nth-of-type(2n) {
				border-right: 1px solid #ddd;
			}
		}
		&.table-weeks {
			> tbody > tr:nth-of-type(2) > th {
				border-right: none;
				&:nth-of-type(3n) {
					border-right: 1px solid #ddd;
				}
			}
			> tbody > tr > td:nth-of-type(3n) {
				border-right: 1px solid #ddd;
			}
		}
		@media (max-width: 767px) {
			> thead {
				width: 137px;
				> tr > th {
					font-size: 14px;
					&:first-child {
						font-size: 12px;
					}
				}
			}
			> tbody > tr > td {
				font-size: 14px;
			}
			> tfoot {
				left: 137px;
			}
		}
	}
	&__modal {
		width: 345px;
		.modal-header {
			border: none;
			position: absolute;
			right: 0;
			z-index: 10;
		}
		.modal-body {
			padding: 20px 20px 15px 20px;
		}
		&-title {
			font-size: 12px;
			font-weight: 600;
			margin-bottom: 8px;
		}
		&-table {
			width: inherit;
			border: none;
			margin-bottom: 12px;
			> tbody > tr  > td {
				padding: 3px 8px;
				border: none;
				font-weight: 300;
				&:first-child {
					text-align: right;
					font-weight: 600;
				}
			}
		}
		&-description {
			color: #333;
			margin-bottom: 10px;
		}
		@media (max-width: 767px) {
			width: 100%;
			&-title {
				font-size: 14px;
			}
			&-table {
				font-size: 14px;
			}
			&.modal-weeks {
				.remote-admin__modal-title {
					font-size: 12px;
				}
			}
		}
	}
}