.table-rolelaws {
	color: #333;
	
	.btn-primary {
		min-width: 116px;
	}

	tr.is-hide {
		display: none;
	}

	tbody tr td {
		vertical-align: middle;
	}

	.cell-btns .btn {
		padding: 5px 8px;
		min-width: 30px;
	}

	.row {
		text-align: right;
	}

	.row-head {
		font-weight: 700;
		font-size: 14px;
	}

	td:first-child {
		font-size: 14px;
	}

}

.form-group__checbox:not(:last-child) {
	margin-bottom: 10px;
}

.form-group__checbox-wrap {
	margin-bottom: 25px;
	padding-right: 20px;
	max-height: 270px;
	overflow: auto;
}

.form-group__checbox-wrap.size_middle {
	max-height: 370px;
}

@media (min-width: 768px) {

	tr:last-child td {
		border-bottom: 1px solid #ddd;
	}

	td:first-child {
		width: 48%;
	}

	.cell-btns {
		text-align: right;
	}

	.row-head {
		padding: 18px 10px 12px;
	}
}

@media (max-width: 767px) {
	.form-group__checbox-wrap {
		max-height: 265px;
	}

	.form-group__checbox-wrap.size_middle {
		max-height: 320px;
	}

	.table-rolelaws td {
		display: block;
	}


	.table-rolelaws .cell-btns {
		padding-top: 15px;
	}

	.mobile_width.btn-primary {
		width: 100%;
	}

	td:first-child {
		margin-bottom: 5px;
	}

	.table-rolelaws tbody tr td {
		border: none;
		padding: 0;
	}

	.table-rolelaws tbody tr {
		display: block;
		padding: 15px 0;
		border-bottom: 1px solid #ddd;
	}
	
}

.icon-edit {
	display: inline-block;
	margin-left: 8px;
	color: #2d6594;
	cursor: pointer;
}