.position-page {
    &__xml-control {
        border-width: 1px;
        width: 100%;

        border-color: #BFC9E0;
        border-style: solid;

        &--initializing {
            * > {
                visibility: hidden;
            }
        }
    }
}
