.filial-report__table {
    th {
        font-weight: 500;
        font-size: 12px;    

        &:not(:first-child) {
            width: 132px;
        }

        &:first-child{
            width: 69px;
        }

    }

    .filial-report__table-main {
        td {
        white-space: nowrap;
        }

        td:not(:first-child) {
            text-align: right;
        }

        .filial-report__table--first {
            vertical-align: top;
        }
    }

    &--footer {
        background: #F5F7FA;
        border-top-width: 2px;

        td {
            border-width: 2px;
        }

        td:not(:first-child) {
            text-align: right;
        }
    }

    &--bold {
        font-weight: 500;
    }

    &--heading {
        font-weight: 700;
        background: #F5F7FA;
    }

    &-calculation {
        td {
            width: 175px;
        }
    }

    td:first-child {
        box-shadow: 32px 8px 67px -29px rgba(0,0,0,0.7);
    }
}

.filial-report__body {
    background-color: #ffffff;
}

