.calculation-page {
  .lateness-tab {
    padding-top: 30px;
  }
  .lateness-filters {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;

  }
  .lateness-filter {
    &__positions {

      display: flex;
      justify-content: flex-end;
      min-width: 200px;
      margin-right: 20px;

      .hrm-form-field__basis {
        width: auto;
        min-width: 200px;
      }

    }
    &__lateness {
      width: 200px;
    }
  }
  .lateness-table {
    position: relative;
    &__container-cell {
      padding: 0;
      vertical-align: top;
    }
    &__intervals {
      width: 100%;
      th {
        height: 80px;
      }
    }
    &__positions {
      min-width: 100%;
    }
    &-position {
      min-width: 100%;
    }
    &__position-param {
      padding: 0 10px!important;
      vertical-align: middle;
      text-align: center;
    }
    &__lateness-degree {
      white-space: nowrap;
    }
    &__fixed {
      position: sticky;
      left: 0;
      background-color: white;
      box-shadow: 4px 0 5px -2px rgba(0, 21, 80, 0.3);

      &:before {
        content: '';
        position: absolute;
        left: -1px;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #DFE4EF;
      }
    }
    &__highlighted {
      background: #F5F7FA;
    }
  }
}
