.calculation-page {
  .lateness-table {
    position: relative;
    &__fixed {
      position: sticky;
      left: 0;
      background-color: white;
      box-shadow: 4px 0 5px -2px rgba(0, 21, 80, 0.3);
    }
  }
}