<template id="lateness-params-template">
  <!-- ko if: !table.filters.lateness() || table.filters.lateness() == '1' -->
  <th class="lateness-table__position-param">
    <div>
      &lt;5
    </div>
  </th>
  <!-- /ko -->

  <!-- ko if: !table.filters.lateness() || table.filters.lateness() == '2' -->
  <th class="lateness-table__position-param">
    <div>
      5-10
    </div>
  </th>
  <!-- /ko -->

  <!-- ko if: !table.filters.lateness() || table.filters.lateness() == '3' -->
  <th class="lateness-table__position-param">
    <div>
      &gt;10
    </div>
  </th>
  <!-- /ko -->

  <!-- ko if: !table.filters.lateness() > 0 -->
  <th class="lateness-table__position-param">
    <div>
      Всего
    </div>
  </th>
  <!-- /ko -->
</template>

<template id="interval-lateness-template">
  <!-- ko if: !table.filters.lateness() || table.filters.lateness() == '1' -->
  <td class="lateness-table__cell" data-bind="style: {
            'background-color': lateness.light > 0 ? '#B8EFD5' : ''
          }, click: function() {
            if (lateness.light > 0 && latenessPosition) {
              table.openLatenessModal(latenessPosition, latenessIntervalIndex)
            }
          }">
    <div>
      <!-- ko text: lateness.light -->
      <!-- /ko -->
    </div>
  </td>
  <!-- /ko -->

  <!-- ko if: !table.filters.lateness() || table.filters.lateness() == '2' -->
  <td class="lateness-table__cell" data-bind="style: {
            'background-color': lateness.medium > 0 ? '#FDFFB3' : ''
          }">
    <div>
      <!-- ko text: lateness.medium -->
      <!-- /ko -->
    </div>
  </td>
  <!-- /ko -->

  <!-- ko if: !table.filters.lateness() || table.filters.lateness() == '3' -->
  <td class="lateness-table__cell" data-bind="style: {
            'background-color': lateness.hard > 0 ? '#FFE6F2' : ''
          }">
    <div>
      <!-- ko text: lateness.hard -->
      <!-- /ko -->
    </div>
  </td>
  <!-- /ko -->

  <!-- ko if: !table.filters.lateness() -->
  <td class="lateness-table__cell">
    <div>
      <!-- ko text: lateness.total -->
      <!-- /ko -->
    </div>
  </td>
  <!-- /ko -->
</template>

<template id="lateness-total-template">
  <!-- ko if: !table.filters.lateness() || table.filters.lateness() == '1' -->
  <td class="lateness-table__cell">
    <div>
      <!-- ko text: lateness.light -->
      <!-- /ko -->
    </div>
  </td>
  <!-- /ko -->

  <!-- ko if: !table.filters.lateness() || table.filters.lateness() == '2' -->
  <td class="lateness-table__cell">
    <div>
      <!-- ko text: lateness.medium -->
      <!-- /ko -->
    </div>
  </td>
  <!-- /ko -->

  <!-- ko if: !table.filters.lateness() || table.filters.lateness() == '3' -->
  <td class="lateness-table__cell">
    <div>
      <!-- ko text: lateness.hard -->
      <!-- /ko -->
    </div>
  </td>
  <!-- /ko -->

  <!-- ko if: !table.filters.lateness() > 0 -->
  <td class="lateness-table__cell">
    <div>
      <!-- ko text: lateness.total -->
      <!-- /ko -->
    </div>
  </td>
  <!-- /ko -->
</template>