.footer {
  background-color: #282A2D;
  color: #fff;
  margin-top: 61px;
  font-size: 16px;
  line-height: 1.25;
  padding: 0 43px 96px;

  a{
    color: #fff;
  }

  &__inner{
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }

  &__info{
		letter-spacing: 1px;
    display: flex;
    padding-top: 36px;
  }

  	&__info-item{
			padding-left: 25px;
      margin-left: 35px;

  		&--location{
          background: url(../images/location-icon.svg) 0 0 no-repeat;
      }

      &--phone{
          background: url(../images/phone-icon.svg) 0 50% no-repeat;
      }

  	}

}


@media only screen and (max-width: 995px) {
  .footer{
    margin-top: 50px;
    padding: 0 16px;

    &__logo{
      width: 114px;

      img{
        max-width: 100%;
        height: auto;
      }

    }

  }
}


@media only screen and (max-width: 600px) {
  .footer__info-item--location{
    display: none;
  }
  .footer__info-item--phone{
		margin-left: 0;
		white-space: nowrap;  
  }

  .footer__info{
    padding-top: 0;
  }

  .footer{
    padding-bottom: 100px;
  }
}