
/*=====================> Titles ========================*/
h1,h2,h3,h4,h5,h6{
  font-weight: 900;
  font-family: 'Gilroy';
  color: #282A2D;
}

.title-1{
  font-size: 52px;
  line-height: 1.15;
}

.title-2{
  font-size: 42px;
  line-height: 1.23;
  margin-bottom: 19px;
}


.title-3{
  font-size: 28px;
  line-height: 1.23;
}

.title-4{
  font-size: 22px;
  line-height: 1.23;
}


@media only screen and (max-width: 995px) {
  
  .title-1{
    font-size: 42px;
  }

  .title-2{
    font-size: 36px;

    br{
      display: none;
    }

  }

}


@media only screen and (max-width: 768px) {
  .title-4{
    font-size: 18px;
  }
}