.hrm-scrollable-wrapper {
    position: relative;

    &__content {
        padding-bottom: 8px;
        height: 100%;
    }

    &__wrapper {
        height: 100%;
    }

    .hrm-scrollable-wrapper__curtain {
        position: absolute;
        z-index: 5;
    }

    .hrm-scrollable-wrapper__top-curtain {
        top: 0;
        right: 1px;
        left: 1px;
    }

    .hrm-scrollable-wrapper__right-curtain {
        right: 0;
        top: 1px;
        bottom: 1px;
    }

    .hrm-scrollable-wrapper__bottom-curtain {
        bottom: 0;
        right: 1px;
        left: 1px;
    }

    .hrm-scrollable-wrapper__left-curtain {
        left: 0;
        top: 1px;
        bottom: 1px;
    }

    &__content {
        overflow: auto;
    }

    &__curtain {
        content: '';

        display: block;
    }

    &__top-curtain {
        height: 28px;

        background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }

    &__right-curtain {
        width: 28px;

        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }

    &__bottom-curtain {
        height: 28px;

        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }

    &__left-curtain {
        width: 28px;

        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }

    .os-scrollbar-vertical {
        padding: 0;
        width: 4px;

        .os-scrollbar-track {
            background-color: #DFE4EF;
            border-radius: 10px;
        }

        .os-scrollbar-handle {
            background-color: #FF238D!important;
            border-radius: 10px;

            &:hover,
            &.active {
                background-color: #FF238D;
            }
        }
    }

    .os-scrollbar-horizontal {
        padding: 0;
        height: 4px!important;

        .os-scrollbar-track {
            background-color: #DFE4EF;
            border-radius: 10px;
        }

        .os-scrollbar-handle {
            background-color: #FF238D!important;
            border-radius: 10px;

            &:hover,
            &.active {
                background-color: #FF238D;
            }
        }
    }
}
