.mandocs {
	@media (min-width: 768px) and (max-width: 991px) {
		.head-with-btn {
			margin-top: 0;
			margin-bottom: 5px;
		}
	}
	@media (max-width: 767px) {
		.head-with-btn {
			margin-top: 0;
			margin-bottom: 5px;
		}
		.list-accounts {
			margin-top: 20px;
			> li:last-child {
				width: 100%;
				.modal-btn-add-time {
					width: 100%;
					margin-top: 25px;
				}
			}
		}
	}

	.block-btn-docs {
	    margin-bottom: 12px;
	    .right-btn-docs {
    		font-size: 0;
	    }
		.mandocs-download {
		    margin-bottom: 10px;
		    margin-right: 10px;
		    display: inline-block;
		    .btn {
		        > .fas {
		            margin-right: 5px;
		        }
		    }
		}

		@media (max-width: 767px) {
		    width: 100%;
		    min-width: 100%;

		    .right-btn-docs {
		    	float: none !important;
		    	margin-top: 30px;
		    }
		    .mandocs-download {
		        min-width: 216px;
		        margin-right: 30px;
		        .btn {
		        	width: 100%;
		        }
		    }
			.btn-add {
		    	width: ~'calc(100% - 246px)';
		    	min-width: 160px;
		    	max-width: 216px;
			}
		}
	}

	.addDocs {

		.addDocs-title {
			font-size: 14px;
			font-weight: bold;
	    	margin: 0 0 15px;
		}
		.addDocs-table {
			td {
				background-color: #ECF6FF;
				padding-left: 20px;
				&.cell-btn {
					width: 39px;
					.btn {
						margin: -2px 0;
					}
				}

				&.table__subtitile{
					background-color: #fff;
					font-size: 12px;
					font-weight: 700;
					color: #000000;
					padding-left: 8px;
					padding-top: 10px;
					padding-bottom: 10px;
					border-top: 2px solid #ddd;
				}

			}
		}

		@media (max-width: 1200px){

			.table{
				margin-bottom: 34px;
			}

		}

		@media (max-width: 767px) {
			.addDocs-wrapper {
				position: relative;
			    margin-left: -15px;
			    margin-right: -15px;
			}
			.addDocs-table {
				td {
					padding-left: 15px;
					font-size: 14px;
				}
			}
		}
	}

	.table-mandocs {
	    table-layout: fixed;

	    > tbody > tr > td {
	        vertical-align: middle;
	    }

	    > thead th.cell-head:first-child{
				padding-left: 35px;
				width: 32%;
	    }

	    .cell-subtitle-row{
				cursor: pointer;

	    	.cell-subtitle__btn{
	    		border: none;
	    		background: none;
	    		font-weight: bold;
					font-size: 12px;
					display: inline-block;
					outline: none;

					i{
						font-size: 14px;
						line-height: 1;
						display: inline-block;
						margin: 0 7px 0 -5px;
						vertical-align: middle;
						transition: all ease 250ms;
					}

					&.state-active i{
						transform: rotate(180deg);
					}

	    	}

	    	td{
	    		padding-top: 12px;
	    		padding-bottom: 16px;
	    	}

	    }

	    .cell-subtitle-row ~ tr:not(.cell-subtitle-row){
	    	td:first-child{
	    		padding-left: 33px;
	    	}
	    }

	    .cell-subtitle-row ~ tr:not(.cell-subtitle-row){
	    	display: none;
	    }

	    .cell-files {
	        padding-bottom: 3px;

					a:not(:first-child){
						display: none;
					}

	        .btn {
	            margin-right: 2px;
	            margin-bottom: 5px;

	            &:last-child {
	                margin-right: 15px;
	            }
	            &.btn-download {
	                padding: 5px 9px;
	            }
	        }

	        .btn-file-last {
	            margin-right: 15px;
	        }
	    }

	    .cell-btn {
	        text-align: right;
				  &__row {
						display: flex;
						justify-content: flex-end;
					}

	        .btn {
							flex-grow: 0;
							flex-shrink: 0;
	            font-weight: 600;
	            margin-left: 10px;
	        }

	        a.btn, .btn-square {
	        	width: 30px;
	        	height: 30px;
	        	padding-left: 5px;
	        	padding-right: 5px;
	        	text-align: center;
	        }
	    }

	    &.archive {
	        width: 470px;
	    }


		tfoot {
			display: none;
		}
	}

	@media (max-width: 767px) {
	    .table-mandocs-wrapper {
		    .table-responsive2 {
				margin-left: 52px;
				width: ~'calc(100% - 52px)';
		        .table-mandocs {
		            > thead {
						width: 52px;
						> tr {
							> th {
								&:last-child {
									margin-top: -1px;
									border-top: 1px solid #fff;
								}
								&.cell-head {
									.cell-head_name {
										font-size: 14px;
										visibility: hidden;
									}
								}
								&.cell-xs-icon {
									&:before {
										content: attr(data-icon);
										font-size: 14px;
									}
									.cell-xs-icon-sort {
										visibility: visible !important;
										display: flex;
										justify-content: center;
										padding-top: 3px;
										&:before {
											display: inline-block;
											-moz-osx-font-smoothing: grayscale;
											-webkit-font-smoothing: antialiased;
											font-style: normal;
											font-variant: normal;
											text-rendering: auto;
											line-height: 1;
											font-size: 16px;
											font-family: "Font Awesome 5 Pro";
											font-weight: 900;
											text-align: center;
											content: attr(data-icon);
											font-size: 14px;
										}
										&:after {
											font-size: 11px;
											padding-left: 4px;
										}
									}
								}
							}
						}
					}
		            > tbody {
			            > tr {
			                &.danger > td {
								background-color: #ffd4d4;
			                }

			                > td {
			                    font-weight: normal;
			                    max-width: 165px;
							    padding: 8px !important;
							    display: flex;
							    align-items: center;
							    padding-top: 0;
	    						white-space: nowrap;

			                    &.cell-files {
			                        padding-left: 0px;
			                        padding-top: 8px;
								    display: flex;
								    flex-wrap: wrap;
								    .btn {
								    	margin-right: 5px;
								    }
								    .btn-file-last {
								    	margin-right: 5px;
								    }
			                        .btn:last-child {
			                        	margin-right: 0;
			                        }
			                    }

			                    &.cell-btn {
			                    	border-top: none;
									padding-bottom: 24px !important;
									padding-top: 17px !important;
			                    	.btn {
			                    		font-size: 14px;
			                    	}
			                    }
			                }
			            }
		            }
		            > tfoot {
						position: absolute;
						top: 1px;
						bottom: 1px;
						right: 0;
						z-index: 100;
						background: fade(#ffffff, 80%);
						left: 52px;
						border: none;
						.spinnerLoader();
		            }
		        }
		    }
	    }
	}
}
// Form
#add-doc-modal .modal-content,
#history-modal .modal-content,
#edit-doc-modal .modal-content {
	width: 435px;
	max-width: 100%;
	margin: auto;
}
.form-docs {

    .form-group-datepicker {
		.input-group {
			width: 140px;
		}
    }

    .file-upload{
    	padding-left: 22px;
    	padding-right: 22px;
    }

    .input-group {
        .btn {
            color: @link-color;

            &:hover {
                color: @link-hover-color;
            }
        }
    }
}

.table-mandocs-upload {
    width: auto;
    border-top: 0;
    border-bottom: 0;
    font-size: inherit;

    > tbody > tr > td {
        border: 0;
        padding-bottom: 0;
        padding-left: 4px;
        padding-right: 4px;
    }

    > tbody > tr:first-child > td {
        padding-top: 0;
    }

    .btn-remove {
        background-color: #fff;
        font-size: 16px;
        line-height: 16px;
        color: #ff0000;
        margin-top: -1px;

        &:active {
          -webkit-box-shadow: none;
                  box-shadow: none;
        }

        &:hover,
        &:focus,
        &:active {
            color: darken(#ff0000, 15%);
        }
    }

    .cell-name {
        padding-left: 0;
        padding-right: 8px;
        max-width: 400px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;

        > a {
            color: #333;
            text-decoration: none;
            font-weight: 600;

            &:hover,
            &:focus,
            &:active {
                color: #333;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .form-docs {
        margin-bottom: 0;

        .form-group {
            float: none;
            margin-right: 0;
            margin-bottom: 25px;

            > label {
                display: none;
            }
        }

        .form-group-type {
            width: 100%;
        }

        .btn-primary {
            float: none !important;
            width: 100%;
            margin-top: 20px;
        }
    }
}

/************ Modal*/
.modal-dialog-docs {
    width: 530px;

    .modal-header {
        border-bottom: 0;
        padding: 30px 40px 0 40px;

        .close {
            position: relative;
            top: -10px;
            right: -20px;
        }
    }

    .modal-title {
        font-weight: 600;
    }

    .modal-body {
        padding: 20px 40px 40px 40px;
    }
}



#edit-doc-modal {
  .history {
		&-item {
			display: flex;
			font-size: 14px;

			&__date {
				color: #555555;
				width: 75px;
				margin-right: 10px;
			}
			&__name {
				color: #000;
			}
		}
	}

	#edit-doc-files {
		table-layout: fixed;
		max-width: 100%;
	}

	.cell-name {
		max-width: 300px;
		span {
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	[data-reset] {
		margin-right: 10px;
	}

	.form-footer {
		margin-top: 10px;
	}
}
