.manfines {
    &__form {
        .form-group-flex {
			.flex();
			width: 100%;
			white-space: nowrap;
			align-items: center;
			label {
				margin-right: 10px;
			}
		}
		.input-groups-periods {
			margin-top: 0;
		}
		.input-group-dash {
			width: 30px;
			text-align: center;
        }
		
		@media (min-width: 768px) and (max-width: 991px) {
			margin-bottom: 5px;

			.form-group-flex {
				display: block;
			}
			.input-groups-periods {
				margin-top: 25px;
			}
			.blockBtn {
				text-align: right;
				float: right;
				margin-top: 5px;
			}
			&.days .blockBtn {
				float: left;
				text-align: left;
				margin-top: 25px;
            }
		}
		@media (max-width: 767px) {
			max-width: 470px;
			
	        .form-group {
	            display: block;
	            float: none;
	            margin-left: 0;
	            margin-right: 0;
	        }
	        .form-control {
	            width: 100%;
	        }
	        .btn-primary {
	            margin: 0;
	            display: block;
	            width: 100%;
	        }
			label {
				display: none;
			}
			.periodDate {
				display: flex;
    			align-items: center;
    			margin-bottom: 20px;
			}
			.datepicker {
				width: 158px;
			}
			.input-group-dash {
			    margin: 0px 7px;
			}
	        &.no-indents {
	            margin-left: 0;
	        }
		}
		@media all and (max-width: 320px) {
			.datepicker {
				width: 137px;
			}
			.periodDateInput {
				width: 98px;
			}
		}
    }

    
    &__table {
        margin-bottom: 0;

        > tbody > tr > td {
            &:first-child {
                padding-left: 23px;
            }
			&:last-child {
				text-align: right;
			}
        }

        .row-head {
            font-weight: bold;
            
            > td {
                border-top: 2px solid #ddd;
            }
            
            > td:first-child {
                padding-left: 8px;
            }
        }    
    }

    &__detail {
        > thead > tr > th {
            white-space: nowrap;
        }
        > tbody > tr > td {
            line-height: 1.1;
            &.cell-btns {
                text-align: right;
                font-weight: 700;
                padding: 6px 8px;
                white-space: normal;
                .btn-sm {
                    font-size: 14px;
                    padding: 0;
                    width: 30px;
                    height: 30px;
                }
                .btn-text {
                    height: 30px;
                    width: 80px;
                    font-size: 12px;
                    line-height: 30px;
                    padding: 0;
                }
            }
			&.cell-sum {
				white-space: nowrap;
			}
        }
        @media (max-width: 991px) {
            > tbody > tr > td {
                padding: 8px 6px;
            }
        }
    }

    &__modal {
        width: 730px;

        .modal-header {
            border: none;
            position: absolute;
            right: 0;
            z-index: 10;
        }
        .modal-body {
            padding: 30px 27px 0 23px;
        }
        .modal-footer {
            border: none;
            padding: 0 27px 40px 23px;
            text-align: left;
            .btn+.btn {
                margin-left: 10px;
            }
        }
        .modal-title {
            font-size: 21px;
            line-height: 21px;
            font-weight: 600;
            margin-bottom: 26px;
        }

        &-btns {
            .flex();
            justify-content: space-between;
            .file__upload:first-child {
                margin-right: auto;
                margin-bottom: 0;
            }
        }

        .file {
            .flex();
            flex-wrap: wrap;
            margin-top: 22px;
            &__block {
                position: relative;
                width: 130px;
                margin-bottom: 20px;
                margin-right: calc(~'(100% - (4 * 130px)) / 3');
                &:last-child,
                &:nth-of-type(4n) {
                    margin-right: 0;
                }
            }
            &__img {
                width: 106px;
                height: 80px;
                background-size: cover;
            }
            &__file {
                border: 1px solid #ccc;
                width: 106px;
                height: 80px;
                .flex();
                font-size: 31px;
                i {
                    margin: auto;
                }
            }
            &__name {
                font-size: 12px;
                margin-top: 5px;
                .flex();
                flex-wrap: wrap;			
                span {
                    display: inline-block;
                    line-height: 1;
                    &:first-child {
                        white-space: nowrap;
                        max-width: 100px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }			
            }
            &__delete {
                color: #FF0000;
                font-size: 13px;
                border: none;
                background: none;
                outline: none;
                position: absolute;
                top: 0;
                right: 0;
            }
            &__upload {
                flex-basis: 100%;
                >input[type="file"] {
                    display: none;
                }
            }
            @media (max-width: 991px) {
                &__block {
                    &:nth-of-type(6n),
                    & {
                        margin-right: calc(~'(100% - (5 * 130px)) / 4');
                    }
                    &:nth-of-type(5n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}




@media (min-width: 992px) {
    .col-manfines {
        .row {
            > div {
                .table {
                    margin-top: -2px;
                }
                
                &:first-child {
                    .table {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .col-manfines-detail {
        margin-left: 5%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-manfines-detail {
        margin-left: 2%;
        width: 73%;
    }    
}

@media (max-width: 991px) {
    .col-manfines-detail {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) { 
    .col-manfines {
        .table {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 767px) {
    .table-manfines-detail {
        .cell-summ {
            text-align: left;
        }
        
        .txt-xs {
            display: inline-block;
        }
    }
    
    .col-manfines {
        .row {
            > div {
                .table {
                    margin-top: -2px;
                }
                
                &:first-child {
                    .table {
                        margin-top: 0px;
                    }
                }
                
                &:last-child {
                    .table {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}