.table-manfines {
    margin-bottom: 0;

    > tbody > tr > td {
        &:first-child {
            padding-left: 16px;
        }
    }

    .row-head {
        font-weight: bold;
        
        > td {
            border-top: 2px solid #ddd;
        }
        
        > td:first-child {
            padding-left: 8px;
        }
    }    
}

.table-manfines-detail {
    .cell-summ {
        text-align: right;
        white-space: nowrap;
    }
    
    .txt-xs {
        display: none;
    }
}

@media (min-width: 992px) {
    .col-manfines {
        .row {
            > div {
                .table {
                    margin-top: -2px;
                }
                
                &:first-child {
                    .table {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .col-manfines-detail {
        margin-left: 5%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-manfines-detail {
        margin-left: 2%;
        width: 73%;
    }    
}

@media (max-width: 991px) {
    .col-manfines-detail {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) { 
    .col-manfines {
        .table {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 767px) {
    .table-manfines-detail {
        .cell-summ {
            text-align: left;
        }
        
        .txt-xs {
            display: inline-block;
        }
    }
    
    .col-manfines {
        .row {
            > div {
                .table {
                    margin-top: -2px;
                }
                
                &:first-child {
                    .table {
                        margin-top: 0px;
                    }
                }
                
                &:last-child {
                    .table {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}