.mangen {
	
	@media (min-width: 768px) and (max-width: 991px) {
		.head-with-btn {
			margin-top: 0;
			margin-bottom: 5px;
		}
	}
	@media (max-width: 767px) {
		.head-with-btn {
			margin-top: 0;
			margin-bottom: 5px;
		}
		.list-accounts {
			margin-top: 20px;
			> li:last-child {
				width: 100%;
				.modal-btn-add-time {
					width: 100%;
					margin-top: 25px;
				}
			}
		}
	}
	
	.tab-content-lk.big-margin-top {
		margin-top: 30px;
	}
	
	.form-mangen {
		.form-group-flex {
			.flex();
			width: 100%;
			white-space: nowrap;
			align-items: center;
			label {
				margin-right: 10px;
			}
		}
		.input-groups-periods {
			margin-top: 0;
		}
		.input-group-dash {
			width: 30px;
			text-align: center;
		}
		
		@media (min-width: 768px) and (max-width: 991px) {
			margin-bottom: 5px;

			.form-group-flex {
				display: block;
			}
			.input-groups-periods {
				margin-top: 25px;
			}
			.blockBtn {
				text-align: right;
				float: right;
				margin-top: 5px;
			}
			&.days .blockBtn {
				float: left;
				text-align: left;
				margin-top: 25px;
			}
		}
		@media (max-width: 767px) {
			max-width: 470px;
			
	        .form-group {
	            display: block;
	            float: none;
	            margin-left: 0;
	            margin-right: 0;
	        }
	        .form-control {
	            width: 100%;
	        }
	        .btn-primary {
	            margin: 0;
	            display: block;
	            width: 100%;
	        }
			label {
				display: none;
			}
			.periodDate {
				display: flex;
    			align-items: center;
    			margin-bottom: 20px;
			}
			.datepicker {
				width: 158px;
			}
			.input-group-dash {
			    margin: 0px 7px;
			}
	        &.no-indents {
	            margin-left: 0;
	        }
		}
		@media all and (max-width: 320px) {
			.datepicker {
				width: 137px;
			}
			.periodDateInput {
				width: 98px;
			}
		}
	}
	.table-mangen-wrapper {
		@media (max-width: 767px) {
			position: relative;
		}
	}
	.table-mangen-wrapper.hidden-xs .table {
		thead {
			tr {
				th {
					font-weight: 700;
					text-align: center;
					padding: 8px 0;
					
					&:first-child {
						font-weight: bold;
						text-align: left;
					}
				}
				&:last-child th {
					font-weight: normal;
					text-align: center;
					white-space: nowrap;
				}
			}
			@media (min-width: 768px) and (max-width: 991px) {
				tr {
					th {
						padding: 8px 8px;
						
						&.md-align-left {
							text-align: left;
						}
						&.md-big-pad {
							padding-right: 20px;
						}
						&.md-wide-col {
							width: 160px;
							padding: 8px 0;
						}
					}
					&:first-child th:first-child {
						padding-left: 15px;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					text-align: center;
					padding: 8px 15px;
					white-space: nowrap;
					
					&:first-child {
						text-align: left;
					}
				}
				&:last-child {
					td {
						font-weight: 700;
					}
				}
			}
			@media (min-width: 768px) and (max-width: 991px) {
				tr {
					td {
						padding: 8px 4px;
						&:first-child {
							padding-left: 15px;
						}
					}
				}
			}
		}
	    .cell-all {        
	        background-color: #ededed;
	    }
	}

	@media (max-width: 767px) {
		.table-mangen-wrapper {
		    margin-left: 0;
		    margin-right: 0;
		    .table-responsive2 {
				margin-left: 0;
				width: inherit;
			}
		}
		.table-mangen-wrapper.visible-xs .table {
			margin-left: 185px;
			width: ~'calc(100% - 185px)'; 
			border: none;
			thead {
				z-index: 102;
				width: 185px;
				position: absolute;
			    top: 0;
			    left: 0;
			    border-bottom: 2px solid #ddd;
				border-top: 2px solid #ddd;
				border-right: 1px solid #ddd;
				-webkit-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
				-moz-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
				box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.25);
				> tr {
					> th {
						font-weight: 600;
						font-size: 12px;
						text-align: left;
						border-bottom-width: 1px;
						padding: 8px 8px;
						&:first-child {
							font-weight: bold;
							text-align: left;
						}
						&:last-child {
							border-bottom: none;
						}
						&.sub-col {
							margin-left: 20px;
							padding-left: 0;
						}
					}
				}
			}
			tbody {
			    border-top: 2px solid #ddd;
			    border-bottom: 2px solid #ddd;
				> tr {
					> td {
						padding: 8px 15px;
						font-weight: normal;
						font-size: 12px;
						min-width: 100px;
						white-space: normal;
						align-items: center;
						text-align: center;
						&:first-child {
							font-weight: bold;
							border-top: none;
						}
					}
				}
			}
		    .cell-all {        
		        background-color: #ededed;
		    }
		}
	}
	
	.table-mangen-worktime {
		margin-top: 10px;
		
		@media (max-width: 767px) {
			.table-responsive2 {
				margin-left: 52px;
				width: ~'calc(100% - 52px)';
			}
		}
		
		@media (min-width: 768px) {	
			.wd10 {
				width: 10%;
			}			
			/*.wd40 {
				width: 40%;
			}
			.wd16 {
				width: 16%;
			}

			.wd4 {
				width: 4%;
			}*/
		}
		
		.time-work {
			@media (min-width: 992px) {
				.flex();
				.flex-align-items(center);
			}			

			ul {
				margin: 0 0 0 20px;
				list-style: none;
				padding: 0;
				
				li {
					white-space: nowrap;
				}
			}
			
			@media (max-width: 991px) {
				ul {
					margin-left: 0;
				}
			}
		}
		
		.table {
			@media (min-width: 768px) and (max-width: 991px) {
				position: inherit;
				margin: 0;
				width: 100%;
			}
			@media (max-width: 767px) {
				//margin-left: 52px;
				width: ~'calc(100% - 52px)';
			}
			
			thead {
				z-index: 102;
				
				@media (min-width: 768px) and (max-width: 991px) {
					width: 100%;
					display: table-row-group;
					position: inherit;
					
					> tr {
						display: table-row;
						> th {
							display: table-cell;
							padding: 8px 8px;
							
							&:last-child {
								margin-top: -1px;
							}
							&.cell-head {
								.cell-head_name {
									font-size: 11px;
								}
							}
						}
					}
				}
				@media (max-width: 767px) {
					width: 52px;
					
					> tr {
						> th {
							min-height: 35px;
							&:last-child {
								margin-top: -1px;
							}
							&.cell-head {
								.cell-head_name {
									font-size: 14px;
								}
							}	
							&.cell-short-text {
								padding: 0 8px;
							}
							&.cell-xs-icon {
								&:before {
									content: attr(data-icon);
									font-size: 14px;
								}
								&.big-xs:before {
									top: 50%;
									margin: 0;
									transform: translate(0, -50%);
								}
								.cell-xs-icon-sort {
									visibility: visible !important;
									display: flex;
									justify-content: center;
									padding-top: 3px;
									&:before {
										display: inline-block;
										-moz-osx-font-smoothing: grayscale;
										-webkit-font-smoothing: antialiased;
										font-style: normal;
										font-variant: normal;
										text-rendering: auto;
										line-height: 1;
										font-size: 16px;
										font-family: "Font Awesome 5 Pro";
										font-weight: 900;
										text-align: center;
										content: attr(data-icon);
										font-size: 14px;
									}
									&:after {
										font-size: 11px;
										padding-left: 4px;
									}
								}
							}
						}
					}
				}
			}
			tbody {
				> tr {
					> td {
						padding: 8px 8px;
						font-weight: normal;
						transition: all .3s ease;
						vertical-align: middle;
						min-height: 35px;
						
						.fa-rub {
							font-weight: 300;
						}
						
						@media (min-width: 768px) {
							&:last-child {
								padding-right: 0;
								text-align: right;
							}
						}
					}
				}
				@media (min-width: 768px) and (max-width: 991px) {
					display: table-row-group;
					
					> tr {
						display: table-row;
						
						> td {
							display: table-cell;
							padding: 8px 8px;
							width: 195px;
							
							&:first-child span {
								display: block;
								margin-left: 0;
							}
						}
						
						&:first-child > td {
							padding: 8px 8px;
						}
					}
				}
				@media (max-width: 767px) {
					> tr {
						> td {
							min-width: 100px;
							padding: 8px 8px;
							white-space: normal;
							align-items: center;
							
							&:first-child span {
								display: block;
								margin-left: 0;
							}
							&:first-child {
								color: #000;
							}
							.allcontent {
							    width: 300px;
							}
							&.cell-short-text {
								padding: 0 8px;
							}
						}
						&:first-child > td {
							padding-left: 17px !important;
						}
					}
				}
			}
			tfoot {
				display: none;
				@media (max-width: 767px) {
					position: absolute;
					top: 1px;
					bottom: 1px;
					right: 0;
					z-index: 100;
					background: fade(#ffffff, 80%);
					left: 52px;
					.spinnerLoader();
				}
			}
		}
		.btn {
			width: 34px;
			height: 34px;
			padding: 6px 11px;
			margin: -2px 0;
		}
		.morelink {
			display: block;
			width: 70px;
		}
	}
	
	// .pagination {
	// 	margin: 28px 0 20px 0;
	// }	
}

.mangen-modal {
	
	.modal-dialog {
		width: 496px;
		.modal-content {
			width: 496px;
		    border: none;
		    border-radius: 0;
			.modal-header {
				padding: 20px 20px 0 30px;
				border-bottom: none;
			}
			.modal-body {
				padding: 0 20px 23px 30px;
			}
		}
	}
	
	.mangen-modal-form {
		
		.mangen-textarea {
			min-height: 100px;
		}
		.form-btns {
			margin-top: 20px;
			text-align: right;
			.btn {
			
			}
		}
		
		.mangen-times {
			.flex();
			.flex-align-items(center);
			
			.form-control {
				width: 105px;
				text-align: center;
			}
			
			.form-group-dash {
				width: 30px;
			    text-align: center;
			    padding-top: 5px;				
			}
			
			&.has-error {
				flex-wrap: wrap;
				
				label {
					color: #a94442;
				}
				
				.help-block {
					width: 100%;
					margin-top: -10px;
					margin-bottom: 15px;
				}
			}
		}
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		.modal-dialog {
			width: 496px;
		}
	}
	@media (max-width: 767px) {
		.modal-dialog {
			width: 100%;
			margin: 0;
			.modal-content {
				width: 100%;
			}
		}
	}
}
