.sum-yes {
    background-color: #e1f6cc;
}

.sum-no {
    background-color: #ffa9b1;
}   

.sum-null {
    background-color: #ededed;
}

.persacc-sum {
    margin-bottom: 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    
    .fa {
        font-size: 18px;
        color: #333;
    }
}

.col-persacc-history {
    width: 55%;
}

.col-persacc-operations {
    width: 41%;
    margin-left: 4%;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-persacc-history {
        width: 55%;
    }

    .col-persacc-operations {
        width: 44.5%;
        margin-left: 0.5%;
    }
    
    .form-mandep-history {
        white-space: nowrap;
        margin-bottom: 20px;

        &.no-indents {
            margin-left: -5px;
        }

        .form-group {
            margin-left: 5px;
            margin-right: 5px;
        }
        
        label {
            margin-right: 5px;
        }
        
        .form-group-datepicker {
            .input-group-dash {
                margin: 0 2px;
            }
            
            .input-group {
                width: 135px;
                
                .form-control {
                    padding-right: 0;
                }
            }
        }
        
        .btn-primary {
            padding-left: 12px;
            padding-right: 12px;
            margin-left: 0px;
        }        
    }
    
    .form-mandep-operat {
        .form-group-sum {
            .form-control {
                min-width: 135px;
            }
        }
        .form-group-datepicker {
            .input-group {
                min-width: 135px;
                
                .form-control {
                    padding-right: 0;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .col-persacc-history {
        width: 100%;
    }

    .col-persacc-operations {
        width: 100%;
        margin-left: 0;
    }
    
    .form-mandep-operat {
        .form-group-datepicker {
            .input-group {
                width: auto;
                max-width: 140px;
            }
        }
        
        .form-group-radio {
            .btn-group {
                width: 100%;
                
                .btn {
                    width: 50%;
                }
            }
        }
    }    
}

@media (max-width: 767px) {
    .persacc-sum {
        font-size: 12px;
        margin-bottom: 5px;
        
        .fa {
            font-size: 12px;
        }
    }

    .form-mandep-operat {
        max-width: 500px;
        
        .form-group-radio {
            .btn-group {
                margin-top: 0;
            }
        }
        
        .form-btns {
            .btn {
                width: 100%;
            }
        }
    }
    
    .form-mandep-history {
        white-space: nowrap;
        margin-top: 25px;

        &.no-indents {
            margin-left: 0;
        }

        .form-group {
            display: inline-block;
            vertical-align: middle;
            margin-left: 0;
            margin-bottom: 0;
        }
    }
}

@media (max-width: 500px) {
    .form-mandep-history {
        .btn-primary {
            margin-top: 15px;
            display: block;
            width: 100%;
        }
    }
}