.privdocs {
	@media (max-width: 767px) {
		.info-peracc .list-accounts {
			margin-top: 20px;
		}
		&__btns {
			.btn-group {
				width: 100%;
				margin-bottom: 20px;
				.btn {
					width: 33.33%;
				}
			}
			&-add {
				width: 100%;
				margin-bottom: 20px;
				.btn {
					width: 100%;
				}
			}
		}
	}
	
	&__table {
		margin: 30px 0 0 0;
		.table-responsive {
			margin-bottom: 0;
		}
		&-table {
			margin-bottom: 0;
			> thead {
				> tr {
					> th {
						height: 50px;
						&.cell-head-date {
							min-width: 90px;
						}
					}
				}
			}
			> tbody {
				> tr {
					> td {
						font-weight: 300;
						padding: 6px 8px;
						&.cell-btn {
							text-align: right;
							width: 120px;
							padding: 6px 0;
							font-size: 0;
							.btn {
								width: 34px;
								height: 34px;
								padding: 6px 0;
								&:not(:last-child) {
									margin-right: 9px;
								}
								&.btn-check {
									color: #5CB85C;
								}
							}
						}
					}
				}
			}
		}
		@media (max-width: 991px) and (min-width: 768px) {
			margin: 25px 0 0 0;
		}
		@media (max-width: 767px) {
			margin: 20px -15px 0;
			.table-responsive {
				.privdocs__table-table {
					> tbody {
						> tr {
							padding: 16px 0;
							> td {
								&:before {
									font-weight: bold;
									left: 14px;
								}
								&.cell-btn {
									padding-left: 120px;
									width: auto;
									text-align: left;
								}
							}
						}
					}
				}
			}
		}
	}
	&__modal {
		width: 500px;
		.modal-content {
			width: 500px;
			.modal-header {
				padding: 30px 30px 0 30px;
			}
			.modal-body {
				padding: 20px 30px 25px 30px;
			}
		}
		&-form {
			margin-bottom: 0;
			.form-group-btn {
				margin-top: 25px;
			}
		}
		@media (max-width: 767px) {
			width: 100%;
			.modal-content {
				width: 100%;
				.modal-header {
					padding: 25px 25px 0 25px;
				}
				.modal-body {
					padding: 20px 25px 25px 25px;
				}
			}
			.form-group-btn .btn {
				width: 100%;
			}
		}
	}
}