@import '../../base/_icons.less';

.hrm-select {
    .select2-selection {
        display: flex;
        height: 18.4px;
        border: none;

        background: none;
    }

    .select2-selection__rendered {
        flex-grow: 1;
        padding-left: 0 !important;

        font-family: Fira Sans, sans-serif;
        font-size: 15px;
        line-height: normal !important;
        color: #000000 !important;
    }

    .select2-selection__arrow {
        display: inline-flex;
        position: unset !important;
        width: unset !important;
        height: unset !important;

        b {
            .arrow-down-icon(#8E9CBB) !important;

            display: inline-block;
            align-self: flex-end;
            margin: 0 !important;
            margin-bottom: 2px !important;
            position: unset !important;
            border: none !important;
        }
    }
}

.select2-dropdown.hrm-select__dropdown {
    border: none;
    padding: 10px;

    background-color: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 15, 38, 0.25);
    border-radius: 6px !important;

    .select2-results {
        max-height: 145px !important;
        overflow-y: auto;

        .os-scrollbar-vertical {
            padding: 0;
            width: 4px;

            .os-scrollbar-track {
                background-color: #DFE4EF;
                border-radius: 10px;
            }

            .os-scrollbar-handle {
                background-color: #FF238D;
                border-radius: 10px;

                &:hover,
                &.active {
                    background-color: #FF238D;
                }
            }
        }

        &.os-host-overflow-y {
            padding-right: 16px;
        }
    }

    .select2-results__options {
        max-height: unset !important;
        overflow: visible;
    }

    .select2-results__option {
        padding: 1px 14px;

        font-size: 15px;
        line-height: 190%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &--highlighted {
            background-color: #E1EDFF !important;
            color: #000 !important;
            border-radius: 50px;
        }

        &[aria-selected="true"] {
            background: none;
        }
    }
}