@import '../../base/_variables.less';

@option-hover-transition-duration: 0.2s;

.hrm-select {
    .hrm-checkbox-group {
        white-space: nowrap;
        width: 100px;
        text-align: right;
    }

    &-with-flag {
        .select2 {
            max-width: calc(100% - 100px);
        }

        .select2-search {
            max-width: 100%;
        }
    }

    &.select2-container--disabled {
        pointer-events: none;

        .select2-selection {
            &--single {
                background: none;
            }
        }
    }

    .select2-selection {
        display: flex;
        height: 18.4px;
        border: none;

        background: none;

        &--multiple {
            border: none !important;
            min-height: unset;
            height: unset;
        }

        &--single {
            .select2-selection__rendered {
                display: flex !important;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .select2-selection__rendered {
        flex-grow: 1;
        padding-left: 0 !important;

        font-family: Fira Sans, sans-serif;
        font-size: 15px;
        line-height: normal !important;
        color: #000000 !important;
    }

    .select2-selection__placeholder {
        font-size: 15px;
        color: #8E9CBB !important;
    }

    .select2-selection__clear {
        @background-svg: '
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.2553 11.707C0.864771 11.3164 0.864771 10.6833 1.2553 10.2927L10.2928 1.25383C10.6833 0.863306 11.3165 0.863307 11.707 1.25383C12.0975 1.64436 12.0975 2.27752 11.707 2.66804L2.66951 11.707C2.27898 12.0975 1.64582 12.0975 1.2553 11.707Z" fill="#FF238D"/>
                <path d="M11.6132 11.6445C12.0038 11.254 12.0038 10.6208 11.6132 10.2303L2.63679 1.25383C2.24627 0.863306 1.6131 0.863307 1.22258 1.25383C0.832056 1.64436 0.832056 2.27752 1.22258 2.66804L10.199 11.6445C10.5896 12.035 11.2227 12.035 11.6132 11.6445Z" fill="#FF238D"/>
            </svg>
        ';

        width: 12px;
        height: 12px;
        flex-shrink: 0;
        position: relative;
        order: 1;

        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        @escaped-background-svg: escape(@background-svg);
        background-image: url('data:image/svg+xml,@{escaped-background-svg}');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .select2-selection--multiple .select2-selection__rendered {
        display: inline-flex !important;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -5px;
        margin-left: -5px;

        .select2-selection__choice,
        .select2-search {
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 0;
        }
    }

    .select2-selection--multiple .select2-search {
        .select2-search__field {
            margin-top: 0;
        }
    }

    .select2-selection__arrow {
        display: inline-flex;
        position: unset !important;
        width: unset !important;
        height: unset !important;

        b {
            .arrow-down-icon(@color) {
                @svg-content: escape('
                    <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.30964 6.70905C4.92189 6.32111 4.92189 5.69215 5.30964 5.30421L10.305 0.306472C10.6928 -0.0814626 11.3214 -0.081462 11.7092 0.306473C12.0969 0.694408 12.0969 1.32337 11.7092 1.71131L6.71381 6.70905C6.32606 7.09698 5.69739 7.09698 5.30964 6.70905Z" fill="@{color}"/>
                        <path d="M6.70587 6.70905C7.09363 6.32111 7.09363 5.69215 6.70587 5.30421L1.69498 0.290951C1.30723 -0.096984 0.678565 -0.0969834 0.290814 0.290951C-0.0969378 0.678886 -0.0969378 1.30785 0.290814 1.69579L5.3017 6.70905C5.68946 7.09698 6.31812 7.09698 6.70587 6.70905Z" fill="@{color}"/>
                    </svg>
                ');
                width: 12px;
                height: 7px;
                background-image: url('data:image/svg+xml,@{svg-content}');
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }

            .arrow-down-icon(#8E9CBB) !important;

            display: inline-block;
            align-self: center;
            margin: 0 !important;
            margin-top: 2px !important;
            position: unset !important;
            border: none !important;
        }
    }

    .select2-selection__choice {
        display: flex;
        align-items: center;
        height: 30px;
        padding-right: 11.5px !important;
        padding-left: 11.5px !important;

        background: none !important;
        border-color: #D3D8DF !important;
        border-radius: 50px !important;

        font-weight: 500;
        font-size: 12px;

        .select2-selection__choice__remove {
            order: 1;
            margin-left: 10px;
        }
    }

    .select2-selection__choice__remove {
        @background-svg: '
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.2553 11.707C0.864771 11.3164 0.864771 10.6833 1.2553 10.2927L10.2928 1.25383C10.6833 0.863306 11.3165 0.863307 11.707 1.25383C12.0975 1.64436 12.0975 2.27752 11.707 2.66804L2.66951 11.707C2.27898 12.0975 1.64582 12.0975 1.2553 11.707Z" fill="#FF238D"/>
                <path d="M11.6132 11.6445C12.0038 11.254 12.0038 10.6208 11.6132 10.2303L2.63679 1.25383C2.24627 0.863306 1.6131 0.863307 1.22258 1.25383C0.832056 1.64436 0.832056 2.27752 1.22258 2.66804L10.199 11.6445C10.5896 12.035 11.2227 12.035 11.6132 11.6445Z" fill="#FF238D"/>
            </svg>
        ';

        width: 12px;
        height: 12px;
        position: relative;

        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        @escaped-background-svg: escape(@background-svg);
        background-image: url('data:image/svg+xml,@{escaped-background-svg}');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .select2-search__field {
        &::placeholder {
            color: #8E9CBB;
        }
    }

    &--has-value .select2-search__field {
        font-size: 12px !important;
    }

    &__rendered-text {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.select2-dropdown.hrm-select__dropdown {
    border: none;
    padding: 10px;

    background-color: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 15, 38, 0.25);
    border-radius: 6px !important;

    .select2-search.select2-search--dropdown {
        position: relative;
        padding: 0 14px;
        margin-bottom: 13px;

        &:before {
            @background-svg: '
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.4142 10L13.9497 13.5355M11 6C11 8.76142 8.76142 11 6 11C3.23858 11 1 8.76142 1 6C1 3.23858 3.23858 1 6 1C8.76142 1 11 3.23858 11 6Z" stroke="#8E9CBB" stroke-width="2" stroke-linecap="round"/>
                </svg>
            ';

            content: '';

            width: 15px;
            height: 15px;
            position: absolute;
            top: 10px;
            left: 15px;

            @escaped-background-svg: escape(@background-svg);
            background-image: url('data:image/svg+xml,@{escaped-background-svg}');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }

    .select2-search__field {
        border: none;
        border-bottom-width: 1px;
        padding: 9.5px 0 8px 25px;

        font-size: 13px !important;
        border-bottom-style: solid;
        border-bottom-color: #DFE4EF;
    }

    .select2-results {
        max-height: 145px !important;
        overflow-y: auto;

        .os-scrollbar-vertical {
            padding: 0;
            width: 4px;

            .os-scrollbar-track {
                background-color: #DFE4EF;
                border-radius: 10px;
            }

            .os-scrollbar-handle {
                background-color: #FF238D;
                border-radius: 10px;

                &:hover,
                &.active {
                    background-color: #FF238D;
                }
            }
        }

        &.os-host-overflow-y {
            padding-right: 16px;
        }
    }

    .select2-results__options {
        max-height: unset !important;
        overflow: visible;
    }

    .select2-results__option {
        padding: 1px 14px;

        font-size: 15px;
        line-height: 190%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 50px;

        transition: background-color @option-hover-transition-duration @hover-transition-timing-function,
                    color @option-hover-transition-duration @hover-transition-timing-function;

        &--highlighted {
            background-color: #E1EDFF !important;
            color: #000 !important;
        }

        &[aria-selected="true"] {
            background: none;
            color: #8E9CBB;
        }

        &[role="group"] {
            border-radius: 0;
        }
    }

    .select2-results__group {
        color: #8E9CBB;
        font-size: 13px;
        font-weight: 500;
    }
}

.hrm-dishes-select {
    &-dropdown {
       .dish-category-option {
           color: #12C971;
           font-weight: 500;
           &:not([has-category]) {
               display: none;
           }
       }

       [aria-selected="true"] .dish-category-option {
           color: #89E4B8;
       }
       .dish-option {
           font-weight: 500;
       }
       .dish-option[has-category] {
           padding-left: 10px;
           font-weight: normal;
       }
    }

    .select2-selection__choice {
        position: relative;
        overflow: hidden;

        .dish-category-value {
            &:before {
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: #D0F4E3;
                z-index: -1;
            }
        }
    }
}



@media (max-width: @mobile-max-width) {
    .select2-dropdown.hrm-select__dropdown {
        width: 0 !important;
    }
}

@media (min-width: @mobile-max-width + 1) {
    .select2-dropdown.hrm-select__dropdown {
        width: unset !important;
    }
}
