.big-h1 {
	font-size: 20px;
}

.surcharge {
	margin-bottom: 30px;	
}

.datepicker-surcharge {
	padding: 0;
	
	.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single {
		box-shadow: none !important;
		border-color: #ccc !important;
	}
	
	.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
		border-bottom-left-radius: 4px;
	}
	
	.select2-container--default .select2-selection--multiple {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

.datepicker-surcharge-block {
	display: none !important;
}

.surcharge-period-week {
	input {
		position: absolute;
		opacity: 0;
		left: -999999px;
		top: -999999px;
		
		&:checked + span {
			background-color: #04c;
			border-color: #04c;
			color: #fff;
		}
	}
	
	.checkbox {
		display: inline-block;
		margin: 3px 0 5px;
		span {
			height: 30px;
			line-height: 28px;
			min-width: 30px;
			text-align: center;
			border: 1px solid #ccc;
			border-radius: 4px;
			margin-right: 5px;
			font-size: 14px;
			display: inline-block;
			text-transform: lowercase;
		}
		label {
			margin: 0;
			padding-left: 0;
			font-weight: normal;
		}
		
		&.disabled {
			span {
				background-color: #e6e6e6;
			}
		}
	}
}

.surcharge-period-month-input {
	&.select2-container--open.select2-container--below .select2-selection--single, &.select2-container--open.select2-container--below .select2-selection--multiple {
		border-bottom-left-radius: 4px !important;
		border-bottom-right-radius: 4px !important;
	}
}

.surcharge-period-month-block .select2-dropdown {
	position: absolute;
	top: 100%;
	left: 15px;
	margin-top: 3px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	padding: 15px;
	width: 272px !important;	
	background-color: #fff;
	
	.select2-results__group {
		display: none !important;
	}
	
	.select2-results__options {
		overflow-y: visible !important;
	}
	
	.select2-results__option[aria-selected=true], .select2-results__option--highlighted[aria-selected] {
		background-color: #e6e6e6 !important;
		color: #000 !important;
	}
	
	i {
		display: none;	
	}
	
	&::before {
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		top: -6px;
		left: 10px;
		display: block;
		background-color: #fff;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		transform: rotate(45deg);
		z-index: 600;
	}
	
	li {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: block;
			
			li {
				height: 30px;
				cursor: pointer;
				width: 30px;
				text-align: center;
				line-height: 28px;
				border: 1px solid #ccc;
				border-radius: 4px;
				margin: 0 5px 5px 0 !important;
				padding: 0 !important;
				float: left;
				
				&:last-child {
					margin-right: 0 !important;	
				}					
			}
		}	
		&:last-child {
			ul li {
				margin-bottom: 0 !important;
			}	
		}		
	}
}

.surcharge-price {
	.form-group {
		margin-right: 0 !important;
		float: left;
		
		&:last-child {
			margin-left: -1px;	
		}
		
		.surcharge-price-input {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		.radio-inline {
			padding-left: 0;	
			margin-left: -1px !important;
			float: left;
			margin-top: 0;
			
			&:first-child i {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
			
			input {
				opacity: 0;
				position: absolute;
				left: -999999px;
				top: -999999px;
				
				&:checked + i {
					background-color: #e6e6e6;
				}
			}
			
			i {
				display: block;
				width: 34px;
			    height: 34px;
			    padding: 6px;
			    text-align: center;
			    font-size: 13px;
			    line-height: 1.42857143;
			    color: #000;
			    background-color: #fff;
			    background-image: none;
			    border: 1px solid #ccc;				    
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			}
		}
	}
	.block-radio-inline + .form-group {
		width: ~'calc(100% - 66px)';
	}
}
.datepicker .active.day {
	background-color: #e6e6e6 !important;
	color: #000;
	background-image: none !important;
}

.surcharge-time {
	.flex();
	.flex-align-items(center);
	
	.form-group {
		margin-bottom: 0;
	}
	.form-control {
		text-align: center;
	}
	.form-group-dash {
	    text-align: center;
	    padding: 0 13px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1160px) {
	.surcharge-types {
		.form-group {
			width: 28%;
		}		
	}
	.form-group-surcharge-period {
		width: 22%;	
	}
}
@media(max-width: 767px) {
	.surcharge-period-month-block .select2-dropdown {
		padding: 25px 30px;
		width: 302px !important;
		i {	
			display: block;
			color: #aaa;
			position: absolute;
			right: 10px;
			top: 10px;
			font-size: 12px;
		}	
	}
	.surcharge-price {
		.form-group .radio-inline i {
			width: 45px;
		}
		.block-radio-inline + .form-group {
			width: ~'calc(100% - 88px)';
		}
	}
	.form-surcharge .form-btns-multi .btn-group-end {
		display: block;
		.btn {
			width: 100%;
			margin: 0 0 15px 0;
		}
	}
}

@media(max-width: 320px) {
	.surcharge-period-month-block {
		width: 100% !important;
		left: 0 !important;
		.select2-dropdown {	
			width: 95% !important;
			left: 2.5% !important;
		}
	}
 }