.form-surcharges {
    
    hr {
        margin-top: 15px;
        margin-bottom: 30px;
        border-top-color: #dddddd;
        float: left;
        
        &.hr-surcharge-1 {
            width: 97%;
        }
        
        &.hr-surcharge-2 {
            width: 83%;
        }
        
        &.hr-surcharge-3 {
            width: 80%;
        }
        
        &.hr-surcharge-4 {
            width: 69%;
        }        
    }
    
    label {
        white-space: nowrap;
    }
    
    input[type="text"] {
        &.form-control {
            text-align: center;
        }
    }
    
    .col-frm-1 {
        width: 11%;
    }
    
    .col-frm-2 {
        width: 14%;
    }
    
    .col-frm-btn {
        float: left;
        margin-top: 25px;
        white-space: nowrap;
        
        .btn {
            background-color: transparent;
            margin-right: 5px;
        }
        
        .btn-add {
            color: #38a138;
        }
        
        .btn-cancel {
            color: #ff0000;
        }
    }
    
    .block-surcharge-head {
        margin-top: 15px;
        margin-bottom: 20px;

        .btn {
            float: right;
        }
        
        h2 {
            margin: 0;
            padding-top: 7px;
        }
    }
    
    .block-surcharge {
        margin-bottom: 20px;
    }
    
    .form-btns {
        .btn {
            margin-left: 15px;
        }

        .btn-success {
            float: left;
            margin-left: 0;
        }
    }
    
}