@import "components/variables.less";

.emplform {
    &__body-content {
        overflow-x: hidden;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 27px;
    }

    &__source {
        &-icon {
            display: none;
            vertical-align: middle;
            font-size: 14px;
            margin-left: 12px;

            &--hh {
                &:before {
                    content: '';
                    .hh-icon();
                }
            }
        }

        &[data-source="manual"] .emplform__source-icon--manual,
        &[data-source="external"] .emplform__source-icon--external,
        &[data-source="site"] .emplform__source-icon--site,
        &[data-source="hh"] .emplform__source-icon--hh {
            display: inline-block;
        }
    }

    &__social-picker {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    &__actions {
        height: 60px;
        align-items: center;
    }

    &__actions-content {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 31px - 10px;
    }

    &__action {
        margin-left: 10px;
    }
}

@media (max-width: 767px) {
    .emplform {
        &__actions-content {
            padding-left: 15px - 10px;
        }
    }
}

.btn-group-radio {
    margin-bottom: 40px;
}

.block-group-btns {
    .flex();
    justify-content: space-between;
    margin-bottom: 40px;

    .btn-group {
        margin-bottom: 0;
    }

    .btn-print {
        width: 130px;

        .fa-print {
            margin-right: 10px;
        }
    }
}

.form-cand,
.form-empl,
.form-empl-st1,
.form-empl-st2 {
    h2 {
        margin-top: 0;
    }

    .form-block {
        margin-bottom: 40px;
    }

    .form-group {
        > label {
            white-space: nowrap;
        }
    }

    .form-control-sm {
        width: 140px;
    }

    .form-control-text {
        height: 80px;
    }

    .form-group-serial {
        width: 100px;
    }

    .form-group-number {
        width: 180px;
    }

    .radio-inline {
        padding-left: 27px;

        input[type="radio"] {
           margin-left: -27px;
        }
    }

    .checkbox label {
        padding-left: 27px;

        input[type="checkbox"] {
           margin-left: -27px;
        }
    }

    .block-radio-inline {
        padding-top: 7px;

        .radio-inline {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .btn-remove,
    .btn-download {
        background-color: #fff;
        font-size: 16px;
        line-height: 16px;

        &:active {
          -webkit-box-shadow: none;
                  box-shadow: none;
        }
    }

    .btn-remove {
        color: #ff0000;

        &:hover,
        &:focus,
        &:active {
            color: darken(#ff0000, 15%);
        }
    }

    .table-docs {
        width: auto;
        border-top: 0;
        border-bottom: 0;
        font-size: inherit;

        > tbody > tr > td {
            border: 0;
            padding-bottom: 0;
            padding-left: 4px;
            padding-right: 4px;
        }

        > tbody > tr:first-child > td {
            padding-top: 0;
        }

        .cell-name {
            padding-left: 0;
            padding-right: 16px;
            max-width: 400px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: middle;

            > a {
                color: #000;
                text-decoration: none;
                font-weight: 600;

                &:hover,
                &:focus,
                &:active {
                    color: #000;
                    text-decoration: none;
                }
            }
        }

        .btn-remove {
            margin-top: -1px;
        }
    }

    .block-file-upload {
        .flex();
        .flex-align-items(center);

        .file-upload {
            margin: 0 15px 0 0;
        }

        .help-block {
            margin: 0;
            font-size: 90%;
        }
    }

    .form-group-btns {
        margin-top: 25px;
        white-space: nowrap;

        .btn {
            margin-right: 6px;
            width: 34px;
            height: 34px;
            padding-left: 0;
            padding-right: 0;

            &:last-child {
                margin-right: 0;
            }
        }

        @media (max-width: 991px) {
            & {
                margin-top: -50px;
            }
        }
    }

    .form-group-checkbox {
        margin-top: 25px;

        .checkbox {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        @media (max-width: 991px) {
            & {
                margin-top: -10px;
            }

        }
    }
}

.form-cand {
    .form-block {
        margin-bottom: 20px;
    }
}

.form-empl {
    .form-field-type-list {
        .form-group-btns {
            margin-top: -50px;
        }
    }

    .form-group-list {
        clear: both;
    }

    .form-btns {
        .btn {
            margin-left: 10px;
        }
    }

    .form-block-add {
        .form-btns {
            margin-top: 5px;
        }

        .list-empl-notes {
            margin-bottom: 15px;

            .item-list {
                border-bottom: 1px solid #ddd;
                padding-top: 5px;
                padding-bottom: 5px;

                &:last-child {
                    border-bottom: 0;
                }
            }

        }
    }

    .file-upload {
        margin-bottom: 15px;
    }
}

//************ Kladr
#kladr_autocomplete {
    a {
        color: #333;
    }
}

@import "emplform-st1.less";

@import "emplform-st2.less";

@import "candform-st1.less";

@import "candform-st2.less";

@media (min-width: 768px) {
    .form-empl-st1,
    .form-empl-st2 {
        .form-control-inp-text {
            white-space: nowrap;
            height: 34px;
            resize: none;
            overflow: hidden;
        }
    }
}

@media (max-width: 767px) {
    .btn-group-radio {
        margin-bottom: 30px;
    }

    .block-group-btns {
        margin-bottom: 30px;

        .btn-group {
            margin-bottom: 0px;
        }
    }

    .form-empl-st1,
    .form-empl-st2,
    .form-empl {
        margin-bottom: 45px;

        .form-block {
            margin-bottom: 20px;
        }

        .form-group {
            > label {
                white-space: normal;
            }
        }

        .form-control-inp-text {
            height: 80px;
        }

        .table-docs {
            .cell-name {
                max-width: 200px;
            }
        }

        .form-btns {
            margin-top: 10px;
        }

        .form-group-btns {
            margin-top: 0;
        }
    }

    .form-empl {
        .form-field-type-list {
            .form-group-btns {
                margin-top: -0px;
            }

            .help-block {
                margin-bottom: 0;
            }
        }

        .form-btns {
            .btn {
                margin: 0 20px 0 0;
                width: -webkit-calc(~'50% - 10px');
                width: -moz-calc(~'50% - 10px');
                width: calc(~'50% - 10px');
                padding-left: 0;
                padding-right: 0;
                float: right;

                &:first-child {
                    margin: 0;
                }
            }
        }
    }
}
