@import "components/mixins.less";

body {
    padding-top: 0;
}

.container-print {
    width: 540px;
    margin: 10px auto 30px auto;
    font-size: 12px;
    color: #000;
}

.form-print {
    // header
    .form-print_head {
        font-weight: 700;
        font-size: 14px;
        margin: 0 0 10px 0;
    }

    // form label
    .form-print_label {
        color: #696969;
        .text-nowrap();
    }
    
    // form control
    .form-print_control {
        min-height: 22px;
        border-bottom: 1px solid #7f7f7f;
        .flex();
        .flex-align-items(center);
    }

    .form-print_control_parts {
        .flex();
        height: 22px;
        line-height: 22px;
        vertical-align: middle;
        
        .part {
            .inline-underlined();
            width: 70px;
            margin-right: 5px;
        }        
    }
    
    // form groups
    .form-group {
        margin-bottom: 25px;
    }
    
    .form-group-sm {
        width: 170px;
    }
    
    .form-group-md {
        width: 250px;
    }
    
    .form-group-lg {
        width: 330px;
    }

    .form-print_group,
    .form-print_group_line {
        margin-bottom: 25px;
        .flex();
        flex-wrap: wrap; 
        
        .form-group {
            margin-bottom: 0;
        }
    }
    
    .form-print_group {
        .form-print_head {
            margin: 0 15px 0 0;
        }

        .form-group {
            margin-right: 30px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    .form-print_group_line {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    // form help
    .form-print_help {
        color: #696969;
    }

    // checkbox
    .checkbox-print {
        height: 21px;
        .flex();
        .flex-align-items(center);
        white-space: nowrap;

        .check-square {
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #7f7f7f;
            margin-right: 7px;
            position: relative;
        }
        
        &.checked {
            .check-square {
                &:before {
                    display: inline-block;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1; 
                    font-size: inherit;
                    
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 900;
                    
                    content: "\f00c";
                    
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    
    // duration
    .form-print_duration {
        .part {
            width: 50px;
            margin-right: 5px;
        }
        
        .form-print_help {
            margin-left: 5px;
        }
    }
    
    .form-group-post {
        width: 310px;
    }
    
    // phone number
    .form-print_phone {
        .part1,
        .part2 {
            width: 30px;
            margin-right: 0;
        }
        
        .part3 {
            width: 40px;
            margin-right: 0;
        }
        
        .part1 {
            margin: 0 6px 0 3px;
            position: relative;
            
            &:before,
            &:after {
                display: inline-block;
                position: absolute;
                top: 0;
            }
            
            &:before {
                content: "(";
                left: -1px;
            }
            
            &:after {
                content: ")";
                right: -1px;
            }
        }
    }  
    
    // data
    .form-print_data {        
        .day {
            width: 20px;
            margin: 0 8px;
            position: relative;
            
            &:before,
            &:after {
                display: inline-block;
                position: absolute;
                top: 0;
            }
            
            &:before {
                content: "\ab";
                left: -5px;
            }
            
            &:after {
                content: "\bb";
                right: -5px;
            }
        }
        
        .month {
            width: 70px;
            margin-right: 8px;
        }
        
        .year {
            width: 40px;
        }
    }
    
    .form-print_checkbox_inline {
        .flex();
        .flex-align-items(center);
        flex-wrap: wrap;
        
        .checkbox-print {
            margin-right: 15px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    // list posts
    .form-print_posts {
        margin: 5px 0 0 0;
        padding: 0;
        list-style: none;
        .flex();
        justify-content: space-between;
    }
    
    // documents
    .form-print_docs {
        margin-bottom: 25px;
        
        .form-print_doc {
            margin: 0 30px 7px 0;
            white-space: nowrap;
        }
    }    
    
    // 
    .form-print_group_checks {
        .flex-align-items(center);
        
        .form-print_label {
            margin-right: 10px;
        }
        
        .checkbox-print {
            margin-right: 15px;
        }
    }
    
    // Как часто употребляете алкоголь
    .form-group-alcohol {
        width: 260px;
    }
    
    .form-print_years {
        .part {
            width: 40px;
        }
    }
    
    .form-print_group_children {
        margin-bottom: 15px;

        .form-group {
            margin-bottom: 10px;
            width: 100%;
        }
    }
    
    .form-print_children {
        .flex();

        .form-print_control_parts {
            margin-right: 15px;

            .part {
                width: 25px;
            }
            
            .part-sex {
                width: 100px;
            }
        }
    }
    
    // наличие автомобиля
    .form-print_group_car {
        .form-group-sm {
            width: 140px;
        }
    }
    
    // навыки
    .form-print_group_skills {
        
    }
}