@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-Bold.eot');
    src: local('Druk Cyr Bold'), local('../fonts/DrukCyr-Bold'),
        url('../fonts/DrukCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DrukCyr-Bold.woff2') format('woff2'),
        url('../fonts/DrukCyr-Bold.woff') format('woff'),
        url('../fonts/DrukCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-Heavy.eot');
    src: local('Druk Cyr Heavy'), local('../fonts/DrukCyr-Heavy'),
        url('../fonts/DrukCyr-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DrukCyr-Heavy.woff2') format('woff2'),
        url('../fonts/DrukCyr-Heavy.woff') format('woff'),
        url('../fonts/DrukCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-HeavyItalic.eot');
    src: local('Druk Cyr Heavy Italic'), local('../fonts/DrukCyr-HeavyItalic'),
        url('../fonts/DrukCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DrukCyr-HeavyItalic.woff2') format('woff2'),
        url('../fonts/DrukCyr-HeavyItalic.woff') format('woff'),
        url('../fonts/DrukCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-MediumItalic.eot');
    src: local('Druk Cyr Medium Italic'), local('../fonts/DrukCyr-MediumItalic'),
        url('../fonts/DrukCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DrukCyr-MediumItalic.woff2') format('woff2'),
        url('../fonts/DrukCyr-MediumItalic.woff') format('woff'),
        url('../fonts/DrukCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-SuperItalic.eot');
    src: local('Druk Cyr Super Italic'), local('../fonts/DrukCyr-SuperItalic'),
        url('../fonts/DrukCyr-SuperItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DrukCyr-SuperItalic.woff2') format('woff2'),
        url('../fonts/DrukCyr-SuperItalic.woff') format('woff'),
        url('../fonts/DrukCyr-SuperItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-Super.eot');
    src: local('Druk Cyr Super'), local('../fonts/DrukCyr-Super'),
        url('../fonts/DrukCyr-Super.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DrukCyr-Super.woff2') format('woff2'),
        url('../fonts/DrukCyr-Super.woff') format('woff'),
        url('../fonts/DrukCyr-Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-Medium.eot');
    src: local('Druk Cyr Medium'), local('DrukCyr-Medium'),
        url('../fonts/DrukCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DrukCyr-Medium.woff2') format('woff2'),
        url('../fonts/DrukCyr-Medium.woff') format('woff'),
        url('../fonts/DrukCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Cyr';
    src: url('../fonts/DrukCyr-BoldItalic.eot');
    src: local('Druk Cyr Bold Italic'), local('DrukCyr-BoldItalic'),
        url('../fonts/DrukCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DrukCyr-BoldItalic.woff2') format('woff2'),
        url('../fonts/DrukCyr-BoldItalic.woff') format('woff'),
        url('../fonts/DrukCyr-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}



body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  color: #000;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 15px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

.bg-formend {
  background: url('../images/bg-formend.png') no-repeat center center fixed
    #8e582d;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-formstart {
  background: url('../images/bg-formstart.png') no-repeat center center fixed
    #835f5a;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.message {
  width: 610px;
  background-color: #fff;
  margin: 10% auto 0 auto;
  border-radius: 3px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  border: 1px solid #c7c7c7;

  .message-header {
    margin: -1px -1px 0 -1px;
    height: 190px;
    background-color: #313236;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    .logo {
      display: block;
      text-align: center;
      padding-top: 30px;

      img {
        width: 138px;
        height: 127px;
      }
    }
  }

  .message-body {
    padding: 30px;
    text-align: center;
    font-weight: 600;

    .big-txt {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}

//************ Form
label {
  font-weight: normal;
  color: #555;
}
.form-control,
.radio-inline,
.checkbox label {
  color: #000;
}
.form-simple {
  width: 700px;
  height: 450px;
  position: relative;
  background-color: #fff;
  margin: 5% auto 0 auto;

  border-radius: 3px;

  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  .form-simple-body {
    width: 400px;
    padding: 60px;
    margin-right: 300px;
  }
  .form-simple-title {
    margin-bottom: 30px;
    text-align: center;
    h1 {
      font-size: 26px;
      font-weight: 600;
      margin: 0 0 10px 0;
    }
  }
  .form-control,
  .btn-primary {
    height: 42px;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 3px;
  }
  .btn-primary {
    width: 150px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group-captcha {
    .form-control {
      float: right;
      width: 110px;
      margin-top: 4px;
    }
    .img-captcha {
      float: left;
      width: 120px;
    }
    .btn-reload {
      background-color: transparent;
      font-size: 16px;
      margin-top: 0px;
    }
  }
  .form-btn {
    text-align: center;
  }
  .form-simple-info {
    width: 300px;
    padding: 45px 60px;
    height: 100%;
    background-color: #313236;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;

    top: 0;
    right: 0;
    .logo {
      display: block;
      margin-bottom: 60px;
      text-align: center;
      img {
        width: 138px;
        height: 127px;
      }
    }
    h2 {
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      margin: 25px 0;
    }
  }
  .list-contacts {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 15px;
      a {
        color: #468cc8;
        &:hover,
        &:focus {
          color: darken(#468cc8, 15%);
        }
        &:before {
          display: inline-block;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-family: 'Font Awesome 5 Brands';
          font-size: 18px;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          color: #fff;
          margin-right: 10px;
        }
        &.vk:before {
          content: '\f189';
        }
        &.instagram:before {
          content: '\f16d';
        }
        &.site {
          &:before {
            font-family: 'Font Awesome 5 Pro';
            content: '\f7a2';
          }
        }
      }
    }
  }
}
.z2s-form {
  min-height: 100vh;
  position: relative;
  display: flex;
  padding: 40px 20px;
  font-family: 'Inter', sans-serif;
  .has-error .help-block,
  .has-error .control-label,
  .has-error .radio,
  .has-error .checkbox,
  .has-error .radio-inline,
  .has-error .checkbox-inline,
  .has-error.radio label,
  .has-error.checkbox label,
  .has-error.radio-inline label,
  .has-error.checkbox-inline label {
    color: #a94442;
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/z2s/bg.png') no-repeat center center fixed
      #835f5a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(5px);
  }
  &__container {
    margin: auto;
    width: 850px;
    height: 620px;
    border-radius: 10px;
    display: flex;
    box-shadow: none;
    overflow: hidden;
  }
  &__body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 45px;
  }
  &__info {
    width: 400px;
    flex-shrink: 0;
    background: url('../images/z2s/bg.png') right / cover no-repeat #835f5a;
    position: relative;
    .logo {
      position: absolute;
      top: 0;
      right: 20px;
    }
  }

  .form-simple-title {
    text-align: left;
    font-size: 16px;
    font-weight: normal;

    h1 {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__form {
    .form-simple-title {
      margin-bottom: 45px;
    }
    .form-group {
      label {
        font-size: 14px;
        .asterisk {
          color: #d31340;
        }
      }
    }
    .form-group-captcha {
      &-row {
        display: flex;
      }
      .img-captcha {
        width: 160px;
        margin-right: 35px;
      }
      input {
        flex-grow: 1;
        float: none;
        width: auto;
      }
    }
    .form-btn {
      text-align: left;
      margin-top: 70px;
      button {
        background: #d31340;
        color: white;
        font-size: 19px;
        width: 200px;
        border-radius: 7px;
        font-weight: bold;
        height: 44px;
        &:hover {
          background: darken(#d31340, 5%);
        }
      }
    }
  }
  &__social {
    position: absolute;
    top: 380px;
    left: 30px;
    color: white;
    h2 {
      font-family: 'Druk Cyr';
      font-size: 16px;
      color: white;
    }
    &-list {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin-right: 20px;
        a {
          color: inherit;
          &:hover {
            text-decoration: none;
          }
        }
        a:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          width: 15px;
          height: 15px;
          background-size: contain;
          background-position: center;
        }
        a.vk {
          &:before {
            background-image: url('../images/z2s/vk.svg');
          }
        }
        a.fb {
          &:before {
            background-image: url('../images/z2s/fb.svg');
          }
        }
        a.in {
          &:before {
            background-image: url('../images/z2s/inst.svg');
          }
        }
        a.tiktok {
          &:before {
            background-image: url('../images/z2s/tiktok.svg');
          }
        }
        a.ok {
          &:before {
            background-image: url('../images/z2s/ok.svg');
          }
        }
      }
    }
  }
}
