@import '../../base/_icons.less';
@import '../../base/_variables.less';

@neutral-theme-color: #0066FF;
@positive-theme-color: #12C971;
@negative-theme-color: #FF238D;
@secondary-theme-color: #8E9CBB;

.hrm-circle-icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-width: 1px;

    border-style: solid;
    border-color: #DFE4EF;
    border-radius: 50%;

    transition: border-color @hover-transition-duration @hover-transition-timing-function;

    &:before {
        content: '';

        display: block;
    }

    &:hover {
        border-color: #8E9CBB;
    }

    &:active {
        border-color: #647195;
    }
}

.hrm-circle-arrow-down-icon-button {
    &:before {
        margin-top: 1px;
    }

    &.hrm-circle-icon-button--theme_neutral {
        &:before {
            .mini-arrow-down-icon(@neutral-theme-color);
        }
    }

    &.hrm-circle-icon-button--theme_positive {
        &:before {
            .mini-arrow-down-icon(@positive-theme-color);
        }
    }

    &.hrm-circle-icon-button--theme_negative {
        &:before {
            .mini-arrow-down-icon(@negative-theme-color);
        }
    }

    &.hrm-circle-icon-button--theme_secondary {
        &:before {
            .mini-arrow-down-icon(@secondary-theme-color);
        }
    }
}