@import '../../base/_variables.less';

.hrm-basic-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    height: 38px;

    border-style: solid;
    border-color: #D3D8DF;
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;

    transition: border-color @hover-transition-duration @hover-transition-timing-function,
                opacity @hover-transition-duration @hover-transition-timing-function;


    &:not([disabled]):hover {
        border-color: #8E9CBB;
    }

    &:not([disabled]):active {
        border-color: #647195;
    }
}

.hrm-accent-button {
    border: none;

    background-color: #0066FF;
    color: #FFF;

    &[disabled] {
        color: #FFF;
    }

    transition: background-color @hover-transition-duration @hover-transition-timing-function,
                opacity @hover-transition-duration @hover-transition-timing-function;

    &:not([disabled]):hover {
        background-color: #0055D5;
    }

    &:not([disabled]):active {
        background-color: #003F9D;
    }
}

.hrm-primary-button {
    border: none;
    position: relative;

    background: linear-gradient(90deg, #CA47DF 0%, #FF238D 100%);
    border-radius: 60px;
    color: #FFF;
    overflow: hidden;

    &[disabled] {
        color: #FFF;
    }

    .hrm-primary-button__content {
        z-index: 3;
    }

    .hrm-primary-button__background {
        opacity: 0;

        transition: opacity @hover-transition-duration @hover-transition-timing-function;
    }

    &:hover:not([disabled]) {
        .hrm-primary-button__hover-background {
            opacity: 1;
        }
    }

    &:active:not([disabled]) {
        .hrm-primary-button__active-background {
            opacity: 1;
        }
    }

    &__background {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__hover-background {
        background: linear-gradient(90deg, #FF238D 0%, #CA47DF 100%);
    }

    &__active-background {
        background: linear-gradient(90deg, #DB0069 0%, #9C06B5 100%);
    }
}

.hrm-button {
    &--size {
        &_large {
            height: 38px;
            min-width: 38px;
            width: auto;
            font-weight: 500;
            font-size: 15px;
            padding-left: 30px;
            padding-right: 30px;
        }
        &_medium {
            height: 30px;
            min-width: 30px;
            width: auto;
            font-weight: 500;
            font-size: 12px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &--circle {
        padding: 0;
        border-radius: 50px;
    }
}
