@import '../../base/_icons.less';
@import '../../base/_variables.less';

.hrm-button {
    display: inline-block;
    border: none;

    cursor: pointer;
    background-color: transparent;
}

@button-with-icon-neutral-theme-color: #0066FF;
@button-with-icon-positive-theme-color: #12C971;
@button-with-icon-negative-theme-color: #FF238D;

.hrm-button-with-icon {
    display: inline-flex;
    align-items: center;
    height: 30px;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 15px;

    border-style: solid;
    border-color: #D3D8DF;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;

    transition: border-color @hover-transition-duration @hover-transition-timing-function;

    &:before {
        content: '';

        display: block;
        margin-right: 9px;
    }

    &:hover {
        border-color: #8E9CBB;
    }

    &:active {
        border-color: #647195;
    }
}

.hrm-button-with-plus-icon {
    &.hrm-button-with-icon--theme_neutral {
        &:before {
            .plus-icon(@button-with-icon-neutral-theme-color);
        }
    }

    &.hrm-button-with-icon--theme_positive {
        &:before {
            .plus-icon(@button-with-icon-positive-theme-color);
        }
    }

    &.hrm-button-with-icon--theme_negative {
        &:before {
            .plus-icon(@button-with-icon-negative-theme-color);
        }
    }
}

.hrm-button-with-times-icon {
    &.hrm-button-with-icon--theme_neutral {
        &:before {
            .times-icon(@button-with-icon-neutral-theme-color);
        }
    }

    &.hrm-button-with-icon--theme_positive {
        &:before {
            .times-icon(@button-with-icon-positive-theme-color);
        }
    }

    &.hrm-button-with-icon--theme_negative {
        &:before {
            .times-icon(@button-with-icon-negative-theme-color);
        }
    }
}

.hrm-button-with-check-icon {
    &.hrm-button-with-icon--theme_neutral {
        &:before {
            .check-icon(@button-with-icon-neutral-theme-color);
        }
    }

    &.hrm-button-with-icon--theme_positive {
        &:before {
            .check-icon(@button-with-icon-positive-theme-color);
        }
    }

    &.hrm-button-with-icon--theme_negative {
        &:before {
            .check-icon(@button-with-icon-negative-theme-color);
        }
    }
}