@import '../../base/_variables.less';

@neutral-theme-color: #0066FF;
@neutral-theme-hover-color: #0066FF;
@neutral-theme-active-color: #0066FF;
@positive-theme-color: #12C971;
@positive-theme-hover-color: #12C971;
@positive-theme-active-color: #12C971;
@negative-theme-color: #FF238D;
@negative-theme-hover-color: #DB0069;
@negative-theme-active-color: #DB0069;
@secondary-theme-color: #8E9CBB;
@secondary-theme-hover-color: #8E9CBB;
@secondary-theme-active-color: #8E9CBB;

.hrm-icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;

    border-radius: 50%;

    &:before {
        content: '';

        display: block;

        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.hrm-times-icon-button {
    .background-image(@color) {
        @svg-content: escape('
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.03 11">
                <path d="M.32.29a1,1,0,0,0,0,1.41l9,9A1,1,0,0,0,10.74,9.3l-9-9A1,1,0,0,0,.32.29Z" style="fill:@{color}"/>
                <path d="M10.65.35a1,1,0,0,1,0,1.41l-9,9A1,1,0,0,1,.29,9.3l9-9A1,1,0,0,1,10.65.35Z" style="fill:@{color}"/>
            </svg>
        ');
        @result: url('data:image/svg+xml,@{svg-content}');
    }

    margin: -5.5px;

    &:before {
        width: 11.03px;
        height: 11px;
    }

    &.hrm-icon-button--theme_neutral {
        &:before {
            background-image: .background-image(@neutral-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@neutral-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@neutral-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_positive {
        &:before {
            background-image: .background-image(@positive-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@positive-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@positive-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_negative {
        &:before {
            background-image: .background-image(@negative-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@negative-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@negative-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_secondary {
        &:before {
            background-image: .background-image(@secondary-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@secondary-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@secondary-theme-active-color)[@result];
            }
        }
    }
}

.hrm-plus-icon-button {
    .background-image(@color) {
        @svg-content: escape('
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.99697 14.0083C6.44681 14.0083 6.00082 13.5595 6.00082 13.0059L5.99983 1.01071C5.99983 0.457096 6.44582 0.00830078 6.99599 0.00830078C7.54615 0.00830078 7.99215 0.457097 7.99215 1.01071L7.99313 13.0059C7.99313 13.5595 7.54714 14.0083 6.99697 14.0083Z" fill="@{color}"/>
                <path d="M14 7.01688C14 6.46326 13.554 6.01447 13.0038 6.01447L0.996158 6.01448C0.445995 6.01448 0 6.46327 0 7.01689C0 7.57051 0.445995 8.0193 0.996159 8.0193L13.0038 8.0193C13.554 8.0193 14 7.5705 14 7.01688Z" fill="@{color}"/>
            </svg>
        ');
        @result: url('data:image/svg+xml,@{svg-content}');
    }

    margin: -3px;

    &:before {
        width: 14px;
        height: 14px;
    }

    &.hrm-icon-button--theme_neutral {
        &:before {
            background-image: .background-image(@neutral-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@neutral-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@neutral-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_positive {
        &:before {
            background-image: .background-image(@positive-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@positive-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@positive-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_negative {
        &:before {
            background-image: .background-image(@negative-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@negative-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@negative-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_secondary {
        &:before {
            background-image: .background-image(@secondary-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@secondary-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@secondary-theme-active-color)[@result];
            }
        }
    }
}