@import '../../base/_variables.less';

@neutral-theme-color: #0066FF;
@neutral-theme-hover-color: #0066FF;
@neutral-theme-active-color: #0066FF;
@positive-theme-color: #12C971;
@positive-theme-hover-color: #12C971;
@positive-theme-active-color: #12C971;
@negative-theme-color: #FF238D;
@negative-theme-hover-color: #DB0069;
@negative-theme-active-color: #DB0069;
@secondary-theme-color: #8E9CBB;
@secondary-theme-hover-color: #8E9CBB;
@secondary-theme-active-color: #8E9CBB;

.hrm-icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;

    border-radius: 50%;

    &:before {
        content: '';

        display: block;

        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.hrm-times-icon-button {
    .background-image(@color) {
        @svg-content: escape('
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.03 11">
                <path d="M.32.29a1,1,0,0,0,0,1.41l9,9A1,1,0,0,0,10.74,9.3l-9-9A1,1,0,0,0,.32.29Z" style="fill:@{color}"/>
                <path d="M10.65.35a1,1,0,0,1,0,1.41l-9,9A1,1,0,0,1,.29,9.3l9-9A1,1,0,0,1,10.65.35Z" style="fill:@{color}"/>
            </svg>
        ');
        @result: url('data:image/svg+xml,@{svg-content}');
    }

    margin: -5.5px;

    &:before {
        width: 11.03px;
        height: 11px;
    }

    &.hrm-icon-button--theme_neutral {
        &:before {
            background-image: .background-image(@neutral-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@neutral-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@neutral-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_positive {
        &:before {
            background-image: .background-image(@positive-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@positive-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@positive-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_negative {
        &:before {
            background-image: .background-image(@negative-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@negative-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@negative-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_secondary {
        &:before {
            background-image: .background-image(@secondary-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@secondary-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@secondary-theme-active-color)[@result];
            }
        }
    }
}

.hrm-plus-icon-button {
    .background-image(@color) {
        @svg-content: escape('
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.99697 14.0083C6.44681 14.0083 6.00082 13.5595 6.00082 13.0059L5.99983 1.01071C5.99983 0.457096 6.44582 0.00830078 6.99599 0.00830078C7.54615 0.00830078 7.99215 0.457097 7.99215 1.01071L7.99313 13.0059C7.99313 13.5595 7.54714 14.0083 6.99697 14.0083Z" fill="@{color}"/>
                <path d="M14 7.01688C14 6.46326 13.554 6.01447 13.0038 6.01447L0.996158 6.01448C0.445995 6.01448 0 6.46327 0 7.01689C0 7.57051 0.445995 8.0193 0.996159 8.0193L13.0038 8.0193C13.554 8.0193 14 7.5705 14 7.01688Z" fill="@{color}"/>
            </svg>
        ');
        @result: url('data:image/svg+xml,@{svg-content}');
    }

    margin: -3px;

    &:before {
        width: 14px;
        height: 14px;
    }

    &.hrm-icon-button--theme_neutral {
        &:before {
            background-image: .background-image(@neutral-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@neutral-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@neutral-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_positive {
        &:before {
            background-image: .background-image(@positive-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@positive-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@positive-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_negative {
        &:before {
            background-image: .background-image(@negative-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@negative-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@negative-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_secondary {
        &:before {
            background-image: .background-image(@secondary-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@secondary-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@secondary-theme-active-color)[@result];
            }
        }
    }
}

.hrm-trash-icon-button {
    .background-image(@color) {
        @svg-content: escape('
            <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 3C0.447715 3 0 3.44772 0 4C0 4.55228 0.447715 5 1 5V3ZM12 5C12.5523 5 13 4.55228 13 4C13 3.44772 12.5523 3 12 3V5ZM2.92846 3.6C2.92846 4.15228 3.37618 4.6 3.92846 4.6C4.48075 4.6 4.92846 4.15228 4.92846 3.6H2.92846ZM5.21418 1V0V1ZM7.78561 1V0V1ZM8.07132 3.6C8.07132 4.15228 8.51903 4.6 9.07132 4.6C9.6236 4.6 10.0713 4.15228 10.0713 3.6H8.07132ZM6 7C6 6.44772 5.55228 6 5 6C4.44772 6 4 6.44772 4 7H6ZM4 11C4 11.5523 4.44772 12 5 12C5.55228 12 6 11.5523 6 11H4ZM9 7C9 6.44772 8.55228 6 8 6C7.44772 6 7 6.44772 7 7H9ZM7 11C7 11.5523 7.44772 12 8 12C8.55228 12 9 11.5523 9 11H7ZM1 5H12V3H1V5ZM4.92846 3.6V2.3H2.92846V3.6H4.92846ZM4.92846 2.3C4.92846 2.21689 4.96122 2.13938 5.01604 2.08395L3.59404 0.677572C3.16663 1.10973 2.92846 1.69355 2.92846 2.3H4.92846ZM5.01604 2.08395C5.0705 2.02889 5.14199 2 5.21418 2V0C4.60438 0 4.02182 0.245036 3.59404 0.677572L5.01604 2.08395ZM5.21418 2H7.78561V0H5.21418V2ZM7.78561 2C7.85779 2 7.92929 2.02889 7.98374 2.08395L9.40575 0.677572C8.97796 0.245036 8.3954 0 7.78561 0V2ZM7.98374 2.08395C8.03856 2.13938 8.07132 2.21689 8.07132 2.3H10.0713C10.0713 1.69355 9.83316 1.10973 9.40575 0.677572L7.98374 2.08395ZM8.07132 2.3V3.6H10.0713V2.3H8.07132ZM4 7V11H6V7H4ZM7 7V11H9V7H7ZM10 4V12H12V4H10ZM9 13H4V15H9V13ZM3 12V4H1V12H3ZM4 13C3.44772 13 3 12.5523 3 12H1C1 13.6569 2.34315 15 4 15V13ZM10 12C10 12.5523 9.55228 13 9 13V15C10.6569 15 12 13.6569 12 12H10Z" fill="@{color}"/>
            </svg>
        ');
        @result: url('data:image/svg+xml,@{svg-content}');
    }

    margin: -3.5px -4.5px;

    &:before {
        width: 13px;
        height: 15px;
    }

    &.hrm-icon-button--theme_neutral {
        &:before {
            background-image: .background-image(@neutral-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@neutral-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@neutral-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_positive {
        &:before {
            background-image: .background-image(@positive-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@positive-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@positive-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_negative {
        &:before {
            background-image: .background-image(@negative-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@negative-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@negative-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_secondary {
        &:before {
            background-image: .background-image(@secondary-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@secondary-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@secondary-theme-active-color)[@result];
            }
        }
    }
}

.hrm-pencil-icon-button {
    .background-image(@color) {
        @svg-content: escape('
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.33943 1.62805C9.53854 1.42894 9.77493 1.27099 10.0351 1.16323C10.2953 1.05546 10.5741 1 10.8557 1C11.1373 1 11.4161 1.05546 11.6763 1.16323C11.9364 1.27099 12.1728 1.42894 12.3719 1.62805C12.5711 1.82717 12.729 2.06356 12.8368 2.32372C12.9445 2.58388 13 2.86272 13 3.14431C13 3.42591 12.9445 3.70474 12.8368 3.9649C12.729 4.22506 12.5711 4.46145 12.3719 4.66057L5.16971 11.8628L1 13L2.13719 8.8303L9.33943 1.62805Z" stroke="@{color}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <line x1="7.70711" y1="3.29289" x2="10.7071" y2="6.29289" stroke="@{color}" stroke-width="2"/>
            </svg>

        ');
        @result: url('data:image/svg+xml,@{svg-content}');
    }

    margin: -4px -4px;

    &:before {
        width: 14px;
        height: 14px;
    }

    &.hrm-icon-button--theme_neutral {
        &:before {
            background-image: .background-image(@neutral-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@neutral-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@neutral-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_positive {
        &:before {
            background-image: .background-image(@positive-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@positive-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@positive-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_negative {
        &:before {
            background-image: .background-image(@negative-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@negative-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@negative-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_secondary {
        &:before {
            background-image: .background-image(@secondary-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@secondary-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@secondary-theme-active-color)[@result];
            }
        }
    }
}

.hrm-check-icon-button {
    .background-image(@color) {
        @svg-content: escape('
            <svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.707754 4.69673C0.317229 5.08726 0.319001 5.72219 0.71171 6.1149L4.78254 10.1872C5.17525 10.5799 5.81018 10.5817 6.20071 10.1912C6.59123 9.80063 6.58946 9.16569 6.19675 8.77298L2.12592 4.70069C1.73321 4.30798 1.09828 4.30621 0.707754 4.69673Z" fill="@{color}"/>
                <path d="M4.95902 10.1905C5.34954 10.581 5.98448 10.5793 6.37719 10.1865L14.8553 1.70991C15.248 1.3172 15.2498 0.682263 14.8592 0.291738C14.4687 -0.0987858 13.8338 -0.0970147 13.4411 0.295694L4.96297 8.77233C4.57026 9.16504 4.56849 9.79998 4.95902 10.1905Z" fill="@{color}"/>
            </svg>
        ');
        @result: url('data:image/svg+xml,@{svg-content}');
    }

    margin: -5.5px -3px;

    &:before {
        width: 16px;
        height: 11px;
    }

    &.hrm-icon-button--theme_neutral {
        &:before {
            background-image: .background-image(@neutral-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@neutral-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@neutral-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_positive {
        &:before {
            background-image: .background-image(@positive-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@positive-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@positive-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_negative {
        &:before {
            background-image: .background-image(@negative-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@negative-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@negative-theme-active-color)[@result];
            }
        }
    }

    &.hrm-icon-button--theme_secondary {
        &:before {
            background-image: .background-image(@secondary-theme-color)[@result];
        }

        &:hover {
            &:before {
                background-image: .background-image(@secondary-theme-hover-color)[@result];
            }
        }

        &:active {
            &:before {
                background-image: .background-image(@secondary-theme-active-color)[@result];
            }
        }
    }
}
