.btn-sm {
    font-size: @btn-sm-font-size;
    font-weight: @btn-sm-font-weight;
    letter-spacing: @btn-sm-letter-spacing;
    height: @btn-sm-height;
    line-height: @btn-sm-height;
    .border-radius(@btn-sm-border-radius);
    padding: @btn-sm-padding;
    border: @btn-sm-border;
}

.btn-close {
    color: @btn-close-color;
    background: @btn-close-bg;
    padding-left: 27px;
    position: relative;
    
    .fas {
        width: @btn-close-icon-w;
        height: @btn-close-icon-h;
        line-height: @btn-close-icon-h;
        .border-radius(@btn-close-icon-border-radius);
        position: absolute;
        top: 4px;
        left: 4px;
        background-color: @btn-close-icon-bg;
        font-size: @btn-close-icon-font-size;
        text-align: center;
        vertical-align: middle;
    }
    
    &:active {
        background: @btn-close-active-bg;
        color: @btn-close-active-color;
    }
}