.daterangepicker {

  .drp-buttons .btn {
     padding: 0px 12px;
  }

  .drp-calendar {
    max-width: none !important;
    table {
      border-collapse: separate !important;
      border-spacing: 6px !important;
    }
  }

  .next span,
  .prev span {
    border-radius: 3px !important;
    padding: 4px !important;
  }

  thead {
    tr {
      th {
        min-width: 28px !important;
        height: 20px !important;
        line-height: 20px !important;
      }
      th.prev,
      th.next {
        border-radius: 50% !important;
        background-color: @filters-link-bg !important;
      }
      th.prev span {
        margin-left: 2px;
      }
      th.next span {
        margin-right: 2px;
      }
    }
    tr:first-child {
      th {
        font-size: 14px !important;
      }
    }

    tr:last-child {
      th {
        opacity: 0.8;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 11px;
        color: #878e91;
      }
      th:nth-child(6),
      th:nth-child(7) {
        color: @filters-link-bg;
      }
    }
  }

  tbody {
    td {
      min-width: 28px !important;
      height: 20px !important;
      line-height: 20px !important;
      border-radius: 50% !important;
      &.start-date,
      &.end-date {
      }
      &:hover {
        background-color: @filters-link-bg !important;
      }
      &.active,
      &.active:hover {
        background-color: @filters-link-bg-active !important;
      }
      &.off {
        color: @gray-base;
        background-color: @filters-link-bg !important;
      }
    }
  }

}