.empl-list-container {
  &.empl-list-container--fixed-filters {
      margin-top: 150px;
  }
}

.empl-list {
    .empl-item {
        margin-bottom: 2px;
        position: relative;

        .empl-item--body {
            background-color: #fff;
            .border-radius(4px);
            .box-shadow(0 1px 2px 0 #cfd8dc);
            padding: 10px 12px 10px 14px;
            letter-spacing: 0.5px;
            position: relative;
            z-index: 2;
            .flex();
            .flex-align-items(center);
            flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            justify-content: space-between;
            -webkit-justify-content: space-between;

            .empl-item-cell {
                color: #2E2F31;
                &.empl-item-cell--post {
                    flex-basis: 2%;
                    .badge {
	                    width: 28px;
						height: 28px;
						line-height: 18px;
						vertical-align: middle;
						border: 3px solid #fff;
						color: #fff;
						-webkit-border-radius: 100%;
						-moz-border-radius: 100%;
						border-radius: 100%;
						position: relative;
						margin-left: -6px;
						letter-spacing: -0.1px;
						font-size: 12px;
						background-color: #bac7cc;
						text-align: center;
						font-weight: 500;
                    }
                }
                &.empl-item-cell--name {
                    flex-basis: 31%;
                    font-weight: 500;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 16px;
                }
                &.empl-item-cell--time {
                    flex-basis: 40%;
                    font-size: 16px;
                    text-align: right;
                    .empl-item-cell--time-item:not(:last-child) {
                    	margin-right: 5px;
                    }
                }
                &.empl-item-cell--orders {
                    flex-basis: 5%;
                    text-align: right;
                    font-weight: 600;
                    font-size: 16px;
                }
                &.empl-item-cell--lates {
                    flex-basis: 10%;
                }
                &.empl-item-cell--rate {
                    flex-basis: 3%;
                    text-align: right;
                    font-weight: 500;
                    font-size: 16px;
                    &.good {
                    	color: #10C07E;
                    }
                    &.ok {
                    	color: #F5A623;
                    }
                    &.bad {
                    	color: #D3123F;
                    }
                }
            }

        }

        .menu-action {
            padding: 0;
            margin: 0;
            list-style: none;
            .flex();
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            justify-content: flex-end;
            .flex-align-items(center);
            z-index: 1;
            width: 0;
            overflow: hidden;

            > li {
                margin-left: 10px;
                margin-right: 0;

                > a {
                    width: 36px;
                    height: 36px;
                    display: inline-block;
                    .border-radius(100%);
                    background-color: #007ee5;
                }
            }
        }
    }
}

@media (max-width: 767px) {

    .empl-list {
        .empl-item {

            .empl-item--body {

                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;

                .empl-item-cell {
                    &.empl-item-cell--post {
                        flex-basis: 7%;
                        order: 1;
                    }
                    &.empl-item-cell--name {
                        flex-basis: 84%;
                        order: 2;
                    }
                    &.empl-item-cell--time {
                        flex-basis: 82%;
                        order: 5;
                        text-align: left;
                    }
                    &.empl-item-cell--orders {
                        flex-basis: 5%;
                        order: 4;
                        text-align: left;
                    }
                    &.empl-item-cell--lates {
                        flex-basis: auto;
                        order: 6;
                    }
                    &.empl-item-cell--rate {
                        flex-basis: 7%;
                        order: 3;
                    }
                }

            }

        }
    }


}

.profile-card {

    .profile-card-item {
        border-bottom: 1px dotted #E5E5E5;
        margin-bottom: 12px;
        label {
            padding-left: 10px;
            font-size: 11px;
            color: #A4ACB4;
            font-weight: 300;
            margin-bottom: 3px;
        }
        p {
            padding-left: 10px;
            font-size: 13px;
            font-weight: 500;
            color: #2E2F31;
            margin-bottom: 7px;
        }
    }

}