.empl-list {
    .item {
        .flex();
        .flex-align-items(center);
        justify-content: space-between;          
        
        background-color: @empllist-item-bg;
        .border-radius(@empllist-item-border-radius);
        .box-shadow(@empllist-item-box-shadow);
        padding: 12px;
        margin-bottom: 10px;

        letter-spacing: 0.5px;
        
        .item-empl {
            .flex();
            .flex-align-items(center);
        }        
        
        .item-empl--name {
            margin: 0 10px 0 10px;
        }
        
        .item-empl--late {
            list-style: none;
            margin: 0;
            padding: 0;
            .flex();
            
            > li {
                width: 28px;
                height: 28px;
                border: 3px solid #fff;
                color: #fff;
                .border-radius(100%);
                position: relative;
                margin-left: -6px;
                
                &:first-child {
                    margin-left: 0;
                }
                
                &:nth-child(1) {
                    z-index: 1;
                }
                
                &:nth-child(2) {
                    z-index: 2;
                }                
                
                &.gray {
                    background-color: #a4acb4;
                }
                
                &.green {
                    background-color: #4cd964;
                }
                
                &.red {
                    background-color: @red-dark;
                }
                
                &.yellow {
                    background-color: #f8cd1c;
                }
            }
        }

        .item-info {
            .flex();
            
            .time {
                white-space: nowrap;
                margin-right: 30px;
            }
        }
    }
}