.filters-block {
    height: @filters-height + 10px;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;

    &.filters-block-fixed {
        position: fixed;
        top: 0;
        left: 10px;
        right: 10px;
        z-index: 1091;
    }

    &.filters-subblock-fixed {
        position: fixed;
        top: 54px;
        left: 10px;
        right: 10px;
        z-index: 1091;
    }

    .filters-content {
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;
        .flex();

        min-width: -webkit-calc(~'100% - 20px');
        min-width: -moz-calc(~'100% - 20px');
        min-width: calc(~'100% - 20px');
        
        background-color: @filters-bg;
        .border-radius(@filters-border-radius); 
        
        padding: 0 12px;
    }
    
    .filters {
        list-style: none;
        margin: 0;
        padding: 0;
        
        .flex();
        .flex-align-items(center);
        height: @filters-height;
    
        font-size: @filters-font-size;
        letter-spacing: 0.4px;
        font-weight: 500;
    
        > li {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
            
            > a {
                display: inline-block;
                white-space: nowrap;
                padding: @filters-link-padding;
                height: @filters-link-height;
                line-height: @filters-link-line-height;
                vertical-align: middle;
                color: @filters-link-color;
                background-color: @filters-link-bg;
                .border-radius(@filters-link-border-radius);
                .transition(all, @transition-duration, @transition-timing-function);            
                
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
            
            &.filter-has-sub {
                position: relative;
                
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -22px;
                    left: 50%;
                    margin-left: -9px;
                    width: 18px;
                    height: 18px;
                    background-color: #cfd8dc;
                    opacity: 0;
                }
            }        
            
            &.active {
                > a {
                    background-color: @filters-link-bg-active !important;
                    color: @filters-link-color-active;                
                }
                
                &.filter-has-sub {
                    &:after {
                        opacity: 1;
                        .transition(all, @transition-duration, @transition-timing-function);
                    }
                }
            }
        }

        &.filters-swiper {
            height: 35px !important;
            /*margin-left: 35px;*/
        }
    }    

    &.filters-block-sub {
        display: none;
    }
}

.filters-status {
    .filters-content {
        .flex();
        .flex-align-items(center);
        justify-content: space-between;
        &.filters-content--late {
            justify-content: flex-start;
        }
    }
    
    .filters-late {
        margin: 0;
        margin-right: 20px;
        font-size: @filters-late-font-size;
        
        > li {
            margin-right: 5px;
            height: 100%;
            .flex();
            .flex-align-items(center);

            &:last-child {
                margin-right: 0;
            }
            
            &:first-child {
                border-right: 1px solid #bac7cc;
                padding-right: 8px;
            }

            > a {
                padding-left: 5px;
                padding-right: 5px;
                min-width: 24px;
                text-align: center;
            }
            
            &:first-child {
                margin-right: 8px;

                > a {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
            
            &.bad1 {
                > a {
                    background-color: @filters-late-bad1;
                }
            }
            
            &.bad2 {
                > a {
                    background-color: @filters-late-bad2;
                }
            }  
            
            &.bad3 {
                > a {
                    background-color: @filters-late-bad3;
                }
            }
        }
    } 
    
    .filters-posts {  
        margin: 0;

        > li {
            margin-right: 5px;
            
            &:last-child {
                margin-right: 0;
            }

            > a {
                width: 24px;
                text-align: center;
                padding: 0;
            }
        }
    }    
}

.search-input-group-form {
    flex-basis: 20%;
    .search-input-group {
        margin-top: 11px;
        margin-right: 15px;
        position: relative;
        min-width: 150px;

        .form-control {
            height: 25px;
            padding: 0 8px;
            font-size: 14px;
            .border-radius(21px);
            border-color: #f1f0f0;
            box-shadow: none;
            -webkit-box-shadow: none;
            padding-left: 25px;
            padding-right: 27px;
        }

        &>button {
            position: absolute;
            top: 4px;
            left: 5px;
            .border-radius(50%);
            border: none;
            background-color: #CFD8DC;
            width: 17px;
            height: 17px;
            outline: none;
            text-align: center;
            font-weight: normal;
            padding: 0;
            line-height: 1.5rem;
            &>img {
                margin-top: -1px;
            }
        }

        &>i.icon {
            position: absolute;
            top: 3px;
            right: 7px;
            color: #D8D8D8;
        }

    }
}

.clear-btn-container {
    margin-top: 11px;
    margin-right: 15px;

    .clear-btn {
        border: none;
        outline: none;
        background-color: #ffffff;
        .border-radius(50%);
        width: 25px;
        height: 25px;
        > a {
            text-align: center;
            img {
                vertical-align: inherit;
            }
        }
    }
}

.filters-branches-container {
    flex-basis: 100%;
    margin-top: 11px !important;
}

.filters-date-container {
    margin-top: 11px !important;
}

.filters-goods-container {
    flex-basis: 80%;
    margin-top: 11px !important;
}

.swiper-container {
    margin: 0 0 0 0;
    .swiper-slide {
        width: auto !important;
    }
    .swiper-button-prev,
    .swiper-button-next {
        background-color: @filters-bg;
        color: #333;
        width: 50px;
        height: 24px;
        outline: none;
        margin-top: -18px;
        background-size: 50px 44px;
        z-index: 1092;
        &:after {
            position: absolute;
            top: 0;
            content: " ";
            .border-radius(50%);
            background-color: #f0f0f0;
            color: #333;
            width: 25px;
            background-size: 8px 11px;
            height: 25px;
            outline: none;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .swiper-button-prev {
        left: 0;
        background: rgba(207,216,220,1);
        background: -moz-linear-gradient(left, rgba(207,216,220,1) 35%, rgba(207,216,220,1) 61%, rgba(207,216,220,0.13) 100%);
        background: -webkit-gradient(left top, right top, color-stop(35%, rgba(207,216,220,1)), color-stop(61%, rgba(207,216,220,1)), color-stop(100%, rgba(207,216,220,0.13)));
        background: -webkit-linear-gradient(left, rgba(207,216,220,1) 35%, rgba(207,216,220,1) 61%, rgba(207,216,220,0.13) 100%);
        background: -o-linear-gradient(left, rgba(207,216,220,1) 35%, rgba(207,216,220,1) 61%, rgba(207,216,220,0.13) 100%);
        background: -ms-linear-gradient(left, rgba(207,216,220,1) 35%, rgba(207,216,220,1) 61%, rgba(207,216,220,0.13) 100%);
        background: linear-gradient(to right, rgba(207,216,220,1) 35%, rgba(207,216,220,1) 61%, rgba(207,216,220,0.13) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#cfd8dc', GradientType=1 );
        &:after {
            left: 0;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.807271 6.24182C0.397576 5.83212 0.397576 5.16788 0.807271 4.75818L5.25818 0.307271C5.66788 -0.102424 6.33212 -0.102424 6.74182 0.307271C7.15151 0.716966 7.15151 1.38121 6.74182 1.79091L2.29091 6.24182C1.88121 6.65151 1.21697 6.65151 0.807271 6.24182Z' fill='%23626B71'/%3e%3cpath d='M0.807271 4.75818C0.397576 5.16788 0.397576 5.83212 0.807271 6.24182L5.25818 10.6927C5.66788 11.1024 6.33212 11.1024 6.74182 10.6927C7.15151 10.283 7.15151 9.61879 6.74182 9.20909L2.29091 4.75818C1.88121 4.34849 1.21697 4.34849 0.807271 4.75818Z' fill='%23626B71'/%3e%3c/svg%3e");
        }
    }
    .swiper-button-next {
        right: 0;
        background: rgba(207,216,220,0.13);
        background: -moz-linear-gradient(left, rgba(207,216,220,0.13) 0%, rgba(207,216,220,1) 39%, rgba(207,216,220,1) 65%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(207,216,220,0.13)), color-stop(39%, rgba(207,216,220,1)), color-stop(65%, rgba(207,216,220,1)));
        background: -webkit-linear-gradient(left, rgba(207,216,220,0.13) 0%, rgba(207,216,220,1) 39%, rgba(207,216,220,1) 65%);
        background: -o-linear-gradient(left, rgba(207,216,220,0.13) 0%, rgba(207,216,220,1) 39%, rgba(207,216,220,1) 65%);
        background: -ms-linear-gradient(left, rgba(207,216,220,0.13) 0%, rgba(207,216,220,1) 39%, rgba(207,216,220,1) 65%);
        background: linear-gradient(to right, rgba(207,216,220,0.13) 0%, rgba(207,216,220,1) 39%, rgba(207,216,220,1) 65%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#cfd8dc', GradientType=1 );
        &:after {
            right: 0;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.19273 6.24182C7.60242 5.83212 7.60242 5.16788 7.19273 4.75818L2.74182 0.307271C2.33212 -0.102424 1.66788 -0.102424 1.25818 0.307271C0.848486 0.716966 0.848486 1.38121 1.25818 1.79091L5.70909 6.24182C6.11879 6.65151 6.78303 6.65151 7.19273 6.24182Z' fill='%23626B71'/%3e%3cpath d='M7.19273 4.75818C7.60242 5.16788 7.60242 5.83212 7.19273 6.24182L2.74182 10.6927C2.33212 11.1024 1.66788 11.1024 1.25818 10.6927C0.848486 10.283 0.848486 9.61879 1.25818 9.20909L5.70909 4.75818C6.11879 4.34849 6.78303 4.34849 7.19273 4.75818Z' fill='%23626B71'/%3e%3c/svg%3e");
        }
    }

    .swiper-button-disabled {
        opacity: 0;
    }
}


@media (max-width: 991px) {

    .swiper-container {
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }

}
