.modal-cc-empl {
    .modal-header {
        background-color: #bac7cc;
        padding: 6px 15px 9px 15px;
        border-bottom: 0;
        border-top-right-radius: 6px;
         border-top-left-radius: 6px;
        
        .modal-title {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.4px;
            color: #fff;
        }
        
        .close {
            color: #fff;
            text-shadow: 0 1px 0 #999;
            opacity: 0.8;
            
            &:hover {
                opacity: 1;
            }
        }
    }
    
    .modal-body {
        margin-top: -3px;
    }
    
    .order-sum {
        text-align: right;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    
    .order-list {
        .order-item {
            background-color: #fff;
            .border-radius(0px);
            .box-shadow(none);
            padding: 0 0 10px 0;
            border-bottom: 1px dotted #e5e5e5;
            
            &:last-child {
                border-bottom: 0;
            }
            
            &.order-empl {
                .flex();
                .flex-align-items(center);
                justify-content: space-between;
                
                h3 {
                    font-size: 18px;
                    letter-spacing: 0.6px;
                }
                
                .order-empl--post {
                    font-size: 13px;
                    color: #626b71;
                    letter-spacing: 0.2px;
                }
                
                .raiting {
                    font-size: 26px;
                    letter-spacing: 0.9px;
                }
            }
        }
    }
}