.modal-cc-empl {
    .modal-header {
    	padding: 0;
        border-bottom: 0;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
                
        .close {
            color: #fff;
            text-shadow: 0 1px 0 #999;
            opacity: 0.8;
            
            &:hover {
                opacity: 1;
            }
        }
    }
    
    .modal-body {
        margin-top: -3px;
        padding: 25px;
    }
    
    .empl-card {
    	.flex();
    	.flex-align-items(top);
    	-webkit-justify-content: space-between;
    	justify-content: space-between;
    	&__name {
    		font-size: 20px;
    		margin: 0 0 5px;
    	}
    	&__post {
    		color: #626B71;
    		font-size: 13px;
    		margin-bottom: 5px;
    	}
    	&__time {
    		font-weight: 500;
    		font-size: 13px;
    		&-item:not(:last-child) {
    			margin-right: 5px;
    		}
    	}
    	&__rate {
    		font-size: 30px;
    		font-weight: 500;
    		&.good {
            	color: #10C07E;
            }
            &.ok {
            	color: #F5A623;
            }
            &.bad {
            	color: #D3123F;
            }
    	}
    }
    
    .order-list {
    	margin-top: 12px;
        max-height: 300px;
        overflow-y: auto;
        .order-item {
            background-color: #fff;
            padding: 0;
            border-bottom: 1px dotted #e5e5e5;
            .order-item--body {
            	.border-radius(0px);
            	.box-shadow(none);
            	padding: 6px 0 12px 0;
            	.order-item-cell {
	            	&.order-item-cell--location {
    	        		flex-basis: 25%;
        	    	}
        	    	&.order-item-cell--late {
        	    		flex-basis: 5%;
        	    	}
        	    	&.order-item-cell--price {
        	    		flex-basis: 25%;
        	    	}
            	}
            }
            &:first-child {
                border-top: 1px dotted #e5e5e5;
            }
        }
    }
    
    .modal-footer {
    	text-align: center;
    	position: relative;
    	padding-top: 20px;
    	.btn-icon {
    		width: 35px;
    		height: 35px;
    		padding: 0;
    		.border-radius(50%);
    		background-color: #007EE5;
    		color: #fff;
    	}
    	.btn+.btn {
    		margin-left: 20px;
    	}
    	.scale-h {
    		transform: scale(-1,1);
    	}
    	&:after {
		    content: " ";
		    position: absolute;
		    width: 0;
		    height: 0;
		    top: -1px;
		    left: ~'calc((100% - 18px ) / 2)';
		    border-style: solid;
		    border-width: 8px 8px 0 8px;
		    border-color: #ffffff transparent transparent transparent;
    	}
    }
    
    @media (max-width: 767px) {
    	.order-list {
	    	
	        .order-item {
	            
	            .order-item--body {
	            	
	            	.order-item-cell {
		            	&.order-item-cell--time {
	    	        		flex-basis: 7%;
	    	        		order: 1;
	        	    	}
		            	&.order-item-cell--number {
	    	        		flex-basis: 10%;
	    	        		order: 2;
	        	    	}
		            	&.order-item-cell--location {
	    	        		flex-basis: 40%;
	    	        		order: 3;
	        	    	}
	        	    	&.order-item-cell--late {
	        	    		flex-basis: 5%;
	        	    		order: 4;
	        	    	}
	        	    	&.order-item-cell--price {
	        	    		flex-basis: 18%;
	        	    		order: 5;
	        	    		font-size: 16px;
	        	    	}
	            	}
	            }
	            &:first-child {
	                border-top: 1px dotted #e5e5e5;
	            }
	        }
	    }
    }
}