.modal-backdrop {
    background-color: rgba(207, 216, 220, 1);
}

.modal-open {
    .content {
        filter: blur(3px);
        -webkit-transition: filter .15s linear;
        -o-transition: filter .15s linear;
         transition: filter .15s linear;        
    }
}

.modal-cc {
    .modal-dialog {
        margin-top: @navbar-height + 10px;
    }   
    
    .modal-content {
        .border-radius(0px);
        background-color: transparent;
        border: 0;
        .box-shadow(none);
    }
    
    .modal-body {
        background-color: #fff;
        .border-radius(6px);
        position: relative;  
        
        &:before {
            content: url(../images/svg/angle.svg);
            width: 33px;
            height: 12px;
            position: absolute;
            bottom: -12px;
            left: 50%;
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    
    .modal-footer {
        padding-top: 35px;
    }
}

.modal-cc-empl {

    .modal-header {
        background-color: #bac7cc;
        padding: 6px 15px 9px 15px;
        border-bottom: 0;
        border-top-right-radius: 6px;
         border-top-left-radius: 6px;
        
        .modal-title {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.4px;
            color: #fff;
        }
        
        .close {
            color: #fff;
            text-shadow: 0 1px 0 #999;
            opacity: 0.8;
            
            &:hover {
                opacity: 1;
            }
        }
    }
    
    .modal-body {
        margin-top: -3px;
    }
    
    .order-sum {
        text-align: right;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    

}

.modal-cc-card {
    .modal-header {
        padding: 0;
        border-bottom: 0;
    }
    
    .modal-body {
  border-top-right-radius: 0;
   border-top-left-radius: 0;        
    }
    
    .nav-tabs-card {
        height: 40px;

        > li {
            > a {
                padding: 0 15px;
                letter-spacing: 1px;
                color: #a4acb4;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 11px;
                height: 40px;
                line-height: 40px;
                vertical-align: middle;
                background-color: #f1f5f6;
                border-left: 1px solid #cfd8dc;
                border-right: 1px solid #cfd8dc;
                .border-bottom-radius(0);
                border-bottom: 2px solid #cfd8dc;
            }
            
            &.active {
                > a {
                    color: #2e2f31;
                    font-size: 14px;
                    background-color: #fff;
                    border-left-color: #fff;
                    border-bottom-color: #fff;
                    border-bottom-width: 2px;
                }
            }
        }
    }
    
    .list-posts-card {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 0;
        justify-content: center;
        
        > li {
            margin-right: 2px;
            margin-left: 0;
            position: relative;
            
            .badge {
                color: inherit;
                background-color: inherit;
                position: absolute;
                top: -10px;
                right: -5px;
                height: 20px;
                line-height: 16px;
                vertical-align: middle;
                min-width: 20px;
                padding: 0 5px;
                text-align: center;
                border: 2px solid #fff;
            }
            
            &:last-child {
                margin-right: 0;
            }
            
            &.active {
                width: 38px;
                height: 38px;
            }
        }
    }
    
    .filial-card {
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    .info-card {
        color: #626b71;
        letter-spacing: 0.2px;
        font-weight: 300;
        font-size: 13px;
        margin-bottom: 30px;
        
        .info-card--item {
            margin-right: 10px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    .table-order--heads {

        .flex();
        .flex-align-items(center);
        
        .table-order--head {
            padding: 8px;
            text-align: center;
            width: 10%;
        }
        
        .table-order--head__name {
            width: 70%;
            text-align: left;
        }
    }
    
    .table-order {
        font-weight: 500;
        letter-spacing: 0.7px;
        
        > thead {
            > tr {
                > th {
                    font-size: 7px;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    color: #626b71;
                    white-space: nowrap;
                    border-bottom: 0;
                    
                    &.h-cell-name {
                        text-align: left;
                    }
                    
                    &.h-cell-sum {
                        text-align: right;
                    }
                }
            }
        }
        
        > tbody {
            > tr {
                > td {
                    text-align: center;
                    vertical-align: middle;
                    width: 10%;
                    border-top: 0;
                    border-bottom: 1px dotted #e5e5e5;
                }
            }
        }

        .cell-name {
            font-size: 13px;
            text-align: left;
            width: 70%;
        }
        
        .cell-sum {
            text-align: right;
        }
    }
    
    .menu-action {
        padding: 0;
        margin: 0;
        list-style: none;
        .flex();
        justify-content: center;

        > li {
            margin-right: 20px;
            
            &:last-child {
                margin-right: 0;
            }
            
            > a {
                display: inline-block;
                width: 36px;
                height: 36px;
                color: #fff;
                .border-radius(100%);
                background-color: #007ee5;
            }
        }
    }
    
    .panel-total {
        .flex();
        .flex-align-items(center);
        justify-content: space-between;
        
        .panel-total--sum {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.5px;
        }
    }
    
    
}