.navbar {
    border: 0;
    min-height: @navbar-height;
    height: @navbar-height;
    background-color: @navbar-bg;
    color: @navbar-color;
    margin: 0;
    .border-radius(@navbar-border-radius);
    max-width: @max-width;
    margin: 0 auto;
    z-index: @navbar-zindex;
    
    .navbar-container {
        .flex();
        justify-content: space-between;
    }    

    .navbar-brand {
        height: @navbar-height;
        line-height: @navbar-height;
        vertical-align: middle;
        padding: 0;
        padding-left: @grid-gutter-width / 2;
        padding-right: @grid-gutter-width / 2;
        border-right: 1px solid @navbar-brand-border-color;
        margin-right: @grid-gutter-width / 2;
        
        img {
            width: @navbar-brand-logo-w;
            display: inline-block;
        }
    }
    
    .navbar-nav {
        letter-spacing: @navbar-nav-letter-spacing;
        font-weight: @navbar-nav-font-weight;
        font-size: @navbar-nav-font-size;
        margin: 0;
        .flex();
        
        > li.active {
        	background-color: @navbar-nav-active-bg;
        }

        > li:last-child {
            padding-right: 25px;
        }
        
        > li > a {
            color: @navbar-link-color;
            line-height: @navbar-height;
            vertical-align: middle;
            padding: 0 15px;
            padding-top: 0;
            padding-bottom: 0;
            border-left: 1px solid @navbar-nav-border-color;
    
            &:hover,
            &:focus {
                background-color: transparent;
            }
        }
    }
    
    .navbar-info {
        float: left;
        height: @navbar-info-height;
        position: relative;
        .flex();
        .flex-align-items(center);    
        flex-wrap: wrap;
        
        .navbar-info-item {
            .time {
                font-weight: 900;
                letter-spacing: 0.4px;
            }
            
            .date {
                color: @navbar-info-date;
                letter-spacing: 0.3px;
                font-size: @navbar-info-date-font-size;
                font-weight: 500;
                line-height: 1;
            }
        }
    }
}


@media (min-width: 768px) {

    .navbar {
        max-width: 100%;
        .navbar-brand {
            padding-left: @grid-gutter-width;
            padding-right: @grid-gutter-width;
        }
    }

}

