.nav-tabs {
    &.nav-justified {
        > li {
            display: table-cell;
            width: 1%;
            
            > a {
                margin-bottom: 0;
            }
        }
    }
}