.panel-info {
    .flex();
    justify-content: space-between;
}

.panel-info-receipts {
    .flex();
    .flex-align-items(center);
    background-color: #fff;
    .border-radius(4px);
    height: 60px;
    letter-spacing: 0.5px;
    
    .receipts-item {
        height: 100%;
        border-right: 1px solid #f3f5f6;
        .flex();
        flex-flow: column wrap;
        padding-left: 10px;
        padding-right: 10px;
        
        &:last-child {
            border-right: 0;
        }        
        
        .receipts-item--name {
            color: #626b71;
            font-weight: 500;
            font-size: 12px;
            padding-top: 8px;
            
            .circle {
                display: inline-block;
                width: 6px;
                height: 6px;
                .border-radius(100%);
                position: relative;
                top: -1px;
                
                &.green {
                    background-color: #10c07e;
                }
                
                &.red {
                    background-color: #ff584c;
                }
            }
        }
        
        .receipts-item--sum {
            font-size: 20px;
            letter-spacing: 0.4px;
            font-weight: 500;
        }
    }
}

.panel-info-empl {
    .flex();
    .flex-align-items(center);
    background-color: #fff;
    .border-radius(4px);
    height: 60px;
    
    .empl-item {
        height: 100%;
        border-right: 1px solid #f3f5f6;
        padding-left: 10px;
        padding-right: 10px;
        .flex();
        .flex-align-items(center);
        position: relative;
        
        .badge {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: #d3123f;
            color: #fff;
            font-size: 10px;
            font-weight: bold;
            .border-radius(100%);
            padding: 0 5px;
            //width: 20px;
            height: 20px;
            line-height: 21px;
            vertical-align: middle;
            border: 1px solid #fff;
        }
        
        &:last-child {
            border-right: 0;
        }
        
        .fa {
            font-size: 25px;
            width: 30px;
            text-align: center;
        }
    }
}