.panel-info {
    .flex();
    //justify-content: space-between;
    margin-bottom: 10px;
    
    .panel-info-item {
        .flex();
        .flex-align-items(center);
        background-color: @panel-info-bg;
        .border-radius(@panel-info-border-radius);
        height: @panel-info-height;
        margin-right: @grid-gutter-width;
    }
    
    .panel-info-receipts {
        letter-spacing: 0.5px; 
        
        .receipts-item {
            height: 100%;
            border-right: @pi-receipts-item-border;
            .flex();
            flex-flow: column wrap;
            padding-left: @grid-gutter-width / 2;
            padding-right: @grid-gutter-width / 2;
            
            &:last-child {
                border-right: 0;
            }        
            
            .receipts-item--name {
                color: @pi-receipts-item--name-color;
                font-weight: @pi-receipts-item--name-font-weight;
                font-size: @pi-receipts-item--name-font-size;
                //padding-top: 8px;
                white-space: nowrap;
                margin: auto 0 0 0;
                
                .circle {
                    display: inline-block;
                    width: @pi-receipts-item--name-circle-size;
                    height: @pi-receipts-item--name-circle-size;
                    .border-radius(100%);
                    position: relative;
                    top: -1px;
                    
                    &.green {
                        background-color: @pi-receipts-item--name-circle-green;
                    }
                    
                    &.yellow {
                        background-color: @pi-receipts-item--name-circle-yellow;
                    }
                    
                    &.red {
                        background-color: @pi-receipts-item--name-circle-red;
                    }
                }
            }
            
            .receipts-item--sum {
                letter-spacing: 0.4px;
                font-weight: 600;
                margin: 0 0 auto 0;
                font-size: 12px;
            }
        }
    } 
    
    .panel-info-empl {    
        .empl-item {
            height: 100%;
            border-right: @pi-empl-item-border;
            padding-left: @pi-empl-item-padding-left;
            padding-right: @pi-empl-item-padding-right;
            .flex();
            .flex-align-items(center);
            position: relative;
            
            .badge {
                position: absolute;
                top: 5px;
                right: @pi-empl-item-badge-right;
                
                background-color: @pi-empl-item-badge-bg;
                color: @pi-empl-item-badge-color;
                border: @pi-empl-item-badge-border;
                
                min-width: @pi-empl-item-badge-minwidth;
                height: @pi-empl-item-badge-height;
                line-height: @pi-empl-item-badge-height;
                padding: 0 4px;
                
                font-size: @pi-empl-item-badge-font-size;
                font-weight: @pi-empl-item-badge-font-weight;
                .border-radius(100%);
    
                vertical-align: middle;
                text-align: center;
            }
            
            &:last-child {
                border-right: 0;
            }
            
            .fa {
                font-size: 25px;
                width: 30px;
                text-align: center;
            }
        }
    }    
}

@media (min-width: 768px) {

    .panel-info {

        .panel-info-receipts {
            .receipts-item {
                &:first-child {
                    padding-left: 10px;
                }
                .receipts-item--sum {
                	font-size: @pi-receipts-item--sum-font-size;
                }
                padding-left: 15px;
                padding-right: 25px;
            }
        }

        .panel-info-empl {
            .empl-item {
                padding-left: @pi-empl-item-padding-left-768;
                padding-right: @pi-empl-item-padding-right-768;

                .badge {
                    right: @pi-empl-item-badge-right-768;
                }
            }
        }
    }


}