.noUi-target {
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid #cccccc;
	box-shadow: none;
	height: 8px;

	.noUi-connects {
		border-radius: 5px;
	}
	.noUi-connect {
		background: @slider-bg;
	}
	.noUi-handle {
		width: 18px;
		height: 18px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
		background-color: @slider-bg;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		&:before, &:after {
			display: none;
			opacity: 0;
			visibility: hidden;
		}
		right: -9px;
		left: auto;
	    top: -6px;
	    outline: none;
	}
}