@gray-base:               #2e2f31;

@green-base:              #10c07e; // зелёный

@red-base:                #ff584c; // красный
@red-dark:                #d3123f; // ярко-красный

@yellow-base:             #ffcc00; // жёлтый
@orange-base:             #f5a623; // оранжевый



//== Scaffolding
//
//## Settings for some of the most global styles.

@body-bg:                          #f1f5f6;
@body-bg-start-color:              #cbd0d5;
@body-bg-mid-color:                @body-bg;
@body-bg-end-color:                #fff;
@body-bg-color-stop:               42%;

@text-color:                       @gray-base;

@max-width:                        767px;
@min-width:                        320px; //375px;



//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Roboto", sans-serif;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;



//== Grid system
//
//## Define your custom responsive grid.

@grid-gutter-width:         20px;



//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@border-radius-base:        4px;



//== Animations
//
//## 

@transition-duration:                  0.3s;
@transition-timing-function:           ease;



//== Raiting
//
//## 

@raiting-good:                         #4cd964;
@raiting-bad:                          @orange-base;



//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-sm-height:                       24px;
@btn-sm-border-radius:                @btn-sm-height / 2;
@btn-sm-padding:                      0 12px;
@btn-sm-border:                       0px;
@btn-sm-letter-spacing:               0.4px;
@btn-sm-font-weight:                  500;
@btn-sm-font-size:                    ceil((@font-size-base * 0.85));   // ~12px

@btn-close-color:                     #fff;
@btn-close-bg:                        rgba(94, 98, 103, 0.68);   // #5e6267;

@btn-close-icon-w:                    16px;
@btn-close-icon-h:                    16px;
@btn-close-icon-border-radius:        100%;
@btn-close-icon-bg:                   #6c6e70;
@btn-close-icon-font-size:            ceil((@font-size-base * 0.6));   // ~9px

@btn-close-active-bg:                 #5e6267;
@btn-close-active-color:              #fff;



//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    47px;
@navbar-bg:                        @gray-base;
@navbar-color:                     #fff;
@navbar-border-radius:             0px;
@navbar-zindex:                    1051;

// Navbar brand
@navbar-brand-border-color:        #3a3b3d;

@navbar-brand-logo-w:              76px;
@navbar-brand-logo-h:              12px;

// Navbar links
@navbar-link-color:                #fff;

@navbar-nav-font-size:             ceil((@font-size-base * 0.85));   // ~12px
@navbar-nav-font-weight:           500;
@navbar-nav-letter-spacing:        0.5px;
@navbar-nav-border-color:          #3a3b3d;

@navbar-info-height:               @navbar-height;
@navbar-info-date:                 #9b9b9b;
@navbar-info-date-font-size:       ceil((@font-size-base * 0.75));   // ~11px



//== Panel Info
//
//## 

@panel-info-bg:                        #fff;
@panel-info-border-radius:             @border-radius-base;
@panel-info-height:                    60px;

@pi-receipts-item-border:              1px solid #f3f5f6;

@pi-receipts-item--name-color:         #626b71;
@pi-receipts-item--name-font-size:     ceil((@font-size-base * 0.85));   // ~12px
@pi-receipts-item--name-font-weight:   500;

@pi-receipts-item--name-circle-size:   6px;
@pi-receipts-item--name-circle-green:  @green-base;
@pi-receipts-item--name-circle-red:    @red-base;

@pi-receipts-item--sum-font-size:      ceil((@font-size-base * 1.4));    // 20px

@pi-empl-item-border:                  1px solid #f3f5f6;

@pi-empl-item-badge-bg:                @red-dark;
@pi-empl-item-badge-color:             #fff;
@pi-empl-item-badge-border:            1px solid #fff;
@pi-empl-item-badge-height:            20px;
@pi-empl-item-badge-minwidth:          20px;
@pi-empl-item-badge-font-size:         ceil((@font-size-base * 0.7));   // ~10px
@pi-empl-item-badge-font-weight:       700;


//== Filters
//
//##

@filters-height:                  45px;
@filters-border-radius:           25px;
@filters-font-size:               ceil((@font-size-base * 0.85));   // ~12px
@filters-bg:                      #cfd8dc;

@filters-link-color:              #fff;
@filters-link-bg:                 #bac7cc;
@filters-link-height:             24px;
@filters-link-line-height:        24px;
@filters-link-border-radius:      @filters-link-height / 2;
@filters-link-padding:            0px 12px;

@filters-link-color-hover:        #fff;
@filters-link-bg-hover:           #007ee5;

@filters-link-color-active:       @filters-link-color-hover;
@filters-link-bg-active:          @filters-link-bg-hover;

@filters-late-font-size:          ceil((@font-size-base * 0.75));   // ~11px
@filters-late-bad1:               @yellow-base; 
@filters-late-bad2:               @orange-base;  
@filters-late-bad3:               @red-dark;


//== Empllist
//
//##

@empllist-item-bg:                #fff;
@empllist-item-border-radius:     @border-radius-base;
@empllist-item-box-shadow:        0 1px 2px 0 #cfd8dc;



//== Modal
//
//## 

@modal-backdrop:                  #cfd8dc;
@modal-blur:                      3px;