@import '../../base/_variables.less';

.position-page {
    &__content {
        padding-top: 40px;
        padding-right: 30px;
        padding-left: 30px;

        background-color: #FFF;

        .position-page__navigation {
            margin-top: 30px;
            margin-right: -30px;
            margin-left: -30px;
            width: calc(100% + 60px);

            .hrm-tab-group__content {
                padding-right: 30px;
                padding-left: 30px;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-weight: 500;
        font-size: 22px;
    }

    &__tab-pane {
        .position-page__section {
            margin-top: 40px;
        }

        .position-page__tab-pane-action-list {
            margin-top: 40px;
        }
    }

    &__workload-tab-pane {
        .position-page__workload-tab-pane-section-row-name-item {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        .position-page__workload-tab-pane-section-row-workload-type-item {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        .position-page__workload-tab-pane-section-row-dish-categories-item {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        .position-page__workload-tab-pane-section-row-dish-categories-exclusion-flag-item {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        .position-page__workload-tab-pane-section-row-order-types-item {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        .position-page__workload-tab-pane-section-row-units-item {
            flex: 0 0 calc(100% / 6);
            max-width: calc(100% / 6);
        }

        .position-page__workload-tab-pane-additional-workload-section-row-workload-type-item {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        .position-page__workload-tab-pane-additional-workload-section-row-factor-item {
            flex: 0 0 calc(100% / 6);
            max-width: calc(100% / 6);
        }

        .position-page__workload-tab-pane-additional-workload-section-row-units-item {
            width: unset;
        }

        .position-page__workload-tab-pane-additional-workload-section-row-name-item {
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        .position-page__workload-tab-pane-section {
            margin-top: 38px;

            &:not(:nth-last-child(2)) {
                margin-bottom: -26px;
            }
        }

        .position-page__workload-tab-pane-add-additional-workload-item {
            margin-top: -6px;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: -26px;

        .position-page__section-title {
            margin-bottom: 22px;
        }

        .position-page__section-row {
            width: 100%;
        }
    }

    &__section-row {
        .position-page__section-row-content {
            margin-right: -15px;
            margin-left: -15px;
            width: calc(100% + 30px);
        }

        .position-page__section-row-item {
            margin-bottom: 26px;
        }

        .position-page__section-row-wrapper {
            flex: 1 0 100%;
        }
    }

    &__section-row-content {
        display: flex;
        flex-wrap: wrap;
    }

    &__section-row-item {
        display: flex;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

        & > * {
            flex-shrink: 0;
        }

        & > .hrm-form-field {
            width: 100%;
        }
    }

    &__section-title {
        display: block;

        font-weight: 500;
        font-size: 18px;

        transition: color 200ms ease-in-out;

        .position-page__section-title-postscript {
            margin-left: 8px;
        }

        .position-page__section--disabled & {
            color: #999;

            .position-page__section-title-postscript {
                display: none;
            }
        }
    }

    &__section-title-postscript {
        font-style: italic;
        font-weight: normal;
        font-size: 10px;
        color: #8E9CBB;
    }

    &__workload-tab-pane-additional-workload-section {
        margin-bottom: 0;
    }

    &__workload-tab-pane-additional-workload-section-row {
        .position-page__workload-tab-pane-additional-workload-section-row-remove-button {
            margin-top: calc(22px - 4.5px);
            margin-left: 15px;
        }
    }

    &__workload-tab-pane-additional-workload-section-row-units-item {
        .position-page__workload-tab-pane-additional-units-form-field {
            width: unset;
        }
    }

    &__workload-tab-pane-production-standard-form-field {
        .position-page__workload-tab-pane-production-standard-form-field-type-control {
            flex-shrink: 0;
            margin-top: 2px;
            margin-right: 30px;
        }

        .position-page__workload-tab-pane-production-standard-form-field-value-control {
            width: 60px;
        }

        .position-page__workload-tab-pane-production-standard-form-field-suffix {
            margin-top: 2px;
            margin-left: 15px;
        }
    }

    &__workload-tab-pane-production-standard-form-field-control-wrapper {
        display: flex;
    }

    &__workload-tab-pane-production-standard-form-field-range-control {
        display: flex;

        .position-page__workload-tab-pane-production-standard-form-field-range-control-min-control {
            width: 68px;
        }

        .position-page__workload-tab-pane-production-standard-form-field-range-control-separator {
            margin-left: 8px;
        }

        .position-page__workload-tab-pane-production-standard-form-field-range-control-max-control {
            margin-left: 8px;
            width: 68px;
        }
    }

    &__workload-tab-pane-production-standard-form-field-range-control-separator {
        font-size: 15px;
        line-height: normal;
        color: #8E9CBB;
    }

    &__workload-tab-pane-production-standard-form-field-suffix {
        font-size: 13px;
        line-height: normal;
    }

    &__salary-tab-pane {
        .position-page__salary-tab-pane-section-row-bulk-item {
            width: unset;
        }

        .position-page__salary-tab-pane-bulk-form-field {
            width: 168px;
        }

        .position-page__salary-tab-pane-section-row-bonus-rate-item {
            width: unset;
        }

        .position-page__salary-tab-pane-bonus-rate-form-field {
            width: 168px;
        }

        .position-page__salary-tab-pane-section-row-bonus-sum-item {
            width: unset;
        }

        .position-page__salary-tab-pane-bonus-sum-form-field {
            width: 168px;
        }

        .position-page__salary-tab-pane-section-row-bonus-max-item {
            width: unset;
        }

        .position-page__salary-tab-pane-bonus-max-form-field {
            width: 168px;
        }

        .position-page__salary-tab-pane-section-row-fine-rate-item {
            width: unset;
        }

        .position-page__salary-tab-pane-fine-rate-form-field {
            width: 168px;
        }

        .position-page__salary-tab-pane-section-row-fine-sum-item {
            width: unset;
        }

        .position-page__salary-tab-pane-fine-sum-form-field {
            width: 168px;
        }

        .position-page__salary-tab-pane-section-row-fine-max-item {
            width: unset;
        }

        .position-page__salary-tab-pane-fine-max-form-field {
            width: 168px;
        }
    }

    &__salary-tab-pane-section-row-bonus-sum-item {
        .position-page__salary-tab-pane-section-row-bonus-sum-item-suffix {
            margin-top: 21px;
            margin-left: 15px;
        }
    }

    &__salary-tab-pane-section-row-bonus-sum-item-suffix {
        font-size: 13px;
    }

    &__salary-tab-pane-section-row-fine-sum-item {
        .position-page__salary-tab-pane-section-row-fine-sum-item-suffix {
            margin-top: 21px;
            margin-left: 15px;
        }
    }

    &__salary-tab-pane-section-row-fine-sum-item-suffix {
        font-size: 13px;
    }

    &__tab-pane-action-list {
        display: flex;

        .position-page__tab-pane-action-list-item {
            flex-shrink: 0;

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    &__salary-tab-pane-section-row-premium-account-item {
        .position-page__salary-tab-pane-section-row-premium-account-item-switch-group {
            margin-top: 0;
            max-width: 100%;
        }
    }

    &__ranks-tab-pane {
        .position-page__ranks-tab-pane-first-add-button {
            margin-top: 38px;
            display: flex;
        }

        .position-page__ranks-tab-pane-table {
            margin-top: 21px;
            width: 100%;
        }

        .position-page__ranks-tab-pane-second-add-button {
            margin-top: 20px;
            display: flex;
        }
    }

    &__ranks-tab-pane-table {
        .position-page__ranks-tab-pane-table-number-head-cell {
            width: 83px;
        }

        .position-page__ranks-tab-pane-table-actions-head-cell {
            width: 70px;
        }

        .position-page__ranks-tab-pane-table-delete-button {
            margin-left: calc(16px - 4.5px);
        }
    }

    &__ranks-tab-pane-table-salary-bulk-cell,
    &__ranks-tab-pane-table-production-standard-cell,
    &__ranks-tab-pane-table-bonus-factory-cell,
    &__ranks-tab-pane-table-fine-factory-cell {
        text-align: end;
    }

    &__ranks-tab-pane-table-actions-cell {
        text-align: center;
    }

    &__rank-modal {
        padding-right: 0 !important;

        background: #FFFFFF99;

        .position-page__rank-modal-dialog-wrapper {
            position: absolute;
            height: 100%;
            right: 0;
            width: calc(100% - 58px);
            margin-left: 58px;
            max-width: 932px;
            z-index: 1;
        }
    }

    &__rank-modal-dialog-wrapper {
        .position-page__rank-modal-dialog {
            height: 100%;
            width: 100%;
        }

        .position-page__rank-modal-dialog-wrapper-actions {
            position: absolute;
            transform: translate(calc(-100% + -12px), 11px);
            z-index: 2;
        }
    }

    &__rank-modal-dialog-wrapper-actions {
        display: flex;
    }

    &__rank-modal-dialog-wrapper-close-button {
        display: flex;
        width: 34px;
        height: 34px;
        align-items: center;
        justify-content: center;
        border-width: 1px;
        padding: 0;

        border-radius: 50%;
        box-shadow: none !important;
        border-style: solid;
        border-color: #D3D8DF;

        &:before {
            @background-svg: '
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path d="M8,16a1,1,0,0,1-1-1V1A1,1,0,1,1,9,1V15A1,1,0,0,1,8,16Z" transform="translate(0 0)" style="fill: #d3d8df"/>
                  <path d="M16,8a1,1,0,0,0-1-1H1A1,1,0,0,0,1,9H15A1,1,0,0,0,16,8Z" transform="translate(0 0)" style="fill: #d3d8df"/>
                </svg>
            ';

            content: '';

            width: 16px;
            height: 16px;

            @escaped-background-svg: escape(@background-svg);
            background-image: url('data:image/svg+xml,@{escaped-background-svg}');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            transform: rotate(45deg);
        }
    }


    &__specialities-tab-pane {
        .position-page__specialities-tab-pane-first-add-button {
            margin-top: 38px;
            display: flex;
        }

        .position-page__specialities-tab-pane-table {
            margin-top: 21px;
            width: 100%;
        }

        .position-page__specialities-tab-pane-second-add-button {
            margin-top: 20px;
            display: flex;
        }
    }

    &__specialities-tab-pane-table {
        .position-page__specialities-tab-pane-table-number-head-cell {
            width: 83px;
        }

        .position-page__specialities-tab-pane-table-actions-head-cell {
            width: 70px;
        }

        .position-page__specialities-tab-pane-table-delete-button {
            margin-left: calc(16px - 4.5px);
        }
    }

    &__specialities-tab-pane-table-salary-bulk-cell,
    &__specialities-tab-pane-table-production-standard-cell,
    &__specialities-tab-pane-table-bonus-factory-cell,
    &__specialities-tab-pane-table-fine-factory-cell {
        text-align: end;
    }

    &__specialities-tab-pane-table-actions-cell {
        text-align: center;
    }

    &__cancel-button {
        width: 120px;
    }

    &__save-button {
        width: 125px;
    }
}

@media (max-width: @tablet-max-width) {
    .position-page {
        &__content {
            padding-top: 30px;
        }

        &__workload-tab-pane {
            .position-page__workload-tab-pane-section-row-name-item {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .position-page__workload-tab-pane-section-row-workload-type-item {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .position-page__workload-tab-pane-section-row-dish-categories-item {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .position-page__workload-tab-pane-section-row-dish-categories-exclusion-flag-item {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .position-page__workload-tab-pane-section-row-order-types-item {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .position-page__workload-tab-pane-section-row-units-item {
                flex: 0 0 calc(100% / 4);
                max-width: calc(100% / 4);
            }

            .position-page__workload-tab-pane-additional-workload-section-row-workload-type-item {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .position-page__workload-tab-pane-additional-workload-section-row-factor-item {
                flex: 0 0 calc(100% / 4);
                max-width: calc(100% / 4);
            }

            .position-page__workload-tab-pane-additional-workload-section-row-units-item {
                width: unset;
            }

            .position-page__workload-tab-pane-additional-workload-section-row-name-item {
                flex: 0 0 calc(100% / 12 * 5);
                max-width: calc(100% / 12 * 5);
            }
        }

        &__workload-tab-pane-additional-workload-section-row {
            &--type_other {
                .position-page__workload-tab-pane-additional-workload-section-row-factor-item {
                    order: 4;
                }
            }
        }

        &__salary-tab-pane {
            .position-page__salary-tab-pane-bulk-form-field {
                width: 215px;
            }

            .position-page__salary-tab-pane-bonus-rate-form-field {
                width: 154px;
            }

            .position-page__salary-tab-pane-bonus-sum-form-field {
                width: 154px;
            }

            .position-page__salary-tab-pane-bonus-max-form-field {
                width: unset;

                .hrm-form-field__label {
                    white-space: nowrap;
                }

                .hrm-form-field__basis {
                    width: 154px;
                }
            }

            .position-page__salary-tab-pane-fine-rate-form-field {
                width: 154px;
            }

            .position-page__salary-tab-pane-fine-sum-form-field {
                width: 154px;
            }

            .position-page__salary-tab-pane-fine-max-form-field {
                width: unset;

                .hrm-form-field__label {
                    white-space: nowrap;
                }

                .hrm-form-field__basis {
                    width: 154px;
                }
            }
        }
    }
}

@media (max-width: @mobile-max-width) {
    .position-page {
        &__content {
            padding: 20px 20px 80px;

            .position-page__navigation {
                margin-top: 22px;
                margin-right: -20px;
                margin-left: -20px;
                width: calc(100% + 40px);

                .hrm-tab-group__content {
                    padding-right: 20px;
                    padding-left: 20px;
                }
            }
        }

        &__title {
            font-size: 18px;
        }

        &__back-button {
            width: 30px;
            height: 30px;

            &:before {
                width: 14px;
                height: 10px;
            }
        }

        &__tab-pane {
            .position-page__tab-pane-action-list {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: 2;
            }
        }

        &__workload-tab-pane {
            .position-page__workload-tab-pane-section-row-name-item {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .position-page__workload-tab-pane-section-row-workload-type-item {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .position-page__workload-tab-pane-section-row-dish-categories-item {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .position-page__workload-tab-pane-section-row-dish-categories-exclusion-flag-item {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .position-page__workload-tab-pane-section-row-order-types-item {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .position-page__workload-tab-pane-section-row-units-item {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .position-page__workload-tab-pane-additional-workload-section-row-workload-type-item {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .position-page__workload-tab-pane-additional-workload-section-row-factor-item {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .position-page__workload-tab-pane-additional-workload-section-row-units-item {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .position-page__workload-tab-pane-additional-workload-section-row-name-item {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .position-page__workload-tab-pane-add-additional-workload-item {
                margin-top: 20px;
            }

            .position-page__workload-tab-pane-additional-workload-section-row {
                &:not(:last-child) {
                    margin-bottom: 26px;
                }
            }
        }

        &__workload-tab-pane-section-row-dish-categories-exclusion-flag-item {
            .hrm-form-field-switch-group {
                margin-top: 0;
            }
        }

        &__section-title {
            font-size: 15px;
        }

        &__section-row {
            .position-page__section-row-content {
                margin-right: -7.5px;
                margin-left: -7.5px;
                width: calc(100% + 15px);
            }
        }

        &__section-row-item {
            padding-right: 7.5px;
            padding-left: 7.5px;
        }

        &__workload-tab-pane-production-standard-form-field {
            .hrm-form-field__control--type_complex {
                flex-direction: column;
            }

            .position-page__workload-tab-pane-production-standard-form-field-type-control {
                margin-right: 0;
                margin-bottom: 18px;
            }
        }

        &__workload-tab-pane-additional-workload-section-row {
            .position-page__workload-tab-pane-additional-workload-section-row-factor-item {
                order: unset;
            }

            .position-page__workload-tab-pane-additional-workload-section-row-remove-button {
                margin: -6px 7.5px 26px auto;
            }

            &:not(:last-child) {
                border-bottom-width: 1px;

                border-bottom-style: solid;
                border-bottom-color: #DFE4EF;

                .position-page__section-row-content {
                    margin-bottom: -6px;
                }
            }

            &--type_other {
                .position-page__workload-tab-pane-additional-workload-section-row-remove-button {
                    margin-top: 23px;
                }
            }
        }

        &__salary-tab-pane {
            .position-page__salary-tab-pane-bulk-form-field {
                width: 182px;
            }

            .position-page__salary-tab-pane-bonus-rate-form-field {
                width: 182px;
            }

            .position-page__salary-tab-pane-bonus-sum-form-field {
                width: 182px;
            }

            .position-page__salary-tab-pane-bonus-max-form-field {
                width: 182px;

                .hrm-form-field__label {
                    white-space: normal;
                }

                .hrm-form-field__basis {
                    width: 100%;
                }
            }

            .position-page__salary-tab-pane-fine-rate-form-field {
                width: 182px;
            }

            .position-page__salary-tab-pane-fine-sum-form-field {
                width: 182px;
            }

            .position-page__salary-tab-pane-fine-max-form-field {
                width: 182px;

                .hrm-form-field__label {
                    white-space: normal;
                }

                .hrm-form-field__basis {
                    width: 100%;
                }
            }
        }

        &__salary-tab-pane-section-row-premium-account-item-switch-group {
            .hrm-switch-group__label {
                width: 188px;
            }
        }

        &__ranks-tab-pane {
            .position-page__ranks-tab-pane-table-fixed-section-container {
                margin-top: 20px;
                width: calc(100% + 40px);
                margin-left: -20px;
                margin-right: -20px;
            }

            .position-page__ranks-tab-pane-table {
                margin-top: 0;
            }

            .position-page__ranks-tab-pane-table-fixed-section {
                width: unset;
            }
        }

        &__ranks-tab-pane-table {
            & > tbody > tr > th {
                width: 105px !important;
                min-width: 105px !important;
            }

            & > tbody > tr > td {
                min-width: 70px;

                white-space: nowrap;
            }
        }

        &__ranks-tab-pane-table-fixed-section {
            background-color: #FFF;
        }

        &__ranks-tab-pane-table-number-cell {
            text-align: end;
        }

        &__ranks-tab-pane-table-actions-cell {
            text-align: end;
        }

        &__rank-modal {
            .position-page__rank-modal-dialog-wrapper {
                width: 100%;
            }
        }

        &__specialities-tab-pane-table-fixed-section {
            background-color: #FFF;
        }

        &__specialities-tab-pane-table-number-cell {
            text-align: end;
        }

        &__specialities-tab-pane-table-actions-cell {
            text-align: end;
        }

        &__tab-pane-action-list {
            background-color: #FFF;
            box-shadow: 0 0 15px rgba(8, 20, 45, 0.3);

            .position-page__tab-pane-action-list-item {
                flex: 1;
                margin: 0 !important;
            }
        }

        &__cancel-button,
        &__save-button {
            border-radius: 0;
            border: none;
        }
    }
}

@import 'components/delete-rank-modal-dialog/_delete-rank-modal-dialog';
@import 'components/rank-modal-dialog/_rank-modal-dialog';
@import 'components/delete-speciality-modal-dialog/_delete-speciality-modal-dialog';
@import 'components/speciality-modal-dialog/_speciality-modal-dialog';
