.position-page {
    &__speciality-modal-dialog {
        width: 460px !important;

        &--initializing {
            visibility: hidden;
        }
    }

    &__speciality-modal-dialog-cancel-button {
        width: 120px;
    }

    &__speciality-modal-dialog-submit-button {
        width: 125px;
    }
}
