@import '../../base/_variables.less';

@transition-duration: .15s;
@transition-timing-function: cubic-bezier(.4,0,.2,1);

.hrm-table {
    border-width: 1px;

    border-style: solid;
    border-color: #DFE4EF;

    & > thead,
    & > tbody,
    & > tfoot {
        & > tr {
            & > th {
                height: 34px;
                padding: 5px 10px;

                border-width: 1px;

                border-style: solid;
                border-color: #DFE4EF;
                vertical-align: middle;
                text-align: start;
                font-weight: 500;
                font-size: 12px;
                color: #8E9CBB;

                .hrm-table__head-cell-info-button {
                    margin-left: 7px;
                }
            }
        }
    }

    & > thead {
        & > tr {
            & > th {
                padding-top: 11px;
                padding-bottom: 11px;

                border-bottom-width: 2px;
            }
        }
    }

    & > tbody {
        & > tr {
            & > td {
                height: 34px;
                border-width: 1px;
                padding: 5px 10px;

                border-style: solid;
                border-color: #DFE4EF;
                vertical-align: middle;
                font-size: 13px;
                line-height: 110%;
            }

            & > th {
                line-height: 110%;
            }
        }
    }

    &__cell-content {
        display: flex;
        align-items: center;
    }

    &__editable-cell {
        vertical-align: middle;
        outline: 0 solid #DFE4EF !important;

        transition: outline-color @transition-duration @transition-timing-function,
                    outline-width @transition-duration @transition-timing-function,
                    box-shadow @transition-duration @transition-timing-function;

        &--focused:not(.hrm-table__editable-cell--has-error),
        &:hover:not(.hrm-table__editable-cell--has-error) {
            outline-width: 1px !important;
            outline-color: #0066FF !important;
            box-shadow: 0 0 10px rgba(0, 102, 255, 0.4);
        }

        &--has-error {
            outline-width: 1px !important;
            outline-color: #FF238D !important;
        }

        .hrm-table__editable-cell-content {
            margin: -5px -10px;
            width: calc(100% + 20px);
            height: calc(100% + 10px);
        }

        .hrm-table__editable-cell-control {
            margin: -5px -10px;
            width: calc(100% + 20px);

            &.hrm-table__editable-cell-control--type_select {
                width: calc(100% + 20px) !important;
                height: calc(100% + 10px);
            }
        }
    }

    &__editable-cell-content {
        padding: 5px 10px;
    }

    &__editable-cell-control {
        margin: -5px -10px;
        padding: 5px 10px;

        &--type_input {
            border: none;

            font-size: 13px;
            background: none;
            appearance: none;

            &::placeholder {
                color: #8E9CBB;
            }

            &:focus {
                outline: none;
            }

            // Remove red outline on firefox
            &:invalid {
                box-shadow: none;
            }

            // Keep Chrome autofill behind the notched outline
            &:-webkit-autofill {
                z-index: auto !important;
            }
        }

        &--type_select {
            padding: 0;

            .selection {
                display: flex;
                align-items: center;
                padding: 5px 10px;
                height: 100%;
            }

            .select2-selection {
                align-items: center;
                width: 100%;
            }

            .select2-selection__rendered {
                font-size: 13px !important;
                white-space: normal !important;
                line-height: 100% !important;
            }

            .select2-selection__arrow {
                b {
                    margin-bottom: 0 !important;
                }
            }
        }
    }

    &__editable-cell-dropdown {
        width: 165px !important;

        &.select2-dropdown--below {
            margin-top: 7px;
        }

        &.select2-dropdown--above {
            margin-top: -7px;
        }
    }

    &__editable-cell-error-tooltip {
        background: #FFFFFF;
        box-shadow: 0 4px 16px rgba(0, 15, 38, 0.25);
        border-radius: 6px;

        .tippy-content {
            display: flex;
            align-items: center;

            padding: 13px 15px;
        }

        .hrm-table__editable-cell-error-tooltip-close-button {
            display: none !important;

            margin-left: 8px;
            margin-right: -8px;
        }
    }

    &__editable-cell-error-tooltip-text {
        display: flex;
        align-items: center;

        font-size: 11px;
        color: #FF238D;
        line-height: 108%;

        &:before {
            content: '';

            display: inline-block;
            width: 14px;
            height: 14px;
            flex-shrink: 0;
            margin-right: 10px;

            background-image: .error-icon-background-image(#FF238D)[@result];
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }

    &__editable-cell-error-tooltip-close-button {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;

        &:before {
            .tooltip-times-icon(@color) {
                @svg-content: escape('
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.60446 7.60872C7.21544 7.99774 6.58272 7.99576 6.19126 7.6043L0.537119 1.95155C0.145652 1.56008 0.143673 0.927372 0.532697 0.538348C0.921721 0.149324 1.55443 0.151305 1.9459 0.542771L7.60004 6.19551C7.99151 6.58698 7.99348 7.21969 7.60446 7.60872Z" fill="@{color}"/>
                        <path d="M7.61267 0.541579C7.2212 0.150112 6.58849 0.148131 6.19947 0.537155L0.537184 6.19945C0.14816 6.58847 0.150141 7.22119 0.541608 7.61265C0.933074 8.00412 1.56579 8.0061 1.95481 7.61708L7.61709 1.95478C8.00612 1.56576 8.00414 0.933046 7.61267 0.541579Z" fill="@{color}"/>
                    </svg>
                ');
                width: 8px;
                height: 8px;
                background-image: url('data:image/svg+xml,@{svg-content}');
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }

            .tooltip-times-icon(#8E9CBB);

            content: '';

            display: block;
        }
    }

    &__scrollable-wrapper-content {
        overflow: auto;
    }

    &__scrollable-wrapper {
        position: relative;

        &:after {
            content: '';

            display: block;
            position: absolute;
            right: 0;
            top: 1px;
            bottom: 1px;
            width: 28px;

            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        }
    }

    &__fixed-section-container {
        position: relative;
        overflow: hidden;
    }

    &__fixed-section {
        z-index: 2;
        position: absolute;

        box-shadow: 0 0 10px rgba(0, 21, 80, 0.3);

        &--position_top {
            top: 0;
            left: 0;
            right: 0;
        }

        &--position_right {
            top: 0;
            bottom: 0;
            right: 0;
        }

        &--position_left {
            top: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__sticky-section-container {
        position: relative;

        .hrm-table {
            width: 100%;
        }

        .hrm-table:not(.hrm-table__sticky-section) {
            position: relative;
        }
    }

    &__sticky-section-rail {
        position: absolute !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__sticky-section-wrapper {
        position: sticky;
        top: 0;

        &--stuck {
            z-index: 2;

            &:after {
                content: '';

                display: block;
                position: absolute;
                height: 10px;
                width: 100%;
                bottom: -10px;

                background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, #001550 100%);
                opacity: 0.15;
            }
        }
    }

    &__head-cell-content {
        display: flex;
        align-items: center;

        .hrm-table__head-cell-info-button {
            flex-shrink: 0;
        }
    }

    &__head-cell-info-button {
        width: 14px;
        height: 14px;

        &:before {
            width: 2px;
            height: 8px;
        }
    }
}

@media (max-width: @tablet-max-width) {
    .hrm-table {
        &__editable-cell-error-tooltip {
            .hrm-table__editable-cell-error-tooltip-close-button {
                display: inline-flex !important;
            }
        }
    }
}
