.modal-dialog--stimulation {
  .stimulation-settings {
    &__row {
      display: flex;
      align-items: flex-start;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__select,
    &__comment {
      flex-grow: 1;
    }
    &__type {
      margin-left: 30px;
      align-self: flex-end;
    }
    &__sum {
      margin-left: 30px;
      width: 100px;

      input {
        text-align: right;
        .input-number-appearance();
      }
    }
  }
}

@media screen and (max-width: @mobile-max-width) {
  .modal-dialog--stimulation {
    .stimulation-settings {
      &__row {
        display: block;
      }
      &__type {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
      }
      &__sum {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        max-width: 140px;
      }
    }
  }
}
