@@include('./_summary-position-row.html')
@@include('./_summary-table.html')

<script type="text/javascript">
  $(function () {
    function Column(id, title, fullTitle, total) {

      return {
        id,
        title,
        fullTitle,
        hasTotal: !!total,
        total
      }
    }



    ko.components.register('calculation-page-summary-table', {
      viewModel: {
        createViewModel: function (params, componentInfo) {
          const model = params.model;
          const positions = model.positions;

          const total = ko.pureComputed(() => {
            return positions().reduce((acc, p) => {
              p = p();
              return {
                name: '',
                workload: (acc.workload || 0) + p.workload,
                workloadType: '',
                units: '',
                additionalWorkload: '',
                fotCategory: 100,
                fotRevenue: 100,
                performanceStandart: -100,
                lateness: {
                  green: 0,
                  yellow: 0,
                  red: 0
                },
                employees: (acc.employees || 0) + p.employees().length
              }
            }, {})
          });

          const columns = [
            Column('job', 'Должность', 'Должность'),
            Column('workload-type', 'Тип нагрузки', 'Тип нагрузки'),
            Column('workload', 'Нагрузка', 'Нагрузка'),
            Column('additional-workload', 'Доп. нагрузка', 'Дополнительная нагрузка'),
            Column('count', 'Сотр.', 'Сотрудники'),
            Column('fot-category', 'ФОТ, % в категории', 'ФОТ, % в категории'),
            Column('fot-revenue', 'ФОТ, % от выручки', 'ФОТ, % от выручки'),
            Column('performance-standart', 'Норм. выр-ки, %', 'Норма выработки, %'),
            Column('lateness', 'Опоздания', 'Опоздания'),
          ];

          return {
            viewportSize: params.settings.viewportSize,
            positions,
            total,
            columns
          };
        }
      },
      template: {
        element: document.getElementById('calculation-page-summary-table-template')
      }
    });
  })
</script>
