<script type="text/html"
        id="position-row-template">
  <tr class="calculation-summary__row">
    <!-- Должность -->
    <td class="calculation-summary__cell calculation-summary__cell--job">
      <div class="calculation-summary__cell-content"
           data-bind="text: position.name"></div>
    </td>

    <!-- Тип нагрузки -->
    <td class="calculation-summary__cell calculation-summary__cell--workload-type">
      <div class="calculation-summary__cell-content"
           data-bind="text: position.workloadType"></div>
    </td>

    <!-- Нагрузка -->
    <td class="calculation-summary__cell calculation-summary__cell--workload">
      <div class="calculation-summary__cell-content">
        <div class="position-workload">
          <div class="position-workload__value" data-bind="text: position.workload"></div>
          <div class="position-workload__units" data-bind="text: position.units"></div>
        </div>
      </div>

    </td>

    <!-- Доп. нагрузка -->
    <td class="calculation-summary__cell calculation-summary__cell--additional-workload">
      <div class="calculation-summary__cell-content"
           data-bind="text: position.additionalWorkload"></div>
    </td>

    <!-- Сотрудники -->
    <td class="calculation-summary__cell calculation-summary__cell--count">
      <div class="calculation-summary__cell-content"
           data-bind="text: ko.isObservable(position.employees) ? position.employees().length : position.employees"></div>
    </td>

    <!-- ФОТ, % в категории -->
    <td class="calculation-summary__cell calculation-summary__cell--fot-category">
      <div class="calculation-summary__cell-content"
           data-bind="text: position.fotCategory"></div>
    </td>

    <!-- ФОТ, % от выручки -->
    <td class="calculation-summary__cell calculation-summary__cell--fot-revenue" >
      <div class="calculation-summary__cell-content"
           data-bind="text: position.fotRevenue"></div>
    </td>

    <!-- Норм. выработки -->
    <td class="calculation-summary__cell calculation-summary__cell--performance-standart">
      <div class="calculation-summary__cell-content"
           data-bind="text: position.performanceStandart"></div>
    </td>

    <!-- Опоздания -->
    <td class="calculation-summary__cell calculation-summary__cell--lateness">
      <div class="calculation-summary__cell-content">
        <!-- ko template: { name: 'lateness-template', data: {lateness: position.lateness} } -->
        <!-- /ko -->
      </div>
    </td>
  </tr>

</script>
