.modal-dialog--employee-fine {
  .fine-block {
    display: flex;

    &__content {
      flex-grow: 1;
    }

    &__remove {
      margin-left: 10px;
    }

    &__row {
      margin-bottom: 30px;
      display: flex;
    }

    &__author {
      flex-grow: 1;
      margin-left: 20px;
    }
  }
  .fine-form {
    &__actions {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
    }
  }

  .calculation-modal__scroll-list {
    max-height: 350px;
  }
}

@media screen and (max-width: @mobile-max-width) {
  .modal-dialog--employee-fine {
    .fine-block {
      display: block;

      &__remove {
        margin-left: 0;
        text-align: right;
      }

      &__row {
        display: block;
      }
      &__author {
        margin-top: 30px;
        margin-left: 0;
      }
    }

    .calculation-modal__scroll-list {
      max-height: none;
    }
  }
}
