@import '../../base/_variables.less';

@transition-duration: .15s;
@transition-timing-function: cubic-bezier(.4,0,.2,1);

.hrm-form-field {
    display: inline-block;
    position: relative;
    padding-top: 21px;

    .hrm-form-field__label {
        position: absolute;

        transition: transform @transition-duration @transition-timing-function,
                    font-size @transition-duration @transition-timing-function;
    }

    .hrm-form-field__error {
        margin-top: 9px;
    }

    .hrm-form-field__suffix {
        margin-left: 8px;
        flex-shrink: 0;
    }

    &--focused,
    &--has-value {
        .hrm-form-field__label {
            transform: translateY(-24px);

            font-size: 12px;
        }
    }

    &--no-label {
        padding-top: 0;
    }

    &__label {
        font-size: 15px;
        color: #8E9CBB;
        line-height: normal;

        transition: font-size @transition-duration @transition-timing-function;

        .hrm-form-field--focused &,
        .hrm-form-field--has-value & {
            font-size: 12px;
        }
    }

    &__control-wrapper {
        display: flex;

        padding-bottom: 13px;
        border-bottom-width: 1px;
        position: relative;
        z-index: 2;

        border-bottom-style: solid;
        border-bottom-color: #BFC9E0;

        transition: border-bottom-color @transition-duration @transition-timing-function;

        .hrm-form-field--focused & {
            border-bottom-color: #0066FF;
        }

        .hrm-form-field--has-error & {
            border-bottom-color: #FF238D;
        }
    }

    &__control {
        width: 100%;
        height: 100%;

        &--type_input,
        &--type_datepicker {
            border: none;
            padding: 0;

            font-size: 15px;
            background: none;
            appearance: none;

            &::placeholder {
                color: #8E9CBB;
            }

            &:focus {
                outline: none;
            }

            // Remove red outline on firefox
            &:invalid {
                box-shadow: none;
            }

            // Keep Chrome autofill behind the notched outline
            &:-webkit-autofill {
                z-index: auto !important;
            }
        }

        &--type_select {
            .select2-selection--multiple {
                margin-top: -4px;
                margin-bottom: -8px;
                min-height: 30px !important;
            }
        }
    }

    &__dropdown {
        &.select2-dropdown--below {
            margin-top: 21px;
        }

        &.daterangepicker {
            margin-top: 21px !important;
        }
    }

    &__suffix {
        cursor: pointer;
    }

    &__error {
        display: flex;
        align-items: center;

        &:before {
            content: '';

            display: inline-block;
            width: 14px;
            height: 14px;
            flex-shrink: 0;
            margin-right: 7px;

            background-image: .error-icon-background-image(#FF238D)[@result];
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }

    &__error-text {
        font-size: 11px;
        color: #FF238D;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.hrm-form-field-checkbox-group {
    margin-top: 24px;
}