@import '../../base/_variables.less';

@transition-duration: .15s;
@transition-timing-function: cubic-bezier(.4,0,.2,1);

.hrm-form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-top: 21px;

    .hrm-form-field__label {
        position: absolute;
        top: 21px;

        transition: transform @transition-duration @transition-timing-function,
                    font-size @transition-duration @transition-timing-function;
    }

    .hrm-form-field__basis {
        width: 100%;
    }

    .hrm-form-field__error {
        margin-top: 9px;
    }

    .hrm-form-field__hint {
        margin-top: 4px;
    }

    &--should-label-float {
        .hrm-form-field__label {
            transform: translateY(-24px);

            font-size: 12px;
        }
    }

    &:not(.hrm-form-field--has-label) {
        padding-top: 0;
    }

    &--disabled {
        opacity: 0.4;
        pointer-events: none;
    }

    &--fixed-label {
        padding-top: 0;

        .hrm-form-field__label {
            position: unset;
            margin-bottom: 11px;

            transform: none;
        }
    }

    &__label {
        display: flex;
        align-items: center;

        font-size: 15px;
        color: #8E9CBB;
        line-height: normal;

        transition: font-size @transition-duration @transition-timing-function;

        .hrm-form-field--focused &,
        .hrm-form-field--has-value & {
            font-size: 12px;
        }

        .hrm-form-field__label-info-button {
            margin-left: 9px;
            flex-shrink: 0;
        }
    }

    &__basis {
        display: flex;

        padding-bottom: 13px;
        border-bottom-width: 1px;
        position: relative;
        z-index: 2;

        border-bottom-style: solid;
        border-bottom-color: #BFC9E0;

        transition: border-bottom-color @transition-duration @transition-timing-function;

        &--focused {
            border-bottom-color: #0066FF;
        }

        &--invalid {
            border-bottom-color: #FF238D;
        }

        .hrm-form-field__basis-prefix {
            margin-right: 8px;
            flex-shrink: 0;
        }

        .hrm-form-field__basis-suffix {
            margin-left: 8px;
            flex-shrink: 0;
        }
    }

    &__basis-suffix {
        cursor: pointer;
    }

    &__control {
        width: 100%;
        height: 100%;

        &--type_input,
        &--type_datepicker {
            border: none;
            padding: 0;

            font-size: 15px;
            background: none;
            appearance: none;

            &::placeholder {
                color: #8E9CBB;
            }

            &:focus {
                outline: none;
            }

            // Remove red outline on firefox
            &:invalid {
                box-shadow: none;
            }

            // Keep Chrome autofill behind the notched outline
            &:-webkit-autofill {
                z-index: auto !important;
            }
        }

        &--type_select {
            .select2-selection--multiple {
                margin-top: -4px;
                margin-bottom: -8px;
                min-height: 30px !important;
            }
        }

        &--type_complex {
            display: flex;

            .hrm-form-field__basis {
                width: unset;
            }
        }
    }

    &__dropdown {
        &.select2-dropdown--below {
            margin-top: 21px;
        }

        &.daterangepicker {
            margin-top: 21px !important;
        }
    }

    &__error {
        display: flex;
        align-items: center;

        &:before {
            content: '';

            display: inline-block;
            width: 14px;
            height: 14px;
            flex-shrink: 0;
            margin-right: 7px;

            background-image: .error-icon-background-image(#FF238D)[@result];
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }

    &__error-text {
        font-size: 11px;
        color: #FF238D;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__hint {
        font-style: italic;
        font-size: 10px;
        line-height: 108%;
        color: #8E9CBB;
    }

    &__label-info-button {
        width: 14px;
        height: 14px;

        &:before {
            width: 2px;
            height: 8px;
        }
    }
}

.hrm-form-field-checkbox-group {
    margin-top: 24px;
}

.hrm-form-field-switch-group {
    margin-top: 20px;
}
