@import '../../base/_icons.less';

@transition-duration: .15s;
@transition-timing-function: cubic-bezier(.4,0,.2,1);

.hrm-form-field {
    display: inline-block;
    position: relative;
    padding-top: 21px;

    .hrm-form-field__label {
        position: absolute;

        transition: transform @transition-duration @transition-timing-function,
                    font-size @transition-duration @transition-timing-function;
    }

    .hrm-form-field__error {
        margin-top: 9px;
    }

    &--focused,
    &--has-value {
        .hrm-form-field__label {
            transform: translateY(-24px);

            font-size: 12px;
        }
    }

    &__label {
        font-size: 15px;
        color: #8E9CBB;
        line-height: normal;
        cursor: text;

        transition: font-size @transition-duration @transition-timing-function;

        .hrm-form-field--focused &,
        .hrm-form-field--has-value & {
            font-size: 12px;
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom-width: 1px;
        padding-top: 0;
        padding-bottom: 13px;

        font-size: 15px;
        border-bottom-style: solid;
        border-bottom-color: #BFC9E0;
        background: none;
        appearance: none;

        transition: border-bottom-color @transition-duration @transition-timing-function;

        &:focus {
            outline: none;

            border-bottom-color: #0066FF;
        }

        // Remove red outline on firefox
        &:invalid {
            box-shadow: none;
        }

        // Keep Chrome autofill behind the notched outline
        &:-webkit-autofill {
            z-index: auto !important;
        }

        .hrm-form-field--has-error & {
            border-bottom-color: #FF238D;
        }
    }

    &__error {
        display: flex;
        align-items: center;

        &:before {
            .error-icon(#FF238D);

            content: '';

            display: inline-block;
            flex-shrink: 0;
            margin-right: 8px;
        }
    }

    &__error-text {
        font-size: 11px;
        color: #FF238D;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}