.hrm-radio-group {
    display: inline-flex;
    height: 30px;

    border-width: 1px;
    border-style: solid;
    border-color: #CFD8DC;

    box-sizing: border-box;
    border-radius: 50px;
    overflow: hidden;

    &__radio {
        position: relative;
        width: 100%;

        font-size: 16px;

        &:hover {
            .hrm-radio-group__radio-label {
                background: #DADFE3;
            }
        }

        &:not(:first-child) {
            border-left: 1px solid #CFD8DC;
        }
    }

    &__radio-label {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-right: 16px;
        padding-left: 16px;

        font-weight: 500;
        font-size: 12px;
        color: #0066FF;
        cursor: pointer;
        background: #FFF;
        white-space: nowrap;

        transition: all .2s cubic-bezier(.35, .9, .4, .9);
    }

    &__radio-input {
        display: none;

        &:checked + .hrm-radio-group__radio-label {
            background: #F5F7FA;
            color: #333;
            cursor: default;
        }
    }

    &--dense {
        .hrm-radio-group__radio-label {
            padding-left: 18.5px;
            padding-right: 18.5px;
        }
    }
}
