
@radio-default-theme-color: #F5F7FA;
@radio-positive-theme-color: #D0F4E3;
@radio-negative-theme-color: #FFD3E8;

@radio-default-theme-hover-color: #DADFE3;
@radio-positive-theme-hover-color: #D0F4E3;
@radio-negative-theme-hover-color: #FFD3E8;;


.hrm-radio-group {
    display: inline-flex;
    height: 30px;

    border-width: 1px;
    border-style: solid;
    border-color: #CFD8DC;

    box-sizing: border-box;
    border-radius: 50px;
    overflow: hidden;

    &__radio {
        position: relative;
        width: 100%;

        font-size: 16px;

        &:hover {
            .hrm-radio-group__radio-label {
                background: @radio-default-theme-hover-color;
            }
        }

        .hrm-radio-group__radio-input {
            &:checked + .hrm-radio-group__radio-label {
                background: @radio-default-theme-color;
                color: #333;
                cursor: default;
            }
        }

        &:not(:first-child) {
            border-left: 1px solid #CFD8DC;
        }

        &--theme {
            &_positive {
                &:hover {
                    .hrm-radio-group__radio-label {
                        background: @radio-positive-theme-hover-color;
                    }
                }
                .hrm-radio-group__radio-input {
                    &:checked + .hrm-radio-group__radio-label {
                        background: @radio-positive-theme-color;
                    }
                }
            }
            &_negative {
                &:hover {
                    .hrm-radio-group__radio-label {
                        background: @radio-negative-theme-hover-color;
                    }
                }
                .hrm-radio-group__radio-input {
                    &:checked + .hrm-radio-group__radio-label {
                        background: @radio-negative-theme-color;
                    }
                }
            }
        }
    }

    &__radio-label {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-right: 16px;
        padding-left: 16px;

        font-weight: 500;
        font-size: 12px;
        color: #0066FF;
        cursor: pointer;
        background: #FFF;
        white-space: nowrap;

        transition: all .2s cubic-bezier(.35, .9, .4, .9);
    }

    &__radio-input {
        display: none;


    }



    &--dense {
        .hrm-radio-group__radio-label {
            padding-left: 18.5px;
            padding-right: 18.5px;
        }
    }
}
