.support-icon(@color) {
    @svg-content: escape('
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 18C12.1217 18 14.1566 17.1571 15.6569 15.6569C17.1571 14.1566 18 12.1217 18 10C18 7.87827 17.1571 5.84344 15.6569 4.34315C14.1566 2.84285 12.1217 2 10 2C7.87827 2 5.84344 2.84285 4.34315 4.34315C2.84285 5.84344 2 7.87827 2 10C2 12.1217 2.84285 14.1566 4.34315 15.6569C5.84344 17.1571 7.87827 18 10 18ZM10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20ZM13.446 7.968C13.1017 7.38474 12.6153 6.89826 12.032 6.554L15.657 2.929L17.071 4.343L13.446 7.968ZM7.968 13.446L4.343 17.071L2.929 15.657L6.554 12.032C6.89826 12.6153 7.38474 13.1017 7.968 13.446ZM7.968 6.554C7.38474 6.89826 6.89826 7.38474 6.554 7.968L2.929 4.343L4.343 2.93L7.968 6.555V6.554ZM12.704 12.948C11.9332 13.655 10.9162 14.032 9.87079 13.9981C8.82541 13.9643 7.83488 13.5223 7.11142 12.767C6.38797 12.0116 5.98916 11.0029 6.00044 9.95706C6.01172 8.9112 6.4322 7.91136 7.17178 7.17178C7.91136 6.4322 8.9112 6.01172 9.95706 6.00044C11.0029 5.98916 12.0116 6.38797 12.767 7.11142C13.5223 7.83488 13.9643 8.82541 13.9981 9.87079C14.032 10.9162 13.655 11.9332 12.948 12.704C13.141 12.494 13.307 12.269 13.446 12.032L16.32 14.906C15.9093 15.4343 15.4343 15.9093 14.906 16.32L12.032 13.446C12.269 13.306 12.494 13.141 12.704 12.948ZM10 12C10.5304 12 11.0391 11.7893 11.4142 11.4142C11.7893 11.0391 12 10.5304 12 10C12 9.46957 11.7893 8.96086 11.4142 8.58579C11.0391 8.21071 10.5304 8 10 8C9.46957 8 8.96086 8.21071 8.58579 8.58579C8.21071 8.96086 8 9.46957 8 10C8 10.5304 8.21071 11.0391 8.58579 11.4142C8.96086 11.7893 9.46957 12 10 12Z" fill="@{color}"/>
        </svg>
	');
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,@{svg-content}');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.error-icon(@color) {
    @svg-content: escape('
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="7" cy="7" r="6.5" fill="white" stroke="@{color}"/>
            <circle cx="7" cy="10" r="1" fill="@{color}"/>
            <rect x="6" y="3" width="2" height="5" rx="1" fill="@{color}"/>
        </svg>
	');
    width: 14px;
    height: 14px;
    background-image: url('data:image/svg+xml,@{svg-content}');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.arrow-down-icon(@color) {
    @svg-content: escape('
        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.30964 6.70905C4.92189 6.32111 4.92189 5.69215 5.30964 5.30421L10.305 0.306472C10.6928 -0.0814626 11.3214 -0.081462 11.7092 0.306473C12.0969 0.694408 12.0969 1.32337 11.7092 1.71131L6.71381 6.70905C6.32606 7.09698 5.69739 7.09698 5.30964 6.70905Z" fill="@{color}"/>
            <path d="M6.70587 6.70905C7.09363 6.32111 7.09363 5.69215 6.70587 5.30421L1.69498 0.290951C1.30723 -0.096984 0.678565 -0.0969834 0.290814 0.290951C-0.0969378 0.678886 -0.0969378 1.30785 0.290814 1.69579L5.3017 6.70905C5.68946 7.09698 6.31812 7.09698 6.70587 6.70905Z" fill="@{color}"/>
        </svg>
	');
    width: 12px;
    height: 7px;
    background-image: url('data:image/svg+xml,@{svg-content}');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.times-icon(@color) {
    @svg-content: escape('
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.2553 11.7071C0.864771 11.3166 0.864771 10.6834 1.2553 10.2929L10.2928 1.25395C10.6833 0.863428 11.3165 0.863429 11.707 1.25395C12.0975 1.64448 12.0975 2.27764 11.707 2.66817L2.66951 11.7071C2.27898 12.0976 1.64582 12.0976 1.2553 11.7071Z" fill="@{color}"/>
            <path d="M11.6132 11.6446C12.0038 11.2541 12.0038 10.6209 11.6132 10.2304L2.63679 1.25395C2.24627 0.863428 1.6131 0.863429 1.22258 1.25395C0.832056 1.64448 0.832056 2.27764 1.22258 2.66817L10.199 11.6446C10.5896 12.0351 11.2227 12.0351 11.6132 11.6446Z" fill="@{color}"/>
        </svg>
	');
    width: 12px;
    height: 12px;
    background-image: url('data:image/svg+xml,@{svg-content}');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.tooltip-times-icon(@color) {
    @svg-content: escape('
        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.60446 7.60872C7.21544 7.99774 6.58272 7.99576 6.19126 7.6043L0.537119 1.95155C0.145652 1.56008 0.143673 0.927372 0.532697 0.538348C0.921721 0.149324 1.55443 0.151305 1.9459 0.542771L7.60004 6.19551C7.99151 6.58698 7.99348 7.21969 7.60446 7.60872Z" fill="@{color}"/>
            <path d="M7.61267 0.541579C7.2212 0.150112 6.58849 0.148131 6.19947 0.537155L0.537184 6.19945C0.14816 6.58847 0.150141 7.22119 0.541608 7.61265C0.933074 8.00412 1.56579 8.0061 1.95481 7.61708L7.61709 1.95478C8.00612 1.56576 8.00414 0.933046 7.61267 0.541579Z" fill="@{color}"/>
        </svg>
	');
    width: 8px;
    height: 8px;
    background-image: url('data:image/svg+xml,@{svg-content}');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.plus-icon(@color) {
    @svg-content: escape('
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.99697 14.0083C6.44681 14.0083 6.00082 13.5595 6.00082 13.0059L5.99983 1.01071C5.99983 0.457096 6.44582 0.00830078 6.99599 0.00830078C7.54615 0.00830078 7.99215 0.457097 7.99215 1.01071L7.99313 13.0059C7.99313 13.5595 7.54714 14.0083 6.99697 14.0083Z" fill="@{color}"/>
            <path d="M14 7.01688C14 6.46326 13.554 6.01447 13.0038 6.01447L0.996158 6.01448C0.445995 6.01448 0 6.46327 0 7.01689C0 7.57051 0.445995 8.0193 0.996159 8.0193L13.0038 8.0193C13.554 8.0193 14 7.5705 14 7.01688Z" fill="@{color}"/>
        </svg>
	');
    width: 14px;
    height: 15px;
    background-image: url('data:image/svg+xml,@{svg-content}');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.check-icon(@color) {
    @svg-content: escape('
        <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.26573 9.68401C4.8752 9.29348 4.8752 8.66032 5.26573 8.2698L13.0858 0.449632C13.4763 0.0591074 14.1095 0.059107 14.5 0.449631C14.8905 0.840156 14.8905 1.47332 14.5 1.86384L6.67994 9.68401C6.28942 10.0745 5.65625 10.0745 5.26573 9.68401Z" fill="@{color}"/>
            <path d="M6.67994 9.68401C7.07047 9.29348 7.07041 8.66032 6.67988 8.2698L2.49995 4.08989C2.10943 3.69937 1.47626 3.69937 1.08574 4.08989C0.695216 4.48042 0.695216 5.11358 1.08574 5.50411L5.26573 9.68401C5.65625 10.0745 6.28942 10.0745 6.67994 9.68401Z" fill="@{color}"/>
        </svg>
	');
    width: 15px;
    height: 10px;
    background-image: url('data:image/svg+xml,@{svg-content}');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}