@import '../../base/_variables.less';

.employee-forecast-page {
    .employee-forecast-page__form {
        margin-top: 32px;
    }

    .employee-forecast-page__date-form-field {
        width: 200px;
    }

    .employee-forecast-page__build-forecast-button {
        width: 190px;
    }

    .employee-forecast-page__recalculate-forecast-button {
        width: 140px;
    }

    .employee-forecast-page__form-header {
        .employee-forecast-page__form-header-action {
            margin-top: 13px;
            margin-left: 33px;
        }
    }

    .employee-forecast-page__positions-table {
        margin-top: 28px;
    }

    .employee-forecast-page__add-employees-button {
        margin-top: 30px;
        width: 215px;
    }

    .employee-forecast-page__footer {
        flex-shrink: 0;
        height: 150px;
    }

    &__content {
        padding-top: 40px;
        padding-right: 30px;
        padding-left: 30px;

        background-color: #FFF;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-weight: 500;
        font-size: 22px;
    }

    &__form-header {
        display: flex;
    }

    &__positions-table {
        max-width: 1060px;
        width: 100%;

        .employee-forecast-page__positions-table-categories-count {
            margin-left: 6px;
        }
    }

    &__positions-table-categories-count {
        font-weight: bold;
        font-size: 13px;
        color: #0066FF;

        cursor: pointer;
    }

    &__positions-table-workload-cell {
        .hrm-table__editable-cell-control.hrm-table__editable-cell-control--type_input {
            text-align: end;
        }
    }

    &__positions-table-employee-count-cell {
        text-align: end;
    }

    &__positions-table-estimated-hours-cell {
        text-align: end;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;

        background-color: #F5F7FA;

        .employee-forecast-page__footer-login-button {
            margin-top: 20px;
            width: 250px;
        }
    }

    &__footer-text {
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: @tablet-max-width) {
    .employee-forecast-page {
        .employee-forecast-page__date-form-field {
            width: 216px;
        }

        &__content {
            padding-top: 32px;
        }
    }
}

@media (max-width: @mobile-max-width) {
    .employee-forecast-page {
        .employee-forecast-page__form-header {
            .employee-forecast-page__form-header-action {
                margin-top: 20px;
                margin-left: 0;
            }
        }

        .employee-forecast-page__positions-table {
            margin-left: -20px;
            margin-right: -20px;
            width: calc(100% + 40px);
        }

        .employee-forecast-page__add-employees-button {
            margin-top: 20px;
        }

        .employee-forecast-page__footer {
            height: 170px;
        }

        &__content {
            padding-top: 20px;
            padding-right: 20px;
            padding-left: 20px;
        }

        &__title {
            font-size: 18px;
        }

        &__back-button {
            width: 30px;
            height: 30px;

            &:before {
                width: 14px;
                height: 10px;
            }
        }

        &__form-header {
            flex-direction: column;
        }

        &__positions-table {
            padding-left: 108px;

            .employee-forecast-page__positions-table-fixed-section {
                width: 108px;
            }
        }

        &__positions-table-fixed-section {
            background-color: #FFF;

            & > thead {
                & > tr {
                    & > th {
                        height: 40px;
                    }

                    &:not(:first-child) {
                        & > th {
                            border-bottom-width: 1px;
                        }
                    }
                }
            }
        }

        &__positions-table-table {
            & > tbody {
                & > tr {
                    & > td {
                        height: 40px;
                    }

                    &:first-child {
                        & > td {
                            border-bottom-width: 2px;
                        }
                    }
                }
            }

            .employee-forecast-page__positions-table-workload-cell {
                min-width: 90px;
            }
        }

        &__positions-table-table-head-cell-content {
            justify-content: space-between;
        }
    }
}