@import '../../base/_icons.less';
@import '../../base/_variables.less';

.setup-wizard-page {
    .setup-wizard-page__stepper {
        width: 768px;
    }

    .setup-wizard-page__tab-container {
        margin-top: 89px;
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 55px;
        padding-bottom: 40px;
    }

    &__tab-pane {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__company-type-selector {
        display: flex;

        .setup-wizard-page__company-type-selector-option {
            width: 378px;
            height: 260px;

            &:not(:first-child) {
                margin-left: 7px;
            }
        }
    }

    &__company-type-selector-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        border-radius: 6px;
        cursor: pointer;

        transition: box-shadow @hover-transition-duration @hover-transition-timing-function;

        .setup-wizard-page__company-type-selector-option-label {
            margin-top: 36px;
        }

        &:hover {
            box-shadow: 0 1px 8px rgba(0, 102, 255, 0.4);
        }

        &:active {
            box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        }
    }

    &__company-type-selector-option-icon {
        .setup-wizard-page__company-type-selector-option--value_retail & {
            width: 109px;
            height: 80px;

            background: url('../../assets/img/retail-icon.svg');
        }

        .setup-wizard-page__company-type-selector-option--value_foodservice & {
            width: 126px;
            height: 84px;

            background: url('../../assets/img/foodservice-icon.svg');
        }
    }

    &__company-type-selector-option-label {
        font-weight: 500;
        font-size: 18px;
        color: #000000;

        transition: color @hover-transition-duration @hover-transition-timing-function;

        .setup-wizard-page__company-type-selector-option:hover &,
        .setup-wizard-page__company-type-selector-option:active & {
            color: #003F9D;
        }
    }
}

@media (max-width: @tablet-max-width) {
    .setup-wizard-page {
        .setup-wizard-page__stepper {
            width: 658px;
        }

        .setup-wizard-page__tab-container {
            margin-top: 50px;
        }

        &__company-type-selector {
            .setup-wizard-page__company-type-selector-option {
                width: 350px;
            }
        }
    }
}

@media (max-width: @mobile-max-width) {
    .setup-wizard-page {
        .setup-wizard-page__stepper {
            width: 278px;
        }

        .setup-wizard-page__tab-container {
            margin-top: 20px;
        }

        &__content {
            padding-top: 21px;
        }

        &__company-type-selector {
            flex-direction: column;
            width: 100%;

            .setup-wizard-page__company-type-selector-option {
                width: 100%;
                height: 180px;

                border-radius: 0;

                &:not(:first-child) {
                    margin-top: 9px;
                    margin-left: 0;
                }
            }
        }
    }
}