@import '../../base/_icons.less';
@import '../../base/_variables.less';

.setup-wizard-page {
    .setup-wizard-page__stepper {
        width: 768px;
    }

    .setup-wizard-page__tab-container {
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 55px;
    }

    &__tab-pane {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .setup-wizard-page__tab-pane-actions {
            margin-top: 34px;
        }
    }

    &__tab-pane-actions {
        display: flex;

        .setup-wizard-page__tab-pane-actions-button {
            &:not(:first-child) {
                margin-left: 11px;
            }
        }
    }

    &__tab-pane-actions-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 28px;
        padding-left: 28px;
        height: 38px;

        border-radius: 50px;
        font-weight: 500;
        font-size: 15px;

        transition: opacity @hover-transition-duration @hover-transition-timing-function;

        &[disabled] {
            opacity: 0.4;
        }
    }

    &__tab-pane-actions-back-button {
        border-width: 1px;

        border-style: solid;
        border-color: #D3D8DF;

        transition: border-color @hover-transition-duration @hover-transition-timing-function,
                    opacity @hover-transition-duration @hover-transition-timing-function;

        &:not([disabled]):hover {
            border-color: #8E9CBB;
        }

        &:active {
            border-color: #647195;
        }
    }

    &__tab-pane-actions-forward-button {
        background-color: #0066FF;
        color: #FFFFFF;

        transition: background-color @hover-transition-duration @hover-transition-timing-function,
                    opacity @hover-transition-duration @hover-transition-timing-function;

        &:not([disabled]):hover {
            background-color: #0055D5;
        }

        &:active {
            background-color: #003F9D;
        }
    }

    &__company-type-tab-pane {
        padding-top: 89px;
    }

    &__company-type-selector {
        display: flex;

        .setup-wizard-page__company-type-selector-option {
            width: 378px;
            height: 260px;

            &:not(:first-child) {
                margin-left: 7px;
            }
        }
    }

    &__company-type-selector-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        border-radius: 6px;
        cursor: pointer;

        transition: box-shadow @hover-transition-duration @hover-transition-timing-function;

        .setup-wizard-page__company-type-selector-option-label {
            margin-top: 36px;
        }

        &:hover {
            box-shadow: 0 1px 8px rgba(0, 102, 255, 0.4);
        }

        &:active {
            box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        }
    }

    &__company-type-selector-option-icon {
        .setup-wizard-page__company-type-selector-option--value_retail & {
            width: 109px;
            height: 80px;

            background: url('../../assets/img/retail-icon.svg');
        }

        .setup-wizard-page__company-type-selector-option--value_foodservice & {
            width: 126px;
            height: 84px;

            background: url('../../assets/img/foodservice-icon.svg');
        }
    }

    &__company-type-selector-option-label {
        font-weight: 500;
        font-size: 18px;
        color: #000000;

        transition: color @hover-transition-duration @hover-transition-timing-function;

        .setup-wizard-page__company-type-selector-option:hover &,
        .setup-wizard-page__company-type-selector-option:active & {
            color: #003F9D;
        }
    }

    &__dish-category-tab-pane {
        padding-top: 50px;

        .setup-wizard-page__dish-category-selector {
            width: 764px;
        }
    }

    &__dish-category-selector {
        padding: 54px 100px 64px;

        background: #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        border-radius: 6px;

        .setup-wizard-page__dish-category-selector-list {
            margin-top: 34px;
        }

        .setup-wizard-page__dish-category-selector-add-button {
            margin-top: 34px;
        }
    }

    &__dish-category-selector-title {
        font-weight: 500;
        font-size: 22px;
    }

    &__dish-category-selector-list {
        .setup-wizard-page__dish-category-selector-item {
            &:not(:first-child) {
                margin-top: 25px;
            }
        }
    }

    &__dish-category-selector-item {
        .setup-wizard-page__dish-category-selector-item-field {
            flex-grow: 1;
        }

        .setup-wizard-page__dish-category-selector-item-remove-button {
            margin-top: 27.4px;
            margin-left: 29px;
        }
    }

    &__dish-category-selector-item-content {
        display: flex;
    }

    &__dish-category-selector-item-remove-button {
        .times-icon(#FF238D);
    }


    &__schedule-tab-pane {
        padding-top: 50px;

        .setup-wizard-page__schedule-selector {
            width: 764px;
        }
    }

    &__schedule-selector {
        display: flex;
        flex-direction: column;
        padding: 54px 100px 64px;

        background: #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        border-radius: 6px;

        .setup-wizard-page__schedule-selector-interval-selector {
            margin-top: 20px;
        }

        .setup-wizard-page__schedule-selector-calendar {
            margin-top: 30px;
        }

        .setup-wizard-page__schedule-selector-actions {
            align-self: flex-end;
            margin-top: 21px;
        }
    }

    &__schedule-selector-title {
        font-weight: 500;
        font-size: 22px;
    }

    &__schedule-selector-interval-selector {
        display: flex;
        align-items: center;

        .setup-wizard-page__schedule-selector-interval-selector-control {
            margin-left: 16px;
            width: 106.4px;
        }
    }

    &__schedule-selector-interval-selector-label {
        font-size: 15px;
    }

    &__schedule-selector-interval-selector-control {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .setup-wizard-page__schedule-selector-interval-selector-control-field {
            width: 37px;
        }
    }

    &__schedule-selector-interval-selector-control-separator {
        font-size: 15px;
        color: #8E9CBB;
    }

    &__schedule-selector-actions {
        display: flex;

        .setup-wizard-page__schedule-selector-action {
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: @tablet-max-width) {
    .setup-wizard-page {
        .setup-wizard-page__stepper {
            width: 658px;
        }

        &__company-type-tab-pane {
            padding-top: 50px;
        }

        &__company-type-selector {
            .setup-wizard-page__company-type-selector-option {
                width: 350px;
            }
        }

        &__dish-category-tab-pane {
            .setup-wizard-page__dish-category-selector {
                width: 707px;
            }
        }

        &__dish-category-selector {
            padding-left: 60px;
            padding-right: 60px;
        }

        &__schedule-tab-pane {
            .setup-wizard-page__schedule-selector {
                width: 707px;
            }
        }

        &__schedule-selector {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}

@media (max-width: @mobile-max-width) {
    .setup-wizard-page {
        .setup-wizard-page__stepper {
            width: 278px;
        }

        &__tab-pane {
            .setup-wizard-page__tab-pane-actions {
                margin-top: 23px;
            }
        }

        &__company-type-tab-pane {
            padding-top: 20px;
        }

        &__content {
            padding-top: 21px;
        }

        &__company-type-selector {
            flex-direction: column;
            width: 100%;

            .setup-wizard-page__company-type-selector-option {
                width: 100%;
                height: 180px;

                border-radius: 0;

                &:not(:first-child) {
                    margin-top: 9px;
                    margin-left: 0;
                }
            }
        }

        &__dish-category-tab-pane {
            padding-top: 20px;

            .setup-wizard-page__dish-category-selector {
                width: 100%;
            }
        }

        &__dish-category-selector {
            padding: 30px 20px 35px;

            border-radius: 0;

            .setup-wizard-page__dish-category-selector-list {
                margin-top: 22px;
            }
        }

        &__dish-category-selector-title {
            font-size: 18px;
        }

        &__schedule-tab-pane {
            padding-top: 20px;

            .setup-wizard-page__schedule-selector {
                width: 100%;
            }
        }

        &__schedule-selector {
            padding: 30px 20px 35px;

            border-radius: 0;

            .setup-wizard-page__schedule-selector-list {
                margin-top: 22px;
            }
        }

        &__schedule-selector-title {
            font-size: 18px;
        }
    }
}