@import '../../base/_variables.less';

.setup-wizard-page {
    .setup-wizard-page__stepper {
        width: 768px;
    }

    .setup-wizard-page__tab-container {
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 55px;
    }

    &__tab-pane {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .setup-wizard-page__tab-pane-actions {
            margin-top: 34px;
        }
    }

    &__tab-pane-actions {
        display: flex;

        .setup-wizard-page__tab-pane-actions-button {
            width: 100px;

            &:not(:first-child) {
                margin-left: 11px;
            }
        }
    }

    &__company-type-tab-pane {
        padding-top: 89px;
    }

    &__company-type-selector {
        display: flex;

        .setup-wizard-page__company-type-selector-option {
            width: 378px;
            height: 260px;

            &:not(:first-child) {
                margin-left: 7px;
            }
        }
    }

    &__company-type-selector-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        border-radius: 6px;
        cursor: pointer;

        transition: box-shadow @hover-transition-duration @hover-transition-timing-function;

        .setup-wizard-page__company-type-selector-option-label {
            margin-top: 36px;
        }

        &:hover {
            box-shadow: 0 1px 8px rgba(0, 102, 255, 0.4);
        }

        &:active {
            box-shadow: none;
        }
    }

    &__company-type-selector-option-icon {
        .setup-wizard-page__company-type-selector-option--value_retail & {
            width: 109px;
            height: 80px;

            background: url('../../assets/img/retail-icon.svg');
        }

        .setup-wizard-page__company-type-selector-option--value_foodservice & {
            width: 126px;
            height: 84px;

            background: url('../../assets/img/foodservice-icon.svg');
        }
    }

    &__company-type-selector-option-label {
        font-weight: 500;
        font-size: 18px;
        color: #000000;

        transition: color @hover-transition-duration @hover-transition-timing-function;

        .setup-wizard-page__company-type-selector-option:hover &,
        .setup-wizard-page__company-type-selector-option:active & {
            color: #003F9D;
        }
    }

    &__dish-categories-tab-pane {
        padding-top: 50px;

        .setup-wizard-page__dish-categories-selector {
            width: 764px;
        }
    }

    &__dish-categories-selector {
        padding: 54px 100px 64px;

        background: #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        border-radius: 6px;

        .setup-wizard-page__dish-categories-selector-list {
            margin-top: 34px;
        }

        .setup-wizard-page__dish-categories-selector-add-button {
            margin-top: 34px;
        }
    }

    &__dish-categories-selector-title {
        font-weight: 500;
        font-size: 22px;
    }

    &__dish-categories-selector-list {
        .setup-wizard-page__dish-categories-selector-item {
            &:not(:first-child) {
                margin-top: 25px;
            }
        }
    }

    &__dish-categories-selector-item {
        .setup-wizard-page__dish-categories-selector-item-field {
            width: 1px;
            flex-grow: 1;
        }

        .setup-wizard-page__dish-categories-selector-item-remove-button {
            flex-shrink: 0;
            margin-top: calc(27.4px - 3.5px);
            margin-left: calc(29px - 4.5px);
        }
    }

    &__dish-categories-selector-item-content {
        display: flex;
    }

    &__schedule-tab-pane {
        padding-top: 50px;

        .setup-wizard-page__schedule-selector {
            width: 764px;
        }
    }

    &__schedule-selector {
        display: flex;
        flex-direction: column;
        padding: 54px 100px 64px;

        background: #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        border-radius: 6px;

        .setup-wizard-page__schedule-selector-controls {
            width: 100%;
            margin-top: 20px;
        }

        .setup-wizard-page__schedule-selector-calendar {
            margin-top: 30px;
        }

        .setup-wizard-page__schedule-selector-actions {
            align-self: flex-end;
            margin-top: 21px;
        }
    }

    &__schedule-selector-title {
        font-weight: 500;
        font-size: 22px;
    }

    &__schedule-selector-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__schedule-selector-interval-selector {
        display: flex;
        align-items: center;

        .setup-wizard-page__schedule-selector-interval-selector-control {
            margin-left: 16px;
            width: 108.4px;
        }
    }

    &__schedule-selector-interval-selector-label {
        font-size: 15px;
    }

    &__schedule-selector-interval-selector-control {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .setup-wizard-page__schedule-selector-interval-selector-control-field {
            width: 38px;
        }
    }

    &__schedule-selector-interval-selector-control-field {
        padding-top: 14px !important;
    }

    &__schedule-selector-interval-selector-control-separator {
        font-size: 15px;
        color: #8E9CBB;
    }

    &__schedule-selector-actions {
        display: flex;

        .setup-wizard-page__schedule-selector-action {
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    &__turnover-tab-pane {
        padding-top: 50px;

        .setup-wizard-page__turnover-selector {
            width: 906px;
        }
    }

    &__turnover-selector {
        display: flex;
        flex-direction: column;
        padding: 54px 100px 64px;

        background: #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        border-radius: 6px;

        .setup-wizard-page__turnover-selector-description {
            margin-top: 30px;
        }

        .setup-wizard-page__turnover-selector-table-sticky-section-container {
            margin-top: 21px;

            .setup-wizard-page__turnover-selector-table {
                margin-top: 0;
            }
        }

        .setup-wizard-page__turnover-selector-table {
            width: 100%;
            margin-top: 21px;
        }

        .setup-wizard-page__turnover-selector-actions {
            align-self: flex-end;
            margin-top: 21px;
        }

        .setup-wizard-page__turnover-tab-pane--calculated & {
            .setup-wizard-page__turnover-selector-table-sticky-section-container {
                margin-top: 40px;

                .setup-wizard-page__turnover-selector-table {
                    margin-top: 0;
                }
            }

            .setup-wizard-page__turnover-selector-table {
                margin-top: 40px;
            }
        }
    }

    &__turnover-selector-title {
        font-weight: 500;
        font-size: 22px;
    }

    &__turnover-selector-description {
        font-size: 15px;
    }

    &__turnover-selector-table {
        & > thead > tr > th {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .setup-wizard-page__turnover-selector-table-units-head-cell,
        .setup-wizard-page__turnover-selector-table-units-cell {
            width: 127px;
            max-width: 127px;
        }

        .setup-wizard-page__turnover-selector-table-weekday-head-cell,
        .setup-wizard-page__turnover-selector-table-weekday-cell,
        .setup-wizard-page__turnover-selector-table-hour-cell {
            width: 70px;
        }

        .setup-wizard-page__turnover-selector-table-week-total-head-cell,
        .setup-wizard-page__turnover-selector-table-week-total-cell,
        .setup-wizard-page__turnover-selector-table-hour-total-cell {
            width: 80px;
            max-width: 80px;
        }
    }

    &__turnover-selector-table-sticky-header-wrapper {
        height: 0;

        opacity: 0;
        transform: translateY(-100%);

        &.hrm-table__sticky-section-wrapper--stuck {
            height: unset;

            opacity: 1;
            transform: translateY(0);

            transition: transform 300ms ease-in-out,
                        opacity 300ms ease-in-out;
        }
    }

    &__turnover-selector-table-sticky-header {
        background-color: #FFFFFF;

        & > thead > tr > th,
        & > tbody > tr > td {
            height: 30px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .setup-wizard-page__turnover-selector-table-units-head-cell {
            font-weight: bold !important;
            font-size: 13px !important;
            color: #000 !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .setup-wizard-page__turnover-selector-table-week-total-head-cell {
            background-color: #E1EDFF;
        }

        .hrm-table__editable-cell-control.hrm-table__editable-cell-control--type_select {
            .select2-selection__rendered {
                white-space: nowrap !important;
            }
        }
    }

    &__turnover-selector-table-category-row {
        & > td {
            border-top-width: 2px !important;
        }
    }

    &__turnover-selector-table-units-head-cell {
        .setup-wizard-page__turnover-selector-table-units-head-cell-content {
            width: 105px;
            height: 24.4px;
        }
    }

    &__turnover-selector-table-units-head-cell-content {
        display: block;

        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24.4px;
    }

    &__turnover-selector-table-units-cell {
        .hrm-table__editable-cell-control.hrm-table__editable-cell-control--type_select {
            width: 125px !important;
        }
    }

    &__turnover-selector-table-category-name-cell {
        height: 25px !important;
        font-weight: bold;
    }

    &__turnover-selector-table-weekday-cell {
        .hrm-table__editable-cell-control {
            &--type_input {
                text-align: end;
            }
        }
    }

    &__turnover-selector-table-week-total-cell {
        background-color: #E1EDFF;

        .hrm-table__editable-cell-control {
            &--type_input {
                text-align: end;
            }
        }
    }

    &__turnover-selector-table-hour-label-cell {
        text-align: end;
        white-space: nowrap;
        color: #8E9CBB;
    }

    &__turnover-selector-table-hour-label-minute {
        font-size: 9px;
        font-weight: 500;
        vertical-align: super;
    }

    &__turnover-selector-table-hour-cell {
        .hrm-table__editable-cell-control {
            &--type_input {
                text-align: end;
            }
        }

        &--disabled {
            background-color: #F5F7FA;
        }
    }

    &__turnover-selector-table-hour-total-cell {
        background-color: #E1EDFF;

        .hrm-table__editable-cell-control {
            &--type_input {
                text-align: end;
            }
        }
    }

    &__turnover-selector-actions {
        display: flex;

        .setup-wizard-page__turnover-selector-action {
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    &__turnover-tab-pane-calculate-button {
        width: 130px !important;
    }

    &__positions-tab-pane {
        padding-top: 50px;

        .setup-wizard-page__positions-selector {
            width: 764px;
        }
    }

    &__positions-selector {
        padding: 54px 100px 64px;

        background: #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        border-radius: 6px;

        .setup-wizard-page__positions-selector-list {
            margin-top: 34px;
        }

        .setup-wizard-page__positions-selector-add-button {
            margin-top: 34px;
        }
    }

    &__positions-selector-title {
        font-weight: 500;
        font-size: 22px;
    }

    &__positions-selector-list {
        .setup-wizard-page__positions-selector-item {
            &:not(:first-child) {
                margin-top: 25px;
            }
        }
    }

    &__positions-selector-item {
        .setup-wizard-page__positions-selector-item-field {
            flex-grow: 1;
            width: 1px;
        }

        .setup-wizard-page__positions-selector-item-remove-button {
            flex-shrink: 0;
            margin-top: calc(27.4px - 3.5px);
            margin-left: calc(29px - 4.5px);
        }
    }

    &__positions-selector-item-content {
        display: flex;
    }

    &__workload-type-tab-pane {
        padding-top: 50px;

        .setup-wizard-page__workload-type-selector {
            width: 764px;
        }
    }

    &__workload-type-selector {
        padding: 54px 100px 64px;

        background: #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        border-radius: 6px;

        .setup-wizard-page__workload-type-selector-description {
            display: block;
            margin-top: 14px;
        }

        .setup-wizard-page__workload-type-selector-list {
            margin-top: 34px;
        }

        .setup-wizard-page__workload-type-selector-add-button {
            margin-top: 34px;
        }
    }

    &__workload-type-selector-header {
        display: flex;
        align-items: center;

        .setup-wizard-page__workload-type-selector-header-help-button {
            margin-left: 12px;
        }
    }

    &__workload-type-selector-title {
        font-weight: 500;
        font-size: 22px;
    }

    &__workload-type-selector-description {
        font-size: 13px;
        line-height: 120%;
        color: #8E9CBB;
    }

    &__workload-type-selector-list {
        .setup-wizard-page__workload-type-selector-item {
            &:not(:first-child) {
                margin-top: 35px;
            }
        }
    }

    &__workload-type-selector-item {
        .setup-wizard-page__workload-type-selector-item-control-list {
            margin-top: 20px;
        }

        .setup-wizard-page__workload-type-selector-item-workload-type-form-field,
        .setup-wizard-page__workload-type-selector-item-dish-categories-form-field {
            width: 290px;
        }

        .setup-wizard-page__workload-type-selector-item-units-form-field {
            width: 140px;
        }

        .setup-wizard-page__workload-type-selector-item-standard-form-field {
            width: 70px;
        }
    }

    &__workload-type-selector-item-header {
        display: flex;
        align-items: center;

        .setup-wizard-page__workload-type-selector-item-header-toggle-button {
            margin-right: 12px;
        }
    }

    &__workload-type-selector-item-control-list-content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: -20px;
        margin-left: -30px;

        .setup-wizard-page__workload-type-selector-item-control-list-item {
            margin-top: 20px;
            margin-left: 30px;

            &.hrm-form-field-checkbox-group {
                margin-top: 44px;
            }
        }
    }

    &__workload-type-selector-item-position-name {
        font-weight: 500;
        font-size: 15px;
    }

    &__workload-type-tab-pane-build-forecast-button {
        width: 190px !important;
    }
}

@media (max-width: @tablet-max-width) {
    .setup-wizard-page {
        .setup-wizard-page__stepper {
            width: 658px;
        }

        &__company-type-tab-pane {
            padding-top: 50px;
        }

        &__company-type-selector {
            .setup-wizard-page__company-type-selector-option {
                width: 350px;
            }
        }

        &__dish-categories-tab-pane {
            .setup-wizard-page__dish-categories-selector {
                width: 707px;
            }
        }

        &__dish-categories-selector {
            padding-left: 60px;
            padding-right: 60px;
        }

        &__schedule-tab-pane {
            .setup-wizard-page__schedule-selector {
                width: 707px;
            }
        }

        &__schedule-selector {
            padding-left: 60px;
            padding-right: 60px;
        }

        &__turnover-tab-pane {
            .setup-wizard-page__turnover-selector {
                width: 747px;
            }
        }

        &__turnover-selector {
            padding-left: 60px;
            padding-right: 60px;

            .setup-wizard-page__turnover-selector-table-sticky-section-container {
                margin-left: -40px;
                margin-right: -40px;
                width: calc(100% + 80px);

                .setup-wizard-page__turnover-selector-table {
                    margin-left: 0;
                    margin-right: 0;
                    width: 100%;
                }
            }

            .setup-wizard-page__turnover-selector-table {
                margin-left: -40px;
                margin-right: -40px;
                width: calc(100% + 80px);
            }

            .setup-wizard-page__turnover-selector-actions {
                margin-left: -40px;
                margin-right: -40px;
            }
        }

        &__positions-tab-pane {
            .setup-wizard-page__positions-selector {
                width: 707px;
            }
        }

        &__positions-selector {
            padding-left: 60px;
            padding-right: 60px;
        }

        &__workload-type-tab-pane {
            .setup-wizard-page__workload-type-selector {
                width: 707px;
            }
        }

        &__workload-type-selector {
            padding-left: 60px;
            padding-right: 60px;
        }

        &__workload-type-selector-item {
            .setup-wizard-page__workload-type-selector-item-workload-type-form-field,
            .setup-wizard-page__workload-type-selector-item-dish-categories-form-field {
                width: 315px;
            }
        }
    }
}

@media (max-width: @mobile-max-width) {
    .setup-wizard-page {
        .setup-wizard-page__stepper {
            width: calc(100% - 40px);
        }

        &__tab-pane {
            .setup-wizard-page__tab-pane-actions {
                margin-top: 23px;
            }
        }

        &__company-type-tab-pane {
            padding-top: 20px;
        }

        &__content {
            padding-top: 21px;
        }

        &__company-type-selector {
            flex-direction: column;
            width: 100%;

            .setup-wizard-page__company-type-selector-option {
                width: 100%;
                height: 180px;

                border-radius: 0;

                &:not(:first-child) {
                    margin-top: 9px;
                    margin-left: 0;
                }
            }
        }

        &__company-type-selector-option {
            .setup-wizard-page__company-type-selector-option-label {
                margin-top: 25px;
            }
        }

        &__company-type-selector-option-label {
            font-size: 15px;
        }

        &__dish-categories-tab-pane {
            padding-top: 20px;

            .setup-wizard-page__dish-categories-selector {
                width: 100%;
            }
        }

        &__dish-categories-selector {
            padding: 30px 20px 35px;

            border-radius: 0;

            .setup-wizard-page__dish-categories-selector-list {
                margin-top: 22px;
            }
        }

        &__dish-categories-selector-title {
            font-size: 18px;
        }

        &__schedule-tab-pane {
            padding-top: 20px;

            .setup-wizard-page__schedule-selector {
                width: 100%;
            }
        }

        &__schedule-selector {
            padding: 30px 20px 35px;

            border-radius: 0;

            .setup-wizard-page__schedule-selector-list {
                margin-top: 22px;
            }

            .setup-wizard-page__schedule-selector-actions {
                align-self: unset;
                margin-top: 18px;
            }
        }

        &__schedule-selector-title {
            font-size: 18px;
        }

        &__schedule-selector-controls {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .setup-wizard-page__schedule-selector-pick-all-button {
                margin-top: 16px;
            }
        }

        &__schedule-selector-interval-selector {
            .setup-wizard-page__schedule-selector-interval-selector-control {
                margin-left: 32px;
            }
        }

        &__schedule-selector-interval-selector-control {
            .setup-wizard-page__schedule-selector-interval-selector-control-separator {
                margin-top: -14px;
            }
        }

        &__schedule-selector-interval-selector-control-field {
            padding-top: 0;
        }

        &__schedule-selector-interval-selector-label {
            width: 118px;
        }

        &__schedule-selector-actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .setup-wizard-page__schedule-selector-action {
                &:not(:first-child) {
                    margin-top: 9px;
                    margin-left: 0;
                }
            }
        }

        &__turnover-tab-pane {
            padding-top: 20px;

            .setup-wizard-page__turnover-selector {
                width: 100%;
            }
        }

        &__turnover-selector {
            padding: 40px 20px 22px;

            border-radius: 0;

            .setup-wizard-page__turnover-selector-description {
                margin-top: 16px;
            }

            .setup-wizard-page__turnover-selector-table {
                margin-left: -20px;
                margin-right: -20px;
                width: calc(100% + 40px);
            }

            .setup-wizard-page__turnover-selector-actions {
                align-self: unset;
                margin-top: 20px;
                margin-right: 0;
                margin-left: 0;
            }

            .setup-wizard-page__turnover-tab-pane--calculated & {
                padding-bottom: 0;
            }
        }

        &__turnover-selector-title {
            font-size: 18px;
        }

        &__turnover-selector-table {
            border-top-width: 1px;

            border-top-color: #DFE4EF;
            border-top-style: solid;

            th {
                border-bottom-width: 1px !important;
            }
        }

        &__turnover-selector-table-category-section {
            .setup-wizard-page__turnover-selector-table-category-section-header {
                height: 60px;
            }

            .setup-wizard-page__turnover-tab-pane--calculated &:not(:first-child) {
                border-top-width: 1px;

                border-top-color: #DFE4EF;
                border-top-style: solid;
            }
        }

        &__turnover-selector-table-category-section-header {
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;

            .setup-wizard-page__turnover-selector-table-category-section-header-toggle-button {
                margin-right: 12px;
            }

            .setup-wizard-page__turnover-selector-table-category-section-header-units-field {
                width: 144px;
            }
        }

        &__turnover-selector-table-category-section-body {
            .setup-wizard-page__turnover-tab-pane--calculated & {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 20px;

                .setup-wizard-page__turnover-selector-table-category-section-table-fixed-section-container {
                    width: 100%;
                }

                .setup-wizard-page__turnover-selector-table-category-section-clear-button {
                    margin-top: 20px;
                }
            }
        }

        &__turnover-selector-table-category-section-header-title {
            font-weight: 500;
            font-size: 15px;
        }

        &__turnover-selector-table-category-section-header-units-field {
            padding-top: 6px;

            .hrm-form-field__basis {
                padding-bottom: 6px;
            }

            .select2-selection__arrow {
                b {
                    margin-bottom: 4px !important;
                }
            }
        }

        &__turnover-selector-table-category-section-table-fixed-section-container {
            padding-left: 81px;

            .setup-wizard-page__turnover-selector-table-category-section-table-fixed-section {
                width: 81px;
            }

            .setup-wizard-page__turnover-tab-pane--calculated & {
                padding-left: 120px;

                .setup-wizard-page__turnover-selector-table-category-section-table-fixed-section {
                    width: 120px;
                }
            }
        }

        &__turnover-selector-table-category-section-table-fixed-section {
            border-bottom-width: 2px !important;

            .setup-wizard-page__turnover-selector-table-category-section-table-hour-label-cell {
                width: 36px;
                padding-left: 6px;
                padding-right: 6px;
            }
        }

        &__turnover-selector-table-category-section-table {
            border-bottom-width: 2px !important;

            .setup-wizard-page__turnover-selector-table-category-section-table-weekday-cell,
            .setup-wizard-page__turnover-selector-table-category-section-table-hour-cell {
                min-width: 70px;
            }
        }

        &__turnover-selector-table-category-section-table-hour-label-head-cell {
            border-bottom: none !important;
        }

        &__turnover-selector-table-category-section-table-hour-label-cell {
            white-space: nowrap;
            color: #8E9CBB;

            tr:first-child > & {
                border-top: none !important;
            }
        }

        &__turnover-selector-table-category-section-table-hour-label-minute {
            font-size: 9px;
            font-weight: 500;
            vertical-align: super;
        }

        &__turnover-selector-table-category-section-table-hour-cell {
            .hrm-table__editable-cell-control {
                &--type_input {
                    text-align: end;
                }
            }

            &--disabled {
                background-color: #F5F7FA;
            }
        }

        &__turnover-selector-table-category-section-table-hour-total-cell {
            background-color: #E1EDFF;

            .hrm-table__editable-cell-control {
                &--type_input {
                    text-align: end;
                }
            }
        }

        &__turnover-selector-table-category-section-table-weekday-cell {
            .hrm-table__editable-cell-control {
                &--type_input {
                    text-align: end;
                }
            }
        }

        &__turnover-selector-table-category-section-table-week-total-head-cell {
            background-color: #E1EDFF;
        }

        &__turnover-selector-table-category-section-table-week-total-cell {
            background-color: #E1EDFF;

            .hrm-table__editable-cell-control {
                &--type_input {
                    text-align: end;
                }
            }
        }

        &__turnover-selector-actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .setup-wizard-page__turnover-selector-action {
                &:not(:first-child) {
                    margin-top: 9px;
                    margin-left: 0;
                }
            }
        }

        &__positions-tab-pane {
            padding-top: 20px;

            .setup-wizard-page__positions-selector {
                width: 100%;
            }
        }

        &__positions-selector {
            padding: 30px 20px 35px;

            border-radius: 0;

            .setup-wizard-page__positions-selector-list {
                margin-top: 22px;
            }
        }

        &__positions-selector-title {
            font-size: 18px;
        }

        &__workload-type-tab-pane {
            padding-top: 20px;

            .setup-wizard-page__workload-type-selector {
                width: 100%;
            }
        }

        &__workload-type-selector {
            padding: 25px 20px 0 20px;

            border-radius: 0;

            .setup-wizard-page__workload-type-selector-list {
                margin-top: 20px;
                margin-right: -20px;
                margin-left: -20px;
            }
        }

        &__workload-type-selector-title {
            font-size: 18px;
        }

        &__workload-type-selector-list {
            .setup-wizard-page__workload-type-selector-item {
                &:not(:first-child) {
                    margin-top: 0;
                }
            }
        }

        &__workload-type-selector-item {
            border-top-width: 1px;
            padding: 18px 20px 20px;

            border-top-style: solid;
            border-top-color: #DFE4EF;

            .setup-wizard-page__workload-type-selector-item-control-list {
                margin-top: 16px;
                margin-bottom: 10px;
            }

            .setup-wizard-page__workload-type-selector-item-workload-type-form-field,
            .setup-wizard-page__workload-type-selector-item-dish-categories-form-field {
                width: 100%;
            }

            .setup-wizard-page__workload-type-selector-item-units-form-field {
                flex-grow: 2.2;
            }

            .setup-wizard-page__workload-type-selector-item-standard-form-field {
                flex-grow: 1;
            }
        }

        &__workload-type-selector-item-control-list-content {
            margin-left: -16px;

            .setup-wizard-page__workload-type-selector-item-control-list-item {
                margin-left: 16px;

                &.hrm-form-field-checkbox-group {
                    margin-top: 27px;
                    margin-bottom: 7px;
                }
            }
        }
    }
}

@import "components/schedule-selector-calendar/_schedule-selector-calendar";
