@import '../../base/_variables.less';

.hrm-scaffold {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100%;

    &__content {
        padding-bottom: 106px;
    }
}

@media (max-width: @tablet-max-width) {
    .hrm-scaffold {
        &__content {
            padding-bottom: 83px;
        }
    }
}

@media (max-width: @mobile-max-width) {
    .hrm-scaffold {
        &__content {
            padding-bottom: 39px;
        }
    }
}