@import '../../base/_variables.less';

.hrm-scaffold {
    display: flex;
    align-items: stretch;
    height: 100%;

    .hrm-scaffold__body {
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    .hrm-scaffold__sidebar {
        flex-shrink: 0;
        z-index: 3;
    }

    .hrm-scaffold__content {
        flex-grow: 1;
        flex-shrink: 0;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;

        overflow: auto;
    }

    &__sidebar {
        box-shadow: 0 4px 16px rgba(0, 15, 38, 0.25);
    }

    &__content {
        padding-bottom: 106px;
    }
}

@media (max-width: @tablet-max-width) {
    .hrm-scaffold {
        flex-direction: column;

        &__content {
            padding-bottom: 83px;
        }
    }
}

@media (max-width: @mobile-max-width) {
    .hrm-scaffold {
        &__content {
            padding-bottom: 39px;
        }
    }
}
