.hrm-form-field-icon {
    display: block;

    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hrm-form-field-calendar-icon {
    @background-svg: '
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.2222 3H2.77778C1.79594 3 1 3.69645 1 4.55556V15.4444C1 16.3036 1.79594 17 2.77778 17H15.2222C16.2041 17 17 16.3036 17 15.4444V4.55556C17 3.69645 16.2041 3 15.2222 3Z" stroke="#8E9CBB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13 1V5" stroke="#8E9CBB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5 1V5" stroke="#8E9CBB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <rect x="4" y="8" width="2" height="2" fill="#8E9CBB"/>
            <rect x="4" y="12" width="2" height="2" fill="#8E9CBB"/>
            <rect x="8" y="8" width="2" height="2" fill="#8E9CBB"/>
            <rect x="8" y="12" width="2" height="2" fill="#8E9CBB"/>
            <rect x="12" y="8" width="2" height="2" fill="#8E9CBB"/>
            <rect x="12" y="12" width="2" height="2" fill="#8E9CBB"/>
        </svg>
    ';

    width: 18px;
    height: 18px;

    @escaped-background-svg: escape(@background-svg);
    background-image: url('data:image/svg+xml,@{escaped-background-svg}');
}

.hrm-form-field-search-icon {
    @background-svg: '
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.4142 11L15.6569 15.2426M13 7C13 10.3137 10.3137 13 7 13C3.68629 13 1 10.3137 1 7C1 3.68629 3.68629 1 7 1C10.3137 1 13 3.68629 13 7Z" stroke="#8E9CBB" stroke-width="2" stroke-linecap="round"/>
        </svg>
    ';

    width: 17px;
    height: 17px;

    @escaped-background-svg: escape(@background-svg);
    background-image: url('data:image/svg+xml,@{escaped-background-svg}');
}

.hrm-form-field-reset-icon {
    @background-svg: '
    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.2553 11.707C0.864771 11.3164 0.864771 10.6833 1.2553 10.2927L10.2928 1.25383C10.6833 0.863306 11.3165 0.863307 11.707 1.25383C12.0975 1.64436 12.0975 2.27752 11.707 2.66804L2.66951 11.707C2.27898 12.0975 1.64582 12.0975 1.2553 11.707Z" fill="#FF238D"/>
        <path d="M11.6132 11.6445C12.0038 11.254 12.0038 10.6208 11.6132 10.2303L2.63679 1.25383C2.24627 0.863306 1.6131 0.863307 1.22258 1.25383C0.832056 1.64436 0.832056 2.27752 1.22258 2.66804L10.199 11.6445C10.5896 12.035 11.2227 12.035 11.6132 11.6445Z" fill="#FF238D"/>
    </svg>
    ';

    width: 12px;
    height: 12px;

    @escaped-background-svg: escape(@background-svg);
    background-image: url('data:image/svg+xml,@{escaped-background-svg}');

    cursor: pointer;
}
