.scrolling-wrapper {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */
  /* positioning context for advancers */
  position: relative;
}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f31;
  position: relative;
  height: 100%;
  width: 100%;
}
.wrapper {
  max-width: 767px;
  min-width: 375px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  background-color: #f1f5f6;
  background: #f1f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbd0d5), color-stop(42%, #f1f5f6), color-stop(100%, #fff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #cbd0d5, #f1f5f6 42%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cbd0d5, endColorstr=#fff, GradientType=0);
  /* IE6-9 */
}
h1,
h2,
h3 {
  font-weight: 500;
}
h1 {
  font-size: 16px;
}
h2,
h3 {
  font-size: 14px;
}
.content {
  padding-top: 57px;
  padding-bottom: 40px;
}
.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar {
  border: 0;
  min-height: 47px;
  height: 47px;
  background-color: #2e2f31;
  color: #fff;
  margin: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  max-width: 767px;
  margin: 0 auto;
}
.navbar .navbar-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-brand {
  height: 47px;
  line-height: 47px;
  vertical-align: middle;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #3a3b3d;
  margin-right: 10px;
}
.navbar .navbar-brand img {
  width: 76px;
  display: inline-block;
}
.navbar .navbar-nav {
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.navbar .navbar-nav > li > a {
  color: #fff;
  line-height: 47px;
  vertical-align: middle;
  padding: 0 10px;
  padding-top: 0;
  padding-bottom: 0;
  border-left: 1px solid #3a3b3d;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}
.navbar .navbar-info {
  float: left;
  height: 47px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .navbar-info .navbar-info-item {
  /*padding-left: @grid-gutter-width / 2;
            padding-right: @grid-gutter-width / 2;
            border-left: 1px solid @navbar-info-border-color;*/
}
.navbar .navbar-info .navbar-info-item .time {
  font-weight: 900;
  letter-spacing: 0.4px;
}
.navbar .navbar-info .navbar-info-item .date {
  color: #9b9b9b;
  letter-spacing: 0.3px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
}
.panel-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.panel-info-receipts {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 60px;
  letter-spacing: 0.5px;
}
.panel-info-receipts .receipts-item {
  height: 100%;
  border-right: 1px solid #f3f5f6;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column wrap;
  padding-left: 10px;
  padding-right: 10px;
}
.panel-info-receipts .receipts-item:last-child {
  border-right: 0;
}
.panel-info-receipts .receipts-item .receipts-item--name {
  color: #626b71;
  font-weight: 500;
  font-size: 12px;
  padding-top: 8px;
}
.panel-info-receipts .receipts-item .receipts-item--name .circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  top: -1px;
}
.panel-info-receipts .receipts-item .receipts-item--name .circle.green {
  background-color: #10c07e;
}
.panel-info-receipts .receipts-item .receipts-item--name .circle.red {
  background-color: #ff584c;
}
.panel-info-receipts .receipts-item .receipts-item--sum {
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 500;
}
.panel-info-empl {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 60px;
}
.panel-info-empl .empl-item {
  height: 100%;
  border-right: 1px solid #f3f5f6;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.panel-info-empl .empl-item .badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #d3123f;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: 0 5px;
  height: 20px;
  line-height: 21px;
  vertical-align: middle;
  border: 1px solid #fff;
}
.panel-info-empl .empl-item:last-child {
  border-right: 0;
}
.panel-info-empl .empl-item .fa {
  font-size: 25px;
  width: 30px;
  text-align: center;
}
.filters-block {
  background-color: #cfd8dc;
  height: 45px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin-top: 10px;
}
.filters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 45px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 500;
  margin-left: 12px;
  margin-right: 12px;
}
.filters > li {
  margin-right: 8px;
}
.filters > li:last-child {
  margin-right: 0;
}
.filters > li > a {
  display: inline-block;
  white-space: nowrap;
  padding: 0px 12px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  color: #fff;
  background-color: #bac7cc;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.filters > li > a:hover,
.filters > li > a:focus {
  text-decoration: none;
}
.filters > li.active > a {
  background-color: #007ee5;
  color: #fff;
}
.filters.filters-main {
  height: 55px;
}
.filters.filters-main > li {
  margin-top: -10px;
}
.filters.filters-main > li.active {
  position: relative;
}
.filters.filters-main > li.active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -22px;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  height: 18px;
  background-color: #cfd8dc;
}
.filters.filters-count {
  margin: 0;
}
.filters.filters-count > li {
  margin-right: 5px;
}
.filters.filters-count > li:last-child {
  margin-right: 0;
}
.filters.filters-count > li > a {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 24px;
  text-align: center;
}
.filters.filters-count > li:first-child {
  margin-right: 8px;
}
.filters.filters-count > li:first-child > a {
  padding-left: 12px;
  padding-right: 12px;
}
.filters.filters-count > li.bad1 > a {
  background-color: #ffcc00;
}
.filters.filters-count > li.bad2 > a {
  background-color: #f5a623;
}
.filters.filters-count > li.bad3 > a {
  background-color: #d3123f;
}
.filters.filters-posts {
  margin: 0;
}
.filters.filters-posts > li {
  margin-right: 5px;
}
.filters.filters-posts > li:last-child {
  margin-right: 0;
}
.filters.filters-posts > li > a {
  width: 24px;
  text-align: center;
  padding: 0;
}
.filters-status {
  background-color: #cfd8dc;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin-top: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 45px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  padding-left: 12px;
}
.head-order {
  color: #73808d;
  letter-spacing: 0.4px;
  font-weight: 500;
  font-size: 14px;
}
.order-list .order-item {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 #cfd8dc;
  -moz-box-shadow: 0 1px 2px 0 #cfd8dc;
  box-shadow: 0 1px 2px 0 #cfd8dc;
  padding: 12px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.order-list .order-item .order-item--name {
  font-size: 14px;
  margin: 0 10px 0 10px;
}
.order-list .order-item .order-item--late {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.order-list .order-item .order-item--late > li {
  width: 28px;
  height: 28px;
  border: 3px solid #fff;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  margin-left: -6px;
}
.order-list .order-item .order-item--late > li:first-child {
  margin-left: 0;
}
.order-list .order-item .order-item--late > li:nth-child(1) {
  z-index: 1;
}
.order-list .order-item .order-item--late > li:nth-child(2) {
  z-index: 2;
}
.order-list .order-item .order-item--late > li.gray {
  background-color: #a4acb4;
}
.order-list .order-item .order-item--late > li.green {
  background-color: #4cd964;
}
.order-list .order-item .order-item--late > li.red {
  background-color: #d3123f;
}
.order-list .order-item .order-item--late > li.yellow {
  background-color: #f8cd1c;
}
.order-list .order-item .order-item--empl {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.order-list .order-item .order-item--info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.order-list .order-item .order-item--info .time {
  white-space: nowrap;
  margin-right: 30px;
}
.order-list .order-item .order-item--info .raiting.good {
  color: #4cd964;
}
.order-list .order-item .order-item--info .raiting.bad {
  color: #f5a623;
}
.list-posts {
  list-style: none;
  margin: 0 0 0 -3px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list-posts > li {
  width: 28px;
  height: 28px;
  line-height: 24px;
  vertical-align: middle;
  border: 3px solid #fff;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  margin-left: -6px;
  letter-spacing: -0.1px;
  font-size: 12px;
  background-color: #a4acb4;
  text-align: center;
  font-weight: 500;
}
.list-posts > li:first-child {
  margin-left: 0;
}
.list-posts > li:nth-child(1) {
  z-index: 1;
}
.list-posts > li:nth-child(2) {
  z-index: 2;
}
.list-posts > li:nth-child(3) {
  z-index: 3;
}
.list-posts > li:nth-child(4) {
  z-index: 4;
}
.list-posts > li:nth-child(5) {
  z-index: 5;
}
.list-posts > li:nth-child(6) {
  z-index: 6;
}
.list-posts > li.active {
  width: 32px;
  height: 32px;
}
.list-posts > li.bad1 {
  background-color: #ffcc00;
}
.list-posts > li.bad2 {
  background-color: #d3123f;
}
.payment {
  color: #fff;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.payment.payment-card {
  background-color: #e1d6bc;
}
.payment.payment-cash {
  background-color: #d9e1bc;
}
.head-date {
  font-size: 13px;
  color: #a4acb4;
  font-weight: normal;
  letter-spacing: 0.4px;
}
.order-list2 .order-item {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 #cfd8dc;
  -moz-box-shadow: 0 1px 2px 0 #cfd8dc;
  box-shadow: 0 1px 2px 0 #cfd8dc;
  padding: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.order-list2 .order-item:last-child {
  margin-bottom: 0;
}
.order-list2 .order-item .order-item--row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}
.order-list2 .order-item .order-item--info {
  font-size: 16px;
  white-space: nowrap;
}
.order-list2 .order-item .order-item--info .time {
  letter-spacing: 0.3px;
  margin-right: 10px;
}
.order-list2 .order-item .order-item--info .number {
  font-weight: 500;
}
.order-list2 .order-item .order-item--price {
  font-weight: 500;
  font-size: 20px;
}
.order-list2 .order-item h3 {
  font-size: 16px;
  margin: 0 0 3px 0;
}
.order-list2 .order-item .menu-action {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: absolute;
  left: 100%;
  top: 0;
  width: 70%;
  height: 100%;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.order-list2 .order-item .menu-action > li {
  margin-right: 10px;
}
.order-list2 .order-item .menu-action > li:last-child {
  margin-right: 0;
}
.order-list2 .order-item .menu-action > li > a {
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #007ee5;
}
.order-list2 .order-item.show-action {
  position: relative;
  left: -70%;
}

/*# sourceMappingURL=styles.css.map */