html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f31;
  position: relative;
  height: 100%;
  width: 100%;
}
.wrapper {
  max-width: 767px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  background-color: #f1f5f6;
  background: #f1f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbd0d5), color-stop(42%, #f1f5f6), color-stop(100%, #fff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #cbd0d5, #f1f5f6 42%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cbd0d5, endColorstr=#fff, GradientType=0);
  /* IE6-9 */
}
h1,
h2,
h3 {
  font-weight: 500;
}
h1 {
  font-size: 16px;
}
h2,
h3 {
  font-size: 14px;
}
.content {
  padding-top: 57px;
  padding-bottom: 40px;
}
.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
.scrolling-wrapper {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */
  /* positioning context for advancers */
  position: relative;
}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.nav-tabs.nav-justified > li {
  display: table-cell;
  width: 1%;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 0;
}
.modal-backdrop {
  background-color: #cfd8dc;
}
.modal-open .content {
  filter: blur(3px);
  -webkit-transition: filter .15s linear;
  -o-transition: filter .15s linear;
  transition: filter .15s linear;
}
.modal-cc .modal-dialog {
  margin-top: 120px;
}
.modal-cc .modal-header {
  position: relative;
}
.modal-cc .modal-header .btn-close {
  position: absolute;
  top: -46px;
  left: 50%;
  margin-left: -46px;
}
.modal-cc .modal-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-cc .modal-body {
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
}
.modal-cc .modal-body:before {
  content: url(../images/svg/angle.svg);
  width: 33px;
  height: 12px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.modal-cc .modal-footer {
  padding-top: 35px;
}
.head-order {
  color: #73808d;
  letter-spacing: 0.4px;
  font-weight: 500;
  font-size: 14px;
}
.head-date {
  font-size: 13px;
  color: #a4acb4;
  font-weight: normal;
  letter-spacing: 0.4px;
}
.raiting.good {
  color: #4cd964;
}
.raiting.bad {
  color: #f5a623;
}
.list-posts {
  list-style: none;
  margin: 0 0 0 -3px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list-posts > li {
  width: 28px;
  height: 28px;
  line-height: 24px;
  vertical-align: middle;
  border: 3px solid #fff;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  margin-left: -6px;
  letter-spacing: -0.1px;
  font-size: 12px;
  background-color: #a4acb4;
  text-align: center;
  font-weight: 500;
}
.list-posts > li:first-child {
  margin-left: 0;
}
.list-posts > li:nth-child(1) {
  z-index: 1;
}
.list-posts > li:nth-child(2) {
  z-index: 2;
}
.list-posts > li:nth-child(3) {
  z-index: 3;
}
.list-posts > li:nth-child(4) {
  z-index: 4;
}
.list-posts > li:nth-child(5) {
  z-index: 5;
}
.list-posts > li:nth-child(6) {
  z-index: 6;
}
.list-posts > li.active {
  width: 32px;
  height: 32px;
}
.list-posts > li.bad1 {
  background-color: #ffcc00;
}
.list-posts > li.bad2 {
  background-color: #d3123f;
}
.payment {
  color: #fff;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.payment.payment-card {
  background-color: #e1d6bc;
}
.payment.payment-cash {
  background-color: #d9e1bc;
}
.menu-action {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.menu-action > li {
  margin-right: 20px;
}
.menu-action > li:last-child {
  margin-right: 0;
}
.menu-action > li > a {
  display: inline-block;
  width: 36px;
  height: 36px;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #007ee5;
}
.btn-sm {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  height: 24px;
  line-height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 0 12px;
  border: 0px;
}
.btn-close {
  color: #fff;
  background: rgba(94, 98, 103, 0.68);
  padding-left: 27px;
  position: relative;
}
.btn-close .fas {
  width: 16px;
  height: 16px;
  line-height: 16px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #6c6e70;
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
}
.btn-close:active {
  background: #5e6267;
  color: #fff;
}
.navbar {
  border: 0;
  min-height: 47px;
  height: 47px;
  background-color: #2e2f31;
  color: #fff;
  margin: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  max-width: 767px;
  margin: 0 auto;
  z-index: 1051;
}
.navbar .navbar-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-brand {
  height: 47px;
  line-height: 47px;
  vertical-align: middle;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #3a3b3d;
  margin-right: 10px;
}
.navbar .navbar-brand img {
  width: 76px;
  display: inline-block;
}
.navbar .navbar-nav {
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.navbar .navbar-nav > li > a {
  color: #fff;
  line-height: 47px;
  vertical-align: middle;
  padding: 0 10px;
  padding-top: 0;
  padding-bottom: 0;
  border-left: 1px solid #3a3b3d;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}
.navbar .navbar-info {
  float: left;
  height: 47px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .navbar-info .navbar-info-item .time {
  font-weight: 900;
  letter-spacing: 0.4px;
}
.navbar .navbar-info .navbar-info-item .date {
  color: #9b9b9b;
  letter-spacing: 0.3px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
}
.panel-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.panel-info .panel-info-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 60px;
}
.panel-info .panel-info-receipts {
  letter-spacing: 0.5px;
}
.panel-info .panel-info-receipts .receipts-item {
  height: 100%;
  border-right: 1px solid #f3f5f6;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column wrap;
  padding-left: 10px;
  padding-right: 10px;
}
.panel-info .panel-info-receipts .receipts-item:last-child {
  border-right: 0;
}
.panel-info .panel-info-receipts .receipts-item .receipts-item--name {
  color: #626b71;
  font-weight: 500;
  font-size: 12px;
  padding-top: 8px;
  white-space: nowrap;
}
.panel-info .panel-info-receipts .receipts-item .receipts-item--name .circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  top: -1px;
}
.panel-info .panel-info-receipts .receipts-item .receipts-item--name .circle.green {
  background-color: #10c07e;
}
.panel-info .panel-info-receipts .receipts-item .receipts-item--name .circle.red {
  background-color: #ff584c;
}
.panel-info .panel-info-receipts .receipts-item .receipts-item--sum {
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 500;
}
.panel-info .panel-info-empl .empl-item {
  height: 100%;
  border-right: 1px solid #f3f5f6;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.panel-info .panel-info-empl .empl-item .badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #d3123f;
  color: #fff;
  border: 1px solid #fff;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  font-size: 10px;
  font-weight: 700;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
}
.panel-info .panel-info-empl .empl-item:last-child {
  border-right: 0;
}
.panel-info .panel-info-empl .empl-item .fa {
  font-size: 25px;
  width: 30px;
  text-align: center;
}
.filters-block {
  height: 55px;
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
.filters-block .filters-content {
  position: absolute;
  top: 0;
  left: 10px;
  min-width: -webkit-calc(100% - 20px);
  min-width: -moz-calc(100% - 20px);
  min-width: calc(100% - 20px);
  background-color: #cfd8dc;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 0 12px;
}
.filters-block .filters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 500;
}
.filters-block .filters > li {
  margin-right: 8px;
}
.filters-block .filters > li:last-child {
  margin-right: 0;
}
.filters-block .filters > li > a {
  display: inline-block;
  white-space: nowrap;
  padding: 0px 12px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  color: #fff;
  background-color: #bac7cc;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.filters-block .filters > li > a:hover,
.filters-block .filters > li > a:focus {
  text-decoration: none;
}
.filters-block .filters > li.filter-has-sub {
  position: relative;
}
.filters-block .filters > li.filter-has-sub:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -22px;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  height: 18px;
  background-color: #cfd8dc;
  opacity: 0;
}
.filters-block .filters > li.active > a {
  background-color: #007ee5;
  color: #fff;
}
.filters-block .filters > li.active.filter-has-sub:after {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.filters-block.filters-block-sub {
  display: none;
}
.filters-status .filters-content {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}
.filters-status .filters-late {
  margin: 0;
  margin-right: 20px;
  font-size: 11px;
}
.filters-status .filters-late > li {
  margin-right: 5px;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.filters-status .filters-late > li:last-child {
  margin-right: 0;
}
.filters-status .filters-late > li:first-child {
  border-right: 1px solid #bac7cc;
  padding-right: 8px;
}
.filters-status .filters-late > li > a {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 24px;
  text-align: center;
}
.filters-status .filters-late > li:first-child {
  margin-right: 8px;
}
.filters-status .filters-late > li:first-child > a {
  padding-left: 12px;
  padding-right: 12px;
}
.filters-status .filters-late > li.bad1 > a {
  background-color: #ffcc00;
}
.filters-status .filters-late > li.bad2 > a {
  background-color: #f5a623;
}
.filters-status .filters-late > li.bad3 > a {
  background-color: #d3123f;
}
.filters-status .filters-posts {
  margin: 0;
}
.filters-status .filters-posts > li {
  margin-right: 5px;
}
.filters-status .filters-posts > li:last-child {
  margin-right: 0;
}
.filters-status .filters-posts > li > a {
  width: 24px;
  text-align: center;
  padding: 0;
}
.empl-list .item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 #cfd8dc;
  -moz-box-shadow: 0 1px 2px 0 #cfd8dc;
  box-shadow: 0 1px 2px 0 #cfd8dc;
  padding: 12px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
.empl-list .item .item-empl {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.empl-list .item .item-empl--name {
  margin: 0 10px 0 10px;
}
.empl-list .item .item-empl--late {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.empl-list .item .item-empl--late > li {
  width: 28px;
  height: 28px;
  border: 3px solid #fff;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  margin-left: -6px;
}
.empl-list .item .item-empl--late > li:first-child {
  margin-left: 0;
}
.empl-list .item .item-empl--late > li:nth-child(1) {
  z-index: 1;
}
.empl-list .item .item-empl--late > li:nth-child(2) {
  z-index: 2;
}
.empl-list .item .item-empl--late > li.gray {
  background-color: #a4acb4;
}
.empl-list .item .item-empl--late > li.green {
  background-color: #4cd964;
}
.empl-list .item .item-empl--late > li.red {
  background-color: #d3123f;
}
.empl-list .item .item-empl--late > li.yellow {
  background-color: #f8cd1c;
}
.empl-list .item .item-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.empl-list .item .item-info .time {
  white-space: nowrap;
  margin-right: 30px;
}
.modal-cc-empl .modal-header {
  background-color: #bac7cc;
  padding: 6px 15px 9px 15px;
  border-bottom: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.modal-cc-empl .modal-header .modal-title {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #fff;
}
.modal-cc-empl .modal-header .close {
  color: #fff;
  text-shadow: 0 1px 0 #999;
  opacity: 0.8;
}
.modal-cc-empl .modal-header .close:hover {
  opacity: 1;
}
.modal-cc-empl .modal-body {
  margin-top: -3px;
}
.modal-cc-empl .order-sum {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.modal-cc-empl .order-list .order-item {
  background-color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0 0 10px 0;
  border-bottom: 1px dotted #e5e5e5;
}
.modal-cc-empl .order-list .order-item:last-child {
  border-bottom: 0;
}
.modal-cc-empl .order-list .order-item.order-empl {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}
.modal-cc-empl .order-list .order-item.order-empl h3 {
  font-size: 18px;
  letter-spacing: 0.6px;
}
.modal-cc-empl .order-list .order-item.order-empl .order-empl--post {
  font-size: 13px;
  color: #626b71;
  letter-spacing: 0.2px;
}
.modal-cc-empl .order-list .order-item.order-empl .raiting {
  font-size: 26px;
  letter-spacing: 0.9px;
}
.order-list .order-item {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 #cfd8dc;
  -moz-box-shadow: 0 1px 2px 0 #cfd8dc;
  box-shadow: 0 1px 2px 0 #cfd8dc;
  padding: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.order-list .order-item:last-child {
  margin-bottom: 0;
}
.order-list .order-item .order-item--row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}
.order-list .order-item .order-item--info {
  font-size: 16px;
  white-space: nowrap;
}
.order-list .order-item .order-item--info .time {
  letter-spacing: 0.3px;
  margin-right: 10px;
}
.order-list .order-item .order-item--info .number {
  font-weight: 500;
}
.order-list .order-item .order-item--price {
  font-weight: 500;
  font-size: 20px;
}
.order-list .order-item h3 {
  font-size: 16px;
  margin: 0 0 3px 0;
}
.order-list .order-item .menu-action {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: absolute;
  left: 100%;
  top: 0;
  width: 70%;
  height: 100%;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.order-list .order-item .menu-action > li {
  margin-right: 10px;
}
.order-list .order-item .menu-action > li:last-child {
  margin-right: 0;
}
.order-list .order-item .menu-action > li > a {
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #007ee5;
}
.order-list .order-item.show-action {
  position: relative;
  left: -70%;
}
.modal-cc-card .modal-header {
  padding: 0;
  border-bottom: 0;
}
.modal-cc-card .modal-body {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.modal-cc-card .nav-tabs-card {
  height: 40px;
}
.modal-cc-card .nav-tabs-card > li > a {
  padding: 0 15px;
  letter-spacing: 1px;
  color: #a4acb4;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  background-color: #f1f5f6;
  border-left: 1px solid #cfd8dc;
  border-right: 1px solid #cfd8dc;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 2px solid #cfd8dc;
}
.modal-cc-card .nav-tabs-card > li.active > a {
  color: #2e2f31;
  font-size: 14px;
  background-color: #fff;
  border-left-color: #fff;
  border-bottom-color: #fff;
  border-bottom-width: 2px;
}
.modal-cc-card .list-posts-card {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
  justify-content: center;
}
.modal-cc-card .list-posts-card > li {
  margin-right: 2px;
  margin-left: 0;
  position: relative;
}
.modal-cc-card .list-posts-card > li .badge {
  color: inherit;
  background-color: inherit;
  position: absolute;
  top: -10px;
  right: -5px;
  height: 20px;
  line-height: 16px;
  vertical-align: middle;
  min-width: 20px;
  padding: 0 5px;
  text-align: center;
  border: 2px solid #fff;
}
.modal-cc-card .list-posts-card > li:last-child {
  margin-right: 0;
}
.modal-cc-card .list-posts-card > li.active {
  width: 38px;
  height: 38px;
}
.modal-cc-card .filial-card {
  font-size: 18px;
  margin-bottom: 5px;
}
.modal-cc-card .info-card {
  color: #626b71;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 30px;
}
.modal-cc-card .info-card .info-card--item {
  margin-right: 10px;
}
.modal-cc-card .info-card .info-card--item:last-child {
  margin-right: 0;
}
.modal-cc-card .table-order {
  font-weight: 500;
  letter-spacing: 0.7px;
}
.modal-cc-card .table-order > thead > tr > th {
  font-size: 7px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #626b71;
  white-space: nowrap;
  border-bottom: 0;
}
.modal-cc-card .table-order > thead > tr > th.h-cell-name {
  text-align: left;
}
.modal-cc-card .table-order > thead > tr > th.h-cell-sum {
  text-align: right;
}
.modal-cc-card .table-order > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
  width: 10%;
  border-top: 0;
  border-bottom: 1px dotted #e5e5e5;
}
.modal-cc-card .table-order .cell-name {
  font-size: 13px;
  text-align: left;
  width: 70%;
}
.modal-cc-card .table-order .cell-sum {
  text-align: right;
}
.modal-cc-card .panel-total {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}
.modal-cc-card .panel-total .panel-total--sum {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/*# sourceMappingURL=styles.css.map */