html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f31;
  position: relative;
  height: 100%;
  width: 100%;
}
.wrapper {
  max-width: 767px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  background-color: #f1f5f6;
  background: #f1f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbd0d5), color-stop(42%, #f1f5f6), color-stop(100%, #fff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cbd0d5 0%, #f1f5f6 42%, #fff 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #cbd0d5, #f1f5f6 42%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cbd0d5, endColorstr=#fff, GradientType=0);
  /* IE6-9 */
}
h1,
h2,
h3 {
  font-weight: 500;
}
h1 {
  font-size: 16px;
}
h2,
h3 {
  font-size: 14px;
}
.content {
  padding-top: 10px;
  padding-bottom: 40px;
}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 100%;
  }
}
.scrolling-wrapper {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */
  /* positioning context for advancers */
  position: relative;
}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.nav-tabs.nav-justified > li {
  display: table-cell;
  width: 1%;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 0;
}
.modal-backdrop {
  background-color: #cfd8dc;
}
.modal-open .content {
  filter: blur(3px);
  -webkit-transition: filter .15s linear;
  -o-transition: filter .15s linear;
  transition: filter .15s linear;
}
.modal-cc .modal-dialog {
  margin-top: 120px;
}
.modal-cc .modal-header {
  position: relative;
}
.modal-cc .modal-header .btn-close {
  position: absolute;
  top: -46px;
  left: 50%;
  margin-left: -46px;
}
.modal-cc .modal-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-cc .modal-body {
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
}
.modal-cc .modal-body:before {
  /*content: url(../images/svg/angle.svg);*/
  width: 33px;
  height: 12px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.modal-cc .modal-footer {
  padding-top: 35px;
}
.head-order {
  color: #73808d;
  letter-spacing: 0.4px;
  font-weight: 500;
  font-size: 14px;
}
.head-date {
  font-size: 13px;
  color: #a4acb4;
  font-weight: normal;
  letter-spacing: 0.4px;
}
.raiting.good {
  color: #4cd964;
}
.raiting.bad {
  color: #f5a623;
}
.list-posts {
  list-style: none;
  margin: 0 0 0 -3px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list-posts > li {
  width: 28px;
  height: 28px;
  line-height: 24px;
  vertical-align: middle;
  border: 3px solid #fff;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  margin-left: -6px;
  letter-spacing: -0.1px;
  font-size: 12px;
  background-color: #a4acb4;
  text-align: center;
  font-weight: 500;
}
.list-posts > li:first-child {
  margin-left: 0;
}
.list-posts > li:nth-child(1) {
  z-index: 1;
}
.list-posts > li:nth-child(2) {
  z-index: 2;
}
.list-posts > li:nth-child(3) {
  z-index: 3;
}
.list-posts > li:nth-child(4) {
  z-index: 4;
}
.list-posts > li:nth-child(5) {
  z-index: 5;
}
.list-posts > li:nth-child(6) {
  z-index: 6;
}
.list-posts > li.active {
  width: 32px;
  height: 32px;
}
.list-posts > li.bad1 {
  background-color: #ffcc00;
}
.list-posts > li.bad2 {
  background-color: #F5A623;
}
.list-posts > li.bad3 {
  background-color: #d3123f;
}
.list-posts.minutes > li {
  font-size: 11px;
}
.order-item-btn {
  color: #fff;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.order-item-btn.order-item-btn--delivery {
  background-color: #A4ACB4;
}
.order-item-btn.order-item-btn--success {
  background-color: #4CD964;
}
.order-item-btn.order-item-btn--danger {
  background-color: #D3123F;
}
.order-item-btn.order-item-btn--warning {
  background-color: #FFCC00;
}
.menu-action {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.menu-action > li {
  margin-right: 20px;
}
.menu-action > li:last-child {
  margin-right: 0;
}
.menu-action > li > a {
  display: inline-block;
  width: 36px;
  height: 36px;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #007ee5;
}
.btn-sm {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  height: 24px;
  line-height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 0 12px;
  border: 0px;
}
.btn-close {
  color: #fff;
  background: rgba(94, 98, 103, 0.68);
  padding-left: 27px;
  position: relative;
}
.btn-close .fas {
  width: 16px;
  height: 16px;
  line-height: 16px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #6c6e70;
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
}
.btn-close:active {
  background: #5e6267;
  color: #fff;
}
.navbar {
  border: 0;
  min-height: 47px;
  height: 47px;
  background-color: #2e2f31;
  color: #fff;
  margin: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  max-width: 767px;
  margin: 0 auto;
  z-index: 1051;
}
.navbar .navbar-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-brand {
  height: 47px;
  line-height: 47px;
  vertical-align: middle;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #3a3b3d;
  margin-right: 10px;
}
.navbar .navbar-brand img {
  width: 50px;
  display: inline-block;
}
.navbar .navbar-nav {
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.navbar .navbar-nav > li.active {
  background-color: #3a3b3d;
}
.navbar .navbar-nav > li:last-child {
  padding-right: 25px;
}
.navbar .navbar-nav > li > a {
  color: #fff;
  line-height: 47px;
  vertical-align: middle;
  padding: 0 15px;
  padding-top: 0;
  padding-bottom: 0;
  border-left: 1px solid #3a3b3d;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}
.navbar .navbar-info {
  float: left;
  height: 47px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .navbar-info .navbar-info-item .time {
  font-weight: 900;
  letter-spacing: 0.4px;
}
.navbar .navbar-info .navbar-info-item .date {
  color: #9b9b9b;
  letter-spacing: 0.3px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
}
@media (min-width: 768px) {
  .navbar {
    max-width: 100%;
  }
  .navbar .navbar-brand {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.panel-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 10px;
}
.panel-info .panel-info-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 60px;
  margin-right: 20px;
}
.panel-info .panel-info-receipts {
  letter-spacing: 0.5px;
}
.panel-info .panel-info-receipts .receipts-item {
  height: 100%;
  border-right: 1px solid #f3f5f6;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column wrap;
  padding-left: 10px;
  padding-right: 10px;
}
.panel-info .panel-info-receipts .receipts-item:last-child {
  border-right: 0;
}
.panel-info .panel-info-receipts .receipts-item .receipts-item--name {
  color: #626b71;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  margin: auto 0 0 0;
}
.panel-info .panel-info-receipts .receipts-item .receipts-item--name .circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  top: -1px;
}
.panel-info .panel-info-receipts .receipts-item .receipts-item--name .circle.green {
  background-color: #10c07e;
}
.panel-info .panel-info-receipts .receipts-item .receipts-item--name .circle.yellow {
  background-color: #ffcc00;
}
.panel-info .panel-info-receipts .receipts-item .receipts-item--name .circle.red {
  background-color: #ff584c;
}
.panel-info .panel-info-receipts .receipts-item .receipts-item--sum {
  letter-spacing: 0.4px;
  font-weight: 600;
  margin: 0 0 auto 0;
  font-size: 12px;
}
.panel-info .panel-info-empl .empl-item {
  height: 100%;
  border-right: 1px solid #f3f5f6;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.panel-info .panel-info-empl .empl-item .badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #d3123f;
  color: #fff;
  border: 1px solid #fff;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  font-size: 10px;
  font-weight: 700;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
}
.panel-info .panel-info-empl .empl-item:last-child {
  border-right: 0;
}
.panel-info .panel-info-empl .empl-item .fa {
  font-size: 25px;
  width: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .panel-info .panel-info-receipts .receipts-item {
    padding-left: 15px;
    padding-right: 25px;
  }
  .panel-info .panel-info-receipts .receipts-item:first-child {
    padding-left: 10px;
  }
  .panel-info .panel-info-receipts .receipts-item .receipts-item--sum {
    font-size: 20px;
  }
  .panel-info .panel-info-empl .empl-item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .panel-info .panel-info-empl .empl-item .badge {
    right: 25px;
  }
}
.filters-block {
  height: 55px;
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
.filters-block.filters-block-fixed {
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  z-index: 1091;
}
.filters-block.filters-subblock-fixed {
  position: fixed;
  top: 54px;
  left: 10px;
  right: 10px;
  z-index: 1091;
}
.filters-block .filters-content {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  min-width: -webkit-calc(100% - 20px);
  min-width: -moz-calc(100% - 20px);
  min-width: calc(100% - 20px);
  background-color: #cfd8dc;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 0 12px;
}
.filters-block .filters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 500;
}
.filters-block .filters > li {
  margin-right: 8px;
}
.filters-block .filters > li:last-child {
  margin-right: 0;
}
.filters-block .filters > li > a {
  display: inline-block;
  white-space: nowrap;
  padding: 0px 12px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  color: #fff;
  background-color: #bac7cc;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.filters-block .filters > li > a:hover,
.filters-block .filters > li > a:focus {
  text-decoration: none;
}
.filters-block .filters > li > a.icon {
  line-height: 22px;
}
.filters-block .filters > li > a.icon img {
  width: 10px;
}
.filters-block .filters > li.filter-has-sub {
  position: relative;
}
.filters-block .filters > li.filter-has-sub:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -22px;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  height: 18px;
  background-color: #cfd8dc;
  opacity: 0;
}
.filters-block .filters > li.active > a {
  background-color: #007ee5 !important;
  color: #fff;
}
.filters-block .filters > li.active.filter-has-sub:after {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.filters-block .filters.filters-swiper {
  height: 35px !important;
  /*margin-left: 35px;*/
}
.filters-block.filters-block-sub {
  display: none;
}
.filters-status .filters-content {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}
.filters-status .filters-content.filters-content--late {
  justify-content: flex-start;
}
.filters-status .filters-late {
  margin: 0;
  margin-right: 20px;
  font-size: 11px;
}
.filters-status .filters-late > li {
  margin-right: 5px;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.filters-status .filters-late > li:last-child {
  margin-right: 0;
}
.filters-status .filters-late > li:first-child {
  border-right: 1px solid #bac7cc;
  padding-right: 8px;
}
.filters-status .filters-late > li > a {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 24px;
  text-align: center;
}
.filters-status .filters-late > li:first-child {
  margin-right: 8px;
}
.filters-status .filters-late > li:first-child > a {
  padding-left: 12px;
  padding-right: 12px;
}
.filters-status .filters-late > li.bad1 > a {
  background-color: #ffcc00;
}
.filters-status .filters-late > li.bad2 > a {
  background-color: #f5a623;
}
.filters-status .filters-late > li.bad3 > a {
  background-color: #d3123f;
}
.filters-status .filters-posts {
  margin: 0;
}
.filters-status .filters-posts > li {
  margin-right: 5px;
}
.filters-status .filters-posts > li:last-child {
  margin-right: 0;
}
.filters-status .filters-posts > li > a {
  width: 24px;
  text-align: center;
  padding: 0;
}
.search-input-group-form {
  flex-basis: 20%;
}
.search-input-group-form .search-input-group {
  margin-top: 11px;
  margin-right: 15px;
  position: relative;
  min-width: 150px;
}
.search-input-group-form .search-input-group .form-control {
  height: 25px;
  padding: 0 8px;
  font-size: 14px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
  border-color: #f1f0f0;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-left: 25px;
  padding-right: 27px;
}
.search-input-group-form .search-input-group .form-control::-moz-placeholder {
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
}
.search-input-group-form .search-input-group .form-control::-webkit-input-placeholder {
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
}
.search-input-group-form .search-input-group .form-control:-ms-input-placeholder {
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
}
.search-input-group-form .search-input-group .form-control::-ms-input-placeholder {
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
}
.search-input-group-form .search-input-group .form-control::placeholder {
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
}
.search-input-group-form .search-input-group > button {
  position: absolute;
  top: 4px;
  left: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
  background-color: #CFD8DC;
  width: 17px;
  height: 17px;
  outline: none;
  text-align: center;
  font-weight: normal;
  padding: 0;
  line-height: 1.5rem;
}
.search-input-group-form .search-input-group > button > img {
  margin-top: -1px;
}
.search-input-group-form .search-input-group > i.icon {
  position: absolute;
  top: 3px;
  right: 7px;
  color: #D8D8D8;
}
.search-input-group-form.first-line .search-input-group {
  margin-top: 0;
  min-width: 260px;
}
.clear-btn-container {
  margin-top: 11px;
  margin-right: 15px;
}
.clear-btn-container .clear-btn {
  border: none;
  outline: none;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.clear-btn-container .clear-btn > a {
  text-align: center;
}
.clear-btn-container .clear-btn > a img {
  vertical-align: inherit;
}
.filters-branches-container {
  flex-basis: 100%;
  margin-top: 11px !important;
}
.filters-date-container {
  margin-top: 11px !important;
}
.filters-goods-container {
  flex-basis: 80%;
  margin-top: 11px !important;
}
.filters-worktime-container {
  margin-top: 11px !important;
}
.filters-discount-container {
  flex-basis: 100%;
}
.filters-discount-container .discount {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 8px;
}
.filters-discount-container .discount .discount__wrapper {
  flex: 1;
  width: 180px;
  margin-right: 18px;
}
.filters-discount-container .discount .discount__amount {
  font-size: 14px;
}
.swiper-container {
  margin: 0 0 0 0;
}
.swiper-container .swiper-slide {
  width: auto !important;
}
.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
  background-color: #cfd8dc;
  color: #333;
  width: 50px;
  height: 24px;
  outline: none;
  margin-top: -18px;
  background-size: 50px 44px;
  z-index: 1092;
}
.swiper-container .swiper-button-prev:after,
.swiper-container .swiper-button-next:after {
  position: absolute;
  top: 0;
  content: " ";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #333;
  width: 25px;
  background-size: 8px 11px;
  height: 25px;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-container .swiper-button-prev {
  left: 0;
  background: #cfd8dc;
  background: -moz-linear-gradient(left, #cfd8dc 35%, #cfd8dc 61%, rgba(207, 216, 220, 0.13) 100%);
  background: -webkit-gradient(left top, right top, color-stop(35%, #cfd8dc), color-stop(61%, #cfd8dc), color-stop(100%, rgba(207, 216, 220, 0.13)));
  background: -webkit-linear-gradient(left, #cfd8dc 35%, #cfd8dc 61%, rgba(207, 216, 220, 0.13) 100%);
  background: -o-linear-gradient(left, #cfd8dc 35%, #cfd8dc 61%, rgba(207, 216, 220, 0.13) 100%);
  background: -ms-linear-gradient(left, #cfd8dc 35%, #cfd8dc 61%, rgba(207, 216, 220, 0.13) 100%);
  background: linear-gradient(to right, #cfd8dc 35%, #cfd8dc 61%, rgba(207, 216, 220, 0.13) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfd8dc', endColorstr='#cfd8dc', GradientType=1);
}
.swiper-container .swiper-button-prev:after {
  left: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.807271 6.24182C0.397576 5.83212 0.397576 5.16788 0.807271 4.75818L5.25818 0.307271C5.66788 -0.102424 6.33212 -0.102424 6.74182 0.307271C7.15151 0.716966 7.15151 1.38121 6.74182 1.79091L2.29091 6.24182C1.88121 6.65151 1.21697 6.65151 0.807271 6.24182Z' fill='%23626B71'/%3e%3cpath d='M0.807271 4.75818C0.397576 5.16788 0.397576 5.83212 0.807271 6.24182L5.25818 10.6927C5.66788 11.1024 6.33212 11.1024 6.74182 10.6927C7.15151 10.283 7.15151 9.61879 6.74182 9.20909L2.29091 4.75818C1.88121 4.34849 1.21697 4.34849 0.807271 4.75818Z' fill='%23626B71'/%3e%3c/svg%3e");
}
.swiper-container .swiper-button-next {
  right: 0;
  background: rgba(207, 216, 220, 0.13);
  background: -moz-linear-gradient(left, rgba(207, 216, 220, 0.13) 0%, #cfd8dc 39%, #cfd8dc 65%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(207, 216, 220, 0.13)), color-stop(39%, #cfd8dc), color-stop(65%, #cfd8dc));
  background: -webkit-linear-gradient(left, rgba(207, 216, 220, 0.13) 0%, #cfd8dc 39%, #cfd8dc 65%);
  background: -o-linear-gradient(left, rgba(207, 216, 220, 0.13) 0%, #cfd8dc 39%, #cfd8dc 65%);
  background: -ms-linear-gradient(left, rgba(207, 216, 220, 0.13) 0%, #cfd8dc 39%, #cfd8dc 65%);
  background: linear-gradient(to right, rgba(207, 216, 220, 0.13) 0%, #cfd8dc 39%, #cfd8dc 65%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfd8dc', endColorstr='#cfd8dc', GradientType=1);
}
.swiper-container .swiper-button-next:after {
  right: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.19273 6.24182C7.60242 5.83212 7.60242 5.16788 7.19273 4.75818L2.74182 0.307271C2.33212 -0.102424 1.66788 -0.102424 1.25818 0.307271C0.848486 0.716966 0.848486 1.38121 1.25818 1.79091L5.70909 6.24182C6.11879 6.65151 6.78303 6.65151 7.19273 6.24182Z' fill='%23626B71'/%3e%3cpath d='M7.19273 4.75818C7.60242 5.16788 7.60242 5.83212 7.19273 6.24182L2.74182 10.6927C2.33212 11.1024 1.66788 11.1024 1.25818 10.6927C0.848486 10.283 0.848486 9.61879 1.25818 9.20909L5.70909 4.75818C6.11879 4.34849 6.78303 4.34849 7.19273 4.75818Z' fill='%23626B71'/%3e%3c/svg%3e");
}
.swiper-container .swiper-button-disabled {
  opacity: 0;
}
@media (max-width: 991px) {
  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next {
    display: none;
  }
}
.empl-list .item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 #cfd8dc;
  -moz-box-shadow: 0 1px 2px 0 #cfd8dc;
  box-shadow: 0 1px 2px 0 #cfd8dc;
  padding: 12px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
.empl-list .item .item-empl {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.empl-list .item .item-empl--name {
  margin: 0 10px 0 10px;
}
.empl-list .item .item-empl--late {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.empl-list .item .item-empl--late > li {
  width: 28px;
  height: 28px;
  border: 3px solid #fff;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  margin-left: -6px;
}
.empl-list .item .item-empl--late > li:first-child {
  margin-left: 0;
}
.empl-list .item .item-empl--late > li:nth-child(1) {
  z-index: 1;
}
.empl-list .item .item-empl--late > li:nth-child(2) {
  z-index: 2;
}
.empl-list .item .item-empl--late > li.gray {
  background-color: #a4acb4;
}
.empl-list .item .item-empl--late > li.green {
  background-color: #4cd964;
}
.empl-list .item .item-empl--late > li.red {
  background-color: #d3123f;
}
.empl-list .item .item-empl--late > li.yellow {
  background-color: #f8cd1c;
}
.empl-list .item .item-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.empl-list .item .item-info .time {
  white-space: nowrap;
  margin-right: 30px;
}
.modal-cc-empl .modal-header {
  padding: 0;
  border-bottom: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.modal-cc-empl .modal-header .close {
  color: #fff;
  text-shadow: 0 1px 0 #999;
  opacity: 0.8;
}
.modal-cc-empl .modal-header .close:hover {
  opacity: 1;
}
.modal-cc-empl .modal-body {
  margin-top: -3px;
  padding: 25px;
}
.modal-cc-empl .empl-card {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: top;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.modal-cc-empl .empl-card__name {
  font-size: 20px;
  margin: 0 0 5px;
}
.modal-cc-empl .empl-card__post {
  color: #626B71;
  font-size: 13px;
  margin-bottom: 5px;
}
.modal-cc-empl .empl-card__time {
  font-weight: 500;
  font-size: 13px;
}
.modal-cc-empl .empl-card__time-item:not(:last-child) {
  margin-right: 5px;
}
.modal-cc-empl .empl-card__rate {
  font-size: 30px;
  font-weight: 500;
}
.modal-cc-empl .empl-card__rate.good {
  color: #10C07E;
}
.modal-cc-empl .empl-card__rate.ok {
  color: #F5A623;
}
.modal-cc-empl .empl-card__rate.bad {
  color: #D3123F;
}
.modal-cc-empl .order-list {
  margin-top: 12px;
  max-height: 300px;
  overflow-y: auto;
}
.modal-cc-empl .order-list .order-item {
  background-color: #fff;
  padding: 0;
  border-bottom: 1px dotted #e5e5e5;
}
.modal-cc-empl .order-list .order-item .order-item--body {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 6px 0 12px 0;
}
.modal-cc-empl .order-list .order-item .order-item--body .order-item-cell.order-item-cell--location {
  flex-basis: 25%;
}
.modal-cc-empl .order-list .order-item .order-item--body .order-item-cell.order-item-cell--late {
  flex-basis: 5%;
}
.modal-cc-empl .order-list .order-item .order-item--body .order-item-cell.order-item-cell--price {
  flex-basis: 25%;
}
.modal-cc-empl .order-list .order-item:first-child {
  border-top: 1px dotted #e5e5e5;
}
.modal-cc-empl .modal-footer {
  text-align: center;
  position: relative;
  padding-top: 20px;
}
.modal-cc-empl .modal-footer .btn-icon {
  width: 35px;
  height: 35px;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #007EE5;
  color: #fff;
}
.modal-cc-empl .modal-footer .btn + .btn {
  margin-left: 20px;
}
.modal-cc-empl .modal-footer .scale-h {
  transform: scale(-1, 1);
}
.modal-cc-empl .modal-footer:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: -1px;
  left: calc((100% - 18px ) / 2);
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #ffffff transparent transparent transparent;
}
@media (max-width: 767px) {
  .modal-cc-empl .order-list .order-item .order-item--body .order-item-cell.order-item-cell--time {
    flex-basis: 7%;
    order: 1;
  }
  .modal-cc-empl .order-list .order-item .order-item--body .order-item-cell.order-item-cell--number {
    flex-basis: 10%;
    order: 2;
  }
  .modal-cc-empl .order-list .order-item .order-item--body .order-item-cell.order-item-cell--location {
    flex-basis: 40%;
    order: 3;
  }
  .modal-cc-empl .order-list .order-item .order-item--body .order-item-cell.order-item-cell--late {
    flex-basis: 5%;
    order: 4;
  }
  .modal-cc-empl .order-list .order-item .order-item--body .order-item-cell.order-item-cell--price {
    flex-basis: 18%;
    order: 5;
    font-size: 16px;
  }
  .modal-cc-empl .order-list .order-item:first-child {
    border-top: 1px dotted #e5e5e5;
  }
}
.order-list-container.order-list-container--fixed-filters {
  margin-top: 150px;
}
.order-list .order-item {
  margin-bottom: 2px;
  position: relative;
}
.order-list .order-item .order-item--body {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 #cfd8dc;
  -moz-box-shadow: 0 1px 2px 0 #cfd8dc;
  box-shadow: 0 1px 2px 0 #cfd8dc;
  padding: 12px;
  letter-spacing: 0.5px;
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.order-list .order-item .order-item--body .order-item-cell {
  color: #2E2F31;
}
.order-list .order-item .order-item--body .order-item-cell.order-item-cell--time {
  flex-basis: 6%;
  padding-top: 8px;
  font-size: 16px;
}
.order-list .order-item .order-item--body .order-item-cell.order-item-cell--number {
  flex-basis: 9%;
  padding-top: 8px;
  font-weight: 500;
  font-size: 16px;
}
.order-list .order-item .order-item--body .order-item-cell.order-item-cell--location {
  flex-basis: 13%;
  padding-top: 8px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}
.order-list .order-item .order-item--body .order-item-cell.order-item-cell--posts {
  flex-basis: 24%;
}
.order-list .order-item .order-item--body .order-item-cell.order-item-cell--price {
  flex-basis: 10%;
  padding-top: 8px;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
}
.order-list .order-item .order-item--body .order-item-cell.order-item-cell--delivery {
  flex-basis: 18%;
  padding-top: 4px;
  text-align: right;
}
.order-list .order-item .order-item--body .order-item-cell.order-item-cell--delivery .order-item-btn--delivery {
  font-weight: 400;
}
.order-list .order-item .order-item--body .order-item-cell.order-item-cell--orderstate {
  flex-basis: 20%;
  padding-top: 4px;
  text-align: right;
}
.order-list .order-item .order-item--body .order-item-cell.order-item-cell--orderstate .order-item-btn--success {
  font-weight: 400;
}
.order-list .order-item .menu-action {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  width: 0;
  overflow: hidden;
}
.order-list .order-item .menu-action > li {
  margin-left: 10px;
  margin-right: 0;
}
.order-list .order-item .menu-action > li > a {
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #007ee5;
}
@media (max-width: 767px) {
  .order-list .order-item .order-item--body {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .order-list .order-item .order-item--body .order-item-cell.order-item-cell--time {
    letter-spacing: 0.3px;
    flex-basis: 7%;
    padding-top: 2px;
    font-size: 16px;
    order: 1;
  }
  .order-list .order-item .order-item--body .order-item-cell.order-item-cell--number {
    flex-basis: 20%;
    font-weight: 500;
    padding-top: 2px;
    font-size: 16px;
    order: 2;
  }
  .order-list .order-item .order-item--body .order-item-cell.order-item-cell--location {
    flex-basis: 40%;
    padding-top: 2px;
    font-size: 16px;
    font-weight: 500;
    order: 3;
  }
  .order-list .order-item .order-item--body .order-item-cell.order-item-cell--posts {
    flex-basis: 30%;
    order: 5;
    padding-top: 5px;
    flex-grow: 1;
  }
  .order-list .order-item .order-item--body .order-item-cell.order-item-cell--price {
    flex-basis: 25%;
    order: 4;
    padding-top: 2px;
    text-align: right;
    font-weight: 500;
    font-size: 20px;
  }
  .order-list .order-item .order-item--body .order-item-cell.order-item-cell--delivery {
    flex-basis: auto;
    padding-top: 8px;
    text-align: right;
    order: 6;
    flex-grow: 15;
  }
  .order-list .order-item .order-item--body .order-item-cell.order-item-cell--orderstate {
    flex-basis: auto;
    padding-top: 8px;
    text-align: right;
    order: 7;
    flex-grow: 1;
  }
}
.profile-card .profile-card-item {
  border-bottom: 1px dotted #E5E5E5;
  margin-bottom: 12px;
}
.profile-card .profile-card-item label {
  padding-left: 10px;
  font-size: 11px;
  color: #A4ACB4;
  font-weight: 300;
  margin-bottom: 3px;
}
.profile-card .profile-card-item p {
  padding-left: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #2E2F31;
  margin-bottom: 7px;
}
.modal-cc-card .modal-header {
  padding: 0;
  border-bottom: 0;
}
.modal-cc-card .modal-body {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 15px 25px 15px 25px;
}
.modal-cc-card .nav-tabs-card {
  height: 40px;
}
.modal-cc-card .nav-tabs-card > li > a {
  padding: 0 15px;
  letter-spacing: 1px;
  color: #a4acb4;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  background-color: #f1f5f6;
  border-left: 1px solid #cfd8dc;
  border-right: 1px solid #cfd8dc;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 2px solid #cfd8dc;
}
.modal-cc-card .nav-tabs-card > li.active > a {
  color: #2e2f31;
  font-size: 14px;
  background-color: #fff;
  border-left-color: #fff;
  border-bottom-color: #fff;
  border-bottom-width: 2px;
}
.modal-cc-card .list-posts-card-modal {
  margin-left: 0;
  justify-content: flex-end;
}
.modal-cc-card .list-posts-card {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
  justify-content: center;
}
.modal-cc-card .list-posts-card > li {
  margin-right: 2px;
  margin-left: 0;
  position: relative;
}
.modal-cc-card .list-posts-card > li .badge {
  color: inherit;
  background-color: inherit;
  position: absolute;
  top: -10px;
  right: -5px;
  height: 20px;
  line-height: 16px;
  vertical-align: middle;
  min-width: 20px;
  padding: 0 5px;
  text-align: center;
  border: 2px solid #fff;
}
.modal-cc-card .list-posts-card > li:last-child {
  margin-right: 0;
}
.modal-cc-card .list-posts-card > li.active {
  width: 38px;
  height: 38px;
}
.modal-cc-card .filial-card {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 0;
}
.modal-cc-card .info-card {
  color: #626b71;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-size: 13px;
}
.modal-cc-card .info-card .info-card--item {
  margin-right: 10px;
}
.modal-cc-card .info-card .info-card--item:last-child {
  margin-right: 0;
}
.modal-cc-card .table-order {
  font-weight: 500;
  letter-spacing: 0.7px;
  margin-bottom: 10px;
}
.modal-cc-card .table-order > thead > tr > th {
  font-size: 7px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #626b71;
  white-space: nowrap;
  border-bottom: 0;
  padding: 8px 0px 4px 0px;
}
.modal-cc-card .table-order > thead > tr > th.h-cell-name {
  text-align: left;
}
.modal-cc-card .table-order > thead > tr > th.h-cell-price {
  text-align: right;
}
.modal-cc-card .table-order > thead > tr > th.h-cell-num {
  text-align: center;
}
.modal-cc-card .table-order > thead > tr > th.h-cell-sum {
  text-align: right;
}
.modal-cc-card .table-order > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
  width: 10%;
  border-top: 0;
  border-bottom: 1px dotted #e5e5e5;
  padding: 8px 0px 8px 0px;
}
.modal-cc-card .table-order .cell-name {
  font-size: 13px;
  text-align: left;
  width: 70%;
}
.modal-cc-card .table-order .cell-price {
  text-align: right;
}
.modal-cc-card .table-order .cell-count {
  min-width: 50px;
}
.modal-cc-card .table-order .cell-sum {
  text-align: right;
}
.modal-cc-card .table-order .cell-order-num {
  font-size: 13px;
  text-align: left;
}
.modal-cc-card .table-order .cell-date {
  font-size: 13px;
  text-align: left;
  color: #73808D;
}
.modal-cc-card .table-order .cell-location {
  font-size: 13px;
  text-align: left;
  color: #73808D;
}
.modal-cc-card .panel-total {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.modal-cc-card .panel-total__disc {
  color: #626b71;
  font-size: 13px;
}
.modal-cc-card .panel-total__disc-value {
  font-weight: 600;
}
.modal-cc-card .panel-total .panel-total--sum {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: top;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
}
.modal-cc-card .panel-total .panel-total--full {
  font-size: 13px;
  text-decoration: line-through;
  color: #757e82;
  margin-right: 7px;
}
.modal-cc-card .order-card-header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 18px 0 14px;
}
.modal-cc-card .order-card-header .header-item {
  margin: auto auto auto 0;
}
.modal-cc-card .order-card-header .header-item:first-child {
  margin-right: 14px;
}
.modal-cc-card .order-card-header .header-item__right {
  margin-right: 14px;
}
.modal-cc-card .order-card-header .header-item:last-child {
  margin-right: 0;
}
.modal-cc-card .courier {
  font-size: 13px;
  text-align: right;
  color: #a4acb4;
}
.modal-cc-card .courier__name {
  font-weight: 600;
  color: #2e2f31;
}
.modal-cc-card .courier__route-num {
  font-weight: 600;
  color: #2e2f31;
}
.modal-cc-card .totalinfo-card {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
.modal-cc-card .totalinfo-card .totalinfo-card-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-basis: 23%;
}
.modal-cc-card .totalinfo-card .totalinfo-card-item .item-icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: url('../images/svg/cart_icon_grey.svg') no-repeat center center;
  background-color: #F1F5F6;
}
.modal-cc-card .totalinfo-card .totalinfo-card-item.active .item-icon {
  background-image: url('../images/svg/cart_icon_white.svg');
  background-color: #007EE5;
}
.modal-cc-card .totalinfo-card .totalinfo-card-item .item-description {
  margin-left: 12px;
  margin-top: -4px;
}
.modal-cc-card .totalinfo-card .totalinfo-card-item .item-description label {
  color: #73808D;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 300;
}
.modal-cc-card .totalinfo-card .totalinfo-card-item .item-description .item-count {
  font-size: 16px;
  color: #2E2F31;
  line-height: 1.9rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .modal-cc-card .order-card-header {
    flex-wrap: wrap;
  }
  .modal-cc-card .order-card-header .header-item__right {
    order: 4;
    flex-basis: 100%;
    margin: 8px 0 0 0;
  }
  .modal-cc-card .courier {
    text-align: left;
  }
}
.daterangepicker .drp-buttons .btn {
  padding: 0px 12px;
}
.daterangepicker .drp-calendar {
  max-width: none !important;
}
.daterangepicker .drp-calendar table {
  border-collapse: separate !important;
  border-spacing: 6px !important;
}
.daterangepicker .next span,
.daterangepicker .prev span {
  border-radius: 3px !important;
  padding: 4px !important;
}
.daterangepicker thead tr th {
  min-width: 28px !important;
  height: 20px !important;
  line-height: 20px !important;
}
.daterangepicker thead tr th.prev,
.daterangepicker thead tr th.next {
  border-radius: 50% !important;
  background-color: #bac7cc !important;
}
.daterangepicker thead tr th.prev span {
  margin-left: 2px;
}
.daterangepicker thead tr th.next span {
  margin-right: 2px;
}
.daterangepicker thead tr:first-child th {
  font-size: 14px !important;
}
.daterangepicker thead tr:last-child th {
  opacity: 0.8;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 11px;
  color: #878e91;
}
.daterangepicker thead tr:last-child th:nth-child(6),
.daterangepicker thead tr:last-child th:nth-child(7) {
  color: #bac7cc;
}
.daterangepicker tbody td {
  min-width: 28px !important;
  height: 20px !important;
  line-height: 20px !important;
  border-radius: 50% !important;
}
.daterangepicker tbody td:hover {
  background-color: #bac7cc !important;
}
.daterangepicker tbody td.active,
.daterangepicker tbody td.active:hover {
  background-color: #007ee5 !important;
}
.daterangepicker tbody td.off {
  color: #2e2f31;
  background-color: #bac7cc !important;
}
.noUi-target {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: none;
  height: 8px;
}
.noUi-target .noUi-connects {
  border-radius: 5px;
}
.noUi-target .noUi-connect {
  background: #007ee5;
}
.noUi-target .noUi-handle {
  width: 18px;
  height: 18px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #007ee5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  right: -9px;
  left: auto;
  top: -6px;
  outline: none;
}
.noUi-target .noUi-handle:before,
.noUi-target .noUi-handle:after {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.empl-list-container.empl-list-container--fixed-filters {
  margin-top: 150px;
}
.empl-list .empl-item {
  margin-bottom: 2px;
  position: relative;
}
.empl-list .empl-item .empl-item--body {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 #cfd8dc;
  -moz-box-shadow: 0 1px 2px 0 #cfd8dc;
  box-shadow: 0 1px 2px 0 #cfd8dc;
  padding: 10px 12px 10px 14px;
  letter-spacing: 0.5px;
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.empl-list .empl-item .empl-item--body .empl-item-cell {
  color: #2E2F31;
}
.empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--post {
  flex-basis: 2%;
}
.empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--post .badge {
  width: 28px;
  height: 28px;
  line-height: 18px;
  vertical-align: middle;
  border: 3px solid #fff;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  margin-left: -6px;
  letter-spacing: -0.1px;
  font-size: 12px;
  background-color: #bac7cc;
  text-align: center;
  font-weight: 500;
}
.empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--name {
  flex-basis: 31%;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}
.empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--time {
  flex-basis: 40%;
  font-size: 16px;
  text-align: right;
}
.empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--time .empl-item-cell--time-item:not(:last-child) {
  margin-right: 5px;
}
.empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--orders {
  flex-basis: 5%;
  text-align: right;
  font-weight: 600;
  font-size: 16px;
}
.empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--lates {
  flex-basis: 10%;
}
.empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--rate {
  flex-basis: 3%;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
}
.empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--rate.good {
  color: #10C07E;
}
.empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--rate.ok {
  color: #F5A623;
}
.empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--rate.bad {
  color: #D3123F;
}
.empl-list .empl-item .menu-action {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  width: 0;
  overflow: hidden;
}
.empl-list .empl-item .menu-action > li {
  margin-left: 10px;
  margin-right: 0;
}
.empl-list .empl-item .menu-action > li > a {
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #007ee5;
}
@media (max-width: 767px) {
  .empl-list .empl-item .empl-item--body {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--post {
    flex-basis: 7%;
    order: 1;
  }
  .empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--name {
    flex-basis: 84%;
    order: 2;
  }
  .empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--time {
    flex-basis: 82%;
    order: 5;
    text-align: left;
  }
  .empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--orders {
    flex-basis: 5%;
    order: 4;
    text-align: left;
  }
  .empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--lates {
    flex-basis: auto;
    order: 6;
  }
  .empl-list .empl-item .empl-item--body .empl-item-cell.empl-item-cell--rate {
    flex-basis: 7%;
    order: 3;
  }
}
.profile-card .profile-card-item {
  border-bottom: 1px dotted #E5E5E5;
  margin-bottom: 12px;
}
.profile-card .profile-card-item label {
  padding-left: 10px;
  font-size: 11px;
  color: #A4ACB4;
  font-weight: 300;
  margin-bottom: 3px;
}
.profile-card .profile-card-item p {
  padding-left: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #2E2F31;
  margin-bottom: 7px;
}

/*# sourceMappingURL=styles.css.map */