.actions-popover {
    width: 270px;
    height: unset;

    .popover-content {
        padding: 15px 20px;
    }

    .actions-popover__item {
        &:not(:first-child) {
            margin-top: 8px;
        }
    }

    &__item {
        display: flex;

        color: #337AB7;
        text-decoration: none !important;

        .actions-popover__item-icon {
            flex-shrink: 0;
        }

        &:hover {
            color: #333;
        }
    }

    &__item-icon {
        width: 30px;

        line-height: 20px;
        color: #333;
    }

    &.bottom {
        margin-top: 5px;
    }

    &.top {
        margin-top: -5px;
    }
}
