.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:focus,
  &.focus {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 25%);
  }
  &:hover {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: @color;
      background-color: darken(@background, 17%);
          border-color: darken(@border, 25%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: @background;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

.btn-danger {
    .button-variant(#fff; #ff0000; #ff0000);
}

.btn-success {
    .button-variant(#fff; #38a138; #38a138);
}

.btn-primary {
    .button-variant(#fff; #337ab7; #337ab7);
}

.btn {
    &.disabled {
        opacity: 0.2;
    }
}

.btn-with-icon {
    .fa,
    .fas,
	.far {
        margin-right: 10px;
    }
}

.btn-p25 {
	padding-left: 25px;
	padding-right: 25px;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    padding: 0;

    font-size: 16px;
}
