.employee-file-popover {
    width: 250px;
    height: unset;

    .popover-content {
        padding: 15px 20px;
    }

    &__title {
        font-weight: bold;
    }

    &__table {
        margin-top: 6px;
        margin-bottom: 0;
        border-top: none !important;
        border-bottom: none !important;

        td {
            padding: 2px !important;

            font-weight: normal;
            border-top: none !important;

            &:first-child {
                padding-left: 0 !important;
            }

            &:last-child {
                padding-right: 0 !important;
            }
        }
    }

    &__table-quantity-cell {
        font-weight: bold !important;
        text-align: end;
    }

    &__table-percentage-cell {
        font-weight: bold !important;
        text-align: end;
    }

    &.bottom {
        margin-top: 5px;
    }

    &.top {
        margin-top: -5px;
    }
}
