//************ Form
label {
    font-weight: normal;
    color: #555;
}

.form-control,
.radio-inline,
.checkbox label {
    color: #000;
}

.js-select-placeholder {
    option[value=""][disabled] {
        display: none;
    }
}

.file-upload {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle; 
    border: 1px solid #4cae4c;
    color: #fff;
    background-color: #5cb85c;
    cursor: pointer;
    
    input[type="file"] {
        display: none;
    }    
    
    &:focus {
        background-color: #449d44;
        border-color: #255625;
    }
    
    &:hover {
        background-color: #449d44;
        border-color: #398439;
    }
}

.form-filters {
    margin-bottom: 15px;

    .form-group {
        float: left;
        margin-right: 30px;
    }
    
    .form-control {
        width: 170px;
    }
    
    .form-control-md {
        width: 270px;
    }
    
    .input-group {
        .btn {
            color: @link-color;
            
            &:hover {
                color: @link-hover-color;
            }
        }
    }
    
    .form-group-datepicker {        
        .form-control {
            width: 100%;
        }
        
        .input-group {
            float: left;
            width: 140px;
        }

        .input-group-dash {
            float: left;
            margin: 5px 7px 0 7px;
            color: #000;
        }
    }
    
    .btn-group {
        display: block;
    }
    
    .form-radiogroup {
        margin-top: 25px;

        .btn {
            width: 85px;
        }
    }
    
    .form-group-multiple {
        .js-select-multiple {
            min-width: 170px;
            max-width: 170px;
        }
    }

    .btn-primary {
        margin-top: 25px;
        float: left;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.form-filters-inline {
    margin-bottom: 30px;

    label {
        margin-right: 15px;
    }
    
    .input-group {
        .btn {
            color: @link-color;
            
            &:hover {
                color: @link-hover-color;
            }
        }
    }    

    .form-group {
        margin-left: 15px;
        margin-right: 15px;
    }

    .form-control {
        width: 170px;
    }
    
    .form-group-datepicker {
        .input-group {
            width: 140px;
        } 
        
        .input-group-dash {
            margin: 0px 7px;
            color: #000;
        }
    }
    
    .btn-primary {
        margin-left: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    &.no-indents {
        margin-left: -15px;
    }
}

.form-respons {
    margin-bottom: 15px;

    .input-group {
        &.datepicker {
            .btn {
                color: @link-color;
                
                &:hover {
                    color: @link-hover-color;
                }
            }
        }
    } 
    
    .js-select-multiple {
        min-width: inherit;
    }
    
    .form-btns {
        margin-top: 25px;

        .btn {
            float: right;
        }
        
        .btn-primary,
        .btn-default,
        .btn-success {
            padding-left: 25px;
            padding-right: 25px;
        }
        .btn-default--dangerlabel {
            color: @danger-color;
        }
    }
    
    .form-btns-multi {
        .flex();
        justify-content: space-between;
        
        .btn {
            float: none;
        }

        .btn-group-end {
            .flex();

            .btn {
                margin-left: 15px;
            }
        }
    }
    
    .input-groups-periods {
    	.flex();
    	width: 100%;
    	margin-top: 25px;
    	
    	.input-group {
    		flex: 1;
    		
    		.btn {
    			color: #337AB7;
    		}
    	}
    	
    	.input-group-dash {
    		width: 30px;
    		text-align: center;
    		padding-top: 5px;
    	}
    }
}

fieldset[disabled] {
    label, 
    .form-group-datepicker .input-group-dash {
        color: #aaaaaa;
    }

    .form-control {
        background-color: #ffffff;
        color: #aaaaaa;
        border-color: #e5e5e5;
    }
    
    .input-group {
        .btn {
            color: #a2c5e3;
            
            &:hover {
                color: #a2c5e3;
            }
        }
    }
    
    .btn-primary {
        &,
        &:hover,
        &:focus {
            color: #d4e3f1;
            background-color: #a2c5e3;
            border-color: #a2c5e3;
        }
    }
}

.block-loader {
    background: url("../images/spinner.gif") center 40px no-repeat #fff;
    width: auto;
    display: inline-block;
    height: 180px;

    .table-responsive {
        height: 2px;
        overflow: hidden;
    }
}

.has-error {
    > label {
        color: #a94442;
    }
    .select2-container--default .select2-selection--multiple, 
    .select2-container--default .select2-selection--single {
        border-color: #a94442 !important;
    }
    
    .input-group-btn > .btn {
        border-right-color: #a94442;
        border-top-color: #a94442;
        border-bottom-color: #a94442;
    }
}

.weekdays {
	font-size: 0;
	
	input {
		position: absolute;
		opacity: 0;
		left: 0;
		top: 0;
		z-index: -9999;
		
		&:checked + span {
			background-color: #e6e6e6;
			border-color: #cdcdcd;
		}
	}
	
	.checkbox {
		display: inline-block;
		margin: 3px 0 5px;
		span {
			height: 34px;
			line-height: 30px;
			min-width: 34px;
			text-align: center;
			border: 1px solid #ccc;
			border-radius: 4px;
			margin-right: 5px;
			font-size: 14px;
			display: inline-block;
			text-transform: lowercase;
		}
		label {
			margin: 0;
			padding-left: 0;
			font-weight: normal;
		}
		
		&.disabled {
			span {
				background-color: #e6e6e6;
			}
		}
	}
}


// Выбор дня месяца
.day-of-month-input {
	&.select2-container--open.select2-container--below .select2-selection--single, &.select2-container--open.select2-container--below .select2-selection--multiple {
		border-bottom-left-radius: 4px !important;
		border-bottom-right-radius: 4px !important;
	}
}

.day-of-month-block .select2-dropdown {
	position: absolute;
	top: 100%;
	left: 15px;
	margin-top: 3px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	padding: 15px;
	width: 272px !important;	
	background-color: #fff;
	
	.select2-results__group {
		display: none !important;
	}
	
	.select2-results__options {
		overflow-y: visible !important;
	}
	
	.select2-results__option[aria-selected=true], .select2-results__option--highlighted[aria-selected] {
		background-color: #e6e6e6 !important;
		color: #000 !important;
	}
	
	i {
		display: none;	
	}
	
	&::before {
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		top: -6px;
		left: 10px;
		display: block;
		background-color: #fff;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		transform: rotate(45deg);
		z-index: 600;
	}
	
	li {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: block;
			
			li {
				height: 30px;
				cursor: pointer;
				width: 30px;
				text-align: center;
				line-height: 28px;
				border-radius: 4px;
				margin: 0 5px 5px 0 !important;
				padding: 0 !important;
				float: left;
				
				&:last-child {
					margin-right: 0 !important;	
				}					
			}
		}	
		&:last-child {
			ul li {
				margin-bottom: 0 !important;
			}	
		}		
	}
}


@media (max-width: 767px) {
    .form-filters-inline {
        .form-group-datepicker {
            white-space: nowrap;

            .form-control {
                display: inline-block;
                width: auto;
                vertical-align: middle;
                padding-right: 0;
            }
            
            .input-group {
                display: inline-table;
                vertical-align: middle;
                width: 135px;
                
                .input-group-addon,
                .input-group-btn,
                .form-control {
                    width: auto;
                }
                
                > .form-control { 
                    width: 100%;
                }
            }
        }
        
        .btn-primary {
            margin-left: 0;
        }
    }
    
    .form-respons {
        .form-btns-multi {
            flex-wrap: wrap;
    
            .btn-group-beg {
                width: 100%;
                margin-bottom: 15px;
                
                .btn {
                    width: 100%;
                }
            }
            
            .btn-group-end {
                width: 100%;
    
                .btn {
                    width: 50%;
                    
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .form-filters-inline {
        .form-group-datepicker {
            .input-group-dash {
                margin: 0 2px;
            }
        }
    } 
}