.hat-scaffold {
    display: flex;
    height: 100%;

    &__body {
        flex-grow: 1;
        overflow: auto;
        padding: 29px 23px 37px 23px;
    }
}

@media (max-width: 767px) {
    .hat-scaffold {
        flex-direction: column;
    }
}

