.hat-scaffold {
    display: flex;
    height: 100%;

	&__body {
		flex-grow: 1;
		overflow: hidden;
		position: relative;
	}

    &__body-content {
		height: 100%;
        overflow: auto;
		position: relative;
    }

    &__content-wrapper {
        max-width: 1440px;
        padding: 29px 31px 37px 31px;
        margin-left: auto;
        margin-right: auto;
    }

	&__head {
		.flex();
		.flex-align-items(center);
		justify-content: space-between;
		margin-bottom: 20px;

		h1 {
			margin: 0;
			flex: 1;
		}

		&__right {
			.flex();
			margin-left: 30px;

			.btn {
				margin-left: 10px;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	&__bottom-sheet {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		padding-right: 31px;
		padding-left: 31px;
		z-index: 1000;

		background: #FFFFFF;
		border: 1px solid #E5E5E5;
	}
}

@media (max-width: 991px) {
    .hat-scaffold {
        flex-direction: column;

        &__content-wrapper {
            padding: 25px 15px 17px 15px;
        }

		&__bottom-sheet {
			padding-right: 15px;
			padding-left: 15px;
		}
    }
}

