.hat-scaffold {
    display: flex;
    height: 100%;

    &__body {
        flex-grow: 1;
        overflow: auto;
    }
}

@media (max-width: 767px) {
    .hat-scaffold {
        flex-direction: column;
    }
}

