.info-peracc {
    margin-top: -10px;
    margin-bottom: 26px;

    .tooltip {
        .tooltip-arrow{
            display: none !important;
        }

        &.in{
            opacity: 1!important;
        }

        .tooltip-inner{
            background: #FFFFFF;
            box-shadow: 0 4px 4px rgba(0,0,0,.25);
            border-radius: 6px;
            font-size: 12px;
            line-height: 50px;
            white-space: nowrap;
            padding: 0 20px;
            z-index: 99;
            color: #000000;
            max-width: 100%;
        }
    }

    .list-posts {
        display: inline-block;
        margin-bottom: 14px;

        > li {
            margin-bottom: 5px;

            font-size: 14px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .list-accounts {
        white-space: nowrap;
        margin-bottom: 0;

        > li {
            display: inline-block;

            &:not(:first-child) {
                margin-left: 20px;
            }
        }

        .sum {
            margin-left: 15px;
            display: inline-block;
            font-weight: 600;
            padding: 6.5px 10px;

            .fa {
                font-size: 12px;
                color: #333;
            }

            &.sum-yes {
                background-color: #e1f6cc;
            }

            &.sum-no {
                background-color: #ffa9b1;
            }

            &.sum-null {
                background-color: #ededed;
            }
        }

        .name {
            .short {
                display: none;
            }
        }
    }

    &__source {
        margin-right: 10px;
        &-icon {
            display: none;
            font-size: 14px;
            margin-left: 12px;

            &--hh {
                &:before {
                    content: '';
                    .hh-icon();
                }
            }
        }

        &[data-source="manual"] .info-peracc__source-icon--manual,
        &[data-source="external"] .info-peracc__source-icon--external,
        &[data-source="site"] .info-peracc__source-icon--site,
        &[data-source="hh"] .info-peracc__source-icon--hh {
            display: inline-block;
        }
    }

    &__second-row {
        display: flex;
        justify-content: space-between;
    }

    &__selectors {
        display: flex;

        & > .form-group {
            margin-bottom: 0;
        }

        select {
            font-size: 12px;
        }

        & > .form-group {
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    &__file-icon {
        margin-right: 5px;

        font-size: 16px;

        &--check {
            color: #38A138 !important;
        }

        &--exclamation {
            color: #FF7500 !important;
        }

        &--minus {
            color: #FF0000 !important;
        }
    }
}

@media (max-width: 1300px) {
    .info-peracc {
        margin-bottom: 12px;

        .list-posts {
            > li {
                margin-bottom: 2px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .list-accounts {
            display: flex;
            flex-grow: 1;
            margin-left: 20px;

            font-size: 12px;

            > li {
                display: flex;
                flex-direction: column-reverse;

                position: relative;
                min-height: 1px;
                padding-right: 5px;
                padding-left: 5px;
                margin-left: 0;
                width: 33.33333333%;
                flex-shrink: 0;

                text-align: center;

                &:not(:first-child) {
                    margin-left: 5px;
                }
            }

            .sum {
                margin-left: 0;
            }

            .name {
                margin-top: 5px;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .info-peracc {
        .list-posts {
            margin-top: 10px;
        }
    }
}

@media (max-width: 600px) {
    .info-peracc {

        .list-accounts {
            .name {
                .full {
                    display: none;
                }
                .short {
                    display: block;
                }
            }
        }

    }
}
