// Current styles
.good1,
td.good1, 
td.good1 .form-control {
    background-color: #e1f6cc;
}

.good2,
td.good2, 
td.good2 .form-control {
    background-color: #c3e6a1;
}

.bad1,
td.bad1, 
td.bad1 .form-control {
    background-color: #ffffb2;
}

.bad2,
td.bad2, 
td.bad2 .form-control {
    background-color: #ffd4d4;
}

.bad3,
td.bad3, 
td.bad3 .form-control {
    background-color: #ffa9b1;
}

//************** Table
.table-filiation {
    width: 905px;
    margin-bottom: 14px;
    
    > tbody {
        > tr {
            > td {
                vertical-align: middle;
            }
            &:last-child {
                > td {
                    border-top-width: 2px;
                }
            }
        }
    }
    
    .cell-price {
        white-space: nowrap;
    }
    
    .cell-salmon {
        white-space: nowrap;

        .form-control {
            width: 45px;
            display: inline-block;
        }
    }
    
    .cell-lateness {
        text-align: center;
    }
    
    .cell-standard {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .table-filiation {
        width: 100%;
        margin-bottom: 8px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .table-filiation {
        > thead {
            > tr {
                > th {
                    line-height: 1.2;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .table-responsive-wrapper {
        .table-responsive2 {
            .table-filiation {
                > thead {
                    > tr {
                        > th {
                            &.cell-head-posts {
                                &:before {
                                    content: "\f47f";
                                }
                            } 
                            
                            &.cell-head-type {
                                &:before {
                                    content: "\f02c";
                                }
                            }
                            
                            &.cell-head-load {
                                &:before {
                                    content: "\f4ce";
                                }
                            }
                            
                            &.cell-head-load-add {
                                &:before {
                                    content: "\f4cf";
                                }
                            }
                            
                            &.cell-head-users {
                                &:before {
                                    content: "\f0c0";
                                }
                            }
                            
                            &.cell-head-fot {
                                &:before {
                                    content: "\f0b1";
                                }
                            }
                            
                            &.cell-head-standard {
                                &:before {
                                    content: "\f328";
                                }
                            }
                            
                            &.cell-head-lateness {
                                &:before {
                                    content: "\f4fd";
                                }
                            }
                        }
                    }
                }
                
                > tbody {
                    > tr {
                        position: relative;
                        min-width: 150px;
                        height: 37px * 8;

                        > td {
                            text-align: center;
                            
                            &.cell-lateness {
                                width: 33.3333%;
                                position: absolute;
                                bottom: 0;
                                
                                &.bad1 {
                                    left: 0;
                                }

                                &.bad2 {
                                    left: 33.3333%;
                                }
                                
                                &.bad3 {
                                    left: 66.6666%;
                                }
                            }
                            
                            &.cell-salmon {
                                padding-top: 3px;
                                padding-bottom: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}


// Buttons group 
.btn-group-late {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .btn-group-late {
        .btn {
            padding-left: 25px;
            padding-right: 25px;

            .btn-txt {
                display: none;
            }
            
            &.active {
                .box-shadow(none);
            }        
        }
    }    
}


// модальное окно для опозданий
.modal-detail-late {
    .modal-dialog {
        width: 730px;
    }
}

@media (max-width: 767px) {
    .modal-detail-late {
        .modal-dialog {
            width: 100%;
            margin: 0;
            
            .modal-content {
                border: 0;
            }
        }
    }    
}

.table-detail-late {
    > thead {
        > tr {
            > th {
                padding: 6px 8px;
                
                &.cell-head-number {
                    white-space: nowrap;
                }
            }
        }
    }
    
    > tbody {
        > tr {
            > td {
				/*white-space: nowrap;*/
                &.cell-btn {
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-right: 0;
                    text-align: right;
					white-space: nowrap;
                }
            }
            
            &.active {
                background-color: #ededed;

                > td {
                    background-color: #ededed;
                }
            }
        }
    }
    
    .btn-detail-order {
        &:before {
            display: inline-block;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1; 
            font-size: 14px;
            
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            
            content: "\f13a";
        }
        
        &.active {
            &:before {
                content: "\f139";
            }
        }
    }
    
    .row-detail-order {
        display: none;
        background-color: #fff;
        
        > td {
            border-top: none;
        }

        &.show {
            display: table-row !important;
        }

        h3 {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        
        .head-detail-order {
            padding-top: 10px;
            padding-bottom: 10px;

            h3 {
                float: left;
                margin: 0;
            }
            
            .head-detail-order_sum {
                float: right;
                font-size: 14px;
                font-weight: 700;
                white-space: nowrap;
                margin-right: 8px;
            }
        }
        
        .row-table {
            margin: 0 -8px;
        }

        .table-detail-order {
            td {
                padding: 8px 12px;
            }
            .cell-price {
                white-space: nowrap;
                text-align: right;
            }
            
            .cell-count {
                white-space: nowrap;
            }
        }
        
        .table-detail-order-history {
            margin-bottom: 14px;
            .cell-time {
                text-align: right;
                white-space: nowrap;
                font-weight: 700;
            }
            > tbody > tr > td {
                padding: 9px;
            }
        }
        
        .order-detail-info {
            .order-detail-info_cont {
                margin-top: 3px;
            }
            
            .order-detail-info_date {
                margin-left: 5px;
            }
        }
        
        .row-detail-order-history {
            margin-left: -8px;
            margin-right: -8px;
            
            > div {
                padding-left: 8px;
                padding-right: 8px;
            }
        }

        > td > .row-detail-order-history > div:last-child {
            padding-left: 26px;
        }
    }
}

@media (min-width: 768px) {
    .table-detail-late {
        > thead {
            > tr {
                > th {
                    line-height: 1.3;
                }
            }
        }
        
        .time-end {
            display: none;
        }
    }
}

@media (max-width: 767px) {    
    .table-responsive {
        .table-detail-late {
            font-size: 14px;

            > tbody {
                > tr {
                    position: relative;
                    padding-top: 15px;
                    padding-bottom: 15px;

                    > td {
                        padding-left: 45px;
                        
                        &:before {
                            display: inline-block;
                            -moz-osx-font-smoothing: grayscale;
                            -webkit-font-smoothing: antialiased;
                            font-style: normal;
                            font-variant: normal;
                            text-rendering: auto;
                            
                            font-family: "Font Awesome 5 Pro";
                            font-weight: 900;
                            font-size: 16px;
                            
                            position: absolute;
                            top: 4px;
                            left: 0px;  
                            
                            height: 20px;
                            width: 20px;
                            line-height: 20px;
                            vertical-align: middle;
                            text-align: center;
                        }
                        
                        // № заказа
                        &.cell-number {
                            &:before {
                                content: "\f328";
                            }
                        }
                        
                        // старт обработки
                        &.cell-time-start {
                            &:before {
                                content: "\f017";
                            }
                        }
                        
                        // сумма заказа
                        &.cell-sum {
                            &:before {
                                content: "\f555";
                            }
                        }
                        
                        // обработал
                        &.cell-name {
                            &:before {
                                content: "\f508";
                            }                            
                        }
                        
                        &.cell-btn {
                            position: absolute;
                            top: 11px;
                            right: 0;
                            padding-left: 0;
                            font-size: 16px;
                        }
                    }
                    
                    &.row-detail-order {
                        display: none;

                        > td {
                            padding-left: 0;
                            
                            .table {
                                border-top-width: 1px;

                                > tbody {
                                    > tr {
                                        display: table-row;
                                        
                                        > td {
                                            display: table-cell;
                                        }
                                    }
                                }

                                td {
                                    padding: 8px;
                                }
                            }
                                                        
                            .table-detail-order-history {
                                margin-bottom: 5px;
                            }
                            
                            .order-detail-info {
                                margin-top: 15px;
                                
                                .order-detail-info_cont {
                                    margin-top: 0;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

.table-detail-route {
    margin-bottom: 0;
    > thead {
        > tr {
            > th {
                vertical-align: middle;
            }
        }
    }
    
    > tbody {
        > tr {
            > td {
                &.cell-route {
                    padding-left: 12px;
                }
                &.cell-datetime {
                    width: 112px;
                }
                &.cell-distance {
                    width: 100px;
                }
                &.cell-time {
                    width: 100px;
                }
                &.cell-btn {
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-right: 0;
                    text-align: right;
                }

                p:last-child {
                    margin: 0;
                }
            }
            
            &.active {
                background-color: #ededed;

                > td {
                    background-color: #ededed;
                }
            }

            &.row-detail-route {
                display: none;
                background-color: #ededed;

                > td {
                    padding: 0 12px;
                    border-top: none;
                }

                .table-detail-late {
                    background-color: #ededed;
                    margin-bottom: 10px;
                    border-bottom: none;
                    > tbody {
                        > tr {
                            > td {
                                &.cell-number {
                                    padding-left: 12px;
                                }
                            }
                            &.danger {
                                background-color: #FFD4D4;
                                > td {
                                    background-color: #FFD4D4;
                                }
                            }
                        }
                    }
                    .row-detail-order {
                        .head-detail-order {
                            padding-top: 4px;
                            h3 {
                                margin-left: 4px;
                            }
                            .head-detail-order_sum {
                                margin-right: 4px;
                            }
                        }
                        .table-detail-order-history {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    
    .btn-detail-route {
        &:before {
            display: inline-block;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1; 
            font-size: 14px;
            
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            
            content: "\f13a";
        }
        
        &.active {
            &:before {
                content: "\f139";
            }
        }
    }
}

@media (min-width: 768px) {
    .table-detail-route {
        > thead {
            > tr {
                > th {
                    line-height: 1.3;
                    padding: 6px 8px;
                }
            }
        }
        
        .time-end {
            display: none;
        }
    }
}