//************ mixins
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
       -moz-box-shadow: @shadow;
            box-shadow: @shadow;
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

.flex() {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.flex-align-items(@align-items) {
    -webkit-align-items: @align-items;
      -webkit-box-align: @align-items;
         -ms-flex-align: @align-items;
            align-items: @align-items;
}

.text-nowrap() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// for form print
.inline-underlined() {
    display: inline-block;
    border-bottom: 1px solid #7f7f7f;
    text-align: center;
    white-space: nowrap;
}

.justify-content-end() {
  -webkit-box-pack: end;
     -ms-flex-pack: end;
   justify-content: flex-end;
}

.justify-content-center() {
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
}

.align-items-center() {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.hh-icon() {
  @color: #D6001C;
  @svg-content: escape('<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="9" cy="9" r="9" fill="@{color}"/>
  <path d="M8.54824 12H7.20791V9.13037C7.20791 8.42139 6.94424 8.06689 6.41689 8.06689C6.04189 8.06689 5.7709 8.19434 5.60391 8.44922C5.43691 8.7041 5.35342 9.11719 5.35342 9.68848V12H4.01309V5.16211H5.35342V6.55518C5.35342 6.66357 5.34316 6.91846 5.32266 7.31982L5.29189 7.71533H5.36221C5.66104 7.23486 6.13564 6.99463 6.78604 6.99463C7.36318 6.99463 7.80117 7.1499 8.1 7.46045C8.39883 7.771 8.54824 8.21631 8.54824 8.79639V12ZM14.0133 12H12.6729V9.13037C12.6729 8.42139 12.4093 8.06689 11.8819 8.06689C11.5069 8.06689 11.2359 8.19434 11.0689 8.44922C10.902 8.7041 10.8185 9.11719 10.8185 9.68848V12H9.47813V5.16211H10.8185V6.55518C10.8185 6.66357 10.8082 6.91846 10.7877 7.31982L10.7569 7.71533H10.8272C11.1261 7.23486 11.6007 6.99463 12.2511 6.99463C12.8282 6.99463 13.2662 7.1499 13.565 7.46045C13.8639 7.771 14.0133 8.21631 14.0133 8.79639V12Z" fill="white"/>
  </svg>');

  @result: url('data:image/svg+xml,@{svg-content}');
  background-image: @result;
  width: 18px;
  height: 18px;
  display: inline-block;
}
