.close {
    opacity: 0.4;
    
    &:hover,
    &:focus {
        opacity: 0.7;
    }
}

.edit-modal{
    
    .modal-dialog{
        width: 480px;
    }    

    textarea.form-control{
        height: 70px;
    }

    .modal-header,
    .modal-body,
    .modal-footer{
        border: none;
        padding: 0 36px;
    }

    .modal-header{
        padding-bottom: 15px;
    }

    .modal-content{
        padding: 30px 0 40px;
    }
    
    .modal-title{
        font-size: 20px;
        font-weight: 600;
    }

    .input-group-btn .btn{
    	color: #337ab7;
    }

}

.modal-dialog-gl {
    width: 530px;

    .modal-header {
        border-bottom: 0;
        padding: 30px 40px 0 40px;
        
        .close {
            position: relative;
            top: -10px;
            right: -20px;
        }
    }
    
    .modal-title {
        font-weight: 600;
    }

    .modal-body {
        padding: 20px 40px 40px 40px;
    }
}


	.modal-dialog-centered {
		display: flex;
		align-items: center;
		min-height: calc(100% - 1rem);
	
		// Ensure `modal-dialog-centered` extends the full height of the view (IE10/11)
		&::before {
			display: block; // IE10
			height: calc(100vh - 3.5rem);
			content: "";
		}
		
		&.modal-dialog {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	@media (max-width: 767px) {
		.modal-dialog {
			width: 100%;
			margin: 0;
			&.modal-dialog-centered {
				display: block;
				min-height: inherit;
				&:before {
					content: none;
				}
			}
			.modal-content {
				width: 100%;
			}
		}
	}

@media (min-width: 768px) {
    .modal-content.style_border_radius {
        border-radius: 10px;
    }
}

/*@media (max-width: 767px) {
    .modal-dialog-gl {
        margin: 30px auto;
    }
}*/

@media (max-width: 767px) {
    .modal-dialog-gl {
        width: auto !important;
        margin: 0;
        
        .modal-header {
            padding: 20px 15px 0 15px;
            
            .close {
                right: 0px;
            }
        }
        
        .modal-content {
            border-width: 0px;
            .border-radius(0px);
        }
        
        .modal-body {
            padding: 20px 15px 40px 15px;
        }
    }
}

.modal-wide {
	.modal-body {
		padding: 15px 30px 30px;
	}
	
	.modal-header {
		padding: 20px 30px 15px;
		border-bottom: 0;
		
		.close {
			margin-top: -5px;
			margin-right: -15px;
		}
		
		.modal-title {
			font-size: 20px;
			font-weight: 600;
		}		
	}
}