.popover {
	.box-shadow(0 4px 4px rgba(0,0,0,.25));
	border: none;
	width: 345px;
	max-width: 345px;
	height: 300px;
	&.bottom {
		margin-top: 0;
	}
	.arrow {
		display: none;
	}
	&-content {
		padding: 15px 8px 20px 20px;
	}
	.scrollbar-inner > .scroll-element.scroll-y {
		width: 6px;
	}
	.scrollbar-inner > .scroll-element .scroll-bar {
		background-color: #bbb;
	}
	.scrollbar-inner > .scroll-element .scroll-element_track {
		background-color: #e5e5e5;
	}
}