.radio-nice {
  position: relative;
}

.radio-nice-inline {
	display: inline-block;
}

.radio-nice label {
  display: inline-block;
  cursor: pointer;
}

.radio-nice span {  
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #000;
  padding-left: 26px;
}

.radio-nice span:before{
  position: absolute;
  top: 8px;
  left: 0;
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  content: "";
}

.radio-nice input:checked + span:after{
  display: block;
}

.radio-nice span:after{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000000;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 12px;
  left: 4px;
  display: none;
  content: "";
}

.radio-nice input{
  display: none;
}
