.search-status-bar {
    margin-top: 25px;
    margin-bottom: 25px;
    .search-status-bar__main {
        display: flex;

        input {
            width: 50%;
            margin-right: 30px;
        }
    }
	&__btns {
		text-align: right;
		.btn {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@media (max-width: 991px) {
	.search-status-bar {
		&__btns {
			margin-top: 10px;
			text-align: left;
		}	
	}
}