.search-global {
	margin: 0;
	flex-grow: 1;
	position: relative;
	display: flex;

	&--empty {
		.search-global__search-clear-button {
			display: none;
		}
	}

	input {
		flex-grow: 1;
	}
	
	&__search-clear-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		padding: 0;
		position: absolute;
		top: 7px;
		right: 10px;

		background: none;
		border: none;
		border-radius: 50%;
		color: #999FAD;
		font-size: 16px;
		outline: none !important;

		&:active {
			box-shadow: none;
			background: #F1F1F1;
		}
	}		
}