.social-picker {
  background-color: red;

  &__header {
    margin-bottom: 13px;

    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }

  &__social-type-logo {
    width: 34px;
    height: 34px;
    border-radius: 4px;
  }

  &__view {
    display: flex;
    align-items: center;

    &--empty {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__view--empty &__view-actions {
    margin-top: 13px;
    margin-left: 0;
  }

  &__view--empty &__view-add-button {
    margin-left: 0;
  }

  &__view-placeholder {
    font-size: 12px;
    line-height: 120%;
    color: #555555;
  }

  &__view-list {
    display: flex;
  }

  &__view-list-item {
    &:not(:first-child) {
      margin-left: 7px;
    }
  }

  &__view-actions {
    display: flex;
    margin-left: 26px;
  }

  &__view-action {
    flex-grow: 1;
  }

  &__view-add-button {
    margin-left: 10px;
  }

  &__adding-form {
    display: flex;
    align-items: flex-start;
  }

  &__control {
    width: 100%;
    max-width: 466px;
    display: flex;
    align-items: flex-start;
  }

  &__control-status {
    width: 34px;
    height: 34px;
    flex-shrink: 0;

    border-radius: 4px;
    border: 1px solid #CDCDCD;
  }

  &__control-error-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__control-error-indicator-icon {
    font-size: 16px;
    color: #FF0000;
  }

  &__control-form-group {
    margin-left: 13px;
    margin-bottom: 0;

    flex-grow: 1;

    .help-block {
      margin-bottom: 0;
    }
  }

  &__adding-form-actions {
    display: flex;
    margin-left: 30px;
  }

  &__adding-form-action {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__editing-form {
    max-width: 530px;
  }

  &__editing-form-list-item {
    display: flex;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  &__editing-form-list-item-remove-button {
    margin-left: 30px;
    flex-shrink: 0;
  }

  &__editing-form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  &__editing-form-action {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

@media (max-width: 767px) {
  .social-picker {
    &__view {
      align-items: start;
      flex-direction: column;
    }

    &__view-actions {
      width: 100%;
      margin-top: 13px;
      margin-left: 0;
    }

    &__view-action {
      width: 100%;
      flex-grow: 1;
    }

    &__view--empty &__view-actions {
      width: 100%;
    }

    &__adding-form {
      flex-direction: column;
    }

    &__adding-form-control {
      max-width: unset;
    }

    &__adding-form-actions {
      width: 100%;
      margin-top: 16px;
      margin-left: 0;
    }

    &__adding-form-action {
      width: 100%;
      flex-grow: 1;
    }

    &__editing-form {
      flex-direction: column;
    }

    &__editing-form-action {
      width: 100%;
      flex-grow: 1;
    }

    &__editing-form {
      max-width: unset;
      width: 100%;
    }

    &__editing-form-list-item-control {
      max-width: unset;
    }

    &__editing-form-list-item-remove-button {
      margin-left: 14px;
    }

    &__editing-form-actions {
      margin-top: 18px;
    }
  }
}
