.form-group {
    display: flex;

    input {
        width: 36%;
        margin-right: 30px;
    }

    .isActive {
        border-radius: 4px 0 0 4px;
        padding: 7px 17px;
    }

    .isActive:last-child {
        border-radius: 0 4px 4px 0;
        border-left: none;
    }
}