.block-tooltip {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: none;
    z-index: 1070;
     
    img {
        max-width: 400px;
        max-height: 400px;
    }
    
    .btn-close-tooltip {
        position: absolute;
        top: 0;
        right: 0;
         -webkit-border-radius: 0;
        border-radius: 0;
        border: 0;
        opacity: 0.8;
        
        &:hover {
            opacity: 1;
        }
    }
    
    &.block-tooltip-fix {
        position: fixed;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .modal-backdrop-tooltip {
        &.in {
            opacity: 0.01;
        }
    }
    .block-tooltip {
        &.block-tooltip-fix {
            top: 50%;
            left: 50%;
        }
    }
}

@media (max-width: 767px) {
    .block-tooltip {
        &.block-tooltip-fix {
            top: 0;
            left: 50%;
        }        
    }
}

@media (max-width: 400px) {
    .block-tooltip {
        width: 100%;
        
        img {
            width: 100%;
            max-width: 100%;
        }
    }    
}