.menu-lk {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin: 35px 0 0;
    
    > li {
        margin-right: 30px;
        float: left;
        
        > a {
            
            &:before {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                
                color: #333333;
                margin-right: 20px;
            }
        }
        
        &.item-menu-manper {
            > a:before {
                content: "\f15b";
            }
        }        
        
        &.item-menu-doc {
            > a:before {
                content: "\f07c";
            }
        }
        
        &.item-menu-chat {
            > a:before {
                content: "\f086";
            }
        }
        
        &.item-menu-discus {
            > a:before {
                content: "\f0f4";
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-lk {
        margin-left: -15px;
        margin-right: -15px;
        border-top-width: 0;
        border-bottom-width: 0;

        > li {
            width: 50%;
            margin-right: 0;
            
            > a {
                border-top: 1px solid #dddddd;
                margin-left: 15px;
                margin-right: 15px;
            }
            
            &:nth-last-child(1),
            &:nth-last-child(2) {
                > a {
                    border-bottom: 1px solid #dddddd;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .menu-lk { 
        border-top: 0px;
        margin: 15px -15px;

        > li {
            width: 100%;
            margin-right: 0;
            border-top: 1px solid #dddddd;
        }
    }
}