@@include('./_account-operations-modal.html')

<script>
  $(function () {
    function AccountOperation(operationData) {
      operationData = operationData || {};

      this.type = ko.observable(operationData.type || 'fine').extend({
        required: {
          message: 'Обязательное поле'
        }
      });
      this.sum = ko.observable(operationData.sum || 0).extend({
        required: {
          message: 'Обязательное поле'
        },
        number: {
          message: 'Некорректный формат'
        }
      });
      this.comment = ko.observable(operationData.comment || '');
    }

    ko.components.register('account-operations-modal-dialog', {
      viewModel: {
        createViewModel: function (params, componentInfo) {
          const $element = $(componentInfo.element);
          $element.addClass([
            'modal-dialog',
            'modal-dialog-centered',
            'hrm-modal-dialog',
            'hrm-basic-modal-dialog',
            'hrm-modal-dialog--size_large'
          ]);

          const ViewModel = function (operations) {
            this.isSubmitted = ko.observable(false);

            this.formControlErrorStateMatcher = (formControl) => {
              return ko.pureComputed(() => {
                return this.isSubmitted() && !formControl.isValid();
              });
            };

            this.operations = ko.observableArray(operations.map(o => new AccountOperation(o)));

            this.addOperation = () => {
              this.operations.push(new AccountOperation());
            }

            this.removeOperation = (operation) => {
              this.operations.remove(operation);
            }

            /** Закрыть окно без изменений */
            this.cancel = function () {
              if ('cancel' in params) {
                params.cancel();
              }
            };

            /** Применить изменения */
            this.apply = function () {

            }

            this.submit = function () {
              if ('submit' in params) {
                this.apply();
                params.submit(true);
              }
            };
          }

          const employee = params.data.employee;
          return new ViewModel(employee.accountOperations);
        }
      },
      template: {
        element: 'account-operations-modal-dialog-template'
      }
    });
  })
</script>
