.calculation-page {
  .calculation-modal--account-operations {
    .modal-dialog {
      width: 775px;
      max-width: 100%;
    }

    .account-operations-form {
      &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__total {
        color: @secondary-theme-color;
        font-size: 18px;
      }
    }
    .account-operation {
      display: flex;
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 25px;
      }

      &__type,
      &__sum,
      &__comment {
        margin-right: 30px;
      }

      &__type {
        width: 175px;
      }

      &__sum {
        display: flex;

        &-value {
          width: 100px;
        }

        &-sign {
          margin-left: 10px;
        }
      }

      &__comment {
        width: 310px;
        flex-shrink: 1;
        flex-grow: 1;
      }

      input {
        .input-number-appearance();
      }
    }
  }
}

@media screen and (max-width: @mobile-max-width) {
  .calculation-page {
    .calculation-modal--account-operations {
      .account-operation {
        display: block;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid @border-color;

        &__type,
        &__sum,
        &__comment {
          margin-right: 0px;
          margin-bottom: 30px;
        }

        &__type {
          width: 100%;
          .hrm-radio-group {
            width: 100%;
          }
        }

        &__comment {

        }

        &__sum {
          &-value {
            width: 140px;
          }

        }

        &__remove {
          text-align: right;
        }
      }
    }
  }
}
