@import '../../base/_variables.less';

.hrm-section {
    .hrm-section__header {
        margin-bottom: 22px;
    }

    &--sub-section {
        .hrm-section__header {
            margin-bottom: 16px;
        }
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .hrm-section__title {
            margin-right: 8px;
            margin-bottom: 4px;
        }

        .hrm-section__postscript {
            margin-bottom: 4px;
        }
    }

    &__title {
        display: block;

        font-weight: 500;
        font-size: 18px;

        .hrm-section--sub-section & {
            font-size: 15px;
        }
    }

    &__postscript {
        display: block;

        font-style: italic;
        font-weight: normal;
        font-size: 10px;
        color: #8E9CBB;
    }
}

@media (max-width: @mobile-max-width) {
    .hrm-section {
        &__title {
            font-size: 15px;
        }

        &__title {
            .hrm-section--sub-section & {
                font-size: 12px;
            }
        }
    }
}
