<template id="calculation-page-input-form-template">
  <div class="calculation-input-form">
    <div class="calculation-input-form__header">

      <!-- Filial select -->
      <!-- ko let: {control: ko.observable(null), label: ko.observable(null)} -->
      <div class="calculation-input-form__field calculation-input-form__filial"
           data-bind="hrmFormField, hrmFormFieldControlRef: control, hrmFormFieldLabelRef: label">
        <label data-bind="hrmFormFieldLabel: label">
          Филиал
        </label>

        <div data-bind="hrmFormFieldBasis, hrmFormFieldBasisControl: control">
          <select data-bind="value: filial,
                    options: filialsList,
                    optionsText: 'name',
                    optionsValue: 'id',
                    hrmSelect,
                    hrmFormFieldSelectControl: control,
                    hrmSelectSearchEnabled: true,
                    hrmFormFieldSelectControlErrorStateMatcher: formControlErrorStateMatcher">
          </select>
        </div>

        <div data-bind="component: {name: 'hrm-form-field-error'},
                      hrmSlide,
                      hrmSlideValue: control() !== null ? control().errorState : false,
                      hrmSlideDuration: 150">
          <!-- ko text: $parent.filial.error() -->
          <!-- /ko -->
        </div>
      </div>
      <!-- /ko -->
      <!-- /Filial select -->

      <!-- Date select -->
      <!-- ko let: {control: ko.observable(null), label: ko.observable(null)} -->
      <div class="calculation-input-form__field calculation-input-form__date"
           data-bind="hrmFormField, hrmFormFieldControlRef: control, hrmFormFieldLabelRef: label">
        <label data-bind="hrmFormFieldLabel: label">Расчёт на дату</label>

        <div data-bind="hrmFormFieldBasis, hrmFormFieldBasisControl: control">
          <input data-bind="textInput: date,
                        hrmDatepicker,
                        hrmDatepickerConfig: {
                          format: 'DD.MM.YYYY',
                        },
                        hrmFormFieldDatepickerControl: control,
                        hrmFormFieldDatepickerControlErrorStateMatcher: formControlErrorStateMatcher" />

          <i class="hrm-form-field__suffix hrm-form-field-icon hrm-form-field-calendar-icon"></i>
        </div>

        <div data-bind="component: {name: 'hrm-form-field-error'},
                      hrmSlide,
                      hrmSlideValue: control() !== null ? control().errorState : false,
                      hrmSlideDuration: 150">
          <!-- ko text: $parent.date.error() -->
          <!-- /ko -->
        </div>
      </div>
      <!-- /ko -->
      <!-- /Date select -->

      <!-- Shift block -->
      <!-- ko let: {control: ko.observable(null), label: ko.observable(null)} -->
      <div class="calculation-input-form__field calculation-input-form__shift"
           data-bind="hrmFormField, hrmFormFieldControlRef: control, hrmFormFieldLabelRef: label">
        <label class=""
               data-bind="hrmFormFieldLabel: label">
          Смена
        </label>

        <div data-bind="hrmFormFieldBasis, hrmFormFieldBasisControl: control">
          <select data-bind="value: shift,
                options: shiftsList,
                optionsText: 'name',
                optionsValue: 'id',
                hrmSelect,
                hrmFormFieldSelectControl: control,
                hrmFormFieldSelectControlErrorStateMatcher: formControlErrorStateMatcher">
          </select>
        </div>

        <div data-bind="component: {name: 'hrm-form-field-error'},
                hrmSlide,
                hrmSlideValue: control() !== null ? control().errorState : false,
                hrmSlideDuration: 150">
          <!-- ko text: $parent.shift.error() -->
          <!-- /ko -->
        </div>
      </div>
      <!-- /ko -->
      <!-- /Shift select -->

      <!-- Interval select -->
      <!-- ko let: {control: ko.observable(null)} -->
      <div class="calculation-input-form__field calculation-input-form__interval"
           data-bind="hrmFormField, hrmFormFieldControlRef: control">

        <div class="calculation-input-form__interval-controls"
             data-bind="hrmFormFieldComplexControl: control">

          <!-- ko let: {control: ko.observable(null)} -->
          <div class="calculation-input-form__interval-control"
               data-bind="hrmFormFieldBasis, hrmFormFieldBasisControl: control">
            <input data-bind="value: interval.start,
                            hrmTimeAutocompleter,
                            hrmMask,
                            hrmMaskPattern: 'datetime',
                            hrmMaskOptions: {
                                inputFormat: 'HH:MM',
                                placeholder: ' '
                            },
                            hrmFormFieldInputControl: control,
                            hrmFormFieldInputControlErrorStateMatcher: formControlErrorStateMatcher"
                   placeholder="00:00">
          </div>

          <!-- /ko -->

          <span class="calculation-input-form__interval-separator">-</span>

          <!-- ko let: {control: ko.observable(null)} -->
          <div class="calculation-input-form__interval-control"
               data-bind="hrmFormFieldBasis, hrmFormFieldBasisControl: control">
            <input data-bind="value: interval.end,
                            hrmTimeAutocompleter,
                            hrmMask,
                            hrmMaskPattern: 'datetime',
                            hrmMaskOptions: {
                                inputFormat: 'HH:MM',
                                placeholder: ' '
                            },
                            hrmFormFieldInputControl: control,
                            hrmFormFieldInputControlErrorStateMatcher: formControlErrorStateMatcher"
                   placeholder="00:00">
          </div>
          <!-- /ko -->

        </div><!-- .calculation-input__interval-controls -->

        <div data-bind="component: {name: 'hrm-form-field-error'},
                      hrmSlide,
                      hrmSlideValue: !interval.isCorrect(),
                      hrmSlideDuration: 150">
          <!-- ko text: 'Некорректно задан интервал' -->
          <!-- /ko -->
        </div>
      </div>
      <!-- /ko -->
      <!-- /Interval select -->
      <!-- /Shift block -->


      <div class="calculation-input-form__field calculation-input-form__actions">
        <button class="hrm-button hrm-button--size_large hrm-basic-button hrm-accent-button calculation-input-form__action"
                data-bind="click: $root.buildCalculation, enable: isValid() && !$root.loading()">
          Рассчитать
        </button>

        <button class="hrm-button hrm-button--size_large hrm-basic-button calculation-input-form__action"
            data-bind="enable: !$root.loading()">
          На сейчас
        </button>
      </div>


    </div><!-- .calculaton-form__header -->
  </div>

</template>
