.loader {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  color: #ff238d;

  &__indicator {

  }
}

.loader-block {
  width: 100%;
  height: 240px;
  border: 1px solid #DFE4EF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__indicator {
    font-size: 40px;
    color: #ff238d;
  }

  &__text {
    margin-top: 20px;
    color: #8E9CBB;
    font-size: 15px;
  }
}
