@import '../../base/_variables.less';

.hrm-tab-group {
    position: relative;

    &:after {
        content: '';
        width: 100%;
        height: 12px;
        position: absolute;
        bottom: 4px;
        left: 0;

        background: linear-gradient(180deg, #8E9CBB 0%, #FFFFFF 100%);
        opacity: 0.2;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }

    .hrm-tab-group__item,
    .hrm-tab-group__more-button {
        &:not(:first-child) {
            margin-left: 30px;
        }
    }

    &__content {
        display: flex;
        padding-bottom: 18px;
    }

    &__item {
        position: relative;

        font-weight: 500;
        font-size: 13px;
        color: #0066FF;
        cursor: pointer;
        white-space: nowrap;

        transition: color 200ms ease-in-out;

        &:after {
            content: '';

            width: 100%;
            height: 4px;
            position: absolute;
            bottom: -18px;
            left: 0;

            background-color: #FF238D;
            cursor: default;
            opacity: 0;

            transition: opacity 200ms ease-in-out;
        }

        &--active {
            color: #333333;

            &:after {
                opacity: 1;
            }
        }

        &--disabled {
            opacity: 0.4;
            cursor: default;
        }
    }

    &__more-button {
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: #0066FF;
    }
}

@media (max-width: @tablet-max-width) {
    .hrm-tab-group {
        &:before {
            content: '';

            position: absolute;
            width: 40px;
            top: 0;
            height: 20px;
            right: 0;
            z-index: 2;

            background: linear-gradient(270deg, #FFF 18.23%, rgba(255, 255, 255, 0) 100%);
        }

        &__content-wrapper {
            overflow-x: auto;
        }
    }
}
