.calculation-page {
  .calculation-modal--add-employees {
    .employees-form {
      &__calculating {
        padding: 20px;
        width: 100%;
        text-align: center;
        &-indicator {
          font-size: 40px;
          color: @negative-theme-color;
        }
      }
      &__tabs {
        margin-bottom: 30px;
        margin-left: -30px;
        margin-right: -30px;

        .hrm-tab-group {
          padding-left: 30px;
        }
      }
      &__tab {

      }
      &__row {
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;

        .hrm-switch-group {
          white-space: nowrap;
          margin-top: 0;
          margin-right: 20px;
        }
      }
      &__employees-scrollable-list {
        max-height: 350px;
      }
      &__position {
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
      &__position-name {
        font-size: 13px;
        font-weight: 500;
        color: @secondary-theme-color;
        margin-bottom: 20px;
      }
      &__checkbox-group {
        margin-bottom: 20px;
        width: 100%;
        .hrm-checkbox-group {
          display: block;
        }
      }
      &__checkbox {
        margin-bottom: 20px;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: @mobile-max-width) {
  .calculation-page {
    .calculation-modal--add-employees {
      .employee-form {
        &__row {
          display: block;
        }
        &__level {
          margin-top: 20px;
          margin-left: 0;
          width: 100%;
          width: 140px;
        }
      }
    }
  }
}
