@@include('./_employee-fine-modal.html')

<script>
  $(function () {
    ko.components.register('employee-fine-modal-dialog', {
      viewModel: {
        createViewModel: function (params, componentInfo) {
          const $element = $(componentInfo.element);
          $element.addClass([
            'modal-dialog',
            'modal-dialog-centered',
            'hrm-modal-dialog',
            'hrm-basic-modal-dialog',
            'hrm-modal-dialog--size_large'
          ]);

          const ViewModel = function () {
            /** Закрыть окно без изменений */
            this.cancel = function () {
              if ('cancel' in params) {
                params.cancel();
              }
            };

            /** Применить изменения */
            this.apply = function () {

            }

            this.submit = function () {
              if ('submit' in params) {
                this.apply();
                params.submit(true);
              }
            };
          }

          return new ViewModel();
        }
      },
      template: {
        element: 'employee-fine-modal-dialog-template'
      }
    });
  })
</script>
