.calculation-page {
  .calculation-modal--columns {
    .columns-settings {
      &__search {
        margin-bottom: 30px;
      }

      &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 378px;
      }

      &__list-item {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: @mobile-max-width) {
  .calculation-page {
    .calculation-modal--columns {
      .columns-settings {

        &__list {
          display: block;
          height: auto;
        }
      }
    }
  }

}
