@import '../../../../base/_variables.less';

.position-page {
    &__rank-modal-dialog {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        padding: 40px 30px;
        position: relative;

        background: #FFFFFF;
        box-shadow: 0 5px 20px rgba(115, 128, 141, 0.4);

        .position-page__rank-modal-dialog-close-button {
            position: absolute;
            top: 14px;
            right: 14px;
        }

        .position-page__rank-modal-dialog-header {
            margin-bottom: 30px;
        }

        .position-page__rank-modal-dialog-add-condition-button {
            margin-top: -10px;
        }

        .position-page__rank-modal-dialog-change-rank-recommendations-section {
            margin-top: 40px;
        }

        .position-page__rank-modal-dialog-bonus-and-fine-sum-section {
            margin-top: 4px;
        }

        .position-page__rank-modal-dialog-action-list {
            margin-top: 10px;
        }

        &--initializing {
            visibility: hidden;
        }
    }

    &__rank-modal-dialog-close-button {
        @background-svg: '
            <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.06826 10C4.5181 10 4.0721 9.5512 4.0721 8.99759L4.07112 1.00241C4.07112 0.448795 4.51711 0 5.06728 0C5.61744 0 6.06344 0.448796 6.06344 1.00241L6.06442 8.99759C6.06442 9.5512 5.61843 10 5.06826 10Z" fill="#8E9CBB"/>
                <path d="M10.0713 5.00858C10.0713 4.45496 9.62529 4.00617 9.07513 4.00617L1.06745 4.00618C0.517284 4.00618 0.0712891 4.45497 0.0712891 5.00859C0.0712891 5.56221 0.517284 6.011 1.06745 6.011L9.07513 6.01099C9.62529 6.01099 10.0713 5.5622 10.0713 5.00858Z" fill="#8E9CBB"/>
            </svg>
        ';

        width: 11px;
        height: 10px;

        @escaped-background-svg: escape(@background-svg);
        background-image: url('data:image/svg+xml,@{escaped-background-svg}');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transform: rotate(45deg);
    }

    &__rank-modal-dialog-header {
        display: flex;
        justify-content: space-between;
    }

    &__rank-modal-dialog-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 108%;
    }

    &__rank-modal-dialog-row {
        .position-page__rank-modal-dialog-row-item {
            margin-bottom: 30px;
        }
    }

    &__rank-modal-dialog-condition-row {
        .position-page__rank-modal-dialog-condition-row-remove-button {
            margin-top: 22px;
        }
    }

    &__rank-modal-dialog-action-list {
        display: flex;

        .position-page__rank-modal-dialog-action-list-item {
            flex-shrink: 0;

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    &__rank-modal-dialog-cancel-button {
        width: 120px;
    }

    &__rank-modal-dialog-save-button {
        width: 125px;
    }

    &__rank-modal-dialog-condition-production-form-control {
        text-align: center;
    }

    &__rank-modal-dialog-change-rank-recommendations-section-header-text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: @mobile-max-width) {
    .position-page {
        &__rank-modal-dialog {
            padding: 32px 20px 72px;

            .position-page__rank-modal-dialog-condition-row-remove-button {
                display: flex;
                margin-top: -10px;
                margin-left: auto;
            }

            .position-page__rank-modal-dialog-add-condition-button {
                margin-top: 0;
            }

            .position-page__rank-modal-dialog-change-rank-recommendations-section {
                margin-right: -20px;
                margin-left: -20px;
            }

            .position-page__rank-modal-dialog-action-list {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: 2;
            }
        }

        &__rank-modal-dialog-header {
            align-items: flex-start;
            flex-direction: column;

            .position-page__rank-modal-dialog-delete-button {
                margin-top: 14px;
            }
        }

        &__rank-modal-dialog-title {
            font-size: 18px;
        }

        &__rank-modal-dialog-documents-required-switch-group {
            margin-top: 0;
            align-items: flex-start;

            .hrm-switch-group__label {
                align-items: flex-start;
            }
        }

        &__rank-modal-dialog-condition {
            &:not(:nth-child(1)) {
                border-bottom-width: 1px;
                margin-bottom: 20px;
                padding-bottom: 20px;

                border-bottom-style: solid;
                border-bottom-color: #DFE4EF;
            }
        }

        &__rank-modal-dialog-condition-row-remove-button-item {
            margin-bottom: 0 !important;
        }

        &__rank-modal-dialog-action-list {
            background-color: #FFF;
            box-shadow: 0 0 15px rgba(8, 20, 45, 0.3);

            .position-page__rank-modal-dialog-action-list-item {
                flex: 1;
                margin: 0 !important;
            }
        }

        &__rank-modal-dialog-change-rank-recommendations-section {
            border-top-width: 1px;
            border-bottom-width: 1px;
            padding-top: 14px;
            padding-right: 20px;
            padding-left: 20px;

            border-top-style: solid;
            border-bottom-style: solid;
            border-top-color: #DFE4EF;
            border-bottom-color: #DFE4EF;

            .hrm-section__header {
                align-items: flex-start;
                flex-wrap: nowrap;
                margin-bottom: 15px;
            }

            .position-page__rank-modal-dialog-change-rank-recommendations-section-toggle-button {
                margin-right: 10px;
                flex-shrink: 0;
            }
        }

        &__rank-modal-dialog-bonus-and-fine-sum-section {
            .position-page__rank-modal-dialog-row {
                &:last-child {
                    .position-page__rank-modal-dialog-row-item {
                        &:last-child {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

        &__rank-modal-dialog-cancel-button,
        &__rank-modal-dialog-save-button {
            border-radius: 0;
            border: none;
        }
    }
}
