<div class="calculation-summary">

  <!-- ko if: $root.viewportSize().width > HRM_BREAKPOINTS.mobileMaxWidth -->
  <div data-bind="component: {
    name: 'hrm-scrollable-wrapper',
    params: { options: {left: {disabled: true}} }
   }">
    <table class="calculation-summary__table"
           data-bind="hrmTable">
      <thead>

        <tr>
          <!-- ko foreach: [
            ['job', 'Должность', 'Должность'],
            ['workload-type', 'Тип нагрузки', 'Тип нагрузки'],
            ['workload', 'Нагрузка', 'Нагрузка', 2],
            ['additional-workload', 'Доп. нагрузка', 'Дополнительная нагрузка'],
            ['count', 'Сотр.', 'Сотрудники'],
            ['fot-category', 'ФОТ, % в категории', 'ФОТ, % в категории'],
            ['fot-revenue', 'ФОТ, % от выручки', 'ФОТ, % от выручки'],
            ['performance-standart', 'Норм. выработки, %', 'Норма выработки, %'],
            ['lateness', 'Опоздания', 'Опоздания'],
        ] -->
          <th class="calculation-summary__cell"
              data-bind="class: 'calculation-summary__' + $data[0], attr: {colspan: $data[3] || 1}">
            <div class="hrm-table__head-cell-content">
              <span data-bind="text: $data[1]"></span>
              <button class="hrm-button hrm-circle-icon-button hrm-circle-info-icon-button hrm-circle-icon-button--theme_neutral calculation-summary__info hrm-table__head-cell-info-button"
                      data-bind="hrmTooltip, hrmTooltipText: $data[2]"></button>
            </div>
          </th>
          <!-- /ko -->
        </tr>
      </thead>

      <tbody>
        <!-- ko foreach: $root.summaryModel.positions -->
        <!-- ko  let: { isTotal: false } -->
        @@include('./_job-summary.html')
        <!-- /ko -->
        <!-- /ko -->


        <!-- ko using: $root.summaryModel.total() -->
        <!-- ko  let: { isTotal: true } -->
        @@include('./_job-summary.html')
        <!-- /ko -->
        <!-- /ko -->
      </tbody>
    </table>
  </div>
  <!-- /ko -->

  <!-- ko ifnot: $root.viewportSize().width > HRM_BREAKPOINTS.mobileMaxWidth -->
  <div class="hrm-table__fixed-section-container">

    <table class="hrm-table__fixed-section hrm-table__fixed-section--position_left"
           data-bind="hrmTable">
      <tbody>
        <!-- ko foreach: [
            ['job', 'Должность', 'Должность'],
            ['workload-type', 'Тип нагрузки', 'Тип нагрузки'],
            ['workload', 'Нагрузка', 'Нагрузка', 2],
            ['additional-workload', 'Доп. нагрузка', 'Дополнительная нагрузка'],
            ['count', 'Сотрудники', 'Сотрудники'],
            ['fot-category', 'ФОТ, % в категории', 'ФОТ, % в категории'],
            ['fot-revenue', 'ФОТ, % от выручки', 'ФОТ, % от выручки'],
            ['performance-standart', 'Норм. выр-ки, %', 'Норма выработки, %'],
            ['lateness', 'Опоздания', 'Опоздания'],
        ] -->
        <tr>
          <th class="calculation-summary__cell"
              data-bind="class: 'calculation-summary__' + $data[0]">
            <div class="hrm-table__head-cell-content"
                 data-bind="text: $data[1]"></div>
          </th>
        </tr>
        <!-- /ko -->
      </tbody>
    </table>


    <div data-bind="component: {
                   name: 'hrm-scrollable-wrapper',
                   params: { options: {left: {disabled: true}} }
                  }">
      <table class=" calculation-summary__table calculation-summary__table--mobile"
             data-bind="hrmTable">
        <tbody>
          <tr>
            <th class="calculation-summary__cell calculation-summary__job">
              <div class="hrm-table__head-cell-content">
                Должность
              </div>
            </th>

            <!-- ko foreach: summaryModel.positions -->
            <td class="calculation-summary__cell">
              <div class="hrm-table__cell-content"
                   data-bind="text: name"></div>
            </td>
            <!-- /ko -->

            <td class="calculation-summary__cell calculation-summary__total">
              <div class="hrm-table__cell-content">Итого</div>
            </td>
          </tr>

          <tr>
            <th class="calculation-summary__cell calculation-summary__workload-type">
              <div class="hrm-table__head-cell-content">
                Тип нагрузки
              </div>
            </th>

            <!-- ko foreach: summaryModel.positions -->
            <td class="calculation-summary__cell">
              <div class="hrm-table__cell-content"
                   data-bind="text: workloadType"></div>
            </td>
            <!-- /ko -->

            <td class="calculation-summary__cell  calculation-summary__total">
              <div class="hrm-table__cell-content"
                   data-bind="text: summaryModel.total().workloadType"></div>
            </td>
          </tr>

          <tr>
            <th class="calculation-summary__cell calculation-summary__workload">
              <div class="hrm-table__head-cell-content">
                Нагрузка
              </div>
            </th>

            <!-- ko foreach: summaryModel.positions -->
            <td class="calculation-summary__cell calculation-summary__workload-cell">
              <div class="calculation-summary__workload-row">

                <div class="calculation-summary__workload-value"
                      data-bind="text: workload"></div>
                <div class="calculation-summary__workload-unit"
                      data-bind="text: units"></div>

              </div>
            </td>
            <!-- /ko -->

            <td class="calculation-summary__cell  calculation-summary__total">
              <div class="hrm-table__cell-content"
                   data-bind="text: summaryModel.total().workload"></div>
            </td>
          </tr>

          <tr>
            <th class="calculation-summary__cell calculation-summary__additional-workload">
              <div class="hrm-table__head-cell-content">
                Доп. нагрузка
              </div>
            </th>

            <!-- ko foreach: summaryModel.positions -->
            <td class="calculation-summary__cell">
              <div class="hrm-table__cell-content"
                   data-bind="text: additionalWorkload"></div>
            </td>
            <!-- /ko -->

            <td class="calculation-summary__cell  calculation-summary__total">
              <div class="hrm-table__cell-content"
                   data-bind="text: summaryModel.total().additionalWorkload"></div>
            </td>
          </tr>

          <tr>
            <th class="calculation-summary__cell calculation-summary__count">
              <div class="hrm-table__head-cell-content">
                Сотрудники
              </div>
            </th>

            <!-- ko foreach: summaryModel.positions -->
            <td class="calculation-summary__cell">
              <div class="hrm-table__cell-content"
                   data-bind="text: employees.length"></div>
            </td>
            <!-- /ko -->

            <td class="calculation-summary__cell  calculation-summary__total">
              <div class="hrm-table__cell-content"
                   data-bind="text: summaryModel.total().employees.length"></div>
            </td>
          </tr>

          <tr>
            <th class="calculation-summary__cell calculation-summary__fot-category">
              <div class="hrm-table__head-cell-content">
                ФОТ, % в категории
              </div>
            </th>

            <!-- ko foreach: summaryModel.positions -->
            <td class="calculation-summary__cell">
              <div class="hrm-table__cell-content"
                   data-bind="text: fotCategory"></div>
            </td>
            <!-- /ko -->

            <td class="calculation-summary__cell  calculation-summary__total">
              <div class="hrm-table__cell-content"
                   data-bind="text: summaryModel.total().fotCategory"></div>
            </td>
          </tr>

          <tr>
            <th class="calculation-summary__cell calculation-summary__fot-revenue">
              <div class="hrm-table__head-cell-content">
                ФОТ, % от выручки
              </div>
            </th>

            <!-- ko foreach: summaryModel.positions -->
            <td class="calculation-summary__cell">
              <div class="hrm-table__cell-content"
                   data-bind="text: fotRevenue"></div>
            </td>
            <!-- /ko -->

            <td class="calculation-summary__cell  calculation-summary__total">
              <div class="hrm-table__cell-content"
                   data-bind="text: summaryModel.total().fotRevenue"></div>
            </td>
          </tr>

          <tr>
            <th class="calculation-summary__cell calculation-summary__performance-standart">
              <div class="hrm-table__head-cell-content">
                Норм. выр-ки, %
              </div>
            </th>

            <!-- ko foreach: summaryModel.positions -->
            <td class="calculation-summary__cell">
              <div class="hrm-table__cell-content"
                   data-bind="text: fotRevenue"></div>
            </td>
            <!-- /ko -->

            <td class="calculation-summary__cell  calculation-summary__total">
              <div class="hrm-table__cell-content"
                   data-bind="text: summaryModel.total().performanceStandart"></div>
            </td>
          </tr>

          <tr>
            <th class="calculation-summary__cell calculation-summary__lateness">
              <div class="hrm-table__head-cell-content">
                Опоздания
              </div>
            </th>

            <!-- ko foreach: summaryModel.positions -->
            <td class="calculation-summary__cell calculation-summary__lateness-row-cell">
              <div class="calculation-summary__lateness-row">
                <div class="calculation-summary__lateness-cell calculation-summary__lateness-cell--green"
                     data-bind="style: {
                  backgroundColor: lateness.green > 0 ? '#D0F4E3' : 'transparent'
                }">
                  <!-- ko text: lateness.green > 0 ? lateness.green : '' -->
                  <!-- /ko -->
                </div>
                <div class="calculation-summary__lateness-cell calculation-summary__lateness-cell--yellow"
                     data-bind="style: {
                  backgroundColor: lateness.yellow > 0 ? '#FDFFB3' : 'transparent'
                }">
                  <!-- ko text: lateness.yellow > 0 ? lateness.yellow : '' -->
                  <!-- /ko -->
                </div>
                <div class="calculation-summary__lateness-cell calculation-summary__lateness-cell--red"
                     data-bind="style: {
                  backgroundColor: lateness.red > 0 ? '#FFD3E8' : 'transparent'
                }">
                  <!-- ko text: lateness.red > 0 ? lateness.red : '' -->
                  <!-- /ko -->
                </div>
              </div>

            </td>
            <!-- /ko -->

            <td class="calculation-summary__cell  calculation-summary__lateness-row-cell  calculation-summary__total"
                data-bind="using: $root.summaryModel.total()">
              <div class="hrm-table__cell-content">
                <div class="calculation-summary__lateness-row">
                  <div class="calculation-summary__lateness-cell calculation-summary__lateness-cell--green"
                       data-bind="style: {
                    backgroundColor: lateness.green > 0 ? '#D0F4E3' : 'transparent'
                  }">
                    <!-- ko text: lateness.green > 0 ? lateness.green : '' -->
                    <!-- /ko -->
                  </div>
                  <div class="calculation-summary__lateness-cell calculation-summary__lateness-cell--yellow"
                       data-bind="style: {
                    backgroundColor: lateness.yellow > 0 ? '#FDFFB3' : 'transparent'
                  }">
                    <!-- ko text: lateness.yellow > 0 ? lateness.yellow : '' -->
                    <!-- /ko -->
                  </div>
                  <div class="calculation-summary__lateness-cell calculation-summary__lateness-cell--red"
                       data-bind="style: {
                    backgroundColor: lateness.red > 0 ? '#FFD3E8' : 'transparent'
                  }">
                    <!-- ko text: lateness.red > 0 ? lateness.red : '' -->
                    <!-- /ko -->
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /ko -->
</div>
