<tr data-bind="css: { 'calculation-summary__total': isTotal }">
  <td class="calculation-summary__cell">
    <div class="hrm-table__cell-content"
         data-bind="text: name"></div>
  </td>
  <td class="calculation-summary__cell">
    <div class="hrm-table__cell-content"
         data-bind="text: workloadType"></div>
  </td>

  <td class="calculation-summary__cell">
    <div class="hrm-table__cell-content"
         data-bind="text: workload"></div>
  </td>

  <td class="calculation-summary__cell">
    <div class="hrm-table__cell-content"
         data-bind="text: units"></div>
  </td>

  <td class="calculation-summary__cell">
    <div class="hrm-table__cell-content"
         data-bind="text: additionalWorkload"></div>
  </td>

  <td class="calculation-summary__cell">
    <div class="hrm-table__cell-content"
         data-bind="text: employees.length"></div>
  </td>

  <td class="calculation-summary__cell"
      data-bind="style: { backgroundColor: isTotal ? '#D0F4E3' : 'transparent'}">
    <div class="hrm-table__cell-content"
         data-bind="text: fotCategory"></div>
  </td>


  <td class="calculation-summary__cell"
      data-bind="style: { backgroundColor: isTotal ? '#D0F4E3' : 'transparent'}">
    <div class="hrm-table__cell-content"
         data-bind="text: fotRevenue"></div>
  </td>

  <td class="calculation-summary__cell"
      data-bind="style: { backgroundColor: isTotal ? '#D0F4E3' : 'transparent'}">
    <div class="hrm-table__cell-content"
         data-bind="text: performanceStandart"></div>
  </td>


  <td class="calculation-summary__cell calculation-summary__lateness-row-cell">
    <div class="calculation-summary__lateness-row">
      <div class="calculation-summary__lateness-cell calculation-summary__lateness-cell--green"
           data-bind="style: {
        backgroundColor: lateness.green > 0 ? '#D0F4E3' : 'transparent'
      }">
        <!-- ko text: lateness.green > 0 ? lateness.green : '' -->
        <!-- /ko -->
      </div>
      <div class="calculation-summary__lateness-cell calculation-summary__lateness-cell--yellow"
           data-bind="style: {
        backgroundColor: lateness.yellow > 0 ? '#FDFFB3' : 'transparent'
      }">
        <!-- ko text: lateness.yellow > 0 ? lateness.yellow : '' -->
        <!-- /ko -->
      </div>
      <div class="calculation-summary__lateness-cell calculation-summary__lateness-cell--red"
           data-bind="style: {
        backgroundColor: lateness.red > 0 ? '#FFD3E8' : 'transparent'
      }">
        <!-- ko text: lateness.red > 0 ? lateness.red : '' -->
        <!-- /ko -->
      </div>
      <div class="calculation-summary__lateness-cell calculation-summary__lateness-cell--red"
           data-bind="style: {
        backgroundColor: lateness.red > 0 ? '#FFD3E8' : 'transparent'
      }">
        <!-- ko text: lateness.green + lateness.yellow + lateness.red -->
        <!-- /ko -->
      </div>
    </div>
  </td>
</tr>
