<tr data-bind="css: { 'calculation-summary__total': isTotal }">
  <!-- Должность -->
  <td class="calculation-summary__cell">
    <div class=""
         data-bind="text: data.name"></div>
  </td>

  <!-- Тип нагрузки -->
  <td class="calculation-summary__cell">
    <div class=""
         data-bind="text: data.workloadType"></div>
  </td>

  <!-- Нагрузка -->
  <td class="calculation-summary__cell" align="right">
    <div class=""
         data-bind="text: data.workload"></div>
  </td>

  <!-- Юниты нагрузки -->
  <td class="calculation-summary__cell">
    <div class=""
         data-bind="text: data.units"></div>
  </td>

  <!-- Доп. нагрузка -->
  <td class="calculation-summary__cell">
    <div class=""
         data-bind="text: data.additionalWorkload"></div>
  </td>

  <!-- Сотрудники -->
  <td class="calculation-summary__cell" align="right">
    <div class=""
         data-bind="text: ko.isObservable(data.employees) ? data.employees().length : data.employees"></div>
  </td>

  <!-- ФОТ, % в категории -->
  <td class="calculation-summary__cell"
      data-bind="style: { backgroundColor: isTotal ? '#D0F4E3' : 'transparent'}"  align="right">
    <div class=""
         data-bind="text: data.fotCategory"></div>
  </td>

  <!-- ФОТ, % от выручки -->
  <td class="calculation-summary__cell"
      data-bind="style: { backgroundColor: isTotal ? '#D0F4E3' : 'transparent'}" align="right">
    <div class=""
         data-bind="text: data.fotRevenue"></div>
  </td>

  <!-- Норм. выработки -->
  <td class="calculation-summary__cell"
      data-bind="style: { backgroundColor: isTotal ? '#D0F4E3' : 'transparent'}" align="right">
    <div class=""
         data-bind="text: data.performanceStandart"></div>
  </td>

  <!-- Опоздания -->
  <td class="calculation-summary__cell calculation-summary__lateness-row-cell">
    <div class="calculation-summary__lateness-row">
      <div class="calculation-summary__lateness-cell">

      </div>
      <div class="calculation-summary__lateness-cell">

      </div>
      <div class="calculation-summary__lateness-cell">

      </div>
      <div class="calculation-summary__lateness-cell">

      </div>
    </div>
  </td>
</tr>
