<script type="text/html"
        id="confirm-modal-template">

  <div data-bind="component: {
      name: 'confirm-modal-dialog',
      params: {
        data, modalElement,
        cancel: function () { close(); },
        submit: function ($data) {close($data);}
      }}" role="document">
  </div>

</script>

<script type="text/html"
        id="positions-modal-template">

  <div data-bind="component: {
      name: 'positions-modal-dialog',
      params: {
        data, modalElement,
        cancel: function () { close(); },
        submit: function ($data) {close($data);}
      }}" role="document">
  </div>

</script>

<script type="text/html"
        id="columns-modal-template">

  <div data-bind="component: {
      name: 'columns-modal-dialog',
      params: {
        data, modalElement,
        cancel: function () { close(); },
        submit: function ($data) {close($data);}
      }}" role="document">
  </div>

</script>

<script type="text/html"
        id="stimulation-modal-template">

  <div data-bind="component: {
      name: 'stimulation-modal-dialog',
      params: {
        data, modalElement,
        cancel: function () { close(); },
        submit: function ($data) {close($data);}
      }}" role="document">
  </div>

</script>

<script type="text/html"
        id="create-employee-modal-template">

  <div data-bind="component: {
      name: 'create-employee-modal-dialog',
      params: {
        data, modalElement,
        cancel: function () { close(); },
        submit: function ($data) {close($data);}
      }}" role="document">
  </div>

</script>

<script type="text/html"
        id="add-employees-modal-template">

  <div data-bind="component: {
      name: 'add-employees-modal-dialog',
      params: {
        data, modalElement,
        cancel: function () { close(); },
        submit: function ($data) {close($data);}
      }}" role="document">
  </div>

</script>

<script type="text/html"
        id="account-operations-modal-template">

  <div data-bind="component: {
      name: 'account-operations-modal-dialog',
      params: {
        data, modalElement,
        cancel: function () { close(); },
        submit: function ($data) {close($data);}
      }}" role="document">
  </div>

</script>

<script type="text/html"
        id="employee-bonus-modal-template">

  <div data-bind="component: {
      name: 'employee-bonus-modal-dialog',
      params: {
        data, modalElement,
        cancel: function () { close(); },
        submit: function ($data) {close($data);}
      }}" role="document">
  </div>

</script>

<script type="text/html"
        id="employee-fine-modal-template">

  <div data-bind="component: {
      name: 'employee-fine-modal-dialog',
      params: {
        data, modalElement,
        cancel: function () { close(); },
        submit: function ($data) {close($data);}
      }}" role="document">
  </div>

</script>

<script type="text/html" id="driver-details-modal-template">
  <div class="calculation-modal__wrapper">
      <!-- ko if: $root.utils.viewportSize().width > HRM_BREAKPOINTS.mobileMaxWidth -->
          <div class="calculation-modal__wrapper-actions">
              <button class="hrm-button calculation-modal__wrapper-close"
                      data-bind="click: function () {close();}">
              </button>
          </div>
      <!-- /ko -->

      <div data-bind="component: { name: 'driver-details-modal-dialog', params: { data, modalElement, cancel: function () { close(); }, submit: function ($data) { close($data); } } }" role="document"></div>
  </div>
</script>

<script type="text/html" id="lateness-details-modal-template">
  <div class="calculation-modal__wrapper">
      <!-- ko if: $root.utils.viewportSize().width > HRM_BREAKPOINTS.mobileMaxWidth -->
          <div class="calculation-modal__wrapper-actions">
              <button class="hrm-button calculation-modal__wrapper-close"
                      data-bind="click: function () {close();}">
              </button>
          </div>
      <!-- /ko -->

      <div data-bind="component: { name: 'lateness-details-modal-dialog', params: { data, modalElement, cancel: function () { close(); }, submit: function ($data) { close($data); } } }" role="document"></div>
  </div>
</script>

<script type="text/html" id="routes-modal-template">
  <div class="calculation-modal__wrapper">
      <!-- ko if: $root.utils.viewportSize().width > HRM_BREAKPOINTS.mobileMaxWidth -->
          <div class="calculation-modal__wrapper-actions">
              <button class="hrm-button calculation-modal__wrapper-close"
                      data-bind="click: function () {close();}">
              </button>
          </div>
      <!-- /ko -->

      <div data-bind="component: { name: 'routes-modal-dialog', params: { data, modalElement, cancel: function () { close(); }, submit: function ($data) { close($data); } } }" role="document"></div>
  </div>
</script>


<!-- ko component: {name: 'hrm-modal-container', params: {opens: modalOpens}} --><!-- /ko -->
