<div class="calculation-tab calculation-production"
data-bind="class: 'calculation-' + tabName">
<div class="calculation-tab__settings">
        <script id="employees-dropdown-template"
        type="text/html">
          <div class="hrm-dropdown-menu__item">Добавить сотрудников</div>
         <div class="hrm-dropdown-menu__item">Новый сотрудник</div>
        </script>

<div>
<!-- ko if: viewportSize().width > HRM_BREAKPOINTS.mobileMaxWidth -->
<button class="hrm-button hrm-button-with-icon-right hrm-button-with-arrow-down-icon-right hrm-button-with-icon--theme_secondary"
data-bind="hrmDropdownMenu, hrmDropdownMenuTemplate: 'employees-dropdown-template'">Сотрудники</button>



<button class="hrm-button hrm-basic-button hrm-button--size_medium"
data-bind="click: $tab.openPositionsModal">Должности</button>

<button class="hrm-button hrm-basic-button hrm-button--size_medium">Штраф/премия смене</button>
<!-- /ko -->

<!-- ko ifnot: viewportSize().width > HRM_BREAKPOINTS.mobileMaxWidth -->
<button
class="hrm-button hrm-button-with-icon hrm-button-with-icon--hide_desktop hrm-button-with-person-icon hrm-button-with-icon--theme_secondary"></button>

<button
class="hrm-button hrm-button-with-icon hrm-button-with-icon--hide_desktop hrm-button-with-badge-icon hrm-button-with-icon--theme_secondary"></button>

<button
class="hrm-button hrm-button-with-icon hrm-button-with-icon--hide_desktop hrm-button-with-money-icon hrm-button-with-icon--theme_secondary"></button>
<!-- /ko -->
</div>
<div>
<button
class="hrm-button hrm-button-with-icon hrm-button-with-icon--hide_tablet hrm-button-with-icon--theme_secondary hrm-button-with-settings-icon templates__button-with-icon">
Настроить столбцы
</button>

<button
class="hrm-button hrm-button-with-icon hrm-button-with-icon--hide_tablet hrm-button-with-icon--theme_secondary hrm-button-with-less-icon templates__button-with-icon">
Меньше информации
</button>

<button
class="hrm-button hrm-button-with-icon hrm-button-with-icon--hide_tablet hrm-button-with-icon--theme_secondary hrm-button-with-more-icon templates__button-with-icon hrm-button-with-icon--hide_tablet">
Больше информации
</button>
</div>
</div>

<!-- ko foreach: $tab.positions -->
<div data-bind="text: $data.name"></div>
<div data-bind="text: $data.visible()"></div>
<!-- /ko -->
</div>
