.hrm-checkbox {
    display: inline-block;

    &__layout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        border-width: 1px;

        border-style: solid;
        border-color: #BFC9E0;
        border-radius: 3px;
        cursor: pointer;

        transition: background-color 0.2s ease-in-out;

        &:before {
            @background-svg: '
                <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.26577 6.71114C2.87525 6.32062 2.87525 5.68745 3.26577 5.29693L8.26977 0.292893C8.6603 -0.0976309 9.29346 -0.0976312 9.68399 0.292893C10.0745 0.683417 10.0745 1.31658 9.68399 1.70711L4.67999 6.71114C4.28946 7.10166 3.6563 7.10166 3.26577 6.71114Z" fill="white"/>
                    <path d="M4.67999 6.71114C5.07051 6.32062 5.07045 5.68745 4.67993 5.29693L1.70711 2.32413C1.31658 1.93361 0.683417 1.93361 0.292893 2.32413C-0.097631 2.71465 -0.0976311 3.34782 0.292893 3.73834L3.26577 6.71114C3.6563 7.10166 4.28946 7.10166 4.67999 6.71114Z" fill="white"/>
                </svg>
            ';

            content: '';

            width: 10px;
            height: 7px;
            margin-top: -0.5px;

            @escaped-background-svg: escape(@background-svg);
            background-image: url('data:image/svg+xml,@{escaped-background-svg}');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .hrm-checkbox--checked & {
            border: none;

            background-color: #0066FF;
        }
    }
}

.hrm-checkbox-group {
    display: inline-flex;
    align-items: center;

    .hrm-checkbox-group__label {
        margin-left: 12px;
    }

    &__label {
        font-size: 13px;
        cursor: pointer;
    }
}