@import '../../base/_variables.less';

@import "./less/_calculation-base.less";
@import "./less/_calculation-tabs.less";

@import "./components/input-form/_input-form.less";
@import "./components/positions-table/_positions-table.less";
@import "./components/delivery-table/_delivery-table.less";
@import "./components/lateness-table/_lateness-table.less";
@import "./components/summary-table/_summary-table.less";

@import "./components/routes-modal/_routes-modal.less";
@import "./components/details-modal/_details-modal.less";

@import "../../modals/columns-settings-modal/_columns-settings-modal.less";
@import "../../modals/positions-settings-modal/_positions-settings-modal.less";
@import "../../modals/create-employee-modal/_create-employee-modal.less";
@import "../../modals/add-employees-modal/_add-employees-modal.less";
@import "../../modals/stimulation-modal/_stimulation-modal.less";
@import "../../modals/account-operations-modal/_account-operations-modal.less";
@import "../../modals/employee-fine-modal/_employee-fine-modal.less";
@import "../../modals/employee-bonus-modal/_employee-bonus-modal.less";


.calculation-page {
  .calculation-page__positions-table {
    width: calc((100% - 30px) / 12 * 11);
    margin-top: 28px;
  }z

  .calculation-page__footer {
    flex-shrink: 0;
    height: 150px;
  }

  &__content {
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;

    background-color: #fff;
  }

  &__form {
    .calculation-page__form-employees-section {
      margin-top: 30px;
    }


  }

  &__positions-table {
    .calculation-page__positions-table-categories-count {
      margin-left: 6px;
    }

    .calculation-page__positions-table-name-head-cell {
      width: 25%;
    }

    .calculation-page__positions-table-workload-type-head-cell {
      width: 25%;
    }

    .calculation-page__positions-table-workload-cell {
      width: 84px;
      min-width: 84px;
    }

    .calculation-page__positions-table-employee-count-head-cell {
      width: 107px;
    }

    .calculation-page__positions-table-estimated-hours-head-cell {
      width: 107px;
    }
  }

  &__positions-table-categories-count {
    font-weight: bold;
    font-size: 13px;
    color: #0066ff;

    cursor: pointer;
  }

  &__positions-table-workload-cell {
    .hrm-table__editable-cell-control.hrm-table__editable-cell-control--type_input {
      text-align: end;
    }
  }

  &__positions-table-employee-count-cell {
    text-align: end;
  }

  &__positions-table-estimated-hours-cell {
    text-align: end;
  }

  &__form-employees-section {
    .calculation-page__form-employees-section-title {
      margin-top: 45px;
    }

    .calculation-page__employees-table-fixed-section-container {
      margin-top: 16px;
      width: calc((100% - 30px) / 12 * 11);
    }

    .calculation-page__employees-table-sticky-section-container {
      margin-top: 16px;
      width: calc((100% - 30px) / 12 * 11);
    }

    .calculation-page__form-employees-section-additional-actions-list {
      margin-top: calc(16px - 12px);
    }
  }

  &__add-employees-button {
    width: 215px;
  }

  &__recalculate-employees-button {
    width: 230px;
  }

  &__form-employees-section-title {
    display: block;

    font-weight: 500;
    font-size: 18px;
  }

  &__employees-table-fixed-section-container {
    .calculation-page__employees-table {
      width: 100%;
    }
  }

  &__employees-table {
    & > thead {
      visibility: hidden;
    }

    .calculation-page__employees-table-working-hours-head-cell {
      width: 88px;
    }

    .calculation-page__employees-table-rate-head-cell {
      width: 80px;
    }

    .calculation-page__employees-table-return-rate-head-cell {
      width: 95px;
    }

    .calculation-page__employees-table-salary-bulk-head-cell {
      width: 105px;
    }

    .calculation-page__employees-table-bonus-head-cell {
      width: 78px;
    }

    .calculation-page__employees-table-fine-head-cell {
      width: 78px;
    }

    .calculation-page__employees-table-salary-head-cell {
      width: 107px;
    }

    .calculation-page__employees-table-working-intervals-head-cell {
      min-width: 155px;
      width: 155px;
    }
  }

  &__employees-table-sticky-header {
    background-color: #fff;

    & > thead {
      visibility: visible;
    }
  }

  &__employees-table-position-row {
    & > td {
      height: 37px !important;
      border-top-width: 2px !important;

      background-color: #f5f7fa;
    }

    .calculation-page__employees-table-rate-cell {
      vertical-align: middle !important;
    }
  }

  &__employees-table-employee-row {
    &--multi-interval {
      & > td {
        padding-top: 14px !important;
        padding-bottom: 14px !important;

        .hrm-table__editable-cell-control {
          margin-top: -14px;
          margin-bottom: -14px;
          padding-top: 14px;
          padding-bottom: 14px;
        }
      }
    }
  }

  &__employees-table-position-name-cell {
    font-weight: bold;

    .calculation-page__employees-table-position-name-cell-add-button {
      flex-shrink: 0;
      margin-right: 10px;
    }
  }

  &__employees-table-position-name-cell-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__employees-table-statistics-cell {
    text-align: end;

    b {
      font-weight: bold;
    }
  }

  &__employees-table-employee-name-cell {
    .calculation-page__employees-table-employee-row--multi-interval & {
      vertical-align: top !important;
    }
  }

  &__employees-table-employee {
    display: flex;
    align-items: center;

    .calculation-page__employees-table-employee-remove-button {
      flex-shrink: 0;
      margin-right: 10px;
    }
  }

  &__employees-table-employee-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__employees-table-interval-cell {
    td& {
      height: 40px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      .hrm-table__editable-cell-content {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        height: 100% !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }

    .calculation-page__employees-table-interval-cell-actions {
      width: 38px;
      margin-left: 19px;
      flex-shrink: 0;
    }
  }

  &__employees-table-working-hours-cell,
  &__employees-table-return-rate-cell,
  &__employees-table-salary-bulk-cell,
  &__employees-table-salary-cell {
    text-align: end;

    .calculation-page__employees-table-employee-row--multi-interval & {
      vertical-align: top !important;
    }
  }

  &__employees-table-salary-cell {
    background-color: #e1edff;
  }

  &__employees-table-rate-cell,
  &__employees-table-rate-cell,
  &__employees-table-bonus-cell,
  &__employees-table-fine-cell {
    .hrm-table__editable-cell-control {
      text-align: end;
    }

    .calculation-page__employees-table-employee-row--multi-interval & {
      vertical-align: top !important;
    }
  }

  &__employees-table-interval-cell-actions {
    display: flex;
    align-items: center;
  }

  &__employees-table-fixed-section {
    background-color: #fff;
  }

  &__form-employees-section-additional-actions-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -12px;

    .calculation-page__form-employees-section-additional-actions-list-item {
      margin-top: 12px;
      margin-left: 10px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #f5f7fa;

    .calculation-page__footer-login-button {
      margin-top: 20px;
      width: 250px;
    }
  }

  &__footer-text {
    font-size: 15px;
    text-align: center;
  }
}



@media (max-width: @tablet-max-width) {
  .calculation-page {
    .calculation-page__date-form-field {
      width: 216px;
    }

    .calculation-page__positions-table {
      max-width: unset;
      width: 100%;
    }

    &__content {
      padding-top: 32px;
    }

    &__positions-table {
      & > thead {
        visibility: visible;
      }

      .calculation-page__positions-table-workload-cell {
        width: 73px;
      }
    }

    &__form-employees-section {
      .calculation-page__employees-table-fixed-section-container {
        margin-top: 16px;
        width: 100%;
      }

      .calculation-page__employees-table-fixed-section-container {
        max-width: unset;
      }
    }

    &__employees-table-fixed-section-container {
      padding-left: 176px;

      .calculation-page__employees-table-fixed-section {
        width: 176px;

        & > tbody > tr > td {
          max-width: 176px;
        }
      }

      .calculation-page__employees-table-position-name-cell {
        max-height: 38px;
      }
    }

    &__employees-table {
      & > thead {
        visibility: visible;

        & > tr > th {
          height: 60px;
        }
      }
    }

    &__employees-table-position-row {
      & > td {
        height: 38px !important;
      }
    }

    &__employees-table-position-name-cell {
      white-space: nowrap;
      overflow: hidden;
      background-color: transparent !important;
    }

    &__employees-table-employee-name-cell {
      td& {
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        vertical-align: middle !important;
      }

      overflow: hidden;

      .calculation-page__employees-table-employee-row--multi-interval td& {
        padding-top: 14px !important;
        padding-bottom: 14px !important;

        vertical-align: top !important;
      }
    }

    &__employees-table-employee {
      .calculation-page__employees-table-employee-name {
        max-height: 51px;
      }
    }

    &__employees-table-working-hours-cell,
    &__employees-table-return-rate-cell,
    &__employees-table-salary-bulk-cell,
    &__employees-table-salary-cell {
      td& {
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        vertical-align: middle !important;
      }

      text-align: end;

      .calculation-page__employees-table-employee-row--multi-interval td& {
        padding-top: 14px !important;
        padding-bottom: 14px !important;

        vertical-align: top !important;
      }
    }

    &__employees-table-rate-cell,
    &__employees-table-rate-cell,
    &__employees-table-bonus-cell,
    &__employees-table-fine-cell {
      td& {
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        vertical-align: middle !important;
      }

      .hrm-table__editable-cell-control {
        text-align: end;
      }

      .calculation-page__employees-table-employee-row--multi-interval td& {
        padding-top: 14px !important;
        padding-bottom: 14px !important;

        vertical-align: top !important;
      }
    }
  }
}

@media screen and (max-width: @mobile-max-width) {

  .calculation-page {
    .calculation-page__form-header {
      .calculation-page__form-header-action {
        margin-top: 20px;
        margin-left: 0;
      }
    }

    .calculation-page__positions-table {
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px);
    }

    .calculation-page__footer {
      height: 170px;
    }

    &__content {
      padding-top: 20px;
      padding-right: 20px;
      padding-left: 20px;
    }

    &__title {
      font-size: 18px;
    }

    &__back-button {
      width: 30px;
      height: 30px;

      &:before {
        width: 14px;
        height: 10px;
      }
    }

    &__form-header {
      flex-direction: column;
    }

    &__positions-table {
      .calculation-page__positions-table-workload-type-cell {
        max-width: 180px;

        .hrm-table__cell-content {
          align-items: flex-start;
          width: 100%;
          max-height: calc(40px - 14px);
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }
      }
    }

    &__positions-table-fixed-section {
      background-color: #fff;
    }

    &__positions-table-table {
      & > tbody {
        & > tr {
          & > th {
            width: 108px !important;
            height: 40px;
          }

          & > td {
            height: 40px;
          }

          &:first-child {
            & > th {
              border-bottom-width: 2px;
            }

            & > td {
              border-bottom-width: 2px;
            }
          }
        }
      }

      .calculation-page__positions-table-workload-cell {
        min-width: 90px;
      }
    }

    &__positions-table-table-head-cell-content {
      justify-content: space-between;
    }

    &__form {
      .calculation-page__form-employees-section {
        margin-top: 20px;
      }
    }

    &__form-employees-section {
      .calculation-page__employees-table {
        margin-top: 14px;
        margin-right: -20px;
        margin-left: -20px;
        width: calc(100% + 40px);
      }
    }

    &__employees-table {
      border-top-width: 1px;

      border-top-color: #dfe4ef;
      border-top-style: solid;

      .calculation-page__employees-table-name-head-cell,
      .calculation-page__employees-table-employee-name-cell {
        height: 35px;
      }

      .calculation-page__employees-table-working-intervals-head-cell {
        min-width: unset;

        &--single-line {
          height: 50px !important;
        }
      }

      .calculation-page__employees-table-interval-cell {
        min-width: 155px;

        &--single-line {
          height: 50px !important;
        }
      }

      .calculation-page__employees-table-salary-bulk-head-cell,
      .calculation-page__employees-table-salary-bulk-cell {
        height: 50px;
      }
    }

    &__employees-table-position-section {
      .calculation-page__employees-table-position-section-header {
        height: 60px;
      }

      &:not(.calculation-page__employees-table-position-section--open) {
        border-bottom-width: 1px;

        border-bottom-color: #dfe4ef;
        border-bottom-style: solid;
      }
    }

    &__employees-table-position-section-header {
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;

      .calculation-page__employees-table-position-section-header-toggle-button {
        margin-right: 12px;
      }

      .calculation-page__employees-table-position-section-header-add-button {
        flex-shrink: 0;
      }
    }

    &__employees-table-position-section-body {
      .calculation-page__employees-table-fixed-section-container {
        margin-top: 0;
      }

      .calculation-page__employees-table-position-section-body-header {
        height: 70px;
      }

      .calculation-page__employees-table-position-section-table {
        width: 100%;
      }
    }

    &__employees-table-position-section-header-title {
      font-weight: 500;
      font-size: 15px;
    }

    &__employees-table-position-section-body-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top-width: 1px;
      padding-right: 20px;
      padding-left: 20px;

      border-top-color: #dfe4ef;
      border-top-style: solid;

      .calculation-page__employees-table-position-section-body-header-rate-form-field {
        margin-top: -6px;
        width: 100%;
        max-width: 100px;
      }

      .calculation-page__employees-table-position-section-body-header-statistics {
        margin-left: 16px;
      }
    }

    &__employees-table-position-section-body-header-rate-form-field {
      padding-top: 20px;

      .hrm-form-field__basis {
        padding-bottom: 8px;
      }

      .hrm-form-field__control {
        font-size: 13px;
      }

      &.hrm-form-field--should-label-float {
        .hrm-form-field__label {
          transform: translateY(-19px);
        }
      }
    }

    &__employees-table-position-section-body-header-statistics {
      text-align: end;
      font-size: 13px;

      b {
        font-weight: bold;
      }
    }

    &__employees-table-position-section-table-fixed-section-container {
      .calculation-page__employees-table-position-section-table-fixed-section {
        width: 108px;
      }
    }

    &__employees-table-position-section-table {
      & > tbody > tr > th {
        border-bottom-width: 1px;
        min-width: 108px;
        max-width: 108px;
        width: 108px !important;
        height: 40px;
      }

      .hrm-table__head-cell-content {
        justify-content: space-between;
      }
    }

    &__employees-table-position-section-table-fixed-section {
      background-color: #fff;
    }

    &__employees-table-position-section-table {
      & > tbody > tr > td {
        height: 40px;
      }
    }

    &__employees-table-remove-cell {
      text-align: end;
    }
  }
}
