
@@include('./_positions-table.html')

<script type="text/javascript">
  $(function () {
    function Column(id, title, fullTitle, total) {
      return ko.observable({
        id,
        title,
        fullTitle,
        visible: true,
        total,
        hasTotal: total !== undefined
      })
    }

    ko.components.register('calculation-page-positions-table', {
      viewModel: {
        createViewModel: function (params, componentInfo) {
          const positions = params.positions;
          const model = params.model;

          /** Наличие неактивных позиций - для секции Прочее */
          const hasOtherSection = ko.pureComputed(() => {
            return positions().some(p => {
              return !p().visible();
            });
          });

          /** Итого: вычисляемые значения - последний ряд таблицы */
          const total = {
            workTime: ko.pureComputed(() => {
              return 0;
            }),
            salaryMain: ko.pureComputed(() => {
              return 0;
            }),
            bonusExceed: ko.pureComputed(() => {
              return 0;
            }),
            normalizationRatio: ko.pureComputed(() => {
              return 0;
            }),
            revenueStandart: ko.pureComputed(() => {
              return 0;
            }),
            bonusRatio: ko.pureComputed(() => {
              return 0;
            }),
            correctedTime: ko.pureComputed(() => {
              return 0;
            }),
            total: ko.pureComputed(() => {
              return 0;
            }),
            toPayment: ko.pureComputed(() => {
              return 0;
            }),
          }

          /* Настраиваемые колонки таблицы */
          const columns = [
            Column('account', 'Прем./ЛС, ₽', 'Премиальный счет/личный счет'),
            Column('account-operations', 'Операции с ЛС, ₽', 'Операции с личным счетом'),
            Column('level', 'Разряд', 'Разряд'),
            Column('interval', 'Начало/конец работы', 'Начало/конец работы'),
            Column('work-time', 'Рабочее время', 'Рабочее время', total.workTime),
            Column('compensation', 'Компенс.', 'Компенсация'),
            Column('workload', 'Нагрузка', 'Нагрузка'),
            Column('salary', 'Оклад, ₽', 'Оклад'),
            Column('salary-main', 'Осн. часть зп, ₽', 'Основная часть зарплаты', total.salaryMain),
            Column('revenue-standart-hour', 'Норм. выр-ки/ч', 'Норматив выручки/ч'),
            Column('normalization-ratio', 'Коэфф. норм.-я', 'Коэффициент. нормирования', total.normalizationRatio),
            Column('revenue-standart', 'Норм. выр-ки/ч', 'Норматив выручки', total.revenueStandart),
            Column('bonus-ratio', 'Коэфф. прем.-я', 'Коэффициент премирования', total.bonusRatio),
            Column('corrected-time', 'Корр. время', 'Корректированное время', total.correctedTime),
            Column('bonus-exceed', 'Прем. за превыш. норм., ₽', 'Премия за превышение норматива', total.bonusExceed),
            Column('depremation', 'Депр., ₽', 'Депремирование'),
            Column('premation', 'Прем., ₽', 'Премирование'),
            Column('fine', 'Штраф, ₽', 'Штраф'),
          ];
          const activeColumns = ko.pureComputed(() => {
            return columns.filter(c => c().visible).length;
          });

          /** Общее количество колонок (для растягивания заголовков) */
          const columnCount = ko.pureComputed(() => {
            return activeColumns() + 3;
          });

          /** Установить видимость позиций (модальное окно) */
          const setPositions = () => {
            params.settings.openModal('positions', { positions: positions })
          }

          /* Создать сотрудника*/
          const createEmployee = () => {
            params.settings.openModal(
              'create-employee',
              null,
              (data) => {
                console.log('employee created', data);
              });
          };

          /* Добавить сотрудников */
          const addEmployees = () => {
            params.settings.openModal('add-employees', {
              positions: positions(),
              mode: 'tabs',
            }, (updatedPositionsList) => {
              model.updateEmployeesList(updatedPositionsList);
            });
          };

          /* Удалить сотрудника из расчета */
          const removeEmployee = (e) => {
            e.visible(false);
          }

          const addEmployeesInPosition = (position) => {
            const originalPosition = positions().find(p => p().id === position.id);

            if (originalPosition) {
              params.settings.openModal('add-employees',
                { position: originalPosition, mode: 'single' },
                (updatedPositionsList) => {
                  model.updateEmployeesList(updatedPositionsList);
                });
            } else {
              const invisiblePositions = positions().filter(p => !p().visible());
              params.settings.openModal('add-employees',
                { positions: invisiblePositions, mode: 'list' },
                (updatedPositionsList) => {
                  model.updateEmployeesList(updatedPositionsList);
                });
            }
          }

          const performAccountOperations = (employee) => {
            console.log(employee)
            params.settings.openModal('account-operations', {
              employee: employee,
            }, (result) => {
              console.log('account operations performed', result)
            });
          }

          const giveBonus = (employee) => {
            params.settings.openModal('employee-bonus', {
              employee: employee,
            }, (result) => {
              console.log('after bonus', result)
            });
          }

          const giveFine = (employee) => {
            params.settings.openModal('employee-fine', {
              employee: employee,
            }, (result) => {
              console.log('after fine', result)
            });
          }

          return {
            viewportSize: params.settings.viewportSize,
            tabName: params.tabName,

            columns,
            activeColumns,
            columnCount,

            setPositions,
            positions,
            hasOtherSection,
            total,

            addEmployees,
            addEmployeesInPosition,
            createEmployee,
            removeEmployee,

            performAccountOperations,
            giveBonus,
            giveFine
          };
        }
      },
      template: {
        element: document.getElementById('calculation-page-positions-table-template')
      }
    });
  })
</script>
