@@include('./_positions-table.html')

<script type="text/javascript">
  $(function () {
    function Column(id, title, fullTitle, total) {
      return {
        id,
        title,
        fullTitle,
        visible: ko.observable(true),
        total,
        hasTotal: total !== undefined
      }
    }

    ko.components.register('calculation-page-positions-table', {
      viewModel: {
        createViewModel: function (params, componentInfo) {
          const editableCellErrorStateMatcher = (control) => {
            return ko.pureComputed(() => {
              return !control.isValid() ? {message: control.error()} : null;

            });
          };

          function formatDuration(minutes) {
            if (minutes <= 0) return '00:00';

            let h = Math.floor(minutes / 60).toString();
            h = h.length === 1 ? '0' + h : h;
            let m = (minutes % 60).toString();
            m = m.length === 1 ? '0' + m : m;

            return h + ':' + m;
          };

          const positions = params.positions;
          const model = params.model;

          /** Наличие неактивных позиций - для секции Прочее */
          const hasOtherSection = ko.pureComputed(() => {
            return positions().some(p => {
              return !p().visible();
            });
          });

          /** Итого: вычисляемые значения - последний ряд таблицы */
          const total = {
            workingTime: ko.pureComputed(() => {
              const minutes = positions().reduce((minutes, position) => {
                return minutes + position().workingTime();
              }, 0);
              return formatDuration(minutes);
            }),
            salaryMain: ko.pureComputed(() => {
              return 0;
            }),
            bonusExceed: ko.pureComputed(() => {
              return 0;
            }),
            normalizationRatio: ko.pureComputed(() => {
              return 0;
            }),
            revenueStandart: ko.pureComputed(() => {
              return 0;
            }),
            bonusRatio: ko.pureComputed(() => {
              return 0;
            }),
            correctedTime: ko.pureComputed(() => {
              return 0;
            }),
            total: ko.pureComputed(() => {
              return 0;
            }),
            toPayment: ko.pureComputed(() => {
              return 0;
            }),
          }

          /* Настраиваемые колонки таблицы */
          const columns = [
            Column('account', 'Прем./ЛС, ₽', 'Премиальный счет/личный счет'),
            Column('account-operations', 'Операции с ЛС, ₽', 'Операции с личным счетом'),
            Column('level', 'Разряд', 'Разряд'),
            Column('interval', 'Начало/конец работы', 'Начало/конец работы'),
            Column('work-time', 'Рабочее время', 'Рабочее время'),
            Column('compensation', 'Компенс.', 'Компенсация'),
            Column('workload', 'Нагрузка', 'Нагрузка'),
            Column('salary', 'Оклад, ₽', 'Оклад'),
            Column('salary-bulk', 'Осн. часть зп, ₽', 'Основная часть зарплаты'),
            Column('revenue-standart-hour', 'Норм. выр-ки/ч', 'Норматив выручки/ч'),
            Column('normalization-ratio', 'Коэфф. норм.-я', 'Коэффициент. нормирования'),
            Column('revenue-standart', 'Норм. выр-ки/ч', 'Норматив выручки'),
            Column('bonus-ratio', 'Коэфф. прем.-я', 'Коэффициент премирования'),
            Column('corrected-time', 'Корр. время', 'Корректированное время'),
            Column('bonus-exceed', 'Прем. за превыш. норм., ₽', 'Премия за превышение норматива'),
            Column('depremation', 'Депр., ₽', 'Депремирование'),
            Column('premation', 'Прем., ₽', 'Премирование'),
            Column('fine', 'Штраф, ₽', 'Штраф'),
          ];
          const activeColumns = ko.pureComputed(() => {
            return columns.filter(c => c().visible()).length;
          });
          const isColumnVisible = (columnName) => {
            const column = columns.fine(c => c.id === columnName);
            if (column) return column.visible;
            else return false;
          };

          /** Общее количество колонок (для растягивания заголовков) */
          const columnCount = ko.pureComputed(() => {
            return activeColumns() + 3;
          });

          /** Установить видимость позиций */
          const setPositions = () => {
            params.utils.openModal('positions', { positions: positions })
          }

          /** Установить видимость колонок */
          const setColumns = () => {
            params.utils.openModal('columns', { columns: columns })
          }

          /* Создать сотрудника*/
          const createEmployee = () => {
            params.utils.openModal(
              'create-employee',
              { positions: positions() },
              (data) => {
                const position = model.getPositionById(data.position);
                position().addEmployee({
                  name: data.name,
                  level: data.level
                });
              });
          };

          /* Добавить сотрудников */
          const addEmployees = () => {
            params.utils.openModal('add-employees', {
              positions: positions(),
              mode: 'tabs',
            }, (updatedPositionsList) => {
              model.updateEmployeesList(updatedPositionsList);
            });
          };

          /* Удалить сотрудника из расчета */
          const removeEmployee = (e) => {
            e.visible(false);
          };

          const addEmployeesInPosition = (position) => {
            const originalPosition = positions().find(p => p().id === position.id);

            if (originalPosition) {
              params.utils.openModal('add-employees',
                { position: originalPosition, mode: 'single' },
                (updatedPositionsList) => {
                  model.updateEmployeesList(updatedPositionsList);
                });
            } else {
              const invisiblePositions = positions().filter(p => !p().visible());
              params.utils.openModal('add-employees',
                { positions: invisiblePositions, mode: 'list' },
                (updatedPositionsList) => {
                  model.updateEmployeesList(updatedPositionsList);
                });
            }
          };

          const performAccountOperations = (employee) => {
            params.utils.openModal('account-operations', {
              employee: employee,
            });
          }

          const giveBonus = (employee) => {
            params.utils.openModal('employee-bonus', {
              employee: employee,
            }, (result) => {
              console.log('after bonus', result)
            });
          }

          const giveFine = (employee) => {
            params.utils.openModal('employee-fine', {
              employee: employee,
            }, (result) => {
              console.log('after fine', result)
            });
          }

          return {
            viewportSize: params.utils.viewportSize,
            tabName: params.tabName,

            editableCellErrorStateMatcher,
            formatDuration,
            columns,
            activeColumns,
            columnCount,

            setPositions,
            positions,
            hasOtherSection,
            total,

            addEmployees,
            addEmployeesInPosition,
            createEmployee,
            removeEmployee,

            performAccountOperations,
            giveBonus,
            giveFine
          };
        }
      },
      template: {
        element: document.getElementById('calculation-page-positions-table-template')
      }
    });
  })
</script>
