@calculation-colored-cell-color: #e1edff;

.calculation-page {
  .positions-table {
    margin-top: 20px;

    &__row {
      &--highlighted {
        background-color: @light-grey-color;
      }
    }

    &__section-header,
    &__total {
      height: 40px;
    }

    &__head-cell {
      .positions-table__cell-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
        height: 50px;
      }

      .positions-table__info-icon {
        margin: 0;
      }
    }

    &__position-title {
      font-weight: bold;
      font-size: 13px;
      color: #000000;
      white-space: nowrap;

      .positions-table__cell-content {
        white-space: nowrap;
      }
    }

    &__cell {
      &--empty {
        border: none;
      }

      &--colored {
        background-color: @calculation-colored-cell-color;
      }

      &--interval:not(.positions-table__head-cell) {
        padding: 0;
      }

      // Минимальшая ширина ячеек
      &--name {
        .positions-table__cell-content {
          min-width: 158px;
        }
      }
      &--interval,
      &--bonus-exceed {
        .positions-table__cell-content {
          min-width: 100px;
        }
      }
      &--salary-main,
      &--revenue-standart-hour,
      &--normalization-ratio,
      &--revenue-standart {
        .positions-table__cell-content {
          min-width: 70px;
        }
      }

      &--payment,
      &--total {
        min-width: 100px;
      }

      &[align="right"] {
        .positions-table__cell-content {
          justify-content: flex-end;
        }
      }
    }

    &__action {
      margin-right: 10px;
    }

    .employee {
      display: flex;
      width: 100%;
      align-items: center;
      &__info {
        flex-grow: 1;
        white-space: normal;
      }
      &__actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    .working-intervals {
      height: 100%;
      width: 100%;

      &__row {
        border-top: 1px solid @border-color;

        &:first-child {
          border: none;
        }
      }
    }

    .working-interval {
      display: flex;
      align-items: center;
      padding: 0 10px;
      min-height: 40px;
      width: 155px;

      &__input {
        width: 80px;
        margin: 0;
        padding: 0;
      }

      &__actions {

        display: flex;
        justify-content: space-between;
      }

      &__action {
        width: 20px;
        margin-left: 7px;
        button {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: @tablet-max-width) {
  .calculation-page {
    .positions-table {
      margin-right: -30px;

      &__fixed-section {
        width: 180px;
        box-shadow: none;
        background-color: transparent;
        border: none;

        th,
        td {
          border-right: none;
          .positions-table__cell-content {
            width: 160px;
          }
        }

        tr:not(.positions-table__row--highlighted) {
          background: white;
          box-shadow: 4px 0 5px -2px rgba(0, 21, 80, 0.3);
        }
      }

      &__main-table {
        .positions-table {
          &__cell {
            &--name {
              .positions-table__cell-content {
                width: 158px;
              }
            }
          }
          &__position-title {
            font-size: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: @mobile-max-width) {
  .calculation-page {
    .positions-table {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}
