<!-- Выпадающее меню сотрудников -->
<script id="employees-dropdown-template"
        type="text/html">
        <div class="hrm-dropdown-menu__item" data-bind="click: addEmployees">Добавить сотрудников</div>
        <div class="hrm-dropdown-menu__item" data-bind="click: createEmployee">Новый сотрудник</div>
</script>

<!-- Заголовок позиции в таблице -->
<script id="position-header-template"
        type="text/html">
  <button data-bind="hrmTooltip, hrmTooltipHideOnClick, hrmTooltipText: 'Добавить сотрудников', click: table.addEmployeesInPosition"
    class="positions-table__add-employee hrm-button hrm-circle-icon-button hrm-circle-plus-icon-button hrm-circle-icon-button--theme_neutral positions-table__action">
  </button>
  <span data-bind="text: name"></span>
</script>

<!-- Блок сотрудника в таблице -->
<script id="employee-block-template"
        type="text/html">
  <div class="employee">
    <div class="employee__remove">
      <button data-bind="
      hrmTooltip,
      hrmTooltipText: 'Удалить из расчета',,
      click: table.removeEmployee.bind(table, employee)"
              class="hrm-button hrm-circle-icon-button hrm-circle-times-icon-button hrm-circle-icon-button--theme_secondary positions-table__action employe__remove-button">
      </button>
    </div>

    <div class="employee__info">
      <!-- ko if: employee.link -->
      <a class="employee__name"
        href="#"
        data-bind="text: employee.name, click: function(_, e) { e.stopPropagation(); }"></a>
      <!-- /ko -->
      <!-- ko ifnot: employee.link -->
      <span class="employee__name" data-bind="text: employee.name"></span>
      <!-- /ko -->
      <!-- ko if: positionName -->
        <div class="employee__position" data-bind="text: positionName"></div>
      <!-- /ko -->
    </div>

    <div class="employee__actions">
      <!-- ko if: employee.hasProblems -->
      <button
              class="hrm-button hrm-icon-button hrm-icon-button--theme_negative hrm-sheet-icon-button employee__action employee__action--documents" data-bind="hrmTooltip, hrmTooltipText: 'Есть проблемы с документами'"></button>
      <!-- /ko -->
      <!-- ko if: employee.downRecommended -->
      <button
              class="hrm-button hrm-icon-button hrm-icon-button--theme_negative hrm-arrow-down-icon-button employee__action employee__action--down" data-bind="hrmTooltip, hrmTooltipText: 'Рекомендуется понижение разряда'"></button>
      <!-- /ko -->
      <!-- ko if: employee.upRecommended -->
      <button
              class="hrm-button hrm-icon-button hrm-icon-button--theme_positive hrm-arrow-up-icon-button employee__action employee__action--up" data-bind="hrmTooltip, hrmTooltipText: 'Рекомендуется повышение разряда'"></button>
      <!-- /ko -->

    </div>
  </div>
</script>

<!-- Рабочий интервал -->
<script id="working-interval-template"
        type="text/html">

  <!-- ko let: {editableCell: ko.observable(null)} -->
<td class="hrm-table__cell positions-table__cell working-interval__cell"
    data-bind="hrmTableEditableCell: editableCell,
            hrmTableEditableCellError: table.editableCellErrorStateMatcher(interval.value)">
  <div class="working-interval">
    <input class="working-interval__input"
           data-bind="
                textInput: interval.value,
                hrmMask,
                hrmMaskPattern: '99:99 – 99:99',
                hrmTableEditableCellInputControl,
                hrmTableEditableCellInputControlOwner: editableCell
            "
           placeholder="00:00 – 00:00">

    <div class="working-interval__actions">
      <div class="working-interval__action">
        <!-- ko if: canRemove -->
        <button class="hrm-button hrm-icon-button hrm-times-icon-button
                                  hrm-icon-button--theme_negative
                                  working-interval__remove"
                data-bind="
                                click: function () {employee.removeWorkingInterval(interval);},
                                attr: {title: 'Удалить интервал ' }
                            ">
        </button>
        <!-- /ko -->
      </div>
      <div class="working-interval__action">
        <!-- ko if: canAdd -->
        <button class="hrm-button hrm-icon-button hrm-plus-icon-button
                                hrm-icon-button--theme_positive
                                working-interval__add"
                title="Добавить рабочий интервал"
                data-bind="click: function () { employee.addWorkingInterval() }">
        </button>
        <!-- /ko -->
      </div>
    </div>
  </div>

</td>
<!-- /ko -->
</script>

<!-- Строка сотрудника в таблице -->
<script id="employee-row-template"
        type="text/html">

<tr class="positions-table__row" data-bind="click: function() { employee.clicked(!employee.clicked())}, css: {
  'positions-table__row--clicked': employee.clicked,
}">
  <td class="positions-table__cell positions-table__cell--name">
    <div class="positions-table__cell-content">

      <!-- Данные сотрудника -->
      <div
           data-bind="template: { name: 'employee-block-template', data: {employee: employee, positionName: positionName} }">
      </div>
      <!-- /Данные сотрудника -->

    </div>
  </td>

  <!-- ko if: table.isColumnVisible('account') -->
    <td class="positions-table__cell positions-table__cell--account" data-bind="css: {
      'positions-table__cell--clicked': table.getColumnClicked('account'),
    }">
      <div class="positions-table__cell-content">
        <!-- ko text: employee.premiumAccount() + '/' + employee.account() -->
        <!-- /ko -->
      </div>
    </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('account-operations') -->
    <!-- ko let: {editableCell: ko.observable(null)} -->
    <td class="positions-table__cell positions-table__cell--account-operations"
        data-bind="click: function(_, e) {
          e.stopPropagation();
          table.performAccountOperations(employee);
        }, hrmTableEditableCell: editableCell, css: {
          'positions-table__cell--clicked': table.getColumnClicked('account-operations'),
        }" align="right">
        <div class="positions-table__cell-content" data-bind="text: $root.utils.formatSign(employee.accountState), hrmColoredSign: employee.accountState"></div>
    </td>
    <!-- /ko -->
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('level') -->
    <!-- ko if: position.levels.length > 0 -->
    <!-- ko let: {editableCell: ko.observable(null)} -->
    <td data-bind="hrmTableEditableCell: editableCell, click: function(_, e) { e.stopPropagation(); },
    css: {
      'positions-table__cell--clicked': table.getColumnClicked('level'),
    }"
        class="positions-table__cell positions-table__cell--level">
      <select data-bind="
                    options: position.levels,
                    value: employee.level,
                    hrmSelect,
                    hrmTableEditableCellSelectControl,
                    hrmTableEditableCellSelectControlOwner: editableCell
                ">
      </select>
    </td>
    <!-- /ko -->
    <!-- /ko -->

    <!-- ko ifnot: position.levels.length > 0 -->
    <td class="positions-table__cell positions-table__cell--level positions-table__cell--inactive"  data-bind="css: {
      'positions-table__cell--clicked': table.getColumnClicked('level'),
    }">
    </td>
    <!-- /ko -->
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('interval') -->
    <td class="positions-table__cell positions-table__cell--interval" data-bind="click: function(_, e) { e.stopPropagation(); }, css: {
      'positions-table__cell--clicked': table.getColumnClicked('interval'),
    }">
      <table class="working-intervals">
        <tbody data-bind="let: {intervalsCount: employee.workingIntervals().length}">
          <!-- ko foreach: employee.workingIntervals() -->
          <tr class="working-intervals__row">

              <!-- ko template: { name: 'working-interval-template', data: { interval: $data, canRemove: intervalsCount > 1, canAdd: $index() === intervalsCount - 1 } } -->
              <!-- /ko -->

          </tr>
          <!-- /ko -->
        </tbody>
      </table>
    </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('work-time') -->
    <td class="positions-table__cell positions-table__cell--work-time"  data-bind="css: {
      'positions-table__cell--clicked': table.getColumnClicked('work-time'),
    }">
      <div class="positions-table__cell-content" data-bind="text: $root.utils.formatTime(employee.workingTime())"></div>
    </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('compensation') -->
    <td class="positions-table__cell positions-table__cell--compensation"  data-bind="css: {
      'positions-table__cell--clicked': table.getColumnClicked('compensation'),
    }">
      <div class="positions-table__cell-content" data-bind="text: employee.compensation"></div>
    </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('workload') -->
  <td class="positions-table__cell positions-table__cell--workload"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('workload'),
  }">
    <div class="positions-table__cell-content" data-bind="text: employee.workload"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('salary') -->
  <td class="positions-table__cell positions-table__cell--salary"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('salary'),
  }">
    <div class="positions-table__cell-content" data-bind="text: employee.salary"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('salary-bulk') -->
  <td class="positions-table__cell positions-table__cell--salary-bulk"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('salary-bulk'),
  }">
    <div class="positions-table__cell-content" data-bind="text: employee.salaryBulk"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('revenue-standart-hour') -->
  <td class="positions-table__cell positions-table__cell--revenue-standart-hour"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('revenue-standart-hour'),
  }">
  <div class="positions-table__cell-content" data-bind="text: employee.revenueStandartPerHour"></div>
</td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('normalization-ratio') -->
  <td class="positions-table__cell positions-table__cell--normalization-ratio"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('normalization-ratio'),
  }">
  <div class="positions-table__cell-content" data-bind="text: employee.normalizationRatio"></div>
</td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('revenue-standart') -->
  <td class="positions-table__cell positions-table__cell--revenue-standart"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('revenue-standart'),
  }">
  <div class="positions-table__cell-content" data-bind="text: employee.revenueStandart"></div>
</td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('bonus-ratio') -->
  <td class="positions-table__cell positions-table__cell--bonus-ratio"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('bonus-ratio'),
  }">
  <div class="positions-table__cell-content" data-bind="text: employee.bonusRatio"></div>
</td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('corrected-time') -->
  <td class="positions-table__cell positions-table__cell--corrected-time"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('corrected-time'),
  }">
  <div class="positions-table__cell-content" data-bind="text: $root.utils.formatTime(employee.correctedTime)"></div>
</td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('bonus-exceed') -->
  <td class="positions-table__cell positions-table__cell--bonus-exceed"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('bonus-exceed'),
  }">
  <div class="positions-table__cell-content" data-bind="text: employee.bonusExceed"></div>
</td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('depremation') -->
  <td class="positions-table__cell positions-table__cell--depremation"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('depremation'),
  }">
  <div class="positions-table__cell-content" data-bind="text: employee.depremation"></div>
</td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('premation') -->
    <!-- ko let: {editableCell: ko.observable(null)} -->
    <td class="positions-table__cell positions-table__cell--premation" align="right"
        data-bind="click: function(_, e) {
          e.stopPropagation();
          table.giveBonus(employee);
        }, hrmTableEditableCell: editableCell, style: {
          'background-color': employee.bonusesState() > 0 ? '#D0F4E3' : ''
        }, css: {
          'positions-table__cell--clicked': table.getColumnClicked('premation'),
        }">
        <div class="positions-table__cell-content" data-bind="text: employee.bonusesState"></div>
    </td>
    <!-- /ko -->
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('fine') -->
    <!-- ko let: {editableCell: ko.observable(null)} -->
    <td class="positions-table__cell positions-table__cell--fine" align="right"
        data-bind="click: function(_,e) {
          e.stopPropagation();
          table.giveFine(employee);
        }, hrmTableEditableCell: editableCell,
        style: {
          'background-color': employee.finesState() > 0 ? '#FFD3E8' : ''
        }, css: {
          'positions-table__cell--clicked': table.getColumnClicked('fine'),
        }">
        <div class="positions-table__cell-content" data-bind="text: employee.finesState"></div>
    </td>
    <!-- /ko -->
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('total') -->
  <td class="positions-table__cell  positions-table__cell--total positions-table__cell--colored"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('total'),
  }">
    <div class="positions-table__cell-content" data-bind="text: employee.total"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('payment') -->
  <td class="positions-table__cell  positions-table__cell--payment positions-table__cell--colored"  data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('payment'),
  }">
    <div class="positions-table__cell-content" data-bind="text: employee.toPayment"></div>
  </td>
  <!-- /ko -->
</tr>

</script>

<!-- Строка Итого -->
<script id="total-row-template"
        type="text/html">

<tr class="positions-table__row positions-table__row--highlighted positions-table__total">
  <td class="positions-table__cell positions-table__cell--name positions-table__cell--empty"></td>

  <!-- ko if: table.isColumnVisible('account') -->
  <td class="positions-table__cell positions-table__cell--account positions-table__cell--empty" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('account'),
  }"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('account-operations') -->
  <td class="positions-table__cell positions-table__cell--account-operations positions-table__cell--empty" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('account-operations'),
  }"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('level') -->
  <td class="positions-table__cell positions-table__cell--level positions-table__cell--empty" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('level'),
  }"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('interval') -->
  <td class="positions-table__cell positions-table__cell--interval positions-table__cell--empty" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('interval'),
  }"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('work-time') -->
  <td class="positions-table__cell positions-table__cell--work-time" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('work-time'),
  }">
    <div class="positions-table__cell-content" data-bind="text: $root.utils.formatTime(total.workingTime())"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('compensation') -->
  <td class="positions-table__cell positions-table__cell--compensation positions-table__cell--empty" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('compensation'),
  }"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('workload') -->
  <td class="positions-table__cell positions-table__cell--workload positions-table__cell--empty" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('workload'),
  }"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('salary') -->
  <td class="positions-table__cell positions-table__cell--salary positions-table__cell--empty" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('salary'),
  }">
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('salary-bulk') -->
  <td class="positions-table__cell positions-table__cell--salary-bulk" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('salary-bulk'),
  }">
    <div class="positions-table__cell-content" data-bind="text: total.salaryBulk()"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('revenue-standart-hour') -->
  <td class="positions-table__cell positions-table__cell--revenue-standart-hour positions-table__cell--empty" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('revenue-standart-hour'),
  }"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('normalization-ratio') -->
  <td class="positions-table__cell positions-table__cell--normalization-ratio" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('normalization-ratio'),
  }">
    <div class="positions-table__cell-content" data-bind="text: total.normalizationRatio()"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('revenue-standart') -->
  <td class="positions-table__cell positions-table__cell--revenue-standart" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('revenue-standart'),
  }">
    <div class="positions-table__cell-content" data-bind="text: total.revenueStandart()"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('bonus-ratio') -->
  <td class="positions-table__cell positions-table__cell--bonus-ratio" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('bonus-ratio'),
  }">
    <div class="positions-table__cell-content" data-bind="text: total.bonusRatio()"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('corrected-time') -->
  <td class="positions-table__cell positions-table__cell--corrected-time" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('corrected-time'),
  }">
    <div class="positions-table__cell-content" data-bind="text: $root.utils.formatTime(total.correctedTime())"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('bonus-exceed') -->
  <td class="positions-table__cell positions-table__cell--bonus-exceed" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('bonus-exceed'),
  }">
    <div class="positions-table__cell-content" data-bind="text: total.bonusExceed()"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('depremation') -->
  <td class="positions-table__cell positions-table__cell--depremation positions-table__cell--empty" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('depremation'),
  }"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('premation') -->
  <td class="positions-table__cell positions-table__cell--premation positions-table__cell--empty" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('premation'),
  }"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('fine') -->
  <td class="positions-table__cell positions-table__cell--fine positions-table__cell--empty" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('fine'),
  }"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('total') -->
  <td class="positions-table__cell  positions-table__cell--total positions-table__cell--colored" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('total'),
  }">
    <div class="positions-table__cell-content" data-bind="text: total.total()"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('payment') -->
  <td class="positions-table__cell  positions-table__cell--payment positions-table__cell--colored" data-bind="css: {
    'positions-table__cell--clicked': table.getColumnClicked('payment'),
  }">
    <div class="positions-table__cell-content" data-bind="text: total.toPayment()"></div>
  </td>
  <!-- /ko -->
</tr>

</script>
