<!-- Выпадающее меню сотрудников -->
<script id="employees-dropdown-template"
        type="text/html">
        <div class="hrm-dropdown-menu__item" data-bind="click: addEmployees">Добавить сотрудников</div>
        <div class="hrm-dropdown-menu__item" data-bind="click: createEmployee">Новый сотрудник</div>
</script>

<!-- Заголовок позиции в таблице -->
<script id="position-header-template"
        type="text/html">
  <button data-bind="hrmTooltip, hrmTooltipHideOnClick, hrmTooltipText: 'Добавить сотрудников', click: table.addEmployeesInPosition"
    class="positions-table__add-employee hrm-button hrm-circle-icon-button hrm-circle-plus-icon-button hrm-circle-icon-button--theme_neutral positions-table__action">
  </button>
  <span data-bind="text: name"></span>
</script>

<!-- Блок сотрудника в таблице -->
<script id="employee-block-template"
        type="text/html">
  <div class="employee">
    <div class="employee__remove">
      <button data-bind="
      hrmTooltip,
      hrmTooltipText: 'Удалить из расчета',,
      click: table.removeEmployee.bind(table, employee)"
              class="hrm-button hrm-circle-icon-button hrm-circle-times-icon-button hrm-circle-icon-button--theme_secondary positions-table__action employe__remove-button">
      </button>
    </div>

    <div class="employee__info">
      <a class="employee__name"
        href="#"
        data-bind="text: employee.name"></a>
      <!-- ko if: positionName -->
        <div class="employee__position" data-bind="text: positionName"></div>
      <!-- /ko -->
    </div>

    <div class="employee__actions">
      <button
              class="hrm-button hrm-icon-button hrm-icon-button--theme_negative hrm-sheet-icon-button employee__action employee__action--documents" data-bind="hrmTooltip, hrmTooltipText: 'Есть проблемы с документами'"></button>
      <button
              class="hrm-button hrm-icon-button hrm-icon-button--theme_negative hrm-arrow-down-icon-button employee__action employee__action--down" data-bind="hrmTooltip, hrmTooltipText: 'Рекомендуется понижение разряда'"></button>
      <!-- ko if: false -->
      <button
              class="hrm-button hrm-icon-button hrm-icon-button--theme_negative hrm-arrow-up-icon-button employee__action employee__action--up" data-bind="hrmTooltip, hrmTooltipText: 'Рекомендуется повышение разряда'"></button>
      <!-- /ko -->

    </div>
  </div>
</script>

<!-- Рабочий интервал -->
<script id="working-interval-template"
        type="text/html">

  <!-- ko let: {editableCell: ko.observable(null)} -->
<td class="hrm-table__cell positions-table__cell working-interval__cell"
    data-bind="hrmTableEditableCell: editableCell,
            hrmTableEditableCellError: table.editableCellErrorStateMatcher(interval.value)">
  <div class="working-interval">
    <input class="working-interval__input"
           data-bind="
                textInput: interval.value,
                hrmMask,
                hrmMaskPattern: '99:99 – 99:99',
                hrmTableEditableCellInputControl,
                hrmTableEditableCellInputControlOwner: editableCell
            "
           placeholder="00:00 – 00:00">

    <div class="working-interval__actions">
      <div class="working-interval__action">
        <!-- ko if: canRemove -->
        <button class="hrm-button hrm-icon-button hrm-times-icon-button
                                  hrm-icon-button--theme_negative
                                  working-interval__remove"
                data-bind="
                                click: function () {employee.removeWorkingInterval(interval);},
                                attr: {title: 'Удалить интервал ' }
                            ">
        </button>
        <!-- /ko -->
      </div>
      <div class="working-interval__action">
        <!-- ko if: canAdd -->
        <button class="hrm-button hrm-icon-button hrm-plus-icon-button
                                hrm-icon-button--theme_positive
                                working-interval__add"
                title="Добавить рабочий интервал"
                data-bind="click: function () { employee.addWorkingInterval() }">
        </button>
        <!-- /ko -->
      </div>
    </div>
  </div>

</td>
<!-- /ko -->
</script>

<!-- Строка сотрудника в таблице -->
<script id="employee-row-template"
        type="text/html">

<tr class="positions-table__row">
  <td class="positions-table__cell positions-table__cell--name">
    <div class="positions-table__cell-content">

      <!-- Данные сотрудника -->
      <div
           data-bind="template: { name: 'employee-block-template', data: {employee: employee, positionName: positionName} }">
      </div>
      <!-- /Данные сотрудника -->

    </div>
  </td>

  <!-- ko if: table.isColumnVisible('account') -->
    <td class="positions-table__cell positions-table__cell--account">
      <div class="positions-table__cell-content"></div>
    </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('operations') -->
    <!-- ko let: {editableCell: ko.observable(null)} -->
    <td class="positions-table__cell positions-table__cell--account-operations"
        data-bind="click: table.performAccountOperations.bind(table, employee), hrmTableEditableCell: editableCell" align="right">
        <div class="positions-table__cell-content" data-bind="text: $root.utils.formatSign(employee.accountState), hrmColoredSign: employee.accountState"></div>
    </td>
    <!-- /ko -->
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('level') -->
    <!-- ko if: position.levels.length > 0 -->
    <!-- ko let: {editableCell: ko.observable(null)} -->
    <td data-bind="hrmTableEditableCell: editableCell"
        class="positions-table__cell positions-table__cell--level">
      <select data-bind="
                    options: position.levels,
                    value: employee.level,
                    hrmSelect,
                    hrmTableEditableCellSelectControl,
                    hrmTableEditableCellSelectControlOwner: editableCell
                ">
      </select>
    </td>
    <!-- /ko -->
    <!-- /ko -->

    <!-- ko ifnot: position.levels.length > 0 -->
    <td class="positions-table__cell positions-table__cell--level">
    </td>
    <!-- /ko -->
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('interval') -->
    <td class="positions-table__cell positions-table__cell--interval">
      <table class="working-intervals">
        <tbody data-bind="let: {intervalsCount: employee.workingIntervals().length}">
          <!-- ko foreach: employee.workingIntervals() -->
          <tr class="working-intervals__row">

              <!-- ko template: { name: 'working-interval-template', data: { interval: $data, canRemove: intervalsCount > 1, canAdd: $index() === intervalsCount - 1 } } -->
              <!-- /ko -->

          </tr>
          <!-- /ko -->
        </tbody>
      </table>
    </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('work-time') -->
    <td class="positions-table__cell positions-table__cell--work-time">
      <div class="positions-table__cell-content" data-bind="text: table.formatDuration(employee.workingTime())"></div>
    </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('compensation') -->
    <td class="positions-table__cell positions-table__cell--compensation">
      <div class="positions-table__cell-content"></div>
    </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('workload') -->
  <td class="positions-table__cell positions-table__cell--workload">
    <div class="positions-table__cell-content"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('salary') -->
  <td class="positions-table__cell positions-table__cell--salary">
    <div class="positions-table__cell-content"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('salary-bulk') -->
  <td class="positions-table__cell positions-table__cell--salary-bulk">
    <div class="positions-table__cell-content" data-bind="employee.salaryBulk"></div>
  </td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('revenue-standart-hour') -->
  <td class="positions-table__cell positions-table__cell--revenue-standart-hour"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('normalization-ratio') -->
  <td class="positions-table__cell positions-table__cell--normalization-ratio"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('revenue-standart') -->
  <td class="positions-table__cell positions-table__cell--revenue-standart"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('bonus-ratio') -->
  <td class="positions-table__cell positions-table__cell--bonus-ratio"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('corrected-time') -->
  <td class="positions-table__cell positions-table__cell--corrected-time"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('bonus-exceed') -->
  <td class="positions-table__cell positions-table__cell--bonus-exceed"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('depremation') -->
  <td class="positions-table__cell positions-table__cell--depremation"></td>
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('premation') -->
    <!-- ko let: {editableCell: ko.observable(null)} -->
    <td class="positions-table__cell positions-table__cell--premation"
        data-bind="click: table.giveBonus.bind(table, employee), hrmTableEditableCell: editableCell">
        <div class="positions-table__cell-content" data-bind="text: employee.bonus"></div>
    </td>
    <!-- /ko -->
  <!-- /ko -->

  <!-- ko if: table.isColumnVisible('fine') -->
    <!-- ko let: {editableCell: ko.observable(null)} -->
    <td class="positions-table__cell positions-table__cell--fine"
        data-bind="click: table.giveFine.bind(table, employee), hrmTableEditableCell: editableCell">
        <div class="positions-table__cell-content" data-bind="text: employee.fine"></div>
    </td>
    <!-- /ko -->
  <!-- /ko -->

  <td class="positions-table__cell  positions-table__cell--total positions-table__cell--colored"></td>
  <td class="positions-table__cell  positions-table__cell--payment positions-table__cell--colored"></td>
</tr>

</script>

<!-- Строка Итого -->
<script id="total-row-template"
        type="text/html">

<tr class="positions-table__row positions-table__row--highlighted positions-table__total">
  <td class="positions-table__cell positions-table__cell--name positions-table__cell--empty"></td>
  <td class="positions-table__cell positions-table__cell--account positions-table__cell--empty"></td>
  <td class="positions-table__cell positions-table__cell--account-operations positions-table__cell--empty"></td>
  <td class="positions-table__cell positions-table__cell--level positions-table__cell--empty"></td>
  <td class="positions-table__cell positions-table__cell--interval positions-table__cell--empty"></td>

  <td class="positions-table__cell positions-table__cell--work-time">
    <div class="positions-table__cell-content" data-bind="text: total.workingTime"></div>
  </td>

  <td class="positions-table__cell positions-table__cell--compensation positions-table__cell--empty"></td>
  <td class="positions-table__cell positions-table__cell--workload positions-table__cell--empty"></td>
  <td class="positions-table__cell positions-table__cell--salary positions-table__cell--empty"></td>

  <td class="positions-table__cell positions-table__cell--salary-main">
    <div class="positions-table__cell-content" data-bind="total.salaryBulk"></div>
  </td>

  <td class="positions-table__cell positions-table__cell--revenue-standart-hour positions-table__cell--empty"></td>

  <td class="positions-table__cell positions-table__cell--normaliation-ratio"></td>
  <td class="positions-table__cell positions-table__cell--revenue-standart"></td>
  <td class="positions-table__cell positions-table__cell--bonus-ratio"></td>
  <td class="positions-table__cell positions-table__cell--corrected-time"></td>
  <td class="positions-table__cell positions-table__cell--bonus-exceed"></td>

  <td class="positions-table__cell positions-table__cell--depremation positions-table__cell--empty"></td>
  <td class="positions-table__cell positions-table__cell--premation positions-table__cell--empty"></td>
  <td class="positions-table__cell positions-table__cell--fine positions-table__cell--empty"></td>

  <td class="positions-table__cell  positions-table__cell--total positions-table__cell--colored"></td>
  <td class="positions-table__cell  positions-table__cell--payment positions-table__cell--colored"></td>
</tr>

</script>
