@import '../../base/_icons.less';
@import '../../base/_variables.less';

.login-page {
    background: url('../../assets/img/login-page-background.png');
    background-size: cover;

    .login-page__content {
        flex-grow: 1;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        .login-page__form {
            width: 100%;
            max-width: 566px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 56px;
        padding-bottom: 69px;

        background: #FFF;
        box-shadow: 0 1px 4px rgba(0, 15, 38, 0.1);
        border-radius: 6px;

        .login-page__form-logo {
            margin-bottom: 26px;
            margin-left: -15px;
        }

        .login-page__form-field {
            width: 400px;
            margin-top: 26px;
        }

        .login-page__form-submit-button {
            margin-top: 52px;
        }
    }

    &__form-logo {
        width: 141px;
        height: 28px;

        background: url('../../assets/img/logo.svg');
    }

    &__form-submit-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 45px;

        background: linear-gradient(90deg, #CA47DF 0%, #FF238D 100%);
        border-radius: 60px;
        font-weight: 500;
        font-size: 17px;
        color: #FFFFFF;

        &:hover {
            background: linear-gradient(90deg, #FF238D 0%, #CA47DF 100%);
        }

        &:active {
            background: linear-gradient(90deg, #DB0069 0%, #9C06B5 100%);
        }
    }

    &__footer {
        border-top-color: #A1A6BD;

        .hrm-footer__logo {
            background: url('../../assets/img/lookin-logo-alt.png');
        }

        .hrm-footer__copyright {
            color: #FFF;
        }

        .hrm-footer__support-link {
            color: #FFF;

            &:before {
                .support-icon(#FFF);
            }

            &:hover {
                color: #D3D8DF;
            }
        }
    }
}

@media (max-width: @tablet-max-width) {
    .login-page {
        &__content {
            .login-page__form {
                max-width: 585px;
            }
        }
    }
}

@media (max-width: @mobile-max-width) {
    .login-page {
        &__content {
            align-items: flex-start;

            .login-page__form {
                max-width: unset;
            }
        }

        &__form {
            border-radius: 0;

            .login-page__form-field {
                width: 280px;
            }
        }
    }
}