.modal-dialog--account-operations {

    width: 780px;
    max-width: 100%;

    .modal-dialog__scroll {
      margin-right: -10px;
    }


  .account-operations-form {
    &__actions {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__total {
      font-size: 18px;
    }
    &__list {
      height: 100%;
      max-height: 400px;
    }
  }
  .account-operation {
    padding-right: 10px;
    display: flex;
    margin-bottom: 35px;

    .hrm-trash-icon-button {
      margin-left: 0;
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 25px;
    }

    &__type,
    &__sum,
    &__comment {
      margin-right: 30px;
    }

    &__type {
      width: 175px;
    }

    &__sum {
      display: flex;

      .hrm-form-field__control {
        text-align: left !important;
      }

      &-value {
        width: 100px;
      }

      &-sign {
        margin-left: 10px;
      }
    }

    &__comment {
      width: 310px;
      flex-shrink: 1;
      flex-grow: 1;
    }

    input {
      .input-number-appearance();
    }
  }
}

@media screen and (max-width: @mobile-max-width) {
  .modal-dialog--account-operations {
    .account-operations-form {
      &__list {
        max-height: none;
      }
    }
    .account-operation {
      display: block;
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid @border-color;

      &__type,
      &__sum,
      &__comment {
        margin-right: 0px;
        margin-bottom: 30px;
      }

      &__type {
        width: 100%;
        .hrm-radio-group {
          width: 100%;
        }
      }

      &__comment {
      }

      &__sum {
        &-value {
          width: 140px;
        }
      }

      &__remove {
        text-align: right;
      }
    }
  }
}
