//************ mixins
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
       -moz-box-shadow: @shadow;
            box-shadow: @shadow;
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

.flex() {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.flex-align-items(@align-items) {
    -webkit-align-items: @align-items;
      -webkit-box-align: @align-items;
         -ms-flex-align: @align-items;
            align-items: @align-items;
}

.text-nowrap() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// for form print
.inline-underlined() {
    display: inline-block;
    border-bottom: 1px solid #7f7f7f;
    text-align: center;   
    white-space: nowrap;
}