//************ Navbar
.navbar {
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    font-size: 12px;
    border-radius: 0;
    background-color: #fff;
    font-weight: 600;
    border-color: #ddd;

    .container-fluid {
        position: relative;
    }
    
    .navbar-nav {
        margin-top: 11px;
        margin-bottom: 10px;

        > li > a {
            text-transform: uppercase;
            padding: 5px 15px;
        }
        
        > li {            
            &.active {
                > a {
                    color: @navbar-link-active-color;
                }
            }
        }
    }

    .navbar-nav-main {
        > li {
            display: none;
            
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                display: block;
            }
            
            > a {
                .count {
                    display: none;
                }
            }
        }
    }    
    
    .navbar-login {
        margin-top: 9px;
        margin-right: 0;
        white-space: nowrap;
        margin-right: 160px;
        
        .btn {
            font-size: 13px;

            span {
                color: #000;
                font-weight: 600;
                display: inline-block;
                max-width: 215px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .fa {
                display: inline-block;
                font-size: 16px;
                line-height: 1;
                position: relative;
                top: -3px;
                margin-left: 10px;
            }
        }
        
        &.navbar-login-collapse {
            .btn {
                font-size: 12px;
                width: 225px;
                position: relative;
                padding-right: 45px;
                
                .fa {
                    display: inline-block !important;
                    position: absolute;
                    top: 50%;
                    margin-top: -8px;
                    right: 15px;
                }
            }
        }
    }
    
    .navbar-nav-social {
        font-size: 20px;
        margin-right: 0px;
        position: absolute;
        top: 0;
        right: 15px;
        
        > li {
            > a {
                padding-top: 3px;
                padding-bottom: 3px;
                
                .badge {
                    position: absolute;
                    top: 3px;
                    right: 11px;
                    display: block;
                    padding: 0;
                    width: 8px;
                    height: 8px;
                    background-color: #ff0000;
                    min-width: inherit;
                }
            }
            
            &.item-bell {
                > a {
                    .badge {
                        right: 15px;
                    }
                }
            }
        }
    }

    .navbar-collapse {
        &.collapse {
            width: 60%;
            max-width: 710px;
            float: left;
            
            &.in {
                float: left;
                
                .navbar-nav-main {
                    > li {
                        display: block;
                    }
                }
            }
        }
    }

    .navbar-toggle {
        display: block;
    }
}

.navbar-toggle {
    float: left;
    margin-bottom: 0px;
    margin-top: 8px;

    .icon-bar {
        background-color: #337ab7;
        width: 17px;
        height: 3px;
        
        & + .icon-bar {
            margin-top: 2px;
        }
    }
    
    .fa {
        top: 50%;
        left: 50%;
        position: absolute; 
        color: #337ab7;
        font-size: 20px;
        margin-top: -9px;
        margin-left: -9px;
        display: none;
    }
}

.navbar-collapse {
    &.collapse {
        float: left;
        
        &.in {
            float: none;
        }
    }
}

@media (min-width: 992px)  {
    .modal-backdrop-navbar {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .navbar {
        .navbar-nav-main {
            > li {
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    display: none;
                }
            }
        }
        
        .navbar-collapse {
            &.collapse {
                max-width: 360px;
            }       
        }
    }
}

@media (max-width: 991px) {
    .navbar {
        .navbar-toggle {
            margin-right: 0;
            margin-left: -10px;
            position: relative;
            z-index: 1043;
            
            .icon-bar { 
                visibility: hidden;
            }
            
            .fa {
                display: inline-block;
            }
            
            &.collapsed {
                .icon-bar { 
                    visibility: visible;
                }
                
                .fa {
                    display: none;
                }
            }            
        }

        .navbar-nav-main {
            float: none;
            margin: 0;
            border-top: 1px solid #ddd;
            font-size: 14px;
            font-weight: normal;
            padding-left: 15px;
            padding-right: 15px;
            position: absolute;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            overflow-y: auto;
            
            .dropdown-menu {
                position: static;
                float: none;
                border: 0;
                box-shadow: none;
                font-size: 13px;
                margin: 0;
                border-bottom: 1px solid #eeeeee;
                
                > li {
                    > a {
                        color: #337ab7;
                        padding: 8px 20px 8px 50px;
                        white-space: normal;
                        
                        &:hover {
                            background-color: transparent;
                            color: #23527c;
                        }
                    }
                    
                    &:first-child {
                        > a {
                            padding-top: 0;
                        }
                    }
                }
            }

            > li {
                float: none;
                
                &:nth-child(1),
                &:nth-child(2), 
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    display: none;
                }
                
                > a {
                    padding: 10px 20px 10px 35px;
                    text-transform: none;
                    border-bottom: 1px solid #eeeeee;
                    position: relative;
                    
                    &:before {
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        
                        color: #333333;
                        position: absolute;
                        top: 10px;
                        left: 0px;
                        width: 22px;
                        height: 20px;
                        line-height: 20px;
                        vertical-align: middle;
                        text-align: center;
                    }
                    
                    &:hover,
                    &:focus {
                        background-color: transparent;
                    }
                    
                    .count {
                        display: block;
                        position: absolute;
                        top: 10px;
                        right: 5px;
                        color: #333333;
                    }
                    
                    .caret {
                        display: block;
                        position: absolute;
                        top: 10px;
                        right: 5px;
                        width: auto;
                        height: auto;
                        border: 0;
                        
                        &:before {
                            content: "\f054";
                            display: inline-block;
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                        }
                    }
                }
                
                &:last-child {
                    margin-bottom: 5px;

                    > a {
                        border-bottom: 0;
                    }
                }
                
                &.open {
                    > a {
                        .caret {
                            color: #333;
                            top: 8px;
                            
                            &:before {
                                content: "\f078";
                            }
                        }
                        
                        &,
                        &:hover,
                        &:focus {
                            background-color: transparent;
                            border-color: transparent;
                        }
                    }
                }
                
                &.item-menu-manper {
                    > a:before {
                        content: "\f15b";
                    }
                }
                
                &.item-menu-messages {
                    > a:before {
                        content: "\f0e0";
                    }
                }
                
                &.item-menu-alerts {
                    > a:before {
                        content: "\f0f3";
                    }
                }
                
                &.item-menu-schedule {
                    > a:before {
                        content: "\f0ea";
                    }
                }
                
                &.item-menu-index {
                    > a:before {
                        content: "\f03a";
                    }                    
                }
                
                &.item-menu-docs {
                    > a:before {
                        content: "\f07c";
                    }
                }
                
                &.item-menu-discus {
                    > a:before {
                        content: "\f0f4";
                    }
                }
                
                &.item-menu-complaints {
                    > a:before {
                        content: "\f10e";
                    }
                }
                
                &.item-menu-friends {
                    > a:before {
                        content: "\f007";
                    }
                }
                
                &.item-menu-groups {
                    > a:before {
                        content: "\f0c0";
                    }
                }
                
                &.item-menu-settings {
                    > a:before {
                        content: "\f013";
                    }
                }
                
                &.item-menu-help {
                    > a:before {
                        content: "\f05a";
                    }                    
                }
                // bases
                &.item-menu-calcs {
                    > a:before {
                        content: "\f1ec";
                    }                    
                }

                &.item-menu-newcalc {
                    > a:before {
                        content: "\f0fe";
                    }                    
                }
                
                &.item-menu-fines {
                    > a:before {
                        content: "\f040";
                    }                    
                }
                
                &.item-menu-reports {
                    > a:before {
                        content: "\f080";
                    }                    
                }
                
                &.item-menu-staff {
                    > a:before {
                        content: "\f0c0";
                    }                    
                }
                
                &.item-menu-catalogs {
                    > a:before {
                        content: "\f07c";
                    }                    
                }
                
                &.item-menu-users {
                    > a:before {
                        content: "\f007";
                    }                    
                }
            }
        }
        
        .navbar-login {
            margin-right: 140px;
            margin-left: 35px;
            margin-top: 0;
            white-space: normal;
            position: relative;
            z-index: 1043;  
            float: none !important;

            .btn {
                height: 50px;
                white-space: normal;
                text-align: left;
                padding-left: 0;
                vertical-align: middle;
                display: table;
                
                > span {
                    max-width: none;
                    display: table-cell;
                    vertical-align: middle;                    
                }
            }
            
        }        
        
        .navbar-collapse {
            position: fixed;
            top: 0;
            left: 0;
            background-color: #fff;
            max-height: none;
            z-index: 1042;

            &.collapse {
                max-width: inherit;
                width: auto;
                
                &.in {
                    float: none;
                    width: 275px;
                    height: 100% !important;
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
                }
            }     
        }
    }    
}

@media (max-width: 767px) {
    .navbar { 
        .navbar-nav-social {
            > li {
                float: left;
                
                > a {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
        }

        .navbar-login {
            .btn {
                font-size: 12px;
            }
        }
        
        .navbar-collapse {
            left: 15px;
        }
    }
}