.mCSB_vertical {
  .mCSB_container {
    margin-right: 15px;
  }
}
.mCSB_draggerContainer {
  .mCSB_dragger_bar {
    background-color: #cdcdcd !important;
  }
  .mCSB_draggerRail {
    background-color: #eeeeee !important;
  }
}

.mCSB_scrollTools_vertical {
  .mCSB_draggerRail {
    width: 4px;
  }
}
