.mCSB_vertical {
  &>.mCSB_container {
    margin-right: 15px;
  }
}
.mCSB_horizontal {
  &>.mCSB_container {
    margin-bottom: 15px !important;
  }
}

.mCSB_draggerContainer {
  .mCSB_dragger_bar {
    background-color: #cdcdcd !important;
  }
  .mCSB_draggerRail {
    background-color: #eeeeee !important;
  }
}

.mCSB_scrollTools_vertical {
  .mCSB_draggerRail {
    width: 6px !important;
  }
  .mCSB_dragger_bar {
    width: 6px !important;
  }
}
.mCSB_scrollTools_horizontal {
  .mCSB_draggerRail {
    height: 6px !important;
  }
  .mCSB_dragger_bar {
    margin: 7px auto !important;
    height: 6px !important;
  }
}
